[2019-08-12 10:44] zaxtyson opened #3953 "OSError when downloading a very long url"
When you run into some horrible image url, like this：

[code]
Then...

[code]

So，I think that when downloading a file, you should use a random name instead of intercepting it from the url.For some particularly weird urls, this will cause an OSErro when writing to the file

[2019-08-12 11:35] bezkos commented on #3928
class FTPStore(object):

    FTP_USERNAME = None
    FTP_PASSWORD = None

    def __init__(self, uri):
        assert uri.startswith('ftp://')
        serverip = uri.split('://', 1)[1]
        self.ftp = FTP()
        # self.ftp.set_debuglevel(2)
        self.ftp.connect(serverip, 21)
        self.ftp.login(self.FTP_USERNAME, self.FTP_PASSWORD)

    def persist_file(self, path, buf, info, meta=Non

[2019-08-12 13:34] Gallaecio commented on #3951
@anubhavp28 Thanks!

[2019-08-12 13:34] #3951 closed

[2019-08-12 13:38] Gallaecio commented on #3953
Funny, the code actually uses a hash as file name. However, it picks the whole `.com%2Fimages%2Fdimse%2F5845cadfecd996e0372f%2F108a4af73772ae197fa2c4ec4e9fe7a47390433c%2FY3JvcD0xMTc0JTJDNTgwJTJDMCUyQzAmcXVhbGl0eT04NSZmb3JtYXQ9anBnJnJlc2l6ZT0xNjAwJTJDNzkxJmltYWdlX3VyaT1odHRwcyUzQSUyRiUyRnMueWltZy5jb20lMkZvcyUyRmNyZWF0ci11cGxvYWRlZC1pbWFnZXMlMkYyMDE5LTA4JTJGMWJmZGQxNDAtYjliYy0xMWU5LWJmZjMtMjMyNzcwMT

[2019-08-12 13:39] Gallaecio commented on #3953
If you don’t want to wait for a fix, you can override the `file_path` method in a custom subclass. See https://docs.scrapy.org/en/latest/topics/media-pipeline.html#scrapy.pipelines.files.FilesPipeline

[2019-08-13 13:22] OmarFarrag commented on #3953
@Gallaecio Working on that

[2019-08-13 16:10] rajathpatel23 opened #3955 "Why does scrapy spider reintialize again if I am passing start_urls as an arguments"
Below is the error I am facing
`runfile('/Users/rajatpatel/Documents/my_scripts_2/test_cluster_script.py', wdir='/Users/rajatpatel/Documents/my_scripts_2')
/Users/rajatpatel/anaconda3/envs/new_python_36/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality

[2019-08-13 16:21] zaxtyson commented on #3953
Yes, I override `file_path`, but with this magic url, it always raise an error, I can't even find the reason. Moreover, on Linux, the length of the file name is limited, and intercepting the url as a file name is an inappropriate practice.

[2019-08-14 08:10] Gallaecio commented on #3955
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-14 08:10] #3955 closed

[2019-08-14 09:07] Gallaecio commented on #3349
@kmike @wRAR Should we close this? I assume Scrapy does not aim to be thread safe, beyond what Twisted’s callInThread allows.

[2019-08-14 09:09] wRAR commented on #3349
@Gallaecio agree

[2019-08-14 09:11] Gallaecio commented on #3295
What behavior would you expect as a solution, what should Scrapy do? Would it be better if the cache was automatically destroyed when this happens and Scrapy resumed activity with an empty cache?

[2019-08-14 09:13] Gallaecio commented on #3222
@aleroot Any chance you can provide some minimal code to reproduce it, à la https://stackoverflow.com/help/mcve?

[2019-08-14 09:14] Gallaecio commented on #3278
Closing due to a lack of feedback from the author.

[2019-08-14 09:14] #3278 closed

[2019-08-14 09:14] #3349 closed

[2019-08-14 09:16] #3351 closed

[2019-08-14 09:19] #3213 closed

[2019-08-14 09:26] Gallaecio commented on #3093
Closing due to a lack of feedback from the original author.

[2019-08-14 09:26] #3093 closed

[2019-08-14 09:28] Gallaecio commented on #3389
Closing due to a lack of feedback from the original author.

[2019-08-14 09:28] #3389 closed

[2019-08-14 09:29] Gallaecio commented on #3432
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-14 09:29] #3432 closed

[2019-08-14 09:33] Gallaecio commented on #3435
Does https://stackoverflow.com/a/50977016/939364 work?

[2019-08-14 09:44] Gallaecio commented on #2645
I’m unsure about this change, but if we want to consider changing the default behavior (regardless of whether or not we allow overriding through a setting), Scrapy 2.0 would probably be the right release to do this.

[2019-08-14 09:49] Gallaecio commented on #3460
Closing since lately we’ve been quite active in reviewing recently-updated pull requests, as well as going over old pull requests to try to revive them, close them if they are irrelevant, or highjack them.

[2019-08-14 09:49] #3460 closed

[2019-08-14 09:50] #3461 closed

[2019-08-14 09:51] #3423 closed

[2019-08-14 09:51] Gallaecio commented on #3467
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-14 09:51] #3467 closed

[2019-08-14 09:52] Gallaecio commented on #3474
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-14 09:52] #3474 closed

[2019-08-14 09:55] Gallaecio commented on #1830
@seaguest @dl942702882 Can any of you provide a [minimal example code](https://stackoverflow.com/help/mcve) to reproduce the issue?

[2019-08-14 09:59] Gallaecio commented on #2513
Closing due to a lack of feedback for the questions raised by @redapple.

[2019-08-14 09:59] #2513 closed

[2019-08-14 10:06] Gallaecio commented on #883
@larryxiao Is it OK to close this issue?

If you would like to keep it open as a feature request, it might be a good idea to be more explicit about the desired change that, once implemented, should allow to close this issue.

[2019-08-14 10:08] Gallaecio commented on #2885
@apnewberry Would it be OK to close this issue, given existing solutions like https://github.com/rmax/scrapy-redis or https://github.com/ejulio/spider-feeder?

[2019-08-14 10:12] Gallaecio commented on #3434
I think the current approach is more flexible. Requests can be built from outside a spider.

[2019-08-14 10:17] #3479 closed

[2019-08-14 10:18] #3447 closed

[2019-08-14 10:18] #3406 closed

[2019-08-14 10:22] #3500 closed

[2019-08-14 10:24] Gallaecio commented on #3489
Closing in favor of #2633.

[2019-08-14 10:24] #3489 closed

[2019-08-14 10:28] Gallaecio commented on #3388
Closing as this is a problem not with Scrapy itself.

Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

Also, https://github.com/scrapy/scrapy/pull/3862 (to be included in the upcoming Scrapy 1.8.0) may come in handy for these situations.

[2019-08-14 10:28] #3388 closed

[2019-08-14 10:32] thernstig commented on #3460
@Gallaecio Sounds good this is being done, any chance you could check out #3164 ?

[2019-08-14 11:22] Gallaecio commented on #2842
https://stackoverflow.com/a/45198604/939364 covers the current workaround.

[2019-08-14 11:30] Gallaecio commented on #3528
Closing as a duplicate of #1031

[2019-08-14 11:30] #3528 closed

[2019-08-14 11:35] #3475 closed

[2019-08-14 11:35] #3472 closed

[2019-08-14 11:36] Gallaecio commented on #1967
Closing due to a lack of feedback from the original author.

[2019-08-14 11:36] #1967 closed

[2019-08-14 11:38] #3570 closed

[2019-08-14 11:48] #3514 closed

[2019-08-14 11:58] Gallaecio commented on #3594
Can you still reproduce this issue? Does it happen with the simplest spider possible, or does the spider need to have some specific code?

[2019-08-14 11:58] #3598 closed

[2019-08-14 12:03] rameshrpi opened #3956 "Recursive download of webpage is not working."
Hi,

I have created the spider as given below,scrap_urls has list of links which needs to downloded.
My website has some authentication I have handled it and I can able to download some files.
I just added the recursive download in the function
def parse_httpbin(self, response):
                    yield scrapy.Request(response.urljoin(href), self.parse_httpbin)
After some time it shows the error

[2019-08-14 12:13] Gallaecio commented on #3106
Closing in favor of #3148.

[2019-08-14 12:13] #3106 closed

[2019-08-14 13:24] Gallaecio commented on #113
@dangra Should we close this?

[2019-08-14 17:38] sbs2001 opened #3957 "responsetypes.py can have better backward compatibility"
In line 8 we are directly importing StringIO from  io  which  as far as  I know is not supported in  Python 2.x.x

I think we should first check  the Python version and then do the import.

[2019-08-14 19:03] #2885 closed

[2019-08-15 03:05] songhuili commented on #2115
hello,when i pip install matplotlib on jestson nano ,it gave me the same problem.But it did't work for me... can you give me some help?thanks!

[2019-08-15 06:01] bb9696aa commented on #2124
@Ferrer-Jeremy It works. Thanks a lot.
@Gallaecio This bug has not been fixed yet.

[2019-08-15 09:31] sortafreel commented on #3897
Discussed with @andrewbaxter, going on vacation (for a ~week), will apply some solution firstly after :)

[2019-08-15 10:31] yvmarques commented on #3295
I think depending on the kind of crawl you are doing you might need different strategies how to handle this.

From the top of my head, I would think that this could be mitigated by deleting old records that have not been updated for a while (configurable).

And in case there is still a crash then the solution of automatically destroy the cache and rebuild should be considered.

[2019-08-15 11:30] SpaceWhite commented on #2399
+1 for this issue

[2019-08-15 13:35] OmarFarrag commented on #3928
Working on that

[2019-08-15 15:48] tobads opened #3959 "response.xpath.extract() does not extract all content"
`response.xpath('//*[@id="prdDetail"]').extract()`
This code should extract all content under `[@id="prdDetail"]`
But it only extract a part of the content, some content exists in this label, but unable to extract them.

![z](https://user-images.githubusercontent.com/26805927/63107021-b8fc3400-bfb6-11e9-8b9d-ca06572a1018.jpg)

These content under `[@id="prdDetail"]` label, but just can't get them.

[2019-08-16 18:52] TheCodingRecruiter commented on #3513
Does this not work for python anywhere?  I am having this issue and no file called scrapy.py

[2019-08-18 12:53] 15610026667 opened #3962 "337"

[2019-08-18 15:45] OmarFarrag commented on #3959
@tobads  Could you please comment the results you got ?

[2019-08-19 01:21] hewm opened #3963 "Implementing distributed problems with scrapy-redis"
When using scrapy-redis for distributed, if there are already ten machines crawling at the moment, but the speed is not in line with the intention, can the original code be deployed on the new machine, and the new machine will not be down on the basis of new machines. Crawling machine

[2019-08-19 01:24] hewm opened #3964 "Scrapy redis distributed"
The scrapy crawler request link only enters the process_request method in middlewares.py, does not enter the parse method in the spider, is the scrapy distributed using scrapy-redis, I would like to ask if it is possible because the current url has been requested. Did not continue to execute downward

[2019-08-19 03:29] Colafroth opened #3965 "Random Twisted error: Builtins.KeyError: -2"
[code]

The spider runs smoothly but sometimes this error keeps popping up. I have no clue what it is and couldn't find anything from online.

[2019-08-19 07:43] hewm opened #3968 "Spider allowed_domains error"
allowed_domains = ['digikey.com']

The url of the spider request only enters the process_request in middlewares.py but some of the urls that have not entered the spider may be filtered. However, filtering the domain name list cannot change the following request.

2019-08-19 15:37:48 [dgk_update_detail] INFO: [request url]   https://www.digikey.com/product-detail/en/te-connectivity-raychem-cable-pr

[2019-08-19 08:02] anubhavp28 opened #3969 "Make Protego the default robots.txt parser"
[Protego](https://github.com/scrapy/protego) is more compliant robots.txt parser than the current default [RobotFileParser](https://docs.python.org/3/library/urllib.robotparser.html). It supports wildcard matching, length based directive ordering, sitemaps, crawl-delay and request-rate directive. It is also compatible with [Google's robots.txt parser](https://github.com/google/robotstxt). AFAIK, I

[2019-08-19 08:55] tobads commented on #3959
Sure

z.py
[code]

[code]

Search "_shop1_154558", got nothing.

[2019-08-19 11:51] Gallaecio commented on #3956
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-19 11:51] #3956 closed

[2019-08-19 11:52] Gallaecio commented on #3957
https://docs.python.org/2.7/library/io.html#io.StringIO

[2019-08-19 11:52] #3957 closed

[2019-08-19 11:55] #3962 closed

[2019-08-19 11:56] Gallaecio commented on #3963
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-19 11:56] #3963 closed

[2019-08-19 11:56] Gallaecio commented on #3964
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-19 11:56] #3964 closed

[2019-08-19 12:01] Gallaecio commented on #3965
It looks like an issue with the priority queue used for request scheduling.

That part of the code got quite some work in Scrapy 1.7. Could you upgrade to Scrapy 1.7 and see if you still get such an error?

[2019-08-19 12:03] Gallaecio commented on #3968
`allowed_domains = ['digikey.com']` allows `digikey.com` and all subdomains.

There’s a [documentation example](https://docs.scrapy.org/en/latest/topics/spiders.html#scrapy.spiders.Spider.allowed_domains) that aims to make it a bit more clear.

[2019-08-19 12:03] #3968 closed

[2019-08-19 12:05] Gallaecio commented on #3969
cc @kmike @dangra @whalebot-helmsman

[2019-08-19 12:31] Gallaecio commented on #3959
That HTML contains crazy depth, so you are probably facing https://stackoverflow.com/q/51034706/939364

[2019-08-19 14:13] Gallaecio commented on #3179
GSoC 2018 is over.

[2019-08-19 14:13] #3179 closed

[2019-08-19 14:20] Gallaecio commented on #1998
It should be working now.

[2019-08-19 14:20] #1998 closed

[2019-08-19 14:37] Gallaecio commented on #2024
Closing due to a lack of feedback.

[2019-08-19 14:37] #2024 closed

[2019-08-19 14:37] #3611 closed

[2019-08-19 14:39] #589 closed

[2019-08-19 14:53] #3633 closed

[2019-08-19 14:54] Gallaecio commented on #3642
@mohmad-null Can you still reproduce your issue with the latest version of Scrapy?

[2019-08-19 14:56] #3262 closed

[2019-08-19 14:59] #3655 closed

[2019-08-19 15:00] #3658 closed

[2019-08-19 15:05] Gallaecio commented on #1024
Closing due to a lack of feedback.

[2019-08-19 15:05] #1024 closed

[2019-08-19 15:07] #3355 closed

[2019-08-19 15:08] Gallaecio commented on #3695
This is currently working.

[2019-08-19 15:08] #3695 closed

[2019-08-19 15:09] Gallaecio commented on #1506
Closing due to a lack of feedback.

[2019-08-19 15:09] #1506 closed

[2019-08-19 15:15] Gallaecio commented on #3970
I think https://docs.scrapy.org/en/latest/topics/dynamic-content.html should cover this.

[2019-08-19 15:15] #3970 closed

[2019-08-19 15:17] Gallaecio commented on #3413
Closing due to a lack of feedback.

[2019-08-19 15:17] #3413 closed

[2019-08-19 15:20] Gallaecio commented on #3742
Did you managed to solve your issue?

[2019-08-19 15:21] Gallaecio commented on #3744
Closing due to a lack of feedback.

[2019-08-19 15:21] #3744 closed

[2019-08-19 15:31] Gallaecio commented on #3259
I think this is best suited for a [StackOverflow](https://stackoverflow.com/tags/scrapy) question.

[2019-08-19 15:31] Gallaecio commented on #3752
Closing due to a lack of feedback.

[2019-08-19 15:31] #3752 closed

[2019-08-19 15:33] Gallaecio commented on #1368
Closing due to a lack of feedback.

[2019-08-19 15:33] #1368 closed

[2019-08-19 15:34] Gallaecio commented on #1387
Closing due to a lack of feedback.

[2019-08-19 15:34] #1387 closed

[2019-08-19 15:35] Gallaecio commented on #1410
Closing due to a lack of feedback.

[2019-08-19 15:35] #1410 closed

[2019-08-19 15:38] Gallaecio commented on #3656
@whalebot-helmsman Shall we close this?

[2019-08-19 15:39] Gallaecio commented on #1405
@aldarund Could you provide an HTML document or URL that allows reproducing this issue?

[2019-08-19 15:41] Gallaecio commented on #3769
Related: #1387 2124

[2019-08-19 15:47] Gallaecio commented on #2727
Closing in favor of #713.

[2019-08-19 15:47] #2727 closed

[2019-08-19 15:52] Gallaecio commented on #3776
Closing due to a lack of feedback.

[2019-08-19 15:52] #3776 closed

[2019-08-19 16:01] Gallaecio commented on #1404
Closing due to a lack of feedback and not being able to reproduce the issue.

[2019-08-19 16:01] #1404 closed

[2019-08-19 16:07] Gallaecio commented on #1685
Closing due to a lack of feedback.

[2019-08-19 16:07] #1685 closed

[2019-08-19 16:14] Gallaecio commented on #3953
This seems related to #1287

[2019-08-19 16:19] Gallaecio commented on #2833
Closing due to a lack of feedback.

[2019-08-19 16:19] #2833 closed

[2019-08-19 16:22] Gallaecio commented on #3022
Closing due to a lack of feedback.

[2019-08-19 16:22] #3022 closed

[2019-08-19 16:23] #3169 closed

[2019-08-19 16:24] #3168 closed

[2019-08-19 16:31] #3785 closed

[2019-08-19 16:51] Naman-Garg-06 commented on #3953
Hello. I am new here. Can anyone please tell me where can I get the source code?

[2019-08-19 22:01] Roman519 commented on #3628
Is it worked on? If not, I'm going to work on it.

[2019-08-20 03:44] NewUserHa commented on #3259
no. I don't think so.
I read somewhere in issue posted by a member of scrapy that scrapy has some odd behavior in `start_requests()`.

and actually, `start_requests` has ability to pause while to do things then handle control back to the loop. but in this example, it can't. that's why opened this issue. it should be a bug or enhancement I think.

[2019-08-20 11:17] wRAR commented on #1866
As boto support will be unused after dropping Python 2, it may be a good idea to decide if we should replace it with boto3 support, remove boto support code and boto/botocore conditionals or keep that for someone who will implement boto3 support.

[2019-08-20 13:01] sushanth1999 commented on #3731
I came across the Scrapy project on GitHub, which seemed quite interesting, and therefore I'm willing to contribute in the project. Can you help which issues i should start searching for as a beginner
.

[2019-08-21 08:22] whalebot-helmsman commented on #3656
Yes, definitely @Gallaecio

[2019-08-21 08:30] #3656 closed

[2019-08-21 14:51] Gallaecio commented on #3392
This is now configurable through a setting thanks to @wRAR’s #3442.

[2019-08-21 14:51] #3392 closed

[2019-08-21 15:17] Gallaecio opened #3971 "Establish a policy on the use of Sphinx directives for deprecations and version changes"
I think we should make the following changes to make a better use of Sphinx’s `deprecated`, `versionadded`, and `versionchanged` directives:

* Changes should include these tags when appropriate.
  We need to update the contribution documentation accordingly, and remember to enforce this during code reviews.
* These tags should be removed in major version changes.
  Because of this, Scrapy 2.0 is

[2019-08-21 16:32] elacuesta commented on #3965
BTW, this is not a "Twisted" error, it's caught and reported by Twisted but it's a built-in `KeyError`.

If I'm not mistaken, that looks like a Heroku log stream. The following is a long shot, but could it be that you have more than one worker for the same crawler? It seems to me like this could be a race condition produced by having several processes trying to read from the same priority queue. I

[2019-08-22 00:12] rajathpatel23 commented on #3955
issue fixed for a workaround, by defining proper arguments in the scrapy spider class constructor rather than using arguments and keyword arguments

[2019-08-22 00:13] rajathpatel23 commented on #3955
`class Spidername(scrapy.Spider)
           def __init__(self, arguments1, argument2):
                    super().__init__ `

[2019-08-22 04:33] zaxtyson commented on #3953
oh，look at this~ https://github.com/scrapy/scrapy/tree/master/scrapy

[2019-08-22 11:09] ava7 commented on #3804
Hey, fellows, I am afraid that this bugfix introduces an another problem...
Let me try to explain. If we take @BurnzZ 's  example https://github.com/scrapy/scrapy/issues/3804#issuecomment-498683757 and modify it just a little bit to pass a dict via `item` in TestItemLoader's constructor:
```TestItemLoader(response=response, item=TestItem(loader.load_item()))```
we end up with the following error:

[2019-08-22 11:40] ava7 commented on #3804
PS I forgot to add the most essential part - it only happens when the output processor is set to TakeFirst so I adjusted the example in my previous comment.

Maybe if we change line 41 here: https://github.com/sortafreel/scrapy/blob/cdeccac6d6ccd0034a5f007ed371c1d481b32c26/scrapy/loader/__init__.py#L41 not to apply any output or input processors and to directly accept the dict's value? Will that i

[2019-08-22 15:57] Gallaecio commented on #3804
@ava7 Could you please open a separate issue for it?

[2019-08-22 16:00] Gallaecio commented on #3628
@Roman519 Go for it! :smiley:

[2019-08-22 21:10] samhithaaaa commented on #2115
Hi,I am facing failed building wheel for grpcio errorLinkError: command 'aarch64-linux-gnu-g++' failed with exit status 1ERROR: Command errored out with exit status 1: /home/tf/venv/venc-tf-1.14/bin/python2 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-WT9TE4/grpcio/setup.py'"'"'; __file__='"'"'/tmp/pip-install-WT9TE4/grpcio/setup.py'"'"';f=getattr(tokenize, '"'"'ope

[2019-08-23 06:27] div338 commented on #2115
This solution worked for me.

[2019-08-23 06:28] div338 commented on #2115
This reply by colllin worked the best for me.

[2019-08-24 19:25] ritik-malik commented on #3953
Hey man, can I work on this, this is would be my 1st PR

[2019-08-24 19:26] ritik-malik commented on #3953
Hey man, can I fix this? This would make my 1st PR

[2019-08-24 22:01] Gallaecio commented on #3953
@ritik-malik There’s no need to ask for permission to fix an issue, you can usually just start a pull request including a reference to the ticket and that’s it.

However, in this case there is already a pull request open, #3954, which seems promising. Maybe you could find a different issue?

[2019-08-25 23:02] luchiago commented on #3463
@Gallaecio I would like to work on this

[2019-08-26 03:43] Remember2018 opened #3974 "A question about robots.txt in ebay site"
Hi Dear all, I use the great scrapy to crawl the information in some sites. And when I'm trying to crawl the items in ebay site, the ebay site seems disable the crawler using robots.txt. But when I use the detail information page url, e.g., "https://www.ebay.com/itm/8-New-Universal-12pcs-Hot-Air-Fryer-Kits-w-Cake-Cup-Cake-Basket-5-2QT-8QT/401752292159", the scrapy can get the webpage without "Disa

[2019-08-26 06:32] Gallaecio commented on #3463
@luchiago Nice to hear! Please go ahead :slightly_smiling_face:

[2019-08-26 07:35] #3749 closed

[2019-08-26 08:24] Gallaecio commented on #3974
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-26 08:24] #3974 closed

[2019-08-26 09:31] #3434 closed

[2019-08-26 11:39] alexander-matsievsky commented on #3804
@azharf @BurnzZ @sortafreel @kmike Hi!

I've just stumbled upon the same issue @ava7 mentioned. Seems to be related to double-processing of any kind, not just `TakeFirst()`.

---

1. The first round of processing (unwrapping the number from the list) finishes fine.

[code]

2. The second round incorrectly assumes the data is still raw (`IN_2==IN_1`), runs the processing and panics.

[code]

---

@

[2019-08-26 12:18] alexander-matsievsky opened #3976 "`ItemLoader` fields initialized from `item` are reprocessed"
### Description

#3804 introduced a bug where `ItemLoader` fields are reprocessed.
Related #3897.

### Steps to Reproduce

[code]

**Expected behavior:** `ItemLoader` initialized from the `x` item does not reprocess its fields and  loads `{'x': 'value1'}`.

**Actual behavior:** `ItemLoader` initialized from the `x` item reprocesses its fields and  loads `{'x': 'v'}`.

### Versions

[code]

### Add

[2019-08-26 13:05] alexander-matsievsky commented on #3976
Related #3897.

[2019-08-26 18:40] ava7 commented on #3976
@alexander-matsievsky Cheers, thanks for taking the time! I believe this issue is also related to the discussion in #3897 so this was the reason I didn't open another issue myself.

I also couldn't figure out why [this commit](https://github.com/scrapy/scrapy/pull/3819/commits/bd8a10384b462dd56b33668e8b92e4a148fd6fba) was discarded in favour of [the next one](https://github.com/scrapy/scrapy/pull/

[2019-08-26 22:34] sortafreel commented on #3976
Yeah, it was mostly because of failing test. Just came back from my vacation, will take a fresh look.

[2019-08-27 06:58] vionemc opened #3977 "Image Pipeline can't be used"
Every time I import image pipeline, not even using it, I get this error.

[code]

I've tried all kind of installation method mentioned here

https://stackoverflow.com/questions/8863917/importerror-no-module-named-pil

None works. Is there any way I can use imagepipeline?

### Versions

Scrapy       : 1.5.1
lxml         : 4.2.5.0
libxml2      : 2.9.5
cssselect    : 1.0.3
parsel       : 1.5.1
w3lib

[2019-08-27 07:05] vionemc commented on #3977
It's solved when I upgrade Scrapy to Scrapy 1.7

[2019-08-27 07:05] #3977 closed

[2019-08-27 08:02] alexander-matsievsky commented on #3976
@ava7 It seems there's a web of related issues around it+) I've tried to make a focused reproduction, I hope it'll help.
@sortafreel Welcome back, Alexander! Thanks for taking care of it!

[2019-08-27 18:32] sortafreel commented on #3976
Checked, fixable, will ship new pull request with new tests this week.

[2019-08-27 20:34] rgruener opened #3979 "Have StatsCollector interface pass in an optional Request/Response"
## Summary

`StatsCollector` defines an interface for collecting stats while your Spider is running. We are using it to publish stats through OpenCensus. However we would like more information about the stats based on the request/response objects in order to better slice/dice our collected stats.

It would be extremely helpful to have `set_value`, `inc_value`, etc also have a `request` and an `res

[2019-08-27 21:32] Gallaecio commented on #3979
I think stats are meant for simple counters.

For the scenario you mention, it sounds like it would make more sense to yield items with the required information from the corresponding request and response, and later, outside Scrapy, aggregate exported items as you please, e.g. based on whatever property you would have registered as a stat.

[2019-08-28 03:04] bhojanidhrumil opened #3980 "command 'x86_64-linux-gnu-gcc' failed with exit status 1"
root@kali:~/PycharmProjects/net_cut# pip install netfilterqueue
Collecting netfilterqueue
  Using cached https://files.pythonhosted.org/packages/39/c4/8f73f70442aa4094b3c37876c96cddad2c3e74c058f6cd9cb017d37ffac0/NetfilterQueue-0.8.1.tar.gz
Building wheels for collected packages: netfilterqueue
  Running setup.py bdist_wheel for netfilterqueue ... error
  Complete output from command /usr/bin/pytho

[2019-08-28 03:39] LoveDarkblue opened #3981 "How to prevent scrapy from forcing the key of the request headers into uppercase?"
### Description
I have a api doc that need send a header with the key that start with lowercase word.
But the scrapy always change the key of the headers into capitalized.
I'm setting the headers like this:

[code]
Then i found that "sign" is changed into "Sign" in the DEBUG log.

And then i try to do like this:
[code]
I put the code in start_request method of spider file, but I still got the foll

[2019-08-28 03:47] tlemar commented on #1139
same question

[2019-08-28 08:20] noviluni commented on #3929
Added new PR: https://github.com/scrapy/scrapy/pull/3982

 (I deleted the old branch from my repo and couldn't open the old PR).

[2019-08-28 12:36] watsta opened #3984 "Add flag to disable Scraped debug messages"
## Summary
Add a flag to settings (e.g. `LOG_SCRAPED_ENABLED`) to be able to disable the logging of each scraped Item on `DEBUG` level.

## Motivation
Crawling with Scrapy on log level `DEBUG` provides a lot of useful context during development. The only problem is the "scraped" message (constructed in `scrapy.logformatter.LogFormatter.scraped`) - it obfuscates the log entirely in the command line

[2019-08-28 15:08] #3980 closed, assigned to nobody

[2019-08-28 17:00] #3931 closed

[2019-08-28 17:45] watsta commented on #3984
Thanks @elacuesta, that's what I thought as well, I'd be happy to pick this up when I have a bit of time.

[2019-08-28 19:11] jvani opened #3985 "Contracts can't be written for callbacks that receive cb_kwargs"
### Description

Contracts can't be written for callbacks that receive `cb_kwargs`

### Steps to Reproduce
1. Run `scrapy check` with the following spider:
[code]

**Expected behavior:**
Ideally would be possible to add args to the contract (e.g., `@url https://httpbin.org/get foo`)

**Actual behavior:** Fails with a TypeError

**Reproduces how often:** 100%

### Versions
Scrapy 1.7.3

[2019-08-29 05:34] mredaelli opened #3986 "Logformatter for errors"
## Summary

Allow users to specify the logging behaviour in case of errors in the item pipeline

## Motivation

Looking at https://github.com/scrapy/scrapy/blob/3adf09bc4f1468f54a703481d6d7ebfe25b6f232/scrapy/core/scraper.py, it is possible to override the logging behaviour for the `DropItem` exception, but there is no equivalent
`self.logformatter.error`.

In our case, sometimes the item can be v

[2019-08-29 07:08] wRAR commented on #2545
Related: https://github.com/mitmproxy/mitmproxy/issues/2061

[2019-08-29 15:24] LanetheGreat commented on #3056
Probably a bit late since this issue was first created and I'm assuming other people have come up with their own solutions by now, but for those still coming across this issue in their projects I found a workaround by slightly modifying my Item/ImagesPipeline subclasses, and any spiders that use it.

I've included a slimmed down and slightly modified code and log snippets at the bottom from my own

[2019-08-29 15:54] Gallaecio commented on #3981
For the feature request, there’s already #2711. There is a workaround mentioned in #2711, but it does not seem to be working for you.

You could ask in [StackOverflow](https://stackoverflow.com/tags/scrapy) about your specific issue (Why may the workaround not be working for you? What other workarounds are there?), although [there already seems to be an old question about this](https://stackoverfl

[2019-08-29 15:54] #3981 closed

[2019-08-29 17:29] elacuesta commented on #3981
@Gallaecio For the record, the workaround in https://github.com/scrapy/scrapy/issues/2711#issuecomment-367342284 is not working for me either :sweat_smile:

[code]

[code]

[2019-08-29 19:40] Ostapp commented on #3103
have same issue here, proposed solutions do not work

[2019-08-29 19:41] Ostapp commented on #1636
have same issue here, proposed solutions do not work

[2019-08-30 08:28] noviluni opened #3991 "Create scrapy command to get the equivalent Request from a cURL command"
Hi!

Since https://github.com/scrapy/scrapy/pull/3862 was accepted I was suggested to create a scrapy command that receive a cURL command and return the equivalent Request `__repr__`.

Something like:

`scrapy requestfromcurl "curl 'http://example.org/post' -X POST -H 'Cookie: _gauges_unique_year=1; _gauges_unique=1'"`

would print:

`Request(method='POST', url='http://example.org/post', cookies={

[2019-08-30 09:16] Gallaecio commented on #3991
I’m not so sure about it’s usefulness. What use cases do you have in mind?

[2019-08-30 10:19] Luokun2016 opened #3992 "Errors occur when the crawler is closed"
### Description
**The following errors occur when the crawler is closed**
'NoneType' object has no attribute 'start_requests'

log：
[code]
### code
[code]

### Versions

Scrapy (1.6.0)

[2019-08-30 10:32] Gallaecio commented on #3992
Could you please provide a minimum working code that allows us to reproduce the issue? See https://stackoverflow.com/help/minimal-reproducible-example

[2019-08-30 10:50] Luokun2016 commented on #3992
A lot of requests may be generated, but according to the document start_requests will only be called once.

**wechat_list as follows**
  "wechat_list":[
    {
      "name": "金龙钢铁分析",
      "enable": true,
      "search_allow_rule": "",
      "variety": "黑色金属",
      "wechat_id": "mjl_tfsteel",
      "wx_id": "oIWsFtzwifLVpXunGSGk3Sym1tM0"
    },
    {
      "name": "钢铁俱乐部",
      "enable": true,

[2019-08-30 11:01] Gallaecio commented on #3992
Please, provide a [**minimum** reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2019-08-30 19:11] elacuesta commented on #3992
@Luokun2016 Please provide a spider example stripped of the variable manipulation in the `start_requests``method, as @Gallaecio requested.

For the record, I suspect this has something to do with closing the spider from the engine before producing any request:
[code]
I think this is preventing the crawler from opening the spider, which populates the `ExecutionEngine.slot` attribute, that up until

[2019-08-30 19:19] elacuesta commented on #3992
Ok, so a slight variation of my previous example is enough to reproduce the issue:

[code]

[code]

I don't think this is a bug. It is caused by the fact that the `start_requests` method returns an empty generator.

[2019-08-31 04:48] elacuesta commented on #929
I think we could close this one. Although it's not automatically passed to new requests, accessing `meta` is possible after #3682.
@Gallaecio @kmike Thoughts?

[2019-08-31 05:39] rsarky opened #3995 "ImagesPipeline does not follow redirection"
### Description

This issue was already reported #2397 but the reporter closed the issue after posting a temporary fix. I reckon there should be an elegant way to hande this as this is a common use case I guess. Maybe a configurable setting that allows image to be downloaded even when the URL is redirected.

[2019-08-31 10:05] vionemc opened #3996 "Can't POST with binary body using Python 3"
### Description

My code was working in Python 2, but you are ending your support to Python 2 soon. I am trying to migrate to Python 3 but it seems you have some compatibility issues with binary in POST request.

### Steps to Reproduce

I am trying to do this request with `reponse.body` populated with an image binary.

[code]

But then I get this error:

[code]
### Versions

Scrapy       : 1.7.3
l

[2019-08-31 10:06] vionemc commented on #3996
I don't get that error when I commented out the binary part. But of course I get 400 Bad Request Error

[2019-08-31 10:13] #3996 closed

[2019-08-31 10:59] Gallaecio commented on #3992
Maybe we can look into improving error handling here, so the root issue is more obvious from the error message.

[2019-09-01 10:10] botzill opened #3997 "Is 'ResponseNeverReceived' retried automatically?"
I have a spider that is using proxy and I see when finshed this:

[code]

I did update the retry download middleware `retry` to include these exceptions as well :

[code]

So, does this mean that this error will be retried automatically?

because I see `'retry/count': 498` is less then `ResponseNeverReceived` count.

Thx!

[2019-09-02 02:29] Luokun2016 commented on #3992
Hi elacuesta ,
    There are still exceptions thrown. Please help.
    Thank you.

**code1**
#-*-coding: UTF-8 -*-
import scrapy
import requests
from scrapy.spiders import CrawlSpider

class TestSpider(CrawlSpider):
    name = 'TestSpider'
    def __init__(self):
        self.url_list =['https://news.sina.com.cn/c/xl/2019-09-01/doc-iicezzrq2721902.shtml']
        self.error_msg = 'close spider'

[2019-09-02 06:22] elacuesta commented on #3992
Hello @Luokun2016 ,
I suspect the `response.content.decode('utf-8').find(self.error_msg) >= -1` condition is evaluating to `True` in the first iteration, thus:
* The `code1` snippet is equivalent to https://github.com/scrapy/scrapy/issues/3992#issuecomment-526718091: the spider calls `ExecutionEngine.close_spider` and then `break`s out of the `for` loop, without ever yielding any `Request`, hence

[2019-09-02 06:46] elacuesta commented on #3997
Hi @botzill,
Indeed, `ResponseNeverReceived` is not in `RetryMiddleware.EXCEPTIONS_TO_RETRY` so it's not automatically retried.
Regarding your code, are you replacing the built-in `RetryMiddleware` with your own as described in [this section](https://docs.scrapy.org/en/latest/topics/downloader-middleware.html#activating-a-downloader-middleware)?
For the record, you should be able to add the except

[2019-09-02 07:06] botzill commented on #3997
yes I do add mine and turn off default on:
[code]

[2019-09-02 07:16] botzill commented on #3997
My question is if I have `ResponseNeverReceived: 5580` then I should as well see in the end `retry/count` to include this number as well?

[2019-09-02 09:17] Luokun2016 commented on #3992
Thanks **elacuesta**,  **Gallaecio**.

This problem was solved by using
**scrapy.exceptions.CloseSpider**

`#-*-coding: UTF-8 -*-
import scrapy
import requests
from scrapy.spiders import CrawlSpider
from scrapy.exceptions import CloseSpider

class TestSpider(CrawlSpider):
    name = 'TestSpider'
    # custom_settings = {
    #     'CONCURRENT_REQUESTS' : 1
    # }

    def __init__(self):

[2019-09-02 09:17] #3992 closed

[2019-09-02 16:59] elacuesta commented on #3997
I think both `retry` and `retry/reason_count/twisted.web._newclient.ResponseNeverReceived` should reflect the amount of caught exceptions. I cannot reproduce the issue, at least without proxies, I'm thinking that might have something to do here.

[code]

[code]

The `proxies/*` stats don't seem to come from `scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware`, are you using a custom middle

[2019-09-02 17:00] wRAR commented on #2545
I rewrote the test to use the modern mitmproxy in a thread but couldn't make it process the connections, I think it's because the asyncio event loop it uses should be running in the main thread, not a separate one.

Then I replaced that with running mitmdump in a separate process and some tests now pass while some fail.

Both noconnect tests fail with "Invalid request scheme: https" and the localh

[2019-09-02 17:03] botzill commented on #3997
Thx @elacuesta!

Sorry did not mention that I'm using  https://github.com/TeamHG-Memex/scrapy-rotating-proxies.

And my settings are:

[code]

[2019-09-02 17:10] elacuesta commented on #3992
@Luokun2016 Please note that [ the docs for `CloseSpider`](https://docs.scrapy.org/en/latest/topics/exceptions.html#closespider) say it should be raised from a request callback. Also, the exception is not actually being _raised_, just declared, which has no effect on the method:
[code]

[2019-09-03 10:49] Gallaecio commented on #3895
Closing due to a lack of feedback.

[2019-09-03 10:49] #3895 closed

[2019-09-03 10:49] Gallaecio commented on #3865
Closing due to a lack of feedback.

[2019-09-03 10:49] #3865 closed

[2019-09-03 14:26] elacuesta commented on #3997
The relevant middlewares in this case are the following:

[code]

It is not explicitly stated in [the docs](https://docs.scrapy.org/en/latest/topics/downloader-middleware.html), but checking the code ([here](https://github.com/scrapy/scrapy/blob/1.7.3/scrapy/core/downloader/middleware.py#L29-L32) and [here](https://github.com/scrapy/scrapy/blob/1.7.3/scrapy/core/downloader/middleware.py#L74-L75),

[2019-09-04 02:25] LanetheGreat commented on #616
Sorry to comment on a long closed issue, just noting a possible solution for others to use that worked for me if they haven't come up with their own solution or if this could be added to the next version of Scrapy (this was tested in v1.7.3). But my project had the same issue while scraping a website that had variations on single page responses.

I have a custom `ProductLoader` loader that would p

[2019-09-04 02:45] nramirezuy commented on #616
@LanetheGreat what about copying the item after you load it.
[code]

[2019-09-04 05:12] LanetheGreat commented on #616
Actually looking over my own code in my previous comment earlier I noticed an error in the logic which still modifies the lists within the base loader's `._local_values` and edited it accordingly to fix that.

@nramirezuy Even after my edit there's still an issue with doing that, because it still modifies the base loader and simply adds on new data to each new item you yield out of your loop becau

[2019-09-04 06:13] mc0e commented on #548
Found what I needed in @kmike's comment above.  Is there some reason to not consider that solution sufficient to close this issue?

[2019-09-04 07:38] Gallaecio commented on #1940
Fixed in #2540.

[2019-09-04 07:38] #1940 closed

[2019-09-04 07:38] Gallaecio commented on #548
Fixed in #2540.

[2019-09-04 07:38] #548 closed

[2019-09-04 11:59] nramirezuy commented on #616
@LanetheGreat It's ok, you give a lot of information to work with. I used the wrong method, there is a [`.replace_xpath`](https://docs.scrapy.org/en/latest/topics/loaders.html#scrapy.loader.ItemLoader.replace_xpath) method we should be using to clear the old values.
[code]
Thoughts?

[2019-09-04 12:21] damodharn commented on #2115
also for me

[2019-09-04 12:25] damodharn commented on #2115
it worked for me.
not for scrapy but for same type of error with psycopg2 installation.

[2019-09-04 19:26] elacuesta commented on #3996
The problem can be seen in this part of the traceback:
[code]
All headers are `bytes`, that's why you are getting `TypeError: Request url must be str or unicode, got bytes`

[2019-09-05 06:18] Gallaecio opened #4001 "Rewrite the virtual environment documentation section for Python-3-only Scrapy"
I think https://docs.scrapy.org/en/latest/intro/install.html#using-a-virtual-environment-recommended can be made simpler once Scrapy only supports Python 3.

[2019-09-05 06:56] kishan3 commented on #3803
Hi @merrisco!
Can you please help understand weather pyOpenSSL was installed by following below installation instructions?
https://docs.scrapy.org/en/latest/intro/install.html

[2019-09-05 12:28] LanetheGreat commented on #616
I think there still exists a problem with doing that as well and still would be better to create a snapshot of the loader because if we simply just replace the values with only the variants data we would loose the original data we put in first, so (referencing my past examples) instead of the desired output:
* Variation 1: Specs 1, 2, A, B
* Variation 2: Specs 1, 2, C, D

We'd get this instead by

[2019-09-05 13:09] #3637 closed

[2019-09-05 13:10] #3222 closed

[2019-09-05 13:11] #1830 closed

[2019-09-05 13:11] #883 closed

[2019-09-05 13:11] #3594 closed

[2019-09-05 13:11] #3642 closed

[2019-09-05 13:11] #3742 closed

[2019-09-05 13:12] #3965 closed

[2019-09-05 13:13] #3997 closed

[2019-09-05 13:21] noviluni commented on #3929
I close this issue as PR has been already merged. Thank you all for your feedback! :)

[2019-09-05 13:21] #3929 closed

[2019-09-05 13:32] noviluni commented on #3991
It was a proposal made by @andrewbaxter . I'm not sure of the use cases either... As it the original methods can be used from scrapy shell, not sure if this is necessary.

@andrewbaxter is there anything you want to say/contribute?

[2019-09-05 13:58] andrewbaxter commented on #3991
From my perspective the curl command itself is harder to manipulate, format, etc than a standard constructor call.  Like if you want to modify a field in the body, or switch from normal request to formrequest, etc.  I think there are a lot of times you might copy curl from chrome/documentation but just want the curl expression as a vehicle for turning it into normal Python code.

[2019-09-05 16:02] starrify opened #4002 "Warning messages to add in the CSV exporter when there's any field dropped"
## Summary

A warning message shall be generated when there're some fields dropped within `CsvItemExporter` (or also in other exporters?) during exporting.
We may have this kind of warning messages emitted only for the first occurrence to avoid generating too much noise, similar to the warning messages when there's possible data loss ([related code](https://github.com/scrapy/scrapy/blob/d4b8bf18b2

[2019-09-06 23:17] Roman519 commented on #3628
I've shoe horned a TimedRotatingFileHandler into root logger by way of log.configure_logging function. Do I need to add unit tests for something as simple as this. I'm asking because the default root filehandler doesn't have a unit test that I can see.

[2019-09-07 09:43] tommyamz opened #4004 "ModuleNotFoundError: No module named 'tutsplus'"
Hi please help me on this errror when i trying run project on Mac OS
I install Python 3.7.4 and Scrapy 1.7.3

[code]

[2019-09-07 15:30] omeshomes commented on #4004
Could you provide more information about where you're importing `tutsplus`, and what your directory structure is?

Also note that your initial command runs the `tutplus` spider instead of `tutsplus`, so this may just be a spelling error.

[2019-09-07 23:17] kmike opened #4005 "move item loaders to a separate library"
## Summary

Move item loaders to a separate repository, similar to parsel.

## Motivation

There are two main reasons for doing so:

1. If item loaders are decoupled from Scrapy, they can be used without Scrapy. They would still support CSS/XPath selectors, but use parsel to populate dicts. For example, this would allow to use item loaders in PageObjects from https://github.com/scrapinghub/scrapy-

[2019-09-07 23:23] #3985 closed

[2019-09-09 04:10] cpatulea commented on #2717
I'm experiencing this in Ubuntu 18.04 (Twisted 17.9.0, OpenSSL 1.1.1). I cannot update to newer packages, but I do control my entire application. I've made this workaround in my main function:

[code]

This should probably be used only as a last resort if libraries cannot be updated.

[2019-09-09 11:45] elacuesta commented on #4004
@tommyamz Please, do provide more information. I suspect you might have a problem in the way the settings module is being configured. In particular, check the contents of the `scrapy.cfg` file, and see if you are manually setting a value for the `SCRAPY_SETTINGS_MODULE` environment variable.

I was able to get a similar traceback by setting a bad path in `SCRAPY_SETTINGS_MODULE` (changing the path

[2019-09-09 12:18] Lukas0907 opened #4007 "Exception when using DummyStatsCollector"
### Description

Using the DummyStatsCollector results in an exception:

[code]

This problem has been introduced in aa46e1995cd5cb1099aba17535372b538bd656b3.

### Steps to Reproduce

Set `STATS_CLASS = "scrapy.statscollectors.DummyStatsCollector"` in the settings module as described in the documentation (https://docs.scrapy.org/en/latest/topics/stats.html#dummystatscollector).

**Expected behavio

[2019-09-10 17:59] ejulio commented on #3976
I got to the same problem, I'll just add my case here as an example
[code]

It works in scrapy 1.6, but breaks in 1.7

[2019-09-10 18:07] elacuesta commented on #4007
Confirmed. `scrapy.extensions.corestats.CoreStats` sets the `start_time` value [here](https://github.com/scrapy/scrapy/blob/1.7.3/scrapy/extensions/corestats.py#L23-L24) but `scrapy.statscollectors.DummyStatsCollector` overrides `inc_value` to do nothing [here](https://github.com/scrapy/scrapy/blob/1.7.3/scrapy/statscollectors.py#L69-L70).

However, I'm not sure I agree with the proposed fix, that

[2019-09-10 18:22] Lukas0907 commented on #4007
Thanks for the quick response!

Yes, you are right that `elapsed_time` would be 0 which is not optimal. However, special casing the DummyStatsCollector also seems a bit odd to me because if I were to implement my own stats collector which exposed the same functionality as the DummyStatsCollector it would still fail.

[2019-09-10 18:37] elacuesta commented on #4007
Makes sense, the extension should be robust enough not to break depending on the Stats class implementation. In that case, something along the following lines should do the trick:

[code]

I still think it might be a good idea to skip connecting the handlers though 😅
Let's see what other committers think.

[2019-09-10 21:58] sortafreel commented on #3976
@ejulio Can you add more details, please? Tested in scrapy 1.6.0, got this:

[code]

[2019-09-10 21:59] sortafreel commented on #3976
@ejulio I assume, if there's a problem, it's fixed in https://github.com/scrapy/scrapy/pull/3998. Can add more tests to be sure, if you'll help me to understand what's broken.

[2019-09-11 12:36] walkerqt commented on #2653
Anyone else care about this issue?
I am being troubled by this problem.
`Python 3.6.7`
`Scrapy 1.7.3`
`Twisted 19.7.0`

[2019-09-11 14:01] ejulio commented on #3976
@sortafreel , it is python3 also.
I think the error you got is because `super()` is from python3, but it should be `super(Item)`

[2019-09-11 15:24] elacuesta commented on #3597
This issue will be rendered obsolete after #3975

[2019-09-11 18:23] elacuesta commented on #3463
@Gallaecio I beg to differ, but I don't think this is a bug, since [the docs](https://docs.scrapy.org/en/1.7/topics/exceptions.html#closespider) do say the exception "can be raised from a spider callback".
Any change to allow raising the exception from other components should be considered an enhancement IMHO.

[2019-09-11 18:32] elacuesta commented on #3832
Most likely fixed by https://github.com/scrapy/parsel/pull/140. No feedback in more than a month, closing.

[2019-09-11 18:32] #3832 closed

[2019-09-11 23:14] VorBoto commented on #1988
Hello, I am looking to try and help and this seemed the least intimidating task.
I want to see if I'm getting my bearing on what is looking to be done correct.

There is a desire to have a bool that can be adjusted directly in default_settings.py, or in a different file, to prevent HttpCompresionMiddleware.process_responce() from stripping away the content-encoding header value.

Could this be don

[2019-09-12 06:12] casertap opened #4009 "Allow some redirects and deny some others"
## Summary

Lets take the example of a e-commerce where all product's urls contain `/product/`
Some website redirect you to a collection page when a product is not available, the url will contain: `/collection/`
We would be able to stop redirecting (and downloading the page) to the collection page because we will not find our product anyway but we would like to follow some "legit" redirect to `/pr

[2019-09-13 14:49] elacuesta opened #4014 "Random(?) test_crawler.py failure on Travis"
Every now and then the Travis build fails on [`tests.test_crawler.CrawlerRunnerTestCase.test_deprecated_attribute_spiders`](https://github.com/scrapy/scrapy/blob/1.7.3/tests/test_crawler.py#L173), I'm not sure why.
Some examples:
* https://travis-ci.org/scrapy/scrapy/jobs/582184413#L407
* https://travis-ci.org/scrapy/scrapy/jobs/580207692#L419
* https://travis-ci.org/scrapy/scrapy/jobs/584701732#L

[2019-09-13 15:16] elacuesta commented on #929
Closing, this can be done after #3682. In fact, I think it's a better idea not to do it automatically, but explicitly with a `process_request` function.

[2019-09-13 15:16] #929 closed

[2019-09-13 15:21] elacuesta commented on #781
@guillaumedsde Please see #3682 (included in version `1.7.1`) and #4000 (in progress).

[2019-09-13 19:06] elacuesta commented on #4014
Another victim: https://travis-ci.org/scrapy/scrapy/jobs/584701732#L415

[2019-09-14 17:57] ivngithub opened #4019 "FileNotFoundError: [Errno 2] No such file or directory: 'newproject/newproject/settings.py.tmpl'"
### Description

When I do scrapy startproject I got this problem:
FileNotFoundError: [Errno 2] No such file or directory: 'newproject/newproject/settings.py.tmpl'

But this fil is already!

and I use VBox and have share folder from Windows

[2019-09-15 23:26] jofat233 opened #4020 "Best Practices for Organizing Spiders in Projects?"
This issue is purely a question. The official docs state nothing regarding best practice as to what delineates a project boundary? What dictates whether a spider belongs with others in a single project or should be broken out into another project?

I've heard several possible recommendations to this:

1. **New project per website scraped** - Ideal if the item pipelines and settings are different e

[2019-09-16 12:04] #1287 closed

[2019-09-16 12:04] #3953 closed

[2019-09-16 12:12] #3984 closed

[2019-09-16 12:24] Gallaecio commented on #1122
Re-reported at https://github.com/scrapy-plugins/scrapy-jsonrpc/issues/20

[2019-09-16 12:24] #1122 closed

[2019-09-16 13:19] Gallaecio commented on #3991
Hmm… I’ve just gone from thinking it may not be that useful to thinking it’s more useful than the existing curl-related functionality :slightly_smiling_face:

Maintaining curl commands in the code is indeed not very maintainable, so I guess it makes sense for people to simply be able to get a Scrapy request that is equivalent to a curl command.

I would suggest a command name that does not have `c

[2019-09-16 13:21] Gallaecio commented on #3628
We are trying for new patches to provide complete coverage of their changes, so that we eventually reach that sweet 100% test coverage. So unless the tests are really difficult to write, it would be great to have them.

[2019-09-16 13:54] Gallaecio commented on #1988
I believe the way to go is to store `crawler.settings` into `self.settings` in `__init__`, and then use `self.settings.getbool()` from `process_response`.

It may be even better to use `self.settings.getbool()` in `__init__` and save the settings value instead to an instance variable, I’m simply not sure if the settings are fully filled by that time, I’m not familiar enough yet with the setting li

[2019-09-16 13:58] Gallaecio commented on #4009
I’m not sure if implementing such a feature is worth it, as subclassing seems the way to go, but maybe we can improve the documentation to make it more obvious that you can subclass the redirect middleware to this end.

[2019-09-16 14:03] Gallaecio commented on #4019
Could you specify how you installed Scrapy, the whole `scrapy startproject` command you are using, and the whole output of that command?

Can you reproduce this issue from scratch? i.e. if you re-install Scrapy and run `scrapy startproject` on a new folder.

[2019-09-16 21:43] VorBoto commented on #1988
Okay, that was my other thought but was worried I'd have to find every instance of HttpCompressionMiddleware being instantiated and add settings as an argument. I figure I can model it after the AjaxCrawlMiddleware that gets passed settings for its __init__ and then has an instance variable for what its looking for: `self.lookup_bytes = settings.getint('AJAXCRAWL_MAXSIZE', 32768)`?

Also, find whe

[2019-09-17 06:43] Gallaecio commented on #3875
Closing due to a lack of feedback.

[2019-09-17 06:43] #3875 closed

[2019-09-17 06:55] Gallaecio commented on #3721
This is now working. I did not fix it myself, someone else must have.

[2019-09-17 06:55] #3721 closed

[2019-09-17 07:44] Gallaecio commented on #2545
@wRAR Should we just update expectations then?

[2019-09-17 08:05] Gallaecio commented on #1790
Specific S3 tests that seem to be skipped with local `tox` not using AWS environment variables:
[code]

[2019-09-17 08:08] Gallaecio commented on #1790
I think we should postpone this work until after #1866 is implemented.

[2019-09-17 08:14] Gallaecio commented on #3391
@dangra Seeing as [tests are passing on Windows](https://ci.appveyor.com/project/redapple/scrapy/history), should we close this?

[2019-09-17 10:02] wRAR commented on #2545
@Gallaecio so there are two cases (in three tests) here.

First, in [test_https_connect_tunnel_error](https://github.com/scrapy/scrapy/blob/1.7.3/tests/test_proxy_connect.py#L80): we pass an incorrect URL (with a port 99999) to the crawler and expect a `scrapy.core.downloader.handlers.http11.TunnelError` because the proxy returns 400 Bad Request. On Python 3 this URL is not even passed to the prox

[2019-09-17 11:38] Vlad-Yekat commented on #3693
I have a similar problem with my project.
As a solution, it helps to roll back to Scrapy== 1.4.0

[2019-09-17 22:50] VorBoto commented on #1988
I got it to "pass" the tox tests after adding an __init__ that stores an instance variable 'to keep or not keep' the headers. When I say pass it's only for py37 but there are still 13 xfails and 56 skips. I'm assuming on the feed the 'x' and 's' instead of '.' represent those respectively. It looks like all but one of the xfails was in test_squeues and the other in  test_linkextractors.

I did mod

[2019-09-18 08:48] chrisbangun commented on #3874
Hi, newbie here and would love to learn and contribute. is this still open?

[2019-09-18 08:52] Gallaecio commented on #3874
@chrisbangun There’s already an open proposal which seems good: https://github.com/scrapy/scrapy/pull/3886

[2019-09-18 14:49] faizan2700 commented on #3874
I want to contribute to this enhancement #3874 as I am beginner. I have been reading code of scrapy and located from where this error is being raised. Please assign this to me.

[2019-09-19 03:39] loveJasmine opened #4026 "how to disable the log information when a return/yield of an item from a parse of spider?"
it looks very lousy print out on terminal when I use return/yield,
however,since it a lot of other infor are helpful I won't change the log level to suppress it.

Is there anyway to disable the print of return/yield of parse without change log level?

class ZixunhtmlSpider(scrapy.Spider):
    name = 'zixunHtml'
    allowed_domains = ['xxxx.com']
    start_urls = []

    with open("G:/crawl_data/ch

[2019-09-19 04:11] Granitosaurus commented on #3645
Common usage for this would be `cookiejar` automation. i.e. start 5 sessions and have sticky `cookiejar` meta:

    from scrapy Spider, Request

    class MySpider(Spider):
        name = 'sticky'
        sticky_meta = ['cookiejar']

        def start_requests(self):
            for session_id in range(5):
                yield Request(
                    'http://starturl.com',

[2019-09-19 06:30] Gallaecio opened #4027 "Upgrading from 1.4 to 1.5 results in many 400 responses"
@stav has a project where upgrading from Scrapy 1.4 to Scrapy 1.5 resulted in many 400 responses, and going back to Scrapy 1.4 solved the issue.

Someone else (Alejandro Marti) saw the same in a different project, so it seems confirmed. Now we need to figure out why.

@kmike mentioned it *may* be related to #2743 and #2767.

[2019-09-19 06:30] Gallaecio commented on #4027
@stav If you have any additional information about this issue that may be shared publicly, please feel free to add it here.

[2019-09-19 07:17] #3398 closed

[2019-09-19 07:23] FlyingGlass commented on #1549
i meet the same issue, how to set log level or close log when using spider with celery

[2019-09-19 08:10] Gallaecio commented on #3874
@faizan2700 There’s someone already working on it, with a working proposal ready: #3886

[2019-09-19 08:11] Gallaecio commented on #4026
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-09-19 08:11] #4026 closed

[2019-09-19 08:16] Gallaecio commented on #1549
Use `CrawlRunner` instead. See https://docs.scrapy.org/en/latest/topics/practices.html#run-scrapy-from-a-script

[2019-09-19 08:16] #1549 closed

[2019-09-19 08:54] Gallaecio commented on #1405
Maybe we should assume `utf-8` encoding when encoding is `ascii`? It should be safe given that `utf-8` is a superset of `ascii`.

[2019-09-19 09:00] catap commented on #2074
@redapple it isn't related to your pull request and let me explain why.

Inside `FilteringLinkExtractor` we have:
[code]

if we check `url_has_any_extension` definition we will fined that it simple:
[code]

but it returns always the last extention. So, it returns from URL `'http://google.gom/bla.tar.gz'` only `'g'`.

So, just adding `.tar.gz` into `IGNORED_EXTENSIONS` or to `LinkExtractor` instanc

[2019-09-19 21:44] OmarFarrag commented on #3995
@rsarky https://docs.scrapy.org/en/latest/topics/media-pipeline.html#allowing-redirections Is this what you mean ?

[2019-09-20 02:49] NewUserHa opened #4029 "httpproxy remove creds of proxy after processing request"
it's hard to add different creds back to different proxy URL for reusing in next Request.

https://github.com/scrapy/scrapy/blob/master/scrapy/downloadermiddlewares/httpproxy.py#L53
this line should be removed.

[2019-09-20 13:51] #2998 closed

[2019-09-21 12:17] faizan2700 commented on #3928
Kindly let me know if someone is still working on this if not please assign this to me. If someone is working on this can you tell me which "good first issues" (or easy ones ) are unclaimed yet I have tried to get one other before and that was already claimed by someone. Thank you in advance.

[2019-09-21 16:26] adamfisher commented on #4020
The lines are still blurry but here is a SO post on the topic:

https://stackoverflow.com/questions/57861326/single-scrapy-project-vs-multiple-projects

[2019-09-23 07:56] sicklife opened #4032 "Error 302 redirection with headers location starts with 3 slash"
### Description

when the 302 response return a headers's location startswith 3 slash, the scrapy redirect to a url different from what the browser do.

### Steps to Reproduce

1.  scrapy shell https://www.hjenglish.com/new/p1285798/

**Expected behavior:**
redirect to `https://fr.hujiang.com/new/p1285798/` as browser `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko

[2019-09-24 14:48] Gallaecio commented on #4029
I suspect proxies will stop working if we remove that line?

Could you describe your use case in more detail, possibly with a [minimal code example](https://stackoverflow.com/help/mcve)? Maybe we can think of a different approach to handle your use case.

[2019-09-24 14:49] Gallaecio commented on #3928
See #3961

[2019-09-24 14:51] Gallaecio commented on #4032
We aim to behave as close to browsers as possible, so let’s have a look at it.

[2019-09-24 15:01] faizan2700 commented on #3928
I will study codebase according to that @Gallaecio

[2019-09-24 17:40] samLozier opened #4034 "Rephrase image pipeline documentation"
## Summary
Clarity of the pipeline documentation could be improved by more clearly calling out the steps that need to be taken to enable a custom pipeline. I was encouraged to issue this request in my Reddit thread where I was struggling to resolve this issue: [thread](https://www.reddit.com/r/scrapy/comments/d6n07x/struggling_rename_images/).

Existing documentation:
https://docs.scrapy.org/en/la

[2019-09-25 01:17] NewUserHa commented on #4029
tested and it'll not stop working.

eg:
a site needs a speficial proxy group and any of proxies fail need to be removed from the group. image that each proxy has different creds. with the line, once request had been downloaded, the creds were gone and no longer available to remove the exact proxy from the group.

[2019-09-25 02:27] kjxy opened #4035 "CLOSESPIDER_TIMEOUT Settings 36000 Invalid Settings 60 ok ?"
### Description

CLOSESPIDER_TIMEOUT Settings 36000 run for five days...
CLOSESPIDER_TIMEOUT Settings 60 closespider_timeout(is ok)

### Steps to Reproduce

custom_settings = {
        "CLOSESPIDER_TIMEOUT": 60,
}

[2019-09-25 07:29] ruchi3086 commented on #3143
Hi Lopuhin,
pip install git+https://github.com/lopuhin/twisted.git@9384-remove-async-param

it gives me path error, what i do?

[2019-09-25 07:31] lopuhin commented on #3143
hi @ruchi3086 since this was merged and released, now you can do ``pip install scrapy`` or ``pip3 install scrapy``. If this still gives you an error, please paste it here.

[2019-09-25 08:19] ruchi3086 commented on #3143
Hi There,

Great to have the immediate reply, which I was actually looking for....
The primary problem is:

[image: image.png]

How may I solve this please??

Thanks
Ruchi

On Wed, Sep 25, 2019 at 9:32 AM Konstantin Lopuhin <notifications@github.com>
wrote:

--

Best regards,
Ruchi Gupta

[2019-09-25 09:01] ruchi3086 commented on #3143
Traceback (most recent call last):
  File "C:/Users/rugupta/Documents/Project SL/import scrapy error.py", line 1, in <module>
    import scrapy
  File "C:/Users/rugupta/Documents/Project SL\scrapy.py", line 5, in <module>
    from scrapy.crawler import CrawlerProcess
ModuleNotFoundError: No module named 'scrapy.crawler'; 'scrapy' is not a package

[2019-09-25 09:11] lopuhin commented on #3143
@ruchi3086 most likely you need to rename ``scrapy.py`` local file to some other name so that it does not conflict with scrapy package.

Note though that this is no longer related to python 3.7 support and most likely not a scrapy bug, please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help

[2019-09-25 09:13] #3597 closed

[2019-09-25 10:25] ruchi3086 commented on #3143
You are awesome..it helped

[2019-09-25 10:25] ruchi3086 commented on #3143
I have another error now:
FileNotFoundError: [Errno 2] No such file or directory: './json/documents.json'

Though the file is there...!!

[2019-09-25 11:37] Gallaecio commented on #4035
Is there anything in the logs at the point where the spider should have stopped? (after 10 hours)

[2019-09-25 11:38] daidai5771 opened #4038 "python3.6 start_requests method can not concurrently reques"
I rewrote the start_requests method, such as :
   def start_requests(self):
        for (click_type, url, css_path) in self.start_urls:
            print (url)
            yield Request(url, callback=self.loop_parse, dont_filter=True)

The effect of execution under Python 2.7 is as follows:
"
http://www.flyme.cn
https://cloud.flyme.cn
http://www.meizu.com
http://open.flyme.cn
https://member.meizu.

[2019-09-25 11:51] Gallaecio commented on #4038
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-09-25 11:51] #4038 closed

[2019-09-25 14:55] elacuesta commented on #3976
For the record, I think what we should do (and what is done in #3998 and #4036) is to avoid _input_ reprocessing. The code samples posted by @alexander-matsievsky and @ejulio fail in 1.7.3 because the initial values are stored as they are and not as iterables.
It is reasonable to process the _output_ each time `load_item` is called IMHO, but since`TakeFirst` works on an iterable it will take the f

[2019-09-25 16:07] 1315groop commented on #1904
Have `Enabled item pipelines:[]` when running under celery:
`@register()
class SomeBy(Task):

    def run(self, *args, **kwargs):
        logger.info("started")
        c = CrawlerProcess(get_project_settings())
        c.crawl(SomeSpider)
        c.start()
        logger.info("ended")`

[2019-09-25 17:23] elacuesta commented on #2406
Closing due to lack of feedback. Also Scrapy now officially supports Python 3, and `conda` is the recommended way of [installing on Windows](https://docs.scrapy.org/en/latest/intro/install.html#windows)

[2019-09-25 17:23] #2406 closed

[2019-09-26 06:38] kjxy commented on #4035
So far everything has been normal（running）.

But start and end time much the same ，matter run for seven days...That is to say, from the point of view of the log, it only runs for a few hours.

[2019-09-26 08:21] Gallaecio commented on #4035
Could you elaborate? How is that possible? Did the logging stop at some point?

[2019-09-26 09:45] kjxy commented on #4035
log file : [https://github.com/kjxy/wjselenium/blob/master/192adf02da9211e99cb20242ac110009.log](url)

Judging from the log file, it started running on the 19th. But does the log file not seem to be recorded today?

Moreover, through two Ctrl + C attempts to end the task, but unexpectedly got it ：
[code]

[2019-09-26 17:36] amardeep24 commented on #4032
I was able to replicate this issue, @Gallaecio may I work on this?

[2019-09-26 17:43] Gallaecio commented on #4032
@amardeep24 Please, go ahead! :slightly_smiling_face:

[2019-09-27 04:30] royahsan commented on #2399
@Gallaecio @foromer4 @kmike
At double Ctrl + C , why not dump download queue requests alongsidewith scheduler queue requests, I mean if for any reason user is forcing shutdown in that case it does make sense to dump both queues and exit.
@vionemc
For meanwhile how about creating an extension which dump scheduled and in queue requests every X seconds ? And at start load exactly same as in PauseResu

[2019-09-27 08:10] Gallaecio commented on #4035
OK, so the logs start at `2019-09-19 12:01:15`. Can you share some logs around `2019-09-19 22:01:15` (10 hours later)? Can you also share some of the log lines surrounding the `SIGTERM` lines you mention? (it’s not clear to me from your message whether the spider actually stopped after pressing Ctrl+C the second time or it continued nonetheless)

[2019-09-27 08:16] Gallaecio commented on #1904
@1315groop I’m sure, if you check the return value of `get_project_settings()`, that it will be empty.

`get_project_settings()` only works if the current working directory is a Scrapy project. You must either change the current working directory accordingly before calling `get_project_settings()` or pass the settings in a different way (e.g. a manually-defined dictionary of settings). See https:/

[2019-09-27 09:16] bigtang5 opened #4040 "Can't disable SSL verification in Scrapy"
I think it's a bug, not a feature.

The proxy provider give the demo code:

r = requests.get("https://www.baidu.com/", headers=headers, proxies=proxy, verify=False, allow_redirects=False)

It works fine, It will fail when remove "verify=False".

Now I have to use the proxy in my scrapy project,  There is no way to add "verify=False" in Scrapy unless I write my own HTTPDownloadHandler.

HEW, what a

[2019-09-27 09:56] royahsan opened #4041 "Adding Type Hints to Scrapy and its Modules"
## Summary

We should add Variable Annotations/  Type hints as supported in [PEP 526](https://www.python.org/dev/peps/pep-0526/) , Python 3.6 to Scrapy to help out existing and new contributors and developers in understanding scrapy code.

## Motivation

Intellisense  enabled IDES like PyCharm need Type hints to provide better experience.
For new contributors to understand Scrapy comprehensively,

[2019-09-27 10:12] Gallaecio commented on #4041
Related to #3618

[2019-09-27 14:32] rsarky commented on #3995
Oh this seems like exactly what I needed.
Thanks!

[2019-09-27 14:32] #3995 closed

[2019-09-27 17:58] elacuesta commented on #4041
Agreed. This sounds great, we should just keep in mind that Scrapy won't drop support for Python 2.7 until [2.0](https://github.com/scrapy/scrapy/milestone/10)

Also (not exactly what this issue is about, but related), _variable_ annotations were introduced in Python 3.6 ([PEP 526](https://www.python.org/dev/peps/pep-0526/))

[2019-09-27 18:41] amardeep24 commented on #4032
The difference between Scrapy and a browser is that, when the `location` header in the response is having a relative URL like `///fr.hujiang.com/new/p1285798/` (which is permitted as per the RFC 7213) the browser is making a request to the absolute URL `https://fr.hujiang.com/new/p1285798/` where as Scrapy is considering it as a relative URL w.r.t to the base URL:  `https://www.hjenglish.com/fr.hu

[2019-09-27 18:47] Gallaecio commented on #4032
First we should find out if the URL sanitizer should be updated to handle this case differently. Otherwise, maybe we need to replace `///` at the start by `<protocol>://` before passing the value to the sanitizer.

[2019-09-27 19:50] amardeep24 commented on #4032
This fixes the issue:
[code]

Here I checked whether the location header contains a URL starting with multiple `///` if it does then append `<scheme>://` before it else use the old logic.

[2019-09-27 19:53] Gallaecio commented on #4032
Please, open a pull request.

[2019-09-27 20:12] amardeep24 commented on #4032
Raised [PR#4042](https://github.com/scrapy/scrapy/pull/4042) @Gallaecio please review :)

[2019-09-28 23:35] royahsan opened #4043 "Scrapy download middelware should pause on Connection loss and Resume when internet connection is available."
## Summary
 We should make Scrapy downlaoder middleware pause when Internet connection is lost, and wait until it is back and than resume the downlaod middleware.

## Motivation

Currently scrapy on a connection lost keeps trying to download/fetch the url MAX_RETRIES time and eventually logs the Request as Downloading error. Which is completely undesirable. Why not provide this feature out of the

[2019-09-29 01:07] royahsan commented on #4043
Currently this is what happens if we intentionally close an internet connection while Scrapy is running.
Removed some of output as it repeated.
[code]

Than the spider closes with following stats

[code]

[2019-09-29 03:57] royahsan commented on #4041
@elacuesta great!, actually you are right , type annotation were introduced in [PEP 526](https://www.python.org/dev/peps/pep-0526/) , only function annotations were introduced in [PEP 484](https://www.python.org/dev/peps/pep-0484/) , i was in in little hurry finding the PEP version lol.

[2019-09-29 17:09] anhtuanmanga opened #4044 "Scrappy don't call the first request"
I have problem when call two request in parse function
here is my code
`import re
import logging
import os
import scrapy

from scrapy import Spider
from scrapy.selector import Selector

class StackSpider(Spider):
    name = "batdongsan"
    allowed_domains = ["batdongsan.com.vn"]
    start_urls = [
        "https://batdongsan.com.vn/nha-dat-ban",
    ]
    url_prefix = ""
    url_last = ""
    max

[2019-09-29 18:23] amardeep24 commented on #4002
@kmike I want to work on this!

[2019-09-29 19:26] amardeep24 commented on #4002
@starrify if `self.fields_to_export` is not set in the `_write_headers_and_set_fields_to_export` method then we should show that warning right? in other words if the  `self.fields_to_export` is populated from the `list(item.keys())` or `list(item.fields.keys())` the warning should indicate the possible loss of data if the `fields_to_export` is not already explicitly set in prior?

[2019-09-29 21:03] ambarmendez commented on #3553
Hello everybody! I would like to contribute to Scrapy, specifically with this issue and I already fork the repo and made the changes but before issuing a pull request I would like to discuss it and reach to an agreement.

I made the changes over 5 files:
- **scrapy/commands/genspider.py**. Where `urllib.parse.urlparse` is being used on the domain parameter and prepend `http` scheme in the case is

[2019-09-29 23:20] icaropablo2 commented on #2115
Awesome, I had this issue after update to Ubuntu 19.
So I just used

[2019-09-30 05:52] kjxy commented on #4035
This log file is complete：[https://github.com/kjxy/wjselenium/blob/master/192adf02da9211e99cb20242ac110009.log](url)

From the start time and the last time, there are not ten hours.But in fact, the program has been running for several days.

Press Ctrl+c twice after , records stop in this line ：`[scrapy.crawler] INFO: Received SIGTERM, shutting down gracefully. Send again to force [scrapy.crawler]

[2019-09-30 14:28] Gallaecio commented on #4043
It might be difficult to implement properly, given solutions that rotate proxies where one request may fail because of a bad proxy and the next may succeed because it uses a different proxy.

But it may be reasonable as an opt-in option.

[2019-09-30 14:29] Gallaecio commented on #4044
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-09-30 14:29] #4044 closed

[2019-09-30 14:33] Gallaecio commented on #3553
I would suggest you open a pull request already, discussions over actual code are usually easier.

Also, make sure you check out previous pull requests (#3554, #3558). Feedback there, specially @kmike’s, could answer some of your points.

[2019-09-30 14:37] Gallaecio commented on #4035
We would need a log that spans more than the specified `CLOSESPIDER_TIMEOUT` value.

If you can reproduce the issue, please try to get a complete log. It would also be great if you could reproduce the issue with a simplified version of your spider, one that does not use any external or custom middlewares or extensions. Even greater if you could share the code of that simplified spider.

[2019-09-30 14:40] Gallaecio commented on #4002
Correct. But only once an item is found that has more than those fields, and the warning should only be printed once, when the first such item is found.

[2019-09-30 16:34] amardeep24 commented on #4002
@Gallaecio Please confirm my understanding:

1. The` self.fields_to_export` is set with a list of columns and then if **any of the rows have an extra data column the warning is to be displayed once.**

2. When the ` self.fields_to_export` **is not set**, then also we should show the warning once.

[2019-09-30 16:38] Gallaecio commented on #4002
@amardeep24 I believe that’s correct, yes.

[2019-09-30 17:05] kmike commented on #4002
I'm not sure about a case where FIELD_EXPORT_FIELDS option is set - if an user asks for a subset of fields explicitly, why should we show a warning? One INFO-level log line can be fine in this case, or we can leave it as-is for now.

[2019-09-30 17:10] amardeep24 commented on #4002
@kmike In that case it just boils down to adding a warning if the `FIELD_EXPORT_FIELDS`  is not set initially, as afterwards it would be set from the `item.keys()` or `item.fields.keys()` :
[code]

[2019-09-30 17:22] Gallaecio commented on #4002
But we only want such a warning logged if there is actual data loss, I think.

[2019-09-30 18:03] amardeep24 commented on #4002
@Gallaecio & @kmike In that case we should take care of both **1 & 2** and the below fix should work:

[code]
Here `_is_data_loss_warning_displayed ` is a new flag to indicate whether we should log the warning and `self._fail_on_dataloss_warned` is another new flag to check if the warning was logged previously.

These two glags are initialized the `__init__` method of `CsvItemExporter` to `False`.

[2019-09-30 21:13] vkamma commented on #3103
Have same issue. Any solutions?

[2019-10-01 10:28] hk1997 commented on #3928
Is someone still working on this?
I would love to contribute

[2019-10-01 10:46] faizan2700 commented on #3928
I looked at the data base and tried to understand but for now I am not working on this issue and @Gallaecio will tell you if someone else is workkng on this issue

[2019-10-01 11:39] Gallaecio commented on #3928
@hk1997 You can see “May be fixed by #3961” at the top of this issue, right under the issue title.

[2019-10-01 13:32] Gallaecio commented on #4002
Please create a pull request so that we can review :slightly_smiling_face:

[2019-10-01 13:52] s-sanjay opened #4047 "CrawlerRunnerTestCase.test_deprecated_attribute_spiders is flaky"
### Description

[test_deprecated_attribute_spiders is flaky it fails randomly in different environments.
see https://travis-ci.org/scrapy/scrapy/jobs/590415988 ]

### Steps to Reproduce

1. [just run the test in travis ci environment build]
2. [re trigger the build and you can see the test being flaky]

**Expected behavior:** [the test should pass reliably ]

**Actual behavior:** [test is flaky]

[2019-10-01 14:06] elacuesta commented on #4047
Closing as duplicate of #4014

[2019-10-01 14:06] #4047 closed

[2019-10-01 14:56] s-sanjay commented on #4014
for some reason github search did not give me any result when I searched test_deprecated_attribute_spiders so I opened the other issue. hoping this comment gets indexed by github

[2019-10-01 17:09] elacuesta commented on #4014
@s-sanjay That's ok, I only included the full path in the description after seeing your issue. Thanks!

[2019-10-01 17:25] amardeep24 commented on #4002
@Gallaecio done!

[2019-10-02 07:06] #4007 closed

[2019-10-02 17:40] amardeep24 commented on #4043
@Gallaecio how can we approach this? I don't think simple checking the `ConnectError` and not implementing the retry count would be such a good idea?

[2019-10-02 18:56] amardeep24 commented on #3463
@Gallaecio I am planning to work this, may I go ahead?

[2019-10-02 19:23] Gallaecio commented on #3463
@amardeep24 No need to ask first, all yours :slightly_smiling_face:

[2019-10-03 06:42] royahsan commented on #4043
@amardeep24  you are right, only not incrementing on a **ConnectError** can potentially lead to an infinite looping over the same request when the target website / host is intentionally rejecting the connections.  Same error is being thrown when the target website actively refuses connection incase it bans an IP.

[2019-10-03 07:22] royahsan commented on #4043
@Gallaecio I think our approach would be that whenever such error occur , we just make sure that internet is not gone, and our method of making sure that internet is there and our method would be irrelevant to the proxy currently being used,
So we just check if internet is there:
 If it is, dont do anything, and let the exception go through.
If it is not, wait for the internet to be back, and agai

[2019-10-04 03:42] elacuesta commented on #4014
A different error on [`tests.test_spider.CrawlSpiderTest.test_process_request_instance_method`](https://github.com/scrapy/scrapy/blob/1.7.3/tests/test_spider.py#L328): https://travis-ci.org/scrapy/scrapy/jobs/593353901#L414

[2019-10-04 09:04] diegovincent commented on #892
How's this issue going @kmike ? Is there a PR for it?

[2019-10-04 09:21] diegovincent commented on #892
Maybe we should reference the following:

1. https://github.com/scrapy/scrapy/pull/3796
2. https://github.com/scrapy/scrapy/issues/3969

[2019-10-04 14:01] DharmeshPandav opened #4060 "Unaccounted time consumed by scrapy crawl which is not listed in stats"
I have been trying to run a scrapy crawl in a time constrained envrionment where we want to make sure that scrapy stops after fixed run time limit.

We have set the following `CLOSESPIDER_TIMEOUT` as 60 seconds and `DOWNLOAD_TIMEOUT` as 30 seconds.

We have set the forceful termination (kill the subprocess) at 90 seconds to cover the edge case scenario if page request is made at 59 seconds and twi

[2019-10-05 07:45] Danyalm66 opened #4062 "Getting “Crawled 324 pages (at 133 pages/min), scraped 304 items (at 130 items/min)” after paginating 18 pages while there are 42 pages to scrap?"
While I have written a script to scrape data from the site and it is working ideally but after scraping about 18 pages' data(as there are about 42 pages), the scrapy get stuck by giving a log info after and after.

I visited the similar questions answered on stackoverflow but in all of them the scripts were not working from the beginning while in my case the script scraped data from about 18 pages

[2019-10-05 13:39] s-sanjay commented on #4014
do these tests run in parallel ? also what does the percentage value next to each test mean ?

[2019-10-05 13:49] s-sanjay commented on #4014
let me try to run in the same environment using the same HASHSEED

[2019-10-05 19:10] Chris8080 opened #4063 "Scrapy won't follow all Requests, generated by the overridden start_requests method"
### Description

I've got a list of 109 URLs (in this test case - can be 200 or 500 or more, and the same issue persists) which is loaded correctly into a list of requests by the start_requests method and returned.

### Steps to Reproduce

1. run the spider

**Expected behavior:** [What you expect to happen]

The crawler should crawl (in this case due to `CONCURRENT_REQUESTS = 150` roughly 150 pag

[2019-10-06 07:22] s-sanjay commented on #4014
the flakiness is happening due to this
[code]

[2019-10-06 11:56] andrewbaxter commented on #3991
I think there may be a couple uses for the curl-in-scrapy thing, FWIW:

1. People who are more comfortable with curl than Scrapy, or do a lot of testing using curl
2. Making requests to APIs that are documented with curl commands
3. If you need to be able to run the requests outside of Scrapy in the command line often, for testing or giving to customers to confirm or something (although this might

[2019-10-06 14:21] sprzedwojski commented on #3874
https://github.com/scrapy/scrapy/pull/3886 has been accepted and looks ready to be merged

[2019-10-06 14:55] barraponto commented on #3991
I believe it would be useful to support it in scrapy shell (if it's not supported already).

[2019-10-06 23:30] ambarmendez commented on #3553
Thank you @Gallaecio! Let's see how it goes =D

[2019-10-07 06:52] BurnzZ commented on #4005
Hi @kmike , if all goes well on this plan, I'd love to merge my https://github.com/BurnzZ/scrapy-loader-upkeep into the separate repo as it would make sense to combine them there. We'll probably need to refactor it a bit but I'm happy to work on it nonetheless.

[2019-10-07 12:51] kmike commented on #3969
Fixed by https://github.com/scrapy/scrapy/pull/4006.

[2019-10-07 12:51] #3969 closed

[2019-10-07 12:53] kmike commented on #892
Thanks for the links @diegovincent.
There is no PR for this feature yet; contributions are welcome!

[2019-10-07 14:58] premk267 commented on #3103
Try using vpn worked for me.

[2019-10-07 15:55] kmike commented on #4005
Hi @BurnzZ! AFAIK nobody started to work on extracting itemloaders repo yet, and there are no concrete plans for this. So I wonder if you can help with it as well, as a first step :) Ideally, it should involve some git voodoo to preserve history, like we did it for parsel (see https://github.com/scrapy/scrapy/issues/906).

[2019-10-07 20:07] elacuesta commented on #4063
I cannot reproduce, please include a sample list of URLs and the resulting log file. That said, I suspect this is more of a question for the ["scrapy" tag at StackOverflow](https://stackoverflow.com/questions/tagged/scrapy)

Please note that if a site from the list only includes links to other domains (https://example.org, for instance), those requests will be filtered out by the [Offsite Spider M

[2019-10-08 06:29] NewUserHa commented on #4029
@kmike

[2019-10-08 08:30] laurentS commented on #4041
Based on [mypy docs](https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages) it seems that it's possible to provide the type hints as separate stub files, which shouldn't interfere with older versions of python that don't support them. Depending on the timeline for scrapy 2.0, this might be a way to fix this issue earlier...

[2019-10-08 12:43] kmike commented on #4041
There is also comment-based syntax which works in 2.7. Anyways, I think that'd be great to test the waters on Scrapy dependencies first - w3lib, parsel. See e.g. https://github.com/scrapy/w3lib/pull/123. Python 3 syntax is nicer though, so I'd prefer to go with Python3-only syntax first (3.5+, not 3.6+; for variable annotations one can use comment-based annotations).

[2019-10-08 15:30] kmike commented on #4063
There is an issue with start_requests, I'm not sure it is the one you're getting though. Description: https://github.com/scrapy/scrapy/issues/456#issuecomment-247622571. A proposed fix: https://github.com/scrapy/scrapy/pull/3237 (it seems we're going to fix it in Scrapy 2.0 instead, for `async def start_requests`). There are some workarounds showed in the tickets.

[2019-10-08 17:06] elacuesta commented on #4062
The `while(next_page!=None)` loop causes the spider to constantly produce new requests, all of which would be filtered out by the [dupefilter](https://docs.scrapy.org/en/1.7/topics/settings.html#dupefilter-class) (you could see that in the logs by setting `DUPEFILTER_DEBUG=1`)
You should be able to reach all pages by replacing the `while` with an `if`.

[2019-10-08 17:06] #4062 closed

[2019-10-09 15:42] BurnzZ commented on #4005
Ahh yes preserving the history would bit of a challenge. Thanks for linking it up @kmike! I'll read that up and see what we can do for this. :)

[2019-10-09 16:44] vella-nicholas opened #4067 "Question: Handling fragment identifiers"
I am scraping a web page which has fragment identifiers (on the home page) for same page navigation. To make it clear I have this anchor tag `<a href="#idx1">1. Histoire</a>` and when you click on it you are taken to the 'Histoire' header on the same page.  `<h2 id="idx1">1. Histoire</h2>`.

Scrapy is following this fragment as `https://www.mysite.com/#idx1` (or `https://www.mysite.com#idx1`) and

[2019-10-09 17:09] elacuesta commented on #4067
Fragments are not taken into account by the [default dupefilter](https://docs.scrapy.org/en/1.7/topics/settings.html#dupefilter-class), which filters out subsequent requests to the same URL.

[code]

The [default `start_requests` method](https://github.com/scrapy/scrapy/blob/1.7.3/scrapy/spiders/__init__.py#L59-L73) adds `dont_filter=True`, that's why the first request, generated from the `start_u

[2019-10-09 17:09] #4067 closed

[2019-10-10 03:33] victorteodoro commented on #4041
Hey, guys! Is this a good issue for a scrapy beginner to help with? Is there anyone already working on it?

[2019-10-10 12:33] Chris8080 commented on #4063
@kmike I've removed the start_requests completely for testing and generate all the start URLs in the init. The number is correct (I'm printing the number at the end of init()).
The amount of folders I get is right at the beginning 48 and then stays for a while at 48 - disregarding over 50 other domains. It seems like the same behaviour as with the start_requests method.

@elacuesta
Please see the

[2019-10-10 12:41] vella-nicholas commented on #4067
Thank you, your answer helped me find a solution. I am setting `dont_filter=False` even for the  default start_requests method by adding this to the middleware:

[code]

Can you confirm this is the correct way to do it?

On a side note, this was not reported as a bug, hence the tag on the title `Question`. Some repositories use the tag `question` or `triage` for this kind of issue.

[2019-10-10 20:56] elacuesta commented on #4067
Looks good. It could be a little bit simpler by using [`Request.replace`](https://docs.scrapy.org/en/1.7/topics/request-response.html#scrapy.http.Request.replace):
[code]

Or even better, by defining a custom [`start_requests`](https://docs.scrapy.org/en/1.7/topics/spiders.html#scrapy.spiders.Spider.start_requests) method in the spider itself, that way you don't have to maintain a separate middlew

[2019-10-11 07:31] vella-nicholas commented on #4067
Thank you very much!

[2019-10-11 08:57] mohmad-null opened #4070 "MEMUSAGE_ENABLED - default"
The default for this is `True`, except the extension doesn't work on Windows apparently. I would suggest the default should thus be `False`.
And/or there should be a comment in the logs about how the extension doesn't work on windows if it is enabled on said OS.

[2019-10-11 09:10] mohmad-null opened #4071 "[docs] Contracts are new?"
https://docs.scrapy.org/en/latest/topics/contracts.html

says:

[2019-10-11 09:14] yuanfeiz commented on #3590
Any progress on this?

[2019-10-11 09:16] mohmad-null commented on #3693
As an extension of @Vlad-Yekat comment - No proxy or proxy middleware here.

[2019-10-11 09:30] mohmad-null commented on #1572
From a security perspective TELNET should be disabled by default. You *cannnot* rely on users knowing it is there and manually disabling it.

If a user wants an insecure configuration (i.e. because they're using it on their local machine) they should have to manually enable it. I believe that's generally considered best-practice from a security perspective. "Insecure by default" as is the case cur

[2019-10-11 09:52] kmike commented on #1572
@mohmad-null telnet uses auth by default now, with auto-generated password logged at startup - do you see a problem with that?

[2019-10-11 11:48] Chris8080 commented on #4063
I've simply added batches via arguments, and it's working now.
For that, I have to start 3 spiders, CPU can handle it easily at the same time and all 106 folders are created within seconds.
It would still be nice to find out, why Scrapy didn't work with or without start_requests() for me.

`
        batch = int ( kw.get('batch') ) or 1

        if batch == 1:
            self.start_urls = start_ur

[2019-10-11 12:15] mohmad-null opened #4072 "BOT_NAME and the user agent"
The docs for `BOT_NAME` say that it is used for the User agent (https://docs.scrapy.org/en/latest/topics/settings.html#std:setting-BOT_NAME) :

However in reality it is not. Scrapy is using the user agent:
`"Scrapy/1.7.3 (+https://scrapy.org)"`

Setting `USER_AGENT` does change the user agent correctly.

[2019-10-11 14:53] mohmad-null opened #4073 "Middleware - unused arguements"
Lets say I have a simple piece of middleware that discards urls that have a bad extension:

[code]

The middleware works fine, but my IDE is correctly complaining at inspection time that I have an unused argument (`spider`).

So I change `spider` to be `_` to represent the fact it is unused per Python best-practice. But now the middleware never gets invoked.
It would be nice if Scrapy could handle

[2019-10-13 14:20] ankushreddy opened #4075 "Successfully installed Scrapy but when I am trying to launch it is throwing a fatal error."
### Description

I have installed scrapy but when I run any command related to scrapy like scrapy -v or scrapy start project is is throwing a fatal error I tried multiple ways like re-installing anaconda and all but nothing worked.

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/15848115/66717052-c6f5e780-eda2-11e9-92dd-e1a5c93f2090.png)

### Versions
python 3.7 version

[2019-10-13 14:23] ankushreddy commented on #2783
@Krasiu  I am facing something similar can you let me know how did you solve the issues?

[2019-10-14 10:14] tasawar-hussain opened #4076 "Docs: Broken link on developer-tools"
### Link broken to http://quotes.toscrape.com/scroll on developer-tools docs

The link quotes.toscrape.com/scroll on developer-tools docs opens incorrect page and thus returns 404

### Steps to Reproduce

1. Navigate to https://docs.scrapy.org/en/latest/topics/developer-tools.html#the-network-tool
2. Click the link `quotes.toscrape.com/scroll` on end of first paragraph.

**Expected behavior:** It

[2019-10-14 12:19] athlan commented on #2087
+1

[2019-10-14 12:57] ThobaniMwandla commented on #1144
I'm quietly confused about this line shown below, I cant even see the fetch method and its url argument, please help:-
             async with self.fetch(url1) as resp:  # wait for the request

[2019-10-15 14:15] Gallaecio commented on #4060
The expected behavior is that, between the spider opening (which happens after all extensions have been loaded, the logs indicate when the spider actually opens) and the spider closing (which does not stop Scrapy right away, as a clean closing can take several seconds).

Check the logs, locate the lines that indicate when the spider opens and when the spider closes, and check the time passed betwe

[2019-10-15 14:24] Gallaecio commented on #4073
What about https://stackoverflow.com/a/14836005/939364 ?

[2019-10-15 14:27] Gallaecio commented on #4075
Did you install Scrapy following the [official installation instructions](https://docs.scrapy.org/en/latest/intro/install.html#windows)?

[2019-10-15 18:49] wRAR commented on #4076
Already fixed: http://docs.scrapy.org/en/master/topics/developer-tools.html#the-network-tool

[2019-10-15 18:49] #4076 closed

[2019-10-16 09:49] Gallaecio commented on #4060
You’ve also asked this in StackOverflow, so I’m including the link here for reference: https://stackoverflow.com/q/58234797/939364

We usually close this type of issues and suggest people to go to StackOverflow, but I left this open in case what I suggested is not true, which _may_ mean there is a bug somewhere.

Looking forward to your feedback.

[2019-10-16 12:11] Gallaecio commented on #4004
Closing after more than a month without feedback.

[2019-10-16 12:11] #4004 closed

[2019-10-16 12:13] Gallaecio commented on #4019
Closing after a month without feedback.

[2019-10-16 12:14] #4019 closed

[2019-10-16 12:15] Gallaecio commented on #4072
Fixed by #4081

[2019-10-16 12:15] #4072 closed

[2019-10-17 10:07] DharmeshPandav commented on #4060
I  have noticed the same behaviour across multiple spider that we ran
if we hit 503 anywhere
it will take time between 91 - 115 seconds before scrapy closes gracefully

if all 200 http status
it will take time between 61-63 seconds to complete

[2019-10-17 10:16] DharmeshPandav commented on #4060
`closespider_timeout` signal is always triggered at 60 seconds as per the settings

couple of seconds to close cleanly after that is expected but it is taking really long in case of 503'd http requests

[2019-10-17 16:56] amardeep24 commented on #4070
@Gallaecio I will work on this, so should we add an entry in the logs rather than make the default `False` ?

[2019-10-18 03:35] Gallaecio commented on #4070
I’m actually not sure about the best approach here.  @kmike?

[2019-10-18 07:54] guntutur commented on #1636
have same issue here, try setting up ua in settings.py and directly in console did not solve the issue

[2019-10-18 08:13] Ostapp commented on #1636
Guys, it seems like it happenes due to the crawler being blocked by the website. Double check the failing url with scrapy shell to see if it can access it at all

[2019-10-18 08:54] guntutur commented on #1636
i can do crawling form my macbook pro without issue, but on the server getting this particular error. i double check all the environment is the same (the only difference is of course the os)

[2019-10-18 10:42] Gallaecio commented on #4060
That is expected. You might be able to reduce the cleanup time by setting a low timeout for requests, but you might not want to do that.

I think you will have to choose between closing this issue (works as expected) or keeping it open as a request to allow closing the spider uncleanly in this scenario.

However, if closing the spider uncleanly is an option, that can be done from outside Scrapy by

[2019-10-18 13:07] 040840308 opened #4082 "Error when run Scrapy 1.7.3 with python 3.6 on Windows"
Hi, everyone

     I want to download some firmware images. My snippet code in the get_media_request is as follows:
     url='http://luyou.dl.qihucdn.com/luyou/360P4C/360-P4C-V2.0.4.59512.bin'
     return scrapy.http.Request(url, meta={"vendor": item["vendor"]})

     However, error happens as follows:
     [(False, <twisted.python.failure.Failure builtins.TypeError: Unicode-objects must be encode

[2019-10-18 15:12] DharmeshPandav commented on #4060
yeah - closing it uncleanly will cause other problem like "stats" will not be available and output feed stream may be broken..etc

will play with other setting and increasing time before force killing the process

Thanks for looking into this.. this was not and issue and not really a question and was split between where to post this SO or Github

it would be really help full to understand what ope

[2019-10-18 15:12] #4060 closed

[2019-10-18 15:13] DharmeshPandav commented on #4060
### works as expected
@Gallaecio  don't hae permission to add tag "Works as expected"

[2019-10-19 07:10] amardeep24 commented on #3938
I will work on this issue

[2019-10-19 12:08] BurnzZ commented on #3795
Let's close this issue as this feature has been established in https://github.com/BurnzZ/scrapy-loader-upkeep.

Moreover, we're thinking over the idea of separating Scrapy's `ItemLoader` as another package in https://github.com/scrapy/scrapy/issues/4005.

[2019-10-19 12:08] #3795 closed

[2019-10-21 06:42] BreezeFreak opened #4084 "Cookies in <Request> seems not working"
Hi!
I am writing a `<Spider>`, and after login success, I try to send a `<FormRequest>` by the response from `<parse_login>`.
I got cookies from it, and tried to add it into `<FormRequest>`, but it failed, which causes a redirection to login page.

[code]
[code]

but when I try it in `<requests.request()>` with cookies, I can get the direct page content.

[code]

I could really use your help, mayb

[2019-10-21 09:06] Gallaecio commented on #3194
I’m personally not sure about this.

It only affects `meta`, and the current solution of passing `meta=deepcopy(meta)` does not seem too verbose. And people may want to use `deepcopy` only for a part of the meta dictionary, which would not be covered by the proposed enhancement.

[2019-10-21 10:45] wRAR commented on #4084
Unless you are sure you found a bug in scrapy please use dedicated support resources such as https://stackoverflow.com/ to get help with your code.

[2019-10-21 10:45] #4084 closed

[2019-10-21 10:46] Gallaecio opened #4085 "Make Python 3.8 support official"
This involves, among other things:
- Enabling a Python 3.8 environment in Tox
- Enabling a Python 3.8 job in the Travis CI
- Updating the `setup.py` file

[2019-10-21 10:48] wRAR commented on #4040
What happens in your spider? As described in https://docs.scrapy.org/en/latest/topics/settings.html#downloader-clientcontextfactory Scrapy doesn't verify server certificates by default, unlike `requests`.

[2019-10-21 11:19] wRAR commented on #4085
Does Travis already support it?

[2019-10-21 11:46] wRAR commented on #4085
According to https://docs.travis-ci.com/user/languages/python/ it does

[2019-10-21 12:05] Gallaecio opened #4086 "constructor, initializer → __init__ method"
There are several places in the documentation and comments where we use the words ‘constructor’ or ‘initializer’ to refer to the `__init__` method of a class. We should change the wording to explicitly say ‘`__init__` method’ instead.

Related to #2354.

[2019-10-21 13:18] ammarnajjar commented on #4086
I would like to give this a shot, if it's alright 😄

[2019-10-21 13:30] django-kz opened #4087 "OffsiteMiddleware doesn't seem to work properly"
I am just learning your great library, but as I got OffsiteMiddleware doesn't filter out all foreign links.
1. For example, I am scrapping "whitneymiller.com" website, I am collecting all "a" tags within pages and putting them into parse method
[code]
-->

2. my settings for spider are as follows :
[code]

and allowed domains are :
`    allowed_domains=['whitneymiller.com']
`

3. As I see my crawl

[2019-10-21 15:18] Gallaecio commented on #4082
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-10-21 15:18] #4082 closed

[2019-10-21 15:23] Gallaecio commented on #4043
I guess checking if internet connection works by requesting a certain URL without proxy that we expect to answer could work. A HEAD request to http://quotes.toscrape.com/ could work. But we would have to allow changing at least the target URL through a setting.

[2019-10-21 15:29] Gallaecio commented on #4087
Make sure `allowed_domains` is defined as a variable of your `Spider` subclass.

If that is not the issue, please use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask for help, and make sure you provide some code to reproduce your issue as per https://stackoverflow.com/help/mcve (you are close, but it’s not clear from your code here where you are placing `allowed_domains`, for example

[2019-10-21 15:29] #4087 closed

[2019-10-21 15:59] illgitthat commented on #4085
I am trying to install scrapy for python 3.8 in a Windows environment. Are there currently any ways I can do this? Or is this blocked upstream by conda https://github.com/conda/conda/issues/9343

[2019-10-21 16:03] Gallaecio commented on #4085
You can try using `pip`. If you cannot get it to work with `pip`, then you’ll need to wait for Conda to support Python 3.8.

[2019-10-21 16:04] further-reading commented on #4085
Hey! I'll grab this one if it is okay?

[2019-10-21 16:08] illgitthat commented on #4085
No luck using just `pip install scrapy` unfortunately.

[2019-10-22 01:04] BreezeFreak commented on #4084
Sorry... I am a noob here. Thanks for your reminder and advice

[2019-10-22 08:04] guntutur commented on #3103
Have same issue. how to know which chiper/ssl being used by our machine? i tried to run scrapy from my macbook, it's doing fine, but running from hosted vm getting this non-clean fashion error

[2019-10-22 10:19] #4071 closed

[2019-10-22 13:12] #3391 closed

[2019-10-22 13:54] victor-torres commented on #2552
@hsumerf I believe the `data:` URIs are used to download embedded images and other types of files found on the page source code. For example, using the Media Pipeline (Files and Images).

I took the opportunity to open a PR proposing those changes and incrementing a simple regression test case.

[2019-10-22 19:45] GeorgeA92 commented on #4070
On windows `MemoryUsage` extension will raise `NotConfigured` exception.

https://github.com/scrapy/scrapy/blob/1d5c270ce8caf954ce83c8db262e2a35707e0c5e/scrapy/extensions/memusage.py#L24-L31
In this case `'scrapy.extensions.memusage.MemoryUsage'` doesn't appear in log lines (Enabled extentions):
[code]
@mohmad-null

In my opinion data from log is already enough to understand that this `MemoryUsage

[2019-10-23 09:25] Gallaecio commented on #4070
Actually, the fact that `MEMUSAGE_ENABLED` is `True` by default but it doesn’t appear in the logs can be quite confusing. I do think we need some change here, even if it is just logging an INFO (or even WARNING) message when `MEMUSAGE_ENABLED` is `True` but it cannot work in the current platform.

[2019-10-24 08:37] Gallaecio commented on #3574
@hibpm Do you think the documentation changes proposed at #4099 would have prevent you from redefining `ItemLoader.item` in the first place? Do you remember what in the existing documentation made you define `item` in your item loader subclass?

[2019-10-24 13:46] elacuesta commented on #4029
Indeed, the mentioned line (https://github.com/scrapy/scrapy/blob/1.7.4/scrapy/downloadermiddlewares/httpproxy.py#L53) is necessary because the `proxy` meta value is then read by the downloader handler at https://github.com/scrapy/scrapy/blob/1.7.4/scrapy/core/downloader/handlers/http11.py#L283.
In any case, credentials should be popped after being processed there, although I'm not sure I understa

[2019-10-24 16:38] NewUserHa commented on #4029
appearly it's not necessary as it can work without that line.
can you imagine you have three proxies:
a:a@a
b:b@a
c:c@a
removing that line is convenient for removing the bad proxy from proxy pool. meta is not good in nested request.

[2019-10-25 08:57] thousfeet opened #4103 "Run multiple spiders using CrawlerProcess can‘t get one valid XML file"
### Description

I tried to run multiple spiders using CrawlerProcess following [this doc](https://docs.scrapy.org/en/latest/topics/practices.html#running-multiple-spiders-in-the-same-process). But can‘t get one valid XML file.

this is my code:

[code]

I get a `output.xml` which can't be parsed by `xml.etree.ElementTree`. Then I found this output file is not a valid XML file.

[code]

It seems o

[2019-10-25 17:08] Arielalfm opened #4105 "Translating the docs to Korean"
Hello!
My team (created in a lecture called 'open source software' which I take in) is very interested in scrapy, but necessarily files need to be read (like README and LICENSE) are written only in English. We thought if these files are translated, more people like us can contribute to this project.

So I'm just wondering if we can join here:)

[2019-10-25 20:36] JSPromisel opened #4106 "Persistence is not fully persistent when using JOBDIR setting"
### Description

I have been experimenting with keeping a persistent state for a spider by using the `JOBDIR` setting, so if it crashes or I stop it, I can start it up again from the same point it left off. I notice that the seen request fingerprints are persisted, as well as an active.json file holding information about the queue. However, in my testing, I find that the existence of the queue is

[2019-10-25 21:22] GeorgeA92 commented on #3693
I think this is a misinterpretation of meaning `CONCURRENT_REQUESTS` setting and other concurrency related settings.

`CONCURRENT_REQUESTS` setting  defines maximun number of active requests in `Downloader`:
https://github.com/scrapy/scrapy/blob/b8594353d03be5574f51766c35566b713584302b/scrapy/core/downloader/__init__.py#L84
https://github.com/scrapy/scrapy/blob/b8594353d03be5574f51766c35566b713584

[2019-10-25 21:52] Gallaecio commented on #4105
Related to #3511

[2019-10-28 09:53] #3897 closed

[2019-10-28 09:53] #3976 closed

[2019-10-28 11:33] Arielalfm commented on #4105
Thanks!!

[2019-10-28 11:37] Arielalfm commented on #3511
Hello, I'd like to translate docs to Korean.  Since there is no Korean, I requested language. Could you check that please?

[2019-10-28 12:31] diegovincent commented on #4085
Installing Python 3.8.0 and immediately later `scrapy` fails.

Here's the commands used:

[code]

My workstation: `4.19.79-1-MANJARO GNU/Linux`

The log itself: https://pastebin.com/cAawd2jB

[2019-10-28 12:36] wRAR commented on #4085
@diegovincent this is not related to Scrapy, the log shows a problem with compiling lxml.

[2019-10-28 13:03] diegovincent commented on #4085
@wRAR But why would that happen? is `lxml` not "ready" for 3.8? But after all, scrapy depends on the `lxml` library, so it might be a good idea to have it here?

[2019-10-28 13:09] wRAR commented on #4085
@diegovincent your compiler toolchain seems broken, and no, this is not a good place to discuss problems with installing third-party modules.

[2019-10-28 13:15] diegovincent commented on #4085
I used Anaconda.

And ok, I won't discuss it anymore here, but FYI the error seems to persist even after [`conda` officially supports 3.8.0](https://anaconda.org/anaconda/python).

[2019-10-28 13:20] Gallaecio commented on #4103
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-10-28 13:20] #4103 closed

[2019-10-28 13:29] Gallaecio commented on #4085
Feel free to create a separate issue about it.

[2019-10-28 18:07] ejulio commented on #4043
For me it sounds like a `Circuit Breaker` pattern.
Usually, when something fails in a few attempts, you reject/buffer the next calls and try them again after a few moments.
Maybe, retry middleware could handle it, by adding some time intervals.
Otherwise, this could be a behavior with some flag, say, `STOP_AFTER_N_ERRORS` and then, only retry after some time.

[2019-10-28 20:45] jessekoconnor commented on #3628
Is this being worked on? Looks interesting, would like to contribute :D

[2019-10-29 09:20] Gallaecio opened #4109 "Cover the scrapy-sticky-meta-params middleware in the documentation"
https://github.com/heylouiz/scrapy-sticky-meta-params

Related to #3645

[2019-10-29 09:22] Gallaecio commented on #3645
@Granitosaurus What would you think about closing this and #3770 in favor of #4109?

[2019-10-29 10:45] Gallaecio commented on #3628
There is no pull request at the moment, I believe.

[2019-10-29 11:30] #4085 closed

[2019-10-30 07:37] BurnzZ opened #4110 "LogStats Extension should log the IPM and RPM to the stats on spider_closed signal"
## Summary

By default, the `scrapy.extensions.logstats.LogStats` log the details below to the standard logger every 60 seconds:

- IPM (_Items per Minute_)
- Items scraped
- RPM (_Requests per Minute_)
- Requests produced

## Motivation

We often find the need to retrieve the **RPM** and **IPM** after a job is finished. We can calculate this manually or we can check the logs for the last update o

[2019-10-30 08:09] #4032 closed

[2019-10-30 09:14] #4035 closed

[2019-10-31 05:21] BurnzZ commented on #4110
Hi @wRAR , yes that's the idea. Although the speed from the last log printed won't be as accurate when the spider ends the crawl. This is because the logging mechanism at the moment only happens every *60 seconds*. If the spider ends before this looping interval, like in the middle, say 30 seconds, it won't log the IPM and RPM.

In the current PR, the IPM and RPM will be logged to the stats upon s

[2019-10-31 09:55] Gallaecio commented on #4110
Hmm… For logging purposes, shouldn’t we store all the historical calculations and log the average of the whole run?

[2019-10-31 12:31] #4014 closed

[2019-10-31 16:30] s-sanjay commented on #4014
@Gallaecio so when tests fail due to some other issue re running them is great but shouldn't we as much as possible prevent flakiness from being introduced.. as a last resort we can re run them but if we re run would it not also delay fixing the reasons for flakiness ?

[2019-11-01 03:37] askaliuk opened #4117 "MemoryError: Cannot allocate write+execute memory for ffi.callback()"
### Description

I have simple Scrapy script which fails on Ubuntu 18 with weird memory error.
Works fine on local Mac, but fails on remote host.
Looks like a openSSL issue. Any advice is appreciated.

### Steps to Reproduce
Simply run scrapy script

**Expected behavior:**
Run normally

**Actual behavior:**
[code]

**Reproduces how often:**
100%

### Versions

[code]

### Additional context

[code

[2019-11-01 03:40] BurnzZ commented on #4110
@Gallaecio Not quite. To paint the scenario, let's discuss some examples over the current behavior of `LogStats`.

`LogStats` record the _RPM_ and _IPM_ during `spider_opened` We can observe these types of log messages on spider runs:
`[scrapy.extensions.logstats] Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)`

If we'll be **averaging** historical calculations, having a `0` in

[2019-11-01 08:53] Gallaecio commented on #4014
@s-sanjay I was suggesting that as a temporary measure, to avoid new contributors from getting hit by this and us having to explain to them that the issue is in Scrapy and not in their changes.

In any case, #4095 should have fixed the actual issue.

[2019-11-01 09:59] Gallaecio commented on #4117
Have you checked https://cffi.readthedocs.io/en/latest/using.html#callbacks?

In addition to confirming that the suggested workaround fixes the issue, it would be great to know if the issue can be reproduced with the latest version of Scrapy (1.8.0) and all dependencies. I’ve not seen `ffi.callback` in the Scrapy 1.8.0 code.

[2019-11-01 10:05] Gallaecio commented on #4110
#4111 would log `100` in this case, right? Shouldn’t we instead log the totals divided by the run time (200 in this case)?

[2019-11-01 11:10] BurnzZ commented on #4110
Ahhh I see what you mean now @Gallaecio. Great catch! 🎉 I've updated the PR now for this new approach. :) Let me know what you think. If all is good with this approach I'll proceed in writing the tests.

[2019-11-01 16:11] crianopa opened #4119 "No module named 'scrapy_splash.settings'"
### Description
I am running splash by the first time in Ubuntu (virtual Machine) with python3 in PyCharm. I am following this video: https://www.youtube.com/watch?v=rofkkuSf9iA&t=168s

First I set up de settings.py:
[code]
Then

[code]
and following the same structure described in the video.

When running `scrapy crawl scrapy_splash ` I got this error: No module named 'scrapy_splash.settings'
I'v

[2019-11-01 16:19] lopuhin commented on #4119
I'm not sure, but it could be a conflict of the library name (scrapy_splash) and your project name (the same). Unless this resolves the problem, https://github.com/scrapy-plugins/scrapy-splash/ issue tracker or stackoverflow would likely be a better place to ask for help with this issue, as this does not look to be a scrapy bug.

[2019-11-01 16:29] crianopa commented on #4119
OK Thanks. I will check and ask in stackoverflow and in /issue tracker.

[2019-11-01 22:10] askaliuk commented on #4117
@Gallaecio

I use Ubuntu 18.04 LTS with 7 Gb of free memory

Yes, I can reproduce issue the Scrapy 1.8.0 and all dependencies.
I feel like it's pyOpenSSL issue because exception is inside `lib/python2.7/site-packages/OpenSSL/SSL.py`
I was hoping you saw it before and may be know a possible remedy.
Not sure which workaround is available.

[2019-11-02 00:22] bfelds commented on #3969
@whalebot-helmsman an fyi: just installed with conda and it seems protego isn't in conda-forge and not listed as a dependency. i had to manually install with pip into the conda environment

[2019-11-02 05:26] Gallaecio commented on #3969
Thanks, I’ll try to get it fixed next week.

[2019-11-02 05:33] #4119 closed

[2019-11-03 00:55] royahsan opened #4120 "Allow failing on potential data loss to trigger a retry"
### Description

By default settings of  [DOWNLOAD_FAIL_ON_DATALOSS](https://docs.scrapy.org/en/latest/topics/settings.html#download-fail-on-dataloss) implemented in [#2590](https://github.com/scrapy/scrapy/pull/2590), whenever `ResponseFailed([_DataLoss])` error occurs, it should be raised.

 But currently, instead of raising error we pass it through to the callback function after adding `['parti

[2019-11-04 12:20] heylouiz commented on #4109
Hey @Gallaecio, cool that you noticed my project.
I've implemented this in a project and decided to move it out, as an extension.
While searching online for similar extensions I came across #3645 and was planning to finish it.

Do you think this is better be out of Scrapy as an extension? Because if you think this could be a good Scrapy feature I will finish what @Granitosaurus started.

PS: This

[2019-11-04 20:19] Gallaecio opened #4124 "Fix wrong fact in JOBDIR documentation about requests needing to be pickle-serializable"
The documentation about using `JODBIR` says that requests need to be serializable with `pickle`.

But, thanks to feedback from @kmike, now I know that their callback and errback methods do not need to be `pickle`-serializable as long as they are spider methods.

The documentation should be clear about this.

Related to #4125.

[2019-11-04 20:25] Gallaecio opened #4125 "Expose _find_method and _get_method from scrapy.utils.reqser"
There are two functions in `scrapy.utils.reqser`, `_find_method` and `_get_method`, that are used to serialize and unserialize spider callbacks, useful e.g. when using `JOBDIR`.

It would be nice if these functions were given a non-private name, and were covered in the documentation about `JOBDIR` as functions that can be used to serialize and unserialize store spider callbacks in the request meta

[2019-11-05 10:15] Brysonweixin commented on #3321
Hi, all
    Any update on it? I also met with this bug while download images with Scrapy. Could you please help on it? Error is just like the following code.
[code]

Great thanks
-Bryson

[2019-11-05 14:05] lionking6792 opened #4127 "Hi~ How can I find 'Scrapy Docs' in 'Transifex' manager or administrator ?"
Hi I'm looking for

https://www.transifex.com/scrapy-translation-team/scrapy-docs-translation/

manager or administrator..

I am interested in translating scrapy docs in Korean but, nobody seems to response Transifex.
How can I get contact?
If anybody knows it Please reply to me..

Thanks for reading :)

Related to #3511 and #4105.

[2019-11-05 20:29] Gallaecio commented on #4127
@kmike Is that handled by us or someone we know? Are we using the translations?

[2019-11-05 21:24] tianhuil commented on #2174
Would love to see this merged.

[2019-11-05 23:49] tianhuil commented on #2444
Would love to have this feature.

[2019-11-06 06:40] pawelmhm commented on #3321
@Brysonweixin this depends on Twisted. I created issue in Twisted repo https://twistedmatrix.com/trac/ticket/9112 and also asked in IDNA Python library, but there they told me library does not need to handle invalid cases https://github.com/kjd/idna/issues/48

we cannot really fix it in Scrapy probably, best way to fix it would be doing it somehow in Twisted, but I'm not sure how.

[2019-11-06 07:00] Brysonweixin commented on #3321
@pawelmhm Great thanks to your answer!

Actually I have no choice but to fix this bug by modifcation of the following code.
you can find it in path: python2.7/site-packages/idna/core.py

[code]
I just replaced
[code]
with
[code]
Bests,

[2019-11-06 08:37] momosc commented on #1139
scrapy_redis 问题   导致shell不能用

[2019-11-06 11:25] Gallaecio commented on #4120
I believe you are mixing up ‘potential data loss’ (`partial` flag, caused e.g. by a missing `Content-Length` header) and actual ‘data loss’ (`dataloss` flag, caused e.g. by a `Content-Length` header value that does not match the received response).

In the `partial` cases, the current behavior is to assume the responses are correct but mention that they may not be through the `partial` flag.

Woul

[2019-11-06 11:27] Gallaecio commented on #4109
I don’t see why it shouldn’t be a part of Scrapy itself, moreover if you yourself would like it so :slightly_smiling_face:

[2019-11-06 11:27] #4109 closed

[2019-11-06 12:37] nyov commented on #4120
Hey @royahsan. This looks a bit tricky.

From the [commit data](https://github.com/scrapy/scrapy/pull/2590/files), this is not what's happening. `['partial']` is added on `PotentialDataLoss`, not `_DataLoss`, as you said yourself:

I can see why you would get confused there (I was too, just now), when the docs state:

``Content-Length`` does not match content sent by the server or chunked
response

[2019-11-06 12:40] Gallaecio opened #4133 "Handle it gracefully when start_url is used instead of start_urls"
Over the last year I’ve seen a few cases ([recent example](https://stackoverflow.com/q/58664004/939364)) of this, people missing the `s` at the end of the `start_urls`.

It may be nice to find a way to gracefully let the developer know where the issue is, why there is no crawling happening.

[2019-11-06 13:41] SyuuGenn opened #4134 "replace the twisted reactor to pollreactor"
It's related to #2905. When I'm using scrapy, I got the error "Failure instance: Traceback: <class 'ValueError'>: filedescriptor out of range in select()". So I want to try replacing the twisted reactor to pollreactor. However, I cannot use my project settings. When I run

`from twisted.internet import pollreactor
pollreactor.install()
from twisted.internet import reactor
from scrapy.crawler impor

[2019-11-06 13:44] Gallaecio commented on #4134
@wRAR something to keep in mind while working on asyncio support, I guess.

[2019-11-06 14:03] Gallaecio opened #4135 "Switch pickle to protocol 4"
Since we no longer support Python 2 or Python < 3.4, it looks like [protocol 4 of pickle](https://docs.python.org/3/library/pickle.html#data-stream-format) is our best choice.

[2019-11-06 15:14] wRAR commented on #4134
Hi @SyuuGenn ! I couldn't reproduce it, can you provide the full traceback please?

[2019-11-06 15:18] lionking6792 commented on #4127
@Gallaecio Thanks for comment. You mean scrapy dosen't have any translation documents? How about creating new branch or new repository for docs?

[2019-11-06 15:28] SyuuGenn commented on #4134
@wRAR Thanks for your reply! My traceback were as follows.

Traceback (most recent call last):
  File "sina/spiders/weibo_spider.py", line 282, in <module>
    process = CrawlerProcess(get_project_settings())
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/scrapy/crawler.py", line 267, in __init__
    super(CrawlerProcess, self).__init__(settings)
  File "/Lib

[2019-11-06 15:35] wRAR commented on #4134
So your `sina/spiders/weibo_spider.py` is at the same time a spider module and an executable script containing code that uses CrawlerProcess, just don't do that? The same code runs twice so of course it fails.

[2019-11-06 15:47] Gallaecio commented on #4127
@lionking6792 Documentation translation is not possible at the moment, that why #3511 is still open. That’s something we need to implement.

Maybe we should close this and #4105 and leave only #3511 open to track progress on this.

[2019-11-06 15:47] SyuuGenn commented on #4134
I put `pollreactor.install()` under `if __name__ == '__main__`, but the error still exists.

Traceback (most recent call last):
  File "sina/spiders/weibo_spider.py", line 281, in <module>
    pollreactor.install()
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/twisted/internet/pollreactor.py", line 186, in install
    installReactor(p)
  File "/Library/Frame

[2019-11-06 15:57] lionking6792 commented on #4127
@Gallaecio Sure, Thanks for comments anyway :)

[2019-11-06 16:06] wRAR commented on #4134
That's because some imports you have at the top-level already installed the reactor.

Just make it a separate script. This is not a Scrapy problem, this is a problem with your code organization, which causes Scrapy to execute your code second time, when Scrapy imports all spiders. Scripts shouldn't be put into the spiders directory, they are scripts, not spider modules.

[2019-11-06 16:16] SyuuGenn commented on #4134
@wRAR Thank you very much! But I still can't understand well. What I want is to evade the ValueError mentioned in #2905. How can I replace the SelectReactor to PollReactor without changing my project settings? If I put the spider script elsewhere, how should I use the middlewares, item pipes and other settings?

[2019-11-06 16:27] wRAR commented on #4134
Are you saying you didn't previously use a script in this project? If so, I don't know a simple way of fixing this without making a script.

If you still use the same project settings, they should be used in the same way as when running spiders via scrapy.

[2019-11-06 16:44] SyuuGenn commented on #4134
@wRAR Yes. I wrote my scrapy project based on other people's work rather than starting from a script.

I just added
`from twisted.internet import pollreactor
from twisted.internet import reactor`
in the beginning and  `pollreactor.install()` under `if __name__ == '__main__':` into my  very first code. I ran  `scrapy crawl weibo_spider` from terminal and it is working. After 10 hours I will know if

[2019-11-06 17:42] wRAR commented on #4134
`scrapy crawl weibo_spider` ignores the `if __name__ == '__main__'` part.

[2019-11-07 03:10] SyuuGenn commented on #4134
@wRAR Oh, yes. The ValueError happened again. If I move `pollreactor.install()` after `from twisted.internet import pollreactor`, the ReactorAlreadyInstalledError happens. So what should I do?

[2019-11-07 07:47] wRAR commented on #4134
@SyuuGenn make a script and use it instead of `scrapy crawl`.

[2019-11-07 07:56] SyuuGenn commented on #4134
@wRAR I'm a beginner in Python programming, and I don't know how to use script to import my project settings. Can you show me an example to do that? The examples in the scrapy documentation (https://docs.scrapy.org/en/latest/topics/practices.html#run-from-script) are either using the default select reactor or without importing project settings.

[2019-11-07 08:02] #4127 closed

[2019-11-07 08:03] Gallaecio commented on #4105
Closing in favor of #3511

[2019-11-07 08:03] #4105 closed

[2019-11-07 11:49] Gallaecio commented on #4134
Since this is not a feature request of a bug, @SyuuGenn please move your question to [StackOverflow](https://stackoverflow.com/tags/scrapy). See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

Mind that “I don't know how to use script to import my project settings” feels like the type of question that must have been asked and answered already, so please search StackOverflow for a

[2019-11-07 11:49] #4134 closed

[2019-11-07 13:24] turicas opened #4136 "download_* meta keys are not available if using cache"
### Description

I'm using `download_latency` in spider's `parse` method and it's not available (generating a `KeyError`) if the response is taken from the cache.

### Steps to Reproduce

1. Create a simple spider which uses `response.meta["download_latency"]` inside `parse`, called `latency.py`:
[code]

2. Run the spider with cache enabled to store values in the cache:
[code]
It's going to run su

[2019-11-07 15:13] royahsan commented on #4120
@Gallaecio , @nyov You are right I was mixing the mixing up` ‘potential data loss’` (partial flag, caused e.g. by a missing Content-Length header) and `actual ‘data loss’` (dataloss flag, caused e.g. by a Content-Length header value that does not match the received response).

I do not know whether or why these falgs should be treated as same, so it make better sense to close the issue.
Thank you

[2019-11-07 15:47] wRAR commented on #4075
Hi @ankushreddy , can you provide more info or should we close this?

[2019-11-07 16:12] Gallaecio commented on #4136
Since responses read from disk don’t have a network latency, doesn’t it make sense that `download_latency` is not defined in them? The [documentation](https://docs.scrapy.org/en/latest/topics/request-response.html#download-latency) explicitly indicates that `download_latency` indicates *network* latency.

[2019-11-07 19:37] royahsan commented on #4120
@Gallaecio  what you think of the idea, of providing the option to raise or suppress `potential data loss` error, just like `actual data loss` error.
For `actual data loss` error scrapy provides this option through [DOWNLOAD_FAIL_ON_DATALOSS](https://docs.scrapy.org/en/latest/topics/settings.html#download-fail-on-dataloss) settings

Is it reasonable to open a separate enhancement Issue with this i

[2019-11-08 08:22] Gallaecio commented on #4120
I think it’s reasonable.

[2019-11-08 08:24] Gallaecio commented on #4120
That said, I’ve never seen a potential data loss that is fixed upon retry. That is, if a request does not return a `Content-Length` header, retrying won’t make it suddenly provide the header. Have you found a website that does miss the `Content-Length` header only sometimes for a given request?

[2019-11-08 14:50] royahsan commented on #4120
[this](https://ecorp.azcc.gov/BusinessSearch/BusinessInfo?entityNumber=21816333) website shows a potential data loss while it serves captcha verification page when a specific number of requests pass through the same IP. Retry using automatic proxy rotation (like [Crawlera](https://scrapinghub.com/crawlera)) in this case does solve the problem, but this obviously is very rare.

[2019-11-08 14:54] Gallaecio commented on #4120
For that case, I believe solving #3590 would be better, since the problem is not the `Content-Type` header, but the fact that the response is a CAPTCHA response. If they started including a `Content-Type` header in those responses, you would still want to retry the corresponding request.

[2019-11-08 15:05] royahsan commented on #4120
With that being said we can agree that in most cases retry does not solve `partial error` also If a user wants to alter/accept response or regenerate request from such responses, it can be done by detecting 'partial' flag in a middleware's `process_response` function.
So this feature dont have a use-case.

[2019-11-08 15:08] Gallaecio commented on #4120
@royahsan Should we close this then?

[2019-11-08 15:08] #4120 closed

[2019-11-08 15:11] royahsan commented on #4120
Sure! any potential use cases for this, if any, can be dealt by [#3590](https://github.com/scrapy/scrapy/issues/3590)

[2019-11-08 15:50] royahsan commented on #4136
If we do copy the `download_latency` from the response when it was downloaded, and provide it when it is read from cache, It would wrongly depict that response was downloaded in 'download_latency' seconds when it would be actually read from disk/cache.
 We may copy and update this key to 0 but as `download_latency` does not affect scrapy behaviour plus one can safely assume that missing `download_

[2019-11-08 17:49] #4124 closed

[2019-11-11 09:30] Gallaecio commented on #4063
This does look like the same as what @kmike linked. You said it did not look like it because it also happens when using `start_urls` instead, but `start_urls` is basically the same as `start_requests` (when you don’t define `start_request`, a default implementation of it is used which reads URLs from `start_urls`).

Shall we close this in favor of the previously reported issues?

[2019-11-11 09:58] ishandutta2007 opened #4144 "Is image download disabled by default ?"
I have written a spider which consumes almost 2 GB of data per hour. Now I want to save my data consumption, images are of no use for me, so want to make sure they not being fetched.

[2019-11-11 10:06] Gallaecio commented on #4144
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-11-11 10:06] #4144 closed

[2019-11-11 12:19] ishandutta2007 commented on #4144
@Gallaecio  Here is the link https://stackoverflow.com/questions/58801190/is-image-download-in-scrapy-disabled-by-default
Please answer it there if you prefer that way.

[2019-11-11 14:57] salimnasir commented on #2582
import scrapy
from ..items import  UrlsItem

class UrlSpider(scrapy.Spider):
    name = 'url'
    start_urls = [
        'http://mcgaughys.com/products'
    ]

    def parse(self,response):
        items = UrlsItem()
        detail = response.css('a.product-link::attr(href)')
        for url in detail:

            PRODUCT_NAME = url.css('#breadcrumb li+ li').css('::text').extract()
            PR

[2019-11-11 14:58] salimnasir commented on #2582
this is my code and i got this error
 raise ValueError("SelectorList is not supported")
please help

[2019-11-11 15:27] Hamidreza-Zamanian commented on #2881
I had the very same problem
the solution for me was to install node.js
I installed the last version of node.js and the scrapy (which needs twisted) got downloaded without any problem
hope it be useful for you

[2019-11-11 19:40] nyov commented on #4136
Instead of using `response.meta["download_latency"]`, you can use `response.meta.get("download_latency", 0),` to avoid getting a key error by setting a default value.

[2019-11-11 23:48] ishandutta2007 commented on #4144
@Gallaecio Kindly address the stackoverflow question when you get time.

[2019-11-12 01:11] HisakaKoji opened #4145 "only version 1.8.0 robots.txt forbidden"
### Description

When I scrapyied  the url "https://www.walkerplus.com/" with scrapy ,
it is OK in version 1.7 ,  but it is forbidden by robots.txt in version 1.8.

The robots.txt
`user-agent: *
disallow: http://ms-web00.walkerplus.com/
disallow: http://www-origin.walkerplus.com/
disallow: http://walkerplus.jp/
disallow: http://walkerplus.net/
disallow: https://ms.walkerplus.com/

user-agent: twit

[2019-11-12 06:06] Gallaecio commented on #4145
It looks like a [bug in Protego](https://github.com/scrapy/protego/issues/4), our new default robots.txt parser.

In the meantime, you can [switch to a different robots.txt parser](https://docs.scrapy.org/en/latest/topics/settings.html#robotstxt-parser).

[2019-11-12 06:14] Gallaecio commented on #4144
@ishandutta2007 Kindly address the StackOverflow comments when you have the time :slightly_smiling_face:

[2019-11-12 06:36] ishandutta2007 commented on #4144
already done, yes those has been marked as spam

[2019-11-12 07:15] Gallaecio commented on #4144
I agree with both StackOverflow comments. Scrapy does not download images unless you specifically tell it to do it. Please, answer the comments, they are not spam, they are valuable feedback from the Scrapy community that is trying to help you.

[2019-11-12 07:46] ishandutta2007 commented on #4144
I don't know the answers, maybe you can help.

[2019-11-12 10:59] wRAR commented on #4040
Hi @bigtang5 , do you have anything to add here?

[2019-11-12 11:17] #2149 closed

[2019-11-12 11:17] #2352 closed

[2019-11-12 16:43] #3731 closed

[2019-11-12 16:48] #4086 closed

[2019-11-13 09:12] oscarrobertson opened #4154 "Hi All,"
## Summary

One paragraph explanation of the feature.

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you've considered. Be sure to explain why Scrapy's existing customizability isn't suitable for this feature.

## Additional context

Any ad

[2019-11-13 09:12] #4154 closed

[2019-11-13 09:25] oscarrobertson opened #4156 "Importance of Requests"
## Summary

It would be nice to have the concept of request importance to affect the logging level of download failures, i.e. a way to yield a request but say, if this request has a download failure then only log a warning. A feature to keep track of how many requests of low importance have failed so far would also be useful, as there could be a threshold on the number of failures where error logg

[2019-11-13 11:10] Jerry007s opened #4158 "retry a request,but can't chang ip"
### Description

I use dynamic proxy, but ip can't change when retry this request.

### Steps to Reproduce

I simulated this process.  forcibly 200 status_code to retry. e.g.`RETRY_HTTP_CODES = [200, 301, 302]`. So it will be retry again and again until give up this request.

But even with the proxy can not be changed for each request ip, unless restart or begin another request.

spider.py
[code]

[2019-11-13 11:11] wRAR commented on #4156
Another option would be to somehow add the failed numbers per request type to stats, this is more flexible than emitting and then counting WARNINGs and ERRORs.

[2019-11-13 11:47] oscarrobertson commented on #4156
Yes adding to stats would definitely be part of it. If I were to write a custom Scraper class I would include that.
Are you suggesting there be no "threshold" settings and the user should somehow periodically check the stats to see if they have exceeded acceptable levels? I'm not against a solution like this but there would need to be some way to turn off the default logging in Scraper https://git

[2019-11-13 13:57] Gallaecio commented on #4158
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-11-13 13:57] #4158 closed

[2019-11-13 16:22] wRAR commented on #4156
Please take a look at https://github.com/scrapinghub/spidermon :)

[2019-11-13 20:19] Chris8080 commented on #4063
I wasn't able to get it working the way "it's supposed to" but this mentioned workaround is working fine here. You can go ahead and close this if you want to.

[2019-11-13 20:36] #4063 closed

[2019-11-14 09:00] vella-nicholas opened #4160 "Question: Exit process without stopping reactor"
I wish to exit a scraping process without calling `reactor.stop()`. The reason is that I am deploying a spider in a cloud function. If an instance is reused I am getting `ReactorNotRestartable` since I am stopping the reactor. If I do not stop the reactor, the call times out.

I wish to exit without stopping the reactor. Any help on this please?

[code]

[2019-11-14 09:26] Gallaecio commented on #4160
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-11-14 09:26] #4160 closed

[2019-11-14 09:40] vella-nicholas commented on #4160
If I found an answer on Stack Overflow, I would not have posted here.

[2019-11-14 10:26] #1837 closed

[2019-11-14 16:19] vella-nicholas commented on #4160
Information in this repository: https://github.com/notoriousno/scrapy-flask, under the heading `Use Any WSGI Server`.

[2019-11-15 12:15] Gallaecio opened #4166 "Allow objects instead of import strings in settings"
Some settings, like `LOG_FORMATTER`, expect a import string as value.

I think it would be great if they also allowed the corresponding object itself.

For example, let users that are doing this:

[code]

To do this instead:

[code]

[2019-11-15 13:22] elacuesta commented on #4166
I think #3873 is in the right direction.

[2019-11-15 13:38] Gallaecio commented on #4166
Closing in favor of #3870

[2019-11-15 13:38] #4166 closed

[2019-11-15 17:05] noviluni commented on #3944
The PR (https://github.com/scrapy/scrapy/pull/3945) has been already merged so I proceed closing this. Thank you @Gallaecio  :tada: :smile:

[2019-11-15 17:05] #3944 closed

[2019-11-16 15:44] Kunal614 opened #4168 "For gSoc 2020"
Can anyone give me idea , how i select scrapy in gsoc 2020, As i think it is very intresting stuff.

[2019-11-16 15:47] Kunal614 commented on #4133
As in the scrappy many files are autogenerated when you start a new project and there start_urls is already declared by default , so if we use start_url instead of start_urls then there would be no crawling.

[2019-11-18 10:39] zhuifeng7000 commented on #4040
@bigtang5

how do you solve this problem ?
can you share it?

[2019-11-18 11:26] wRAR commented on #4040
@zhuifeng7000 can you please answer the questions in the first comment?

[2019-11-18 13:03] Gallaecio commented on #2087
Maybe we should handle these two different issues in separate issue tickets.

[2019-11-19 02:59] Urahara commented on #3628
@Gallaecio in my scrapy projects i configure log handlers in ```settings.py``` like this:

[code]
Is this right approach?

[2019-11-19 07:14] Gallaecio commented on #3628
It does look like [the recommended approach in the documentation](https://docs.scrapy.org/en/latest/topics/logging.html#scrapy.utils.log.configure_logging).

[2019-11-19 08:10] gunblues opened #4175 "Scrapy does not use a non-zero exit code when pipeline's open_spider throws the exception"
### Description
In our case, we execute command `scrapy crawl` in airflow task and the exit code would be used to judge this task success or failure. I agree that `scrapy crawl` ignores spider exceptions because it's unpredictable in the crawling process.

Back to our case, we export data to file or database in the pipeline and we create the directory or database connection in `open_spider(self, s

[2019-11-19 08:28] Gallaecio commented on #4175
Would a **try..except** in your `open_spider` method that uses `sys.exit` in case of an exception achieve this purpose?

[2019-11-19 08:50] #2552 closed

[2019-11-19 09:01] wRAR commented on #3288
So I've read the links above and I still don't understand if the problems mentioned there are applicable to Scrapy. Should we plan to replace this code with the modern one?

[2019-11-19 09:36] Gallaecio commented on #3288
That would be great, in my opinion, much cleaner than #4165.

However, there’s a risk of introducing changes of behavior. And there’s the argument that HTTP 1.0 usage is dropping, so if such a change requires a lot of effort, it may not be worth it.

[2019-11-19 13:35] mredaelli opened #4177 "FIFO crawling order"
### Description

I have a spider like for a website that has a tree of content like:
[code]

My spider is like this:
[code]
and I added the settings for FIFO crawling as in the [FAQ](https://docs.scrapy.org/en/latest/faq.html#does-scrapy-crawl-in-breadth-first-or-depth-first-order) (including the `CONCURRENT_xxx=1`).

(BTW, is there a typo? `CONCURRENT_REQUESTS_PER_DOMAIN` appears twice: maybe it

[2019-11-19 14:05] mredaelli commented on #4177
Wops sorry, didn't mean to open it. I was only preparing it, pending some checks.

Let me close this for now, and pardon the noise...

[2019-11-19 14:05] #4177 closed

[2019-11-20 03:23] gunblues commented on #4175
@Gallaecio `sys.exit` doesn't work. I've tried before. thanks for your reply

[2019-11-20 05:45] Gallaecio commented on #4175
Oh, right, this is Twisted. See if [this](https://stackoverflow.com/q/5344123/939364) helps.

[2019-11-20 07:57] Gallaecio opened #4180 "Provide built-in SFTP support, discourage FTP"
Scrapy provides built-in support for exporting data through FTP. [FTP is considered insecure](https://bandit.readthedocs.io/en/latest/blacklists/blacklist_imports.html#b402-import-ftplib).

We should consider:
- Adding built-in support for SFTP; see https://github.com/scrapy-plugins/scrapy-feedexporter-sftp
- Discourage FTP usage (through documentation and a warning?)
- Deprecate FTP support?

[2019-11-20 08:49] lopuhin opened #4182 "Spider finshed normally despite an error in start_requests"
This is a usability issue, although I'm not sure it's a good one. This is based on a real case we discovered with @whalebot-helmsman .

Consider a spider which crawls a large list of URLs, and in it's ``start_requests`` method it will loop through urls and yield ``scrapy.Request`` objects. If one URL is invalid, it will fail to create request object, and we'll get ``ERROR: Error while obtaining st

[2019-11-20 08:57] lopuhin commented on #4182
Although that won't help if an error in ``start_requests`` is a different one, not related to invalid URLs.

This case is a bit different, as we'd loose only requests from one page and this is something we half-expect. Although this could be used as a funny anti-bot protection: place an invalid invisible URL first on the page :)

[2019-11-20 10:52] gunblues commented on #4175
this doesn't work either. thanks for your suggestion

[2019-11-21 07:29] Nimit-Khurana commented on #4182
@lopuhin Can you share the code that produces this error?

[2019-11-21 11:56] lopuhin commented on #4182
@Nimit-Khurana sure, here is an example spider:
[code]

[2019-11-21 11:59] lopuhin commented on #4182
Re original issue: another potential solution is to distinguish better between request errors and crashes in the code: right now if we fail to download a URL, and if there is a crash in the spider, both give one more ERROR in the log (and download error also has an entry under ``'downloader/exception_type_count/X``. And this particular crash in the spider is not reflected in the stats in any way,

[2019-11-21 12:55] Gallaecio commented on #4168
Is a bit early to apply. Have a look at https://python-gsoc.org/ for details.

That said, if you want to select Scrapy in your application, it might help you if you start getting yourself familiar with the code base. For that, you could look into fixing some easy issues. See https://docs.scrapy.org/en/master/contributing.html for more information.

[2019-11-21 13:22] #2545 closed

[2019-11-21 14:14] Nimit-Khurana commented on #1615
@redapple Can we make a list of all successful responses and tally the response.status in  `media_downloaded` with that list and reschedule that request (here 201) back to spiders for re-scraping?

[2019-11-21 16:20] Kunal614 commented on #4168
Thank you soo much sir for information .
kindly please help me for joining this organization.

On Thu, 21 Nov 2019 at 18:25, Adrián Chaves <notifications@github.com>
wrote:

[2019-11-21 16:34] Kunal614 commented on #4168
One more thing , when i search for the organization in Gsoc site , I didn't get that scrapy.
so how can  i join.

[2019-11-21 16:39] Gallaecio commented on #4168
You are looking at the 2019 information. In Google Summer of Code 2019 Scrapy was part of the Python organization.

Again, to officially join Google Summer of Code 2020 you’ll need to wait student applications open, in 2020. In the meantime, see https://python-gsoc.org/#gettingstarted

[2019-11-21 16:54] Kunal614 commented on #4168
I am beginner , so please help me in completing all the steps or how to get
start with organization.

On Thu, 21 Nov 2019 at 22:09, Adrián Chaves <notifications@github.com>
wrote:

[2019-11-21 17:13] Gallaecio commented on #4168
There are two things you can do in parallel at the moment:
- Wait until there is a “2020” somewhere in https://summerofcode.withgoogle.com/
- Start [contributing](https://docs.scrapy.org/en/master/contributing.html) small things to Scrapy, so that you are much better prepared to apply once student applications are open

[2019-11-21 17:59] Kunal614 commented on #4168
Where should i contribute , in github scrapy organization ?
Or can you share a link where should i contribute.

On Thu, 21 Nov 2019 at 22:43, Adrián Chaves <notifications@github.com>
wrote:

[2019-11-21 18:07] wRAR opened #4187 "Add new tests for the proxy noconnect mode"
This is related to #2545 and #4114.

Currently we cannot test the proxy noconnect mode because we use mitmproxy as a test proxy and it doesn't seem to support this mode in the current version. Because of that, the tests for this mode are currently disabled.

As described in a comment near the old test functions, now marked as expected failures:

[2019-11-21 20:56] Kunal614 commented on #4168
can i contribute in this scrapy organization ?

[2019-11-21 21:05] Gallaecio commented on #4168
Yes, you can start contributing to https://github.com/scrapy/scrapy

You’ll find details on how to contribute at https://docs.scrapy.org/en/master/contributing.html

[2019-11-22 04:48] Kunal614 commented on #4168
Thanks for all the informations , One more question can i do a pull request of those stuffs that i had made by using scrapy ?

[2019-11-22 08:46] lobstrio commented on #2115
sudo apt install python3.7-dev if you recently upgraded python

[2019-11-22 10:39] Gallaecio commented on #4168
We don’t keep Scrapy projects in the Scrapy repository. But here are a few suggestions on things you can contribute:
- There are [a few good first issues tagged](https://github.com/scrapy/scrapy/labels/good%20first%20issue) that you can look at, although many already have a pull request.
- If you’ve noticed anything missing in the documentation or not explained in enough detail, documentation impr

[2019-11-22 17:44] Abeautifulsnow commented on #2115
Wow, great. I have solved my problems by your answer. This problem has plagued me for a long time.

[2019-11-23 06:30] Nimit-Khurana commented on #4182
@lopuhin
[test_log.txt](https://github.com/scrapy/scrapy/files/3882192/test_log.txt)
spider:-
`def start_requests(self):
 urls = ['https://nsdkjvn.com','http://google.com']
 for url in urls:
  yield scrapy.Request(url=url, callback=self.parse)`

Both the urls were crawled. Is this what you are talking about?

[2019-11-23 06:36] Gallaecio commented on #4182
Your start URLs do not match the log. In the log I see “http://fffgoogle.com/robots.txt”.

[2019-11-23 15:17] Nimit-Khurana commented on #4182
@Gallaecio Sorry. The log is of url http://fffgoogle.com same as in the spider.

[2019-11-23 16:08] Kunal614 commented on #4168
can you elaborate third point ?

On Fri, 22 Nov 2019 at 16:09, Adrián Chaves <notifications@github.com>
wrote:

[2019-11-23 19:04] Gallaecio commented on #4168
In Scrapy we have automated tests, code that checks whether Scrapy functionality behaves as designed. We run the automated tests after every change, to make sure that changes do not break existing functionality.

You can find Scrapy’s automated tests in the `tests` folder.

Test coverage is data generated while running the automated tests that indicates which lines of the Scrapy codebase has been

[2019-11-24 04:35] mani619cash opened #4189 "How to print Chinese/Japanese while yielding items in Scrapy?"
I tried `yield`ing `scrapy.Item` from Pipeline class and also tried `yield`ing dict directly
but in console, it shows like `\uc18c\uac1c\uae30\uc0ac`

Whereas I print with `logging.info(item)` it shows Chinese/Japanese correctly

i tried

    LOG_ENCODING = 'utf-8'

in `settings.py` but does not work

So, my question is, how do I make Scrapy print Chinese/Japanese characters in console when `yield

[2019-11-24 08:43] Kunal614 commented on #4168
ohh thanks ..... that means doing correction  in the code someone , right.

[2019-11-24 09:28] Gallaecio commented on #4189
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-11-24 09:28] #4189 closed

[2019-11-25 08:44] WalkOnMars commented on #2941
amazing solution!!! thanks a lot~~

[2019-11-25 10:50] Gallaecio commented on #3693
With this, and pointing all requests to the same domain, does the number of responses per time match expectations? That’s the goal of concurrency settings.

[2019-11-27 11:00] VMRuiz opened #4196 "Update spider settings during runtime"
## Summary

It should be possible to update some of the jobs settings  while they are running. This would be specially useful for the settings related to crawling speed.

## Motivation

I have experienced several cases where the crawl speed was too slow because `CONCURRENT_REQUEST` was set too low initially, or for other external reasons like changes on the website availability or in proxies respo

[2019-11-28 12:51] lizhaode opened #4200 "How to limit memory use when download big file"
### Description

when download big file, memory use high

### Steps to Reproduce

in my scenario, I will download video files, so the file is big, but my machine's memory only 1G with debian9

so how to limit scrapy memory use?

Thx

[2019-11-28 14:52] Gallaecio commented on #4200
I think we could close this in favor of #3880. The ability to stream responses would definitely allow downloading big files without taking a big memory hit.

[2019-11-29 01:51] lizhaode commented on #4200
Yes, I agree, through `requests` , we can use `stream=True`  and `response.iter_content` to download big file to avoid use high memory, but I don't know how to use twisted to achive this

[2019-11-29 07:43] #4200 closed

[2019-11-30 04:44] lizhaode commented on #4200
@Gallaecio
Has any plan to impl this feature? Please told me, many thanks

[2019-11-30 07:25] Gallaecio commented on #4200
We definitely want to implement it eventually, but I am not aware of anyone who plans to work on it in the short term.

[2019-11-30 13:37] ArionMiles commented on #2941
@WalkOnMars I later found out this method is not recommended. There's a better way to do this, which is to spawn a separate process which executes the spider when your bot function is executed.

This SO answer has a code example with it:
https://stackoverflow.com/a/43661172/5129096

And this is how I've used the above answer in my own code:
https://github.com/ArionMiles/MIS-Bot/blob/master/mis_bot

[2019-11-30 14:24] negswell commented on #4196
can we use asyncio for this ? running the spiders concurrently will optimize  the performance , by setting  the timeout raised as an await condition we can ensure that multiple processes don't get bugged by some ?

[2019-11-30 15:23] Kunal614 commented on #4168
when choosing of organization will start in gsoc?

[2019-11-30 23:31] vionemc opened #4202 "Does scrapy view uses active project settings"
Does scrapy view uses active project settings? Especially middleware. I want to use scrapy fake user agent and scrapy crawlera on scrapy view.

[2019-12-01 17:09] Gallaecio commented on #4168
Sometime at the beginning of 2020

[2019-12-01 17:15] Gallaecio commented on #4202
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-12-01 17:15] #4202 closed

[2019-12-01 17:30] Davetheraveuk opened #4204 "[HELP] scraper not scraping field “Description”"
I wish to add an extra field from the website the scraper is scraping from.
The column header "Description" is created in the CSV database but nothing is scraped.
Below is the contents of scraper.py

[code]
Thank you.
David.

[2019-12-02 08:06] Gallaecio commented on #4204
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-12-02 08:06] #4204 closed

[2019-12-02 09:11] wRAR commented on #4196
@negswell asyncio doesn't provide any concurrency benefits over twisted, does it?

[2019-12-03 08:14] #3574 closed

[2019-12-03 13:59] michael-shub commented on #3991
Hi! I've recently built small visual tool which help to translate curl requests to scrapy code.
Here's a link https://michael-shub.github.io/curl2scrapy/
and here's github page: https://github.com/michael-shub/curl2scrapy

[2019-12-03 14:26] andrewbaxter commented on #3991
Whoah awesome, maybe it doesn't need to be a command line thing anyway.

[2019-12-03 14:29] andrewbaxter commented on #3991
@michael-shub that would be awesome to have in https://github.com/croqaz/awesome-scrapy (:sweat_smile: ) if you'd be interested in making an issue there.

[2019-12-03 15:08] noviluni commented on #3991
Hi @michael-shub
Good initiative! I used to use the _Trillworks Curl Tool_ in the past and it helped me a lot.

It could be a really good idea to add some tests to your project. I tried with some simple examples like `curl http://example.org/` or using an URL without the schema and it wasn't handled correctly. If you want to take some ideas you can grabb them from this file: https://github.com/scr

[2019-12-03 15:25] Gallaecio opened #4206 "Cover https://michael-shub.github.io/curl2scrapy/ in the documentation"
See https://github.com/scrapy/scrapy/issues/3991#issuecomment-561179895

In the parts of the documentation where we currently cover `Request.from_curl` we may want to mention this online tool as well.

[2019-12-03 15:30] michael-shub commented on #3991
Hi @andrewbaxter , @noviluni , @Gallaecio  thanks for your feedback!
Yes, this tool was inspired by Trillworks curl tool. I was using it for.. like... years and always needed curl to scrapy syntax.
The curl2scrapy tool is quite raw and buggy. I will fix it eventually if you find this tool useful (:
The purpose if its creation was to interpret browser curl request to scrapy syntax, for some reason

[2019-12-03 16:53] Kunal614 commented on #4168
thanks for alll

[2019-12-03 16:53] #4168 closed

[2019-12-04 15:11] Endi1 opened #4211 "SitemapSpider throws lxml.etree.XMLSyntaxError when trying to scrape a blank sitemap page"
### Description

`SitemapSpider` throws a `lxml.etree.XMLSyntaxError` when hitting a blank sitemap page while crawling a sitemap.

### Stack trace
[code]

### Steps to Reproduce

1. Crawl sitemap with at least a blank `.xml` page

**Expected behavior:**
Handle the `XMLSyntaxError` by logging a warning for an invalid sitemap page and returning.

**Actual behavior:**
Throws `XMLSyntaxError`

### Ver

[2019-12-05 04:53] leohsuofnthu commented on #4206
Hi, I am new to Github's contribution. I would like to contribute to this issue :)

[2019-12-05 12:47] #4133 closed

[2019-12-05 13:38] Gallaecio opened #4216 "Cover arbitrary filtering in the Scrapy logging documentation"
It should be clear, from reading the documentation, how to filter out a specific log message that we wish to ignore.

This is specially important for warnings that depend on input, like the one introduced in #4214. Since you seldom have the power to fix the issue that triggers the warning message, caused by the content or behavior of the website you are scraping, you may need to simply ignore thos

[2019-12-05 15:10] michael-shub commented on #3991
Updated curl2scrapy a bit. Now seems to be working with simpler curl requests.
Also added onPaste handler to avoid pressing extra buttons and save your time.

[2019-12-05 19:38] Gallaecio opened #4217 "DOWNLOAD_FAIL_ON_DATALOSS warning is logged for all requests"
[code]

This message is logged every time you get data loss on a request.

I’ve had a quick lock at the code, and it figures, since the flag to avoid repeating the message is stored on a `_ResponseReader` instance, and for each response a new `_ResponseReader` instance is created.

Relates to #2590 (original implementation).

[2019-12-06 11:15] JordanKadish commented on #3585
Also ran into this issue today. Not quite sure what this key does

[2019-12-07 05:16] myuanz commented on #3743
Give another possible reason: when an uncaught exception occurs, it will appear.
I meet it today.

[2019-12-08 09:30] imaxwen opened #4220 "cookiejar not updated while the request retried by RetryMiddleware"
### Description

Enabled both `RetryMiddleware` and `CookiesMiddleware` in my project,
Every time after retried, the cookie not `updated`

### Steps to Reproduce

`settings.py`
[code]

Do I need to update the cookie manually?  or any thing I missed?
Please Help!

**Expected behavior:** Auto update cookies in cookiejar after request retried.

**Reproduces how often:** Every time while the RetryMidd

[2019-12-08 09:37] grammy-jiang commented on #4041
[Monkeytype](https://github.com/Instagram/MonkeyType) maybe a good choice to automatically add typing hint for existing code:

[Let your code type-hint itself: introducing open source MonkeyType](https://instagram-engineering.com/let-your-code-type-hint-itself-introducing-open-source-monkeytype-a855c7284881)

[2019-12-08 11:19] mirceachira commented on #4206
@Gallaecio something something as simple as #4221 ?

[2019-12-08 14:27] Lightjohn opened #4222 "SCRAPY_CHECK is not set while running contract"
### Description

Hi, it seems that #3739 is not doing what the [documentation describe](https://docs.scrapy.org/en/latest/topics/contracts.html#detecting-check-runs):

`os.environ.get('SCRAPY_CHECK')` is returning `None` in my contract check.

### Steps to Reproduce

1. Create a project from scratch
2. Add a random spider
3. Contract code is as follow
[code]

**Expected behavior:** Request should

[2019-12-08 14:35] abtisam opened #4223 "scrapy crawl quotes - not working on MAC"
I am trying to run demo project for the first time but it will not executed successfully.
I got given below error.

(base) 192:tutorial air$ scrapy crawl quotes
2019-12-08 19:30:17 [scrapy.utils.log] INFO: Scrapy 1.8.0 started (bot: tutorial)
2019-12-08 19:30:17 [scrapy.utils.log] INFO: Versions: lxml 4.4.1.0, libxml2 2.9.9, cssselect 1.1.0, parsel 1.5.2, w3lib 1.21.0, Twisted 19.10.0, Python 3.7.

[2019-12-08 14:42] abtisam commented on #4223
I just download the **protego** package & projects executed successfully.

[2019-12-08 14:42] #4223 closed

[2019-12-09 12:32] Gallaecio commented on #4145
Protego 0.1.16 fixes this issue.

[2019-12-09 12:32] #4145 closed

[2019-12-09 16:14] BLACKDONGG opened #4224 "Crawled (404) But in the Browser is OK"
When I use the scrapy to crawl the website get a 404!
But I have set USER_AGENT,
This is my scrapy spider's code：
# -*- coding: utf-8 -*-
import scrapy

class TestSpider(scrapy.Spider):
    name = 'Test'
    allowed_domains = ['https://y.qq.com']
    start_urls = ['https://y.qq.com/n/yqq/playlist/7323933054.html#stat=y_new.playlist.pic_click']
    header = {
        "Host": "c.y.qq.com",
        "

[2019-12-09 16:23] Kunal614 commented on #4224
Is there any option for login on that page?

[2019-12-09 16:26] Kunal614 commented on #4224
Go to setting.py and make
ROBOTSTXT_OBEY = False
 then try

[2019-12-09 17:17] Gallaecio commented on #4224
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-12-09 17:17] #4224 closed

[2019-12-09 17:22] Gallaecio commented on #4222
The variable is only defined at initialization, not at run time. If you have a look at the code example from the documentation, you’ll notice that it is used in `__init__`, not in a callback. I think this is on purpose, although it could be more clear in the documentation.

I’m turning this ticket into a documentation enhancement request. If you would rather it be a request to have the environment

[2019-12-09 17:35] Gallaecio commented on #4220
Your code does not indicate that cookies are being ignored on retries. Please, unless you have reason to believe that the issue is a bug in Scrapy, and you can provide a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#g

[2019-12-09 17:35] #4220 closed

[2019-12-09 17:54] Lightjohn commented on #4222
Thanks for the quick answer.

I think it could be nice to have it available for the callback running in check mode.
At least it would make sense to me that the ENV variable is set all the time while check.

But from there I can definitely build the check awareness feature that I want from `__init__` very easily.

[2019-12-09 18:24] luchiago commented on #4217
Hi @Gallaecio, I'm a newcomer and I would like to give a try on this.

[2019-12-09 18:39] Gallaecio commented on #4217
Go ahead. Although I’m note sure it is best suited for a newcomer; don’t feel bad it seems overwhelming, the affected parts of code are rather complex, it may take some code reading.

[2019-12-09 19:36] dankeil opened #4225 "File extension not extracted from URLs with query parameters"
### Description

When using the built-in FilesPipeline, files downloaded from URLs which include query parameters will often be saves without an extension, causing potential problems for downstream processing.

### Steps to Reproduce

1. Apply the patch below
2. Run `pytest tests/test_pipeline_files.py -k test_file_path` from the root scrapy directory

**Expected behavior:** file_path() will retur

[2019-12-10 08:14] #4075 closed

[2019-12-10 19:51] elacuesta commented on #4222
While I agree that the current behaviour does match the docs, I wonder if this isn't a reasonable use case. From a very quick look, it seems like it could be solved by just including the next code block in the `set_environ` context manager:

[code]

Any thoughts?

[2019-12-10 20:07] Gallaecio commented on #4222
I have no strong opinion either way.

@Matthijsy Do you remember if you had a reason not to apply the environment variable at run time?

[2019-12-11 06:53] Matthijsy commented on #4222
I am not sure why I did it that way. I think it would be fine to include the check run itself in the environment variable block as well.

[2019-12-11 07:03] saaiprakash1 commented on #2431
requests==2.22.0
Scrapy 1.8.0
Python 3.5.2

same issue for me also
The HTML text in the response from scrapy.Request is different from the one obtained with requests.get

error --->> "Session Timed Out. Please Login Again!" in html page
using requests.get  I am getting data in html

[2019-12-11 23:30] Trangle91 commented on #1126
Thanks. It's very helpful!

[2019-12-12 05:19] zyuchuan opened #4228 "Incorrect scrapy.Item when trying to download multiple files from a web page"
### Description

I'm using `scrapy.pipelines.files.FilesPipeline` to download all midi file from [midiworld.com](https://www.midiworld.com/search/1/?q=classic), this is a simple task and there millons of sample code on internet, so no doubt my spider works fine, until I check the log:
[code]

Check the `files_urls` and `files::url`, they are different, which is not correct!

The problem cames from

[2019-12-12 05:30] RaoTauqeerSajid commented on #2431
Thanks for your reply

On Wed, Dec 11, 2019, 12:03 PM saaiprakash1 <notifications@github.com>
wrote:

[2019-12-12 10:35] Gallaecio commented on #4228
From your workaround (using `copy.deepcopy`) it sounds like the issue is in the way you are building the items you yield. Could you provide a [minimal](https://stackoverflow.com/help/minimal-reproducible-example) spider that can be used to reproduce this issue?

[2019-12-12 10:52] #4136 closed

[2019-12-13 02:18] zyuchuan commented on #4228
Here you go: https://github.com/zyuchuan/mini_spider

[2019-12-13 09:53] Gallaecio commented on #4228
As suspected. You need to move `item = MiniItem()` within the loop below. You are creating a single `item` element and then modifying it, and yielding the same item, modified, every time.

[2019-12-13 09:53] #4228 closed

[2019-12-13 12:39] Apuyuseng opened #4229 "mail attachs tcmime***"
[code]

get mail
<img width="584" alt="截屏2019-12-13下午8 34 15" src="https://user-images.githubusercontent.com/17330686/70800846-45ddbf80-1de8-11ea-9a6f-d44b13791c20.png">

why attachs `为了媳妇去修仙.zip` change  to `tcmime.954.1140.14065.bin `

[2019-12-13 12:52] Gallaecio commented on #4229
I don’t see any code in Scrapy that would cause that. Can you try doing the same process with any other email-deliverying library? It looks to me like one of the mail servers, either the one sending the email or (most likely) the one receiving the email are renaming the attachment for security reasons.

[2019-12-13 13:15] Gallaecio opened #4230 "Get CrawlerProcess tests into the coverage data"
The tests added at #4218 don’t seem to be taken into account by coverage data, probably due to the usage of `subprocess`. We need to find a way to get this data taken into account in test coverage resports.

[2019-12-13 15:17] Apuyuseng commented on #4229
change code scrapy/mail.py line 76

[code]
attachment normal.

![image](https://user-images.githubusercontent.com/17330686/70810394-a5df6080-1dfe-11ea-9342-8b57e51a9076.png)

before old code not friendly for  Chinese.

[2019-12-13 16:52] Gallaecio commented on #4229
Can you try with the same file and filename?

[2019-12-13 17:46] Apuyuseng commented on #4229
![image](https://user-images.githubusercontent.com/17330686/70820171-ff518a80-1e12-11ea-907b-c9a790f79901.png)

![image](https://user-images.githubusercontent.com/17330686/70820139-e3e67f80-1e12-11ea-8e20-49edc922b1e2.png)

[2019-12-13 17:58] Apuyuseng commented on #4229
When the file name consists of alphanumeric characters, it is normal to receive the attachment name.
However，However, problems will occur if the file name is changed to Chinese.
This has nothing to do with the file type

[2019-12-14 18:10] akamanzi commented on #4216
@Gallaecio, i would like to try to contribute to this issue. it is my first time contributing, would this be a good fit for me? if Yes, any pointers on where to start on this issue?. i have read the contributing to scrappy documentation. any other pointers are welcome.

Thank you

[2019-12-15 08:26] Kunal614 opened #4232 "I have a problem with login in amazon using scrapy"
<pre>
import scrapy
from scrapy.http import FormRequest
from ..items import AmazonLoginItem
from scrapy.utils.response import open_in_browser

class amazon(scrapy.Spider):
    name='amazon'
    start_urls=[
            'https://www.amazon.com/ap/signin?accountStatusPolicy=P1&clientContext=258-3200785-8273163&language=en_US&openid.assoc_handle=amzn_prime_video_desktop_us&openid.claimed_id=http%3A%2

[2019-12-15 08:27] Kunal614 commented on #4232
In email and password i entered my email and password.

[2019-12-15 10:12] noviluni opened #4233 "Missing the Scrapy entry in Wikipedia in many languages"
This is not an issue related with the code itself but with Scrapy.

I've seen that the only Wikipedias with the Scrapy entry are:

* English: https://en.m.wikipedia.org/wiki/Scrapy

* French: https://fr.m.wikipedia.org/wiki/Scrapy

* Polish: https://pl.m.wikipedia.org/wiki/Scrapy

* Chinese: https://zh.m.wikipedia.org/wiki/Scrapy

I think it could be a good idea to create this issue and tag it as

[2019-12-15 15:32] mohmad-null commented on #4073
It'll probably work but it's not elegant.

[2019-12-15 15:44] mohmad-null commented on #3693
@GeorgeA92 , @Gallecio
Nice ideas. So I've investigated a little further.

Scrapy 1.7.3
These settings:
[code]

Using a single crawler I'm seeing speeds of around 600 requests per minute, (so about 10 per second).
However Process Explorer is showing about 300 open connections!

So each request is on the Process Explorer page for about 30 seconds?

If I lower `CONCURRENT_REQUESTS = 8`, I now see ab

[2019-12-15 16:40] noviluni commented on #4232
Thanks for the code, but could you kindly put the error you had here too?

[2019-12-15 18:33] noviluni opened #4234 "The line length is not consistent through the whole project"
Before adding the flake8 checker, we were allowing any line length, recommending people to follow pep8 (79 characters) but allowing any length “if it improves readability”.

When adding the flake8 checker we needed to add the E501 rule exception to most of the files (https://github.com/scrapy/scrapy/blob/master/pytest.ini), so technically, **now we are allowing any line length in those files and a

[2019-12-15 18:41] noviluni commented on #2144
@Gallaecio @wRAR I think this issue could be closed as since we merged this: https://github.com/scrapy/scrapy/pull/3945 we are actively enforcing pep8 and fixing the current code rule by rule.

[2019-12-15 19:01] wRAR commented on #2144
Indeed.

[2019-12-15 19:01] #2144 closed

[2019-12-15 20:10] Kunal614 commented on #4232
![Screenshot from 2019-12-15 14-09-36](https://user-images.githubusercontent.com/43969265/70868260-f2fd3700-1fa4-11ea-834f-e1608b0ee6b7.png)

[2019-12-16 08:54] Kunal614 opened #4235 "Problem in downloading the images using scrapy"
<pre>
import scrapy
from ..items import DownloadItem
from scrapy.utils.response import open_in_browser
from scrapy.loader import ItemLoader

class image(scrapy.Spider):
    name='image'
    allowed_domains=['www.google.com/search?biw=923&bih=759&tbm=isch&sxsrf=ACYBGNT1fy79gOV2O7XhJeKDIqQ814ST0w%3A1576485570813&sa=1&ei=wkL3Xb6VMZryrAH3tL2IAg&q=nature&oq=nature&gs_l=img.3..0i67l3j0j0i67l2j0l4.22803.

[2019-12-16 08:55] wRAR commented on #4232
There is no errors in this log.

[2019-12-16 08:59] Kunal614 commented on #4232
Then why image folder remains empty

[2019-12-16 08:59] Kunal614 commented on #4232
Then what is the problem?

[2019-12-16 10:21] tomkeegan commented on #3067
I'm running into the same issue right now. Did you ever find an explanation for why this was happening?

[2019-12-16 11:00] theduman commented on #3067
@tomkeegan I don't remember exactly but it was related with `yield` somehow

[2019-12-16 14:17] elacuesta commented on #4232
Please use the ["scrapy" tag at StackOverflow](https://stackoverflow.com/questions/tagged/scrapy) for questions like this. We use the GitHub issue tracker for bug reports and feature requests. See also: [Getting help](https://docs.scrapy.org/en/latest/#getting-help)

[2019-12-16 14:17] #4232 closed

[2019-12-16 17:45] wRAR commented on #4235
https://github.com/scrapy/scrapy/issues/4232#issuecomment-566080027 applies to this too.

[2019-12-16 17:45] #4235 closed

[2019-12-16 17:47] wRAR commented on #4234
Thank you for filing this. The maintainers are aware but we didn't decide on any value yet.

I think the consensus is that we want a single specific value and that it shouldn't be too large like 120, but there was no strong and identical opinions whether it should be about 80, about 100 or something else.

[2019-12-16 18:12] noviluni commented on #4234
Hi @wRAR
is good to know that the mantainers are already aware of this. However, I'm not sure what is blocking this to be decided...¿?

I wrote arguments about why should this be addressed: lack of consistence through the code, maintaining difficulties, different rules per file in the flake8 pipeline (any length when the file has the rule E501 excluded, 79 characters when it hasn't)...

If you pre

[2019-12-16 18:24] wRAR commented on #4234
Nothing, I think. It just needs to be done :)

I don't remember the reasons to be honest, I'm personally fine with any line lengths.

We just voiced our opinions and while everybody has some personal prefs, nobody strongly wanted  a certain value to be set for the project.

Oh, and there is another thing to consider: E501 is the most probable error to get for a random PR of a random person, and no

[2019-12-16 20:26] noviluni commented on #4234
Good to know!

It should be as easier as adding the line length decision here: https://docs.scrapy.org/en/latest/contributing.html#coding-style

I think that it shouldn't be necessary to pass flake8 locally as it is included in the testing suite. If those random people write something liable to have a long line they should probably pass the tests locally and if they don't do it I think they would

[2019-12-16 23:45] grammy-jiang commented on #4041
I have tested [MonkeyType](https://github.com/Instagram/MonkeyType). I get the following conclusions:

- MonkeyType only add typing hint to the input (arguments) and output (return) of the methods which are tested in the test cases
- Because the input (arguments) may be mocked in the test cases, the typing hint  may include this mocked objects' types, which is not accurate
- The **from_crawler** c

[2019-12-17 09:23] laurentS commented on #4041
@grammy-jiang it sounds similar to mypy's `stubgen`, except the later only does a static analysis of the code. In my experience, the stubs that it produces still require manual adjustments. I don't know how it compares to MonkeyType, in terms of quality of results. Have you checked?

[2019-12-17 10:56] laurentS commented on #4041
I just came across [pyannotate](https://github.com/dropbox/pyannotate) which does essentially the same job as `MonkeyType`. It might be interesting to compare their outputs.

[2019-12-17 11:02] kmike commented on #4041
My 2c: I'd prefer high-quality type coverage of a small user-facing part of the Scrapy, over extensive automatically generated type hints, some of them incorrect.

[2019-12-17 12:38] grammy-jiang commented on #4041
@laurentS Yes, Monkeytype just create stub files first then you can choose to add typing hint to the code manually. The output of Monkeytype is not high quality, not at all.

@kmike if you want to a high-quality typing hint, I am afraid manually adding typing hint is the only way at this moment.

[2019-12-17 14:31] Gallaecio commented on #4216
For this specific issue, I would recommend to:
1. Have a look at the [Scrapy logging documentation](https://docs.scrapy.org/en/latest/topics/logging.html)
2. Find out how to filter out messages based on the message contents (not just the log level). We probably want to cover how to filter out based on a substring or a regular expression. There are probably many resources out there to learn how to

[2019-12-17 14:35] Gallaecio commented on #4233
As long as the work is done following the guidelines of the corresponding Wikipedia projects, I think this is OK and a nice goal.

[2019-12-17 14:43] #4229 closed

[2019-12-17 14:45] Gallaecio commented on #3511
Anyone willing to translate the Scrapy documentation once it is possible, please also consider [working on a Scrapy article for the Wikipedia in your language](https://github.com/scrapy/scrapy/issues/4233).

[2019-12-17 14:51] ejulio opened #4240 "Wrong response type for binary responses"
### Description

Binary (file) responses are identified as `TextResponse` instead of a plain `Response` in `spider.parse`.

### Steps to Reproduce

From this URL https://www.ecb.europa.eu/press/pr/date/2004/html/pr040702.en.html
We can get this link https://www.ecb.europa.eu/pub/redirect/pub_5874_en.html (text is `pdf 1692 kB`).
It redirects to https://www.ecb.europa.eu/pub/pdf/other/developmentst

[2019-12-17 14:56] Gallaecio commented on #3693
Should we close this in favor of https://github.com/scrapy/scrapy/issues/2653?

[2019-12-17 16:20] Gallaecio commented on #4230
I think I was wrong. I’ve just tested `tox -e py36 -- tests/test_crawler.py::CrawlerProcessSubprocess`, and changing `env=get_testenv()` to `env=None` there makes a difference in coverage, (19% → 27%), so I think it _is_ taken into account.

I do not remember why I thought it was not taken into account. Serves me right for not making the report more detailed.

[2019-12-17 16:20] #4230 closed

[2019-12-17 16:37] noviluni commented on #4233
Added Spanish version: https://es.wikipedia.org/wiki/Scrapy (feel free to edit or add more info). :tada:

[2019-12-18 08:06] noviluni commented on #4233
For those who want to contribute, you can find here a video explaining how to start a translation from another language: https://en.wikipedia.org/wiki/Wikipedia:Translation#How_to_translate

And here some relevant info about their polices and guidelines:
* _Ten simple rules for editing Wikipedia_: https://en.wikipedia.org/wiki/Wikipedia:Ten_simple_rules_for_editing_Wikipedia
* _List of polices and

[2019-12-18 10:41] royahsan opened #4241 "Non Blocking processing of a request by downloader middleware."
## Summary
Can we Support returning `Deferred` object in `request_reached_downloader` signal, or in downloader middleware process_request method.
Sorry if I am missing something very basic here as I am unfamiliar with internal architecture.

## Motivation
Consider the following potential use cases:
1) A ReCaptcha token is to be solved and inserted by downloader middleware. (It cant be inserted whi

[2019-12-18 11:11] #4187 closed

[2019-12-18 11:19] Gallaecio commented on #4241
https://docs.scrapy.org/en/latest/topics/downloader-middleware.html#scrapy.downloadermiddlewares.DownloaderMiddleware

[2019-12-18 11:19] #4241 closed

[2019-12-18 11:27] royahsan commented on #4241
@Gallaecio, Sorry my bad I read every letter of the process_request function but missed that note! :(

[2019-12-18 14:11] GeorgeA92 commented on #4240
@ejulio, @Gallaecio
`ScrapyAgent._cb_bodydone` method.. chooses response class:
https://github.com/scrapy/scrapy/blob/e22a8c8c36e34ffaf12ef9e330624df654582605/scrapy/core/downloader/handlers/http11.py#L395-L400
`responsetypes.from_args` method performs several checks with following logic:

- default response type is plain `Response`,
- if scrapy identify something that require another response cla

[2019-12-18 14:36] #4040 closed

[2019-12-19 12:40] ejulio opened #4250 "Batch deliveries for long running crawlers"
## Summary

Add a new setting `FEED_STORAGE_BATCH` that will deliver a file whenever `item_scraped_count` reaches a multiple of that number.

## Motivation

For long running jobs (say we are consuming inputs from a working queue) we may want partial results instead of waiting for a long batch to finish.

## Describe alternatives you've considered

Of course we can stop and restart a spider every n

[2019-12-19 14:36] YohanObadia commented on #2206
The correct syntax should be:

    for li in response.xpath('//ul/li'):
         print Selector(text=li.extract()).xpath('./li/text()').extract()

Note the `.li` instead of the `//li`.

[2019-12-20 08:34] wRAR commented on #4250
This will need unique file names, right?

[2019-12-20 09:06] luoqishuai opened #4251 "how to solve Connection was closed cleanly . scrapy flask gevent Process"
Description
scrapy code
[code]
flask gevent code
[code]
scrapy is responsible for sending post requests to my service, and the service is responsible for processing post requests and returning calculation results
However, scrapy will soon catch in middlwares when making a request. ```/Scrapy_spider_9.log:2019-12-20 16:13:50 [root] INFO: get url https://news.10jqka.com.cn/tapp/news/ share / 6161268

[2019-12-20 10:49] ejulio commented on #4250
Indeed.
When I wrote it at first, I was thinking about templates.
One simple alternative, would be to force `%(time)s` when this is set, so we are sure the file names will be different

[2019-12-20 17:46] #3484 closed

[2019-12-21 22:06] GeorgeA92 commented on #4196
@VMRuiz , @Gallaecio , @wRAR
1. Nearly all scrapy submodules/middlewares/extenstions (with few exceptions) read `settings` attributes only one time before spiders `start_requests` method called.
2. Even if You somehow change some setting attribute after `start_requests` (or after `spider_opened` signal) - it will not change scraping process because of p.1

From my point of view on current versions

[2019-12-22 19:21] SwapnilSoni1999 commented on #1823
omg thanks alot <3

[2019-12-22 23:39] akamanzi commented on #4216
@Gallaecio, Thank you for getting back to me.
Let me attempt to look on how to filter based on the log message.
Do i need to do both using regular expression and message content or i may cover any of the two?

[2019-12-23 09:36] mredaelli opened #4253 "Settings, multiple concurrent spiders, and middlewares"
This is more of a question than a feature request, but I guess I can translate it to a request for an enhancement of the documentation.

This is a question I posted on [StackOverflow](https://stackoverflow.com/questions/59424281/scrapy-settings-multiple-concurrent-spiders-and-middlewares), where I didn't get any answers:

=========================

I'm used to running spiders one at a time, becaus

[2019-12-23 12:27] elacuesta commented on #4253
1) There is a 1:1 relationship between `Crawler` and `Spider`. The `CrawlerRunner.crawl` method [creates a new `Crawler`](https://github.com/scrapy/scrapy/blob/1.8.0/scrapy/crawler.py#L183) for each spider it gets.
You can also check it empirically:

[code]

[code]

2) There is one (downloader/spider) middleware manager for each crawler, which in turns creates one instance of each specific Middlew

[2019-12-23 12:42] Gallaecio commented on #4251
Does it happen with every single request from Scrapy, or only with some? Does it happen with other HTTP clients? (Python Requests, cURL)?

[2019-12-23 12:46] Gallaecio commented on #4216
I think substrings should be fine, it should be trivial for users to go from that to regular expressions in needed. You could alternatively mention that something other than substrings may be used, and mention regular expressions linking to https://docs.python.org/3/library/re.html

[2019-12-23 12:53] vaibhavdesai16 commented on #3628
@Gallaecio  is there pull request for this enhancement? I am interested to contribute.

[2019-12-23 13:05] Gallaecio commented on #3628
No pull request at the moment.

[2019-12-23 13:25] mredaelli commented on #4253
I see, thanks!

In that case:

- why do you pass a `spider` argument in the middleware callbacks? Couldn't you simply store the spider in a field of the middleware itself?
- would it be possible to give access to each spider to its own middleware instances, since they are basically owned by the spider?

[2019-12-23 14:09] elacuesta commented on #4253
1) I couldn't find a specific commit or PR, but there was a time in which the `crawl` command was able to get multiple spider arguments. I suspect this might be the reason, but to be honest I'm not entirely sure.
2) You can access the installed middlewares though the `ExecutionEngine` object:

[code]

[code]

[2019-12-23 14:10] mredaelli commented on #4253
Ahhh, thank you very much!

[2019-12-24 08:37] mredaelli opened #4255 "Settings.getlist default value"
Not sure if I'm reading this wrong, but I don't understand why this function has a default of `None`, but can actually never return it, because of the `or` at [this line](https://github.com/scrapy/scrapy/blob/master/scrapy/settings/__init__.py#L174).

In my use case it would be handy to distinguish between being passed nothing (getting a `None`) and an empty list.

[2019-12-24 09:18] Gallaecio commented on #4255
Then for your use case use `get` instead of `getlist`.

`get` is meant to ensure the caller that the received value is a list. The reason why `None` is used in the call arguments instead of an empty list is [explained here](https://docs.python-guide.org/writing/gotchas/#mutable-default-arguments).

[2019-12-24 11:54] YanzhongSu opened #4256 "Capture scrapy spider status (Success and failure)"
I just started using scrapy. Now I am trying to migrate some of the old crawlers (simple python requests) to scrapy.

One thing I am struggling with is figuring out a way to capture the status of scrappy spider. In the old crawl script, I have a decorator called **task** that would decorates the script start function. The code snippet is like this:

    @task(task_name='tutorial',
          alert_

[2019-12-24 11:58] Gallaecio commented on #4256
This is a question, not a feature request or bug report. It’s great that you’ve already posted this to StackOverflow, no need to create a ticket here.

[2019-12-24 11:58] #4256 closed

[2019-12-24 13:42] elacuesta commented on #2323
Working since (at least) [`w3lib 1.17.0`](https://github.com/scrapy/w3lib/releases/tag/v1.17.0) and [`scrapy 1.4.0`](https://github.com/scrapy/scrapy/releases/tag/1.4.0):

**Python 3**
[code]

[code]

**Python 2**
[code]

[code]

[2019-12-24 13:42] #2323 closed

[2019-12-25 21:28] datasharq commented on #3475
This is an old post, but I just ran into the same problem today with Python 3.7 / Jupyter Lab. In my scenario I had an original Notebook with several cells containing model classes, and it was getting hard to read. I saved several cells as a new Notebook and tried to import that. Fail. Then I renamed the Notebook into a Python file and tried to import THAT. That's when I got the same error as the

[2019-12-27 15:02] akamanzi commented on #4216
@Gallaecio, i created a pull request (#4257 ) for this. could you review and get back to me with your feedback.

Thank you

[2019-12-29 02:16] blshkv commented on #4117
That's a grsec-grsec kernel specific problem. If you check dmesg logs, you would see the message what it killed the python call.

[2019-12-29 19:56] #4034 closed

[2019-12-30 07:06] luoqishuai commented on #4251
only with some.
I think it may be that the CPU resources are insufficient, causing some requests to be delayed. I think the problem should be in the mechanism of gevent.

[2019-12-30 07:06] #4251 closed

[2019-12-30 08:06] Gallaecio commented on #4251
Scrapy uses a per-domain concurrency of 8 by default. If gevent is not ready for 8 concurrent requests, that could explain it.

[2019-12-30 08:20] luoqishuai commented on #4251
My setting.py :
[code]
Another phenomenon is that scrapy sends a request, and then quickly returns an error that the connection was cleaned up. However, after 8 seconds, gevent showed that the request was received and then processed it.

So who cleans it up, is scrapy automatically cleaned up because of too many requests, or gevent cleans up because of too many concurrents. Both have mechanisms to

[2019-12-30 08:24] luoqishuai commented on #4251
2019-12-20 16:13:50 scrapy:The request has been sent and returned an exception.
2019-12-20 16:13:58 gevent console :Shows that there is a request coming.
2019-12-20 16:13:58 gevent Calculate the request

[2019-12-30 10:02] StasDeep opened #4260 "First Spider Middleware does not process exception for generator callback"
### Description

`process_spider_exception` method of a spider middleware is ignored when spider middleware is first and callback is a generator.

### Steps to Reproduce

1. Create spider middleware with defined `process_spider_exception`
2. Put it into `SPIDER_MIDDLEWARES` with number more than `900` (to make it first)
3. Raise an exception in a spider callback
4. UPD. Yield an item from the call

[2019-12-31 04:43] elacuesta commented on #4260
Could you provide some code and logs? I could not reproduce the issue, either with `1.7.1` (your version) or with `1.8.0` (latest version). I assigned both `1` and `901` to the middleware, and the exception is caught regardless (please see [the diagram in this comment](https://github.com/scrapy/scrapy/pull/2061#issuecomment-406371658), the last `process_spider_exception` method to be executed is t

[2020-01-01 09:46] BenjaminHoegh opened #4262 "how to not follow links there are lower depth than start_urls"
How do I make Scrapy to not follow links there go to a url with lower depth than the one I defined in `start_urls`

Example

if I wanna follow all links from the position _example.com/shop/_

| Link  | Follow  |
|---|---|
| example.com  | no  |
| example.com/shop/32  | yes  |
| example.com/shop/32/54  | yes  |
| example.com/about | no |
| example.com/someting/else | no |

[2020-01-01 14:23] poupryc opened #4263 "defer.inlineCallbacks in spider ?"
Hi,

I'm trying to use [this feature of Twisted](https://twistedmatrix.com/documents/13.2.0/api/twisted.internet.defer.inlineCallbacks.html) to run the following code:

[code]

Is this possible ? I'm trying to use this to [dispense with the inline-request module](https://github.com/rmax/scrapy-inline-requests/issues/10).

Thanks

[2020-01-02 09:59] Gallaecio commented on #4251
Gevent probably keeps the request in a queue to be processed, but Scrapy times out before gevent gets to process the request, and by the time gevent processes the request Scrapy has already cut the connection.

[2020-01-02 10:40] Gallaecio commented on #4262
https://docs.scrapy.org/en/latest/topics/settings.html#std:setting-DEPTH_LIMIT ?

[2020-01-02 11:12] HelloEdit commented on #4263
After reading the code, I think I've found the solution. Perhaps documenting it would be beneficial?

[code]

Correct me if I'm wrong

[2020-01-02 19:34] Gallaecio opened #4264 "Document that Scrapy 1.7.0 breaks custom schedulers"
[This signature change](https://github.com/scrapy/scrapy/commit/821f5bb26077d7f9a6b2b1a72f210f81779f5393#diff-1e8b9699ff2fb363b837e0da1b7eb876R16) introduced in 1.7.0 breaks custom schedulers. It should be covered in the list of 1.7.0 backward-incompatible changes.

[2020-01-02 23:00] kmike commented on #4240
IMHO a correct solution would be to implement https://mimesniff.spec.whatwg.org/, though it looks like a significant amount of work (something like a GSoC project?). Ideally, as an external library which Scrapy uses. `responsetypes` is a poor man's mime sniffing implementation.

[2020-01-03 05:39] StasDeep commented on #4260
If you add `yield {}` to the callback, it won't be caught.

[2020-01-03 05:47] Chenhonli opened #4265 "scrapy中为何下载的文件是2k"

[2020-01-03 05:48] Chenhonli commented on #4265
如何判断下载的文件已经损坏

[2020-01-03 06:55] StasDeep opened #4266 "process_spider_output called twice when exception occurs"
### Description

Don't know if this should be considered a bug or not, but it looks very unintuitive.

When raising an exception in a generator callback, the `process_spider_output` method of a spider middleware, that goes after a middleware that catches an exception, is invoked twice. Once for the result of the callback that was yielded before exception occurred and one more time for the iterable

[2020-01-03 11:56] Gallaecio commented on #4240
There seems to be already such a project: https://pypi.org/project/mimesniff/

[2020-01-03 12:12] joybhallaa commented on #4264
Can I work on this ?

[2020-01-03 16:25] elacuesta commented on #4260
Ok, that changes things. Indeed, I this is what I'm getting:

[code]

[code]

[2020-01-03 20:43] somestupidpersonLA commented on #1854
Have the same issue, thought to circumvent by using httpx

[2020-01-04 12:04] HelloEdit commented on #3500
I recommend the use of Twisted's decorators.
https://github.com/scrapy/scrapy/issues/4263#issuecomment-570178808

[2020-01-05 03:49] elacuesta commented on #4260
It seems to me like this is an edge case of #220. By the time the middleware that's closest to the spider is executed the iterable from the spider callback has not been evaluated yet. The exception is raised in the first `process_spider_output` method but the execution chain jumps from one middleware to the next one (the _previous_ one in numerical order), so the `process_spider_exception` is not

[2020-01-07 11:49] Gallaecio commented on #4264
Please, go ahead.

[2020-01-07 11:52] Gallaecio commented on #4266
Related to #4260

[2020-01-07 11:52] Gallaecio commented on #4265
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-01-07 11:53] #4265 closed

[2020-01-07 18:14] elacuesta commented on #4266
I don't think this is a bug, I think it's just not properly documented, just like the fact that the `process_spider_exception` chain is invoked parallel to the `process_spider_output` one.

This is what's happening, ignore my poor image editing skills:
![spider_middleware](https://user-images.githubusercontent.com/1731933/71917975-1a888f00-3160-11ea-9fb2-2a904967ff2d.jpg)

I will try to write some

[2020-01-07 18:20] elacuesta commented on #4266
Regarding the proposed solutions:

I think this would imply a rewrite of the spider component, which is likely to require some additional discussion.

This sounds feasible, maybe adding a flag attribute to the iterable, indicating its origin.

[2020-01-08 13:08] Gallaecio commented on #3880
A potential use case would be to only fetch the response body until the desired data is found, reducing network traffic: https://stackoverflow.com/q/59541755/939364

[2020-01-09 11:21] wRAR opened #4268 "Random failures in CrawlTestCase.test_fixed_delay"
On some test runs `CrawlTestCase.test_fixed_delay`  fails with
[code]

[2020-01-09 14:03] chetan1029 commented on #3880
Yes most of the time we just need to scrap the title of the page so if is it possible to stream the data in chunks and skip the rest of the chunks.

[2020-01-09 20:22] MihaiWill commented on #2761
I get same errors!!

[code]

also a couple of images escaped my size rules, as you can see in the example

My Custom Pipeline:
[code]

My settings:
[code]

[2020-01-10 04:09] waydegg commented on #3700
Did you ever solve this problem?

[2020-01-10 05:30] joybhallaa commented on #4268
Hey, can I work on this ?

[2020-01-10 07:07] wRAR commented on #4268
@joybhallaa sure!

[2020-01-10 09:03] wahidaa opened #4273 "[scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)"
Hi everyone ,
i'm beginner  with scrapy
i'm trying to scrape multiple pages
but it doesn't work with me

 ### this is the spider:
import scrapy
class pageSpider(scrapy.Spider):
      name = 'page'
      allowed_domains = ['www.bureauxlocaux.com']
      start_url = ['https://www.bureauxlocaux.com/immobilier-d-entreprise/annonces/boulogne-billancourt-92100/location-bureaux']
      def parse(self, re

[2020-01-10 11:11] Gallaecio commented on #4273
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-01-10 11:11] #4273 closed

[2020-01-10 11:16] Gallaecio commented on #3700
One reason for it to *feel* like it is called twice is if you return a `Request` object on the first call, which causes that request to be added back to the scheduler, and reprocessed.

That is as expected, a new request needs to be reprocessed by all downloader middlewares.

In any case, @waydegg, consider using [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask for help with your spec

[2020-01-10 11:22] Gallaecio commented on #2761
The only issue is that a traceback is logged, right? The spider is behaving as expected otherwise, as described in the original issue (https://github.com/scrapy/scrapy/issues/1884).

If so, maybe we can simply reopen https://github.com/scrapy/scrapy/issues/1884 with the goal of avoiding the traceback from being logged.

[2020-01-10 11:39] MihaiWill commented on #2761
Yes, but also there ware 2 photos (from 7) of 310px that escaped my size rules:
[code]
You can see that in logs i posted above

[2020-01-10 11:52] Gallaecio commented on #2761
It is not obvious to me, that second issue about two images escaping your size rules. Could you open a separate ticket about that? It would be great if you could include in that ticket a minimal spider to reproduce the issue.