[2020-01-10 22:31] MihaiWill commented on #2761
I cannot reproduce anymore, so is fine now,maybe it was a human error from my part. So it works as it should, it just log the traceback. Cheers!

[2020-01-12 16:38] LittleFlyFish commented on #2115
That‘s solved my problem !!! Thank you so much!

[2020-01-13 10:53] elacuesta commented on #4262
Take a look at the [link extractor docs](https://docs.scrapy.org/en/latest/topics/link-extractors.html#module-scrapy.linkextractors.lxmlhtml), specifically the `allow` constructor parameter. If you need a full example, please use the ["scrapy" tag at StackOverflow](https://stackoverflow.com/questions/tagged/scrapy). See also: [Getting help](https://docs.scrapy.org/en/latest/index.html#getting-help

[2020-01-13 10:53] #4262 closed

[2020-01-13 11:13] elacuesta commented on #4073
@mohmad-null `process_request` methods pass `Request` and `Spider` objects as keyword arguments ([source](https://github.com/scrapy/scrapy/blob/1.8.0/scrapy/core/downloader/middleware.py#L38)). For this reason, using either `_` or `*_` in the function definition will break with `TypeError: process_request() got an unexpected keyword argument 'spider'`. However, using `**_` does work, i.e. `def pro

[2020-01-14 19:31] Prime-5 commented on #4182
Displaying it as another kind of error would really help in easy identification. @Gallaecio I'm new to the scrapy codebase but would like to help in this. If possible, could you point to the part where scrapy errors are managed?

[2020-01-14 23:20] elacuesta commented on #2407
This behaviour was introduced and documented [a long time ago](https://github.com/scrapy/scrapy/commit/907fad6da83a20898df1d0cb80ebf36c48488ca5).
Since "processors must receive an iterator as their first argument", this is where [`MapCompose`](https://docs.scrapy.org/en/1.8/topics/loaders.html#scrapy.loader.processors.MapCompose) comes into play:

[code]

[2020-01-14 23:20] #2407 closed

[2020-01-14 23:32] elacuesta commented on #4263
Relevant: https://github.com/scrapy/scrapy/issues/542#issuecomment-32621164. Not sure if we want to document these `ExecutionEngine` methods though. Any thoughts @dangra?

If, on the other hand, this issue is motivated by the above one (#3500), the "Scrapy way" of achieving such result would be [_Passing additional data to callback functions_](https://docs.scrapy.org/en/1.8/topics/request-response

[2020-01-15 09:57] mredaelli commented on #2436
Just found this after posting [a question on SO](https://stackoverflow.com/questions/59748229/access-request-in-an-item-pipeline).

Let me add my use case in favour of adding a `request` parameter for pipelines: validation.

As I wrote there, we have a validation item pipeline, and we want now to extend it so that one field of the item (there is only one type of items) is sometimes not required an

[2020-01-15 10:05] mredaelli commented on #2436
On the other hand, it sounds right that conceptually the request is not needed anymore in the item pipeline (since after all you cannot do more requests).

So how about passing not the request, but only `request.meta` to the pipeline, along with the item?

[2020-01-15 17:06] elacuesta commented on #2436
I believe it's technically possible to pass the request to the `process_item` methods, since we do have access to it when the methods are invoked ([source](https://github.com/scrapy/scrapy/blob/1.8.0/scrapy/core/scraper.py#L179-L197)).
Whether or not it's a good idea to introduce such change, which would be backward-incompatible, is a different thing. Personally, I'm inclined to say "no". I think

[2020-01-16 09:19] mredaelli commented on #2436
I tend to agree that adding `request` is out of scope. However, the documentation for `Request.meta` says:

There's an "etc", and pipelines are not explicitly excluded ;) I personally don't see why they should be excluded, and can see at least two good use cases in this thread.

On the other hand, I understand the backward incompatibility issue (but we have a good trace to follow in #3682, thanks

[2020-01-16 10:09] Querela commented on #3064
See https://github.com/ipython/ipython/issues/10946#issuecomment-568336466
Just adding this to the [commands/shell.py](https://github.com/scrapy/scrapy/blob/master/scrapy/commands/shell.py) `run` method would help.

[2020-01-17 01:22] scratchmex opened #4276 "Fields not registered in Items.fields if set as static variable"
### Description

The static variables set in `scrapy.Items` class are not registered in the internal `_values` dict and therefore I cannot access them via `self['field_name']`, i.e., the `__getattr__` function.

### Steps to Reproduce
In my items_error.py file I have this. (the actual code is larger but I isolate the code causing the error)
[code]

When I ran it this raises:
[code]

**Expected beh

[2020-01-17 13:28] LanetheGreat opened #4277 "Response.follow() method not consistent with Request.__init__(). Missing `flags`."
### Versions Affected:

All versions after PR #2082 when flags were added to `Request`. (>1.4.0)

### Response.follow() method not consistent with Request.__init__(). Missing `flags`.

No sure how this got missed since PR #2082 was merged, but looking at the parameters for `Request.__init__` and `Response.follow` it appears `flags` wasn't added to `Response.follow` to keep it in line with how crea

[2020-01-17 16:42] elacuesta commented on #4277
You're right! Thanks for the report. I think this is a reasonable thing, and a good implementation should not take long to get accepted. Do you plan to submit a PR?

[2020-01-17 22:10] Gallaecio commented on #4276
Have you considered using `self.type` instead of `self['type']`?

[2020-01-18 01:31] scratchmex commented on #4276
The class itself don't allow it:

[code]

[2020-01-18 05:49] elacuesta commented on #4276
`self['field_name']` is expected to [return the _value_ of the field](https://github.com/scrapy/scrapy/blob/1.8/scrapy/item.py#L90-L91), not the _field itself_.

___

This doesn't look like a bug to me, more like a design choice. The internal `_values` dictionary is populated only after setting a specific value, like in the following example:

[code]

Note that this also happens in the [`Item.__in

[2020-01-19 07:38] Prime-5 commented on #4277
If not done, I would like to submit a PR for this.
As far as I understand, the "flags=None" parameter needs to be added to requests.follow(), right?

[2020-01-19 11:52] LanetheGreat commented on #4277
Yep, both `Response.follow` and `TextResponse.follow` since it looks like the only subclass that overrides that method. Sorry haven't had time to write a PR for it this weekend, been too busy to even touch my laptop.

[2020-01-19 18:03] Prime-5 commented on #4277
@LanetheGreat thanks, I'm on it

[2020-01-20 02:41] elacuesta commented on #3580
@mohmad-null If I understand correctly, I think you are experiencing documented behaviour.

According to the [`DownloaderMiddleware.process_response` docs](https://docs.scrapy.org/en/latest/topics/downloader-middleware.html#scrapy.downloadermiddlewares.DownloaderMiddleware.process_response):

This is precisely what the `RedirectMiddleware` does, it returns **new** requests for those responses that

[2020-01-20 08:06] Haroon-afk opened #4280 "scrapy installation error in visual code"
### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Versions

Please paste here the output of executing `scrapy version --verbose` in the command line.

[2020-01-20 12:31] elacuesta commented on #4280
Hello @Haroon-afk, please update the issue to include information about it, it seems like the template was not modified.

[2020-01-20 19:48] lucasdutraf commented on #4233
I've added a [portuguese version](https://pt.wikipedia.org/wiki/Scrapy) of Scrapy in Wikipedia! I used some informations from the documentation and also from the Spanish and English versions.
I'm trying to get closer to the Scrapy community, so please let me know if there are plans about translating documentation from English to Portuguese, mainly.
Best regards! :tada:

[2020-01-21 11:00] dfriestedt commented on #4019
I am getting this same error below.

I have in a vagrant box - ubuntu 18.04 fresh install with scrapy and all the dependancies shown here:  https://docs.scrapy.org/en/latest/intro/install.html

When I run the command it creates the project and folder structure.  But I do get this error message.

vagrant@vagrant:/vagrant$ scrapy startproject webcam
Traceback (most recent call last):
  File "/usr/lo

[2020-01-22 00:33] dfriestedt opened #4281 "FileNotFoundError: [Errno 2] No such file or directory: 'webcam/webcam/settings.py.tmpl'"
### Description

when I issue the following command

`scrapy startproject webcam`

I get the error message:

[code]

### Steps to Reproduce

1. Create a fresh vagrant machine with ubuntu 18.04 on a mac 10.14.6
2. Install scrapy per these instruction with all the dependancies: https://docs.scrapy.org/en/latest/intro/install.html
3. issue the command scrapy startproject webcam

**Expected behavior:*

[2020-01-22 00:55] elacuesta commented on #4281
Could you post the result of `scrapy version -v`? Does the issue appear if you install Scrapy inside a [virtual environment?](https://docs.python.org/3/library/venv.html). What seems odd to me is that `pip show` says `Location: /home/vagrant/.local/lib/python2.7/site-packages` but the traceback says `/usr/local/lib/python3.6/dist-packages/scrapy/utils/template.py` (Python 2 vs 3).

[2020-01-22 01:33] dfriestedt commented on #4281
[code]
Should I try to install scrapy inside a virtual environment inside the vagrant box?

I found the location  strange too.  No idea how it was installed in that location.  I'll create a new Vagrant machine and track the steps I'm making to install scrapy exactly.

[2020-01-22 10:17] dfriestedt commented on #4281
Here are my exact steps to recreate the issue

[code]
Note the sudo to run `sudo pip install scrapy` .

When I try to install scrapy without the sudo it installs fine, but I get the following error when I run scrapy

[code]

[2020-01-22 10:35] dfriestedt commented on #4281
I just created a virtual environment inside the vagrant box and got the same error.  Here are my steps

[code]
Note:  If I do not install wheel I get `error: invalid command 'bdist_wheel'` . But I know this is not a required step in the scrapy instructions

[code]

[2020-01-22 13:51] noviluni commented on #4233
Hi @lucasdutraf ! Thank you very much for this contribution! Really cool!!! :smile: :tada:

[2020-01-22 21:15] #2582 closed

[2020-01-23 14:16] OmarFarrag commented on #4240
@Gallaecio  @kmike I have gone through the code of [mimesniff](https://pypi.org/project/mimesniff/) and the specs. Looks like it only implements section 7.1 [Identifying a resource with an unknown MIME type](https://mimesniff.spec.whatwg.org/#identifying-a-resource-with-an-unknown-mime-type), while there are other steps in the specs that should be done, which can be found in section 7 [Determining

[2020-01-23 18:12] #3586 closed

[2020-01-23 18:58] kmike commented on #4240
I think that'd be a great GSoC project. mimesniff library doesn't look enough indeed.

[2020-01-23 20:26] jeanmask opened #4284 "Uses ipdb instead pdb when package installed"
## Summary

Add support to uses `ipdb` instead `pdb` when `ipdb` is installed, if you use parameter `--pdb`.

## Motivation

Improves debugging

## Describe alternatives you've considered

An alternative is implement a new cmd parameter `--ipdb` to handle it.

[2020-01-24 10:37] noviluni opened #4285 "Fix "Debugging memory leaks with Guppy" section (docs)"
After removing the Python 2.7 support, this section:

https://docs.scrapy.org/en/latest/topics/leaks.html#debugging-memory-leaks-with-guppy

 should be removed or merged with this:
https://docs.scrapy.org/en/latest/topics/leaks.html#topics-leaks-muppy

[2020-01-24 23:47] kmike commented on #1613
I'm closing this issue, because it is not clear what to do here. If someone disagrees, feel free to reopen!

[2020-01-24 23:47] #1613 closed

[2020-01-24 23:58] #3928 closed

[2020-01-25 00:03] #1031 closed

[2020-01-25 08:47] petervandenabeele commented on #1381
I am new user to Scrapy and very impressed, thanks !

I can confirm that _only_ numeric `tel:` entries cause this problem.

[code]

And many more similar.

The first example is French company, pointing to its "local" French number `08...`
Second example is same French company pointing to `00329...` , its division in Ghent:

`00` : the way to call "out" (similar to `+1` to call _out_ from USA)
`32`

[2020-01-25 09:40] petervandenabeele commented on #3217
New user here, thanks for the great application (so many "details" that are already solved over the years :-)

I can confirm similar behavior, and it is a problem for me. I would like to stay cleanly within the "allowed_domains" list. And not trigger some tripwire by suddenly visiting associated sites.

E.g.

[code]
also executes a GET on these 2 NOT ALLOWED domains (the number is the times this w

[2020-01-25 09:52] petervandenabeele commented on #3217
Ah, only now I see a more detailed discussion with proposed solutions  #2241 ...

Maybe we should _close this issue_ 3217 as a duplicate of 2241 ?

The problem is clearly recognized as a Bug, but the solution or work-around is non-trivial because backwards incompatible ...

[2020-01-25 10:37] petervandenabeele commented on #2241
Newcomer here :-)

Following up on my initial (naive) comments in https://github.com/scrapy/scrapy/issues/3217

Sorry if I may be vague and not adding specific code and PR (yet), but having read some more comments and hitting the problem as a "very" unexpected side effect of hitting URL's outside of my strict "allowed_domains", it seems to me that a possible solution could be:

We do NOT change th

[2020-01-26 14:30] pwinzer opened #4289 "Fatal error launching scrapy>1.6.0 from Anaconda Prompt"
### Description

I'm having the same issue reported in [issue 4075](https://github.com/scrapy/scrapy/issues/4075), but I'd like to provide some more information.

### Steps to Reproduce

Fresh Anaconda install, installed scrapy with `conda install -c conda-forge scrapy`, as specified in [official Windows installation instructions](https://docs.scrapy.org/en/latest/intro/install.html#windows). Scra

[2020-01-26 22:37] petervandenabeele commented on #2241
I was able to get a prototype of this to work in my project middlewares. The result is now that a Redirect to a domain that is outside of allowed_domains _is_ filtered by my added downloader middleware:

[code]
I had added my middleware on position 80. Maybe a somewhat higher number, after the RobotsTxtMiddleware, was more appropriate. Then agai, I now think the position in the middleware stack do

[2020-01-27 19:45] elacuesta commented on #4281
I think this is a Vagrant-specific issue, related to file system permissions and the way folders are shared between the host and the virtual machine. The issue only appears for me while working on the `/vagrant` directory, which AFAICT is a mount point for the directory which holds the `Vagrantfile` in the host system. I tried on a macOS and a Linux Mint machine, and the issue appeared both times.

[2020-01-27 19:53] elacuesta commented on #4281
The original issue (#4019) says "I use VBox and have share folder from Windows", I think it's safe to assume the cause of the issue is the same. I don't think we should (maybe even _can_) do anything on the Scrapy side to mitigate this.

[2020-01-27 20:04] dfriestedt commented on #4281
Understood and thank you for looking at this.  I moved to anaconda and that environment is working well.  I'll keep trouble shooting this on my end and post a solution if I ever figure it out.

[2020-01-27 20:04] #4281 closed

[2020-01-28 10:33] dpfeif opened #4292 "Exceptions in middleware don't return exit code 1 in `scrapy crawl` & `scrapy check`"
### Description

If a middleware raises an exception, running `scrapy crawl` or `scrapy check` raises the exception to the shell but returns with exit code 0, instead of the expected 1.

### Steps to Reproduce

1. Set up the tutorial up to [here](https://docs.scrapy.org/en/latest/intro/tutorial.html#how-to-run-our-spider)

2. Create a minimal middleware raising an issue in `middlewares.py`
[code]

[2020-01-28 11:30] KimKiHyuk commented on #4233
what do you think about adding korean page? i can take this job

[2020-01-28 11:34] noviluni commented on #4233
Hi @KimKiHyuk ! Yes please! The list was only for guidance, I have just added the Korean to the checklist.

Please, go ahead! :smile:

[2020-01-28 12:45] KimKiHyuk commented on #4233
I've done korean page. thank you for opening good first issue!
this framework is really awesome!

[2020-01-28 18:47] noviluni commented on #4233
Thank you very much @KimKiHyuk !!!  And welcome to the Scrapy family! 🎉

[2020-01-28 20:54] #3171 closed

[2020-01-31 17:54] wRAR opened #4295 "Document async signal handlers"
Right now there are 7 signals whose handlers can return Deferreds: https://docs.scrapy.org/en/latest/topics/signals.html?highlight=deferred

With #4271 these signal handlers can also be `async def` coroutines.

AFAIK nowhere in the docs it is explained what does this mean and how can it be used. I looked at the code and the situation seems to be this:

`item_scraped`, `item_dropped`, `item_error`:

[2020-01-31 18:00] wRAR opened #4296 "Merge Slot back into ExecutionEngine?"
In 409aaade `Slot` was extracted from `ExecutionEngine` and they had a many-to-one rel. In a84e5f8 that rel was changed to one-to-one, and I'm not sure what does this split achieve now.

[2020-01-31 18:05] wRAR commented on #4296
This is even more confusing, actually. And it's not what I wanted to create this ticket about initially.

There is another `Slot`, `scrapy.core.scraper.Slot`, and it has a one-to-one rel with `scrapy.core.scraper.Scraper`, which was many-to-one before 58975abe.

There is also `scrapy.core.downloader.Slot`, which still has a many-to-one rel with `scrapy.core.downloader.Downloader` :)

[2020-01-31 18:56] kmike commented on #4292
I think that's intended, because a crawl doesn't stop on these exceptions. That's the same as with exceptions in the request callbacks - they're logged, but crawl continues.

[2020-01-31 18:57] kmike commented on #4285
A good catch!

[2020-02-01 06:58] BrenBarn commented on #2594
It would really be nice to have a solution to this.  I think there are a fair number of people who want to use Scrapy without thinking or knowing anything about twisted.  They just want to call `run_my_scraper()` and have it run, as many times as they want, without getting any weird errors about things like "reactors" that aren't directly relevant to use of Scrapy.  It would be great if Scrapy cou

[2020-02-02 08:18] RaedsLab opened #4297 "CSS fuzzy selectors are not working?"
### Description

CSS fuzzy selectors do not seem to work.

For example `a[class~="logo"]` should return all links with a class that *contains* `logo`. [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors)

### Steps to Reproduce

Select something like ``a[class~="logo"]``

**Expected behavior:** Returns all links with a class that *contains* `logo`.

**Actual behavior:** Retu

[2020-02-02 08:22] #4297 closed

[2020-02-03 02:02] CarterPape commented on #3478
I can verify that this is still an issue.

The email goes through, but a fatal error gets thrown with the following traceback:

[code]

[2020-02-03 10:51] globefire commented on #4268
Hey, @joybhallaa you still working on it? If not @Gallaecio can I try it?

[2020-02-03 11:12] joybhallaa commented on #4268
@globefire, sure !

[2020-02-03 21:02] petervandenabeele commented on #3135
A related issue, or not (?), is that sometimes this assignment from `response.encoding` fails because that attribute is not defined. I obviously can build a try-catch block around it. But maybe setting the attribute anyway, to  an empty string or "unknown" would be easier to process?

[code]

[2020-02-04 12:35] Gallaecio opened #4299 "Make it easier to use Scrapy in Jupyter Notebook"
See http://gsoc2015.scrapinghub.com/ideas/#iphyton-ide for more information.

[2020-02-05 03:13] Marsqueenlyy opened #4301 "No module named 'twisted'"
when i import scrapy, it runs like 'Traceback (most recent call last):
  File "E:/python practicing/爬虫/l0205_crawler1.py", line 1, in <module>
    import scrapy
  File "E:\新建文件夹\Python\lib\site-packages\scrapy\__init__.py", line 27, in <module>
    from scrapy import _monkeypatches
  File "E:\新建文件夹\Python\lib\site-packages\scrapy\_monkeypatches.py", line 6, in <module>
    import twisted.persisted

[2020-02-05 03:17] elacuesta commented on #4301
Seems like you're running Windows. Have you followed the [Windows installation notes](https://docs.scrapy.org/en/latest/intro/install.html#windows)?

[2020-02-05 03:23] Marsqueenlyy commented on #4301
ok i'll check it

[2020-02-05 09:57] adityaa30 commented on #4295
Hey! Shall I work on this issue?

[2020-02-05 10:03] Gallaecio opened #4302 "Allow checking that settings are named correctly"
I would like a way to be able to detect typos on spider settings.

Some approaches that I can think of:
- Making this a core feature of Scrapy, having extensions report the settings they use somehow and having an opt-in setting to enable this kind of check.
- Writing a static analyzer for Scrapy projects that detects such things. It could be an extension for Pylint.

[2020-02-05 10:09] wRAR commented on #4295
@adityaa30 yes please. Feel free to ask for clarifications if you need them.

[2020-02-05 10:14] adityaa30 commented on #4295
@wRAR Okay. Thanks!

[2020-02-05 12:43] kmike commented on #4302
As for the static analysis, there is https://github.com/stummjr/flake8-scrapy.

[2020-02-05 15:43] elacuesta commented on #4301
Closing since it seems to be caused by not following the installation instructions. Please feel free to reopen if the issue persists.

[2020-02-05 15:43] #4301 closed

[2020-02-06 07:55] Gallaecio opened #4306 "Add a setting to choose a custom AsyncIO loop"
Just as #4294 allows to easily choose a custom Twister reactor, I think we should consider implementing a setting that allows choosing a custom AsyncIO loop (when using an AsyncIO reactor).

I’m thinking of https://github.com/MagicStack/uvloop, which I’ve used in web development, and can’t help but wonder if it could improve Scrapy performance in some scenarios.

[2020-02-06 08:01] Gallaecio opened #4307 "Use f-strings"
They offer a simpler syntax and [speed](https://realpython.com/python-f-strings/#speed), so once we drop Python 3.5 support I guess it makes sense to look into replacing `%` and `format` usages with f-strings where possible.

[2020-02-06 08:23] Gallaecio opened #4308 "Mac OS X, OS X → macOS"
We have a few references in the documentation where we use the old name of that OS. We should update them.

[2020-02-06 11:31] Gallaecio commented on #3276
In a scenario where `start_urls` is `["https://example.com/1", "https://example.com/2"]` and `https://example.com/1` redirects to `https://example.com/2`, I guess the current behavior causes `https://example.com/2` to be scraped twice.

Assuming my assumption is correct, I am in favor of changing the behavior.

[2020-02-06 13:22] ammarnajjar commented on #4307
I'd like to work on this if that's ok

[2020-02-06 13:46] MartiONE commented on #3276
Also in favor of this, specially on imported URL's from a file or a huge set of them with potential duplicates.

[2020-02-06 13:52] kmike commented on #3276
Just re-read my old comment :) The problem with this change is that if we remove dont_filter=True from start_requests and do nothing else, spiders like this would stop working:

[code]

(haven't re-checked it, but all the related issues are still open)

[2020-02-06 14:03] elacuesta commented on #4307
Thanks for the interest @ammarnajjar, please go ahead if you'd like.
FTR, seems like 3.5's end of life is set to 2020-09-13, according to https://devguide.python.org/#status-of-python-branches

[2020-02-06 15:03] ammarnajjar commented on #4307
@elacuesta do you mean it would be better to wait till 3.5's EOL?

[2020-02-06 15:10] elacuesta commented on #4307
Not really, a patch should not be _merged_ before that, but the work can start before.

[2020-02-06 17:42] #2905 closed

[2020-02-06 18:40] #3844 closed

[2020-02-06 19:55] Gallaecio commented on #4296
If nothing else, we should rename those classes :smile:

[2020-02-06 20:17] pradhanvickey opened #4315 "Error while using signals.spider_opened and signals.spider_closed in pipeline.py"
HI, I am trying to implement below but getting error. Kindly help:-

[code]

**Error:**
[code]
(edited for syntax highlighting)

[2020-02-06 20:38] tomaskrcka commented on #4308
Hi, I'd like to take this issue.

[2020-02-06 20:49] elacuesta commented on #4308
Thanks for the interest @tomaskrcka. No need to ask first, please go ahead 😄

[2020-02-06 21:17] elacuesta commented on #4315
The [`open_spider` and `close_spider`](https://docs.scrapy.org/en/1.8/topics/item-pipeline.html#writing-your-own-item-pipeline) methods of item pipelines are invoked internally, without relation to signals (see https://github.com/scrapy/scrapy/blob/1.8.0/scrapy/core/scraper.py#L81and https://github.com/scrapy/scrapy/blob/1.8.0/scrapy/core/scraper.py#L87). The second error is produced my a mismatch

[2020-02-06 21:17] #4315 closed

[2020-02-06 21:21] #4264 closed

[2020-02-07 01:50] joybhallaa commented on #4299
I'd like to take this, and as this is going to take some time, I'm open to pair with anyone else that wants to work on this

[2020-02-07 07:54] adityaa30 commented on #4295
Till now, I have figured out that:
1. All the signal handlers use method [send_catch_log_deferred](https://github.com/scrapy/scrapy/blob/4f31c3ce017db2b4f69949a81efd56fee60ee32d/scrapy/signalmanager.py#L46) in `scrapy/signalhelper.py` which indeed calls [send_catch_log_deferred](https://github.com/scrapy/scrapy/blob/4f31c3ce017db2b4f69949a81efd56fee60ee32d/scrapy/utils/signal.py#L47) in `scrapy/ut

[2020-02-07 08:49] Gallaecio commented on #4302
Suggested by @lopuhin in the line of static analysis:

[2020-02-07 09:21] wRAR commented on #4295
@adityaa30 this is a correct behavior, the spider waits for that Deferred to fire. In the real world cases the handler would return a Deferred that it got from some async operation, and that would fire when that operation finished. In tests you'll either need to do the same or fire the Deferred manually.

[2020-02-07 14:04] raphapassini opened #4317 "Having an option to define an Items output file in the `scrapy parse` commnad line"
I use `scrapy parse` command to check the Items output for given URL, and I use it a lot.

Sometimes, I need to latter explore the Items extracted by `scrapy parse`, e.g . to check that something I want to fix was fixed for that specific URL without having to touch the source code.

### Proposed solution:

Add a new parameter `-o` or `--output` in the parse command line. Allowing the client to set

[2020-02-07 18:08] velezsarain opened #4319 "Selectors return corrupted, recursive DOM on some sites"
### Description

On a specific site, scrapy selectors (css and xpath) corrupt the DOM recursively and return an incorrect amount of items as a result. I've encountered this issue while parsing base-search.net search results but this bug might occur on other sites as well.

### Steps to Reproduce
Example for base-search.net

1. Begin parsing a base.net search result page, ex: `scrapy shell "https:/

[2020-02-07 18:10] holms opened #4320 "Crawl command doesn't exist?"
### Description

Just following example from [here](https://docs.scrapy.org/en/latest/intro/tutorial.html ): but there's no such command "crawl" in scrappy.

### Steps to Reproduce

1. Open documentation in [here](https://docs.scrapy.org/en/latest/intro/tutorial.html )
2. On step `scrapy crawl quotes` it will fail

**Expected behavior:** [What you expect to happen]

To launch crawling script

**Ac

[2020-02-07 18:20] elacuesta commented on #4320
The `crawl` command is only valid in the context of a project. According to the pasted output, Scrapy is failing to recognize a project in the working directory (`Scrapy 1.8.0 - no active project`). Are you sure you have a project in the directory from which you are executing the command?

[2020-02-07 18:22] holms commented on #4320
Alright thank you. It's just weird that docs thinks from perspective of project. Most of us writing small crawlers.

[2020-02-07 18:22] #4320 closed

[2020-02-07 18:40] #4260 closed

[2020-02-08 02:40] somestupidpersonLA opened #4322 "Scrapy freezes when time on computer clock has been changed manually."
Windows 8.1. Changed time on several hours backward. Scrapy stopped doing requests until scrapy restart.

[2020-02-08 05:37] tianhuil commented on #1918
+1

[2020-02-09 05:07] selvarajdevaraj commented on #2881
yeah!.. it works

[2020-02-09 07:34] ammarnajjar commented on #4307
#4324 is open, but I don't think it is a good idea to start that early, because of the merge conflicts along the way, I will suspend the work there on my side.

[2020-02-09 17:57] bwashed opened #4325 ""pip install scrapy" on Mac - python 3.8 - without Anaconda"
Not a pro here.
Having issues while trying to install from scratch Scrapy.

As i can see from instructions (and from previous posts) it seems:
- i can only install Scrapy with Anaconda
- the instructions @ https://doc.scrapy.org/en/latest/intro/install.html state that: "...Python 3.5 or above under CPython" (...what i sCPython???)

1) have attached a document with errors when i ttried to install S

[2020-02-10 15:05] whalebot-helmsman opened #4326 "General Message Queues as Storage for Requests"
It is common request to use external message queues as a storage for scrapy requests (e.g. https://github.com/scrapy/scrapy/issues/3723). There are several implementations exists:

- https://github.com/rmax/scrapy-redis
- https://github.com/dfdeshom/scrapy-kafka
- https://github.com/mbriliauskas/scrapy-rabbitmq-link

There is nothing special about these. They just came up as first results on a git

[2020-02-10 15:26] dpfeif commented on #4292
What about `scrapy check` returning 0 even if the check could not be performed?

[2020-02-10 18:48] #4277 closed

[2020-02-11 10:41] babubalakrishnan commented on #2439
ok

[2020-02-11 13:46] bwashed commented on #4325
any help, please?

[2020-02-11 16:00] elacuesta commented on #4325
I don't remember the exact steps I took to have all dependencies in my macOS installation, but I suspect you might be missing some dev tools. Could you try installing the Xcode Command Line Tools by running `xcode-select --install`? If that solves the issue, perhaps we could add it to the docs.

[2020-02-11 16:54] adityaa30 commented on #4295
Okay. So, firing the `Deferred` manually works by changing:
[code]

A general use case can be:
[code]

I have gathered the basic knowledge how `Deferred` works and is implemented in `scrapy`. What shall I do now @wRAR ?

[2020-02-11 17:06] Gallaecio commented on #4325
@bwashed Have you followed the [macOS-specific installation instructions](https://doc.scrapy.org/en/latest/intro/install.html#mac-os-x)?

[2020-02-11 17:31] bwashed commented on #4325
@elacuesta thanks a lot...
WORKED 4 me....

as i had a similar issue with selectolax, i was suggested by owner to try following instructions @

https://apple.stackexchange.com/questions/254380/why-am-i-getting-an-invalid-active-developer-path-when-attempting-to-use-git-a

basically only had to use same command you suggested `xcode-select --install`. Link shows other workaround if that command does

[2020-02-11 17:31] #4325 closed

[2020-02-11 19:10] elacuesta commented on #4325
Nice @Gallaecio, it was there all along! 😂
No need to add anything to the docs then, thanks!

[2020-02-11 19:15] elacuesta commented on #3871
Deprecated by #3910 and #4300.

[2020-02-11 19:15] #3871 closed

[2020-02-12 11:59] elacuesta commented on #4322
Could you please share some additional information? Some code and logs that would help us reproduce/understand the issue. Please see [Reporting bugs](https://docs.scrapy.org/en/latest/contributing.html#reporting-bugs) and [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example).

[2020-02-13 03:32] somestupidpersonLA commented on #4322
`# -*- coding: utf-8 -*-
import scrapy

class ToScrapeSpiderXPath(scrapy.Spider):
    name = 'toscrape-xpath'
    start_urls = [
        'http://quotes.toscrape.com/',
    ]

    def parse(self, response):
        for quote in response.xpath('//div[@class="quote"]'):
            yield {
                'text': quote.xpath('./span[@class="text"]/text()').extract_first(),
                'author': q

[2020-02-13 03:37] somestupidpersonLA commented on #4322
After changing time back it will resume its work.

[2020-02-13 03:40] somestupidpersonLA commented on #4322
I don't think it is a bug. I think it is something like pause package or similar.

[2020-02-13 03:40] #4322 closed

[2020-02-13 04:39] nyov commented on #4180
I agree with (re)moving the ftp exporter to a scrapy-plugin repo, and getting rid of `utils/ftp.py`. I'm not sure we should pull sftp (and paramiko) into scrapy proper, though.

[2020-02-13 06:45] Prime-5 commented on #4302
Hello @Gallaecio, I had a look in all the three suggestions and I am interested to work on this.
As far as I understand, taking the static analysis route and implementing any of the linters (as an extension/plugin) would also enforce their basic standards.

As per [this ](https://docs.scrapy.org/en/master/contributing.html#coding-style) documentation, scrapy recommends PEP8.
Pylint would implement

[2020-02-13 11:50] Gallaecio commented on #4302
By default yes. And while you can disable any checks you don’t like, I guess it does matter.

We could take a route where we implement different linters for different static analizers following the spirit of each analyzer. Flake8 seems to offer really basic tests that you would rarely want disabled, Pylint goes far beyond, while mypy seems focused on typing.

I’m not sure if you got those 2 confus

[2020-02-13 15:44] john-parton opened #4330 "Scrapy fails to crawl emoji domains, raises idna.core.InvalidCodepoint"
### Description

Scrapy fails to crawl [emoji domains](https://en.wikipedia.org/wiki/Emoji_domain). Specifically, [i❤.ws](https://xn--i-7iq.ws/)

Raises the following:

`idna.core.InvalidCodepoint: Codepoint U+2764 at position 2 of 'i❤' not allowed`

### Steps to Reproduce

1. Create a `CrawlSpider` with `allowed_domains` including an emoji domain, and `start_urls` including an emoji domain.
2. Be

[2020-02-14 11:37] Gallaecio commented on #3171
That last point is covered by #4216

[2020-02-14 11:46] dedenhabibi commented on #3314
Scrapy should revise this example: https://docs.scrapy.org/en/latest/topics/shell.html

[2020-02-14 21:34] Gallaecio opened #4332 "ie. → i.e."
Looking for `\bie\.` in the source code there are quite a few matches.

As [noticed](https://github.com/scrapy/scrapy/pull/4331#discussion_r379552909) by @elacuesta, **i.e.** is the [right spelling](https://en.wikipedia.org/wiki/List_of_Latin_phrases_(I)#id_est).

[2020-02-15 09:41] nikochiko commented on #4332
Can I work on this?

[2020-02-15 10:00] adityaa30 commented on #4317
Shall I work on this issue?

[2020-02-15 10:58] mmghannam commented on #4330
Hi! I would like to work on this.

[2020-02-15 15:05] simulacra342870 commented on #4307
I think I have the solution
I have just refactored this function within the scrapy/core/spidermw.py file:

def _fname(f):
return "%s.%s".format(
f.self.class.name,
f.func.name
)

to fstrings with same placeholders, eg %s for strings,

def _fname(f):
return f"%s.%s"(
f.self.class.name,
f.func.name
)

Don't hurt me I am extremely newbie, I am only trying to help and gain experience.
Are there any ot

[2020-02-16 00:59] nirvana-msu commented on #1304
I am also having issues due to `urljoin` behaving differently to modern browsers.

For example, all modern browsers tolerate extra slashes after `http` (see e.g. this discussion in [curl](https://github.com/curl/curl/issues/791#issuecomment-217867524)).

Using `urljoin` on most recent Python 3.8 I get:
[code]
whereas browsers would load `http://other.com`. Would be great if it was possible to repl

[2020-02-16 05:59] somestupidpersonLA opened #4333 "."
.

[2020-02-17 03:51] #4333 closed

[2020-02-17 11:53] Gallaecio commented on #3314
@dedenhabibi Could you open a separate issue about that, and detail the parts that need a review?

[2020-02-17 11:55] Gallaecio commented on #4332
@nikochiko Sure, no need to ask for permission! Mind that @AKSHAYSHARMAJS seems to have started working on it, although he has not opened a pull request yet.

[2020-02-17 11:56] Gallaecio commented on #4317
@adityaa30 Please, go ahead, no need to ask for permission :slightly_smiling_face:

[2020-02-17 12:16] nikochiko commented on #4332
Ah alright!
Yeah I think he is working on it, np I will take another issue as it comes up :)

[2020-02-17 12:17] dedenhabibi opened #4336 "Needs change on "Example of shell session" in Scrapy 1.8.0 docs"
### Description

I was learning how to use Scrapy shell but got error similar with this issue #3314, and got the solution in the issue as well. But, when I looked back into the Docs (1.8.0), the example still use (') instead of ("). I think it is better to change it, especially for next learners like me.

**Expected behavior:**

*Example of shell session*
...
scrapy shell "https://scrapy.org" --no

[2020-02-17 12:19] Gallaecio commented on #4332
If you are OK with working on code style changes, see https://github.com/scrapy/scrapy/pull/4324#issuecomment-586963333

[2020-02-17 12:21] Gallaecio commented on #4336
Could you share the URL that caused you issues with `'`?

At least in Linux, I think `'` is safer than  `"`, since within `"` special characters like ` or $ could be unexpectedly interpreted.

[2020-02-17 12:22] akdnfbf opened #4337 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 12:22] Gallaecio commented on #4336
In https://github.com/scrapy/scrapy/issues/3314 I think the issue was not using `'` instead of `"`, but missing the URL protocol.

[2020-02-17 12:24] #4337 closed

[2020-02-17 12:42] dedenhabibi commented on #4336
I use Windows 10 (unfortunately :D).
Any URL doesnt work, e.g. `https://www.lapan.go.id.`
It shows `ValueError: invalid hostname: 'https`.

Perhaps, the Windows? I agree with you about `"` vulnerabilities, but it just doesnt work.

[2020-02-17 14:54] AKSHAYSHARMAJS commented on #4332
@Gallaecio thanks for mentioning that. I have opened a pull request for the same. Also I m' looking for this issue in other documents as well and will revert you on that. :) 👍

[2020-02-17 15:03] helen119 opened #4339 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:05] Cally99 commented on #4339
ha ha ha ha ha.  Never seen spam on github

[2020-02-17 15:42] Gallaecio commented on #4336
OK, I think at the very least we could warn about the need to use quoting, and system gotchas related to that.

[2020-02-17 17:36] dntzbgh commented on #2115
the same goes for python 3.8:
`sudo apt install python3.8-dev `

[2020-02-17 19:26] heken375 opened #4340 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:42] adityaa30 commented on #4317
Okay sure!

[2020-02-18 00:01] atlowell-smpl opened #4341 "Ability to Update Previously-Crawled Data"
This is a feature request for the ability to be able to update the existing scraped data.  A couple examples where this could be useful:

1. Scraping a page where the context is important to the scraped data, e.g. recording multiple categories that a product appears under.
2. Counting the number of times a link is referenced on a site, e.g. how many times a specific promotion is shown.

From what

[2020-02-18 01:16] dedenhabibi commented on #4336
Ahh, I see. Thank you for illuminating me 😄 🙏

[2020-02-18 06:06] Lucioric2000 commented on #3250
You can list your ips or urls list in a spider attribute. I have done so with a list of the Ids if the scraped items.

[2020-02-18 07:13] shubidubapp commented on #4106
From what I have read from docs and issues here so far. I understand that currently scheduler has 2 queues, one in memory and this query holds currently active requests the other one is in disk. When a spider is being (gracefully) closed scrapy tries to finish currently active (in memory queue) requests and then it shuts down because, if a JOBDIR setting is being used, on the next run we can conti

[2020-02-18 10:47] BisariaUtkarsh commented on #4299
Hey I would like to work on this issue. So is there any novice guide for beginners.

[2020-02-18 11:21] helen225 opened #4342 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 11:41] Gallaecio commented on #4299
I guess the first steps, in addition to getting familiar with Scrapy, would be to learn how to extend Jupyter Notebook, so that the proof-of-concept code from http://nbviewer.ipython.org/gist/kmike/9001574 makes some sense to you.

[2020-02-18 11:52] Gallaecio commented on #4341
I’m unsure about this. You say the current approach is inefficient, however an alternative approach would require keeping those items in memory, making it less efficient in terms of memory usage and potentially exhausting the system memory, or keeping those items on disk, potentially making that approach _less_ efficient in terms of required time.

Do you have an approach in mind, at least in term

[2020-02-18 12:39] BisariaUtkarsh commented on #4299
Hey i have been trying to run this notebook on binder as well as on my system but cant get past through errors.

On Binder the error is as follows :
![1](https://user-images.githubusercontent.com/31356333/74736663-3f047a80-5279-11ea-86cc-38be9d8c1415.PNG)

On my system the error is as follows :
![2](https://user-images.githubusercontent.com/31356333/74736678-475cb580-5279-11ea-863e-ac1929285c00.PN

[2020-02-18 13:50] joybhallaa commented on #4299
@BisariaUtkarsh would you like to work on this together ?

[2020-02-18 14:49] sakshamb2113 commented on #4285
Can i work on this issue?

[2020-02-18 14:50] noviluni commented on #4285
@sakshamb2113 of course, go ahead!

[2020-02-18 14:55] atlowell-smpl commented on #4341
Previously scraped items already need to be stored, correct?  My proposal is simply to be able to access and update those items from a spider (or pipeline, or middleware).

My assumption based on what I know about the code is that previously parsed items are stored in memory, but either way (memory or disk) having this functionality would at least be no less efficient than adding duplicate items a

[2020-02-18 14:56] #4001 closed

[2020-02-18 16:47] Gallaecio commented on #4299
@BisariaUtkarsh In “Binder” you seem to be missing lxml. I am not familiar with Binder, so I cannot tell you how, but you need to install lxml there. Lxml requires some C++ packages, so it may not be trivial to install. See https://lxml.de/installation.html

On your system, you are simply suffering the effects of Scrapy having evolved since that proof-of-concept code was initially written. `scrapy

[2020-02-18 16:48] sakshamb2113 commented on #4285
![Screenshot from 2020-02-18 22-11-36](https://user-images.githubusercontent.com/44064539/74757696-5ef96580-529c-11ea-931b-e3b23c67d59c.png)
there is one more reference of guppy in the beginning of the page.Should i change this too?

[2020-02-18 18:05] rmax commented on #2594
@BrenBarn it's really tricky to run twisted's reactor in a sync fashion. You can take a look at https://github.com/rmax/scrapydo (it may be outdated, though)

[2020-02-18 18:58] BisariaUtkarsh commented on #4299
@joybhallaa I m not sure if there can be two applicants to a GSOC idea. We may have to confirm this with the concerned mentor I guess so. @Gallaecio can we do this??

[2020-02-18 19:05] BisariaUtkarsh commented on #4299
Hey @Gallaecio thanks for sharing the documentation it really helped a lot to get over some other issues. However I m stuck with "Broken Pipe Error" and couldn't find a work around on stackoverflow as well. Any suggestions to tackle this...

![1](https://user-images.githubusercontent.com/31356333/74768697-07b0c080-52af-11ea-8e0e-c0f2b90365c4.PNG)

[2020-02-18 22:15] farhad-arjmand opened #4344 "i cant crawl page with security check"
i cant crawl pages with security check
https://en.yellowpages.com.tr/bathroom-plumbing-equipment-uskudar-istanbul-c

[2020-02-19 05:17] sakshamb2113 commented on #4268
@wRAR  can i work on this issue ?

[2020-02-19 06:36] surajnai567 commented on #4330
the scapy uses idna library for URL Encoding.
this problem reside in idna itself.

[2020-02-19 07:06] wRAR commented on #4268
@sakshamb2113 sure

[2020-02-19 08:53] farhad-arjmand opened #4345 "Scrapy HTTP Error 503: Service Temporarily Unavailable"
i want to scrape page with Scrapy but response is : HTTP Error 503: Service Temporarily Unavailable

I am trying to crawl a forum website with scrapy.

my code:
``
import scrapy
class TestSpider(scrapy.Spider):
    name = "test"

    start_urls = [
        "https://en.yellowpages.com.tr/restaurants-c?page=2",
    ]

    def parse(self, response):
        filename = response.url.split("/")[-1] + '.

[2020-02-19 09:31] Gallaecio commented on #4299
I don’t think 2 students can work on the same idea for GSoC.

@BisariaUtkarsh regarding your current error, it is hard to tell where it comes from, since your screenshot does not contain the whole traceback. Could you share the whole traceback as text?

Moreover, unless you share your changes that you made to https://nbviewer.jupyter.org/gist/kmike/9001574 to make it work with the latest version o

[2020-02-19 09:39] Gallaecio commented on #4344
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-02-19 09:39] #4344 closed

[2020-02-19 09:44] Gallaecio commented on #4345
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-02-19 09:44] #4345 closed

[2020-02-19 09:59] BisariaUtkarsh commented on #4299
I made several changes as per the documentation such as :

Removed project
scapy.spider to scrapy.spiders
BaseSpider to Spider
scrapy.xlib.pydispatch to pydispatcher
Queue() was replaced by multiprocessing.Queue()
HtmlXPathSelector was replaced by Selector

Here is the link to my notebook : https://github.com/BisariaUtkarsh/test_scrapy/blob/master/ipython-scrapy.ipynb

[2020-02-19 10:00] BisariaUtkarsh commented on #4299
Error :

---------------------------------------------------------------------------
BrokenPipeError                           Traceback (most recent call last)
<ipython-input-3-94de7e92d0f6> in <module>
----> 1 show_xpath('https://scrapinghub.com/crawlera', '//a[contains(text(), "i")]')

<ipython-input-2-51268820789b> in show_xpath(url, xpath)
     32
     33 def show_xpath(url, xpath):
---> 34

[2020-02-19 10:13] Gallaecio commented on #4299
Have you tried searching the internet for both the exception class and the class raising it? “BrokenPipeError ForkingPickler”.

You might also want to try to run the code on as a regular Python script in your system, to see if the issue can be reproduced that way as well, or is specific to Jupyter Notebook.

[2020-02-19 13:19] #998 closed

[2020-02-19 13:19] #1403 closed

[2020-02-19 13:55] lblanche opened #4346 "FilesDownloader with GCS downloading updtodate files again"
# Description

It seems that when using Google Cloud Storage, the Files pipeline does not have the expected behavior regarding up to date files.

### Steps to Reproduce

1. Clone this repo : `git clone https://github.com/QYQ323/python.git`
2. Run the spider : `scrapy crawl examples`
3. If you run it several times, the FilesPipeline has the right behavior : it does not download uptodate files

[cod

[2020-02-19 14:05] #374 closed

[2020-02-19 15:49] #4332 closed

[2020-02-19 16:08] #3693 closed

[2020-02-19 16:10] #4255 closed

[2020-02-19 16:12] #4073 closed

[2020-02-19 16:15] #4276 closed

[2020-02-19 17:19] kate5586 opened #4349 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:00] elacuesta commented on #4280
Closing after a month without feedback from the author.

[2020-02-19 18:00] #4280 closed

[2020-02-19 18:31] renata117 opened #4351 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 03:22] joybhallaa commented on #4299
@BisariaUtkarsh I inquired first to pick up this issue, I wanted someone to give me the nod as this was a gsoc issue and yes I am planning to join GSoC this year.

[2020-02-20 03:23] joybhallaa commented on #4307
@ammarnajjar are you still working on this issue, if not I would like to work on it!

[2020-02-20 06:32] ammarnajjar commented on #4307
@joybhallaa , still 😄

[2020-02-20 07:42] joybhallaa commented on #4307
Cool!

[2020-02-20 08:32] milena5511 opened #4354 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 12:58] asimhashmi commented on #3585
Hi @kmike, can I work on this one?

[2020-02-20 14:57] asimhashmi commented on #2127
Hi @redapple Is this issue still relevant? If yes I may work on a fix.

[2020-02-20 15:28] john-parton commented on #4330
I believe it might be due to this open issue with idna. https://github.com/kjd/idna/issues/61

[2020-02-20 15:32] john-parton commented on #4330
This _does_ work if you use the built-in `idna` encoding.

[code]

Is there a reason we're using the idna library instead of the built-in encoding?

[2020-02-20 16:17] noviluni opened #4356 "Should we delete the deprecated code in Scrapy 2.0?"
I recopilated some of the old (before 2018) deprecation warnings to discuss if we can delete them in the upcoming **Scrapy 2.0** release (chronological order):

**`BaseSgmlLinkExtractor` and `SgmlLinkExtractor` (classes)**
* ~~Deprecation warnings: 07/2014~~
* ~~Links:~~
    * ~~https\://github.com/scrapy/scrapy/blob/c4ee4b6075fbb616272788b14b70f0af63dc2877/scrapy/linkextractors/sgml.py#L23~~

[2020-02-20 17:14] kjd commented on #4330
`i❤.ws` doesn't work because it is an illegal domain. See [RFC 5891](https://tools.ietf.org/html/rfc5891), specifically noted in Appendix A, "Disallow symbol and punctuation characters except where special exceptions are necessary". Python's idna codec works because it is from an earlier version of the spec that is now been superseded. The `idna` library exists to implement the modern version of t

[2020-02-20 17:23] kmike commented on #4356
I think that's fine to remove most of them, better in separate PRs.

It can be nice to do this for 2.0, but it is not a blocker for release; we can remove them at any time.

For Spider.make_requests_from_url there are few PRs already; it turns out a bit more tricky, as not all usages were properly deprcated.

[2020-02-20 21:53] SachitNayak commented on #3103
I'm facing the same issue - tried removing 's' in 'https' to switch to normal 'http'; no luck! Any solutions?

[2020-02-20 22:01] SachitNayak commented on #2916
if you are using scrapy shell:

`scrapy shell -s USER_AGENT=USER_AGENT = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36' 'http://www.expedia.com'`

[2020-02-20 22:12] SachitNayak commented on #3103
Solved by changing user agent. Also I did not downgrade cryptography to <2. Works well without doing that.
See https://github.com/scrapy/scrapy/issues/2916#issuecomment-589357121

[2020-02-21 04:55] Gallaecio commented on #3585
@asimhashmi No one seems to be working on it, so no need to ask, please go ahead :slightly_smiling_face:

[2020-02-21 04:58] Gallaecio commented on #2127
@asimhashmi Please, try the code from the report from @redapple and let us know if you can reproduce the issue. If you can, feel free to work on it; otherwise, we can close this issue :slightly_smiling_face:

[2020-02-21 05:01] Gallaecio commented on #4330
`i❤.ws` works in a web browser. I think it should work in Scrapy as well.

[2020-02-21 06:24] nainardev opened #4359 "[DOCS] Use HTTPS"
Reference:
 - https://httpsiseasy.com
 - https://letsencrypt.org

[2020-02-21 07:08] nyov commented on #4359
Could you run this again with the `--verbose` flag perhaps? ENOCONTEXT

[2020-02-21 07:22] Gallaecio commented on #4359
I don’t get what the issue is about, or how your comment, @nyov, is related to it :confused:

https://docs.scrapy.org/ uses HTTPS, so I guess the issue is not about that.

[2020-02-21 08:20] nyov commented on #4359
Well, I don't know what it's about either, which is why I said missing context.

I'll take a gamble and guess it might be related to some documentation links. So I hope this PR addresses the issue.

[2020-02-21 08:46] nainardev commented on #4359
Sorry

[2020-02-21 08:46] #4359 closed

[2020-02-21 11:10] nyov commented on #4356
Scrapy 2.0 sounds like the perfect release target to do some breaking changes and get rid of more of the cruft. But that's just radical me talking, as usual.

I don't see a problem with all of these getting removed wholesale, nothing here has any bearing on external lib versions, as xlib did or the Selectors shortcut. Most are merely internal renames anyway, and legacy code shouldn't have much tro

[2020-02-21 20:50] nyov commented on #4341
This sounds like a implementation detail at first glance. If you mean to keep references of specific items, you could use a fingerprinting scheme like the dupefilter, which also keeps request fingerprints in memory (only you'd do that for your items).

Then, broadly speaking, any storage backend or message queue with some hashes as keys could be used to look up and update said items, either during

[2020-02-22 08:12] somestupidpersonLA opened #4364 "I am asking for help. Memory issues, speed issues."
Hello. First I would like to say it is not a bug report, but rather an expression of my inability to find answers by myself.

IMPORTANT
I would like to see the set of  correct settings that lowers memory consumption to minimum while retaining speed at a high enough level with using proxy/dropped requests and scale at around 1-10M pages and 1000-2000 requests/minute. Now it goes up to 4Gb (can be n

[2020-02-22 08:15] somestupidpersonLA commented on #4364
And it's a simple json parsing spider. There is no memory leaking I suppose.

[2020-02-22 09:51] AKSHAYSHARMAJS commented on #4317
Hi, I m working on this issue and made some changes in scrapy/commands/parse.py but running "scrapy parse" in command line not reflecting changes. Any suggestions?

[2020-02-22 10:12] somestupidpersonLA commented on #4364
Also is it possible to download only part of page? And resume / drop after parsing of downloaded part?

[2020-02-22 11:49] nyov commented on #4330
@kjd, thanks for commenting. I'm not very knowledgeable w.r.t. IDNA/Unicode.
Are these disallowances here generic blanket restrictions, or for other reasons, perhaps some stated in https://www.iab.org/documents/correspondence-reports-documents/2018-2/iab-statement-on-identifiers-and-unicode/ (which I don't entirely understand, except that it equates to "visual hash collisions" for me, which is bad

[2020-02-22 11:53] nyov commented on #4330
A hack for the desperate:

[code]

[2020-02-22 12:13] wRAR commented on #4364
Yet this is a place for bug reports, stackoverflow.com is better suited for questions.

The default dupefilter stores fingerprints for all requests in the memory so for many requests a lot of memory gets used for that.  You may disable it if you don't care about duplicates, or you can replace it with some other implementation if you find a better-suited one. In any case the fingerprints need to be

[2020-02-22 12:20] #2726 closed

[2020-02-22 12:40] wRAR commented on #4346
The pipeline just relies on the `updated` field in the `google.cloud.storage` blob object, so maybe it always contains a wrong date?

[2020-02-22 12:58] wRAR commented on #4295
@adityaa30 I think you should xpand the "Deferred signal handlers" section in `docs/topics/signals.rst` with

- an explanation why would someone want to return a Deferred (to signal that the processing of this signal will finish later)
- a clarification that Scrapy will wait for handlers for engine/spider_opened/closed before proceeding with the respective open/close process
- another similar clar

[2020-02-22 13:17] somestupidpersonLA commented on #4364
Thank you for reply and answers.

created files?

If I've run 2 scrapers with different names and they have stored cache in
two files:

run.db.dat and  run2.db.dat is it possible to run spider one more time and
to make them use 2 files to read cached data. Any possible way to merge
them?

On Sat, Feb 22, 2020 at 2:13 PM Andrey Rahmatullin <notifications@github.com>
wrote:

[2020-02-22 13:33] wRAR commented on #4364
Only manually, I guess. What storage is that?

[2020-02-22 13:43] somestupidpersonLA commented on #4364
scrapy.extensions.httpcache.DbmCacheStorage
anydbm

[2020-02-22 13:58] somestupidpersonLA commented on #4364
If I recalculate *.db.dir and merge *.db.dat files will it work? Not sure if I will be doing this at all but want to know.
.dir  content:
'4554a4b793d6dcfdfc8eeb8fad955108e77ab2d4_data', (0, 15406)
'4554a4b793d6dcfdfc8eeb8fad955108e77ab2d4_time', (15872, 17)
'0a0755a2b53dac1a710aa57281e7fd31e5f4d896_data', (16384, 17451)
'0a0755a2b53dac1a710aa57281e7fd31e5f4d896_time', (34304, 18)
'ef2bdf2d6a9a909

[2020-02-22 16:01] #4364 closed

[2020-02-22 17:06] nyov opened #4368 "Write out a SSLKEYLOGFILE if requested"
## Summary

Major browsers have a "hidden" feature to configure a `SSLKEYLOGFILE` which writes out the browsers private SSL session keys to a file. Which in turn can be used by wireshark to decode the traffic and inspect it.

https://isc.sans.edu/forums/diary/Psst+Your+Browser+Knows+All+Your+Secrets/16415

## Motivation

Debugging SSL connections in Scrapy could benefit from being able to inspect

[2020-02-22 18:38] sakshamb2113 commented on #4268
@wRAR I looked at the PR you made recently where there is a similar error as you described above for pypy3 tox env . Does this error always come up for pypy3 only?

[2020-02-22 18:40] wRAR commented on #4268
@sakshamb2113 it's not similar at all.

[2020-02-22 18:56] wRAR commented on #4268
@sakshamb2113 or do you mean #4367? Even there a similar error also happened for the `py38-asyncio` env.

[2020-02-22 20:38] sakshamb2113 commented on #4268
@wRAR  I ran test_crawl.py a number of times on py3 and flake8 on local machine but was not able to reproduce this error even for total and delay variables both equal to zero. That should mean that this error arises only when tests run on travis ci and has something to do with the environment variables there.

[2020-02-23 03:01] Mckinsey666 commented on #4240
Hi @kmike  @Gallaecio,
I am a 3rd year EE/CS student interested in this year's GSoC. I've programmed in Python for 2 years and have some open-source experience. This is my Github: https://github.com/Mckinsey666.

I'm currently going through the MIME sniffing protocols and the scrapy functions mentioned above. Are there any other updates on this idea or possible contributions I can make before the

[2020-02-23 04:14] wRAR commented on #4268
@sakshamb2113 I had this error locally.

[2020-02-23 05:04] atlowell-smpl commented on #4341
So for API for my case, I don't particularly need anything more than being able to view products previous scraped based on the URL they were obtained from.  Something like:

getPreviousScrapeItems(string: url): [ScrapeItem]

A more advanced implementation could be something like querying for items based on a user-defined key that is defined alongside the item definition.  Then you could perform an

[2020-02-23 15:27] AKSHAYSHARMAJS commented on #4317
@Gallaecio how to run scrapy from cloned repository in my local computer? I think "scrapy parse" command running scrapy package installed through "pip install scrapy".

[2020-02-23 20:34] nyov commented on #4368
There is a Python-specific project [`sslkeylog`][1] which looks very interesting for a possible use with Scrapy:

[code]

But before I found that, I also came across a more univeral approach which may be unnecessary to work through, now, but can help in understanding the whole process better.

With many thanks, and all credit to SE user and Wireshark dev @Lekensteyn for the code.
The following is

[2020-02-23 21:25] elacuesta commented on #4317
@AKSHAYSHARMAJS you should be able to install Scrapy in "development mode" by executing `pip install -e .`

[2020-02-24 02:12] joybhallaa commented on #4299
@BisariaUtkarsh at least reply.

[2020-02-24 07:15] nyov commented on #4341
This idea seems a bit too specific to be useful in a generic capacity. I feel this is rather something you want to design for your specific use-case.

Let me try to explain:
Unlike Requests or Responses, which are kinda the same everywhere (HTTP headers + a body), Items in Scrapy can be anything - the only "requirement" is that they're something `dict`-like (if even that). Given that broadness, I

[2020-02-24 08:00] nyov commented on #4296
Yeah, they should definitely be called `Spot`. ;)

#1392

[2020-02-24 08:48] nyov commented on #4027
Since this seems to be communicated internally, has it perhaps been resolved?

[2020-02-24 11:06] Gallaecio commented on #4268
It should be a “simple” matter of increasing the parameters of the corresponding tests, using the minimum values that do not cause the tests to fail.

[2020-02-24 12:42] BisariaUtkarsh commented on #4299
@joybhallaa Hey rn i m not sure if i will go forward with this issue so you may carry on with it.

[2020-02-24 15:50] JackTJC opened #4371 "Something wrong in logging on linux"
I have set a config in settings.py:
LOG_LEVEL = 'DEBUG'
but when I excute the spider the log in level "INFO" also apears in output!It is confusing when you see a quantity of log information in terminal.
The version of my system is:
Linux version 4.15.0-66-generic (buildd@lgw01-amd64-044) (gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)) #75-Ubuntu SMP Tue Oct 1 05:24:09 UTC 2019
and version of s

[2020-02-24 16:00] atlowell-smpl commented on #4341
If you are doing updates to the database in the pipeline, you are correct that generally the number of read and update-write operations is the same.  However, if your database is customer facing, this will not work, as you will be providing users with temporarily incorrect data during a crawl (which can take a significant amount of time if crawl delay is set).  So for those people that have this p

[2020-02-24 17:11] never2average commented on #4299
Hey, @joybhallaa would you like to work with this issue? I would like to be of help.

[2020-02-24 17:14] joybhallaa commented on #4299
@never2average I'm going to work on this issue, and as @Gallaecio said,2 people can't work on this issue.

[2020-02-24 17:15] never2average commented on #4299
Like what changes have you made, I would like to offer some suggestions though?

[2020-02-24 17:16] never2average commented on #4326
@whalebot-helmsman @Gallaecio, can I be assigned to work on this issue?

[2020-02-24 20:12] sakshamb2113 commented on #4268
I was able to obtain the error locally after which I changed the "total" parameter from 3 to 4 and ran the tests.I have not obtained any error until now.

[2020-02-24 20:50] sakshamb2113 commented on #4268
@Gallaecio  @wRAR Should we change the "delay" parameter from 0.1 to 0.11 (I got no error for delay=0.11 in 80 test runs) ?

[2020-02-24 20:52] AKSHAYSHARMAJS commented on #4326
I want to contribute to this issue for GSOC2020 scrapinghub. Just have some questions in my mind
1. Do we have to implement it using [scrapy-redis] OR build a new python library for scrapy to generate redis-based message queues shareable across scrapy?
2. Which priority handling will be used for requests?
@Gallaecio @whalebot-helmsman

[2020-02-24 20:54] AKSHAYSHARMAJS commented on #4317
@elacuesta Thanks!

[2020-02-25 03:35] joybhallaa commented on #4299
@never2average  currently setting up development environment on my machine as @BisariaUtkarsh told me that he will not be working on this issue anymore.

[2020-02-25 04:04] joybhallaa commented on #4299
hey @Gallaecio , I was going through the problem statement and reading about Jupyter notebook.
I had 2 vague ideas in my mind:
1. Create custom jupyter templates that can work as widgets https://ipywidgets.readthedocs.io/en/stable/examples/Layout%20Templates.html
2. Using the ipython shell as a 'python' shell for executing scrapy https://ipython.readthedocs.io/en/stable/overview.html#enhanced-inte

[2020-02-25 04:07] joybhallaa commented on #4299
@never2average I will be open to suggestions when someone gives me the approval, I prefer getting approval from members of an organizations as they are far more experienced and can let me know if my ideas are efficient or not, and can help the project grow.

[2020-02-25 07:58] abkenov commented on #4233
I can translate the page to Russian

[2020-02-25 09:21] noviluni commented on #4233
Hi @abkenov !
Yeah, it would be really nice to have the Russian translation!

You can find how to do it in this comment: https://github.com/scrapy/scrapy/issues/4233#issuecomment-566922895

Let me know if you have any doubt! :smile:

[2020-02-25 11:39] nyov commented on #1510
Okay, so `make_requests_from_url()` is deprecated for 5 years now. But `commands/parse.py` overrides `self.spidercls.start_requests` which breaks `InitSpider` and probably custom spiders that rely on `start_requests`.

This is possibly another case where the public API endpoint shouldn't match the internal one (like CrawlSpider breaking `parse()`).

Changes in the spider api area haven't been well

[2020-02-25 12:00] nyov commented on #4371
Linux logging (syslog) is based around levels of severity, from highest (level 0) to lowest (level 7):
0 `EMERG`
1 `ALERT`
2 `CRIT`
3 `ERR`
4 `WARNING`
5 `NOTICE`
6 `INFO`
7 `DEBUG`
All log-levels are inclusive of higher severities. This means if your level is 4 (Warning), you will receive messages of type warning, _and eveything with higher severity_.

Some programs can exclude loglevels with mas

[2020-02-25 18:00] lblanche commented on #4346
Well I have checked on an example, and this date seemed right to me

[2020-02-25 18:07] wRAR commented on #4346
@lblanche how will it be the easiest way to check this? Should I just create an empty bucket and put it into the spider settings?

[2020-02-25 19:46] #4175 closed

[2020-02-25 21:20] nyov opened #4374 ""DeprecationWarning: Use of 'SCRAPY_'-prefixed environment variables" always shows"
`ScrapyDeprecationWarning: Use of 'SCRAPY_'-prefixed environment variables to override settings is deprecated.`

This deprecation warning can't be shut up inside a project.

https://github.com/scrapy/scrapy/blob/034e2c31c7d55333c3de208f80dcee1bf45ef9b9/scrapy/utils/project.py#L17-L19

This is always true, if inside a project. Because of
https://github.com/scrapy/scrapy/blob/034e2c31c7d55333c3de208

[2020-02-25 21:44] Gallaecio opened #4376 "Remove SCRAPY_SELECTORS_BACKEND from scrapy.settings.deprecated"
There is no trace of `SCRAPY_SELECTORS_BACKEND` in the code anymore, so that line should go.

It would be a good chance to review the rest of the lines in that file, some others may be worth removing as well.

Related to https://github.com/scrapy/scrapy/issues/4356

[2020-02-25 22:21] adityaa30 commented on #4317
@raphapassini @Gallaecio I have sent a pr #4377. I have made it a work in progress as I have a few questions:
1. If the user uses `--output` command then it may be not required to show scrapped data in cmd. Shall I add a check such that when `--output` is specified then data won't print in cmd?
2. Shall a add another option to save the list of requests made to another file?

[2020-02-25 22:35] Gallaecio commented on #4240
@Mckinsey666 Great to hear from you!

Make sure you read http://gsoc2020.scrapinghub.com/participate carefully. The “Pre-Application Pull Request” section covers how to make contributions to support your GSoC proposals.

[2020-02-25 23:19] Gallaecio commented on #4268
@wRAR Can you check if that also works for you? If so, I guess it makes sense for @sakshamb2113 to create a pull request with the change, and we can see if the PyPy Travis CI job also works, and we can hope it will continue to work after we merge.

[2020-02-25 23:29] Gallaecio commented on #4326
@never2average: This issue is up for the taking for any Google Summer of Code student. But we don’t assign them to specific students.

Students must write their own proposal through the Google platform, and multiple students may write a proposal for the same idea, just as students can submit multiple proposals for different ideas, even their own ideas.

If you are interested in working on this as

[2020-02-25 23:33] Gallaecio commented on #4299
2 people cannot be selected for the same idea, but multiple students may submit proposals for the same idea. Anyone should feel free to work on a proposal for this or any other idea, regardless of other candidate students.

[2020-02-25 23:37] Gallaecio commented on #4299
@joybhallaa I believe you are going in the right direction, yes :slightly_smiling_face:

[2020-02-25 23:58] #4371 closed

[2020-02-26 00:12] Gallaecio commented on #4317
@adityaa30 I think it is better to keep the implementation simple, so I personally would not implement 1 or 2 unless people show up asking for it and explaining their use cases.

[2020-02-26 02:24] adityaa30 commented on #4317
@Gallaecio Okay!

[2020-02-26 07:53] Prime-5 commented on #4302
Hello @Gallaecio, thanks for the reply.
As suggested, I looked into https://github.com/stummjr/flake8-scrapy and toyed around with flake8.
To begin with, I am trying to check if the "ROBOTSTXT_OBEY" value is correctly set to "True/False" instead of 0/1 (i.e. no typo).

If a user assigns the value 1, ROBOTSTXT_OBEY will become a 'Num' type object. I can isolate all the Num type objects using ```isi

[2020-02-26 08:06] adityaa30 commented on #4295
@wRAR Okay thanks a lot! I am working on it.

[2020-02-26 08:32] HEndo12345 commented on #4376
Hi, may I work on this?  Its my first time contributing to a project.

[2020-02-26 09:38] whalebot-helmsman commented on #4326
Let's describe idea in more details. We have a stream of scheduling:
- scheduler at the top
- priority queues which handle request prioritization in the middle
- queues responsible for storing/retrieving requests at the bottom of the stream

In https://github.com/scrapy/scrapy/pull/3884 clear separation between them was presented. New interface as a result for storing/retrieving queues:

[code]

m

[2020-02-26 12:55] lblanche commented on #4346
@wRAR Yes thats what I did

[2020-02-26 14:50] AKSHAYSHARMAJS commented on #4326
@whalebot-helmsman Thanks for the explanation. My doubts are somewhat cleared now and I will send a proper proposal once applications period starts.

[2020-02-26 19:23] adityaa30 commented on #4295
@wRAR I think as at max `settings['CONCURRENT_ITEMS']` concurrent items (per response) are processed in parallel in the Item Processor (refer [scraper.py](https://github.com/scrapy/scrapy/blob/647cba0f106211e72a8d3e028b25c2f46859c406/scrapy/core/scraper.py#L180)), parallelly many `Deferred`'s are returned which are all fired by using `DeferredList` (refer [signal.py](https://github.com/scrapy/scra

[2020-02-26 21:49] petervandenabeele commented on #2241
I was now able to import the standard _spider_ middleware `OffsiteMiddleware` class into my own _downloader_ middleware, so I now have a much shorter and cleaner implementation.

As argued above, this does the offsite domain filtering in the download chain, so that also domains that are redirects (when returning from the spider) that are offsite, are _strictly_ filtered out, before going into the

[2020-02-27 00:24] PhanatosZou commented on #4376
Hi, I'm new here. If the issue is not assigned, I'd like to help out!

[2020-02-27 01:12] joybhallaa commented on #4299
@Gallaecio  :+1:

[2020-02-27 13:57] wRAR commented on #4295
@adityaa30 yeah, I think this is correct.

[2020-02-27 14:15] #4376 closed

[2020-02-27 14:16] Gallaecio commented on #4376
@PhanatosZou sorry, @HEndo12345 beat you to it :slightly_smiling_face:

[2020-02-27 14:59] Gallaecio opened #4379 "Deprecate environment variables being loaded as settings"
Scrapy reads the following environment variables into settings named after them without the `SCRAPY_` prefix:

- `SCRAPY_CHECK`
- `SCRAPY_PICKLED_SETTINGS_TO_OVERRIDE`
- `SCRAPY_PROJECT`
- `SCRAPY_PYTHON_SHELL`
- `SCRAPY_SETTINGS_MODULE`

This is an unintended behavior, due to the (deprecated) feature that allows defining settings through environment variables not filtering out these environment v

[2020-02-27 19:52] gromovadarya90 opened #4380 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:16] sakshamb2113 commented on #1854
@Gallaecio I am interested in this issue.Can I work on this ?

[2020-02-27 20:58] AKSHAYSHARMAJS commented on #4308
@elacuesta why this issue is not closed? if something's missing i would like to work on it.

[2020-02-27 22:01] renata2216 opened #4381 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] renata7738 opened #4382 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 01:22] joybhallaa commented on #4379
I'm taking this issue.

[2020-02-28 05:34] helen798 opened #4386 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:26] helen78989 opened #4388 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 08:26] #4374 closed

[2020-02-28 12:13] abkenov commented on #4233
I've added the page in Russian, however there were troubles with properly adding the logo and it required multiple edits and wikipedia is arguing about it. Thanks for letting me help. I would also like to work on coding issues in the scope of the OSS course that I am taking at the moment in University. Hope there is some work that I can help with!

[2020-02-28 12:17] #4268 closed

[2020-02-28 13:03] adityaa30 commented on #4295
@wRAR Thanks. I have sent a pr #4390 to fix the current issue

[2020-02-28 13:11] adityaa30 commented on #1854
@Gallaecio @kmike Hey. I am a 3rd year CS student from NITT, India. I am planning to participate in GSOC this year.
I want to work on this issue as my GSOC project. Can you please send some resources on this to refer?

[2020-02-28 14:49] noviluni commented on #4233
Hi @abkenov
Thank you very much for taking the time to create that entry on the Russian Wikipedia, hopefully they will accept the article! :crossed_fingers:

About contributing to the code, with +400 opened issues I'm sure you will find something to do :)

You can start by looking at those issues with some of these tags: “docs”, “good first issue” and “help wanted”, but of course, they are usually

[2020-02-28 15:33] Kunal614 commented on #2484
@astrung  Listen you should rename all the portion where first_scrapy is written.

[2020-02-28 15:56] Kunal614 commented on #2473
Yes i think you url name create problem as i make some changes and , also uncomment the useragent from seeting.py , its working well

`import scrapy
from scrapy.crawler import CrawlerProcess
from ..items import BasicItem

class MySpider(scrapy.Spider):
    name = "basic"
    allowed_domains = ["web"]
    start_urls = ['https://www.rd.com/funny-stuff/short-jokes/']

    def parse(self, response):

[2020-02-28 16:58] nyov commented on #4234
My personal opinion is:

- Any but mobile device screens these days are widescreens (and those usually come with landscape mode switchers), but even 4:3 screens have more screen-width than height.
- Any sensible developer tool allows the use of that screen estate, so even with, say, side-by-side diffs one probably should have plenty screen for long lines.
- A whitespace-indent-level language like

[2020-02-28 18:47] nyov commented on #3288
But the "replacement code" is the HTTP1.1 downloader already, IMO.
Seeing how the old downloader here also doesn't support HTTPS, I only see it used in some special cases (maybe comparable to the FTP downloader), and just keeping the current behavior around for those cases feels reasonable to me. So I approve #4165.
The only change is pulling the rest of this single Twisted subclass into scrapy, f

[2020-02-28 19:42] #4308 closed

[2020-02-29 21:02] nyov commented on #4240
I don't know about mimesniff. At first peek, that looks like a case of NIH and a try at reinventing the venerable file magic mime detection? They seem to have "standardized" a handful of known byte patterns for the most common file-types there, but it seems limited in scope. From a quick look, I only saw many how-to-write-parser-for-x pseudocode lines over there.
Is there a benefit with mimesniff

[2020-03-01 09:00] ShanikaEdiriweera commented on #3590
Any update on this?

I also encounter the issue mentioned by @kasun

[2020-03-01 09:21] faizan2700 commented on #4326
@whalebot-helmsman according to you

There is no predefined list for message queues. Redis is a must to have. Others are optional.

[2020-03-01 09:24] faizan2700 commented on #4326
@whalebot-helmsman when we are implementing other queues can we use their interface libraries like redis-py library for redis? (which libraries did you mentioned in last line that we have no requirement to use existent libraries)

[2020-03-01 11:01] withoutwaxaryan commented on #4302
Hello @Gallaecio , I am Aryan. I am interested in this project and if no one is working on it, I would like to get started on it as soon as possible. Do guide me on getting started.Thanks!

[2020-03-01 14:06] joybhallaa commented on #4379
@Gallaecio the environment variables that you have mentioned are not present in `scrapy/settings/depreciated.py`
Should I add them to the file ?

Regarding the issue at hand, I was thinking adding a check in `scrapy/settings/__init__.py`  and adding a check if the settings i.e environment variable are same as the setting in `scrapy/settings/default_settings.py`

Please let me know if this approach

[2020-03-01 17:16] nyov commented on #4379
No, these variables shouldn't all become deprecated.
The unintended side-effect here, as I understand it, is that these variables are pulled into `Settings` as if they were defined in a project `settings.py`.

They should only be evaluated by the relevant scrapy code that makes use of them, not exported as project settings.

`SCRAPY_SETTINGS_MODULE`
`SCRAPY_PROJECT` and
`SCRAPY_PYTHON_SHELL`
are d

[2020-03-01 21:08] AKSHAYSHARMAJS commented on #4284
Currently debugging is being handled by  [twisted.python.failure.py](https://github.com/twisted/twisted/blob/trunk/src/twisted/python/failure.py) which uses `pdb` and doesn't support `ipdb`.

I tried using [debug.py](https://github.com/scrapy/scrapy/blob/master/scrapy/extensions/debug.py)
extension tool but its only handling SIGUSR2 signals and will not run on windows platform.

Can you please gui

[2020-03-02 01:28] joybhallaa commented on #4379
@nyov from what I understand I have to:
1. I have to make sure that `SCRAPY_PROJECT` & `SCRAPY_SHELL` are **only read as environ** to the code that needs them and not be used as settings.
2. Document that these are not depreciated, but can & should be used as **environ variables**

As always, feel free to correct me. Still learning

[2020-03-02 10:45] A-hoy opened #4393 "scrapy parse emits ANSI color sequences in the Windows terminal"
### Description
i try to use `scrapy parse` command in cmd（anaconda env），but when it logs Scraped Items and Requests, there are full of  garbled code which i show you below（Additional context）. I have no idea of it, but it seems to have nothing to do with character encoding,

### Steps to Reproduce
running command
[code]
the `quotes3` spider shows below（Additional context）

**Expected behavior:**

[2020-03-02 12:16] whalebot-helmsman commented on #4326
@faizan2700 We talk about two different types of message queues' libraries - interface and scarpy-connection. E.g. redis-py is an interface library, https://github.com/rmax/scrapy-redis is a scrapy-connection library. We should use interface libraries and not write our own. It is not required to use scrapy-connection libraries.

[2020-03-02 13:28] nyov commented on #4379
Sorry, @joybhallaa, but let's wait for someone from the maintainers team to clarify this - I could be wrong about it.

[2020-03-02 13:33] nyov commented on #4393
No idea where that comes from, but these are ANSII escape sequences for colors in your text there.
Do you use some kind of color logging extension?
Or perhaps that's something your anaconda does?

[2020-03-02 14:11] Urahara opened #4394 "How to handle errors from spider properly?"
- Is  `yield` errors like http status, bad responses from spider considered a bad practice?
- What Scrapy recommends to users do in workflow of spiders to handle errors?

I tried using  `stderr ` but without success. (Like when i encounter a error in my workflow i quit spider and put a message in there)

I'm asking here because i think this is out of scope of SO.

[2020-03-02 14:43] wRAR commented on #4394
This is definitely out of scope of GitHub issues though.

I'm not sure I understand this.

Non-fatal errors encountered by user code are usually logged, and on fatal ones the callback is aborted, with a simple `return` or with raising an exception. Closing the whole spider is usually not needed.

[2020-03-02 14:49] wRAR commented on #4393
Pass `--nocolour`. While Pygments seems to have some support for the Windows terminal, Scrapy uses `TerminalFormatter` which is specifically for ANSI sequences. This is probably a bug in Scrapy.

[2020-03-02 15:13] nyov commented on #4393
Ah, nice catch. I hadn't known about this.

So we should detect platform in Scrapy to load a better `Formatter` class in windows?
But I couldn't find one here https://pygments.org/docs/formatters/ that says it would support windows color stuff.

[2020-03-02 15:18] wRAR commented on #4393
Yup, the only Windows support I see is in the console utility (cmdline.py) , no formatters are available. Maybe it's better to just have nocolour enabled by default on the Windows terminal (but not on UNIX terminals running under Windows).

[2020-03-02 17:46] Urahara commented on #4394
@wRAR Sorry about that, i mean that if I am doing a scraping process and at some point i starting facing http errors or invalid xpath selectors, etc what is the best practice to "Close Gracefuly" the Spider and then analylize what is wrong with it, is more clear now what is my purpose? I using Scrapy for years now and i trying to archive best practice to write good spiders.

[2020-03-02 17:59] Urahara opened #4396 "docs: Wrong year in footer notes"
### Description

The footer of generated docs of https://docs.scrapy.org/ are 2018, _eg:_ "© Copyright 2008–**2018**, Scrapy developers Revision be2e910d."

### Steps to Reproduce

1. Go to https://docs.scrapy.org/
2. See footer

**Expected behavior:** The year should year current year: 2020. _eg:_ "© Copyright 2008–**2020**, Scrapy developers Revision be2e910d."

**Actual behavior:** The year tha

[2020-03-02 18:14] sakshamb2113 commented on #4306
@Gallaecio I am working on this issue

[2020-03-02 19:27] wRAR commented on #4394
The way to close gracefully is to raise `CloseSpider`.

No.

Log the error using the builtin logger. As for items, you should always write them into a file instead of parsing Scrapy's stdout.

Also, consider using [spidermon](https://github.com/scrapinghub/spidermon).

[2020-03-02 19:27] #4394 closed

[2020-03-02 19:30] wRAR commented on #4396
Already fixed in master.

Also, that doc was built in 2019, not 2020.

[2020-03-02 19:30] #4396 closed

[2020-03-02 19:56] somestupidpersonLA opened #4397 ""Empty separator" error while pasting .split("some-non-ascii-character") into scrapy shell."
Is it possible to use scrapy shell and paste non-ascii characters?
I think it is related to IPython.

[2020-03-02 22:11] nyov commented on #4397
This should work.
[code]
It seems your non-ascii separator was swallowed somewhere in the middle (and then `split()` got an empty separator).
It could be your IPython console encoding. If you don't use utf-8 with your python shell, probably you can't paste characters that are not valid in your encoding.

Possibly of help: https://stackoverflow.com/questions/20826788/str-split-giving-me-valueerror-

[2020-03-03 00:54] A-hoy commented on #4393
@nyov , i didn't use something loggin extension. @wRAR , after use --nocolour option, it works. Thanks!

[2020-03-03 20:31] atlowell-smpl commented on #802
Bumping this.  Having different download delays would be incredibly useful.  For instance, you could have one delay that is performed between entry points (start_urls), one delay that is performed between individual pages, and one delay that is used to handle data obtained from ajax requests (such as data that is loaded by button presses on a single page).

[2020-03-03 22:12] matthew02 commented on #4307
Is it possible for more than one person to work on this issue at the same time? I'm trying to find a way to contribute to OSS, but I'm having a hard time finding an entry point. This is something I could handle, though.

[2020-03-04 00:48] nyov commented on #4356
Ah, looks like we didn't get all of them in 2.0 ;)
I've done `Crawler.spiders` in #4398.
The LinkExtractors could _possibly_ still be useful? But the code is in the history for whoever wants to extract it there, I'm still for removing them.

Added #4400 for `MultiValueDict` and `SiteNode`.

[2020-03-04 08:22] walkerqt commented on #2653
- Did Scrapy 2.0 solve the problem?

- If it is twisted problem, can it be replaced by asyncio?

[2020-03-04 15:07] wRAR opened #4401 "Easy to break installing the custom reactor"
I created a spider that imports `scrapy.mail` and got "wrong reactor installed" after setting `TWISTED_REACTOR`. This is because `scrapy.mail` imports `twisted.internet.reactor` at the top level and because `scrapy crawl` imports all spider modules.

So I think we should kill all top-level `twisted.internet.reactor` imports (it was partially done when adding the feature, so that importing `Crawler

[2020-03-04 16:27] adityaa30 commented on #4401
I am working on this issue.

[2020-03-04 17:28] elacuesta commented on #4401
True, this is what happened to me in https://github.com/scrapinghub/testspiders/pull/10, I didn't realize there were still conflicting imports within Scrapy itself.

[2020-03-04 20:15] wRAR commented on #4393
@AKSHAYSHARMAJS please create a pull request.

[2020-03-05 07:40] #4397 closed

[2020-03-05 07:55] ayay129 opened #4405 "is scrapy request shor connection? how to change it become long connection?"
## Summary

One paragraph explanation of the feature.

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you've considered. Be sure to explain why Scrapy's existing customizability isn't suitable for this feature.

## Additional context

Any ad

[2020-03-05 08:29] ivange94 commented on #4222
Is someone working on this? If not I'd like to work on this.

[2020-03-05 09:21] wRAR commented on #4405
You are supposed to fill in those template lines, not submit them as is. And the title makes no sense. Please fix these problems if this a bug report or use https://stackoverflow.com/ instead if this is a question. Thank you.

[2020-03-05 13:44] adityaa30 commented on #4401
@wRAR I have tried a lot to get "wrong reactor installed" error but cannot get it. Can you provide an example?

[2020-03-05 14:06] wRAR commented on #4401
@adityaa30 set `TWISTED_REACTOR = 'twisted.internet.asyncioreactor.AsyncioSelectorReactor'` in settings.py and add `import scrapy.mail` in your spider.

[2020-03-05 17:05] adityaa30 commented on #4401
@wRAR  I have found out that, even if don't do `import scrapy.mail` and execute `scrapy crawl quotes` with `TWISTED_REACTOR = 'twisted.internet.asyncioreactor.AsyncioSelectorReactor'` set in my settings.py. I still get the error:

![Screenshot from 2020-03-06 04-02-38](https://user-images.githubusercontent.com/37837542/76005681-6160ee00-5f31-11ea-8114-a733138bb090.png)

I feel this is because `twi

[2020-03-05 17:08] wRAR commented on #4401
Then it looks like some other code imports `twisted.internet.reactor` in your test.

[2020-03-05 17:31] adityaa30 commented on #4401
@wRAR Okay thanks! I think I have a good idea now what the exact issue is. I will soon send a pr fixing this issue. Also, shall I add in documentation that the user code shouldn't do similar top-level imports in the same pr? If yes, where in docs should this be added?

[2020-03-05 17:39] wRAR commented on #4401
The docs should say what can happen, why, and how to prevent it. It's also not just about user code but also about 3rd part libraries that are imported in user code. I think a good place for this is in https://docs.scrapy.org/en/latest/topics/settings.html#std:setting-TWISTED_REACTOR

[2020-03-05 17:50] adityaa30 commented on #4401
Okay, working on it.

[2020-03-05 21:43] ChriperX commented on #4233
Hey, i have added the page in Italian, i don't know if it's already indexed. Hope i helped!

[2020-03-06 06:44] adityaa30 commented on #4401
@wRAR I have sent a pr fixing this issue.

[2020-03-06 08:24] petervandenabeele commented on #1560
I am starting to make a small piece of code to at least drop these query params.

I prefer to _drop_ them in the actual URL that is called, rather than "deduplicate" them (in the link_key function of `self.link_key = lambda link: canonicalize_url(link.url,`)

I am trying to implement this in a `process_value` closure for the LinkExtractor.

Makes sense ?

[2020-03-06 16:36] ivanprado opened #4408 "follow_all fails with an empty list of URLs"
### Description

`follow_all` with an empty list of urls fails with `ValueError('Please supply exactly one of the following arguments: urls, css, xpath')`

What I would expect instead is just an empty generator of requests.

### Steps to Reproduce

[code]

**Expected behavior:**

No error is raised

**Actual behavior:**

`ValueError('Please supply exactly one of the following arguments: urls, css,

[2020-03-07 17:34] nyov commented on #4401
Should/could we perhaps wrap and replace the `twisted.internet.reactor` function with a custom lazy-loading reactor-loading function instead? I'm not sure how feasible that is, but it seems there are quite a few `twisted.internet.reactor` imports still necessary, and maybe not all of them can always be moved around into a method call.

[2020-03-07 20:46] nyov commented on #4356
Another one from the list: #4411 for `scrapy.extensions.feedexport.S3FeedStorage` without AWS keys.

But I noticed I might be cleaning up easy first issues for gsoc candidates here, oops. :blush:
@Gallaecio, do you think this warrants a "good first issue" tag?

So for completeness sake:
`Spider.make_requests_from_url` is referenced in #4178

That means, currently remaining on the list of easy pick

[2020-03-07 22:22] nyov commented on #4206
Do you really want to start covering 3rd party tools in the official scrapy docs?

I'm not opposed to this here, but just a warning about the potential minefield, if others request inclusion of their scrapy tools into the docs, following this precedence.

Then you might want to have some rules about what's acceptable and what not (3rd party code repos of middlewares, etc.? Links to helper code lik

[2020-03-07 23:36] Lukas0907 commented on #50
The problem is that a spider with `allowed_domains = ["localhost:8080"]` is not allowed to request `http://localhost:8080`. However, if the user wants to crawl a URL with an explict port and doesn't want to shield the spider off from other ports on the same domain, the user could use `allowed_domains = ["localhost"]` which does allow requests to `http://localhost:8080` (i.e. this is an easy workar

[2020-03-08 06:22] HugoCL commented on #4302
Hi!, My name is Hugo and I'm a third year Computer Engineering from Chile and also a GSoC aspirant. This project from the ideas list catch my attention, so I would like to contribute in it, if it's possible.

I'm new in the open source community, but I'm really committed to learn anything to start. If anyone can help me in how to start contributing, I will appreciate it very much.

Regards!

[2020-03-08 15:15] petervandenabeele commented on #1560
This implementation in my scraper seems to work:

[code]

[2020-03-08 21:15] nyov commented on #50
I agree with @Lukas0907 on the principle here:
`allowed_domains` handles domains. It don't currently see a reason to include any ports. `allowed_domains` is not the `start_urls` setting.

Behaviour: allow any ports; don't check against `netloc`, but against `hostname` property.

What sensible reason is there to restrict OffsiteMiddleware to ports? Allow port 443 but not port 80 links? Is this kind

[2020-03-08 21:33] nyov commented on #3938
I'd be interested if this is fixed by #4411, or if this now entirely fails to activate the `S3FeedStorage`?
The tests don't seem to sufficiently cover the issue, if someone could test this PR real-world, that'd be great.

In general I agree with the issue here, instancing twice is bad form, and should be fixed in any case.
This behaviour changed with commit 815d6160cfac5c0b764d01fc9d4ebc4ab7793aac

[2020-03-09 00:26] GeorgeA92 commented on #4302
@Gallaecio I have some thoughts in this direction:

All existing scrapy modules/middlewares(that read data from settings) require specific (strictly named) attributes.
It means that scrapy will not read incorrectly named settings.
In this case we can:

1. Collect all setting attibute names used by scrapy application (into `set` variable).
2. Subtract that names from all attribute names.

In result

[2020-03-09 03:36] Prime-5 commented on #4302
@Gallaecio, I figured that out. I have made a class that finds if there is a typo in ROBOTSTXT https://github.com/Prime-5/flake8-scrapy/commit/99fe005b9af63f0c913e281c7a88837fdc2fa87f
I'm thinking of putting all 'bool' types in a list and then this class can be extended to check all of those from the ```settings.py``` file.

[2020-03-09 03:59] Prime-5 commented on #4302
@Gallaecio, made the list https://github.com/Prime-5/flake8-scrapy/commit/1e33d9e20b6285967fb6226afd307b5e2ecac9aa. If this is alright, I would check for other ```int``` and ```str``` based values.

[2020-03-09 04:55] somestupidpersonLA opened #4415 "Does scrapy uses default system folder for temp files (disk C) and copies it after download (to the disk D)?"
If so is there any setting to change it? https://superuser.com/questions/1387909/moving-a-file-between-two-drives-on-one-ssd-will-it-be-copied

[2020-03-09 04:56] somestupidpersonLA commented on #4415
I mean large files above 1000Gb.

[2020-03-09 21:24] nyov commented on #3755
I feel this issue hasn't actually been addressed so far.
`LinkExtractor`s have always returned absolute URIs, unlike plain `Selector` results, so I'd say that's intended behaviour.

The reason for this is, as far as I recall, that relative URLs don't usually make too much sense to have. You need to keep the domain around as well, to reconstruct a usable URL at any time.

And for this "state", `Lin

[2020-03-10 10:56] true1337 commented on #3477
Have anyone tried to integrate pika consumer implementation on Twisted?

https://github.com/pika/pika/blob/master/examples/twisted_service.py

[2020-03-10 11:25] adityaa30 commented on #4401
@nyov I think this is possible. A custom class which takes a library/package name as string with customized attribute accessing. We can override `__getattr__` method to check if the target library/package is loaded. If it is not loaded, we will use `importlib.import_module` to load the library/package and get the attribute we need.

For example:
[code]

Now, `LazyLoader` can be used to lazy-load `

[2020-03-10 12:34] #4405 closed

[2020-03-10 14:14] nyov commented on #1572
So, should we close this as resolved (or wontfix, depending on your view), as I don't see the current behaviour now changing anytime soon?

[2020-03-10 14:44] wRAR commented on #4415
Please use other places, such as https://stackoverflow.com/, for asking non-issue questions.

[2020-03-10 14:44] #4415 closed

[2020-03-10 17:12] mHassan20896 commented on #4307
Should I start working on it? I see people working on it already. I hope it would be a good contribution to the community

[2020-03-10 18:55] gigatesseract commented on #4240
Hey @Gallaecio @kmike !
I'm Praveen, a CS student in my pre-final year. I was looking through the standard for MIME sniffing, and would like to implement a standard for the same, as part of GSOC2020.
Currently, I am going through the MIME sniff standard, existing library implementations and MIME sniffing vulnerabilities and looking at the lines of what @nyov has mentioned.
In the "Pre-Application

[2020-03-10 19:16] TheRealAstroboy commented on #2803
bump ;) ?

[2020-03-10 20:23] zach-watrhub commented on #3755
For reference, I was using `Scrapy==1.4.0`

[2020-03-10 21:48] kmike commented on #4240
I'm not sure we should be using libmagic here, as the goal is to be compatible with browser MIME sniffing, the way browsers implement it, not to implement a general file type detection. Maybe libmagic is compatible with the browser detection algorithm, but I haven't found mentions of libmagic/`file` in https://mimesniff.spec.whatwg.org/.

[2020-03-11 03:42] joybhallaa commented on #4307
@matthew02 @mHassan20896 there is a PR by @ammarnajjar which is a WIP(work in progress).

[2020-03-11 05:03] nyov commented on #4240
@gigatesseract, +1 for mentioning and looking at MIME sniffing vulnerabilities.
I can't answer authoritatively on the GSoC q, but so it doesn't get overlooked: I _believe_ the `/contribute` issue list is for onboarding, it says

As such, I believe you're free to contribute to issues with a higher level of difficulty, if they fit otherwise.

[2020-03-11 08:24] gigatesseract commented on #4216
@Gallaecio
I see that the issue is still open. Are there any additional features to work on in this issue? I am going through the links in this thread.

[2020-03-11 17:10] gigatesseract commented on #4222
@Gallaecio @Matthijsy
The referenced PR has no diff. Does the PR fix the issue? What am I missing?

[2020-03-11 17:20] Matthijsy commented on #4222
The code has an added tab to include it within the context of `set_environ(SCRAPY_CHECK='true'):`, this makes sure that the environment variable is set during the execution of the code

[2020-03-11 18:14] alake16 commented on #4250
Anyone working on this? Wanted to get started contributing to this project by jumping into this issue if no one else is.

[2020-03-11 20:38] nicholas-mischke opened #4419 "Scrapy Splash Screenshot and calling coroutine objects"
I'm trying to save screenshots of scraped webpages with Scrapy Splash. I've copied and pasted the code found here into my pipeline folder: https://docs.scrapy.org/en/latest/topics/item-pipeline.html

Here's the code from the url:

[](import scrapy
import hashlib
from urllib.parse import quote

class ScreenshotPipeline(object):
    """Pipeline that uses Splash to render screenshot of
    every Scra

[2020-03-12 06:33] BroodingKangaroo commented on #4250
@alake16
Hi, I have already started working on this issue, but you can also start if you want.

[2020-03-12 08:01] wRAR commented on #4419
What Scrapy version are you using?

[2020-03-12 09:14] nicholas-mischke commented on #4419
Scrapy 1.8.0 is what's installed on my machine.

Here's one work around I've found, but I doubt it's best practice.

In the following file:
In /home/user/anaconda3/envs/envname/lib/python3.7/site-packages/twisted/internet/defer.py
I've gone to class Deferred and changed the method _runCallbacks(self) by doing the following.

    def _runCallbacks(self):
        """
        Run the chain of callbac

[2020-03-12 09:26] wRAR commented on #4419
You are reading docs for 2.0, which contain an example that only works on 2.0. See https://docs.scrapy.org/en/latest/topics/coroutines.html

[2020-03-12 09:26] #4419 closed

[2020-03-12 09:30] Gallaecio commented on #1854
@adityaa30 Sounds good to me :slightly_smiling_face:

[2020-03-12 09:31] #1336 closed

[2020-03-12 09:37] gigatesseract commented on #4222
Got it. My bad.
Thanks for clarifying.

[2020-03-12 09:53] gigatesseract commented on #4336
@Gallaecio
It does not work with single quotes in Windows right?
 So we can warn about the usage of ```"``` in Windows and ask them to use ``` ' ``` in Linux based systems.
It is a simple documentation text, I will work on it if that's okay.

[2020-03-12 10:07] Gallaecio commented on #4379
I think @nyov covered the issue pretty well.

@joybhallaa:

1.  Yes, _unless_ they are defined as settings.

    Uses can define arbitrary-named settings in Scrapy. This is what allows custom middlewares and extensions to define their own settings.

    So, for example, if a project defines a `PROJECT` setting in `settings.py`, the `custom_settings` attribute of a spider, or similar, there should

[2020-03-12 10:12] ejulio commented on #4250
Once you have something, you can create a draft PR in Github so we can follow through there.
Also consider an alternative to deliver data at every N items or X minutes.

[2020-03-12 10:28] Gallaecio commented on #4284
I don’t have much experience with Python debugging, none whatsoever when Twisted is involved. I would start by finding out how to use ipdb or similar with Twisted (e.g. https://stackoverflow.com/a/42034319/939364).

[2020-03-12 11:57] Gallaecio commented on #4302
@GeorgeA92 Interesting, I had not thought of warning about unused settings. That may be better than static analysis for this use case.

I will create a separate issue for static analysis, and keep this issue for the specific scenario I described about typos in setting names.

@Prime-5 You seem on the right track for static validation scenarios.

[2020-03-12 13:44] #4408 closed

[2020-03-12 16:43] adityaa30 commented on #1854
@Gallaecio Thanks for the reply. I have been understanding the workflow of [http11.py](https://github.com/scrapy/scrapy/blob/master/scrapy/core/downloader/handlers/http11.py) and wanted to know what are the key features that I should be focusing on?

[2020-03-12 17:18] Gallaecio opened #4421 "Implement static checks for Scrapy projects"
On static analysis specify to Scrapy projects, at the moment there only seems to be https://github.com/stummjr/flake8-scrapy

I think we should come up with additional checks based on our day-to-day experiences using Scrapy and common issues we see in the community, specially in new users, and implement them in https://github.com/stummjr/flake8-scrapy (or a fork if needed) when possible, and look

[2020-03-12 17:22] Gallaecio commented on #4421
https://github.com/scrapy/scrapy/issues/4302, about typos in setting names, is one issue that could be addressed, but it may be better [addressed at run time](https://github.com/scrapy/scrapy/issues/4302#issuecomment-596271546).

@Prime-5 has been working on type checking for setting values.

I’m thinking https://github.com/scrapy/scrapy/pull/4170 may be better done with a static checked, to allow

[2020-03-12 18:02] Gallaecio commented on #4240
Whatever works best. If existing libraries can help with long-term maintenance or performance, they should definitely be considered. [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) and [KISS](https://en.wikipedia.org/wiki/KISS_principle) always apply :slightly_smiling_face:

[2020-03-12 18:05] Gallaecio commented on #4216
There are no additional things, although @akamanzi may be out of time to complete his proposal. If so, you could see if you can address the issue yourself, maybe build on top of his work so far.

[2020-03-12 19:10] Gallaecio commented on #1854
Well, I guess it would be best to start by getting a working implementation, something that allows using HTTP/2.

When that works, the next step would be to add support for what our HTTP 1.1 implementation currently supports. Mostly that the settings that may be used to modify how HTTP 1.1 works also work similarly in HTTP/2 (where possible).

I think that would make the project complete. Extra go

[2020-03-12 19:22] Gallaecio commented on #4336
I was translating the tutorial the other day, and I noticed we do mention this there: https://docs.scrapy.org/en/latest/intro/tutorial.html#extracting-data

We could add a similar warning to the reference documentation.

[2020-03-12 19:26] Gallaecio commented on #4222
https://github.com/scrapy/scrapy/pull/4298, from @faizan2700, is only missing tests. If @faizan2700 is busy, maybe someone else can work on tests, and send a pull request to the corresponding branch in his fork, or create a new pull request built on top of his changes.

[2020-03-12 19:42] #50 closed

[2020-03-12 19:56] Gallaecio commented on #1572
The feedback so far (including yours) seems to favor enabling it by default only from the command line, so I think it is OK to leave it open for someone to implement that approach.

And there is always the hope that we will eventually change people’s minds and get it disabled by default globally :slightly_smiling_face:

[2020-03-12 20:22] Gallaecio commented on #4206
Yes, I would love to have 3rd party open source tools and libraries that are commonly used along with Scrapy extensions covered in the parts of the documentation where they make sense.

In my vision of the Scrapy documentation, the documentation would not explain how to “use Scrapy”, but rather how to “do web scraping using Scrapy”, and that involves using 3rd party libraries and tools. I think us

[2020-03-12 20:28] Gallaecio commented on #4356
Nah, let us just get rid of them in time for [2.1](https://github.com/scrapy/scrapy/milestone/27).

[2020-03-12 20:29] alake16 commented on #4250
@BroodingKangaroo how's it going for you? Blocked on anything at the moment?

[2020-03-12 20:37] Gallaecio commented on #2653
You can use asyncio with Scrapy 2.0. I am not sure that it will fix it, though. It is still using Twisted.

[2020-03-13 02:15] cnqbit commented on #2653
I try to add this to settings.py
[code]
report error
[code]
environment
[code]

[2020-03-13 08:39] Gallaecio commented on #2653
Wow, https://twistedmatrix.com/trac/ticket/9766

[2020-03-13 09:25] BroodingKangaroo commented on #4250
@alake16 I am in the process of understanding how scrapy works inside and how to do what is required. :smiley_cat:
@ejulio We should merge and remove partial results after finishing work, should we?

[2020-03-13 10:57] adityaa30 commented on #1854
@Gallaecio Thanks. I am working on a demo implementation now.

[2020-03-13 11:26] ejulio commented on #4250
@BroodingKangaroo , my idea is that it should be partial deliveries.
No file deletion/aggregation, as that would be basically the current behavior.
The idea here is to be able to deliver files before a run finishes, so we don't need to wait days/hours for a result.

[2020-03-13 12:22] davide1995 commented on #2115
What about if I don't have the permissions for sudo and I'm installing the package in the .local folder with pip3 install --user <package>?

[2020-03-13 13:12] Gallaecio commented on #2115
If you need the python headers installed (what `python3.8-dev` provides), and cannot install them system-wide, see https://superuser.com/q/431347/172753

[2020-03-13 14:42] blushingpenguin opened #4423 "scrapy hangs requesting http://www.hpe.com/"
### Description
Scrapy hangs requesting a couple of sites, namely:

http://www.hpe.com/
and
http://viz.ai/

These work fine in a browser.  Eventually the connection times out (after 3 minutes, which I assume is a default)

### Steps to Reproduce

scrapy shell http://www.hpe.com/
scrapy shell http://viz.ai/

**Expected behavior:** [What you expect to happen]

The pages should load as in a browser

[2020-03-13 15:11] wRAR commented on #4423
http://viz.ai/ works (at least with 1.7.3), http://www.hpe.com/ indeed doesn't. But http://www.hpe.com/ doesn't work with curl either. Setting a fake user agent helps both with curl and Scrapy so this is just anti-bot protection.

[2020-03-13 15:39] blushingpenguin commented on #4423
Right, I hadn't checked that carefully enough.  I have re-checked www.hpe.com and I agree with your findings.  Sorry about the poor bug report.

For https://viz.ai (vs http://viz.ai as originally reported) I get an ssl error:

[code]
This does work in curl:
[code]

[2020-03-13 15:56] wRAR commented on #4423
Pass `-s DOWNLOADER_CLIENT_TLS_VERBOSE_LOGGING=1`. I suspect your Python libs don't support TLSv1.3 and cannot negotiate an older version for some reason. It works here.

[2020-03-13 16:02] wRAR commented on #4423
Though I'm not sure if that logging works on connections that get an error.

[2020-03-13 16:39] blushingpenguin commented on #4423
That didn't seem to elicit any more information unfortunately:
[code]

[2020-03-13 16:55] wRAR commented on #4423
Then I'm afraid you can only use Wireshark to see what protocols/ciphers does Scrapy propose. Or try with upgraded pyOpenSSL/cryptography/Twisted modules.

[2020-03-13 20:32] ejulio opened #4424 "Adjust throttling for 429 response codes"
HTTP 429 response code is returned when we reach a rate limit for an API at a given time.
Usually, it is a matter of waiting a bit to start sending new requests.
The "problem" is that, if concurrency settings are greater than the allowed number of requests from the API, we'll always get 429s.

A solution would be to tune throttling so it delays requests based on 429s.
It can be a extension/middlew

[2020-03-13 20:41] ejulio commented on #4424
As a solution, I thought:

* Start with a guess of Requests per Minute/Second (RPM/RPS) - Probably `CONCURRENT_REQUESTS`
* Keep track of the requests sent in the last N minutes
* For each request:
  1. store the minute/second it was sent
  2. record the response code (200, 429)
  3. record the latency
* Compute new delay based on the average number of successful (200 status code)requests and avera

[2020-03-14 07:54] clairehuang77777 opened #4425 "Error shows when using pip install scrapy command"
I saw these error message when using pip install scrapy command....
don't know how to do...

 ERROR: Command errored out with exit status 1:
     command: 'c:\users\claire.h\appdata\local\programs\python\python38-32\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\claire.h\\AppData\\Local\\Temp\\pip-install-2ywmump1\\Twisted\\setup.py'"'"'; __file__='"'"'C:\\Users

[2020-03-14 08:18] clairehuang77777 commented on #4425
hi, I've solved this problem by downloading "Twisted" by myself

you can download wheel file on this website: http://www.lfd.uci.edu/~gohlke/pythonlibs/
(* remember choose a wheel file that match your python& windows version)

and download twisted by using command:

then try again

[2020-03-14 09:39] #4401 closed

[2020-03-14 09:43] Gallaecio commented on #4424
I don’t think extending AutoThrottle to take this into account would be a bad idea, as long as we allow disabling the feature without disabling the whole extension.

[2020-03-14 10:24] #4425 closed

[2020-03-14 16:33] Prime-5 commented on #4421
@Gallaecio @ejulio @elacuesta I've written a draft proposal for this idea, could you give me some feedback?
https://docs.google.com/document/d/1su4A8bzSTKgUulfHj55cLiuRqFbWOL8VbRt16kGCSPs/edit?usp=sharing
The comment rights to this doc is public.

[2020-03-14 23:10] Lukas0907 commented on #4326
I'm very interested in working on this issue as a GSoC project. I have prepared a draft of my application on Google Docs: https://docs.google.com/document/d/1ejSo4aOlcnZvaEiPjHTB7oGC_QGZ7HuVrWrHWF_qCaQ/edit?usp=sharing

I'd be very happy about feedback, especially about the scope of the project and the timeline.

[2020-03-15 04:46] clairehuang77777 opened #4427 "Error shows when running Scrapy crawl"
The error shows when running scrapy crawl

this is the code i try to run:
[code]
[code]
`class MyfirstscrapyprojectPipeline(object):
    def process_item(self, item, spider):
        item['push']= int(item['push'])
        return item
`

[2020-03-15 05:12] vortexkd commented on #4427
Hi, Did you mean to use " = " instead of ":" ?
[code]
Also, it seems that your selector is returning "None"  with the above selector, so maybe you want to assign a default value (or change your selector)?

[2020-03-15 08:41] clairehuang77777 commented on #4427
yes! i revised the code and forgot to change ":" into "="
after i changed ":" into "=", the code start working!
thanks your for the advise! really helpful!

and yes, the item['push'] return "None",
so i tried this code to make it return int, but it's doesn't work
`item['push']=` int(item['push'])
i am still trying to figure out how to do this...
thank you again!

[2020-03-15 08:41] #4427 closed

[2020-03-15 09:10] clairehuang77777 opened #4428 "Export scrapy data from website into google spreadsheet"
I am willing to scrap a website for some information. The difficult part is, i want to export all the data in to the google sheets and make the crawler run after some specific intervals. I 'll be using scrapy for this purpose. Any suggestions on how can i do this
(by making custom pipeline or any other way as i don't have much experience in writing custom pipelines)

here is the code i have now.
[

[2020-03-15 09:20] tindatnguyen commented on #4428
Look at example of how to write pipeline for a database it is similar, then you could use the following google sheet api.

https://developers.google.com/sheets/api/quickstart/python

As for interval question, you could set the config

DOWNLOAD_DELAY

Hope this helps

[2020-03-15 15:59] AKSHAYSHARMAJS commented on #4284
@Gallaecio Thanks, this should help. I have started working on this issue :)

[2020-03-15 20:04] elacuesta commented on #4428
We use the GitHub issue tracker to handle bugs and feature requests.
Please use the ["scrapy" tag at StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this kind of questions. See also: [Getting help](https://docs.scrapy.org/en/latest/#getting-help)

[2020-03-15 20:04] #4428 closed

[2020-03-15 22:00] EbotFabien opened #4432 "Make scrapy interact with java script directly"
scrapy is a good tool for web scraping and automated testing.But Scrapy can't interact with java script directly unlike Selenium.What if  Scrapy can interact with java script without installing a Docker and splash.

[2020-03-16 13:18] wRAR commented on #4432
Hi @EbotFabien ! Implementing this in Scrapy itself would require adding a JS interpreter or an embedded browser implementation, which would greatly complicate the architecture. We understand that this feature is needed though, and currently we are working on Scrapy coroutine support which will help with using embedded browser implementations from Scrapy spiders. This will still require installing

[2020-03-16 13:29] theshahzaibc commented on #3067
Don't send request in a loop. As you're using for loop. Just make one request and than the next request at the end of function parse.
I hope it will help you.

[2020-03-16 16:52] Gallaecio commented on #4421
It may be better to decide which checks to implement now, as part of the proposal, instead of planning to do that during the summer. We don’t want to start the project to find out we don’t know what we want to check.

https://www.reddit.com/r/scrapy/ may be a good place to ask the active members of the community for feedback about the kind of static checks that they would like to see implemented.

[2020-03-16 18:01] Gallaecio commented on #4326
@Lukas0907 Looks really good to me!

It surprised me when I read about creating a new type of queue, but then you suggested merging disk queues and the new queue type together, so :+1:.

I do wonder what kind of changes to disk queues you have in mind, and if it would not be better to start by making those changes, and _then_ start implementing the Redis-based queue (switching weeks 1 and 2).

[2020-03-16 18:53] AKSHAYSHARMAJS commented on #4326
Is necessary to use only pickle for serializing or it would be better to let the users decide which serializer to choose as per following choices:
scrapy.squeues.PickleFifoRedis-Queue, scrapy.squeues.PickleLifoRedis-Queue, scrapy.squeues.MarshalFifoRedis-Queue, scrapy.squeues.MarshalLifoRedis- Queue

[2020-03-17 00:43] vortexkd commented on #4424
Hi I'd like to help out, would this be a good place to start?

[2020-03-17 07:28] nyov commented on #4206
Oh, cool, I think a write-up like this would be nice. Let's discuss this - but that's off-topic and not related to this issue, so don't block a PR for my thoughts on the matter. Just to add that first.

I think a documentation in the style "do web scraping using Scrapy", covering the whole ecosystem, would be great. But that's a high-level view which people who know the basics of scraping, and jus

[2020-03-17 08:09] mohammad-aqajani commented on #2115
I have this problem with installing "pyemd" module, it resolved!
thanks

[2020-03-17 08:20] nyov opened #4435 "Add a scrapy wrapper for `twisted.internet.reactor` imports"
I think we should add a scrapy replacement for `twisted.internet.reactor` imports.
(Also see https://github.com/scrapy/scrapy/issues/4401#issuecomment-596111817 .)

#4406 fixed the current issues with wrong order of reactor imports, but it looks ugly to import `reactor` in all those methods.
I would rather we could revert this change and replace it with a scrapy utility function to lazily(?) impor

[2020-03-17 09:17] Gallaecio commented on #4424
@vortexkd As good a place to start as any :slightly_smiling_face:

Feel free to start, and let us know if you need any help. You can create a draft pull request if you want us to review your code before you are done implementing the feature.

[2020-03-17 10:00] Gallaecio commented on #4206
Personally, I would prefer to keep such content within the Scrapy documentation, so that it is updated as affected Scrapy parts change, in the same pull request. I think a new documentation section between First steps and Basic concepts would be a good place, and people familiar with web scraping could just skip that section.

As for the documentation confusing people, I think the core issue is no

[2020-03-17 10:11] Gallaecio commented on #4435
We could have something like:

[code]

So that we can import that function, and use `get_reactor()` where we currently use `reactor`.

[2020-03-17 12:06] whalebot-helmsman commented on #4326
@Lukas0907

Thanks for detailed proposal.

You propose next way[1] of implementing external messages

[code]

I thought about `ExternalQueues` as  a special case of `DiskQueues`[2]. What are advantages of going [1] way comparatively to [2]?

In your document you mentions ZeroMQ. ZeroMQ is not a message queue. It is a protocol and concurrency framework. It doesn't backed by storage. I don't think w

[2020-03-17 12:20] whalebot-helmsman commented on #4326
It isn't necessary. What advantages of using other serializers?

[2020-03-17 15:47] vortexkd commented on #4424
thanks! i'll get on this

[2020-03-17 18:11] Lukas0907 commented on #4326
@Gallaecio

Thank you! :)

You are right, that might be better and would make more sense. I will change it in the proposal. Thanks for the feedback.

@whalebot-helmsman

I think the main problem is that a disk queue leaks the fact that it's backed by the file system in its "interface": To enable a disk queue, one has to use the JOBDIR setting and the directory that JOBDIR points to, is created. Th

[2020-03-18 04:02] faizan2700 commented on #4222
when i run tests using tox command in scrapy directory instead of running tests I am getting exception  (ValueError : No closing quotation). I tried to check this online but couldn't solve the problem. Can someone please help me on this (@Gallaecio ) . Thank You

[2020-03-18 05:54] faizan2700 commented on #4435
I am working on this. @nyov  can you please tell me where is install_reactor() function I did not see it in mentioned pull request.
I think scrapy function which provides the singleton object of reactor needs to implemented ( what else is required? ).

[2020-03-18 09:02] wRAR commented on #4435
Ideally this should be implemented in Twisted, not in Scrapy...

[2020-03-18 11:59] codehia opened #4441 "Support for Elastic APM for sending logs to elasticsearch and kibana stack"
I have been trying to integrate elasticsearch for log management using scrapy. After searching forever, I couldn't find a way to do it.

[2020-03-18 13:00] BroodingKangaroo commented on #4250
Hi @ejulio ! =)
Could you review my PR?

Also I want to introduce myself.
My name is Maxim Halavaty and I am a third year student of Belarusian State University at the faculty of Applied mathematics and computer science. I would be happy to help develop your project during the GSOC 2020.

I have some questions regarding this issue.
1. Should we create new slot for each new file/partial?
2. How sho

[2020-03-18 14:19] ejulio commented on #4250
@BroodingKangaroo , great!
For GSoC, this is the first contribution which we ask, but you should write a project proposal so we can evaluate it.
You can write a draft and we can help you build it for final submission.

[2020-03-18 14:31] Gallaecio commented on #4421
Pylint reports `no-member` on signal assignation, such as the first example at https://docs.scrapy.org/en/latest/topics/signals.html#signals, because the target method does not exist in `Spider`.

However, it is defined in the `Spider` subclass, and things seem to work. So it would be great to have a way to improve the handling of that check for Scrapy projects.

[2020-03-18 18:14] dipiana commented on #4250
would it be possible for someone to write a tutorial on how to use this inside a very basic Scrapy crawler? I would love to be able to get started with it but don't know where to start to be honest. Thanks!

[2020-03-18 18:58] wRAR opened #4443 "Remove defer.returnValue calls"
https://twisted.readthedocs.io/en/latest/core/howto/defer-intro.html#inline-callbacks-using-yield says "On Python 3, instead of writing returnValue(json.loads(responseBody)) you can instead write return json.loads(responseBody). This can be a significant readability advantage, but unfortunately if you need compatibility with Python 2, this isn’t an option.".

[2020-03-18 19:20] ejulio commented on #4250
@dipiana it is not merged yet.
But before merging, we always update the project documentation with the proper details.
Maybe @BroodingKangaroo can include a simple tutorial once it is finished

[2020-03-18 20:41] AKSHAYSHARMAJS commented on #4326
This is my draft proposal for the gsoc 2020 https://docs.google.com/document/d/1sS2T9shWizI-U_Jm0ozw4YlZsTtSnhXQIo7uRLP-HX0/edit?usp=sharing

I humbly request respected mentors @whalebot-helmsman @Gallaecio for the feedback and suggest any changes specially on the approach of implementing message queues.

[2020-03-18 21:18] dipiana commented on #4250
Oh okay, thanks. Any idea when I could use it? This is exactly what I was looking for! :)

[2020-03-19 07:17] eyelesbarrow commented on #4443
Hello, can I work on this? It's a good 1st issue for me. Thank you!

[2020-03-19 07:28] wRAR commented on #4443
@eyelesbarrow sure

[2020-03-19 09:58] BroodingKangaroo commented on #4250
@dipiana I don't know exactly, but when I finish I will inform you from this thread.

[2020-03-19 10:01] Prime-5 commented on #4421
@Gallaecio, thanks for the issue. As suggested I had asked on reddit (and quora as well) on the same day, and attempted to contact stummjr as well, but none have been fruitful yet.

As for the ```no-member``` issue, I've reproduced it, and my thinking is that if we make a customized version of Pylint for scrapy in which we can make Pylint consider the functions defined in the subclasses (along wit

[2020-03-19 13:07] devmodi154 commented on #4443
@wRAR Can multiple people work on this issue?

[2020-03-19 13:14] wRAR commented on #4443
@devmodi154 that would be duplicated work, wouldn't it?

[2020-03-19 13:15] devmodi154 commented on #4443
Oh Yeah! So sorry

[2020-03-19 14:29] devmodi154 commented on #4211
@Endi1 I tried to reproduce the error using the given link. But it works fine with the following spider!
`from scrapy.spiders import SitemapSpider

class SiteSpider(SitemapSpider):
    name = 'SiteSpider'
    sitemap_urls = ['https://bikeradar.com/sitemap.xml']
    sitemap_rules = [('trump', 'parse_article')]

    def parse_article(self, response):
        print('parse_article url:', response.url)

[2020-03-19 18:16] apurvTri123 commented on #4296
Hi can I work on this?

[2020-03-19 18:24] wRAR commented on #4296
hi @apurvTri123 , this is a discussion ticket, we are not sure what do we want to do with this, if anything at all.

[2020-03-19 20:31] adityaa30 opened #4444 "Update redirect link from Python 2 docs to Python 3 docs"
### Description

The documentation has many redirect links to `https://docs.python.org/2/*`. As Scrapy now supports Python 3.5+ I think they should be changed to `https://docs.python.org/3/*` respectively.

### Steps to Reproduce

1. Go to [JsonItemExported](https://docs.scrapy.org/en/latest/topics/exporters.html#jsonitemexporter) and click on `JSONEncoder`
2. You will be redirected to [Python 2](

[2020-03-19 22:11] elacuesta commented on #4444
You're right, thanks for pointing it out. Searching for "python.org/2" within the `docs` directory I could find many other occurrences of direct links. We are using `Intersphinx` now, and the [stdlib is included in the mapping](https://github.com/scrapy/scrapy/blob/2.0.1/docs/conf.py#L286), probably most of those links could be rewritten. For instance, the JSONEncoder example would be:
[code]

[2020-03-19 22:12] adityaa30 commented on #4444
Thanks @elacuesta ! I will start working on this now.

[2020-03-20 00:03] adityaa30 commented on #4444
@elacuesta I have sent a pr #4445 to fix this issue.

[2020-03-20 08:20] wRAR opened #4447 "zope.interface 5.0.0 unsupported"
zope.interface 5.0.0 was released yesterday and with it some of our tests fail: https://travis-ci.org/github/scrapy/scrapy/jobs/664648176 (actually it's just one test, `CrawlerRunnerTestCase.test_spider_manager_verify_interface`).

I don't know if it's just a problem with that test or something in Scrapy is now broken too.

Changelog: https://zopeinterface.readthedocs.io/en/latest/changes.html

[2020-03-20 10:16] adityaa30 commented on #4447
@wRaR As of [zope.interface#171](https://github.com/zopefoundation/zope.interface/issues/171) they have made "`verifyObject` and `verifyClass` report all errors, if the candidate object has multiple detectable violations. Previously they reported only the first error."
They achieve this behaviour using `MultipleInvalid` (refer [zope/interface/exceptions.py](https://github.com/zopefoundation/zope.i

[2020-03-20 12:19] Gallaecio commented on #4421
I don’t think so either.

[2020-03-20 17:53] AKSHAYSHARMAJS commented on #4326
I have shared a link to my gsoc application through email to the respected mentors (@whalebot-helmsman , @Gallaecio ).
Please review it and suggest changes. I would be happy to get a feedback :)

[2020-03-20 18:16] sakshamb2113 commented on #4240
@kmike  @Gallaecio @nyov I am reading about the current MIME sniffing implementations and the security issues related to it. I am interested in working on this project for GSoC 2020.
As @kmike said that libmagic may not necessarily implement the browser mimetype detection algorithms maybe building the MIME sniffing standard from scratch is a better idea?

[2020-03-20 18:18] #4447 closed

[2020-03-20 18:25] Gallaecio commented on #4240
I believe that is @kmike’s point yes. We are open to reusing existing libraries, but the point is to get the best possible implementation, and at the moment it looks like the best way to do that may be a custom implementation from scratch.

[2020-03-21 00:00] nyov commented on #4240
And I disagree on that point with @kmike , but that's my personal point of view. I'm not who you need to impress if you're a gsoc student :smile: .

To my understanding, mime sniffing has two problem domains: _header_ sniffing of a passed MIME type (and evaluating "no-sniff" X-Content-Type-Options header etc.): these can't be done by `file`/`magic`. This is the logic to decide if content sniffing

[2020-03-21 06:14] vortexkd commented on #4424
Just a status update,
I think i've managed a decent rate limiting algorithm here
https://github.com/vortexkd/autothrottle_experiments

It can handle per second, per minute, per hour, and per day api rate limits.
Turned out to be a bit harder than expected, so maybe we'd need a new class for this? instead of trying to work it into the existing autothrottle.

I'm going to start working on getting it

[2020-03-21 17:15] michalp2213 commented on #4346
Hello, can I work on this issue?

[2020-03-21 17:42] wRAR commented on #4346
@michalp2213 sure

[2020-03-22 17:52] BHouwens commented on #3143
I'm still having the original issue. None of the proposed workarounds seem to make any difference.

[2020-03-22 21:03] michalp2213 commented on #4346
I cannot reproduce this bug. @lblanche, are you sure you set up permissions for the bucket correctly? The very first time I've tried reproducing it I got a setup where the service account I used had write permissions, but for some reason calling `get_blob` on the bucket raised a 403, which caused `stat_file` method in `GCSFilesStore` to fail, and that caused the file to be downloaded every time. A

[2020-03-23 06:41] whalebot-helmsman commented on #4326
Yes, we don't store requests on disk in case of external message queue. But we still need `JOBDIR` for storing states of all involved message queues https://github.com/scrapy/scrapy/blob/0ee04e1e91f42d7fdd69f20b00a06e7856cdc919/scrapy/core/scheduler.py#L83-L87 .
In most simple case for redis we want to store list of all topics storing requests.

[2020-03-23 11:58] Lukas0907 commented on #4326
Ah, I see what you mean now. In case of Redis, we could also use Redis to store that information, right? But for other message queues that might not work...

[2020-03-23 12:13] adityaa30 commented on #1854
@Gallaecio @wRAR I have prepared a draft of my application on Google docs
[https://docs.google.com/document/d/1AUjXgK9u1QcxqdjJxQObecgHQEKZfzO3U96ivBvblTw/edit?usp=sharing](https://docs.google.com/document/d/1AUjXgK9u1QcxqdjJxQObecgHQEKZfzO3U96ivBvblTw/edit?usp=sharing)

I would be happy to get a feedback about the proposal before submitting it.

[2020-03-23 12:30] whalebot-helmsman commented on #4326
Redis instance may store all type of key/value pairs. Some pairs may be unrelated to any spider or several spiders may share same instance. Spider need some kind of a token to filter out unrelated key/value pairs. Storing this token on disk looks reasonable even in redis case.

[2020-03-23 13:07] Lukas0907 commented on #4326
That's true. I will update my proposal! Thanks for the feedback.

[2020-03-23 14:37] sakshamb2113 commented on #4336
I am working on this.

[2020-03-23 15:18] Gallaecio commented on #4240
I think it would make sense to implement the body-based detection in libmagic syntax following the conventions from the standard, and have regular libmagic as a fallback for cases not supported by the standard.

I think the point of aiming to implement the standard is to imitate the behavior of a web browser (which we are assuming will follow the standard as well, if they don’t do it already), pot

[2020-03-23 15:40] Gallaecio commented on #4424
Also mind that slots are usually domains but may be something else. See https://stackoverflow.com/q/55860181/939364

[2020-03-23 18:10] Gallaecio commented on #1854
The proposal looks great to me, very detailed :+1:

One topic that it does not cover, though, and one that I think may be specially important once there is HTTP/2 support in Scrapy, is how users will be able to configure which protocol is used. At the moment we have settings like `DOWNLOAD_HANDLERS`, `DOWNLOADER_HTTPCLIENTFACTORY`, `DOWNLOADER_CLIENTCONTEXTFACTORY`, `DOWNLOADER_CLIENT_TLS_*`. It w

[2020-03-23 20:39] AKSHAYSHARMAJS commented on #4326
@whalebot-helmsman as per your mail, lets take the discussion further here.
The approach of implementing message queues (mentioned in proposal) is a basic idea that I thought it can be implemented in this way. Is that the right approach or any changes needed?

[2020-03-23 21:59] adityaa30 commented on #1854
@Gallaecio Thanks a lot for the review.

I will work on this now and update my proposal.

[2020-03-24 05:42] joybhallaa opened #4451 "Make documentation beginner friendly"
## Summary

The current scrapy documentation is easy to understand for people with Git & Github experience, but for some contributors who are getting their feet wet with open source, it can be a little difficult to understand.

## Motivation

The documentation can take some time getting used to

## Describe alternatives you've considered

-

## Additional context

See:
https://dev.pandas.io/docs/d

[2020-03-24 07:05] Gallaecio commented on #4326
Could you link your draft proposal or explain what you mention here?

[2020-03-24 08:57] whalebot-helmsman commented on #4326
@AKSHAYSHARMAJS
What is a advantage of creating new type of message queue `SCHEDULER_MESSAGE_QUEUE` instead of implementing message queues on top of `SCHEDULER_DISK_QUEUE`?

There is a mention of kombu in your proposal. Is it https://kombu.readthedocs.io/en/latest/introduction.html ? Kombu already supports redis, AMQP and many others. Do we still need non-kombu support for other message queues?

[2020-03-24 13:33] Grelo4ka commented on #4307
Can I start working on it?

[2020-03-24 17:43] AKSHAYSHARMAJS commented on #4326
Yes, Kombu supports redis and AMQP. Thats why I thought after implementing redis or possibly other message queues, we can add kombu support for automatic encoding, serialization and compression of messages. But currently, we need non-kombu support for message queues.

[2020-03-24 18:25] AKSHAYSHARMAJS commented on #4326
Thanks! @whalebot-helmsman
Earlier, I thought maybe we can add a `SCHEDULER_MESSAGE_QUEUE` setting to avoid creating job directory but we need states for pausing and resuming crawls as mentioned here.
So, message queue should be implemented on top of  `SCHEDULER_DISK_QUEUE`.
I will change that in my proposal : )

[2020-03-24 18:54] joybhallaa commented on #4299
@Gallaecio what deliverables would you like to see in a proposal and what features are a **must have**?
I am going to submit my first proposal today, would really like some input.

[2020-03-24 18:57] faizan2700 commented on #4326
Hello @whalebot-helmsman I just wanted to ask if there is some feature which did not get much applications as I have started writing my application for gsoc for Message Queues feature (this one) I wanted to apply for something else too in scrapy just in case. I have been reading codebase of scrapy for a while and I am familiar with codebase of scrapy.

[2020-03-25 05:35] joybhallaa opened #4453 "Depreciation warnings when running tox"
### Description

When testing with `tox` there is a long `warning summary`, which show a various deprecation warnings.

![Screenshot from 2020-03-25 11-00-19](https://user-images.githubusercontent.com/35984969/77504982-dc118f00-6e87-11ea-80a1-4f983af15ce3.png)

### Steps to Reproduce

1. Navigate to Scrapy directory
2. Run tox

**Expected behavior:**
 -

**Actual behavior:**

-

### Versions

Scra

[2020-03-25 09:42] joybhallaa commented on #4299
hey @Gallaecio @wRAR , whenever you're free, please take a look at my draft proposal. I will appreciate it

[2020-03-25 10:32] Gallaecio opened #4454 "Add a CI job with PYTHONOPTIMIZE=2"
That way we make sure we do not introduce code that relies on asserts, `__debug__` or docstrings to work, allowing people to use Scrapy when using Python in optimized mode.

[2020-03-25 12:52] ArimaValanImmanuel commented on #2881
This works for pip install scrapy too!
open cm as administrator
then use the install command!

[2020-03-25 13:50] whalebot-helmsman commented on #4326
@faizan2700 I asked in internal chat, but I wouldn't put a lot of hope here. For a project having 2-3 proposals is quite normal. If I wanted to select second project for a proposal, I just selected one interesting to me from the list http://gsoc2020.scrapinghub.com/ideas#scrapy .

[2020-03-25 15:10] whalebot-helmsman commented on #4326
Thanks @AKSHAYSHARMAJS

[2020-03-25 17:11] sakshamb2113 commented on #4240
@ejulio @Gallaecio I have made a draft proposal for this project. Here is the link
https://docs.google.com/document/d/1Zpmm-4mKGr-s74UWGRRooMIjl89PMmefB-dRmJiWXAk/edit?usp=sharing
I would be very happy to get some feedback. Comment access has been given.

[2020-03-25 17:24] joybhallaa commented on #4454
I can take this issue

[2020-03-26 02:09] elacuesta commented on #4454
Thanks @joybhallaa, please go ahead if you'd like. Note that it might fail while #4440 is still unmerged.

[2020-03-26 07:11] joybhallaa commented on #4454
@Gallaecio @elacuesta should I add a job that just exports the `PYTHONOPTIMIZE=2` environment variable, or should it do something else also?

[2020-03-26 13:23] Gallaecio commented on #4307
@Grelo4ka https://github.com/scrapy/scrapy/pull/4324#issuecomment-589001504

[2020-03-26 13:34] Grelo4ka commented on #4307
Okay, in this case I'll try to find something else what I can work on

[2020-03-26 16:05] BroodingKangaroo commented on #4250
@ejulio Thank you for your reviews at #4434, I will correct the comments, of course. =)
I am currently writing a proposal and I have a few questions.
- Should I do anything for #1336 GSoC because it's already closed.
- Is there anything else that needs to be improved in feedexport or anything else that I can do during GSoC 2020?

[2020-03-26 18:13] JacekKorta commented on #4307
Hi,
I seen that it has still Open status. I just moment started with this issue. But I’m not sure do I do this correct. I never had before an opportunity to work on someone repository. Please correct me if I’m  wrong. I fork the master branch, I cloned it on my local computer. I wrote the script to find all the lines containing “%” or “.format”. I count about 570 lines. I have list in txt file. I

[2020-03-26 18:59] Gallaecio commented on #4453
Please, do not use images to show code, and make sure you search for similar issues before you create one. I think we have an existing issue for at least one of the warnings.

[2020-03-26 19:29] joybhallaa commented on #4453
Okay, I will not include images when creating issues.

I was not able to find an issue pertaining to these  depreciation warnings.

[2020-03-26 20:48] Gallaecio commented on #4454
I think we can start with that, and see if everything works as expected (or fails as expected in the case of code modified in #4440).

[2020-03-26 21:14] Gallaecio commented on #4453
This is the issue I recalled: https://github.com/scrapy/scrapy/issues/3288

[2020-03-27 00:50] scratchmex opened #4457 "FilesPipeline.file_path always getting response=None"
### Description

As said in the [wiki](https://docs.scrapy.org/en/latest/topics/media-pipeline.html), `file_path` is a method from `scrapy.pipelines.files.FilesPipeline` called once per **downloaded** item.

I'm trying to extend this class and the method `file_path` is always getting `response=None`. The actual default implementation of this method is poor because relies on the extension to be in

[2020-03-27 00:52] elacuesta commented on #4453
In addition to the above comment ☝️
* `scrapy.utils.{http, markup, multipart}` were deprecated less than a year ago, we need to wait a bit longer to remove them: #3859
* #4409 should fix the ones about `twisted.test.proto_helpers`

See also #4356

[2020-03-27 00:55] #4453 closed

[2020-03-27 06:19] faizan2700 commented on #4326
Would Pub/Sub System be appropriate for implementing Message Queue with Kafka and ActiveMQ or others ?

[2020-03-27 15:08] faizan2700 commented on #4125
So you are saying that these functions should be given non-private names and should be included in documentation of JOBDIR so that programmer while using scrapy can use these functions . am I right?

[2020-03-27 15:09] faizan2700 commented on #4125
@Gallaecio can I work on this ( Actually I am currently working on one other issue but stuck in some testing issue which you are aware of)

[2020-03-27 17:31] Prime-5 commented on #4421
@Gallaecio, I have updated the draft proposal with a tentative list of checks that I'm planning to implement - [GSOC'20 Draft Proposal: Static Analyser for Scrapy](https://docs.google.com/document/d/1su4A8bzSTKgUulfHj55cLiuRqFbWOL8VbRt16kGCSPs/edit?usp=sharing), could you have a look at it once, as I'm planning to submit my proposal soon.

Also, I've kept a little time away for any more tests that

[2020-03-27 18:31] guptamanav077 commented on #4421
Hello,

I wanted to know how many candidates are you considering taking for this specific project?

Manav

[2020-03-28 10:41] JochenFromm commented on #2444
I have added a [PR](https://github.com/scrapy/scrapy/pull/4460) which is being reviewed by @elacuesta at the moment, please let me know if it goes in the right direction.

[2020-03-28 16:26] Gallaecio commented on #4457
Related to https://github.com/scrapy/scrapy/issues/4240

[2020-03-28 17:19] Gallaecio commented on #4125
@faizan2700 I believe you understand this issue; feel free to give it a go.

[2020-03-28 17:46] Gallaecio commented on #4421
For each idea there can only be 1 student selected. For Scrapy as a project, or for Scrapinghub-powered open source projects in general, the number of student proposals that we can accept is out of our hands, it depends on how many slots Google can assign to the Python Software Foundation, and how many of those the PSF can assign to us.

[2020-03-28 23:27] scratchmex commented on #4457
I was able to workaround with this checking if there was a response and if not returing `None`. This actually worked.

[code]

Searching in the code, this function is actually called in 3 places in `scrapy.pipelines.files.FilesPipeline`:
[code]

[code]

[code]

so I assumed that `file_path` is called before and after the download of the file which led me to return `None` if no response is supplied

[2020-03-29 04:38] vortexkd commented on #4424
Thanks for this.

[2020-03-29 06:24] adityaa30 commented on #1854
@Gallaecio @wRAR I have updated my proposal. If you wouldn't mind taking another look, I would like to get some more feedback. [Link](https://docs.google.com/document/d/1AUjXgK9u1QcxqdjJxQObecgHQEKZfzO3U96ivBvblTw/edit?usp=sharing) to the proposal remains the same.

[2020-03-29 09:08] sakshamb2113 commented on #4240
@ejulio @Gallaecio I have updated my proposal. It would be great if you could provide some feedback about it.

[2020-03-29 13:25] BroodingKangaroo commented on #4250
Hello, @ejulio!
When you have a free time, it will be very cool if you take a look at my [draft proposal](https://github.com/BroodingKangaroo/GSoC-2020).

[2020-03-29 17:09] Gallaecio commented on #4457
I would have to re-read it myself in depth to be able to provide any feedback; I think I worked on that code a while back, but I do not recall much of it, and I rarely use media downloaders nowadays.

[2020-03-29 17:51] Gallaecio commented on #1854
I cannot think of more feedback at the moment. It looks really thought-out and well put. :+1:

[2020-03-29 18:24] Gallaecio commented on #4299
@joybhallaa I’ve had a look at [your proposal](https://docs.google.com/document/d/1Nm0eyPH00ztoMMTDp0kOevdp1bDD8It4p2q80sXEAXc/edit#heading=h.fmgp3a6txcnn).

I see no mention of Twisted in your proposal. However, it was my impression that Scrapy being based on Twisted, and hence using a (non-restartable) Twisted reactor as an event loop was one of the main issues that you face when using Scrapy wi

[2020-03-29 19:30] joybhallaa commented on #4299
@Gallaecio Thanks for taking a look at my proposal.
To be honest, I was not aware of the limitation of `Twisted`, I am looking it up now.

I was able to run this old snippet on `Google Collab` with no problems.

[2020-03-30 04:30] joybhallaa commented on #4299
@Gallaecio I have a question regarding twisted:
1. Is it necessary to stop the reactor after crawlers have finished, or we can keep them running?

[2020-03-30 05:01] adityaa30 commented on #1854
@Gallaecio Thanks a lot.

[2020-03-30 05:53] rhlr opened #4463 "start_requests bypassing rules while working with CrawlSpider"
### Description

I have been trying to use Scrapy's CrawlSpider to crawl listings from a website. The problem is the data comes from `XMLHttpRequest`. So, I have been using `[Puppeteer As A Servivce](url)` to render javascript properly in scrapy. Now, since even the first request comes from a `XMLHttpRequest`, I wanted to use `start_requests` method instead of the regular `start_urls` way. But whe

[2020-03-30 08:24] wvengen commented on #102
I'm currently using something like this:

[code]
[code]

If you want custom serializers, you could add them as a method to the items, or include a serialization function in the `output_properties` (e.g. `{ 'endpoint': '/api/foo', 'serializer': serialize_foo }`). Note that you need to use a method on the item no not mess with the fields.

[2020-03-30 09:18] joybhallaa commented on #4299
@Gallaecio I've updated my proposal with proposed changes, feel free to look at it now :)
Let me know if you have any questions.

[2020-03-30 15:30] elacuesta commented on #4463
CrawlSpider does not override the default `start_requests` method, which sends all requests in `start_urls` to the `parse` callback. [`CrawlSpider.parse`](https://github.com/scrapy/scrapy/blob/2.0.1/scrapy/spiders/crawl.py#L77-L78) uses [`CrawlSpider._parse_response`](https://github.com/scrapy/scrapy/blob/2.0.1/scrapy/spiders/crawl.py#L114-L129), perhaps you could try using `_parse_response` to yo

[2020-03-30 17:45] faizan2700 commented on #4326
I have sent a maill to respected mentors (@whalebot-helmsman , @Gallaecio ) with my gsoc application attached please review it.
Thank You

[2020-03-30 17:55] Gallaecio commented on #4240
Looks good to me. I was personally hoping to see libmagic-related work earlier out of pure curiosity, but the proposed calendar makes sense, better to follow an order close to that of the specification we are implementing :slightly_smiling_face:

[2020-03-30 18:24] wRAR commented on #1854
I like the proposal @adityaa30 , thank you.

[2020-03-30 21:38] ejulio commented on #4250
@BroodingKangaroo .
Took a look at you proposal.
I'll leave my comments here, but we should find another way to share the comments instead of this issue.

1. This can be useful https://github.com/scrapy/scrapy/issues/2174
2. I wouldn't put this current work in the proposal, as it is already work in progess

[2020-03-30 23:06] raphapassini commented on #4317
Hey @adityaa30 this is a long waited one, thanks for working on this 💃

[2020-03-31 09:24] whalebot-helmsman commented on #4326
@faizan2700
In sections about redis and kafka you write about error handling on side of queues. In scrapy there are different mechanisms for error handling. They are more scraping-specific and, I think, better suit the case. Did you think scrapy would benefit from queue-level error handling?

processing queue and added in the finish queue.

I see an improvement of creating finish queue for introsp

[2020-03-31 09:43] yusofsf commented on #4443
@wRAR can i work on this? and i just need to replace returnValue with return?

[2020-03-31 09:53] faizan2700 commented on #4326
I thought that when we are handling errors (like if some page is not crawled properly or server error ) then it is more suitable to handle such errors at queue level/ or schedular level because it is job of scheduler to decide that which object should be processed next and more importantly when we will write support for distributed crawls ( I think ) it will be easier to maintain if storage of que

[2020-03-31 09:58] faizan2700 commented on #4326
I think I will discard that object tagging system from application this doesn't seem necessary to be supported.

[2020-03-31 10:03] faizan2700 commented on #4326
@whalebot-helmsman would you like to see the revised desing of queues if error handling is not suitable at that level. ( But after eliminating that I think there will be very simple and straight forward queue design.)

[2020-03-31 10:04] faizan2700 commented on #4326
@Gallaecio could you  please tell me your review ( I am really sorry for being late ).

[2020-03-31 10:24] wRAR commented on #4443
@yusofsf there is already a work-in-progress pull request about this, you can see it linked above your comment. It's also more complicated than replacing returnValue with return.

[2020-03-31 12:25] rindhane commented on #3628
@kmike @Gallaecio, could you check the modification proposed in #4465? I think this will provide the requested enhancement.
If it looks suitable, I will go-ahead and prepare the documentation and tests accordingly.

[2020-03-31 12:29] sakshamb2113 commented on #4240
Thanks a lot @Gallaecio @ejulio for the reviews. I have tried to incorporate your feedback into the proposal and made some changes.

[2020-03-31 12:55] whalebot-helmsman commented on #4326
item extraction takes place in spider's `parse` method. Success of request is also decided there. Other modules doesn't hold success criteria. In case of fail it possible to yield same request second time with flag to bypass filtering.

[2020-03-31 13:06] whalebot-helmsman commented on #4326
and that's why I mentioned first finish queue redis hashes and then boom filters.

I think it is better to scope out bloom filters idea. It is not directly related not to request queues nor to redis (or other message queue)

[2020-03-31 13:16] faizan2700 commented on #4326
Ok scheduler can not be good choice then. I think I will study codebase of scrapy more for understanding where should we place finish queue ( or redis hashes ).

[2020-03-31 13:19] faizan2700 commented on #4326
Ok

[2020-03-31 15:14] imfht opened #4466 "Can not get certificate information when http body is empty."
### Description

Can not get certificate information when http body is empty.

### Steps to Reproduce
Here is the Code:
[code]

**Expected behavior:** [What you expect to happen]
cert is not empty
**Actual behavior:** [What actually happens]
cert is empty
**Reproduces how often:** [What percentage of the time does it reproduce?]
every time
### Versions

lxml         : 4.5.0.0
libxml2      : 2.9.10

[2020-03-31 16:10] Gallaecio commented on #4466
Context for any contributor wishing to work on this: https://github.com/scrapy/scrapy/pull/4054#issuecomment-547356636

[2020-03-31 16:14] elacuesta commented on #4466
True, this happens here: https://github.com/scrapy/scrapy/blob/2.0.1/scrapy/core/downloader/handlers/http11.py#L388-L390

[2020-04-01 01:30] nanlliu commented on #4451
hey! im new to open source contribution. but I would love to do this work since I'm a newbie, and my experience of learning along the way may be beneficial to enhance the doc I guess? I'm just wondering if this is still open, and if it is, whats the possible guidelines that I need to follow or even some suggestions?

[2020-04-01 04:47] joybhallaa commented on #4451
@nanlliu I've already made a PR for this, which is a WIP.
You can take some other issue, which someone else is not working on right now, I'll be happy to help you.

[2020-04-01 04:59] nanlliu commented on #4466
is it something that a beginner can handle? appreciate it! if so, I would love to claim it.

[2020-04-01 05:44] imfht commented on #4466
@nanlliu I'm not sure if it need hack twisted. You can have a try.

[2020-04-01 07:27] awaisasghar1 commented on #3191
I am having the same issue, 5 spiders are working perfectly in CrawlProcess but if i add more than that, i am start getting the following error

(failed x times): An error occurred while connecting: [Failure instance: Traceback (failure with no frames): <class 'twisted.internet.error.ConnectionLost'>: Connection to the other side was lost in a non-clean fashion: Connection lost.

Even though all s

[2020-04-01 09:53] freddong commented on #747
try <https://github.com/moreati/pproxy>
[code]

[2020-04-01 15:23] Gallaecio commented on #4466
This is probably not a beginner-friendly issue.

[2020-04-01 15:50] ilias-ant commented on #2893
this is a great feature suggestion, that is general enough to have many applications on projects that utilize Scrapy!

Hope I find the time to have a try on this soon!

[2020-04-01 23:13] adityaa30 commented on #1854
@wRAR Thanks you! 🙂

[2020-04-02 16:52] krisblarq commented on #4285
I see this issue is still open. Are there any other issues to be worked on?.

[2020-04-03 02:27] elacuesta commented on #4285
No reason, the PR just wasn't linked, either [manually](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#manually-linking-a-pull-request-to-an-issue) or with one of the available [keywords](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword). Closing no

[2020-04-03 02:27] #4285 closed

[2020-04-03 07:29] Gallaecio commented on #2893
I wonder if we want to make a distinction between:
- It had been already downloaded in a previous crawl.
- It had been already downloaded in the current crawl.

[2020-04-03 14:21] ilias-ant commented on #2893
I think the first approach (in a previous crawl) is sufficient and well-defined, at the right level of abstractness.

The second approach is probably going to face significant definition challenges in Scrapy projects that utilize more than one Media Pipelines or heavily depend on a specific file expiration policy. Since the whole point of the file expiration policy is to "avoid downloading files t

[2020-04-04 01:37] ggqshr opened #4470 "how to close spider immediately"
when i writing spider use some ip proxy ,  i want to close spider immediately when proxy ip resources ran out(by raise ReachDayMax Exception),now when catch the ReachDayMax Exception i just throw the CloseSpider exception in the spider callback, but i dont see the spider close , some time the scrapy will hang-up and dont shutdown immediately,
so i want to ask how to do it.

[2020-04-05 07:24] kk2496 commented on #3666
is this still open?

[2020-04-05 09:46] eric-et opened #4473 "responsetypes.py ResponseTypes.from_headers typo as 'Content-type'"
Shall this line:

https://github.com/scrapy/scrapy/blob/8845773d44329194ee73fa4985a94e768bf664e7/scrapy/responsetypes.py#L74

be changed to below?
`
content_type=headers[b'Content-Type'],
`
I guess this typo is with all the versions until today.

[2020-04-05 16:30] Gallaecio commented on #4470
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-04-05 16:30] #4470 closed

[2020-04-05 17:27] Gallaecio commented on #4473
It does not need to be modified from a functional perspective (`headers` is a case-insensitive dictionary), but we could change it for consistency.

[2020-04-05 18:53] kk2496 commented on #4473
Can i take this up?

[2020-04-06 00:29] Gallaecio opened #4475 "The documentation cannot be built with Sphinx 3"

[2020-04-06 02:47] anusha94 commented on #4475
can I take this up?

[2020-04-06 12:54] elacuesta commented on #4475
Seems like this is an issue in the `sphinx-hoverxref` extension: https://github.com/readthedocs/sphinx-hoverxref/issues/45.
If we can't wait for the upcoming release as mentioned in https://github.com/readthedocs/sphinx-hoverxref/issues/45#issuecomment-609462935, we might want to try disabling it in [our configuration](https://github.com/scrapy/scrapy/blob/2.0.1/docs/conf.py#L31)

[2020-04-06 19:12] H-Petes opened #4476 "Spider processing error."
(scraping_tutorial) C:\Users\Pete\PycharmProjects\scraping_tutorial\quotetutorial>scrapy crawl quotes
2020-04-06 22:10:42 [scrapy.utils.log] INFO: Scrapy 1.6.0 started (bot: quotetutorial)
2020-04-06 22:10:42 [scrapy.utils.log] INFO: Versions: lxml 4.5.0.0, libxml2 2.9.9, cssselect 1.1.0, parsel 1.5.2, w3lib 1.21.0, Twisted 19.10.0, Python 3.7.6 (default, Jan  8 2020, 20:2
3:39) [MSC v.1916 64 bit

[2020-04-06 19:21] wRAR commented on #4476
This is a tracker for issues in Scrapy itself, not in your code. Please use https://stackoverflow.com/ or other suitable resources to get help with your code.

[2020-04-06 19:21] #4476 closed

[2020-04-07 09:36] laurentS commented on #4041
This pytest plugin [pytest-mypy-plugins](https://github.com/typeddjango/pytest-mypy-plugins) might help write tests to check that new typing annotations are correct. This[blog post](https://sobolevn.me/2019/08/testing-mypy-types) explains how to use it. It was written to help annotate Django, so it should be relatively solid.

[2020-04-08 02:04] mdaniel opened #4477 "is_generator_with_return_value raises IndentationError with a flush left doc string"
### Description

Code that is accepted by the python interpreter raises when fed through `textwrap.dedent`

### Steps to Reproduce

1. Create `is_generator_bug.py` with the content below (which I simplified from [the `is_generator_with_return_value` method body](https://github.com/scrapy/scrapy/blob/2.0.1/scrapy/utils/misc.py#L186-L187)
2. Run `python is_generator_bug.py`
3. Observe the kaboom

[c

[2020-04-08 06:29] Srutakirti commented on #4289
Thank you for posting this , it wasnt working for me and i downgraded to 1.6 and it worked.

[2020-04-08 07:52] srijan1 commented on #831
import urllib2
ModuleNotFoundError: No module named 'urllib2'
 This is the freshly thrown error please resolve

[2020-04-08 12:56] wRAR commented on #4477
Sorry, but how is this related to Scrapy?

[2020-04-08 13:30] elacuesta commented on #4477
I can reproduce:

[code]

[code]

[code]

[2020-04-08 15:16] elacuesta commented on #4477
Seems to me like the following should work fine for docstrings:
[code]

Unfortunately, I found that multiline strings are also a problem. This snippet also raises the exception:
[code]

The following works, but I don't really like it:
[code]
Thoughts?

[2020-04-08 15:49] mdaniel commented on #4477
It appears based on some lightweight testing that just removing all the leading indentation from the `def` cures it:

[code]
since it turns this:
[code]
into
[code]

[2020-04-08 17:34] cdric0701 opened #4478 "Download file when parent contains something"
I am trying to download a file that is contained in an **article** tag.

The one I want to target is the second which contains the phrase **'File Import 2 *'** and whose file is located in the footer of the item (article) ahref.

How can I make my crawler download only this href element?
![second-level](https://user-images.githubusercontent.com/6715950/78814873-ae702e00-79cf-11ea-89be-875561832349

[2020-04-08 18:38] elacuesta commented on #4478
We use the GitHub issue tracker to keep a record of bug reports and feature requests. Please use [the Scrapy tag at StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this kind of questions. See also [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-04-08 18:38] #4478 closed

[2020-04-08 20:04] cdric0701 commented on #4478
All my excuses.
I just posted my question on stackoverflow with the tag scrapy as you said.
Thanks for the information.
If it interests other people:
https://stackoverflow.com/questions/61109080/download-file-when-parent-contains-something-scrapy-python

[2020-04-09 13:16] GeorgeA92 commented on #4289
[The easiest way](https://stackoverflow.com/a/60180467/10884791) to overcome this is to use command with `pythom -m`
like `python -m scrapy shell` , `python -m scrapy crawl quotes` etc. without any reinstalls.

[Also](https://stackoverflow.com/a/61091235/10884791) this path practically occures inside only one place - on `scrapy_****/recipe/info/meta.yaml` file.

I compared that `/recipe/info/meta.

[2020-04-09 17:17] Gallaecio commented on #4475
If they have not released a fixed version by the time we are about to release Scrapy 2.1, we can change our documentation requirements temporarily to specify a Sphinx version older than 3, since we are not using anything specific of Sphinx 3 at the moment.

@anusha94 Given the circumstances, I think it makes sense for use to handle this from the core team.

[2020-04-09 18:54] Arregator opened #4479 "Sitemap spider does not resume though JOBDIR is set"
### Description

A spider inherits SitemapSpider parcing sites sitemaps, starting from `robots.txt`, has `JOBDIR` set.

I run it as a `CentOS 8.x` service with a unit file defined and it runs just fine.

But after I stop the service (memory leaks or something) and run it again it starts spider and closes it immidiately. It does not resume the job. The only way to start it is to remove the director

[2020-04-09 19:25] pwinzer commented on #4289
Thanks for the great insights, @GeorgeA92 ! I'll report the bug to Anaconda and see where I can get.

[2020-04-09 19:42] GeorgeA92 commented on #4289
@pwinzer I think this issue is related to scrapy package on conda-forge and it should be redirected to maintainers of that package.
not to Anaconda.
@camfrout already reported it [here ](https://github.com/conda-forge/scrapy-feedstock/issues/37)

[2020-04-09 19:45] pwinzer commented on #4289
Haha I was on my way back here because I had just dug that up as well. Thanks, again.

Given that, I will close this issue.

[2020-04-09 19:45] #4289 closed

[2020-04-10 08:13] Arregator commented on #4479
As a workaround I found following solution:

I have `sitemap_urls` like following:

[code]
so I guessed that after the first run the hash of request of `https://<target_site>/robots.txt` would be the first line in `JOBDIR/request.seen` file and that is the problem preventing resuming my spider's job - when I re-run the spider, it gets `https://<target_site>/robots.txt` for the first request, finds

[2020-04-10 14:06] Arregator commented on #4289
I fixed those lines in `/recipe/info/meta.yaml`, but it did not resolve the problem, I still get that `Fatal error in launcher: Unable to create process using '"d:\bld\scrapy_1584555997548\_h_env\python.exe"` error...

[2020-04-11 10:13] pc2000sg opened #4482 "Scrapy return nothing on 400 error when scraping https://www.watsons.com.sg/"
Hi I am trying to scrape content from https://www.watsons.com.sg/. Tested it with scrapy shell and Postman software (with all request headers filled based on what I see  from inspect function in Chrome browser). For some unknown reasons the response body has no real content except:

_**<body>
	<div class="nojavascript alert alert-error">
		<p>The site requires JavaScript to be enabled! The browser

[2020-04-11 10:47] secsec2020 opened #4483 "[ReactorAlreadyRunning issue] In a dynamic spider for loop"
Basically, I have two spider. MySpider1 will scrape the index page and extract the link for MySpider2.
But inside the for loop in MySpider1, it cant start the new spider and return the ReactorAlreadyRunning error.

[code]

[2020-04-11 20:55] osmenia opened #4484 "Scrapy with Puppeteer and/or Playwright?"
Hi Team,

I would like to aks , is there any development plan to create Scrapy for Puppeteer and/or Playwright?

tnx a lot

[2020-04-12 01:30] elacuesta commented on #4484
I don't think either Puppeteer nor Playwright could be integrated directly, as they are Javascript projects. However, there is [`Pyppeteer`](https://github.com/miyakogi/pyppeteer), and some attempts to integrate it with Scrapy (a quick search yields [`lopuhin/scrapy-pyppeteer`](https://github.com/lopuhin/scrapy-pyppeteer) and [`clemfromspace/scrapy-puppeteer`](https://github.com/clemfromspace/scra

[2020-04-12 03:17] elacuesta opened #4485 "TWISTED_REACTOR setting not honored from Spider.custom_settings"
### Description

The value of the `TWISTED_REACTOR` setting is not taken into account if the setting is specified in a spider's `custom_settings` attribute.
It works well if the setting is specified in a project's settings file, as a parameter when creating a `CrawlerProcess` object (as the tests show) or as a CLI argument with the `-s` option.

### Steps to Reproduce

1. Create a file with the fo

[2020-04-12 05:33] elacuesta commented on #4483
This is expected, the docs about [running spiders from scripts](https://docs.scrapy.org/en/latest/topics/practices.html#run-scrapy-from-a-script) say (emphasis mine):

On the other hand, the [`CrawlerRunner`](https://docs.scrapy.org/en/latest/topics/api.html#scrapy.crawler.CrawlerRunner) class shifts the responsibilities of starting and stopping the reactor to the user.

For the record, I do not t

[2020-04-12 05:33] #4483 closed

[2020-04-12 05:53] secsec2020 commented on #4483
I hope you guide me to a right direction because I am so confused. My spider is now at a bottleneck which only scrape 30 pages/min. So I just start to think of create more spider in a for loop. So I will have more spider to work and work faster. I dont know the way I think a make sense or not. So can you guide me what should I look for ? and can I use this logic : writing links from the first spid

[2020-04-12 05:54] secsec2020 commented on #4483
I hope you guide me to a right direction because I am so confused. My spider is now at a bottleneck which only scrape 30 pages/min. So I just start to think of create more spider in a for loop. So I will have more spider to work and work faster. I dont know the way I think is make sense or not. So can you guide me what should I look for ? and can I use this logic : writing links from the first spi

[2020-04-12 21:33] rafaelmrd opened #4487 "Pegando dados POST com scrapy - Web Scraping - Python"
USA:
I have a question about Scrapy using python.
Can anyone tell me how I get data using POST method with scrapy or selenium.

BR:
Tenho uma dúvida sobre o Scrapy usando python.
Alguém sabe me informar como eu pego dados com metodo POST com scrapy ou selenium

[2020-04-12 22:18] elacuesta commented on #4487
We use the GitHub issue tracker to keep a record of bug reports and feature requests. Please use [the Scrapy tag at StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this kind of questions. See also [Getting Help](https://docs.scrapy.org/en/latest/#getting-help). Thanks for your understanding.

[2020-04-12 22:18] #4487 closed

[2020-04-13 07:14] 2239559319 opened #4488 "Twisted headers mapping does nothing for lowercase headers key"
### headers lowercase

[scrapy can not work when headers are lowercase ]

### Steps to Reproduce

1. i must use lowercase headers key and I use Twisted mapping headers and it doesn't work

**Expected behavior:** scrapy run with no exception

**Actual behavior:** scrapy and twisted does nothing for headers

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Versions

Sc

[2020-04-13 09:47] elacuesta commented on #4488
@2239559319 Please edit the issue to include code which we can use to reproduce the issue.

Sounds like this is related to #2711, is that correct?

[2020-04-13 09:56] nyov commented on #4435
That would certainly make it easier. But I'm not fully convinced it's twisted's problem, since the [twisted reactor module][1] says:

This, to me, encourages not relying on `twisted.internet.reactor` to actually _be_ the reactor or a reference to it, even if it's not actually a deprecated interface per se.

To me, it's a slightly weird interface, given that the `twisted.internet.reactor` module ge

[2020-04-13 10:20] 2239559319 commented on #4488
@elacuesta that's it, but i can't  solve this problem. This is my code in spider file
[code]

and this is output
[code]

[2020-04-13 10:30] elacuesta commented on #4488
Yes, seems like that workaround stopped working a while ago: https://github.com/scrapy/scrapy/issues/3981#issuecomment-526284476.

This was originally reported in #2711 and re-reported in #3981, so in the spirit of keeping the tracker clean, I'm closing this issue as a duplicate. Please add any additional information you might have in #2711.

[2020-04-13 10:30] #4488 closed

[2020-04-13 23:30] asevans48 commented on #4441
you could submit errors using validators for now. use the elasticapm module for this. for other errors, spidermon has counts as well as othermonitors you could drop elastiapm in

[2020-04-14 05:33] royluo1984 opened #4490 "scrapy JOBDIR function seems not suitable for huge sitemap scrap"
Assuming a website has 200 zipped sitemap files and 2 million links can be scrapped.

**My conclusion is, when JOBDIR is used, the scrapy will only parse a part of zipped sitemaps which around 40 zipped sitemaps, 340k+ links.**

The rest part of zipped sitemaps and links will stay unparsed

**JOBDIR workflow and my problem**

As we know, scrapy will eat up huge amount of RAM when scraping a huge s

[2020-04-14 10:11] humitos commented on #4475
Hi! I'm one of the authors of sphinx-hoverxref. I've already released 0.2b that includes the fix for Sphinx 3.0. I took a look at the PR and saw that the new warnings made your build to fail (I'm sorry for that), and I created a new issue to take a deeper look at this at https://github.com/readthedocs/sphinx-hoverxref/issues/58

Besides, I saw that you are using some custom roles/objects like [`:s

[2020-04-14 11:28] cullsin opened #4491 "inifinit websites - crawl entire net"
### Description
I want to crawl all the venture capital URLs in the internet. I can see that URL as an Input to scrapy. Can you please recommend how to do this ?

[2020-04-14 13:02] elacuesta commented on #4491
We use the GitHub issue tracker to keep a record of bug reports and feature requests. Please use [the Scrapy tag at StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this kind of questions. See also [Getting Help](https://docs.scrapy.org/en/latest/#getting-help). Thanks for your understanding.

[2020-04-14 13:02] #4491 closed

[2020-04-14 20:50] #4490 closed

[2020-04-15 12:04] Gallaecio commented on #4479
[Similar issue reported 1 year ago in Reddit](https://www.reddit.com/r/webscraping/comments/b11idw/scrapy_sitemapspider_not_continuing_after_clean/).

[2020-04-15 12:24] #4473 closed

[2020-04-15 12:25] Gallaecio commented on #4482
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-04-15 12:25] #4482 closed

[2020-04-15 12:30] Gallaecio commented on #4484
Probably worth covering at https://docs.scrapy.org/en/latest/topics/dynamic-content.html#using-a-headless-browser

[2020-04-15 16:24] joybhallaa commented on #4475
hey @elacuesta @Gallaecio I'm having the same issue, as I'm working on an issue regarding documentation. Can I be of any help to solve this issue?

[2020-04-15 17:42] #4475 closed

[2020-04-15 17:45] #4443 closed

[2020-04-15 17:57] Gallaecio opened #4495 "Extend hoverxref_roles"
@humitos [suggested](https://github.com/scrapy/scrapy/issues/4475#issuecomment-613350667) extending the `hoverxref_roles` setting of the corresponding Sphinx extension so that the display-on-hover behavior of the documentations works for things like signal or setting references.

[2020-04-15 18:00] Gallaecio opened #4496 "Fix the hoverxref configuration"
@humitos at https://github.com/scrapy/scrapy/pull/4480#discussion_r409026912

[2020-04-15 18:12] #4206 closed

[2020-04-15 18:13] #4444 closed

[2020-04-15 18:16] Gallaecio opened #4497 "Fix the “The Windows bytes API has been deprecated” warning"
Seen in [Windows test runs](https://github.com/scrapy/scrapy/pull/4458).

[2020-04-16 07:25] alirezadizaji opened #4501 "error: command 'x86_64-linux-gnu-gcc' failed with exit status 1"
### Description
Hi :), I have a requirements.txt and I run it  by `pip install -r requirements.txt`.
and in some point I got this error `Building wheel for gnureadline (setup.py) ... error`.
I saw the same issues but they didn't help.
here is the whole error:
` Building wheel for gnureadline (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /media/assignment1/.env/b

[2020-04-16 09:39] XPi2 commented on #2633
Hi, why is this still open? No decision taken?

[2020-04-16 12:29] rahulmarlabs opened #4502 "Scrapy LinkExtractor not able to extracts absolute urls"
### Description

Scrapy LinkExtractor not able to extracts absolute urls

### Steps to Reproduce

[code]

`OUTPUT:  [Link(url='http://www.ema.europa.eu/en/veterinary-regulatory/post-authorisation', text='Post-authorisation', fragment='', nofollow=False)]`

**Expected behavior:**  It is supposed to extract both the urls

**Actual behavior:** But it does not extract absolute URL

**Reproduces how of

[2020-04-16 13:19] #4496 closed

[2020-04-16 13:47] wRAR commented on #4501
gnureadline is not Scrapy, sorry.

[2020-04-16 13:47] #4501 closed

[2020-04-16 13:54] wRAR commented on #4502
It's ignored not because it's absolute but because it's a PDF.

[2020-04-16 13:54] #4502 closed

[2020-04-16 13:54] Gallaecio commented on #3161
Closing given Python 2 support has been dropped.

[2020-04-16 13:54] #3161 closed

[2020-04-16 14:27] ejulio commented on #4005
Started this extraction here https://github.com/ejulio/scrapy-itemloaders
So far, just kept git history http://savorywatt.com/2015/01/25/move-files-and-folders-between-git-repos-using-patches/

- [ ] Keep `teim` and `Field` in `scrapy`, just move loaders and processors
- [ ] Keep backwards compatibility (include an `ItemLoader` in scrapy as a reference to this external library)

[2020-04-16 15:10] kmike commented on #4005
@ejulio it seems history before move from scrapy.contrib.loader to scrapy.loader is not preserved. Do you think there is a wayto keep it?

[2020-04-16 15:13] teodoroanca opened #4505 "Using proxy through http fails (https works)"
### Description

When I scrape without proxy, both https and http urls work.
Using proxy through https works just fine. My problem is when I try http urls.
In that moment I get the `twisted.web.error.SchemeNotSupported: Unsupported scheme: b''` error

As I see, most of the people have this issue the other way around.

### Steps to Reproduce

1. Scrape a http link with proxy

**Expected behavior:**

[2020-04-16 16:05] #3903 closed

[2020-04-16 16:21] ejulio commented on #4005
@kmike , I guess not.
As it's not part of the file history in scrapy itself.
Scrapy history https://github.com/scrapy/scrapy/commits/master/scrapy/loader/__init__.py
New history https://github.com/ejulio/scrapy-itemloaders/commits/master/scrapy/loader/__init__.py

I'll check if it is possible..

[2020-04-16 16:24] kmike commented on #4005
You can get the history for previous folder e.g. here https://github.com/scrapy/scrapy/commits/569156be190fb7e86108c29001d6233a6698a510/scrapy/contrib/loader. But yeah, I understand this can be complicated.

[2020-04-16 20:35] Soumarjit commented on #4289
I am in the same problem too.

[2020-04-17 13:28] ejulio commented on #4005
@kmike , I managed to keep both commit histories https://github.com/ejulio/scrapy-itemloaders/commits/master

[2020-04-17 15:17] Gallaecio commented on #4505
Could you share a code snippet to reproduce this issue?

[2020-04-17 15:23] teodoroanca commented on #4505
`    def make_request(self, url, callback, meta={}, method='GET'):
        proxy_address = getattr(settings, "PROXY_ADDRESS")

        meta.update({
            'proxy': proxy_address,
            'dont_redirect': self.dont_redirect,
        })
        yield Request(
            url,
            meta=meta,
            method=method,
            callback=callback,
            errback=self.handle_er

[2020-04-17 15:24] teodoroanca commented on #4505
`
    def make_request(self, url, callback, meta={}, method='GET'):
        proxy_address = getattr(settings, "PROXY_ADDRESS")

        meta.update({
            'proxy': proxy_address,
            'dont_redirect': self.dont_redirect,
        })
        yield Request(
            url,
            meta=meta,
            method=method,
            callback=callback,
            errback=self.handle_e

[2020-04-17 15:24] teodoroanca commented on #4505
[code]

[2020-04-17 15:43] Gallaecio commented on #4505
Does your `Request.url` and `PROXY_ADDRESS` both have a URL schema?

[2020-04-17 16:31] Gallaecio commented on #1381
Creating a spider instance on the call to `_create_closure` does not look right to me.

[2020-04-17 17:42] elacuesta commented on #4484
@osmenia You might also want to check out https://github.com/elacuesta/scrapy-pyppeteer.
Disclaimer: personal project, not officially supported by the Scrapy project, very early stage of development.

[2020-04-18 08:49] Hardeepsingh980 commented on #2124
Is it fix. I am having the same issue. If if pass `dont_merge_cookies = True` than then these cookies are send : - `Cookie: JSESSIONID=91F0E399DC07C621F3D29780E67813CB; cookiesession1=2A5CC2143KP0OE23AJ1U442TNWKP4C0D; cookiesession1=2A5CC214CDUPRVWBMDZ0WE63VVMIBC2C`

`cookiesession1 `is being sent two times. If i pass `dont_merge_cookies = False` than no cookies are sent at all.

Please help me ou

[2020-04-20 07:32] teodoroanca commented on #4505
Apparently, this was the issue. My `PROXY_ADDRESS` did not have a URL schema.
Thanks for the help!

What I want to mention is that this behavior can be confusing. I will describe 4 cases:

 1. `PROXY_ADDRESS`  without URL schema:  `test-proxy.com:3333`

- if Request.url is https it works just fine
- if Request.url is http it results in `twisted.web.error.SchemeNotSupported: Unsupported scheme: b''

[2020-04-20 15:47] #4295 closed

[2020-04-21 07:39] ghost opened #4509 "Scrapy pause/resume Bug ?"
My spider is scraping on a big website, so I start it with the pausing and resuming crawls setup.

`scrapy crawl somespider -s JOBDIR=crawls/somespider-1`

But every time I pause and resume later, I find that after the resume the spider will revisit all the website in the start_urls again. Is it a bug ?

[2020-04-21 18:18] vccolombo opened #4510 "configure_logging documentation example incomplete"
Hello!

I think the [configure_logging](https://docs.scrapy.org/en/latest/topics/logging.html#scrapy.utils.log.configure_logging) example is missing something. It imports `configure_logging` but never uses it.

Could you take a look at it please?
Thank you!

[2020-04-22 10:54] supercool27 commented on #2881
while installing scrapy using conda . having problem like fatel error
![faltelissue](https://user-images.githubusercontent.com/1544989/79973418-2a30a700-84b5-11ea-8556-9ff66c6ebc35.png)

issue resolved i opend command prompt using anaconda and apply

![faltelissuesolved](https://user-images.githubusercontent.com/1544989/79973676-9dd2b400-84b5-11ea-8105-f6291d914fa5.png)

scrapy is working fine for

[2020-04-23 07:58] talhasaleem09 commented on #2518
Thanks for this. @yadalik

[2020-04-23 12:07] dexax commented on #4509
Are You sure that the prev job has been gracefully terminated ? Because this kind of thing should be handled by the dupe filter, the dupe filter dumps the state to the file `requests.seen` inside the `JOBDIR`. So when you got this file, the state will be resumed and already visited pages won't be visited again.

[2020-04-23 12:12] Gallaecio commented on #4505
I guess we can take this as an enhancement to support schema-less HTTP proxy URLs.

I checked, and there is no bug, the logic to handle HTTP and HTTPS proxies is different, and the HTTPS one is implemented in a way that the schema is not needed in the proxy URL.

As a reference for people wishing to work on this, it should be as simple as modifying `ScrapyProxyAgent.request` so that the URL parame

[2020-04-23 12:19] Gallaecio commented on #4027
I’m not sure it has been, but I could not get any more feedback, so I’m closing this.

[2020-04-23 12:19] #4027 closed

[2020-04-23 14:03] davidblus commented on #747
I have tried this code, but It doesn't work for me. Maybe my socks proxies are socks4 all. There are many methods to bypass it in the above code.
I will put my bypassing method to here by using requests[socks].

My DOWNLOADER_MIDDLEWARES:
[code]

[2020-04-23 16:29] Gallaecio opened #4511 "Remove the asyncio warning from the page about coroutines"
It’s a leftover from a point where both the coroutines and the asyncio pages were a single page.

[2020-04-24 07:32] liveprasad commented on #4505
@Gallaecio  I would like to contribute , I will start this as my first open source contribution
But I may need some help from you

[2020-04-24 09:06] Gallaecio commented on #4421
For future reference: https://www.reddit.com/r/scrapy/comments/fjok5q/ideas_for_implementing_static_checks_for_scrapy/

[2020-04-24 10:35] #3580 closed

[2020-04-24 10:48] #4423 closed

[2020-04-25 00:15] redrolor commented on #4495
I'd like to give this a shot.

[2020-04-25 14:41] Anupam-USP commented on #4307
Can more than one person work on same issue, as this seems something i can start work from?

[2020-04-27 14:53] elacuesta opened #4514 "Outdated item pipeline example about Deferred"
The [_Take screenshot of item_](https://docs.scrapy.org/en/latest/topics/item-pipeline.html#take-screenshot-of-item) example says "This example demonstrates how to return a Deferred from the process_item() method", but that is no longer the case (async/await syntax is currently used).
I think we should remove that sentence ~and add a reminder about [enabling the `asyncio` reactor](https://docs.scr

[2020-04-27 17:24] kmike commented on #4005
@ejulio regarding the commit history, it seems docs are currently missing in the repository.

[2020-04-27 17:40] jeremfrs opened #4515 "Weird args and proxy behavior in lua script when resending a splash request"
I encoutered some weird args behaviors in lua.

I create my SplashRequest like so:
`yield SplashRequest(url=url,
                callback=self.parse,
                endpoint='execute',
                args={
                    'lua_source': self.LUA_SOURCE,
                    'pproxy': "NOT_WORKING_PROXY",
                    'wait': 3,
                },
                cache_args=['lua_source

[2020-04-27 17:45] #4511 closed

[2020-04-27 18:57] Gallaecio commented on #4307
@Anupam-USP Two people working on it at the same time would, in my opinion, be a waste of time. Moreover, in this case there is already a good pull request, but until we decide to drop Python 3.5 support from Scrapy, I don’t think it makes sense for anyone to work on this further.

[2020-04-27 19:04] Gallaecio commented on #4514
I believe that the example now uses coroutines, but not asyncio, so it should work with a regular Twisted reactor.

PS: I used to mix the two of them as well until @kmike and @wRAR illuminated me.

[2020-04-27 19:14] Gallaecio commented on #4515
This seems concerning https://github.com/scrapy-plugins/scrapy-splash

[2020-04-27 19:14] #4515 closed

[2020-04-27 21:46] elacuesta commented on #4514
I've read [this article](https://snarky.ca/how-the-heck-does-async-await-work-in-python-3-5/#thinkofasyncawaitasanapiforasynchronousprogramming) a few times, which shows how to use async/await independently from `asyncio`, but I still get confused sometimes. Might be time to read it again!
In any case, there is no Deferred in play anymore, that needs to be addressed.

[2020-04-28 01:28] nciefeiniu commented on #3103
I met the same problem

[2020-04-28 05:12] joybhallaa commented on #4307
@Anupam-USP you can pick up other issues with the label **good first issue**
The maintainers and contributors are really helpful !

[2020-04-28 08:32] Gallaecio commented on #4336
Fixed by #4450

[2020-04-28 08:32] #4336 closed

[2020-04-28 16:02] zeguangzhang opened #4523 "I didn't find scrapy code Entrance after executing scrapy crawl"
scrapy source code forked, but I didn't find scrapy code Entrance after executing scrapy crawl {spider_name} command ,scrapy code Entrance  where，waiting for you replay ,thanks.

[2020-04-28 16:08] elacuesta commented on #4523
Could you elaborate? What do you mean by "Entrance"?

[2020-04-28 16:09] Gallaecio commented on #4523
Are you looking for `scrapy/__main__.py`?

[2020-04-28 16:22] zeguangzhang commented on #4523
yes,can you tell me? thanks

[2020-04-28 16:28] Gallaecio commented on #4523
Tell you what? Where it is? As in https://github.com/zeguangzhang/scrapy/blob/master/scrapy/__main__.py ?

[2020-04-29 02:16] somestupidpersonLA opened #4526 "Getting full page text with proper formatting with scrapy."
Now I have trouble getting text from the page (WordPress post) with formatting as it  can be get from the browser (ctrl+c) or selenium. Can you implement such function? Or at least post a docs about it.

By using xpath I am getting only text without line breaks, or text with too many line breaks.

[2020-04-29 02:17] somestupidpersonLA commented on #4526
This is a suggestion, not the issue.

[2020-04-29 02:55] somestupidpersonLA commented on #4526
For now I am using this:
html = '''
   <p dir="ltr"><span>Hilo, Hanakahi, i ka ua Kani-lehua</span><span><br class="kix-line-break"></span><span>Puna, paia `ala, i ka paia `ala i ka hala.</span><span><br></span><span>Ka`ū, i ka makani, i ka makani kuehu lepo</span><span><br class="kix-line-break"></span><span>Kona, i ke kai, i ke kai hāwanawana.</span><span></span><span>Wai-mea, i ka ua, i ka ua K

[2020-04-29 05:12] #4526 closed

[2020-04-29 07:47] zeguangzhang commented on #4523
ok，I find  The main entry point to Scrapy API is  scrapy.crawler.Crawler(spidercls, settings),thank you @Gallaecio @elacuesta

[2020-04-29 07:47] #4523 closed

[2020-04-29 12:32] elacuesta commented on #4526
Scrapy does not download any additional resources (style sheets, scripts, fonts, images, etc) and it doesn't execute any Javascript code either. You might find some helpful pointers in #4484.

[2020-04-29 14:13] noviluni commented on #4356
Hi @nyov @elacuesta @Gallaecio @kmike , thank you for taking this!! :rocket:

I updated the issue description with the PRs.

[2020-04-29 19:51] ParthBarot-BoTreeConsulting commented on #2425
@vaibhavhrt Most of the times, such API requests are not allowed from diff. origins and blocked sooner or later. The best option we have in JS based websites is, browser automation. There are a few options and we have used there in many of similar solutions,

1. Google Puppeteer - The best option, fully customizable
2. Selenium - I would rate it as 2nd number, not bad but not the best!

There are

[2020-04-29 20:37] vaibhavhrt commented on #2425
@ParthBarot-BoTreeConsulting it will not be a cross origin request, since scrappy is not running in some webpage.

[2020-04-30 02:05] elacuesta commented on #2425
@ParthBarot-BoTreeConsulting This has been discussed recently in #4484, you might find some alternatives there.

[2020-04-30 12:54] kallesamuelsson commented on #3143
I'm also getting this issue still even though "all" of the above have been tried. Running Scrapy 2.1.0 on Ubuntu 18.04 in Python 3.6. Is there an obvious fix?

[2020-04-30 16:00] Gallaecio commented on #3143
The original issue is Python 3.7 support. If you have a different issue, and you believe it is a Scrapy bug rather than an error in your end, please open a separate issue.

[2020-04-30 16:29] c3pmark opened #4528 "Fail or warn if from_crawler() returns None"
## Summary

Generate a warning or error if from_crawler() for a middleware/extension/etc. returns None

## Motivation

I created a custom extension and connected signals in the from_crawler() classmethod, but neglected to return the new extension instance.  Scrapy still reported the extension under "Enabled extensions", but none of the signals worked, since the instance was immediately garbage col

[2020-04-30 16:57] elacuesta commented on #4528
Sounds good to me. Personally, I'd say it's more reasonable to expect that `create_instance` should never return `None`, since it is most likely not an instance of whatever class we want an instance of (`create_instance(type(None), {}, None)` works, but I don't see any value in it).

[2020-04-30 18:50] kallesamuelsson commented on #3143
I deleted my comment because I realized my misstake. Apologies for this

[2020-04-30 21:29] willbeaufoy commented on #4505
@liveprasad are you still working on this? If not I can take it.

[2020-04-30 21:31] willbeaufoy commented on #4495
@redrolor are you still working on this? If not I can take it.

[2020-04-30 21:32] willbeaufoy commented on #4528
I can take this issue.

[2020-05-01 03:08] elacuesta opened #4529 "Bind request to response only if not bound already"
## Summary
Currently requests are bound to responses in [the engine](https://github.com/scrapy/scrapy/blob/2.1.0/scrapy/core/engine.py#L247) and/or in [the scraper](https://github.com/scrapy/scrapy/blob/2.1.0/scrapy/core/scraper.py#L149).
I would like to start a conversation to figure out the implications of binding them only if the `response.request` attribute is not already set, i.e. something l

[2020-05-01 12:11] dangra commented on #4529
Binding at core/engine.py predates our public release (https://github.com/scrapy/scrapy/commit/83dcf8aff91d0178ffbf4978fb757fc7e6d5d08c)
![image](https://user-images.githubusercontent.com/37369/80804234-e90e5600-8b8a-11ea-93f0-9a206b37ffa3.png)

Binding at core/scraper.py came 4 years later (https://github.com/scrapy/scrapy/commit/0256a34f9788dd00f46efcef0047dd86c280cd6c#diff-efe9358e1656d355258b3

[2020-05-01 12:40] sylvinus opened #4530 "scrapy command line tools fail on custom schemes"
Commands like `scrapy fetch` force their argument to be validated through `w3lib.url.is_url()`.

However, as implemented [here](https://github.com/scrapy/w3lib/blob/165f1654a1de82cbaad170a20489527733c2f015/w3lib/url.py#L116), this function only accepts `file`, `https` and `http`.

This makes these command line tools unusable for S3 or FTP protocols, or other custom protocols that may be defined in

[2020-05-01 22:43] marizaga opened #4531 "Scrapy throws timeout with http2 site"
**DESCRIPTION**

A Timeout exception raises when crawl https://www.adidas.pe, I suspect the site only supports http2 and scrapy does not, curl can extract the information but if I force it to use http1.1 it also throws timeout.

**settings.py:**

[code]

**Installed packages and versions:**
[code]

****
**Testing with Scrapy and CURL:**
[code]

**Failed test with CURL:**
[code]

**Successful test

[2020-05-03 22:40] kmike commented on #4529
I'm not sure I understand the implicatiions of the change. But scrapy-splash had a similar challenge (if I understand the problem properly), and in the response it provides url + a few other attributes of both requests, via separate attributes.

I recall implementing it was not nice, and there are caveats, but it was doable. Don't recall the details, but https://github.com/scrapy-plugins/scrapy-sp

[2020-05-04 08:23] siberianbear commented on #4325
@elacuesta, thank you! Your solution is works and solved issue!

[2020-05-04 11:42] elacuesta commented on #4529
Right, I should have checked the blame :sweat_smile:
Indeed, bad things happen if the request is not present, but I think the current behaviour is not intuitive. You will not get the object you want, and it might bite some other people like it bit me ([this example](https://github.com/scrapinghub/scrapy-autoextract/blob/v0.4/scrapy_autoextract/middlewares.py#L220) for instance, which only works be

[2020-05-04 17:19] elacuesta commented on #4531
The lack of HTTP/2 support is a known current limitation of Scrapy. There is a Google Summer of Code project planned (see #1854), if everything goes well we should be getting support in the near future.

[2020-05-04 17:19] #4531 closed

[2020-05-04 20:35] chainstair commented on #2499
I am still having issues at the moment. First I thought that it had to do with Python 3.8. I tried now with Python 3.7 and I still experience the same issues with Multiprocessing and ThreadPool.

Please get this fixed. 🙏

[2020-05-04 22:17] elacuesta commented on #4509
Please include a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that would help us reproduce the issue.

[2020-05-05 08:04] Strato-fortex opened #4535 "ImportError: No module named twisted.web"
sslstrip -i 8080

Traceback (most recent call last):
  File "/usr/local/bin/sslstrip", line 27, in <module>
    from twisted.web import http
ImportError: No module named twisted.web

what i have to do in this case?
Have i to install twisted-web?How?

[2020-05-05 12:30] elacuesta commented on #4535
Sorry, this doesn't seem related to Scrapy. Please feel free to reopen if you think it's necessary.

[2020-05-05 12:30] #4535 closed

[2020-05-05 21:13] kiwido commented on #3590
use try and except to handle retry request, and for counting the number of retry set a variable in the "meta", update that in the except section.

that is wrong??

[2020-05-05 21:46] HausCloud commented on #4505
Hi, I'm pretty new to open source. I have something that is working, but I'm having trouble implementing a test case as required from the contributing docs.

[2020-05-05 22:53] Gallaecio commented on #4505
@HausCloud Create a pull request with the current state of your changes. Maybe we can help you with the rest.

[2020-05-06 01:36] HausCloud commented on #4505
Will do! Thanks Gallaecio.

[2020-05-06 01:37] HausCloud commented on #4505
@Gallaecio Will do! Thanks.

[2020-05-06 20:45] kmike commented on #4346
Thanks @michalp2213 for the investigation and the fix!
Should we close it, as #4508 is merged?

[2020-05-07 09:06] Gallaecio commented on #4346
@lblanche: if you have a chance, please test this again with the `master` branch of Scrapy, and feel free to reopen if you do not get the corresponding warning/error message in your log.

[2020-05-07 09:06] #4346 closed

[2020-05-07 09:30] LuisBlanche commented on #4346
Unfortunately I do not have access to this project anymore. I think I trust @michalp2213 answer

[2020-05-07 09:43] Gallaecio opened #4546 "Deprecate Response.body_as_unicode"

[2020-05-07 09:47] Gallaecio opened #4547 "Review unicode references"
The documentation still has some references to Python 2’s `unicode`. We need to review them, and update them as needed (usually changing them to `str` or “string”).

[2020-05-07 10:25] Gallaecio opened #4548 "Increase code sharing between the crawl and runspider commands"
Their `add_options` and `process_options` methods are identical. They could be moved into a shared, parent class.

[2020-05-07 10:29] jay24rajput commented on #4548
Hello, I would like to work on this issue. Is it up for grabs?

[2020-05-07 10:33] Gallaecio commented on #4548
@jay24rajput All yours!

[2020-05-07 12:52] Carrislol commented on #4485
I have encountered the same problem ... A shame not being able to set the reactor you need in the custom configuration of each spider.

[2020-05-07 13:42] elacuesta opened #4549 "Spiderloader: Add tests for duplicate locations"
See https://github.com/scrapy/scrapy/pull/4543/files/4c12a234ae65d49678a9840708ff5e7b9d6dcecc#diff-04eeb72b0ac2a03d00f2b1dcc3268ebc

[2020-05-07 17:41] Gallaecio opened #4550 "Remove # -*- coding: utf-8 -*-"
We still got a few files starting with that line, from Python 2 times. Time to get rid of it for good.

[2020-05-07 18:41] elacuesta opened #4551 "Intermittent failure in tests"
I've been seeing this "random" failure in `tests.test_spider.CrawlSpiderTest.test_process_request_instance_method` recently. I only have one link at the moment because I didn't keep the previous ones, I will add more occurrences if I find them:

* https://travis-ci.org/github/scrapy/scrapy/jobs/684373037#L412-L446
* https://travis-ci.org/github/scrapy/scrapy/jobs/696403804#L421-L455

[code]

[2020-05-07 21:43] antonio-gor commented on #4550
Working on it!

[2020-05-08 01:51] incognitozen commented on #4485
Can reproduce

[code]

[2020-05-08 06:47] Suvid-Singhal commented on #4233
Hi,
I am 14 yrs old and I want to contribute to Scrapy. I can manually translate english page to hindi as I speak Hindi. Should I do it?

[2020-05-08 13:45] #4550 closed

[2020-05-08 17:08] dannyeuu commented on #892
This will be a nice feature

[2020-05-08 19:24] Gallaecio opened #4556 "Cover chompjs in the documentation"
We cover js2xml in the documentation. However, the library can be rather slow. For use cases where https://github.com/Nykakin/chompjs may be used instead, it should be encouraged.

[2020-05-09 01:15] MichaelArnoldOwens commented on #4549
I saw that this was mentioned in #4543 is this issue still open?

[2020-05-09 03:49] elacuesta commented on #4549
It is indeed, it was created as a reminder because it fell out of the scope of #4543, which was limited to stylistic changes.

[2020-05-09 11:29] incognitozen commented on #4514
The docs need an example of a spider with asynio enabled and used.

[2020-05-09 14:53] Gallaecio commented on #4233
That would be great! Do make sure that you follow the guidelines of the Hindi Wikipedia, though.

[2020-05-09 15:00] Gallaecio commented on #4514
A simple spider does not require asyncio, and a complex spider would not make for a good example.

On the other hand, it may be useful to cover, for example, an example item pipeline that uses an asyncio-based SQL client to record items in a database.

[2020-05-09 15:02] adityaa30 commented on #4549
@elacuesta I think tests are already present  [here](https://github.com/scrapy/scrapy/blob/master/tests/test_spiderloader/__init__.py#L113-L162)?

[2020-05-09 15:09] Gallaecio commented on #4549
In that case we need to find out why they did not fail with https://github.com/scrapy/scrapy/pull/4543/commits/4c12a234ae65d49678a9840708ff5e7b9d6dcecc

[2020-05-09 16:29] adityaa30 commented on #4549
@Gallaecio Probably because in 4c12a234ae65d49678a9840708ff5e7b9d6dcecc there will be a warning raised which the current test actually expects. Although if we assert **count of *duplicates locations* more than one** then the tests will fail. Shall I send a PR to update the tests?