[2015-02-08 09:58] Granitas commented on #1042
I don't think it's a bug. There's no way for the spider to know whether the link is being redirected until the link is called in the request queue.

You can set spider setting `REDIRECT_ENABLED = False` to disable redirects.

[2015-02-08 12:02] tarlabs commented on #1042
I am not saying it should not follow the redirect. What I am saying is that it does download a URL eventually which is not in allowed_domain and calls the parse_item. We are using rules to automatically add the links to be processed. I assumed that even if redirect was going to another domain, I assumed that my callback will not be called. Disabling Redirects is not a solutions as such, because it

[2015-02-08 14:07] Digenis commented on #1042
OffsiteMiddleware which uses the allowed_domains is implemented as a spidermiddleware.
Not only its place in the middleware stack prevents it from filtering redirects but also its implementation.
You need a downlaoder middleware placed just after the redirect middleware.

Because of its simple implementation,
it's possible to refactor it to something more abstract
that has the methods of both spid

[2015-02-09 15:53] markbaas commented on #1039
I propose to use html5lib as html parser. This parser can use etree as treebuilder, so is completely compatible with the current implementation and is able to handle html better than the standard etree HtmlParser. It would require some changes in the selector code though.

[2015-02-10 14:46] klangner commented on #778
If I understand it correctly in python3:
`unicode_to_str` accepts `Str` and `Binary` as input and output is always `Binary`
`str_to_unicode` accepts `binary` and `Str` and output is always `Str`

I'm not sure if in all places this will be correct behaviour in py3. It would be good to rename this functions (`force_bytes/force_text` sounds good to me) so they will make sense in py3. And probably it

[2015-02-10 14:58] kmike commented on #778
unicode_to_str accepts Str and Binary as input and output is always Binary
str_to_unicode accepts binary and Str and output is always Str

That's correct. To be precise,

* Str == unicode in Python 2.x;
* Str == str in Python 3.x;
* Binary == str == bytes in Python 2.x;
* Binary == bytes in Python 3.x.

I don't quite understand this, could you please explain it?

The test should be fixed. `bytes`

[2015-02-10 15:19] klangner commented on #778
Thanks for the answers.

I wanted to say that it would be good to rename this functions. I don't know if in all places where this functions are called it would be ok to have bytes as output type. If  not, maybe it will be necessary to add another pair of functions which will return `str` instead of `bytes`

[2015-02-11 07:03] Curita commented on #778
Not sure if I understood that myself. Talking about ``str`` is maybe confusing since it has different meanings depending on Python's version.

Strings come in two (and only two) "flavors", they are unicode objects, or they are bytes objects (this distinction was made clearer on Python 3). ``str`` either refers to bytes on Python 2 (It's an alias for it as @kmike said) or unicode on Python 3 (the a

[2015-02-11 11:20] kutschkem opened #1046 "Add option to the parse command to attach metadata to requests"
The scrapy parse command is a wonderful tool for debugging spiders. However in my project I pass information in the requests meta attribute that is expected by the parse commands. It would be nice if it was possible to include this data in the parse command, so that testing is possible without modifying the code to not expect the meta information (and risking to forget to change everything back af

[2015-02-11 11:58] Digenis commented on #1046
I don't think it's worth fixing, at least not this way.

Here is a workaround that can serve many use cases:
[code]
[code]
I prefer this because in the command line you can't specify any type beside strings.

Note that to discuss **usage** of the above snippet you may want to use the mailing list instead.
Here we rather talk about the significance of the problem
and the usefulness of the proposed

[2015-02-12 12:08] shirk3y commented on #356
How about utilising JSON for this?
For example, one could define list setting in similar way:

    --set-json 'STOP_WORDS=["word1", "word2", "word3"]'

Similar approach can be used for spider command line arguments:

    --arg-json 'allowed_domains=["google.com", "yahoo.com"]'

[2015-02-12 12:49] kmike commented on #356
I like `--set-json` more becauseof two reasons:

1. we won't be inventing our own grammar for option values;
2. `-a` and `-s` won't become ambiguous - it is not clear how to pass the exact `text1,text2,text3` value in @wutali's proposal  (@pablohoffman's proposal doesn't have this issue though).

[2015-02-12 13:06] eliasdorneles commented on #356
+1 on `--set-json`, it will support automatically more complex settings (lists inside dicts, etc).

[2015-02-12 13:13] shirk3y commented on #356
Please see this draft: #1048

[2015-02-12 14:58] nramirezuy commented on #356
I think we can add a method in the `Spider` class to parse arguments, you can use argparse, optparse, docotp or whatever you want in there to parse the arguments and exit if needed.

From the command line it can be something like:
[code]
This is possible in optparse because we don't use positional arguments at all besides from the command and the spider. But we can always move to argparse PR https

[2015-02-12 15:16] umrashrf commented on #906
Just to update you guys, I have spend some time with git-filter-branch and git-subtree and it seems to me git-filter-branch is the way to go.

You can see a working script which extracts selector and related modules from scrapy into separate branch. https://gist.github.com/umrashrf/2f090797bdc25857325b

It's still work in progress as I have to apply my changes on it to make selectors reusable. I w

[2015-02-12 15:17] kmike commented on #906
Great, thanks Umair!

[2015-02-12 15:31] umrashrf commented on #906
My pleasure @kmike

[2015-02-12 21:37] shirk3y commented on #356
It's useful too, but it don't solve problem when user wants to override internal spider args, for example `start_requests` or `allowed_domains`.

[2015-02-13 15:09] nramirezuy commented on #356
@shirk3y How so? We can do these parsed arguments to have precedence over `-a` arguments and pass them in the `__init__`. The method that parses the arguments in the `Spider` would be a `classmethod` that returns a `dict`, then the `-a` `dict` gets updated with this new `dict`; and everybody happy. :cake:

[2015-02-13 15:21] shirk3y commented on #356
@nramirezuy Sounds ok for me. It would be useful for hard-users, it can print help/usage, etc, but anyway user probably wants to have standard argument-parsing utility instead of implementing it by himself/herself. Imagine that JSON-style args would be added to Dash, and immediately, without any extra code, user can pass complex arguments/settings to his/her spiders via UI.
Why can't we both?

[2015-02-16 19:18] #1034 closed

[2015-02-17 00:18] lezorich commented on #220
Hi! I want to start contributing to scrapy fixing this issue. I want to fix the bug using the solution proposed by @dangra: call ```process_spider_output``` til the generator fails and then call spidermiddleware's ```process_spider_exception```.

I have been looking scrapy source code for a while now and I think the solution must be somewhere in here [1] (https://github.com/scrapy/scrapy/blob/mast

[2015-02-17 01:01] lezorich commented on #1015
I'm trying to fix issue #220, that is similar. After that I will try to fix this one :)

[2015-02-18 14:16] aaearon opened #1050 "Issue with CsvItemExporter when used as Feed Exporter with a crawler that yields more than one type of Item"
My project includes a spider that yields several different types of Items. All my items inherit from a 'DefaultItem' that has fields such as 'url', 'time_crawled' and 'group_id'.

When defining `FEED_FORMAT = 'csv'`, the feed exporter uses the fields of the first type of Item yielded as the csv's header/column names and then for subsequent yielded items (despite the Item's type) tries to export th

[2015-02-23 01:54] nyov opened #1052 "standalone Selector()"
I'd love to be able to use scrapy's `Selector` outside of scrapy, as an xpath (and css?) selector library for xml, html, sgml documents.
I suppose I should go looking at BeautifulSoup for that, but I'm familiar with `Selector` and like the way it works. I don't like plain lxml's way of doing things and usually don't need any write-abilities on the tree anyway.

Would it be feasible and sensible to

[2015-02-23 07:56] umrashrf commented on #1052
It's been discussed at #906

[2015-02-23 10:47] re4lfl0w opened #1053 "ValueError: Attempted relative import in non-package"
[code]

[code]

[2015-02-23 18:41] demelziraptor commented on #981
@AlanChien @toolking
You can fix by extending ContextFactory:

[code]

(Thanks to @darkrho for the fix)

[2015-02-23 18:48] darkrho commented on #981
As an additional note, Twisted [handles this issue](https://github.com/twisted/twisted/blob/trunk/twisted/internet/_sslverify.py#L38) for `twisted.web.client.Agent` by using this class [BrowserLikePolicyForHTTPS](https://github.com/twisted/twisted/blob/trunk/twisted/web/client.py#L846).

[2015-02-25 01:32] AlanChien commented on #981
@demelziraptor  and @darkrho

Thanks for your reply.

But I still get an error when I crawler URL as below:

https://app.gomlab.com/jpn/gom/GOMPLAYERJPSETUP.EXE

Why?

[2015-02-26 16:51] darkrho commented on #981
@AlanChien Did you set up the change correctly?

Because it works for me:
[code]

[2015-02-26 23:57] kmike opened #1054 "S3DownloadHandler causes 1s startup delay for people who don't use S3"
S3DownloadHandler tries to connect to s3 on startup, with 1s timeout. This can be seen in Scrapy logs - note 1s delay between "Enabled extensions" and "Enabled downloader middlewares" messages:

[code]

With s3 download handler commented out the delay disappears.

What do you think about making `.conn` attribute lazy? It won't be possible to raise NotConfigured exception earlier, but users will ge

[2015-02-27 09:36] AaronTao1990 commented on #547
+1 for -o option

[2015-02-27 15:53] nyov commented on #1052
Oh awesome.
Thanks for the link and work done.
Closing this as duplicate.

[2015-02-27 15:54] #1052 closed

[2015-02-27 16:04] nyov commented on #906
Sorry to find this at such a late stage.
As to history filtering, in this instance I don't so much see the necessity to keep the history (duplicated) in a new repository after splitting Selector code.
The old history is still right here!
Put a link or reference in the new root commit to the scrapy commit it was filtered out of, maybe push a [git-replace](http://git-scm.com/blog/2010/03/17/replace.

[2015-02-27 19:32] nyov opened #1057 "how to run tests"
What happened to [`bin/runtests.sh|bat`](http://doc.scrapy.org/en/latest/contributing.html#running-tests) and how do we run tests standalone now (documentation)?

How about a `Makefile` for tests and `extras/coverage-report.sh`?

[2015-02-27 19:47] nyov commented on #1057
An idea on this in #1058,
though I don't know what the documentation should say.
And if we should bring back a trivial batch file for windows?

[2015-02-27 21:22] kmike commented on #1057
It is documented here: http://doc.scrapy.org/en/master/contributing.html#tests

I'm not sure about coverage reports - many tests start separate Scrapy processes.

[2015-02-27 22:20] nyov commented on #1057
Oh ffs, I looked at the wrong version. I forgot latest != master, whoops.
I'll revise the PR.

[2015-02-28 10:48] kmike commented on #1057
master vs latest is a common point of confusion; we tried to improve it (https://github.com/scrapy/scrapy/pull/1029), but apparently it is still confusing.

[2015-02-28 16:15] nyov commented on #1057
I must have been sleepy, as I _used_ to know to look at master and not latest.
Though if `latest` could be renamed or symlinked to `stable` in the URL that might be helpful.
Oh dang, it seems stable exists and is linking to master. Huh. Maybe `released` instead of `latest`?

Anyway, any comments on my PR here ? That'd be nice. ;)
I always forget setuptools install commands, so I'd like to add some

[2015-03-01 03:36] Vanuan opened #1059 "Sort items"
Is there an option to sort Item by field while exporting?

Currently, when you crawl, you get random order of scraped elements.

[2015-03-02 08:33] AlanChien commented on #981
my code as below...

class CustomClientContextFactory(ScrapyClientContextFactory):
    def getContext(self, hostname=None, port=None):
        ctx = ClientContextFactory.getContext(self)
        ctx.set_options(SSL.OP_ALL)
        #self.monkey_patch(hostname)
        if hostname:
            ClientTLSOptions(hostname, ctx)
        return ctx

settings.py value :
 DOWNLOADER_CLIENTCONTEXTFACTORY =

[2015-03-02 22:01] dfockler commented on #1059
Scrapy seems to process and export each item as it gets generated within the system, so there isn't really a way to compare one item against all the other items until the spider is finished running. It should be pretty easy, although not as convenient, to sort after all the items are finished being exported to a file.

[2015-03-02 23:08] Vanuan commented on #1059
I suppose, there is no any post-crawl hooks? :)

[2015-03-03 00:29] dfockler commented on #1059
Not really, you'd have to write it yourself in an extension to check when it finished using the spider_closed signal. Here's the [docs for extensions](http://doc.scrapy.org/en/latest/topics/extensions.html)

[2015-03-03 03:37] barraponto commented on #1059
@Vanuan If you do it, please publish it :)

[2015-03-03 10:36] #1005 closed

[2015-03-04 16:00] gozes opened #1061 "scrapy fail to load in both python 2.7 and 3.4"
I just installed scrapy from pypi, when I try to run any command I get the following traceback

Traceback (most recent call last):
  File "/usr/local/bin/scrapy", line 9, in <module>
    load_entry_point('Scrapy==0.24.5', 'console_scripts', 'scrapy')()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 356, in load_entry_point
    return get_distribution(dist).load_entry_point(group, n

[2015-03-04 16:03] kmike commented on #1061
Scrapy doesn't support Python 3.x yet.

Could you please paste a traceback for Python 2.7? If traceback is the *same* it means `/usr/local/bin/scrapy` tries to run Scrapy using Python 3.x, not with 2.7.

[2015-03-04 16:10] gozes commented on #1061
I did, it is the same output. just change were ii says python3 to python2.7

[2015-03-04 16:21] kmike commented on #1061
Could you try installing Scrapy in virtualenv?

[2015-03-04 16:21] gozes commented on #1061
got it to work by reinstalling scrapy.

[2015-03-04 16:21] #1061 closed

[2015-03-05 01:48] mokrea opened #1062 "Error when HTML tag have ":" character"
When i try use the contains(@xml:lang,"en") the result is null

the tag:
< meta text="teste" xml:lang="pt" />
< meta text="test" xml:lang="en" />

the code:
response.xpath("//meta[contains(@xml:lang='en')/@text").extract()

don't work

[2015-03-05 20:37] kmike opened #1063 "Relocate scrapy.contrib and remove scrapy.contrib_exp"
What do you think about getting rid of contrib and contrib_exp? Most of contrib is enabled by default anyways, it is not really contrib.

For example, we can do the following:

1. [scrapy.contrib.downloadermiddleware](https://github.com/scrapy/scrapy/tree/master/scrapy/contrib/downloadermiddleware) -> scrapy.downloadermiddleware;
2. [scrapy.contrib.exporter](https://github.com/scrapy/scrapy/tree/m

[2015-03-05 20:53] kmike opened #1064 "allow spiders to return dicts instead of Items"
In many cases the requirement to define and yield Items from a spider is an unnecessary complication.

An example from Scrapy tutorial:
[code]

It can be made simpler with dicts instead of Items:

[code]

The version with dicts gives a developer less concepts to learn, and it is easier to explain.

When field metadata is not used and data is exported to JSON/XML yielding Python dicts should be eno

[2015-03-05 21:37] dfockler commented on #1064
+1 Although a good part about items that could be implemented using dicts, is the input and output processing per field or on every field.

[2015-03-06 15:38] markbaas opened #1068 "canonicalize_url breaks certain url(s)"
The url /cmp/Supermercados-Dia%25 is incorrectly unquoted into /cmp/Supermercados-Dia%

Problem happens in
[code]

[2015-03-07 12:02] StagnantIce opened #1069 "Error downloading, twisted.python.failure.Failure, exceptions.ValueError"
Please, try

scrapy fetch https://www.mediamarkt.ru

2015-03-07 15:00:40+0300 [mediamarkt_ru] ERROR: Error downloading <GET https://www.mediamarkt.ru>: [<twisted.python.failure.Failure <type 'exceptions.ValueError'>>]

[2015-03-07 14:07] shirk3y commented on #1069
When I raised this exception, I see that site sends malformed headers (they don't contain colon):

Headers fetched by `curl -v`:

    < Content-Security-Policy-Report-Only: default-src 'self'; font-src 'self' data: s3-eu-west-1.amazonaws.com;
    < frame-src 'self' mediamarktru.api.sociaplus.com googleads.g.doubleclick.net www.google.ru www.google.com;
    < img-src 'self' data: *.mmr.ms static-he

[2015-03-07 17:58] StagnantIce commented on #1069
Thank you for your comment!

                    try:
                        name, value = header.split(':', 1)
                        value = value.strip()
                        self.headerReceived(name, value)
                    except ValueError:
                        pass

Now works fine

[2015-03-09 03:07] shirk3y commented on #1064
Why not to go further? Spider callback could return `str`/`unicode` as request url, `Request` as request, `dict`/`Item` as item and `list` that each element would be treated separately with previous rules.

This may simplify crawling-rules logic and write code instead:

    class MySpider(CrawlSpider):
        start_urls = ['http://www.scrapinghub.com']

        def crawl(self, response):

[2015-03-09 12:01] nyov commented on #1059
I once wrote a spider to build a git object store from crawled items (wiki pages), that had to be done after all the links were crawled to generate a correct git history.

That was done firing on the `close_spider()` signal (your "post-crawl hook"), and I used a [heap queue](https://docs.python.org/2/library/heapq.html) to store all the stuff in memory until then (and have them sorted in-memory wh

[2015-03-09 12:18] nyov commented on #1050
That could be termed undefined behavior.
It's really not so possible to do what you want, the way the code works now, because if that would be handled the Exporter couldn't start exporting until the whole crawl is finished, to be certain it has "seen" all the possible Items that can be exported before building a CSV header column.

You should write a custom Pipeline to define your required behavio

[2015-03-09 13:10] nyov commented on #1037
Actually the linked image has a transparent background:
[code]

[2015-03-09 13:58] nramirezuy commented on #1054
@kmike You can raise `NotConfigured` if [these](https://github.com/scrapy/scrapy/blob/master/scrapy/core/downloader/handlers/s3.py#L39) aren't present or are empty; that will fix the one second delay for most of the cases.

[2015-03-09 14:21] nramirezuy commented on #1063
If we are doing this change, would be nice to have it done for 1.0

[2015-03-09 14:31] kmike commented on #1054
@nramirezuy a good idea

[2015-03-09 14:35] nramirezuy commented on #1062
@mokrea
You have to register the name spaces or remove them.
Please ask for help on [scrapy-users](https://groups.google.com/forum/#!forum/scrapy-users) since this isn't a bug.

[2015-03-09 14:35] #1062 closed

[2015-03-09 14:51] kmike commented on #1054
@nramirezuy the problem with raising NotConfigured it is that when these options are None boto tries to get them from environment variables or from config. I don't quite like an idea of replicating boto logic just to raise a NotConfigured error earlier. We can create boto.provider.Provider and use its get_credentials method to check if the credentials are set, but to me it also looks like a hack.

[2015-03-09 21:39] nramirezuy commented on #1064
We can use `SpiderMiddlewares` for this, it wont need any changes to the core to be implemented.
I would love to disable this in well defined projects.

[2015-03-09 22:00] nramirezuy commented on #1059
:cop: Are we making this a proposal? @Vanuan Please make a PR if you are going further. If you have more questions please make use of [scrapy-users](https://groups.google.com/forum/#!forum/scrapy-userhttps://groups.google.com/forum/#!forum/scrapy-users)

[2015-03-09 22:00] #1059 closed

[2015-03-09 22:14] nramirezuy commented on #1050
I think we can merge a PR of a csv headers setting.

[2015-03-09 22:40] nramirezuy commented on #1054
@kmike Yeah I forgot about that one. The provider seems fine to me it has been there since [2012](https://github.com/boto/boto/commit/3328d99106cfc7b8773985eab086046bfdde20dd), It isn't documented but boto doesn't seems to document all the features it has, not sure whats the policy there.

[2015-03-10 10:22] kmike commented on #1064
@shirk3y interesting idea, but it has only a limited utility - unicode/str/Link as a Request only works if you use a default callback, so it doesn't look that useful for scrapy.Spider because usually there are several callbacks. Actually I don't like that there is a default callback in scrapy.Spider - using a default calback makes code less clear, and typing savings are small.

I'm not an user of

[2015-03-10 12:30] nramirezuy commented on #1064
Well then; [places to fix/change](https://gist.github.com/nramirezuy/12c63098ab74b6764046).

[2015-03-10 14:47] demelziraptor commented on #964
It seems to be caused by populating the item loader with an item.

[code]

[2015-03-10 15:16] rocioar commented on #802
hey @chekunkov @Curita I have this implemented for epubdirect project, will generalize it and make a PR, if that sounds good.

[2015-03-10 16:58] chekunkov commented on #802
@rocioar yay, sounds great I think

[2015-03-10 17:11] kmike commented on #802
Global DOWNLOAD_DELAY means "time between two requests for the same downloader slot (==website)". It is also possible to set the download delay per Downloader slot (website), though this API is neither public nor documented.

Delay is a time between two events, right? What does "per-request" delay mean? Which two events are separated by this delay?

[2015-03-10 17:39] umrashrf commented on #802
I think they meant the delay between the scheduler and downloader. So you schedule a request with delay and then it is downloaded after that delay.

[2015-03-10 19:30] eliasdorneles commented on #1064
+1, will be nice to be able to yield dicts!
Less concepts for the newbie user. ;)

[2015-03-10 20:24] nramirezuy commented on #964
That one is the right behavior, `get_output_value` isn't supposed to access the item.

[2015-03-10 20:38] nramirezuy commented on #802
@chekunkov Something like this makes sense to you?

[code]

[2015-03-11 01:35] eliasdorneles commented on #713
Hi @dufferzafar -- are you working on this?

[2015-03-11 03:26] shaneaevans commented on #1064
:+1:  It will make it easier for newcomers and make Scrapy more suitable for small projects. This also means anyting that acts like a dict would be suitable as an item.

@nramirezuy - For well defined projects maybe it would make sense to add a pipeline that requires items to be of a certain type, in addition to any other validation you have.

[2015-03-11 10:27] dufferzafar commented on #713
@eliasdorneles No, I am not.

[2015-03-11 14:23] demelziraptor commented on #964
@nramirezuy I didn't realise that behaviour - why is that?

[2015-03-11 15:01] nramirezuy commented on #964
@demelziraptor

Documentation:
[code]

The item contents were never touched by `output processor` of this instance. Doesn't make to much sense to access the item via ItemLoader :confused:

[2015-03-12 14:36] #1069 closed

[2015-03-13 11:38] #615 closed

[2015-03-13 12:56] rocioar commented on #802
Well, my idea of it was:

Creating another extension, call it CustomDelayThrottle... or whatever, that will inherit almost all funcionality from Autothrottle, only different thing is that will setup delays specified in settings for the different domains. Discussing with @kmike he mentioned it would be better to make slots api better and make it public, make some docs and add this CustomDelayThrott

[2015-03-13 14:32] nramirezuy commented on #802
@rocioar AutoThrottle handles slots delays not Request delays.

[2015-03-13 14:51] rocioar commented on #802
I know, slots are divided per domain, that means using the functionality that Autothrottle already has we could set up custom delays per domain.

Something like:

[code]

[2015-03-13 17:09] nramirezuy commented on #802
@rocioar Autothrottle logic doesn't cover `to add exponential backoff for the retry request`. It will slow down the whole slot, not just that single request.
Your proposal is valid and I like it, but doesn't solve the current issue.

[2015-03-13 18:24] kmike commented on #665
I'm fine with adding more constants to settings.py by default, it looks useful.

[2015-03-13 18:30] kmike commented on #518
+1, a good suggestion

[2015-03-13 19:11] eliasdorneles commented on #713
Okay, I'll work on this.

[2015-03-13 19:23] eliasdorneles commented on #599
Okay, I'll work on this and send a PR soon.

[2015-03-13 19:44] eliasdorneles commented on #665
+1 I can work on this too. I've missed this more than once, when having to set some of the longer names that I haven't been able to commit to memory. :)

One question: should I try to set constants to the default values (may get out of sync with the defaults) or should I just put them all commented as per @redapple's example above?

[2015-03-13 21:33] kmike commented on #1063
In a meeting with @pablohoffman, @dangra, @redapple and @Curita we agreed on the following:

1. relocate scrapy.contrib;
2. don't do the scrapy.core / scrapy.http relocation;
3. remove contrib_exp;
4. move djangoitem to a separate project named scrapy-djangoitem;
5. keep backwards compatibility (what to do with contrib_exp?);
6. use plural names consistently (of course, when it makes sense).

As @

[2015-03-13 21:37] kmike commented on #548
For Scrapy 1.0 we're going to add `response.urljoin()` method.

We haven't agreed on `.links()` vs `.extract_as_url()` vs `.with_absolute_links()` vs other proposals yet.

[2015-03-13 22:38] kmike commented on #665
I like Paul's example. Users uncomment settings when they need non-default values. Some comments & suggestions & commonly used values are helpful in this case.

[2015-03-13 22:39] kmike commented on #665
I don't think we should add *all* scrapy options to settings.py; IMHO a subset of more commonly used options is better.

[2015-03-13 22:50] eliasdorneles commented on #665
@kmike Sure, I didn't mean to add _all_ settings, I meant as in "any settings I end up adding would be commented" :)

Yeah, agreed, I'll try to come up with some useful suggestions, and then we can discuss on the PR. :)

[2015-03-13 22:58] kmike commented on #1053
Why are you running this code?

[code]

The error is expected, it is how Python works.
The contributing [docs](http://doc.scrapy.org/en/master/contributing.html#running-tests) has some information about how to run individual tests.

[2015-03-13 23:26] kmike commented on #887
So I don't particular care enough to submit a fix either, sorry :P Feel free to close as wontfix.

Let's close it as wontfix :)

[2015-03-13 23:26] #887 closed

[2015-03-13 23:40] kmike commented on #573
+1 to close it as a wontfix. We should port Scrapy to Python 3; fixing it for Python 2.x will get ugly.

[2015-03-14 08:30] bgt-prabhakard opened #1072 "Javascript web page not rendering in splash"
I am using scrapy script to load URL using "yield".

MyUrl = "www.example.com"
request = Request(MyUrl, callback=self.mydetail)
yield request
def jobdetail(self, response):
    item['Description'] = response.xpath(".//table[@class='list']//text()").extract()
    return item

The URL seems to take minimum 5 seconds to load in browser because of javascript. So I want Scrapy to render javascript. I t

[2015-03-14 18:40] nyov commented on #887
thanks :P

[2015-03-14 21:37] #573 closed

[2015-03-16 10:20] aliowka opened #1074 "0 delay inside utils/defer.py->defer_succeed makes reactor not to be async enough."
The problem appears when HTTPCACHE_ENABLED is True.
Suppose I need to collect items while using httpcache with FilesystemCacheStorage.
In the items pipeline I want to send them out with some twisted based client.
While having HTTPCACHE_ENABLED I observe that the items are sent very slow and the memory is growing very fast.
For instance:
When cache is disabled: I have about 50 items/second being se

[2015-03-16 12:35] nramirezuy commented on #1063
`what to do with contrib_exp?`
What do you think about creating a new repository where people can send Pull Requests with scrapy related  "experimental" features, we can review merge (just to regulate minimal standards). If a person seems committed we can give access to commit directly.
We can add some sort of polling for the features already merged; if it gets up voted or we really like it we hav

[2015-03-16 13:14] kmike commented on #1063
Such repositories of "experimental" features quickly become a graveyard of broken code. Nobody is in charge of fixing issues (compatibility with the main repo, just bugs, Python versions support), and code of an inappropriate quality often gets merged. It was tried in past (some examples: scipy sandbox, nltk_contrib), and the results were not good.

See also a discussion of a similar idea (scikit-

[2015-03-16 13:55] nramirezuy commented on #1072
This is the scrapy repository we don't attend [`splash`](https://github.com/scrapinghub/splash) or [`scrapy-splash`](https://github.com/scrapinghub/scrapy-splash) issues.

If you have doubts please use [`scrapy-users`](https://groups.google.com/forum/#!forum/scrapy-users) or #scrapy on freenode.

[2015-03-16 13:55] #1072 closed

[2015-03-16 14:12] umrashrf commented on #1063
My two cents worth of idea: Create scrapylabs github account and have good packages under it. Like github.com/senchalabs.

[2015-03-16 14:20] nramirezuy commented on #1074
@aliowka Which is your speed after the change?

[2015-03-16 14:38] alexgarel opened #1076 "Document interaction between priority and CONCURRENT_ITEMS"
I wanted to use request priority to crawl a site based on a cookie session. I had to submit a search form and navigate through search results. Because current search was held in the cookie session, I had to first navigate first search submission, then the second.
So I wanted to do such a thing (simplifying):

    class MySpider(BaseSpider):

        self.start_urls = ['http://example.com/search']

[2015-03-16 15:32] aliowka commented on #1074
it's reaching 80 items/s

[2015-03-16 16:24] nramirezuy commented on #1076
I think the problem is:
Priorities are handled by the scheduler, but downloads are handled by the downloader. Then you have a slot on the downloader handling all the requests to that domain. By default the downloader is set to 8 requests so it asks for them, the scheduler returns what is at the top. Due to the asyc architecture we use in scrapy is totally possible that there were no "next_page req

[2015-03-16 17:39] kmike commented on #1054
@nramirezuy it turns out checking the credentials manually won't help because it is the credentials check which causes the delay. See https://github.com/scrapy/scrapy/pull/1055#issuecomment-81831270.

[2015-03-16 17:40] alexgarel commented on #1076
Yes your summary is exact. Is it the case to document it in some way ?

[2015-03-16 17:46] kmike commented on #1053
I think we can do nothing here.
Feel free to reopen!

[2015-03-16 17:46] #1053 closed

[2015-03-17 09:10] kmike commented on #19
Fixed by #821.

[2015-03-17 09:10] #19 closed

[2015-03-17 09:19] kmike commented on #689
@dangra are you OK with #821 merge?

[2015-03-17 09:49] ahhda commented on #784
Hey, I'm new to scrapy and would like to work on this issue.
I went through the twisted codebase and found that it gives this warning whenever
[code]
So, how should I go about this ?

[2015-03-17 11:26] nramirezuy commented on #1076
@kmike Can help you with this. I'm not good at documenting :tongue:

But if you want to open a PR by your own we'll be glad to review it.

[2015-03-17 13:53] alexgarel commented on #1076
I'll try :-)

[2015-03-17 14:27] nramirezuy commented on #1076
Ok, then let's keep discussing on the PR-

[2015-03-17 14:27] #1076 closed

[2015-03-17 16:21] pablohoffman commented on #689
@kmike next time consider pinging dangra to merge :)

[2015-03-17 16:57] kmike commented on #689
@pablohoffman I was going to close this issue, but saw that @dangra said he thinks the right place for this logic is the cache policy, not a global meta key.

[2015-03-17 17:30] pablohoffman commented on #689
Ah, ok. I merged it because:

- I saw positive feedback on the PR
- it was in MRG+1 state
- I had no objections

[2015-03-17 17:42] #689 closed

[2015-03-17 17:45] pablohoffman commented on #356
We can have both IMO, but we should open a separate ticket for the spider methods.

So we're going to add `--set-json` and `--arg-json`?. Why not use json as a type qualifier and have:

    scrapy crawl spider -a arg1:int=1
    scrapy crawl spider -a arg2:float=3.5
    scrapy crawl spider -a arg3:list=a,b,c
    scrapy crawl spider -a 'arg4:json={"foo":2,"bar":null}'

[2015-03-17 18:01] kmike commented on #356
Because then we'll have two ways to do the same?

For the record, this is how your example looks like with `--arg-json`:
[code]

I like `--set-json` more because it is more powerful (e.g. it allows nesting), more standard, and also it is easier to implement and maintain - we won't be inventing our own grammar for option values.

Do you prefer `-a arg3:list=a,b,c` because it is less verbose in comm

[2015-03-17 19:24] chekunkov commented on #802
I drew 2 schemes - I hope they will help to explain what I mean

As far as remember when I was creating this issue I had following problem - for some specific URL (some API call?) site returned error (or empty body?) from time to time (non predictable) and only way to workaround this was retry with some delay. Problem is - it was 9 months ago and I don't remember details and also I don't remember

[2015-03-17 21:23] pablohoffman commented on #356
I discussed this with @kmike and we agree on moving forward with `--set-json` and `--arg-json`.

We may add some shortcuts in the future (`--arg-list`?), if we agree they're needed, but let's start with the basic `--arg-json` which provides the most flexibility, at the expense of some extra chars.

@shirk3y will you have time this week to update/rebase your pull request?

[2015-03-17 23:06] kmike opened #1080 "Exporters shouldn't encode unicode values to bytes by default"
I think it makes more sense to send unicode to serializer libraries - encoding shouldn't be handled per-field.

* JsonLinesItemExporter and JsonItemExporter shouldn't encode values to bytes because JSON is a text format. The encoding is always utf8. In Python 3.x stdlib json module doesn't even support byte keys/values, and docs say that the result of json.dump is always str (aka unicode in 2.x).

[2015-03-18 10:11] ianozsvald commented on #263
+1 for Python 3.4 support. After a year using Python 3 (mainly sklearn, numpy, Anaconda, matplotlib, networkx etc) this is the first blocker I've had forcing me to downgrade.

The only other Python2.7-only project that I'm lightly using is Apache Spark and 3.4+ support is scheduled for their next release. In their issue tracker I posted some stats for Python 3 adoption - roughly speaking it is ">4

[2015-03-18 14:51] umrashrf commented on #906
@nyov I think they are okay with history provided by git-filter-branch. They need the script for historical reasons. The script will be outdated for sure but at any point in future they can see how was it brought into existence.

[2015-03-18 15:09] Digenis commented on #906
No, not historical.

Each line of code exists to do something specific and hopefully understandable
but the trial and error process that made someone write spawns a longer story.

It often complements well, even "self-documenting" code.
Because one day you will end up reading something counter-intuitive
that can make you waste time figuring out "how"
instead of looking in the history and stopping

[2015-03-18 15:29] umrashrf commented on #906
So @Digenis are you happy with my current approach to split it? Can you leave your comments at https://github.com/scrapy/scrapy/pull/1007. I pushed script with patches so you can see https://github.com/umrashrf/scrapy/commit/dc6565d989a08756335dcbd514e369fd0a78c274.

[2015-03-18 15:45] nyov commented on #906
Hmm, I don't think you got my point. The `git blame` history of the project is still right [here](https://github.com/scrapy/scrapy/). With a `git-replace` ref "symlink" or pointer, the whole history of the newly detached project can be recovered by someone merging both project repositories locally (read the git-replace link I posted earlier).

But if you generate a custom, filtered, history to inc

[2015-03-18 18:18] kmike commented on #263
@ianozsvald we are working on it, it is a priority :)

Scrapy is the worst kind of project to port to Python 3 - it depends on Twisted (which is not ported to Python 3 yet - some subset of Twisted works though), and it works at outside world / python world boundary, so there are many questions about unicode. "Outer World" Scrapy works with is wild - there is no a well-defined encoding we can decod

[2015-03-18 18:22] kmike commented on #263
There is also https://github.com/mitmproxy/mitmproxy Scrapy dependency which doesn't have Python 3 support yet, but it is used only in tests.

[2015-03-18 21:46] drack3800 commented on #823
Hi. Is this bug actual now? I would like to fix it.
I ask because I could not find usages of ```ScrapyHTTPClientFactory``` in current version of scrapy, but @juanriaza mentioned that problem in this class.

[2015-03-18 21:50] kmike commented on #823
@drack3800 I don't know if this bug exists in current Scrapy master or not. Checking if the issue is still valid (maybe also writing a test for it) is a great way to help! Of course, fixing it if it is present is even better.

[2015-03-18 22:06] drack3800 commented on #823
@kmike test that was provided above (with selfmade server and simple crawler) still does not pass.
[code]
I will try to find out the problem.

[2015-03-18 23:05] kmike opened #1084 "0.24.5 release notes are truncated"
It seems the longer lines are truncated in 0.24.5 [release notes](https://github.com/scrapy/scrapy/blob/master/docs/news.rst) - check "S3DownloadHandler..", "Tentative attention message...", "Patches Twisted issue..." and "SgmlLinkExtractor..."  lines.

It is easy to fix, but I wonder why it happened. //cc @dangra

[2015-03-18 23:29] #606 closed

[2015-03-18 23:46] #1084 closed

[2015-03-18 23:47] dangra commented on #1084
fixed. I guess it was a copy/paste problem on my side. thanks.

[2015-03-19 02:31] Curita commented on #568
Closed by ff64584

[2015-03-19 02:31] #568 closed

[2015-03-19 06:24] Curita commented on #451
Turns out this is a duplicate issue of an apparently unrelated problem.

The catch here is that `log.start()` has as default argument `logstdout` set to `True` (can be seen [here](https://github.com/scrapy/scrapy/blob/0.24/scrapy/log.py#L114)). When calling Scrapy from the commandline (or calling `log.start_from_crawler()` or `log.start_from_settings()`) this is populated with the `LOG_STDOUT` set

[2015-03-19 06:24] #451 closed

[2015-03-19 10:12] ianozsvald commented on #263
@kmike Hey Mikhail! You are a man of many projects :-) Glad to hear it is being worked on, I didn't get that impression from the early parts of this thread and couldn't see any other porting docs. I quite agree that this project (just like Flask et al.) is going to be hard, dealing with the interface to the outside world is horrid. I certainly didn't know that URLs themselves could have mixed enco

[2015-03-19 13:03] umrashrf commented on #906
I think you make good points @nyov. I will play with git-replace over the weekend.

@Digenis @dangra @kmike what do you think about this approach?

[2015-03-19 18:43] Digenis commented on #906
I think nyov's made a better suggestion.
I said "history", at some point, then "filter-branch" and didn't think further.
Indeed it would be more convenient if nyov saw this earlier.

Still I find your script interesting and something I would refer to next time I 'll be doing complicated filter-branch sequences.

[2015-03-20 14:38] yasoob commented on #942
Hey @kmike I guess it's fine to close this issue for now. The problem is probably solved and was in a previous release. If it occurs again we can reopen this issue. :+1:

[2015-03-20 22:19] drack3800 commented on #823
I [wrote a test in forked repo](https://github.com/drack3800/scrapy/commit/1b6d5a011a5485f3f2c01b32fa425b512d90d7ef) for webclient which tests the problem, and it passes. But when I start a server
[code]
and spider
[code]
the server doesn't show me the ```Content-Length``` header.

[2015-03-21 06:50] karan10 opened #1088 "ImportError: No module named twisted"
I installed the Scrapy by following http://doc.scrapy.org/en/latest/topics/ubuntu.html#topics-ubuntu. The installation went perfectly. But when I run
[code]
I got the following error
[code]

[2015-03-21 07:42] karan10 commented on #1088
installing packages twisted, w3lib, lxml and re-installing scrapy outside virtual environment using command ```sudo apt-get install python-scrapy``` did the work.

[2015-03-21 14:16] zzeenn opened #1090 "i have been getting this errore although im trying to make same as scrapy website has provided an exapmle , can you anybody please tell me what am i doing wrong please ?"
![screenshot 2015-03-21 19 36 14](https://cloud.githubusercontent.com/assets/11486841/6765365/d07e29c4-d002-11e4-8fe1-f80de44ee731.png)

[2015-03-21 16:12] kmike commented on #1090
An obvious question - is there DmozItem class in tutorial/items.py ?

Also could you try renaming your spider module from "test.py" to something else? There is a "test" module in standard library, it may cause some issues.

[2015-03-22 08:18] zzeenn commented on #1090
yup i did the booth , but still im getting the sane error :(

[2015-03-22 17:54] zzeenn commented on #1090
from scrapy.tutorial items import DmozItem... how can i fix this error man please help ?

[2015-03-23 01:36] shirk3y commented on #356
Yes, @pablohoffman I can work on it tommorow and finalize it.

[2015-03-23 05:27] neo-hu opened #1091 "telnet localhost 6023"
telnet localhost 6023

Trying 127.0.0.1...

Connected to localhost.

Escape character is '^]'.

?

[2015-03-23 09:58] kmike commented on #1091
Could you please provide more details? How are these commands related to Scrapy? What is the issue? Which version of Scrapy are you using?

[2015-03-23 10:04] kmike commented on #1090
There is no "scrapy.tutorial.items" module, so you can't import DmozItem from there.

I've just followed tutorial docs, and they work for me. Try following tutorial from the beginning, and check https://github.com/scrapy/dirbot which contains the finished tutorial code - this code should be correct.

For further questions [scrapy-users](https://groups.google.com/forum/?fromgroups#!forum/scrapy-use

[2015-03-23 10:04] #1090 closed

[2015-03-23 10:09] kmike commented on #1088
It seems you had other Scrapy version installed because if Scrapy is installed from PPA the scrapy binary shouldn't be in `/home/karan/coding/bin/scrapy`.

[2015-03-23 17:07] SudShekhar commented on #591
Hi,

I am sorry for contributing so late to this discussion. I have been thinking about the mechanism proposed in the SEP and ways to implement this. The following are my inputs on the same, please let me know your views on them:
1) Rather than adding `[add ons]` to `scrapy.cfg` what if we add this field to the `settings.py` i.e. a dict such as `ADD_ONS = {}` containing the list of to be enabled a

[2015-03-23 17:31] rdowinton opened #1093 "Add scrapyd-client package"
We need to add scrapyd-client package for users so they won't need to install the full scrapyd package to deploy their code.

[2015-03-23 17:33] rdowinton opened #1094 "Add deployment section to documentation"
We need to add a deployment section to the documentation covering scrapyd-deploy.

[2015-03-23 17:34] rdowinton opened #1095 "Remove 'scrapy deploy' command"
Remove 'scrapy deploy' command and instead direct users to the documentation when they try to run it.

[2015-03-23 20:26] nyov opened #1096 "Scrapy 0.26? Proposing a new stable release prior GSoC."
It's been a while since the last stable release.
In fact it's been before the last GSoC project.

While it seems from the various issues I read now and then, that there is a new distant milestone for a "1.0" release, I think it's bad to ignore the here and now.
I'm not even sure if it's wise to put such a goal, where "everything" has to be "ready". It'll forever stay in the future and might take a

[2015-03-23 20:59] kmike commented on #1096
Hey @nyov,

I agree with all your statements :) Scrapy 1.0 is very close to your Scrapy 0.26. There are no plans to break backwards compatibility or do a v2-style rewrite; spiders written for Scrapy 0.24 should work in Scrapy 1.0. The idea is to cleanup what we have now - improve the documentation and address some pain points in user API.

It is not a far future - check the tickets for 1.0 milesto

[2015-03-23 21:13] nyov commented on #547
The current PR looks inadequate to me. Sorry.
As an intermediate step, it should just fix the current issue, which is: appending doesn't work. This would mean producing `filename.out.1 filename.out.2 filename.out.3` filenames, instead.
(This could be the easy task)

Changing the behaviour to append/overwrite, looks more daunting. Doing it right would mean modifying the Exporter's codebase to handl

[2015-03-23 21:26] nyov commented on #1096
Ah. Okay so the next release is really going to be 1.0 and pretty close.
Alright I'm out of the loop :)

Since my concerns are addressed then, I'll close and check out the remaining tickets.
Thanks.

[2015-03-23 21:26] #1096 closed

[2015-03-23 21:27] kmike commented on #1096
Thanks @nyov - your feedback is welcome!

[2015-03-23 21:29] karan10 commented on #1088
@pablohoffman @Curita I am working on gsoc project 'simplified scrapy add-ons'. I have submitted my proposal on google-melange for feedback. I read [this] (http://doc.scrapy.org/en/latest/topics/extensions.html) , and have few questions, how the order to the extensions are assigned? Is there any rules for the ordering number? Other than settings which files needs edit for adding a new extensions.

[2015-03-23 21:30] nyov commented on #1095
I'll just mark this as a duplicate of #1027. It's on the agenda for the next release.

[2015-03-23 21:32] nyov commented on #1093
I agree. But does it even make sense to remove the command from scrapy then in the first place?

[2015-03-23 22:17] nyov commented on #1063
I might second @umrashrf here. I understand there are already the scrapy and scrapinghub groups to manage for core developers, but another focal point for good community packages, where maybe it'd be easier to get group access, might make sense.
Thats in part why I ran with my own fork of scrapylib for some custom stuff; because related packages have to be hunted down all over and I wanted them mo

[2015-03-23 22:19] pbronez commented on #263
+1 for Python 3 support! Thanks for the hard work you guys are putting into it, hope GSoC goes well.

[2015-03-23 22:55] nyov commented on #1063
After some more thought, I wouldn't rule out having a single "contrib" repository. Even git ships with some good stuff in a contrib folder.

And it might make sense to think about splitting scrapylib in this context:
Some of the code in it is scrapinghub-API only, which should stay in there or be renamed to shublib or similar; the more generic rest (magicfields, etc) would be better in a contrib r

[2015-03-24 00:50] nyov opened #1097 "dynamic project configuration through scrapy cmdline (idea)"
How about supporting a `scrapy config` command akin to `git config` for dynamic configuration updates inside a project folder?

This comes to mind after reading the various tries at enhancing the startproject generated `settings.py` and all the templating stuff (e.g. #665, #580).
I feel such an approach to provide hopefully useful (commented) defaults won't ever satisfy everyone; for insiders it's

[2015-03-24 02:45] nyov commented on #1027
As stated in #1093, we should then have another `scrapyd-client` package, so users don't need to install scrapyd locally to deploy to a remote scrapyd instance.

This begs the question, if it really makes sense to scrub it from `scrapy` in the first place?

[2015-03-24 04:58] thiagof opened #1099 "IPython NB Boto Loading Error"
Programming a `Crawler` from ipython notebook is causing `boto` to raise an error

[code]

We solved the problem by removing boto from `scrapy.optional_packages`

Here is the code

[code]

[2015-03-24 07:18] nyov commented on #981
Any reason why this shouldn't get merged into scrapy?

[2015-03-24 07:47] nyov commented on #1094
What about https://scrapyd.readthedocs.org/en/latest/deploy.html ?
This is where the scrapy docs links to right now. I'd think that's enough, but if you have any additions, please share.

[2015-03-24 09:18] kmike commented on #1099
It looks related to https://github.com/scrapy/scrapy/issues/1054.

[2015-03-24 11:11] #1095 closed

[2015-03-24 11:12] nramirezuy commented on #1093
Well thats a job for scrapyd :)

[2015-03-24 11:36] nramirezuy commented on #981
@nyov whats this? This is an issue not a PR. :smile:

[2015-03-24 12:44] nyov commented on #981
Okay, then merge the [PR](1101) I made for the issue :D

[2015-03-24 15:51] pablohoffman commented on #1064
:+1:

[2015-03-24 16:12] nyov commented on #599
That'd be nice.

[2015-03-24 17:03] nyov commented on #1031
An implementation based on socket.getaddrinfo: https://github.com/scrapy/scrapy/pull/1104

[2015-03-24 21:13] pablohoffman commented on #1093
This ticket should have been created in `scrapyd` repo.

[2015-03-24 21:21] #981 closed

[2015-03-24 22:08] rdowinton commented on #1093
@pablohoffman created here: https://github.com/scrapy/scrapyd/issues/85

[2015-03-24 22:15] SudShekhar commented on #591
I have been trying to come up with a feasible solution for this problem. Would appreciate any feedback on the same:

1) We can define a single class `AddOnManager` which will tackle the issue of importing modules for every such extension/middleware/pipeline etc.
2) Users will have to define the name of the extension and any relevant settings (db username, password etc) in the `settings.py`.  We ca

[2015-03-25 00:51] rdowinton commented on #1027
@nyov good point :) I think the case for removing from `scrapy` is so we have the deploy functionality in one place (scrapyd-client) rather than maintaining the same functionality in two separate tools.

[2015-03-25 00:55] rdowinton commented on #1094
@nyov I agree there's enough there for scrapyd, but we also wanted to mention `shub` for deploying to Scrapinghub, and perhaps condense what's in the scrapyd deployment docs to give a brief overview with a link to the main docs if the reader wants to learn more.

[2015-03-25 05:17] nyov commented on #1094
That makes sense, though it will probably make for some duplicate documentation that needs to be updated in sync for both projects afterwards, three if shub has it's own.
I'm not sure where it would fit in the current docs, maybe as a dedicated page under "Solving specific problems". I'll have to leave that to someone else anyway, as I have no knowledge of shub's apis.

[2015-03-25 05:23] nyov commented on #1027
Yeah it looks like the best solution in the end. Somewhat like the json-rpc feature got it's own package.

[2015-03-25 12:33] #1093 closed

[2015-03-25 12:51] nramirezuy commented on #1094
@rdowinton
Scrapy, a fast high-level web crawling and screen scraping framework for Python.
Scrapyd, a service daemon to run Scrapy spiders.

Scrapy isn't responsible to be deployed anywhere, we can add it to [here](https://github.com/scrapy/scrapy/wiki#projects-tools-and-libraries-using-scrapy) and give this more visibility on the documentation.

[2015-03-25 12:53] nyov commented on #1063
Is anyone working on the relocation stuff? Does that have to be backwards-compatible (keeping stubs in `contrib`?

[2015-03-25 12:58] kmike commented on #1063
AFAIK @nyov nobody is working on it. It seems an outstanding question is what to do with contrib_exp.iterators.xmliter_lxml - the options are

1. add it to scrapy.utils.iterators;
2. add it to scrapy.utils.iterators and remove the other xml iterator;
3. remove contrib_exp.iterators.xmliter_lxml.

Yes.

[2015-03-25 13:26] kmike commented on #586
I was discussing doc changes with @eliasdorneles, and it became clear "screen scraping" is confusing. Wikipedia [article](http://en.wikipedia.org/wiki/Data_scraping#Screen_scraping) thinks it is something related to OCR, and the term is not generally well-known. I haven't heard it until I started to work with Scrapy :)

What about using "data extraction" instead?
Thoughts?

[2015-03-25 18:49] Curita commented on #1088
@karan10 I've just commented your proposal in Melange, please check it. Let's try to keep the discussion in Github, but we should use a proper issue related to your idea to discuss it (this one is a support issue for installing Scrapy, that should be closed because you already fix it).

I recommend you to engage in the discussion of #591, that's the issue discussing [sep-021](https://github.com/sc

[2015-03-25 18:49] #1088 closed

[2015-03-25 20:53] Curita commented on #591
+1 seems reasonable

I understand that adding an `ADD_ONS` setting in `settings.py` is more flexible (we won't have to implement anything new to handle it and we can use python directly), but I don't think we need this kind of flexibility, just a section to declare each addon and its settings is enough. `scrapy.cfg` is the first configuration file read (that's where we look for the `settings.py` p

[2015-03-26 05:13] shaneaevans commented on #586
Web Scraping is a better term than Screen Scraping for what Scrapy does. However, I think with "web crawling and data extraction" we also have it covered.

[2015-03-26 09:45] SudShekhar commented on #591
we could call in MiddlewareManager._get_mwlist_from_settings some method in AddOnManager that just calls addon_configure in all addons (though it doesn't even need to be called here, we can call it when we're updating the settings outside MiddlewareManager), and then call crawler_ready in MiddlewareManager.from_settings, when it's checking what addons are configured (maybe this could be outside th

[2015-03-26 13:45] nramirezuy commented on #591
@Curita
2). When you deploy a project just `settings.py` is added to the egg; I don't understand what's the problem with configuring the extensions before reading `settings.py` when we have settings scopes.

5). If an addon is enabled and the dependencies aren't satisfied, let it explode and close the crawler.

[2015-03-26 19:16] pbronez opened #1107 "Tutorial uses deprecated `sel` shortcut"
I'm working through the [Scrapy Tutorial](http://doc.scrapy.org/en/0.24/intro/tutorial.html) for the first time. The [Extracting Data section](http://doc.scrapy.org/en/0.24/intro/tutorial.html#extracting-the-data) uses `sel` extensively for selection (e.g. `sel.xpath('//ul/li')`)

When I run these commands in the scrapy shell, I get warning:

    <string>:1: ScrapyDeprecationWarning: "sel" shortcu

[2015-03-26 19:20] pbronez commented on #1107
Is `response.xpath()` a universally acceptable substitute for `sel.xpath()`? If so, I can do a quick PR for this.

[2015-03-26 19:24] kmike commented on #1107
@pbronez a good catch. Yes, response.xpath() is a universally acceptable substitute for sel.xpath() in Scrapy shell.

[2015-03-26 19:24] kmike commented on #1107
This example should stay as-is though:
[code]

[2015-03-26 19:28] pbronez commented on #1107
That makes sense -  in that example, `response.xpath('//ul/li')` yields an list of `Selector` objects, and then you drill down further with additional calls to `.xpath()`

So the change since the Tutorial was written is that `sel` is no longer an alias for `response` before it is assigned to something else?

[2015-03-26 19:30] kmike commented on #1107
sel is not an alias for response; the change is that scrapy.Response got some Selector methods, and this made adding 'sel' object to Scrapy shell redundant.

[2015-03-26 19:31] kmike commented on #1107
sel is Selector(response); response.xpath now creates a Selector(response) internally and calls its xpath method.

[2015-03-26 19:45] pbronez commented on #1107
ok, that makes sense. Thanks!

[2015-03-26 19:52] #1107 closed

[2015-03-26 19:56] kmike commented on #1107
The [docs](http://doc.scrapy.org/en/latest/intro/tutorial.html#extracting-the-data) are regenerated. Thanks Peter!

[2015-03-26 21:12] kmike opened #1109 "SCRAPY_PROJECT environment variable is not documented"

[2015-03-27 13:25] nramirezuy opened #1111 "Item memory leak"
[Here](https://gist.github.com/nramirezuy/cf6e0a41d3c7217f10a7) is a gist with outputs and how to reproduce, it is using memory_profiler.

I think it is related to http://bugs.python.org/issue9417.

Also would be nice to remove or add a note in [this](http://scrapy.readthedocs.org/en/latest/topics/practices.html#dynamic-creation-of-item-classes) doc.

[2015-03-27 13:44] nramirezuy commented on #1109
I'm not sure how this is used inside `Scrapy`, to me seems to be something that has to be ported to `Scrapyd`.

[2015-03-27 14:57] jdemaeyer commented on #8
Here is a partial proof of concept for switching the backend to ``django.dispatch`` while conserving support for the old signaling API: http://jakobdemaeyer.com/x/scrapy_signaling_proof.html

In this implementation, the SignalManager is deprecated and replaced by a NewSignalManager whose sole purpose is backwards-compatibility. The major open question is how to assign the Crawler instance as defau

[2015-03-27 16:35] kmike commented on #1111
@nramirezuy the note about dynamic items creation is removed in https://github.com/scrapy/scrapy/pull/1081

[2015-03-27 18:19] #1064 closed

[2015-03-27 20:07] #609 closed

[2015-03-28 01:36] jvanasco opened #1113 "canonicalize url - de-duplicate args (avoid some infinite loops)"
disclaimer: I'm not sure if this applies to scrapy as a whole.  i just use a few library calls in another spider.

I've been running into some infinite redirect loops (mostly from googledocs and livejournal) in which the other system generates a garbage canonical url by appending some query string data.

* google docs appends another `&usp=embed_facebook` arg on every request
* livejournal appends

[2015-03-28 08:30] zzeenn opened #1114 "how to save scraped item in csv"
i just scraped someitem from a website its all workedd very well , but wen i saved a CSV file and got  a csv file in my project , so i opened it and i got nothing in that csv file just a blank page has opned , am i missing any comand or packeg ?
![living social](https://cloud.githubusercontent.com/assets/11486841/6880357/c684e822-d552-11e4-8c24-218f9a6108e7.png)

[2015-03-28 12:52] kmike commented on #1113
Hi,

It is a job for a custom dupefilter class (see http://doc.scrapy.org/en/latest/topics/settings.html#dupefilter-class).

I think that we should provide a more robust dupefilter though. Maybe two dupefilters - "conservative" and "aggressive".

See also: #900.

[2015-03-28 12:58] nyov opened #1115 "dependency on requests library / urllib python3 compatibility"
Would it be possible to have a dependency against requests (Apache 2 licensed) in Scrapy?

I noticed that it has superior proxy env handling, where urllib fails to parse IPs or CIDR in a `$no_proxy` variable. This has led to failing testcases for me and I'd like to fix it.

Also, requests provides a nice [`compat` module](https://github.com/kennethreitz/requests/blob/383b20b02324e5c5d1970dd3ab0ba2

[2015-03-28 14:07] nyov opened #1116 "fails to handle IPv6 addresses"
[code]

[2015-03-28 14:45] jvanasco commented on #1113
It could be done in a custom dupefilter, but IMHO it is more appropriate as an option to canonicalize the url:

1. It has to do with simplifying and standardizing the URL itself -- it is not related to the headers, request status, or other options
2. It is in line with the existing behavior/options of canonicalize_url:
* sorting / recoding / normalizing of query arguments
* kwarg: keep_blank_value

[2015-03-29 10:57] umrashrf commented on #906
Guys how this history looks like? :sunglasses: https://github.com/umrashrf/selectors/commits/selectors-20150329

FYI Added two custom references (ROOT for selectors and SCRAPY_HEAD for scrapy commit from where it was detached). There are instructions in root commit as how to bring back full history.

[2015-03-29 13:17] jbinfo commented on #981
Can someone tell me what is the problem with SSL in this website https://www.techinasia.com/

[2015-03-29 15:30] nyov commented on #906
Oooh, lot's of work there :) Nice and clean history.

If I may say, you could drop the whole rewriting and your current root commit.
That's only taking up git-object space from now until forever, when you're deleting most of the files in the next commit anyway.
After someone adds the git-replace ref, the root commit disappears from history, so it could be an empty commit -- I would take your 2nd c

[2015-03-29 16:38] umrashrf commented on #906
That's only taking up git-object space from now until forever, when you're deleting most of the files in the next commit anyway.
After someone adds the git-replace ref, the root commit disappears from history, so it could be an empty commit -- I would take your 2nd commit instead, where you cleaned up (removed scrapy stuff but kept selectors stuff) as root.

Are you suggesting something like this?

[2015-03-29 17:47] nyov commented on #906
@umrashrf, I lost you there on IRC.

This is how I thought it could look like:
https://github.com/nyov/selectors/commits/master

[2015-03-29 18:00] umrashrf commented on #906
thanks @nyov, it makes sense. My concern was if git-replace will handle the moves like `scrapy/selector/ -> selectors/` and `scrapy/utils -> selectors/utils` without having parent commit. I need to test this and will update the repo shortly.

[2015-03-29 18:08] nyov commented on #906
Well best don't move the files around in the first two commits.
That makes it cleaner in the history.
But git itself doesn't care, it will show the files as "moved" if they look similar by a certain percentage. Otherwise it will show them as "removed" and "added".
It's not preserved in git history if a file was moved, git doesn't care where the parent commit came from.

[2015-03-29 18:19] umrashrf commented on #906
I just realized it must not be a problem because if git-diff can do it so can git-replace. If it was the other way around ("removed" and "added") then git-blame would be affected.

[2015-03-29 20:02] umrashrf commented on #906
@nyov review it when you can https://github.com/umrashrf/selectors/commits/selectors

[2015-03-29 21:04] nyov commented on #906
This looks good to me!

Now looking at the commits, your new `README.md` should probably be an .rst file, scrapy projects aren't using markdown anywhere else that I know of.

And just maybe you can squash some of these commits,
[code]
could probably all go together. Though I don't want to be nit-picking here.

[2015-03-30 09:15] WandyLau opened #1119 "Error in installation"
I installed the Scrapy-0.25.1 in crunch bang. The first time I start it. There is an error message said:

in crawler.py 22 line , global name: SignalMadnager (which should be SignalManager) undefined. After I changed the source code then everything goes fine. But I can not see the same error in the github code. So it is a typo ?

[2015-03-30 13:11] nyov commented on #1119
git blame on the repo says this line hasn't changed in years, here.
[code]

Where is your source / package from?

[2015-03-30 13:11] nyov commented on #1119
git blame on the repo says this line hasn't changed in years, here.
[code]

Where is your source / package from?

[2015-03-30 13:35] kmike commented on #1115
I like `from six.moves.urllib.parse import urlparse` more than `from compat import urlparse` because `six.moves` is kind-of standard, and you can just delete "six.moves" when dropping Python 2.x support. We're already using six for a lot of things, and some Scrapy dependencies also use six - I don't like duplicating its features in a custom compat.py module.

requests is a big library with a lot o

[2015-03-30 13:37] kmike commented on #1091
@neo-hu Please reopen with more details if it is still an issue.

[2015-03-30 13:37] #1091 closed

[2015-03-30 14:07] umrashrf commented on #906
Makes sense. I'd migrate to markdown later.

I think atomic commits are better. Can you suggest a commit message?

[2015-03-30 15:15] nyov commented on #1115
This is true, for only pulling the proxy env fix, requests would be too heavy.
I was also considering the other useful workarounds to urllib that are already solved in there (for example correct support for IP/CIDR in proxy env requires some IP subnet calculation functions and such).

It's noone is considering this proxy issue a bug :( Cpython/urllib would also consider it a feature request. Even

[2015-03-30 15:18] nyov commented on #906
Something like "set up Selectors project environment" maybe.

[2015-03-30 17:02] oliverrahner commented on #18
Is that really the correct behavior?
I want to parse a site that only displays a warning page when no Javascript has been detected and then redirects from there using <noscript><meta>. For this use case I had to remove the noscript-check.
I'd say Scrapy should follow everything in <noscript> by default, just because I does not implement JS. Maybe this behavior could be configurable via a middlewar

[2015-03-30 17:29] nramirezuy commented on #18
@oliverrahner open a PR with your proposal it should use the current approach as default.

[2015-03-31 00:44] WandyLau commented on #1119
My os is crunch bang and python 2.7.3. I installed it with command

##### pip install scrapy

I installed the newest version. I guess the package has some relationship with debian os.

[2015-03-31 04:16] thiagof commented on #1114
You already should be aware of the settings variables

[code]

And the command line argument

[code]

But your Stats INFO doesn't show any `item_count`, which means your spider is not return an `Item` or an error occurred.

[2015-03-31 04:20] thiagof opened #1122 "Multiple Crawls (no scrapyd) signal handler Error (WebService, Address)"
I'm running a long concurrent crawl from a shell script. There are many scrapy processes running in parallel.

Time to time one throw this errors

[code]

Had similar problem with telnet, but we disabled it.

[2015-03-31 10:38] kmike commented on #1122
The error comes from http://doc.scrapy.org/en/latest/topics/webservice.html. You can disable it or set port to 0. It seems that webserver by default should try find a port itself, so I don't unerstand why an exception is raised - do you have that many ports used?

In Scrapy 0.25.x there is no scrapy.webserver module - it is moved to https://github.com/scrapy/scrapy-jsonrpc.

[2015-03-31 10:40] kmike commented on #1114
@thiagof is right.

For general questions about how to use Scrapy [scrapy-users](https://groups.google.com/forum/?fromgroups#!forum/scrapy-users) is a better place, so I'm closing this ticker.

[2015-03-31 10:40] #1114 closed

[2015-03-31 10:45] kmike commented on #1111
Items-as-dicts PR is merged, and "Dynamic Creation of Item Classes" section is removed from docs.
Do you think we should fix 0.24.x docs?

[2015-03-31 11:28] rdowinton commented on #1094
@nramirezuy while it isn't responsible to be deployed anywhere, it would be good to point readers in the right direction towards the docs. As previously mentioned, we don't want to maintain duplicate documentation, so the page is more to tell them where to look. I think people are less likely to look at the projects/tools/library section than the main documentation, so I would imagine having somet

[2015-03-31 11:41] nramirezuy commented on #1111
We should probably add a `Warning` to that note. Saying something like "If you are going to make use of this feature be sure you are caching your classes and reusing them otherwise you can run into memory issues" and add a link to this ticket.

[2015-03-31 12:03] nramirezuy commented on #1094
I would prefer a FAQ over it's own section.
[What is the recommended way to deploy a Scrapy crawler in production?](http://doc.scrapy.org/en/master/faq.html#what-is-the-recommended-way-to-deploy-a-scrapy-crawler-in-production)
There is no actual recommended way since it will always depend on your needs. But this doesn't mean can't offer you different flavors:
- [Cron](https://help.ubuntu.com/commu

[2015-03-31 12:25] nyov commented on #1119
I don't know why you would get a 0.25.1 version there, that doesn't even exists yet.
The latest stable release on pypi shows 0.24.5,
so you must have pulled that elsewhere I think, no idea. It doesn't look like a git version, or it would look something like 0.25.0-298-g5846d61

[2015-03-31 12:29] #1057 closed

[2015-03-31 13:10] nyov opened #1125 "Support for spiders in other languages (discussion)"
A ticket to discuss and reference Spider development in other languages ([GSoC idea](http://gsoc2015.scrapinghub.com/ideas/#other-languages)).

The goal is to allow creating spiders in any language, that can be executed by the scrapy framework like a builtin spider. (And I would like a solution that is generic enough to decouple other scrapy components in the future the same way, like item pipelin

[2015-03-31 15:57] kmike commented on #1094
I don't have an opinion about FAQ vs a dedicated docs section, but I like @nramirezuy's list. It makes it more clear how are scrapyd and scrapy cloud related.

There are some other projects to deploy scrapy, e.g. https://github.com/dmclain/scrapy-heroku or https://github.com/TeamHG-Memex/scrapy-dockerhub. I have zero experience with them though. We shouldn't mention them in docs directly, but mayb

[2015-03-31 16:05] kmike commented on #1094
I think deployment docs should explain common tasks which Scrapy doesn't solve and suggest solutions. Start/stop Scrapy spiders using HTTP API? scrapyd. Scrape a single URL using a Scrapy spider, on-demand with an HTTP API? scrapyrt. Monitor scraping progress, etc? scrapy-jsonrpc (?). Distribute load? crawl-frontier or scrape-redis. Many of this combined? Scrapy Cloud. Start spiders periodically?

[2015-03-31 16:58] thiagof commented on #1122
Nice thanks.

But it is not that much.. I fixed a maximum of 14 running crawlers at a time. But while processes end another is raised. Maybe some delay on port release?

[2015-03-31 22:20] dfockler commented on #1125
On the foreign spider side each language will probably need a client library that wraps all the IPC setup and communication, essentially the spider would be responsible for generating and responding to data to and from the Scrapy side. The client lib should provide an API that can be used to approximate what writing a Spider in python would be like, while leveraging the best aspects of the languag

[2015-04-01 01:06] WandyLau commented on #1119
Below is the screenshot.
![scrapy1](https://cloud.githubusercontent.com/assets/2303377/6932599/174d700a-d84e-11e4-95fa-9f5e21c18203.png)

It is not right?

[2015-04-01 09:38] nyov commented on #1125
My own choices for the mentioned options earlier would be unix sockets or pipes. I'll explain why:

Shared memory, while being the fastest option and having lowest setup cost, has no inherent safeguards or provided thread-safety. Mmapped files are similar. Thus both are awesome but may not be the best choice when thinking about ease of development for 3rd party programs and developers.
Message que

[2015-04-01 13:17] linus-young opened #1126 "install scrapy failed on Mac OS X Yosemite"
I run `pip install scrapy`, and it only gives me the error:

![screen shot 2015-04-01 at 9 01 34 pm](https://cloud.githubusercontent.com/assets/2557461/6941420/6aebc342-d8b2-11e4-9f6a-b1549981b424.png)

then I realized there is something wrong with `cryptography`, then I found this would be helpful: [Install Cryptography using your own openssl on os x](https://cryptography.io/en/latest/installatio

[2015-04-02 06:28] alisufian commented on #1068
Happens with urls containing "%26" (&) as well.

[2015-04-02 08:02] suemi994 opened #1129 "cannot yield item in forsubfunction of parse process"
Here I will give a example:

[code]

if I use yield in the for stucture of download function , this function will not be excuted. But if I yield directly in download function, all right. Very strange!

[2015-04-02 11:02] umrashrf commented on #906
@nyov done those changes. Now only docs are pending.

[2015-04-02 12:11] nyov commented on #1129
You must also return or yield the called sub function, so the returned value does not get lost:
`self.download()` should be `yield self.download()`, I believe.

[2015-04-02 12:46] suemi994 commented on #1129
It doesn't work, I have tried. And as your explanation, the fact that just yield not wrapped by a loop also works can't make sense.

[2015-04-02 13:25] kmike commented on #906
Sorry, I don't understand all this git woodoo :) But in https://github.com/umrashrf/selectors/tree/master it is possible to check the history of each file using github interface - it shows all relevant commits, "blame" [works](https://github.com/umrashrf/selectors/blame/master/selectors/unified.py). In "selectors" branch it doesn't [work](https://github.com/umrashrf/selectors/blame/selectors/selec

[2015-04-02 13:26] kmike commented on #906
Why should we require users to "set up Selectors project environment"?

[2015-04-02 14:21] nyov commented on #906
wait, what?
oh no no no, "set up Selectors project environment" was meant as a commit message, not some user instruction. Could also be "shuffling some files around and adding a new README".

[2015-04-02 14:36] torymur opened #1130 "Unhandled error in Deferred (RobotsTxtMiddleware)"
**Dev story**:
Let's say spider downloads all .zip files from http://habrahabr.ru/post/212029/ page
Url with .zip files looks like this: http://layer6.jenkins.tox.im/job/qt_gui_win32/lastSuccessfulBuild/artifact/qt/build/release/TOX-Qt-GUI.zip

It's a polite spider, so settings file contains:
`ROBOTSTXT_OBEY = True`

Middleware parses habrahabr.ru robots.txt file as well as 'external' robots.txt f

[2015-04-02 14:40] torymur commented on #1130
We can add dfd.addErrback for this:
[code]

[2015-04-02 15:12] kmike commented on #906
Sorry, I was unclear: why should we require developers who want to use git blame or git history to set up Selectors project environment?

[2015-04-02 16:30] nyov commented on #906
@kmike, I don't really like to write this again, it already feels like I was pushing for this choice, which wasn't my intent. I wasn't thinking about github's blame not working with this choice.

My reason for suggesting git replace is that I think it keeps the history here clean and honest.
If we include a copy of a rewritten history here, it's a partial duplicate to scrapy's and potentially not

[2015-04-02 19:03] kmike commented on #548
`response.urljoin` PR is merged. It is not the final solution for this problem, but we probably won't implement anything else for Scrapy 1.0, so I removed the milestone from this ticket.

[2015-04-03 01:09] Curita commented on #1129
`self.download()` returns an iterator, you have to iterate over its results to get them. Replacing that line with:

[code]

should do the work.

I just skimmed through that code but this seems like a support question, not a bug, I encourage you to use our [scrapy-users](https://groups.google.com/forum/#!forum/scrapy-users) mailing list for those.

[2015-04-03 07:14] Curita commented on #1063
Just checking, is there anyone working on this ticket right now? I can help if there's no one interested. /cc @nyov, @nramirezuy

[2015-04-03 07:20] Curita commented on #1063
About what to do with contrib_exp.iterators.xmliter_lxml we decided on 2) on last meeting.

[2015-04-03 08:59] wszak opened #1133 "Scrapy doesn't normalize URLs returned in redirects which leads to Bad Requests (400)"
When some site wants to make a redirect and returns a URL like:
http://www.example.com?test=1
Scrapy follows the redirect as is, which results in HTTP error 400 (Bad Request).
This is because such URL translates to the following line in the HTTP request:
GET ?test=1 HTTP/1.1

Obviously it's wrong because it doesn't have the path component so most HTTP servers return error 400.

The correct way to

[2015-04-03 10:46] nyov commented on #1129
@suemi994, yielding a generator doesn't work, thats right. My fault.
The behaviour is not a bug, though. This is a twisted reactor running beneath it all ;)

You might also get help and support on IRC, `#scrapy@freenode.irc` (but bring patience).

[2015-04-03 10:48] nyov commented on #1063
Sorry, but no, I didn't work at it.

[2015-04-03 13:16] nyov commented on #1063
Okay, I did contrib_exp. That was easy.
Could someone do the `scrapy-djangoitem` project?

[2015-04-03 17:41] dfockler commented on #1133
This a pretty talked about issue. And surprisingly controversial
https://github.com/scrapy/scrapy/issues/548

[2015-04-04 14:00] jdemaeyer opened #1135 "Per-key priorities for dictionary-like settings"
I'm new, so here's a quick intro: Hi! I'm Jakob :) I came upon this while working on my GSoC proposal.

During Julia's GSoC, settings priorities were introduced to allow updating settings from different places without paying attention to order. They work great for 'simple' (non-compound) settings, but there are two issues with the dictionary-like settings (e.g. `DOWNLOADER_MIDDLEWARES` or `EXTENSI

[2015-04-04 16:00] jdemaeyer commented on #591
I'm new, so here's a quick intro: Hi! I'm Jakob :) I've also put some thoughts into add-on management for my GSoC proposal.

I don't think Scrapy should continue when there is an error while loading one of the add-ons. Depending on the add-on it probably means a substantial change in functionality (e.g. results are lost when a pipeline add-on fails). The user should be made to explicitly acknowled

[2015-04-04 17:51] umrashrf commented on #906
@kmike what about creating a separate branch at Selectors repo with full history? I mean the result of git-replace. Call that separate branch **history** or anything.

[2015-04-04 19:28] kmike commented on #906
If we include a copy of a rewritten history here, it's a partial duplicate to scrapy's and potentially not quite right (from dropping files in the rewrite).

What practical problems are caused by unclean dishonest duplicated history, changed sha1 sums and not-quite-fitting commit messages? Unfitting commit messages may cause some confusion, but IMHO they are better than nothing. Having full histor

[2015-04-04 19:39] umrashrf commented on #906
Yes we can write a script which can update that separate branch. The advantage is it gives full selectors history in github UI.

[2015-04-04 19:56] kmike commented on #906
This adds complexity and thus makes maintenance harder. It is better to agree on one of the options, be it "drop history before relocation, but provide instructions on how to get it back" or "provide pseudo-history".

Sorry, I still don't get what is clean about dropping the history and why do you like it :) As @Digenis said, "git blame gives you what you couldn't find in the code comments", and p

[2015-04-04 20:16] nyov commented on #1133
I don't thinks this is related to 548 here.
I haven't checked if both assertions are true; whether scrapy behaves this way and whether standard browsers correct for it. But if both are true, I would consider this a bug.

Scrapy is trying to follow browser behavior I believe, even if it's wrong. So if the site is missing a path delimiter after the domain name, it is wrong and shouldn't even be atte

[2015-04-04 20:20] umrashrf commented on #906
I don't like dropping the history and neither do they. git-filter-branch has a good chance to break git-blame usefulness by giving you partial history. I also wondered how and talked this through with @nyov on IRC so I'm just going to paste them here. I was going to paste it before but sorry I got lost in other stuff.

[code]

So based on these points what do you think @kmike?

[2015-04-04 20:32] nyov commented on #906
ah, that stupid irc log. :p

@kmike, I disagree on "it also preserves contribution history", at least commit author and dates are overwritten. But count me as +/-0. Both approaches have dis/advantages, I'm not sure which to favor anymore in this case.

[2015-04-04 20:33] dangra commented on #906
Hi guys, let's draw a hard line stating clear **we are not rewriting Scrapy history** by any chance :)

As for selectors repostory history, I +1 to provide pseudo history and make it clear that the project was part of Scrapy and the exact history can only be found there.

[2015-04-04 20:38] nyov commented on #906
(AN: the same decision is now open for the new `scrapy-djangoitems` project)

[2015-04-04 20:38] dangra commented on #906
IMO the pseudo history should retain commit dates and authors

[2015-04-04 20:44] nyov commented on #906
That's not trivially possible with `git filter-branch` (design decision being: it's been changed by someone, it should state as much). But it can certainly be hacked somehow.

[2015-04-05 00:47] Curita commented on #591
@SudShekhar:
About the rollback for updated settings when some add on fails, we should evaluate if this is necessary (we could just stop the execution if an add on fails as it was suggested). In case it’s necessary, this should be done entirely on our side to avoid add ons developers to duplicate the logic of updating the settings. Making a dry run could make sense then, but I think we should stud

[2015-04-05 01:50] Curita commented on #591
@jdemaeyer
I’m thinking that an Addon class is good for enforcing having the methods we’re expecting them to have (`update_settings` and `check_configuration`) and maybe having a common parent for all add-on classes, but I don’t mind checking that they satisfy its interface using other way.

Providing additional variables to manage dependencies seems like a reasonable implementation. Those variabl

[2015-04-05 07:15] Curita commented on #1135
Great work Jakob, thanks! I really like your implementation ideas.

Some thoughts:

Another place where you can update settings is in the class attribute `custom_settings` from spiders, settings defined there are populated in [Spider.update_settings](https://github.com/scrapy/scrapy/blob/master/scrapy/spider.py#L71) with a ‘spider’ priority. Actually the idea of using priorities per keyword in dic

[2015-04-05 10:50] nyov commented on #591
I'm agreeing on an AddonManager class as proposed to handle addons, but I would see an interface implementation (using [zope.interface as explained here](http://griddlenoise.blogspot.com/2007/05/abc-may-be-easy-as-123-but-it-cant-beat.html)) as more versatile alternative to requiring the subclassing of an `Addon` class.
@jdemaeyer, it would also be nice (IMO) if addons wouldn't be required to be t

[2015-04-05 16:10] nyov commented on #305
I don't actually understand the facebook related parts here.
Were you asking for debouncing requests to same URLs instead of dupe-filtering?
Or would you mind explaining the use-case again?

[2015-04-05 16:18] souravsingh commented on #220
I would like to work on this issue.I would like to know how should I start with it?

[2015-04-06 09:10] DharmeshPandav opened #1136 "Imporvment : why should we not add the formid field as well in formRequest.from_response"
Current signature of function call to `formRequest.from_response()` from the package  `from scrapy import FormRequest` allows following parameters :

[code]

The one option that we are missing IMO in formdata is the capability to select form using a ID parameter `form = _get_form(response, formname, formnumber, formxpath)`
 we should add  something like
 `form = _get_form(response, formname, formn

[2015-04-06 09:25] umrashrf commented on #1136
I don't know if ```formid``` should really be there. ```formcss``` should definitely be added as there is now support for css selectors.

Using ```formcss```, ```formid``` can be imitated by ```formcss='#formid'```.

[2015-04-06 09:36] DharmeshPandav commented on #1136
yes and no both,

I think yes , formcss should be added instead of formid but again we can always mimic almost anything with formxpath selector
for i.e. `formxpath='//form[@id="formid"]'

but the case here , is trying to keep things as simple and idiomatic in nature as possible...

[2015-04-06 09:44] kmike opened #1138 "Alternative way to pass arguments to callback"
Currently to pass data between callbacks users need to use request.meta. Example from docs (simplified):

[code]

While it works fine, there are some issues:
1. it seems understanding request.meta is a common struggle for beginners;
2. we're mixing parameters for Scrapy components with user data.

What about providing an alternative way?

[code]

Advantages:
1. If you're writing some extraction co

[2015-04-06 11:53] umrashrf commented on #1138
Nice :+1:

[2015-04-06 13:34] kadnan commented on #194
@birdsarah  Can you please in which routine should I test it and how?

[2015-04-06 14:13] tycho01 opened #1139 "scrapy shell error: Deferred.callback is not a method of DefaultSpider"
I'm trying to just run a basic scrapy shell command, yet am somehow met with a weird error, see output below:

[code]

So I understand this is about Twisted's deferred callbacks as used in Scrapy. As I understand it though, in Scrapy it basically hooks into _schedule(), which essentially just returns the spider itself. I'm having a lot of trouble finding any hits on google for similar errors thoug

[2015-04-06 15:04] kmike commented on #906
@nyov https://github.com/umrashrf/selectors/commits/master shows right authors and original commit dates ("authored on"), while preserving information about the fact Umair made these commits; https://github.com/umrashrf/selectors/graphs/contributors displays correct contributors and graphs with original ("authored on") commit dates. My git foo is weak, but author/commiter and "authored on"/ "commi

[2015-04-06 16:52] nyov commented on #906
Diffing two exerpts from the original log (`git log -- scrapy/selector/`) and the rewritten repo (`git log`), this is the information that changed.

Note how for example the last commit by Paul was authored in November but only actually committed (or amended) in January, and then merged by Pablo some time later.
The merge commit is dropped completely, the actual commit date by Paul is now the rewr

[2015-04-06 21:25] birdsarah commented on #194
@kadnan - sorry this is so long ago I don't remember the details and I don't have a 12.04 system to test against anymore since 14.04 became the Ubuntu LTS version :(

[2015-04-07 04:22] dangra commented on #1139
I tried the url with Scrapy trunk and 0.24.5, it works for me with both.

What version are you using? can you try the scrapy shell outside a scrapy project and specially without scrapy_redis extension.

[code]

[2015-04-07 06:09] tycho01 commented on #1139
Thank you!

I followed your advice and retried in a generic spider directory. That worked fine, confirming the issue probably lies with scrapy-redis (which had not actually claimed compatibility with recent versions of scrapy in the first place -- mine is 0.25.1).

I guess I was put off by the fact the error trace mentioned only scrapy code, but thank you for putting me back on track then. I'll tr

[2015-04-07 06:09] #1139 closed

[2015-04-07 13:42] nramirezuy commented on #1138
I don't really like the kwargs parameter added to requests and losing the ability of rapidly recognizing callbacks on a spider.

[code]

[2015-04-07 14:31] kmike commented on #1138
1. `callback_args` doesn't solve (3) User state is separated from Scrapy internals better;
2. IMHO it is less straightforward / more magical;
3. you can't use **kwargs in a callback;
4. just by looking at `parse` method you can't figure out which parameters are passed to the callback as arguments and which meta keys are meant for other Scrapy components.

What do you mean?

[2015-04-07 16:57] nyov commented on #906
Let me put the lid on this discussion. It seems I sowed dissent by making my viewpoint known here. For that I am sorry, I shall try to wrap it up.
If taken as a precedent case, this currently looks like a blocker for the `selectors`, `scrapyd-client` and upcoming `scrapy-djangoitem` repos and that is bad. @dangra put his foot down, @kmike agrees, I'll follow. I converted @Digenis and @umrashrf ;)

[2015-04-07 17:33] umrashrf commented on #906
@nyov no no, i'm glad to do it. thanks for teaching me more git!

[2015-04-08 00:50] dangra commented on #1138
It remembers me of when the callback was a _Deferred_ instance. I can understand the motivation and don't see any drawbacks except we have to think on adding the `errback` arguments too.

[2015-04-08 01:42] nyov opened #1141 "relaxing scrapy.Item dependence on Field?"
Since supporting simple dicts as items, I was wondering if it wouldn't be okay to also relax `Item`'s dependence on `Field`, which is just a dict?
That would make subclassing `Item` slightly easier when it's not necessary to pull in `scrapy.item.Field`.

[code]

[2015-04-08 10:13] OlgaCh opened #1142 "Bug with Scrapy 0.25.0-298-g5846d61 and Slybot 0.9-r1039+201503231448~2f25"
After upgrade on dash both deploy and spiders scheduling stopped to work and failed with the message:

Dash link: https://dash.scrapinghub.com/p/580/job/1013/5/#/log/line/0

[2015-04-08 10:24] kmike commented on #1142
It seems you're using an outdated version of slybot which doesn't have Scrapy 0.25+support. See https://github.com/scrapy/slybot/pull/85.

[2015-04-08 10:33] kmike commented on #1142
Aha, you're using https://github.com/scrapinghub/portia/blob/master/slybot/slybot/spidermanager.py

[2015-04-08 10:36] nramirezuy commented on #1141
Can you explain how it makes sub classing slightly easier? Just by avoiding the import? or there is something else I'm missing.

[2015-04-08 10:47] nramirezuy commented on #1138
@kmike Right now all the callbacks have just `(self, response)`; when you approach a `Spider` from another dev you can do a quick pane recognizing those ones, but is minimal and not relevant.

What do you think about:
[code]

[2015-04-08 11:01] kmike commented on #1138
All the callbacks are `def foo(self, response)`, but not all `def foo(self, response)` are callbacks, so I don't think this matters. `parse_foo` names could be a stronger indicator, but it is also only a convention.

As for syntax, I like `kwargs={}` more (less nested braces + consistent argument types - callback is always a callable), but that's bike-shedding; `callback=(self.parse_page2, {'item'

[2015-04-08 13:41] #1142 closed

[2015-04-08 14:50] rdowinton commented on #1094
@nramirezuy I think having the FAQ is a good idea, but perhaps we could have both? The FAQ would cover deploying to Scrapinghub or a remote server, and the page could cover different ways to run Scrapy as @kmike suggested, such as Scrapyd, ScrapyRT, scrapy-jsonrpc, cron jobs etc. The FAQ would explain how you can deploy. Thoughts?

[2015-04-08 18:34] SudShekhar commented on #591
Hi,
First of all, sorry for the late response. I had my university exams going on.

@Curita : So my basic idea goes like this: We just pass a variable `functionality` (say with value SPIDER_MIDDLEWARES) to the add_ons `update_settings` function. At this point, all add ons which don't implement this functionality (aren't SPIDER_MIDDLEWARES), raise the `NotConfigured` error. Others carry on. This wa

[2015-04-09 16:18] jesuslosada opened #1143 "Bug in deploy command"
Error when running `scrapy deploy`:

[code]

The code that was merged with PR #1121 seems to be broken. There are several name collisions in deploy.py between method parameters named "request" and this import:

[code]

[2015-04-09 21:10] pablohoffman commented on #1094
I merged #1124 and rewrote it a bit. This is a start. Thoughts?

I didn't want to include much information that could be found elsewhere, just the basics and point people to the respective doc of the different alternatives. Do you think it's worth adding a section about cron?. Calling cron a way to "deploy" spiders sounds a bit like an abuse of terminology to me, but I understand the motivation. A

[2015-04-10 00:38] #1143 closed

[2015-04-10 11:50] Curita opened #1144 "Integrate darkrho/scrapy-inline-requests"
I think we haven't created a ticket for this yet, we discussed integrating https://github.com/darkrho/scrapy-inline-requests a couple of weeks ago with @pablohoffman, @kmike and @nramirezuy.

I'm copying the whole discussion here if anyone else wants to join in:

From Pablo:

From Mikhail:

From Nicolás:

From Mikhail:

From Julia:

NOTE: I didn't mean that I breaks the chain as in raising an exce

[2015-04-11 01:43] jdemaeyer commented on #1135
Right! I missed that. I think with that in mind the check whether a `SettingsAttribute.value` is an instance of `Settings` should be done in `SettingsAttribute.set`, not in some of the 'setter' methods of Settings.

I agree. As the default settings are loaded with a `setmodule()` call in `Settings.__init__()` we will have to put the promotion from dict to settings somewhere in that vicinity. Howev

[2015-04-12 05:54] SilentDirge commented on #1133
Can someone propose a decent workaround for this? I'm fine patching the library but would prefer not to if there is a way to 'hack' it to work (since this is blocking me from working).

[2015-04-12 13:09] jdemaeyer commented on #8
Here's a list of signaling frameworks that might be of interest: http://www.fortpedro.com/blog/2015/1/observer-pattern-event-oriented-programming-in-python

[2015-04-12 13:37] kmike commented on #8
another option: https://pypi.python.org/pypi/blinker

[2015-04-13 10:59] SudShekhar commented on #1063
Can I work on the `scrapy-djangoitem` project, if it hasn't been taken yet?

[2015-04-13 16:36] kmike commented on #665
Fixed by #1073.

[2015-04-13 16:36] #665 closed

[2015-04-14 07:59] Digenis commented on #1133
@SilentDirge
You can try writing a downloader middleware right after the redirect middleware that expands relative urls using the url from the previous redirect if any, or the referer header.

[2015-04-14 08:58] kmike commented on #1144
An idea: we can try solving memory issues by setting higher priority for inline requests. This way Scrapy will prefer to finish current requests in `inline_requests` method first, before starting more such request chains.

[2015-04-14 09:09] kmike commented on #1129
It doesn't look like an issue with Scrapy.
Feel free to reopen if you still think there is some problem.

As a side note, you can get async downloads without using a thread pool (see http://doc.scrapy.org/en/master/topics/request-response.html#passing-additional-data-to-callback-functions). There are tickets to make it easier: #1144, #1138.

[2015-04-14 09:09] #1129 closed

[2015-04-14 12:26] kmike commented on #1138
functools.partial is an interesting option because unlike lambda it can be pickled. My gut feeling tells that explicit kwargs support in Request is a better option, but functools.partial is equally powerful.

[2015-04-14 16:11] darkrho commented on #1144
I totally agree with that. :)

[2015-04-14 18:51] kmike opened #1157 "Don't require 'name' attribute for scrapy.Spider"
I think we should make Spider.name attribute optional. The name is used by SpiderManager to find spiders, but Spider can be used without a Scrapy project. It is unnecessary boilerplate for users of runspider command or for CrawlerRunner / CrawlerProcess users.

We can also provide a default value, e.g. `self.__class__.__name__`, to help with discovery; this have an advantage of 1-to-1 mapping betw

[2015-04-14 18:53] kmike commented on #1141
I have the same question as @nramirezuy.

[2015-04-14 20:08] umrashrf opened #1158 "Why not apply #546 to FEED_URI / FEED_FORMAT?"
https://github.com/scrapy/scrapy/issues/546

[2015-04-14 20:27] kmike commented on #1158
I like the idea, but this needs a concrete proposal. What should be default values, how can user avoid auto-extracting output format from file extension, etc.

[2015-04-14 20:31] umrashrf commented on #1158
Just like #546 don't drop the support for FEED_FORMAT but detect FEED_FORMAT from FEED_URI.

[2015-04-14 21:53] kmike commented on #1030
I'm closing this ticket because there is nothing to for us here.

[2015-04-14 21:53] #1030 closed

[2015-04-14 21:55] kmike commented on #968
I'm closing this ticket because Scrapy now allows to yield dicts instead of Items, so users can avoid defining item structure upfront.

If anyone disagrees feel free to reopen :)

[2015-04-14 21:55] #968 closed

[2015-04-14 22:52] #1130 closed

[2015-04-15 11:21] kmike opened #1163 "FormRequest should raise an error instead of submitting a first form if formname doesn't match anything"
I think this test is weird: https://github.com/scrapy/scrapy/blob/526aa07f44ab30e128ffb42d12143e4aac9c899e/tests/test_http_request.py#L511

This test shows a more sane behaviour: https://github.com/scrapy/scrapy/blob/526aa07f44ab30e128ffb42d12143e4aac9c899e/tests/test_http_request.py#L655

See also: https://github.com/scrapy/scrapy/pull/1137

[2015-04-15 14:03] Curita commented on #1163
Makes sense, both options should be consistent with each other, and you can define multiple forms as fallbacks using formxpath instead.

[2015-04-15 18:44] pablohoffman commented on #1063
@SudShekhar @Curita was going to do it so I leave her to comment on that. The repo is created already: https://github.com/scrapy/scrapy-djangoitem

[2015-04-15 18:56] Curita commented on #1063
Sorry I forgot to reply to this issue, I've already started working on it. Thanks @SudShekhar for offering your help! I'll let you know if I need someone else to jump in.

[2015-04-16 03:10] dangra commented on #1157
It is a good idea, do you plan to implement the default `.name` as a python property ?

[2015-04-16 19:45] ArturGaspar commented on #1138
@kmike functools.partial can be pickled, but instance methods cannot. Pickling e.g. `Request(callback=partial(self.parse_page, extra_arg=25))` will fail with "can't pickle instancemethod objects".
This is why `scrapy.utils.reqser` exists, not?

[2015-04-16 20:07] kmike commented on #1138
@ArturGaspar you're right!
I should check my sources better :)
So functools.partial is not an option.

[2015-04-16 20:20] ArturGaspar commented on #1116
It is [a bug in Twisted](http://twistedmatrix.com/trac/ticket/7650).

[2015-04-16 20:29] oleksandr-sumtsov commented on #958
Had the same problems Ubuntu 14.04
Solution:
sudo apt-get install python-twisted

[2015-04-16 20:34] kmike commented on #958
@oleksandr-sumtsov how did you install Scrapy? This error is strange because Twisted should be installed automatically when Scrapy is installed.

[2015-04-17 09:28] oleksandr-sumtsov commented on #958
@kmike
<code>
sudo pip install Scrapy
</code>

[2015-04-17 22:49] pablohoffman commented on #33
any interest in resurrecting this one for Scrapy 1.0 @nramirezuy @kmike @dangra @Curita @redapple ?

[2015-04-17 23:00] kmike commented on #33
No interest from me :) `scrapy probe` looks a bit too specific; I'm not sure there is a single best solution, and it is a feature which can live fine outside Scrapy.

I like @csalazar's approach; it looks a bit similar to what parts of https://github.com/DRMacIver/hypothesis library are doing - given an example, simplify it until it fails.

[2015-04-18 16:02] bagratte opened #1173 "make.bat for building docs on windows"
shouldn't there be a make.bat batchfile for building the scrapy documentation on windows?

[2015-04-19 06:33] pkpp1233 opened #1174 "ImportError: cannot import name LinkExtractor"
I'm getting the following error in scrapy v 0.24.5

ImportError: cannot import name LinkExtractor
This happens when I do:

from scrapy.contrib.linkextractors import LinkExtractor
Any ideas?

[2015-04-19 07:46] kmike commented on #1174
Could you please paste the full exception?

[2015-04-19 10:30] bigsharp opened #1175 "抓取"
抓取库

[2015-04-19 12:27] bagratte opened #1176 "fetch fails to update scrapy objects in scrapy shell."
<pre>
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

<b>C:\Users\bagratte>scrapy shell</b>
2015-04-19 16:15:13+0400 [scrapy] INFO: Scrapy 0.24.5 started (bot: scrapybot)
2015-04-19 16:15:13+0400 [scrapy] INFO: Optional features available: ssl, http11
, django
2015-04-19 16:15:13+0400 [scrapy] INFO: Overridden settings: {'LOGSTATS_INTERVAL
': 0}
2015-04-1

[2015-04-19 18:01] jbinfo opened #1178 "Error when resuming a crawler"
Can someone show me how to correct this issue when resuming the crawler, below the log file
[code]

[2015-04-19 18:09] kmike commented on #1178
I think it is the same issue as https://github.com/scrapy/scrapy/issues/845.

[2015-04-19 18:10] kmike commented on #1175
Could you please explain your issue in English?

[2015-04-19 18:17] kmike commented on #1176
Likely it was fixed by https://github.com/scrapy/scrapy/pull/856, but the fix is not backported to 0.24.x branch. Could you try reproduce it using Scrapy master?

//cc @dangra - what about backporting https://github.com/scrapy/scrapy/pull/856 for 0.24.6?

[2015-04-19 18:18] jbinfo commented on #1178
@kmike Yup it's same issue

[2015-04-19 18:21] kmike commented on #1178
I'm not sure how to debug it. Maybe the only way is to read https://github.com/scrapy/queuelib code carefully, trying to understand when and why can it fail.

[2015-04-19 18:30] jbinfo commented on #1178
I will check it and back to you, thank you @kmike :)

[2015-04-19 20:43] CuriousG102 opened #1179 "Scrapy form_response includes parameters not in form"
To reproduce:
Open scrapy shell
fetch('http://utdirect.utexas.edu/ctl/ecis/results/index.WBX?s_in_page_isn=648311&s_in_page_query=Quesada+Gonzalez%2C+Carlos+20139MUS201M&s_in_max_nbr_return=0&s_in_search_query=Q&s_in_search_type_sw=N&s_in_page_direction=B&s_in_action_sw=P&s_in_search_name=Q')
scrapy.http.FormRequest.from_response(response, formxpath='//div[@class="page-forward"]/form[1]')

Compare

[2015-04-20 00:20] eliasdorneles commented on #1179
Hmm, the form is with an empty action, so Scrapy assumes `response.url` as target URL.
It seems the problem is that Scrapy is appending the parameters to the URL instead of overriding them -- I'm not sure if this is the desired in other cases.

You can workaround it by setting a clean URL:

    from scrapy.http import FormRequest
    from w3lib.url import url_query_cleaner

    FormRequest.from_re

[2015-04-20 03:06] darkrho commented on #567
#612 is good enough.

[2015-04-20 03:06] #567 closed

[2015-04-20 03:56] CuriousG102 commented on #1179
Thank you so much for your help! I did not expect someone to literally provide me with the fix code.

In a little less than a month, I may have time to submit a pull request to fix this myself. But my suggestion for this scraping framework would be to override parameters already on the url. The expected behavior of a method like "from_response" would be that it emulates the behavior of a browser g

[2015-04-20 04:10] #1175 closed

[2015-04-20 04:29] dangra commented on #1176
+1 I am surprised #856 wasn't backported

[2015-04-20 04:52] dangra commented on #1176
v0.24.6 including the fixes for this issue is availble on pypi since today.

[2015-04-20 04:52] #1176 closed

[2015-04-20 10:08] bagratte commented on #1176
0.24.6 shell seems to be working fine. thanks.

[2015-04-20 13:03] nuschk commented on #263
:+1: as well, would really love to be able to use python 3 with scrapy! And many thanks your effort!

[2015-04-20 23:37] #1027 closed

[2015-04-21 15:59] nashuiliang opened #1183 "Invalid XML parsing"
When the XML document has invalid characters, it causes a problem that the result is not completely.
Example:  `response.body` has `\0x01` , `\0x0a` ....
Have a solution?

[2015-04-21 17:33] nramirezuy commented on #33
I'm agree with @kmike

---> Close ? \/

[2015-04-21 18:49] #608 closed

[2015-04-21 18:54] #1050 closed

[2015-04-21 19:14] eliasdorneles opened #1184 "Break down the tutorial, present new topics more gradually"
The idea is to apply the ideas discussed here: https://github.com/scrapy/scrapy/pull/1180#issuecomment-94880435

So, I'll be working on:

1) prefer `start_requests` over `start_urls`

2) build up on the content in overview, start from a single spider yielding dict items, progress to a Scrapy project with the same spider, and then add another spider to the same project using defined Items and crawl

[2015-04-21 19:16] #599 closed

[2015-04-21 19:58] kmike commented on #586
@pablohoffman made a good point that if we move scrapy.selectors to a separate library (https://github.com/scrapy/scrapy/pull/1007) scrapy itself won't be focused on data extraction. So +1 to Web Scraping.

[2015-04-22 16:52] djacobs-verisys opened #1186 "Documentation is inconsistent regarding versions: 0.24 is "latest", 0.25 is "stable"."
http://scrapy.org/ lists the "latest version" as **0.24**.

http://scrapy.org/doc/ lists the "latest version" as **0.24**.

http://doc.scrapy.org/en/latest/ contains documentation for version **0.24**.

http://doc.scrapy.org/en/stable/ contains documentation for version **0.25**.

I am confused by the inconsistency. What is the difference between "latest version" and "stable version" and why do th

[2015-04-22 17:04] kmike commented on #1186
There is also http://doc.scrapy.org/en/master/ :) Thanks for the report.

I guess displaying of 'stable' docs was added after we set up the account at readthedocs.org.

[2015-04-22 17:05] kmike commented on #1186
See also: https://github.com/scrapy/scrapy/issues/589

[2015-04-23 17:58] Boltgolt commented on #747
Would be really useful, indeed

[2015-04-26 05:37] eliasdorneles commented on #518
So, it seems it isn't very straightforward to create a custom index for a role with Sphinx. The built-in functionality for indices only gives control over the global index and the modules index, no way to create a custom index.

I couldn't find any Sphinx extension that helps with it either, I'll look into building an extension for this myself.

[2015-04-26 08:59] Jackroyal commented on #958
@oleksandr-sumtsov
3q   it solves my problem too

[2015-04-27 00:08] esegal opened #1189 "After a redirect, requests are sent with the wrong 'Host' header."
This is a bug in scrapy.contrib.downloadermiddleware.redirect
I asked scrapy to crawl http://www.pcaobus.org:

I get a redirect loop.
Here's the headers summary:

Notice how the host header didn't change, eventhough the URL did.

I've was able to fix it by adding line 25 to *scrapy/contrib/downloadermiddleware/redirect.py*
[code]

[2015-04-27 01:28] esegal commented on #1189
I'm using Scrapy 0.24.6. The problem was there in Scrapy 0.24.5 too.
I've checked this problem with 200 websites, 50 were affected! (1/4).

[2015-04-27 18:34] dangra commented on #1189
hi @esegal , what twisted version are you using?

[2015-04-27 19:29] nyov commented on #1141
No, you're right. It's just about avoiding the import, and in defining fields like
[code]
Maybe it's not really worth changing.

[2015-04-28 20:16] Djayb6 opened #1191 "Spaces and similar characters in link attributes not removed by Link Extractors"
I am using LxmlLinkExtractor to extract links, and if some spaces or lines break are present in the `href`attribute like so:

    <a href="
                             http://current-domain.com">A link</href>

and id this link is in a page with the following base URL: `http://current-domain.com/contact/`, the extracted URL of the link above is
`http://www.current-domain.com/contact/%0A%09%20%20%2

[2015-04-28 21:21] Djayb6 opened #1192 "UnicodeDecodeError in LxmlLinkExtractor"
The following links triggers a `UnicodeDecodeError` exception when being extracted by LxmlLinkExtractor:

`<a href="http://gostariadefazerinscriçãoposcursos,obrigada.">A link</a>`
`<a href="http://www.domain.org ">Another link</a>`

[code]

Here is the traceback:

[code]

[2015-04-29 01:42] esegal commented on #1189
15.0.0

On Mon, Apr 27, 2015 at 3:34 PM, Daniel Graña <notifications@github.com>
wrote:

[2015-04-29 02:19] dangra commented on #1189
I tried with latest twisted 15.1.0 and it worked for me

[code]

[2015-04-29 02:21] dangra commented on #1189
FTR no difference with Twisted 15.0.0

[code]

[2015-04-29 02:28] dangra commented on #1189
Wireshark sessions:

[code]
[code]
[code]

[2015-04-29 02:38] dangra commented on #1189
@esegal : your headers summary suggest you are not using twisted>=11.1.0 because http client is using HTTP/1.0 protocol.

[2015-04-29 04:29] #1174 closed

[2015-04-29 04:35] dangra commented on #1183
hi @chuangchuang,  what library are you using to query the XML DOM? In general you should be using `response.body_as_unicode()` instead of `response.body`.

please provide an url or full body If you are seeing the problem while using scrapy selectors. thx

[2015-04-29 04:38] dangra commented on #1173
Perhaps... but none of our core developers use Windows. Pull request that improves Windows support are always welcome!

[2015-04-29 04:38] #1173 closed

[2015-04-29 05:25] dangra commented on #1178
closing as dupe of #845

[2015-04-29 05:25] #1178 closed

[2015-04-29 07:08] aaron315 opened #1193 "position() mod 3 = 0"
in Python 2.7.8 (default, Aug  1 2014, 10:01:11)
Scrapy==0.24.5

0

10

10

[2015-04-29 07:16] aaron315 commented on #1193
should return 4,why 0
thanks

[2015-04-29 08:04] jdemaeyer commented on #1193
Hi aaron,

the behaviour you see is correct (also, this is an xpath question, not a Scrapy question ;)). `position()` refers to the position within the child axis of the selected element (that is all direct children of the div's parent), not the position within the list of divs. See the second answer here: https://stackoverflow.com/questions/4117953/get-second-element-text-with-xpath

You can eith

[2015-04-29 08:52] aaron315 commented on #1193
thanks,
Originally, the xpath is stored in the configuration file

[2015-04-29 13:27] nramirezuy commented on #1192
@Djayb6 can you post the real world case?

[2015-04-29 13:39] #1193 closed

[2015-04-29 15:00] esegal commented on #1189
Thanks,
I've found the source for this bug in an external middleware (warcmiddleware). I'll report it there.

[2015-04-29 15:08] #1189 closed

[2015-04-29 18:20] #265 closed

[2015-04-29 18:20] #433 closed

[2015-04-29 18:20] #483 closed

[2015-04-29 18:20] #875 closed

[2015-04-29 18:20] #877 closed

[2015-04-29 18:20] #881 closed

[2015-04-29 18:20] #921 closed

[2015-04-29 19:49] #586 closed

[2015-04-29 19:52] pablohoffman opened #1194 "Deprecate htmlparser link extractor"
Let's add a deprecation warning like we did for SGML Link extractor

[2015-04-29 19:59] pablohoffman opened #1195 "Scrapy 1.0 release notes"
Let's put together a document with Scrapy 1.0 release notes, it should provide a:

* high-level summary of all changes getting into Scrapy 1.0
* tips and hints for migration from Scrapy 0.x (even though we'll provide backwards compatibility for most things)

We'll circulate and points to this document (in mailing list announcements, etc) as the go-to place for "what's new about 1.0?"

[2015-04-30 01:34] Curita commented on #1063
Closed by #1181

[2015-04-30 01:34] #1063 closed

[2015-04-30 23:51] ldgarcia opened #1199 "FilesPipeline: Optionally parse media extension from response headers if provided."
I needed to download some autogenerated datasheets (in PDF format), and I decided to go with the FilesPipeline provided with Scrapy.

However, the URL structure didn't follow the assumption of the `file_path` method in the `FilesPipeline` class (a well structured filename, i.e. ````example.pdf````):

spider.py
[code]
scrapy.contrib.pipeline.files
[code]

The value of ```media_ext``` for this URL i

[2015-05-01 04:11] pablohoffman commented on #33
I quite like the `minreq` idea, and (I think) it shares the same goal of the (original) `scrapy probe` idea.

What do you think about adding `minreq` as a scrapy command?. I think it's a useful thing to have in the "scraping toolkit" and thus makes a good fit for a scrapy command (in addition to getting more exposure, usage and contributions).

/cc @csalazar

[2015-05-01 04:20] Djayb6 commented on #1192
@nramirezuy Hello, here is one real world case containing `<a href="http://gostariadefazerinscriçãoposcursos,obrigada.">A link</a>` :
http://medicatriz.com.br/manual-tecnico-profissional-medicatriz/

I found out what's happening: I use `LxmlLinkExtractor` like so:

    link_extractor = LxmlLinkExtractor(allow_domains=self.allowed_domains)
    links = link_extractor.extract_links(response)

It happ

[2015-05-01 04:57] pablohoffman opened #1200 "Flatten documentation files"
Hot on the heels of contrib-removal (and modules relocation) comes another thought: do we really need the `topics/` and `intro/` folders separation in scrapy docs?. Wouldn't it be better to flatten the doc files?

[2015-05-01 14:03] eliasdorneles commented on #1200
I'm in favor of keeping the current structure for mainly two reasons: changing it will break not only internal links (which we could fix) but also existing external links that reflect the structure (like `http://scrapy.readthedocs.org/en/latest/intro/overview.html` or `http://scrapy.readthedocs.org/en/latest/topics/loaders.html`).

There is no straightforward way to deprecate this kind of thing, I

[2015-05-01 16:56] Djayb6 commented on #1192
@nramirezuy Do you want me to produce a Pull Request ? Just applying `unicode_to_str` to each domain when iterating on domains and when it is compared to the host should be enough.

[2015-05-01 21:22] aldarund opened #1201 "nofollow doesnt work correcly when there multiple values in rel attribute"
According to specs rel can have multiple values: http://www.w3.org/TR/html401/struct/links.html#adef-rel

But scrapy ( LxmlParserLinkExtractor and SgmlLinkExtractor(but this one doesnt matter i guess since its deprecated)) just check if it strictly only follow.
[code]
So the cases when links looks like this will not work correctly:
[code]

And its not from  a vacuum, its from real world sites wher

[2015-05-02 17:20] eliasdorneles commented on #713
What do you think of adopting the napoleon extension? The docstrings look much more clear with it: https://pypi.python.org/pypi/sphinxcontrib-napoleon

[2015-05-02 17:27] kmike commented on #713
I used numpy docstring style in a couple of projects and liked it.

[2015-05-03 00:28] Djayb6 opened #1202 "LxmlLinkExtractor doesn't extract links with fragment"
LxmlLinkExtractor calls `canonicalize_url` with the url only, removing any fragment present in the URL. As AJAX URLs rely on fragments, it would be nice if we could initialize the link extractor with an argument `keep_fragment` which would be passed to `canonicalize_url` to make LxmlLinkExtractor handle such URLs.

[2015-05-03 01:50] xpacket opened #1203 "scrapyd traceback"
issue is running a schedule spider in scrapyd using curl schedule.json

scrapy-0.24.6 and scrapyd 1.0
	  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
	    "__main__", fname, loader, pkg_name)
	  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
	    exec code in run_globals
	  File "/usr/lib/pymodules/python2.7/scrapyd/runner.py", line 39, in <module>
	    main()

[2015-05-03 13:26] Djayb6 commented on #1203
@xpacket does your spider subclass look like that ?

    class CustomSpider(Spider):

    name = "myspider"

    def __init__(self, *args, **kwargs):
        # this is mandatory to let other args to be passed like _job
        super(CustomSpider, self).__init__(*args, **kwargs)

[2015-05-03 16:02] Scattel2z commented on #1203
yeah have that

class HTMLCrawler(Spider):
    name = "htmlcrawler"

    def __init__(self, crawler=None, *args, **kwargs):
        super(HTMLCrawler, self).__init__(*args, **kwargs)

Just in case I am missing something here is beginning of my __init__

[2015-05-03 18:39] aldarund opened #1204 "Scrapy doesnt check if response is html and fail with exception 'Response' object has no attribute 'body_as_unicode'"
If scrapy found  a link that outputs not an html but pdf or something else it  fails with exception.
Here is stracktrace:
[code]

[2015-05-04 14:17] nramirezuy commented on #1192
@Djayb6 I'm not able to reproduce it on master. Which version are you using? Did you tried updating?

[2015-05-04 14:36] nramirezuy commented on #1202
The output of `LinkExtractors` are `Link` objects and they do support `fragment`.

@Djayb6 can you look at the reason of why are they being lose in the processes?

[2015-05-04 14:39] nramirezuy commented on #1203
@xpacket please move and close this issue to scrapyd; this doesn't look like a scrapy bug.

[2015-05-04 14:43] nramirezuy commented on #1204
Then why are you passing a `.pdf` to `Selector`?  This isn't a bug; if you have questions please make them on the [`scrapy-users`](https://groups.google.com/forum/#!forum/scrapy-users) forums.

[2015-05-04 14:43] #1204 closed

[2015-05-04 14:47] aldarund commented on #1204
Im not passing pdf to selector.Its behaviour of standard CrawlSpider. And if you take look at the log - it doesnt have a pdf extension. http://www.chanel.com/en_AS/Watches/print?popup=1&ref=H0451
 It just output pdf content.
Still considering this as not a bug when standard crawlspider produce an unhandled exception?

[2015-05-04 15:06] nramirezuy commented on #1204
Still not a bug. `.pdf` extension or not scrapy isn't detecting the response as `html` (demonstrated below); "standard `CrawlSpider`" just extract links from [`html` responses](https://github.com/scrapy/scrapy/blob/master/scrapy/spiders/crawl.py#L48).

[code]

If you still think it is a bug you will need to demonstrate it, by giving us a way to reproduce it; because I can't see it from the on the

[2015-05-04 15:23] aldarund commented on #1204
The problem is that i have generic spider that crawl all urls from domain. There is no way i can know that its pdf or not just looking at the link, because its generic spider that just crawl pages from any site.
And the log is just become polluted with exceptions when it  site with non html content type link appears.

[2015-05-04 15:43] nramirezuy commented on #1204
@aldarund  Join IRC: #scrapy

[2015-05-04 16:52] Djayb6 commented on #1192
@nramirezuy I tried with both 0.24.6 and 0.25.1. It raises an exception when the domain is an unicode string. You can reproduce it in scrapy shell with the following code:

    from scrapy.linkextractors import LinkExtractor

    fetch('http://medicatriz.com.br/manual-tecnico-profissional-medicatriz/')

    domain_str = 'medicatriz.com.br'
    ex_str = LinkExtractor(allow_domains=domain_str)
    l

[2015-05-04 21:57] Curita commented on #993
Hi! I'll be closing this issue since Scrapy doesn't handle django anymore, `DjangoItem` has been separated into a new project: https://github.com/scrapy/scrapy-djangoitem.

Feel free to open it again there!

[2015-05-04 21:57] #993 closed

[2015-05-04 21:58] #942 closed

[2015-05-04 22:01] Curita commented on #908
I'll be closing this issue since `DjangoItem` has been separated into a new project: https://github.com/scrapy/scrapy-djangoitem

Seems like this issue could have been fixed by #1065, I'll review it in scrapy-djangoitem repo if it gets submitted there.

[2015-05-04 22:01] #908 closed

[2015-05-04 22:40] eLRuLL commented on #8
I would like to work on this issue :smile:

[2015-05-04 23:10] eliasdorneles commented on #518
Just a quick report of my efforts on these: I've got this partially working, but there are some issues to solve.

I was able to write code to find the references to the `setting` directives, but referencing back is a bit of a challenge. The main problem is that the settings are referenced multiple times in the docs, so we probably want to filter it and somehow say which of the references is the on

[2015-05-05 11:54] #1115 closed

[2015-05-05 13:53] Djayb6 commented on #1202
@nramirezuy `Link` supports `fragment` but the `LinkExtractor`does not extract the possible fragment and thus does not instantiate `Link`objects with fragment. What's more, even though `Link` had not `fragment`property, it would still support fragment since it would appear in the url. Here is why fragments are dropped: https://github.com/scrapy/scrapy/blob/master/scrapy/linkextractor.py#L95

Calli

[2015-05-05 16:00] mayouf opened #1209 "Multiple Items into one pipeline -- NEO4J database Use case"
Hi every one,

I use scrapy in order to scrape a social network and then get the data in a NEO4J database.

My challenge here is to relate 2 items each other:

class person(scrapy.Item):
    name=Field()

class AnotherPerson(scrapy.Item):
    name=Field()

I want to save those two items in my graph database by saying:

  Person  has relationship with AnotherPerson()

What I need here is to send tw

[2015-05-05 16:18] #1209 closed

[2015-05-05 16:24] kmike commented on #1200
I agree with @eliasdorneles - with modules relocation we're simplifying import paths which users use while not breaking anything; with doc files relocation we don't simplify anything for the user, but break existing links to the docs.

[2015-05-05 17:37] Curita commented on #8
If anybody is currently working on this issue let us know, otherwise @eLRuLL: all yours!

[2015-05-06 00:55] darkrho opened #1211 "Allow to override `DefaultSpider` by setting"
In large projects we use to have a `BaseSpider` class which is the base class for all spiders. This works well except when using the commands `shell` and `fetch` with unknown domains that causes to use the ``DefaultSpider`` class as spider instance which may not implement the methods or attributes required by custom extensions or middlewares.

For example, suppose we have the following downloader

[2015-05-06 05:40] #1194 closed

[2015-05-06 07:43] csalazar commented on #33
@pablohoffman sure, I'll add *POST* support and tests. The command should be called `probe` or `minreq`?

[2015-05-06 09:58] #1191 closed

[2015-05-06 13:47] nramirezuy commented on #1211
+1 but since isn't a setting that works for a global command; it should be from `.scrapy.cfg` and/or `ENVIRON VARS`.

[2015-05-06 13:48] nramirezuy commented on #33
@csalazar I think `minreq` is fine, since we are just making your app more visible.

[2015-05-06 20:47] pablohoffman commented on #33
`minreq` sounds good to me

[2015-05-07 05:14] #1203 closed

[2015-05-07 11:31] demelziraptor opened #1213 "Allow FEED_EXPORT_FIELDS to be specified per Item rather than for the whole project"
This setting was added in this commit: https://github.com/scrapy/scrapy/commit/1534e8540bf083c8d7beb0264cccea5488ee0250

But it would be more useful to define per Item.  Maybe change it to a dict and have the Item name as the key?  Or a new attribute for the Item class?

[2015-05-07 11:56] kmike commented on #1213
`FEED_EXPORT_FIELDS` option was added for 2 main reasons:

1. It is not possible to know all possible fields in advance (because items are processed on-by-one), but we need to know it to write a CSV header. With a single Item class a set of its defined fields can be used. But when several item classes this doesn't work, and `FEED_EXPORT_FIELDS` allows to specify which fields should be in result.

[2015-05-07 12:06] demelziraptor commented on #1213
I see what you mean.  I have a requirement at the moment that feed exports are csv format and that the fields remain in the same order (currently using a custom exporter to do this).  Spiders only use one item each, so defining via the Item is not an issue.  Maybe define these fields in the Spider instead?

[2015-05-07 12:11] kmike commented on #1211
`DEFAULT_SPIDER_CLASS` could be a confusing name - users may expect it e.g. to be used when you import `scrapy.Spider`, or when you're using `scrapy genspider` command.

I think that a good solution would be to provide a proper Scrapy + IPython Notebook integration which will make scrapy shell and scrapy fetch commands unnecessary, but as nobody works on it now it makes sense to fix scrapy shell a

[2015-05-07 12:15] kmike commented on #1213
In scrapy master it is possible to override settings per-spider - see http://doc.scrapy.org/en/master/topics/settings.html#settings-per-spider.

[2015-05-07 12:24] demelziraptor commented on #1213
I keep forgetting this!  Thank you!

[2015-05-07 12:24] #1213 closed

[2015-05-08 07:52] MojoJolo opened #1217 "ItemMeta overrides fields, instead of merging it"
Looks like this update (https://github.com/scrapy/scrapy/pull/353) breaks the `Item` for the project I'm working on right now.

It now overrides fields, instead of merging it. @michalmo pointed it out to me after the item fields are having a key error.

Inheriting `DictItem` rather than `Item` fixed the problem though.

[2015-05-08 12:36] tarlabs commented on #169
@osya, This works fine for me in the latest version

@pablohoffman, Is it possible to make something on this as a part of Scrapy?

The use case is like this, we POST/Search through a form. That form generates a link. But it actually redirects you to that link after 15 seconds, when the results are generated. So the next url can be know but needs to be called only after 15 sec. Unfortunately I was

[2015-05-08 14:13] nramirezuy commented on #1217
@MojoJolo can you give me a test case?

[2015-05-08 22:26] Curita commented on #169
@tarlabs: this issue is being discussed in #802, feel free to join in.

[2015-05-08 23:39] Curita commented on #1211
I agree with `DEFAULT_SPIDER_CLASS` being a confusing name. Maybe something like `COMMANDS_DEFAULT_SPIDER_CLASS` (a shorter `COMMANDS_SPIDER_CLASS` could be misinterpreted as the `--spider` command option) is more specific?

[2015-05-09 22:32] nekopa opened #1222 "Problem with tutorial and DEFAULT_ITEM_CLASS"
This is my first time reporting an issue on Github so I apologise if I am breaking any etiquette. I just installed scrapy (on a Vagrant Ubuntu64 box ) and was running through the tutorial but kept getting errors at the section for starting up the scrapy shell. After a *lot* of searching I found someone who had a similar problem (but on one of their own spiders) and it boiled down to the fact that

[2015-05-10 01:52] Curita commented on #1222
Hi @nekopa, thanks for reporting!

I'm going to guess `scrapy shell` raised an issue because the path for DEFAULT_ITEM_CLASS didn't exist. I think Scrapy 0.10 was the last release that overwrote DEFAULT_ITEM_CLASS in settings.py while creating a new project.

Can you tell us which Scrapy version are you using and what was the traceback from the error in `scrapy shell` so we can confirm this?

[2015-05-10 07:26] nekopa commented on #1222
Hi @Curita,
I am using scrapy 0.24.6, install via apt-get using your sources (the default packages were out of date).

Here is the traceback:

Traceback (most recent call last):
  File "/usr/bin/scrapy", line 9, in <module> load_entry_point('Scrapy==0.24.6', 'console_scripts', 'scrapy')()
  File "/usr/local/lib/python2.7/dist-packages/scrapy/cmdline.py", line 143, in execute _run_print_help(parser

[2015-05-12 11:59] redapple opened #1223 "FeedExporters export empty dicts when FEED_EXPORT_FIELDS setting is not set"
Reported by several users using S3 exporter and JsonItemExporter.

It looks like the docs for [FEED_EXPORT_FIELDS](http://doc.scrapy.org/en/master/topics/feed-exports.html?#std:setting-FEED_EXPORT_FIELDS) do not match current behaviour:

[code]
https://github.com/scrapy/scrapy/blob/master/scrapy/exporters/__init__.py#L59

This following line fetching settings for FEED_EXPORT_FIELDS returns an empt

[2015-05-12 18:10] immerrr opened #1225 "dupefilter skips a request when a page is redirected to itself"
Hit this when trying to run a spider against scrapinghub.com: sometimes it responds with `302 moved permanently to scrapinghub.com`. Scheduler agrees and tries to schedule another request for scrapinghub.com, but fails because dupefilter already considers it visited.

Maybe dupefilter should only add hosts when the response is not a redirect? And when it is, the scheduler should probably remember

[2015-05-12 18:14] immerrr commented on #1225
Another point to consider: what if there's a redirection loop? Limit the redirection chain? Also, how to report this to the user?

[2015-05-12 18:33] kmike commented on #1225
for redirection loops there is http://doc.scrapy.org/en/latest/topics/settings.html#redirect-max-times

[2015-05-12 19:14] kmike commented on #1225
//cc @sibiryakov - this is related to 'canonical URLs' feature you're working on for frontera; how are you solving it there?

[2015-05-12 19:57] kmike opened #1226 "Support starting spiders from spiders"
Currently it is not possible to start a spider from a spider using CrawlerRunner / CrawlerProcess API if `scrapy crawl` is used - in this case CrawlerProcess is not available to spider, and so user needs to do tricks to prevent global CrawlerProcess from stopping the reactor.

I think it'd be good to support this use case. It will allow to:

* organize code into multiple spiders;
* use different S

[2015-05-13 00:06] aldarund opened #1227 "'NoneType' object has no attribute '_app_data' because of misuse ClientTLSOptions"
See this answer for reference:
http://stackoverflow.com/a/30203408/239354
full exception stacktrace:

[code]

[2015-05-13 03:10] dangra commented on #1227
@nyov aaeb837db409442579d260f703e2f2ca705020ca is firing back.

[2015-05-13 04:41] MojoJolo commented on #1217
Hopefully this is sufficient as a test case without revealing the project itself.

[code]

That class inheriting `Item` will result in `KeyError` even though the fields are instantiated using `Field()`. Changing `Item` to `DictItem` solves it.

[2015-05-13 16:31] nramirezuy commented on #1217
@MojoJolo #1228 should fix it.

[2015-05-13 17:43] #518 closed

[2015-05-13 18:06] nramirezuy opened #1229 "Where the tracebacks at?"
run the spider with `scrapy runspider`, it also happens on `parse` and `crawl`.
https://gist.github.com/nramirezuy/65faa56c7eab1e117d77

[2015-05-13 23:34] dangra commented on #1229
boto trying to read ec2 metadata :(

[2015-05-14 07:19] chekunkov opened #1230 "Traceback is missing when exception is raised in pipeline"
Code to reproduce issue https://github.com/chekunkov/dirbot/tree/exception-in-pipeline

What happens if you use Scrapy 0.24.6 (also works with rev 5eb098a)

[code]

And this what happens if you use code from master branch:

[code]

Probably this is caused by https://github.com/scrapy/scrapy/pull/1060 and might be related to https://github.com/scrapy/scrapy/issues/1229

[2015-05-14 11:40] Djayb6 commented on #1202
@nramirezuy any update ?

[2015-05-14 13:37] iandees opened #1231 "Scrapy does not use a non-zero exit code when a scrape fails"
When invoking a Scrapy spider with e.g. `scrapy crawl spidername -o output.csv` and the spider fails for some reason (in our case, timeout to the HTTP server), the exit code is zero, giving subsequent steps in a shell script no way to check if the scrape completed successfully.

See my example here:
https://gist.github.com/iandees/74f51fefeb758b57f5e7

[2015-05-14 14:32] nramirezuy commented on #1229
@dangra I added a test without boto installed and have no pipelines enabled.

[2015-05-14 15:58] nramirezuy commented on #1202
@Djayb6 Seems like any of the link extractors populate the fragment argument ([1](https://github.com/scrapy/scrapy/blob/master/scrapy/linkextractors/lxmlhtml.py#L60), [2](https://github.com/scrapy/scrapy/blob/master/scrapy/linkextractors/htmlparser.py#L69)). But since [`CrawlSpider`](https://github.com/scrapy/scrapy/blob/master/scrapy/spiders/crawl.py#L57) doesn't even consider it, the current way

[2015-05-14 16:10] kmike commented on #1229
It seems the switch to Python logging made https://github.com/scrapy/scrapy/issues/1054 more visible.

[2015-05-14 16:12] kmike commented on #1229
Is it a duplicate of https://github.com/scrapy/scrapy/issues/1099?

[2015-05-14 16:20] kmike commented on #1231
For me the existing behaviour makes sense. Errors with remote resources are inevitable - you can't control remote servers. Say you crawled 100 pages and 1 of them failed - should it be reported in exit code? What if you're extracting links from a webpage, and some of them are broken - is it an error with your script? Even if all requests failed it may still be the expected result.

What logic do y

[2015-05-14 16:27] iandees commented on #1231
The usecase here is that we're scraping webpages and expect the scrape to complete without error before moving on to the next step. I can see your point, and the existing behavior probably makes sense for the general case.

Having said that, can you recommend some way to catch any connection or scraping errors and gracefully exit with a non-zero exit code? I was thinking about listening for the [`

[2015-05-14 17:38] nramirezuy commented on #1231
@iandees you can create a [custom command](http://doc.scrapy.org/en/master/topics/commands.html#custom-project-commands). There is an extension that already closes the spider by listening that signal ([doc](http://doc.scrapy.org/en/master/topics/extensions.html#scrapy.extensions.closespider.scrapy.extensions.closespider.CloseSpider), [source](https://github.com/scrapy/scrapy/blob/master/scrapy/ext

[2015-05-14 17:41] nramirezuy commented on #1229
I'm not reporting the boto error, thats already reported on #1099. I'm reporting the missing traceback from the spider.

[2015-05-14 20:04] twayneprice opened #1232 "Request with space in url generated 550 error"
When processing a request with a space in the url, a 550 error is generated.

[code]

[2015-05-15 03:44] lbsweek commented on #345
I got this error message when using vpn,  I capture wireshark and find there is no response.

[2015-05-15 03:47] dangra commented on #345
@lbsweek what do you mean by "no response"? an empty reply without even a first line?

[2015-05-15 03:52] dangra commented on #345
After the failed attempt to fix this issue in #1140, I think the only viable approach is a monkeypatch _similar_ to what @tonal proposes in  https://github.com/scrapy/scrapy/issues/345#issuecomment-41649779

[2015-05-15 05:36] Curita commented on #1222
@nekopa, can you check if DEFAULT_ITEM_CLASS is set in settings.py when you create a project from scratch? It shouldn't in the version you're using since it was removed before 0.14 release (fbafb295e8f32bf71287).

[2015-05-15 09:14] nekopa commented on #1222
You're right, I did a fresh install of scrapy and now it doesn't create the DEFAULT_ITEM_CLASS.

I think it must have been with the version of scrapy from Debian apt-get, which I think install scrapy version 0.12. Is there anyway of letting people know not to use apt-get for scrapy, or having the version there updated?

Thanks for your help, I look forward to getting on with the tutorial now. :)

[2015-05-15 09:37] kmike commented on #1222
@nekopa there is a note in docs about Scrapy versions provided by Ubuntu (but not for Debian) - see http://doc.scrapy.org/en/latest/intro/install.html#ubuntu-9-10-or-above.

[2015-05-15 10:25] Digenis commented on #1231
Currently, when the crawling doesn't even start (say, because of an exception in some `__init__` or `__new__` method) the exit code is set to 1, allowing for `scrapy crawl stuff || handle error` expressions in the shell.

[2015-05-15 12:15] nekopa commented on #1222
Thank you for the link. I did a fresh install using an Ubuntu LTS VM using the instructions on this page, but ended up with errors (in the cryptography package) until I installed these packages:

sudo apt-get install build-essential libssl-dev libffi-dev python-dev,

Now everything seems to be running fine.

[2015-05-15 12:15] #1222 closed

[2015-05-15 12:45] darkrho commented on #1074
@aliowka How big are your items? Did you tried using the LevelDB backend?

[2015-05-15 14:09] iandees commented on #1231
I ended up using your examples to override the crawl command with this:

[code]

So far this serves my needs, so I'm going to close this.

[2015-05-15 14:09] #1231 closed

[2015-05-15 15:08] preetis19 opened #1238 "Unstructured Information in "Scrapy at Glance" Page"
In the Documentation page "Scrapy at Glance" (link : http://doc.scrapy.org/en/0.24/intro/overview.html)
incomplete information is given for running the spider.
 I being a new user started executing it from there itself and later I came to know that to start a project we should follow this link : http://doc.scrapy.org/en/0.24/intro/tutorial.html

[2015-05-15 15:13] kmike commented on #1238
Hi @preetis19,

Could you please clarify what didn't work in overview?
Scrapy project is not required to run Scrapy spider.

[2015-05-15 15:23] preetis19 commented on #1238
Hi @kmike ,
I tried to execute the command "scrapy runspider stackoverflow_spider.py -o top-stackoverflow-questions.json" , directly, without creating any project to store the python script for spider.

It gave an error ofcourse, and since being new to Scrapy, it took me alot of time to realise that it wasn't working because we first need to create a project using "startproject" command and define

[2015-05-15 16:23] dangra commented on #1238
@preetis19 creating a project is not needed with `runspider` command, that's the whole point of the that command.

Can you share more details about the error?

[2015-05-15 16:45] preetis19 commented on #1238
@kmike  @dangra  I'm sorry, the link for Scrapy at Glance is http://doc.scrapy.org/en/0.24/intro/overview.html , I gave the wrong link with wrong command.

the command is "scrapy crawl mininova -o scraped_data.json" .

Now the crawl commands needs the project to be created which is not mentioned on the page.

[2015-05-15 16:50] dangra commented on #1238
0.24 is outdated and shouldn't be there, not sure how it built.

From where did you get that link to 0.24?

![screenshot from 2015-05-15 13-48-49](https://cloud.githubusercontent.com/assets/37369/7657551/2969ed4e-fb09-11e4-9ca6-b7ff6f7b80e8.png)

[2015-05-15 16:51] dangra commented on #1238
0.24 is not listed in the bottom pane of RTD (it shows in red color because it is outdated)

![screenshot from 2015-05-15 13-50-26](https://cloud.githubusercontent.com/assets/37369/7657588/7c99eeb0-fb09-11e4-8c0d-ad4b8d1700b3.png)

[2015-05-15 16:59] preetis19 commented on #1238
@dangra ok,
but even the latest document "http://doc.scrapy.org/en/latest/intro/overview.html" , has the same content as that of 0.24.

[2015-05-15 17:45] kmike commented on #1238
@preetis19 you're right, this overview should have used `scrapy runspider`. It also had other issues; @eliasdorneles has rewritten the overview, so this is not a problem in scrapy master. The release is not too far away, but I'm fine with merging a PR which fixes an error 0.24 overview.

In readthedocs "latest" (somewhat confusingly) means "latest released version", so it doesn't correspond to the

[2015-05-15 18:00] #1229 closed

[2015-05-15 18:00] #1230 closed

[2015-05-15 21:05] nyov commented on #1227
Ouch. I suppose this means reviewing #1103 and doing a more elaborate dance with SSL connections here.

[2015-05-15 22:47] ramiro opened #1239 "Are the .crawler an .settings Spider attributes suposed to be public API?"
If teh answers is yes, shouldn't them be documented?

Or, put in other words. If I'm using them, am I safe using from future API changes?

Both are very useful because they allow one to access the bound crawler and setting values from the Spider withoun having to create an extension just for that.

[2015-05-15 22:49] ramiro commented on #1239
I forgot to add that doing the custom extension dance is the currently (only?) documented way to achieve access to these objects.

[2015-05-16 17:19] #990 closed

[2015-05-18 17:20] nramirezuy opened #1241 "Provide a way to propagate an exit code from a Spider"
I think we need a way to propagate the exit code from the Spider.

Based on: #1231

[2015-05-18 18:08] ramiro commented on #1239
Aha! These docs blurbs were added in máster. I was reading docs for stable
because that's what I'm using.

Do you have any policy about backporting fixes for these documentation
errors?
On May 18, 2015 2:29 PM, "Nicolás Alejandro Ramírez Quiros" <
notifications@github.com> wrote:

[2015-05-18 18:43] nramirezuy commented on #1239
Yeah, we been giving some love to the Docs :smile:

[2015-05-18 19:12] kmike commented on #1241
I like this idea.

We can't do it from Spider because spider doesn't necessarily terminate the process - it is CrawlerProcess who does that.So we may need to expose CrawlerProcess to the spider. See also: https://github.com/scrapy/scrapy/issues/1226

[2015-05-18 19:30] kmike commented on #1239
I think we're accepting PRs and cherry-picking what is easy to cherry-pick.

[2015-05-18 19:32] nramirezuy commented on #1241
Well what I mean was terminate the process and be able to add an exit code with the outcome. We already have an [exception](https://github.com/scrapy/scrapy/blob/master/scrapy/exceptions.py#L23) to terminate the process from the spider.

[2015-05-18 19:34] kmike commented on #1241
This exception stops the spider, not necessarily terminates the process. You can have multiple spiders in the same process running at the same time.

[2015-05-19 03:06] 1a1a11a opened #1245 "Telnet problem"
I am trying to use telnet for scrapy, and I type in:
    telnet localhost 6023

and I have the following results coming from terminal:

Trying ::1...
telnet: connect to address ::1: Connection refused
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.

Then it stucks here, can anyone help me?

OS: OSX Yosemite
Scrapy: 0.24
python: 2.7.9

[2015-05-19 04:37] oxzilla opened #1246 "How to get img src ?"
Hello,

I have some problem about get img src from this page .

http://shoponline.tescolotus.com/en-GB/Product/BrowseProducts?taxonomyId=Cat00001808

Please kindly advice.

Tim

[2015-05-19 08:04] BrieflyX opened #1247 "Add denied_domains for original Spider"
This is allow & deny domains for LinkExtractor, but if we just use Spider class. It just provides an variable 'allowed_domains', no 'denied_domains' to forbid crawling some sites.....

[2015-05-19 13:10] vmarkovtsev commented on #263
You can use my patches with ported twisted.web.client.Agent and friends from [my fork](https://github.com/vmarkovtsev/twisted).

[2015-05-19 16:16] nramirezuy commented on #1246
This place is just for bug reports or feature requests.
For help you can make a thread on [scrapy-users](https://groups.google.com/forum/#!forum/scrapy-users).

[2015-05-19 16:16] #1246 closed

[2015-05-19 16:18] nramirezuy commented on #1247
I don't quite get you. You can add any attribute you like to your spider.
If you need help please refer to [scrapy-users](https://groups.google.com/forum/#!forum/scrapy-users)

[2015-05-19 16:18] #1247 closed

[2015-05-19 19:36] #1223 closed

[2015-05-19 21:41] 1a1a11a opened #1248 "error downloading, Couldn't bind: 24: Too many open files."
I am writing the following spider, but has the error "error downloading, Couldn't bind: 24: Too many open files. ", can you help me?

    class Spider(scrapy.Spider):
        name = “***”
        def __init__(self, url='http://example.com/', **kw):
            super(Spider,self).__init__(**kw)
            self.url = url
            self.allowed_domains = [re.sub(r'^www\.', '', urlparse(url).hostna

[2015-05-20 19:21] dangra commented on #1245
Github issues are for project bugs and new feature development, for advise you will have better luck by  asking in forums: https://groups.google.com/forum/#!forum/scrapy-users

[2015-05-20 19:21] #1245 closed

[2015-05-20 21:36] faheem-cliqz opened #1249 "Error fetching a webpage"
Hi I am having some trouble fetching this particular domain. It results in a ConnectionDone (ResponseNeverReceived) twisted error. I am able to perfectly open this in a browser.

[code]

Another example:

[code]

[2015-05-20 23:23] dangra commented on #1249
As you can in the snippet pasted below the problem is with User-Agent.
For this kind of questions please use scrapy forums. thanks.

[code]

[2015-05-20 23:23] #1249 closed

[2015-05-21 14:39] ErikvdVen opened #1251 "High CPU"
Scrapy uses a lot of CPU on our server, 40% is the minimum (when running 1 spider) and most of the time it goes up to 99% (running multiple spiders at the same time). We're using a DigitalOcean droplet with 1 CPU.

Is this normal? I tried already several things:
- add sleep(0.1) to Pipelines
- disabling Pipelines
- Using Scrapyd with job persistance.
- set the amount of jobs per cpu with settings

[2015-05-21 14:47] kmike commented on #1251
Have you profiled your spiders?

[2015-05-21 15:05] kmike commented on #1251
Often the CPU bottleneck is HTML parsing using lxml library.

[2015-05-21 15:09] ErikvdVen commented on #1251
Haven't profiled it yet. Just tried it, but ```python -m cProfile westwing.py``` returns like a thousand rows, and I cannot see all of them in my terminal. Any ideas? Does scrapy has a profile function itself?

And I will have a look at the lxml

[2015-05-21 15:11] kmike commented on #1251
check http://jiffyclub.github.io/snakeviz/ - highly recommended :)

[2015-05-21 15:14] ErikvdVen commented on #1251
Alright, thanks. i will try that!

[2015-05-21 23:28] VascoVisser opened #1252 "newlines in attributes"
I noticed that when a website spits out HTML with newlines in tag attributes scrapy's xpath selector doesn't match attributes anymore. I.e., something like
[code]
won't match xpath query `"//div[@class='the_class']" `.

What I do now to work around this is:
`selector = scrapy.Selector(text=response.body.replace('\n', ''))`
This seems to work just fine, but maybe there is a better way to go about h

[2015-05-22 09:38] ErikvdVen commented on #1251
Ok, I tried snakeviz, didn't understand very much of it haha. Tried the documentation and figured out Pipelines popped up a couple of times. So I tried to enable and disable some Pipelines and check the CPU usage while running the scraper. I noticed that when enabling the image pipeline (scrapy.contrib.pipeline.images.ImagesPipeline) it uses double as much CPU for a couple of seconds. From max 48%

[2015-05-22 15:23] nramirezuy commented on #1252
@VascoVisser can you tell me which python and lxml version are you using?

[2015-05-22 15:49] nramirezuy commented on #1251
@ErikvdVen can you tell us how many requests per second are you doing on server and your mac?

[2015-05-22 16:21] #1195 closed

[2015-05-23 02:30] eliasdorneles commented on #1248
I don't see any problem on the code you present.

You may just want to raise the limit on the number of open files (in Linux, `ulimit -n NUMBER`).
Btw, this kind of question (not really a problem in Scrapy) are more appropriate for Stackoverflow: http://stackoverflow.com/tags/scrapy

[2015-05-23 10:42] VascoVisser commented on #1252
lxml==3.4.4
Python 2.7.9

I am using `contains(@class, 'the_class')` now to select these tags.

[2015-05-23 21:16] #1248 closed

[2015-05-23 22:09] dangra commented on #1252
This is not a bug in selectors but how xpath matching works and in the end an issue for lxml library.
Using `contains()` is the expected solution.

[2015-05-23 22:09] #1252 closed

[2015-05-23 22:58] dangra commented on #1232
550 ftp error means "Access denied" so it can be anything but I can't reproduce the error, are you sure the file was readable by anonymous user?

the same link now returns 404 (not found)

[code]

[2015-05-23 23:00] dangra commented on #1232
I tried with curl and it downloaded a PDF file.

[code]

[2015-05-23 23:05] dangra commented on #1232
Scrapy ftp session as seen by Wireshark:

![screenshot from 2015-05-23 20-02-49](https://cloud.githubusercontent.com/assets/37369/7786014/bced8f48-0186-11e5-8b18-c54ecf36ff2c.png)

Curl ftp session as seen by Wireshark:

![screenshot from 2015-05-23 20-04-56](https://cloud.githubusercontent.com/assets/37369/7786020/03b64f46-0187-11e5-8fcd-f856f9c7bff8.png)

[2015-05-23 23:23] dangra commented on #1232
The space in the url is quoted by `w3lib.url.safe_url_string()` function called by Request init method.

Got it working with the following change.
[code]

Scrapy logs:
[code]

And wireshark session:

![screenshot from 2015-05-23 20-17-23](https://cloud.githubusercontent.com/assets/37369/7786045/c52e9448-0188-11e5-8fb5-10203eceb0ce.png)

[2015-05-23 23:52] dangra commented on #1232
proper bugfix submitted as #1254

[2015-05-25 13:25] jdemaeyer commented on #591
I will be working on an implementation of add-on management starting now!

While I finish up per-key settings priorities (#1149) as prerequisite (almost all add-ons will want to touch the dictionary settings), I will draft an updated version of the SEP this week. I think these are some of the major open issues (sorry, lots of text, feel free to skip sections):

##### 1. How is the add-on interface

[2015-05-25 21:50] bilougit opened #1257 "It seems like the last callback is executed for only one url but as many times as the total number of URLs"
Hi there,

Very tricky problem that I don't know how to debug. I have a spider which is a 3-level deep:

[code]

The weird thing is that the passed dictionary in the meta of the request is the same in `parseCategory`,  and response.url into parseCateogry is fine.
This problem I'm talking about happens only in the callback parseCategory, it does work well in parseChapter (passed meta is good and di

[2015-05-25 22:10] #1257 closed

[2015-05-25 22:13] bilougit commented on #1257
Issue related to python comprehension

[2015-05-27 13:40] Curita commented on #1074
Closed by #1253

[2015-05-27 13:40] #1074 closed

[2015-05-27 20:21] kirankoduru commented on #1251
@ErikvdVen have you used the [trackref](http://scrapy.readthedocs.org/en/latest/topics/leaks.html#debugging-memory-leaks-with-trackref) feature from scrapy?

[2015-05-28 09:53] ErikvdVen commented on #1251
@nramirezuy Do you mean http requests? Server: 154 packets per second (tops). On my mac more than 400 packages per second if I'm right.

[2015-05-28 09:56] ErikvdVen commented on #1251
@kirankoduru Yes I did, but I do see objects decreasing, so it looks like it deletes the old objects as it supposed to. I don't see any disturbing high numbers.

[2015-05-28 12:41] pawelmhm opened #1262 "Scrapy HTTP Request should join response header values if there are multiple values for one header"
Currently if HTTP response contains multiple headers with same name Scrapy spider will get only first value in response.

For example response containing following headers

[code]

will be represented like this in scrapy spider

[code]

[2015-05-28 13:22] dangra commented on #1262
This approach to header handling is a copycat of Django headers handling, I think it is just too late to change it.

We can do better with documentation another a remarked note about how to get mutliple header values using getlist().

[2015-05-28 13:43] nramirezuy commented on #1251
packets == scrapy requests? I was asking about this log line `Crawled 100 pages (at 20 pages/min), scraped 97 items (at 17 items/min)`.
Well there you go smaller CPU is processing 154p while on your bigger CPU you are processing 400p per second. If you don't limit it scrapy will use all the CPU it can, to limit this you can [`Autothrottle`](http://doc.scrapy.org/en/master/topics/autothrottle.html)

[2015-05-28 15:45] ErikvdVen commented on #1251
Thanks a lot!!! Guess it's working:

I added these settings:
[code]

Result:
![cpu](https://cloud.githubusercontent.com/assets/5047027/7864251/47b1215c-0561-11e5-8862-81f5de05d654.png)

[2015-05-28 15:51] nramirezuy commented on #1251
@ErikvdVen yw, if you have anymore doubts you can reach us on [`scrapy-users`](https://groups.google.com/forum/#!forum/scrapy-users) or `#scrapy` IRC.

[2015-05-28 15:51] #1251 closed

[2015-05-28 16:21] kirankoduru commented on #1122
Or you could dynamically set the port with the [__WEBSERVICE_PORT__](http://doc.scrapy.org/en/latest/topics/webservice.html#webservice-port) setting

[2015-05-28 19:10] ArturGaspar commented on #1136
@DharmeshPandav  You can also write `id("formid")` to be shorter.

[2015-05-29 14:14] Curita opened #1265 "Backward incompatibility for relocated paths in settings"
Reported by @dangra

This issue manifests when mixing old paths and new ones for extensions and middlewares (this can happen for example while using a newer version of Scrapy in a project that hasn't updated to the new paths yet). Since paths aren't normalized, the same component can be loaded twice.

Take these settings for example:

[code]
[code]

While merging both dictionaries to build the lis

[2015-05-29 14:32] nramirezuy commented on #1265
[code]

[2015-05-29 15:00] Curita commented on #1265
@nramirezuy Yes, it's the same class, but with those settings is going to be loaded twice because of how MiddlewareManager and build_component_list work, none of them check for duplicates.

[2015-05-31 22:38] dszmaj commented on #951
i've encountered the same problem with redirect downloads, without redirect everything is fine, it looks that only after redirect, content gets double gzipped

workaraund from @mercutio79 works perfectly with this

[2015-06-01 09:08] bgt-prabhakard opened #1269 "Scrapy is not following links as per pattern given in "follow_patterns""
I am deploying my Portia spider in scrapyd. I have given a pattern to be followed in Crawling section in Portia.
While deploying the spider, scrapyd is not following the link pattern which I have given.
How to fix this issue?

Already asked in https://github.com/scrapy/scrapyd/issues/95

[2015-06-01 13:17] binbibi opened #1270 "scrapy logging show UnicodeDecodeError"
hello,all, I use scrapy 1.00rc1 from pip ,my pc is win7x64,python is 2.7.9(x64),
when I start my project
[code]
Then I find utils/log.py ,line 108 ,I commented-out the code as you can see
[code]
And I restart my project,it's OK ,but something about logging error still:
[code]
It's to much in my screen,though  too many logging Traceback , my code work fine ,I get all data I need, But I confused,my

[2015-06-01 15:30] Curita commented on #1270
Hi, thanks for reporting this issue!

Seems like the new logging system isn't handling well some encoding, though I'm not sure how could this issue be reproduced without breaking the old log system too.

Could you show us the code from your spider (and maybe your project settings if you have redefined some of them) so we can try to reproduce it?

[2015-06-01 15:45] binbibi commented on #1270
yes, I upload my project to Dropbox,you can download it ,
https://www.dropbox.com/s/s14qh12qjptu7pr/imzx.zip?dl=0

[2015-06-01 23:31] #1265 closed

[2015-06-02 11:53] rdowinton opened #1274 "HTTP_PROXY variable with username and empty password not supported"
Scrapy doesn't support proxy authentication when the password is empty when using the HTTP_PROXY environment variable to supply the proxy argument.

[2015-06-02 12:21] redapple commented on #1274
For example, scrapy does not support Crawlera's API key like this:
`export http_proxy=http://<API key>:@paygo.crawlera.com:8010`

[2015-06-02 17:23] Curita commented on #1270
I was able to emulate a similar issue touching some settings, I couldn't reproduce it otherwise in the attached project.

Problem here seems unrelated to the system locale. Both log calls, the one in utils/log.py and the one in core/engine.py, try to log an unicode message. By doing that all attributes in the log record are decoded to unicode using the ascii encoding, and that breaks with the repo

[2015-06-03 04:45] binbibi commented on #1270
second command error again,I run the command in ipython,you can see the result:
[code]

[2015-06-03 10:18] Free16t opened #1277 "Scrapy and twisted Unhandled Error"
Hi,
I'm trying to use [Hyphe](https://github.com/medialab/hyphe). Hyphe is using Scrapy but I failed to connect scrapy.

Here is my log file from `scrapyd.log`

2015-06-02 14:29:23+0200 [-] "127.0.0.1" - - [02/Jun/2015:12:29:22 +0000] "GET /jobs HTTP/1.0" 200 434 "-" "Twisted PageGetter"
2015-06-02 14:29:23+0200 [HTTPChannel,43147,127.0.0.1] Unhandled Error
Traceback (most recent call last):
File

[2015-06-03 13:43] Curita commented on #1270
I really appreciate your help! Guess it truly is an issue concerning Scrapy alone, `configure_logging` seems the culprit of setting something wrongly. I probably missed something while debugging different system locales, I'll try to reproduce the issue again.

I'd really like to inspect that `record.__dict__` to see what is the offending string. Given there aren't that many changes in `configure_l

[2015-06-03 17:48] binbibi commented on #1270
I debug the code ,
[code]
you are write ,the LOG_DATEFORMAT cause error,the timeformat
[code]
The bug is happen when you add "%z",python logging use **formatTime** [formatTime](https://docs.python.org/2/library/logging.html#logging.Formatter.formatTime) to handle time,but
if datefmt (a string) is specified, it is used with time.strftime() to format the creation time of the record,and from the doc

[2015-06-03 19:45] Curita commented on #1270
Ohh, the timezone was the catch! Thanks a lot for debugging it, I couldn't reproduce it in the linux I'm using since the timezone name is stored in english regardless system language (I got 'CST' there even with chinese locale), seems it's something platform specific.

I still have a doubt, why is '%z' being formatted as '%Z', or was that an example? The first one should return the offset from UTC

[2015-06-03 20:15] kmike opened #1279 "to stop CrawlerProcess started with stop_after_crawl=False two Ctrl-Cs are required"
When CrawlerProcess is started with `stop_after_crawl=True` (default) and user presses Ctrl-C the following happens:

1. Ctrl-C signal handler is changed to "unclean shutown" so that second Ctrl-C will definitely stop the reactor;
2. `self.stop` method is called which asks all crawlers to stop;
3. when all crawlers are stopped a Deferred returned from `self.join()` executes its callback. This call

[2015-06-03 22:29] kmike opened #1280 "CrawlerProcess settings have no effect if Crawler is passed to crawl method"
CrawlerProcess accepts either Crawler or Spider instances in its `crawl` method.
For spiders settings are merged: CrawlerProcess provides defaults and spider provides overrides.
But when a Crawler instance is passed CrawlerProcess settings are not used at all. I think they should be also used as defaults.

[2015-06-03 23:57] rrshaban opened #1281 "What, where is CrawlSpider?"
The [docs](https://scrapy.readthedocs.org/en/latest/topics/spiders.html#scrapy.contrib.spiders.CrawlSpider) define `class scrapy.contrib.spiders.CrawlSpider`

But in Scrapy, updated to the latest version, I'm getting nothing. What's the deal?
[code]

[2015-06-04 00:04] kmike commented on #1281
Hey @rrshaban,

Python doesn't auto-import submodules/subpackages - use
```from scrapy.contrib.spiders import CrawlSpider```

[2015-06-04 00:04] #1281 closed

[2015-06-04 00:15] rrshaban commented on #1281
oh wow haha @kmike thanks, what an oversight of mine

[2015-06-04 05:21] binbibi commented on #1270
thanks for the details about "%z" and "%Z",In my VM Ubuntu,It work the way as you point,But in windows,"%z" Is equivalent to "%Z",you can see the result:
[code]
I don't know why

[2015-06-04 09:09] bgt-prabhakard commented on #1269
Is there any modification required in scrapy source?

[2015-06-04 13:57] Curita commented on #1270
Windows seems to implement it differently, probably it just fallbacks to `'%Z'`. Looks like `'%z'` is not officially supported and this case shows us it's not reliable, so I think our best bet is to remove it from LOG_DATEFORMAT.

Thanks again @binbibi for such dedicated report, you'll see the fix for it in the next release candidate :)

[2015-06-04 16:39] #1270 closed

[2015-06-04 18:15] dangra commented on #1277
You will have better luck by reporting the problem to Hyphe developers, you may try scrapy-users forums too. Github issue tracker is for Scrapy bug reports.

thanks.

[2015-06-04 18:15] #1277 closed

[2015-06-05 06:42] tonal commented on #345
On latest scrapy ubuntu package (0.25.0-454-gfa1039f+1429829085) I receive similar errors:
[code]
My monkeypatch work only for scrapy.xlib.tx._newclient.ParseError bat i receive twisted.web._newclient.ParseError.

How to correct path?

[2015-06-05 13:22] dangra commented on #345
Monkey patch both.

For more info on when Scrapy uses one or the other see https://github.com/scrapy/scrapy/blob/master/scrapy/xlib/tx/__init__.py.

[2015-06-05 13:27] barraponto commented on #305
Let's say my `CustomSpider` yields `DebouncedRequests` with a particular parameter, like `http://domain.com/getdata.xml?query=1`. But instead of firing it immediately, I set rules for it to wait at least 10 requests (or maybe wait for at least 10 seconds) and *join* the requests on a single request to `http://domain.com/getdata.xml?query=1,2,3,4,5,6,7,8,9,10`.

I think this should already be possi

[2015-06-05 20:34] kmike opened #1283 "1.0.0rc2 is not on pypi"
//cc @Curita @dangra

[2015-06-05 20:36] Curita commented on #1283
The travis build that uploads it is still running: https://travis-ci.org/scrapy/scrapy/builds/65625018

[2015-06-05 20:36] dangra commented on #1283
waiting on travis build.

[2015-06-05 20:39] kmike commented on #1283
sorry for a false alarm :)

[2015-06-05 20:39] #1283 closed

[2015-06-06 11:29] mrwonko opened #1287 "Files Pipeline fails on URLs with "?"/get attributes"
The Files Pipeline does not strip get parameters from the extension and then fails to write the file, at least on Windows/NTFS where "?" is disallowed in filenames.

e.g. `files_urls = [ "http://foo.bar/baz.txt?fizz" ]` tries to create `<hash>.txt?fizz`, raising an IOError.

[2015-06-08 05:10] tonal opened #1288 "exceptions.IOError: Not a gzipped file"
[code]
In scrapy `scrapy fetch --headers ...` also IOError
Headers for curl:
[code]

[2015-06-09 14:21] #1279 closed

[2015-06-11 07:55] lyjbupt opened #1296 "Use scrapy.mail.MailSender is not able to quit after send mail in a stand alone script."
Example code as below, please help me out :)

from twisted.internet import reactor
from scrapy.mail import MailSender

def f():
    pass

mailer = MailSender(smtphost='xxx.yyy.com', mailfrom=noreply@yyy.com')
mailer.send(to=["foobar@yyy.com"], subject="Some subject", body="Some body")

reactor.callLater(1,f)
reactor.run()

[2015-06-11 14:04] #1296 closed

[2015-06-11 14:05] nramirezuy commented on #1296
For support please use [scrapy-users](https://groups.google.com/forum/#!forum/scrapy-users). Github issues are for bug reports or feature requests.

[2015-06-12 05:44] qsnow6 opened #1299 "maximum recursion depth exceeded"
My spider returns the error.
I tried to add `sys.setrecursionlimit(10000)`. but not work.
[code]

my spider code:
[code]

[2015-06-13 20:58] surfer190 opened #1300 "Settings documentation useless"
Please look at this documentation from the layman's point of view.

 `docs/topics/settings.rst`

Does it answer the following:
1. How do I set settings values?
2. How do I retrieve settings values?

The documentation assumes that the user is a regular python user.

[2015-06-14 04:21] eliasdorneles commented on #1300
Hm, the section "Populating the settings" does try to show how to set settings values. Have you had a problem trying to follow that?

I agree that the section on "How to access settings" deserves some improvements (would be nice an example for a spider), accessing settings can be tricky depending on what exactly you're after. Any particular issue/suggestion?

[2015-06-14 07:42] surfer190 commented on #1300
Yes I would add:

'From scrapy.conf import settings'

I scoured the Internet and found you needed that import statement in the spider

Assess is then:

'Settings['my-var']'

[2015-06-14 09:11] kmike commented on #1300
+1 to add a Spider example and mention item pipelines. The current example is also not realistic - from_crawler method should create extension instance, not just print option value, like e.g. [here](http://doc.scrapy.org/en/master/topics/item-pipeline.html#write-items-to-mongodb).

This is not a correct way to access settings - you'll get only default values.

[2015-06-14 12:42] surfer190 commented on #1300
@eliasdorneles the "populating the settings" gives 4 ways to set settings, yet an example for the most generic way imo isn't shown in an example.

Adding key value pairs to `settings.py`

A method for settings for different environments eg. staging and production is not given.

@kmike the `from scrapy.conf import settings` is the only example that worked that I could find. What is the best practis

[2015-06-14 15:29] eliasdorneles commented on #1300
@surfer190 To access the settings in a spider you can just use `self.settings`, you don't need to import anything.

Scrapy doesn't have a special feature for accessing settings for different environments.
However, you can do your own thing: you can change `settings.py` into a directory module, with the following contents:

[code]

In `production.py` and `staging.py` you'd put this at the top:

[co

[2015-06-15 11:31] kmike opened #1303 "DOWNLOAD_WARNSIZE is too verbose"
When DOWNLOAD_WARNSIZE is set, there is no Content-Length header and warn limit is reached, Scrapy starts to [issue](https://github.com/scrapy/scrapy/blob/master/scrapy/core/downloader/handlers/http11.py#L309) WARNING log messages, a message per a couple of KBs downloaded:

[code]

I think the message should be issued only once.

[2015-06-15 11:41] kmike commented on #8
I've profiled a simple spider which downloads a page and follows all links from it using  LinkExractor. There is a non-standard CrawlerProcess which listens to all signals from its Crawlers and re-sends them through its own SignalManager to provide a single place to listen for all signals - nothing complicated. I haven't checked it with a standard CrawlerProcess.

For this spider signal handling (

[2015-06-15 11:59] tonal commented on #1288
Site airs.ru forget header `Transfer-Encoding: chunked` for 404 ansver ...
I write download middelvare for recovery header.

[2015-06-15 11:59] #1288 closed

[2015-06-15 12:31] kmike commented on #838
Found this: http://www.w3.org/TR/html5/links.html#links-created-by-a-and-area-elements - as I understand it, HTML5 explicitly allows whitespaces in `a href` attribute and requires browser to strip them.

[2015-06-15 12:44] kmike opened #1304 "Scrapy should handle "invalid" relative URLs better"
Currently Scrapy can't extract links from http://scrapy.org/ page correctly because urls in page header are relative to a non-existing parent: `../download/`, `../doc/`, etc. Browsers resolve these links as `http://scrapy.org/download/` and `http://scrapy.org/doc/`, while response.urljoin, urlparse.urljoin and our ink extractors resolve them as `http://scrapy.org/../download/`, etc. This results i

[2015-06-15 12:52] chekunkov opened #1305 "Extensions, spider and settings initialization order"
Current initialization order of spider, settings and all sorts of middlewares and extensions:

`Crawler.__init__` (see https://github.com/scrapy/scrapy/blob/master/scrapy/crawler.py#L32):
1. `self.spidercls.update_settings(self.settings)`
2. All extensions `__init__`
3. `self.settings.freeze()`

`Crawler.crawl` (see https://github.com/scrapy/scrapy/blob/master/scrapy/crawler.py#L70):
1. `Spider.__

[2015-06-15 14:23] kmike opened #1306 "Speedup & fix URL parsing"
I profiled a simple Scrapy spider which just downloads pages and follows links extracted using LinkExtractor; it turns out one of the main bottlenecks is urlparse module and our related functions like canonicalize_url or request_fingerprint. They take several times more CPU time than e.g. HTML parsing itself.

Also, these functions don't follow modern HTML5 standards - see e.g. https://github.com/

[2015-06-15 16:19] nramirezuy commented on #1303
@kmike once per run or per request ?

[2015-06-15 16:21] kmike commented on #1303
@nramirezuy once per request.

In this case it probably doesn't make sense to show how much more data is received because it will be only slightly larger than a limit.

[2015-06-15 16:45] nramirezuy commented on #1303
I agree, maybe change the message and show the requests.

[2015-06-15 16:48] kmike commented on #1303
A good idea to show a request.

[2015-06-15 19:11] kmike commented on #1225
Encountered this myself. To clarify:

[code]

So the issue shows itself when there is a redirect on the main website url to add or remove a slash.

It is not that visible because such requests are most often sent from `start_requests` or `start_urls` where `dont_filter=True` flag is used. It also works in scrapy shell, for the same reason - scrapy shell uses `dont_filter=True` flag in `fetch` comm

[2015-06-15 19:30] kmike commented on #1304
By the way, this also fails:
[code]
*-* the request is filtered out because of https://github.com/scrapy/scrapy/issues/1225 and self.parse is never called. Crawling scrapy.org with Scrapy is not straightforward :)

[2015-06-15 19:45] kmike commented on #1304
The most evil spider ever: looks innocent, but doesn't work for multiple reasons
[code]

[2015-06-15 21:05] kmike opened #1308 "DepthMiddleware is too verbose"
DepthMiddleware prints a message like this

```DEBUG: Ignoring link (depth > 1): http://scrapinghub.com/faq/```

for each filtered outgoing request. If we e.g. have 30 depth-2 links on each depth-1 page (most of which are duplicate), there are 30 depth-1 pages, and DEPTH_LIMIT is set to 1, then 900 messages will be logged.

I propose to keep a list of seen filtered URLs and don't log duplicate mes

[2015-06-15 21:27] kmike opened #1309 "provide an option to disable scrapy.utils.log.TopLevelFormatter"
Long names in logs (e.g. `[scrapy.core.scraper]` instead of generic `[scrapy]`) are useful because
- they show where the log message came from - this makes debugging easier;
- it has an educational value - users become aware of various Scrapy components;
- to filter out a specific kind of messages (or make them more verbose) user can set a custom log level just for one logger, but to do that user

[2015-06-15 21:30] kmike commented on #1308
FTR: this is how to filter out these messages

[code]

this should be called after the Scrapy logging is configured, e.g. in a spider.

[2015-06-15 22:48] Djayb6 commented on #1306
Hello,

Why not extending URL to URI ? I imagine an URI class which would encapsulate all the logic for URI/URL encoding/decoding (e.g str <--> unicode, idna), quoting/unquoting path and query, handling "invalid" relative URL (#1304) and all the other necessary quirks to successfully parse an URI/URL.

#### Advantages ####
- Users don't have to think about encoding, quoting, invalid relative URLs,

[2015-06-16 07:20] surfer190 commented on #1300
@eliasdorneles It seems that it is not as easy as you say.

I'm getting `AssertionError: Spider not bounded to any crawler`

So you have to assign a `crawler` to the `spider`

[2015-06-16 12:40] eliasdorneles commented on #1300
@surfer190 hmm, which Scrapy version are you using?
I checked this works in the latest Scrapy stable version (0.24.6).

[2015-06-16 16:43] curita commented on #1309
+1 to use full names by default, not sure if there is any value in keeping just the top level logger besides replicating the old behaviour. I'm ok with deleting TopLevelFormatter entirely.

[2015-06-16 17:09] kmike commented on #1306
Hey @Djayb6,

A new Python package for URL/URI parsing sounds good to me. I like an idea of using an actual browser implementation under the hood for this Python package (copy-paste C/C++/Rust? code, create a Cython/CFFI wrapper) instead of starting from scratch. Browsers already handle all the quirks, and their parsing routines are fast.

[2015-06-16 17:13] kmike commented on #1306
Regarding API, there are several existing libraries which try to provide an API better than urlparse - [purl](https://github.com/codeinthehole/purl), [furl](https://github.com/gruns/furl), [yurl](https://github.com/homm/yurl/). A simpler API is nice, but it is not the main goal.

[2015-06-16 19:14] kmike commented on #1299
Hi @qsnow6,

It looks like an exception is in Scrapy log system (ScrapyFileLogObserver). Logging system was rewritten in Scrapy master; there is Scrapy==1.0.0rc3 release on pypi, and we're going to make a final release in a week or so. I suggest you to upgrade to Scrapy 1.0.0rc3 and check if it fixes your issue.

By the way, `log.start('crawl.log', loglevel=log.DEBUG)` call looks unneeded; it may

[2015-06-16 19:14] #1299 closed

[2015-06-17 13:22] nramirezuy commented on #1309
I like `TopLevelFormatter`, long names can be too long. Besides after some time you know from where the log lines come from.

[2015-06-17 15:10] barraponto commented on #1306
a chromium/mozilla wrapper with a purl-like API would be a godsend.
i already use purl wherever I can since it makes for readable code that is easy to teach.

[2015-06-17 16:13] barraponto commented on #1308
Shouldn't DupeFilter ignore the duplicate requests *before* they are dropped by DepthFilter?

[2015-06-22 14:31] sardok opened #1312 "Control download due to response's mime type."
An issue raised, in development of a generic crawler which was supposed to follow particular rules for extracting and visiting links as well as collecting some statistics about visited page.
As websites in the batch, differ a lot, to each other, the defined rules for link extraction, started to be broken and yielded unwanted results, so to speak returned many false positives.
The main issue was ab

[2015-06-22 16:54] kmike commented on #1312
I like the idea. The signal should fire as soon as possible after HTTP headers are received.
Another option is to extend Request interface - in addition to callback and errback add a third callback, `on_headers_received` or something like this.

[2015-06-22 17:00] kmike commented on #1312
To clarify: I think this signal (and/or the callback) should be fired only once.

[2015-06-23 09:07] MojoJolo commented on #1217
The fix was merged already. Closing this issue. @nramirezuy

[2015-06-23 09:07] #1217 closed

[2015-06-23 09:23] MojoJolo commented on #1119
@pablohoffman ^ looks like he got a wrong version of Scrapy using `pip install scrapy`. I'm not sure if that's possible.

[2015-06-23 09:31] kmike commented on #1119
0.25.1 is what you can get by installing from github master branch using pip (without deb package).

I'm not sure what can we do here. The package must be modified or imported from a wrong location. +1 to @MojoJolo - let's close this ticket.

[2015-06-23 09:31] #1119 closed

[2015-06-23 20:28] adammfrank opened #1314 "ImportError:cryptography.hazmat.bindings.openssl.binding"
OS: Ubuntu 14.04.2
Python: 2.7.6, 2.7.8, 2.7.9, 2.7.10 (same result on each)
After updating Scrapy from 0.24 to 1.0 today, I can no longer get anything to run.  Everything I run, even for the tutorial, throws the error:
ImportError:cryptography.hazmat.bindings.openssl.binding

[2015-06-23 21:06] kmike commented on #1314
Are you using deb packages?

It is not directly related to Scrapy 1.0 vs Scrapy 0.24 - likely you also updated PyOpenSSL and/or cryptography packages along with Scrapy, and they stopped working for some reason.

[2015-06-23 21:44] adammfrank commented on #1314
I updated scrapy via pip. Would this have updated the other packages as well?

[2015-06-23 21:52] kmike commented on #1314
Yes, `pip install -U foo` upgrades `foo` dependencies by default. PyOpenSSL 14.x+ uses cffi-based cryptography package, maybe this is a cause of your issue - cffi needs libffi (or libffi-dev) system package, this is a new non-Python dependency.

Could you please post the full traceback? Full tracebacks are verbose, but it is usually hard to say what is the problem without looking at them.

[2015-06-24 11:39] HassanQamar07 commented on #981
I have the same issue in scraping the https://dms.psc.sc.gov/web/dockets. I've install scrapy 1.0 and twisted >= 14.0 but it is showing [<twisted.python.failure.Failure <class 'OpenSSL.SSL.Error'>>].

[2015-06-24 13:01] darkrho commented on #981
@HassanQamar07 the site works for me. Can you paste the full output you are getting? By the way, I have upgraded with `pip install --upgrade --user scrapy`.

[code]

[2015-06-24 13:04] #1232 closed

[2015-06-24 14:31] adammfrank commented on #1314
ogs-stl-07@ogs-stl-07-laptop:~/Documents/tutorial2$ scrapy crawl dmoz
2015-06-24 09:29:48 [scrapy] INFO: Scrapy 1.0.0 started (bot: tutorial2)
2015-06-24 09:29:48 [scrapy] INFO: Optional features available: ssl, http11
2015-06-24 09:29:48 [scrapy] INFO: Overridden settings: {'NEWSPIDER_MODULE': 'tutorial2.spiders', 'SPIDER_MODULES': ['tutorial2.spiders'], 'BOT_NAME': 'tutorial2'}
Traceback (most r

[2015-06-24 19:38] kmike opened #1317 "Versioning and API Stability docs are outdated"
Quotes from http://doc.scrapy.org/en/1.0/versioning.html:

[2015-06-24 19:39] kmike commented on #713
Not to forget: http://doc.scrapy.org/en/1.0/contributing.html#documentation-policies should be updated once we'll get up to the speed with this ticket.

[2015-06-24 21:08] sunnysideprodcorp commented on #981
@demelziraptor Thank you for the suggestion to extend ScrapyFileContextFactory. I saw your advice and this related post on StackOverflow: http://stackoverflow.com/questions/19578688/crawling-on-uncerficated-website. I am new to Scrapy, and I am a little confused about the namespaces. It seems as though the downloader namespace does not exist anymore so that the import of ScrapyClientContextFactory

[2015-06-24 21:17] dangra commented on #981
@sunnysideprodcorp Scrapy 0.9 is a very very old version, latest stable is 1.0.0 and previous is 0.24.6.

ScrapyClientContextFactory can be found at https://github.com/scrapy/scrapy/blob/master/scrapy/core/downloader/contextfactory.py

[2015-06-26 08:41] lhuaizhong opened #1322 "Request url transcoding causes error results."
Request fetching URL:
http://www.lightingproducts.philips.com/search-tool.html?brand=Chloride#!f=%40Brand%3aChloride&brandId=ba1bd486-2f99-4f80-9546-f05501e66013&isCatSearch=1

Within version 0.16.x:
2015-06-26 16:14:06+0800 [philips3Spider] DEBUG: Crawled (200) GET http://www.lightingproducts.philips.com/search-tool.html?brand=Chloride?_escaped_fragment_=f=%40Brand%3aChloride&brandId=ba1bd486-2f9

[2015-06-26 14:49] sibiryakov commented on #1306
Hey @kmike there is Yandex internal URL parsing routine. https://github.com/yandex/balancer/tree/master/util/uri Used and tested in their content system infrastructure. It's dependent on Ragel (https://en.wikipedia.org/wiki/Ragel) for generation of URL parser and encoder. Which is under GNU, but Ragel is only needed during build phase.

[2015-06-26 14:54] timschwab opened #1323 "PIL instead of Pillow"
I don't know if this qualifies as an issue, but I've noticed that Scrapy uses PIL rather than Pillow for its image manipulations. For example, for the ImagesPipeline. Development in PIL stopped in 2009, but Pillow, a fork of PIL, is now the new standard. This seems to be what I've gathered from the [Intertubes](http://stackoverflow.com/a/10109941/1455074) and [Wikipedia](https://en.wikipedia.org/w

[2015-06-26 14:55] kmike commented on #1306
I haven't looked in details, but Yandex URL parser looks good - it looks nicely separated from other code in the balancer repo. Ragel licensing shouldn't be an issue.

[2015-06-26 15:37] kmike commented on #1323
Yeah, you're right that Pillow should be preferred to PIL, and Scrapy already [recommends](http://doc.scrapy.org/en/latest/topics/media-pipeline.html#using-the-images-pipeline) Pillow over PIL.

PIL and Pillow use the same import name (`PIL`). Is it `import PIL` which made you think Scrapy uses PIL rather than Pillow?

[2015-06-26 15:46] timschwab commented on #1323
Ah, yes that is indeed why I thought that. Okay then, my mistake.

[2015-06-26 15:46] #1323 closed

[2015-06-29 02:37] pigletfly opened #1325 "Error on starting a spider"
Hi,I am using scrapy on CentOS,python 2.7.3 under virtualenwrapper,when I start a spider an error occurs,the following is traceback;
[code]
Thanks

[2015-06-29 17:27] kmike commented on #1325
Hi,

Could you please paste yor settings? Error happens when Scrapy tries to copy settings object, but usually it is just strings, dicts, lists and numbers.

[2015-06-30 02:45] pigletfly commented on #1325
Hi, this is my settings.py
[code]

[2015-06-30 02:55] dangra commented on #1325
try moving mongodb client to a module outside of your settings path.

[2015-06-30 02:55] eliasdorneles commented on #1325
@pigletfly It's not a good idea to connect to a database in settings.py -- it should be used for simple settings only.

Move this code:

[code]
out of the `settings.py` file. You can probably move it to your pipeline doing something like this:

[code]

[2015-06-30 02:56] dangra commented on #1325
@eliasdorneles I beat you by seconds but your answer is much more elaborated than mine :)

[2015-06-30 10:47] Andrej730 opened #1327 "XMLGenerated xml looks ugly"
Whenever i trying to get output items in xml i get something like:

[code]

Maybe scrapy have some already provided ways to "beautify" it to something like (like xmls i found in all docs examples):

[code]

[2015-06-30 11:38] yiakwy commented on #1327
Use JQuery like tool, we call it PyQuery, and u can use Pq("name") to get a tags collection just like using jQuery in javascript runtime.

[2015-06-30 11:41] yiakwy opened #1328 "Scrapy Benchmarking"
I want to make a benchmark tools. But before I do this, I want to use existing scrapy tools or service to do it. I found "scrapy bench", and it is interesting. Can anybody kindly tell me how it works and where is the source? If I want to make such a benchmarking script where I should start and what are best practices?

Thank you very much!!!

[2015-06-30 12:06] eliasdorneles commented on #1325
@dangra haha, the effects of spending too much time in StackOverflow :D

[2015-06-30 12:29] eliasdorneles commented on #1328
Sources for scrapy bench command are here:
https://github.com/scrapy/scrapy/blob/master/scrapy/commands/bench.py

Sources for the bench server fired up by that command are here:
https://github.com/scrapy/scrapy/blob/master/scrapy/utils/benchserver.py

For building a benchmark tool, I'd say 1st thing you want is to figure out exactly you want to measure, which kind of performance you care about. Pe

[2015-06-30 13:30] shizi2980 commented on #958
@oleksandr-sumtsov
Thank you, it works

[2015-06-30 22:58] #1274 closed

[2015-07-01 02:14] #1325 closed

[2015-07-01 03:09] eliasdorneles commented on #1238
So, can we close this now? =)

[2015-07-01 03:10] #1238 closed

[2015-07-01 03:13] eliasdorneles commented on #1200
I think we've already agreed on this one, closing.

[2015-07-01 03:13] #1200 closed

[2015-07-01 03:14] eliasdorneles commented on #996
Close?

[2015-07-01 08:30] movingheart opened #1330 "when scrapy run to (scrapy\downloadermiddlewares\)retry.py appear " UnicodeDecodeError""
Some error message as:
2015-07-01 16:03:46+0800 [Launcher,7500/stderr] Traceback (most recent call last
):
          File "D:\Python27\lib\logging__init__.py", line 882, in emit
            stream.write(fs % msg.encode("UTF-8"))
        UnicodeDecodeError: 'utf8' codec can't decode byte 0xd3 in position 267:
 invalid continuation byte
        Logged from file retry.py, line 73
        Traceback (m

[2015-07-01 08:43] MojoJolo commented on #1126
I also experienced this error. I think this is more of an issue in `cryptography` installation than `scrapy`.

[2015-07-01 09:03] #996 closed

[2015-07-01 09:23] yiakwy commented on #1328
Thank You Very Much, I will check it carefully!^ ^

[2015-07-01 10:36] movingheart commented on #1330
Tracing this error,I find that 'msg' is:
'2015-07-01 17:17:31 [scrapy] DEBUG: Retrying <GET http://search.10jqka.com.cn/s
tockpick/search?id=stockpick&w=%E5%AE%9E%E9%99%85%E6%8E%A7%E5%88%B6%E4%BA%BA+601
666&offset=3&limit=0&source=data&callback=conceptSearch> (failed 1 times): TCP c
onnection timed out: 10060: \xd3\xc9\xd3\xda\xc1\xac\xbd\xd3\xb7\xbd\xd4\xda\xd2
\xbb\xb6\xce\xca\xb1\xbc\xe4\xba\xf

[2015-07-01 11:07] kmike commented on #1330
Do you have an idea what could
[code]
mean?

Could you please also paste the output of the following script:

[code]

I wonder why are there these weird characters in exception description. We can solve it by making exception messages ascii-only, but it is better to figure out what happened here before doing it.

[2015-07-01 19:51] ikansal2 opened #1332 "Need urgent help! Scrapy: command not found"
I am trying to use scrapy to build a web crawler. I am using it on Mac OS yosemite and after installing scrapy I tried to run the program given on the scrapy website. But when I try to run it, terminal says scarpy: command not found. I really need help and quick help! Please. I think my scrapy is installed in a different path but I don't know how to change it so that it works.

[2015-07-01 23:49] curita commented on #1332
Hi @ikansal2! Following the [installation guide](http://scrapy.readthedocs.org/en/latest/intro/install.html#installing-scrapy) (basically running `pip install Scrapy` after installing `pip`) installs Scrapy successfully in that OS.

Since this doesn't seem like a bug because it's probably something with your configuration or the way you installed it I'm going to close the issue and prompt you to a

[2015-07-01 23:49] #1332 closed

[2015-07-02 09:28] movingheart commented on #1330
\xd3\xc9\xd3\xda\xc1\xac\xbd\xd3\xb7\xbd\xd4\xda\xd2
\xbb\xb6\xce\xca\xb1\xbc\xe4\xba\xf3\xc3\xbb\xd3\xd0\xd5\xfd\xc8\xb7\xb4\xf0\xb8
\xb4\xbb\xf2\xc1\xac\xbd\xd3\xb5\xc4\xd6\xf7\xbb\xfa\xc3\xbb\xd3\xd0\xb7\xb4\xd3
\xa6\xa3\xac\xc1\xac\xbd\xd3\xb3\xa2\xca\xd4\xca\xa7\xb0\xdc\xa1\xa3.

when I print this in python IDLE , show:
由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。.

('ascii', 'cp936', 'cp936')

when I

[2015-07-02 09:55] movingheart commented on #1330
I guess that the error appear because "msg" contain chinese characters , perhaps other place in scrapy remain this conditions.

[2015-07-02 12:01] eliasdorneles commented on #1328
@yiakwy well, I'm going to close this issue, since this isn't really an issue in Scrapy.

You can get more help asking either in our mailing list https://groups.google.com/forum/#!forum/scrapy-users or Stack Overflow: http://stackoverflow.com/questions/tagged/scrapy.

[2015-07-02 12:01] #1328 closed

[2015-07-02 17:38] kmike commented on #1330
Could you try setting [LOG_ENCODING](http://doc.scrapy.org/en/master/topics/settings.html#log-encoding) to cp936? This is far from ideal, but it could help.

Printing these non-ascii messages looks useful; #1331 will make then unreadable, at least in Python 2.x.

[2015-07-03 04:06] curita commented on #1300
I think @eliasdorneles handled in #1302 all mentioned issues with that doc section - @surfer190, could you review the new documentation in http://scrapy.readthedocs.org/en/master/topics/settings.html and tell us if you find anything missing?

[2015-07-03 08:40] iwxfer opened #1334 "Attribute `handle_httpstatus_list` not working for codes 301 and 302"
When set `handle_httpstatus_list = [301, 302]`, the spider doesn't execute parse. Howeber, it executes for other codes like 404.

[2015-07-03 09:07] curita commented on #1330
I've been trying to reproduce this issue in a newly installed windows 7 (that specific message error is windows related) to no avail :/ The environment is a little too specific so I could be missing something.

### System

SO: Windows 7 SP1 64 bit.

I'm using the Chinese (Simplified, PRC) system locale to get that encoding, along with the Chinese (Simplified) language package to get the error mess

[2015-07-03 10:17] jdemaeyer commented on #1334
The `3xx` HTTP code range is for redirects, and those are handled by the [Redirect Downloader Middleware](http://doc.scrapy.org/en/latest/topics/downloader-middleware.html#module-scrapy.downloadermiddlewares.redirect). If you don't want that middleware to automatically follow redirects, but instead handle them in your spider, you have two options:
 1. Completely disable the `RedirectMiddlware` by

[2015-07-03 10:25] jdemaeyer commented on #1334
maybe the `RedirectMiddleware` should honour `handle_httpstatus_list` as well?

[2015-07-03 11:01] iwxfer commented on #1334
I think `RedirectMiddleware` should honour `handle_httpstatus_list` as well.

I tried making `REDIRECT_ENABLED` and  `dont_redirect` equals `False`. Both worked, however returned response with 200 status code.

[2015-07-03 11:21] yiakwy commented on #1328
No problem. But I thinks customised benchmarking tool is very important. Do you agree with me?

[2015-07-03 11:50] jdemaeyer commented on #1334
You need to set `dont_redirect` to `True` (see the 'dont'? ;)) if you want to use that way. What version of Scrapy are you using and how do you update the settings? I ask b/c I just accidentally tried using `Spider.custom_settings` with a Scrapy version that didn't support it yet.

Here's a Spider that has `REDIRECT_ENABLED = False` and does what you want with Scrapy 1.0.1:
[code]

[code]

[2015-07-03 12:27] kmike commented on #1330
@curita I think the reason it doesn't work for @movingheart is

('ascii', None, 'cp936')

[2015-07-03 15:12] miguelcb84 opened #1336 "Support multiple exporters when crawling"
I'm scraping a website to export the data into a semantic format (n3). However, I also want to perform some data analysis on that data, so having it in a csv format is more convenient. To get the data in both formats I can do.

[code]

However, this scrapes the data twice and I cannot afford it with big amounts of data.

A solution that avoids scraping the data twice consists on implementing Pipel

[2015-07-03 16:17] movingheart commented on #1330
I am moved by your(@kmike,@curita) help.I will list detailed environment:
system os: Windows 旗舰版(Ultimate) 32bit
python version: 2.7.9
scrapy: 1.0.1

My tries:
1.Change retry.py source code according your(@kmike) commit can't resolve this question.
2.Setting LOG_ENCODING to cp936 still can't resolve
3.@curita Running (scrapy fetch http://google.com:81) in cmd ,show same info with you.But it can no

[2015-07-03 18:24] kmike commented on #1336
I think this feature would be very useful.

By the way, `-t` shouldn't be necessary; builtin exporters choose export format based on file extension. Supporting this would be great:

`scrapy crawl <url> -o data.n3 -o data.csv`

[2015-07-03 18:32] dszmaj commented on #1336
you can achieve this by implementing multiple pipelines which uses exporters, this way once item hits first pipeline it gets recorded in first format, then scrapy releases item to the second pipeline where you can export different format

see scrapy.exporters in code and docs, it should be pretty easy

[2015-07-04 03:33] curita commented on #1330
Thanks for sending us your project! Don't worry, I just deleted it, I can reproduce the issue now without it but it certainly helped to figure up what was going on.

To reproduce the issue, you have to log the output to a file:
[code]

Or, discarding all the env setup, log something with non-ascii chars in an encoding not compatible with utf-8.

Problem here is that the log messages are mixing enc

[2015-07-04 08:28] movingheart commented on #1330
Excellently, when I set LOG_ENCODING to None, it work well.Thanks for you help.

[2015-07-04 11:03] olafdietsche opened #1337 "tox fails with "Could not open requirements file""
Following instructions at [Running tests](https://pip.pypa.io/en/stable/development.html#running-tests), I just ran

    tox

in the top level scrapy directory. Unfortunately, it failed with

even though both `requirements.txt` and `tests/requirements.txt` are accessible.

I worked around this by manually installing the dependencies with `pip install ...` and removing the `deps` entry from the tox

[2015-07-04 18:32] Andrej730 commented on #1327
What i realy was need - bring somehow exported xml to beauty and readable look. I thought that was generic case and maybe have some implementation in scrapy.
Anyway, i finded a solution for this problem  - to beautify xml i used xml.dom.minidom parse() method to parse data from exported file to dom-object and then i saved results from toprettyxml() method of this object.

[2015-07-04 19:47] LEDfan opened #1338 "Impossible to create exe file when using py2exe"
Hi, thanks for this project! Works good, except one thing :smiley:

I have a scrapy project which I want to run as `exe` and create an installer of it by using the `inno setup` tool. I'm using this  `setup.py`:

[code]

If you would try to run this via `python setup.py py2exe` it will work. However when you try to run the `dist/run.exe` file it will fail. Python will tell that some module is tryin

[2015-07-05 11:25] xinghun854 opened #1339 "arg 'settings' is not used in func 'update_settings'"
version: 1.1.0dev1

scrapy/spiders/__init__.py
79	    def update_settings(cls, settings):
80	        settings.setdict(cls.custom_settings or {}, priority='spider')

arg 'settings' is not used in func 'update_settings', is that right or wrong?

[2015-07-05 11:29] jdemaeyer commented on #1339
It's the very first object used ;)
[code]

[2015-07-05 11:39] xinghun854 commented on #1339
;)
I think I must be drunk a moment ago.

[2015-07-05 11:39] #1339 closed

[2015-07-05 19:41] kmike commented on #1327
I think that'd be a nice option to generate human-readable XML, and we can make it default; PRs are welcome :)

[2015-07-06 06:58] yiakwy commented on #1328
@eliasdorneles  I have a question about the file you gave me:

where is "bench.Command.crawler_process.crawl" is defined? It seems that the parent implementation protocol "ScrapyCommand" in __init__.py just set it as none.

I cannot understand it.

[2015-07-06 14:55] d555 opened #1341 "It seems that something is going wrong."
After install scrapy from pip on isolated  environment, I could not run the example with success from the website so this is the log at the end:
First:
[code]

What about `NameError: global name 'scrapy' is not defined`?
`pip` has installed the package successful.

[2015-07-06 16:55] curita commented on #1341
Could it be you're missing an `import scrapy` line? Can we see the code of your spider otherwise?

[2015-07-06 23:27] jooddang opened #1342 "Can't install on OSX 10.10.4"
[jooddang@a ~]$ scrapy startproject tutorial
Traceback (most recent call last):
  File "/usr/local/bin/scrapy", line 7, in <module>
    from scrapy.cmdline import execute
  File "/Library/Python/2.7/site-packages/scrapy/__init__.py", line 48, in <module>
    from scrapy.spiders import Spider
  File "/Library/Python/2.7/site-packages/scrapy/spiders/__init__.py", line 10, in <module>
    from scrapy

[2015-07-07 01:38] nautilus28 opened #1343 "custom_settings isn't reflected in the "Overridden settings:" log message"
Hi,

I would like to notice that custom_settings per spider does not work properly. Global settings updated nothing when I added custom_settings in spiders, and unittests for that are missing too.

Regards,
Canh

[2015-07-07 02:28] nautilus28 opened #1344 "boto caught exception on reading instance data"
When I ran a simple spider on my virtualenv with boto installed, although I don't use any S3 related middlewares, Scrapy raised this exception:

Traceback (most recent call last):
  File "/.../lib/python2.7/site-packages/boto/utils.py", line 210, in retry_url
    r = opener.open(req, timeout=timeout)
  File "/usr/local/Cellar/python/2.7.10/Frameworks/Python.framework/Versions/2.7/lib/python2.7/url

[2015-07-07 15:15] nramirezuy commented on #1327
Before you start creating PRs; you must take into account that generated XMLs can be big so creating a dom isn't an option. :smile:

[2015-07-07 15:23] kmike commented on #1344
I think that's the same issue as https://github.com/scrapy/scrapy/issues/1054.

Workaround is to disable S3 handler explicitly:
`DOWNLOAD_HANDLERS: {'s3': None}`

[2015-07-07 15:25] kmike commented on #1343
Do you have an exampe? Which settings don't work?

[2015-07-07 15:30] kmike commented on #1330
@curita I think exception messages should be ascii-only in Python 2.x; unicode is not really supported for exception messages in Python 2.x. If an error message is not ascii we can't know which encoding does it use. So https://github.com/scrapy/scrapy/pull/1331 starts to look good to me.

[2015-07-07 22:37] barraponto commented on #1327
We use `xml.sax.saxutils.XMLGenerator`, but it seems like `lxml.etree.tostring` has a `pretty_print` keyword argument that indents properly. And since we already depend on lxml, maybe we can leverage that.

http://lxml.de/tutorial.html#the-element-class

[2015-07-07 23:05] barraponto commented on #1054
I think it is ok to disable S3 by default. As long as we highlight the documentation on how to turn it on...

[2015-07-07 23:07] barraponto commented on #1343
This one works just fine:
https://github.com/barraponto/fosshackers/blob/master/fosshackers/spiders/djangopatcherscrawl.py

[2015-07-07 23:38] barraponto commented on #1334
In the code above, `dont_redirect` is set to `True` from within `scrapy.Spider.make_requests_from_url`.

[2015-07-08 00:07] jdemaeyer commented on #1334
Hm, don't you mean `dont_filter` (which doesn't interact with the `RedirectMiddleware`? Unless the `Request` class has some default `meta` dict I don't think `dont_redirect` is messed with anywhere in stock Scrapy

[2015-07-08 00:40] nautilus28 commented on #1343
in my project settings.py I placed DOWNLOAD_TIMEOUT = 60 and in ./spiders/simple_spider.py

class SimpleSpider(scrapy.Spider):

    name = 'simple'
    custom_settings = {
        'DOWNLOAD_TIMEOUT': 30,
        'CONCURRENT_REQUESTS_PER_DOMAIN': 4
    }

    def start_requests(self):
        yield Request('http://www.google.com/', callback='parse')

and Scrapy logs say INFO: Overridden settings: {

[2015-07-08 00:43] nautilus28 commented on #1344
It works, thanks for you help @kmike

[2015-07-08 00:50] nautilus28 commented on #1342
How did you install Scrapy?

[2015-07-08 01:28] jooddang commented on #1342
I couldn't install 1.0.1 but 0.24.2.

[2015-07-08 02:26] barraponto commented on #1334
Yeah, sorry. So in your example above, `dont_redirect` is not set to True.