[2020-05-09 16:39] adityaa30 commented on #4549
@Gallaecio Probably because in 4c12a234ae65d49678a9840708ff5e7b9d6dcecc there will be a warning raised which the current test actually expects. Although if we assert count of duplicates locations more than one then the tests will fail. Shall I send a PR to update the tests?

[2020-05-10 05:17] Suvid-Singhal commented on #4233
Hi,
I have translated the Scrapy Wikipedia page to Hindi. Here is the link:- https://hi.wikipedia.org/wiki/%E0%A4%B8%E0%A5%8D%E0%A4%95%E0%A5%8D%E0%A4%B0%E0%A5%87%E0%A4%AA%E0%A5%80

Can I get the contributor badge?

[2020-05-10 10:01] metaperl opened #4561 "`scrapy genspider` should not overwrite existing file"
## Summary

If the file mentioned in `scrapy genspider` already exists, then genspider should refuse to generate the the file.

## Motivation

As it stands, existing code can be blown away if this command runs twice.

## Describe alternatives you've considered

Prompting the user for overwriting existing spider.

[2020-05-10 12:38] willbeaufoy commented on #4495
As @redrolor didn't reply I have sent a pull request for this.

[2020-05-10 15:56] secsec2020 commented on #4509
Does the duplicate filter apply to start urls ? I saw duplicate request from start urls only

[2020-05-10 17:12] chad011110 commented on #4289
I am having the same issue...

[2020-05-10 18:33] michalp2213 commented on #4466
I started working on this in [this branch](https://github.com/michalp2213/scrapy/tree/get-cert-info-when-http-body-empty). My idea is to construct Agent objects in `ScrapyAgent` with a custom endpoint factory that intercepts the certificate right after obtaining a connection. Unfortunately I've run into what seems to be a bug in twisted. The problem appears in the endpoint wrapper class I created

[2020-05-11 08:01] jay24rajput commented on #4561
Hey, is this Issue up for grabs??

[2020-05-11 09:12] metaperl commented on #4561
As far as I am concerned, yes.

On Mon, May 11, 2020, 4:02 AM Jay Rajput <notifications@github.com> wrote:

[2020-05-11 10:16] #4135 closed

[2020-05-11 10:21] jay24rajput commented on #4561
@Gallaecio @elacuesta thoughts??

[2020-05-11 12:22] kingking888 opened #4565 "AttributeError: module 'resource' has no attribute 'getrusage'"
version : Scrapy 2.1.0

[code]

[code]

(edited for text formatting)

[2020-05-11 13:01] elacuesta commented on #4565
@kingking888 Could you include a [code snippet](https://stackoverflow.com/help/minimal-reproducible-example) that could help us reproduce the issue?

[2020-05-11 13:11] kingking888 commented on #4565
code snippet ? too long ....
some like this :

2020-05-11 20:05:26 [scrapy.utils.log] INFO: Scrapy 2.1.0 started (bot: DouYinCrawler)
2020-05-11 20:05:26 [scrapy.utils.log] INFO: Versions: lxml 4.5.0.0, libxml2 2.9.5, cssselect 1.1.0, parsel 1.5.2, w3lib 1.21.0, Twisted 19.10.0, Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)], pyOpenSSL 19.0.0 (OpenSSL 1.1.0j  2

[2020-05-11 13:22] kingking888 commented on #4565
fogot it,   sorry !
running system in  win7_64

[2020-05-11 13:42] elacuesta commented on #4565
What I meant was the code for a spider that we could run in order to reproduce the issue.

In any case, because it uses the [`resource`](https://docs.python.org/3/library/resource.html) module, which is only available in [Unix like platforms](https://docs.python.org/3/library/unix.html), the `MemoryUsage` extension works does not work on Windows ([Scrapy docs](https://docs.scrapy.org/en/latest/top

[2020-05-11 13:44] kingking888 commented on #4565
I invite you to join my project, help me test? full thanks

[2020-05-11 13:53] elacuesta commented on #4565
I'm terribly sorry, but I'm afraid I will have to decline that invite. This a public issue tracker, in which you can get help from the community, not a private consultancy service. If you need further help, please supply publicly accessible material.

[2020-05-11 13:58] elacuesta commented on #4561
I would not have thought this was an issue, as I'd expect spider code to be covered by source control. On the other hand, it should be only a matter of doing a file system check, so I think a clean implementation could be approved.

[2020-05-11 14:03] kingking888 commented on #4565
Thanks all the same

[2020-05-11 14:03] #4565 closed

[2020-05-11 14:08] elacuesta commented on #4565
Regardless of whether or not you have a conflicting file in your working directory, you could disable the memory extension to avoid having those exceptions. For this, set the `MEMUSAGE_ENABLED` setting to `False`. You could do it conditionally if you're running the project in multiple platforms:

[code]

[2020-05-11 14:18] elacuesta commented on #3793
@nemec #4205 was merged, which means now there is a way to monitor the progress of a given request. Are you still interested in adding a progress bar extension?

[2020-05-11 18:20] #4546 closed

[2020-05-11 18:35] #4528 closed

[2020-05-11 18:46] shubhank-saxena opened #4567 "Addtion of pre-commit hooks"
## Summary
Planning to implement pre-commit hooks to take care of some lining issues.
## Motivation
With lot of contributors coming in, it's pain to see travis tests failing and then working on listing issues. So we can setup pre-commit hooks to lint and run some pre-commit instructions before a contributor commits to the codebase

@Gallaecio

[2020-05-11 19:51] Gallaecio commented on #4233
Good work!

I must say I had not noticed them until now :facepalm:

From what I’m reading, it does not seem to be something we can give you. It looks like Github automatically displays them when the right conditions are met. For example, if I hover @noviluni’s Contributor badge, it says “This user has previously committed to the scrapy repository.”.

[2020-05-11 20:02] Gallaecio commented on #4289
As @GeorgeA92 said, @camfrout already reported this at https://github.com/conda-forge/scrapy-feedstock/issues/37

Please, follow https://github.com/conda-forge/scrapy-feedstock/issues/37 for updates surrounding this issue.

[2020-05-11 20:05] Gallaecio commented on #4466
I would suggest you open a draft pull request for us to review the approach, but if there is a Twisted bug, we first need to find a way to reproduce it outside Scrapy with a simple snippet, and report it upstream.

[2020-05-11 20:34] Gallaecio commented on #4567
Precommit hooks should take minimum time. I can understand their usage for example to apply Black to the code to be committed. But I’m not sure what we should put for Scrapy. [The shortest test takes 1 minute](https://travis-ci.org/github/scrapy/scrapy/builds/685790754).

[2020-05-11 20:47] noviluni commented on #4567
Common tools used together with `precommit` are: `flake8`, `black` and `isort.` As `flake8` is checked whem passing the tests and we don't follow the `black` and `isort` guidelines I don't know what should we add...

[2020-05-11 23:11] elacuesta commented on #4526
Please, do not edit the issue title and/or contents beyond the point in which existing answers do not make sense. Closing the issue is enough to mark it as resolved.

[2020-05-12 07:29] jay24rajput commented on #4561
Alright! I will work on this one

[2020-05-12 07:51] shubhank-saxena commented on #4567
We can have `flake8` and `markdownlint` as pre-commit hooks imho

[2020-05-12 09:00] kingking888 commented on #4565
yeah, it's really ok ! thanks very much !

[2020-05-12 13:32] elacuesta opened #4570 "Flake8 build error in Travis"
Flake8 checks are currently failing with the following for all files:
[code]

Failed builds:
* https://travis-ci.org/github/scrapy/scrapy/jobs/686060612
* https://travis-ci.org/github/scrapy/scrapy/jobs/685973155

I suspect there might have been some change in a recent release of `pytest-flake8`, and pinning the version would solve the problem.

[2020-05-12 13:38] elacuesta commented on #4570
Comparing with a few successful builds, pytest-flake8 is the same (version 1.0.5), the difference seems to be with Flake8 (works with 3.7.9, fails with 3.8.1)

[2020-05-12 13:43] elacuesta commented on #4570
Already reported in the Flake8 repo: https://gitlab.com/pycqa/flake8/-/issues/640

[2020-05-12 14:06] noviluni commented on #4570
Hi @elacuesta This can be fixed by pinning `flake8<3.8`.

The issue is related to the `pytest-flake8` plugin and I already did a PR that fixes it: https://github.com/tholo/pytest-flake8/pull/68/

[2020-05-12 14:10] elacuesta commented on #4570
Yup, I was evaluating if we should pin flake8 or wait for an upstream fix to arrive. Nice work on the fix!

[2020-05-12 15:10] #4549 closed

[2020-05-12 15:24] Gallaecio commented on #4567
`markdownlint`? We use reStructuredText.

Regarding Flake8, even if we do not use Tox, it takes [more than 20 seconds](https://travis-ci.org/github/scrapy/scrapy/jobs/685790756#L616). I don’t think I would install such a pre-commit hook myself, to be honest, if it means waiting for 20 seconds before pushing.

[2020-05-12 16:03] kuruma99 commented on #2484
Hi @Gallaecio, I am a newbie to open source and I have been getting familiar with Scrapy. Do you think that I should work on this issue as my first issue?

[2020-05-12 17:21] shubhank-saxena commented on #4567
That makes sense. Thank you😁

[2020-05-12 17:21] #4567 closed

[2020-05-12 18:42] #4556 closed

[2020-05-12 20:27] Gallaecio commented on #2484
If all [good first issues](https://github.com/scrapy/scrapy/labels/good%20first%20issue) are already taken, documentation issues are definitely a good alternative, provided you understand what the expectations are. If you think you do here, go ahead and we will give you feedback in your pull request as needed.

[2020-05-13 01:24] Cally99 commented on #2007
Bumping this. To be honest in the web world important data with value doesn't want to be scraped. Precious data will be delivered over web sockets. I've spent three days gathering xpaths for a site I'm scraping for a client and the last and least element which is the most precious is delivered over websocket.  All the brute work is done and now I'm stuck on the most important element on the page t

[2020-05-13 03:47] jacty opened #4571 "Json.loads may raise an error in settings.getdict('FEED')"
https://github.com/scrapy/scrapy/blob/8d1269bcbc81fa0bb5a69068e07bdbcb0dba8889/scrapy/settings/__init__.py#L197

When setting's value is string, Json.loads may raise an JSONDecodeError error if my test has nothing wrong, I guess. I tried to use settings.getdict('BOT_NAME') and it raises the JSONDecodeError as I expressed.

[2020-05-13 08:52] noviluni commented on #4570
It seems fixed :tada:

Passing PR: https://github.com/scrapy/scrapy/pull/4572

[2020-05-13 18:25] elacuesta commented on #2007
As mentioned by @pawelmhm above, supporting websockets "natively" within Scrapy is not trivial. However, since Scrapy 2.0, it is possible to use the following workaround, which is not blocking:

[code]
[code]

Keep in mind that this needs [the `asyncio` reactor](https://docs.scrapy.org/en/latest/topics/asyncio.html#installing-the-asyncio-reactor) in order to work. You could add `TWISTED_REACTOR =

[2020-05-13 21:01] Gallaecio commented on #4571
I’m not sure that’s an issue. It’s probably what the caller would want.

[2020-05-13 21:02] Gallaecio commented on #4570
Indeed, great work.

[2020-05-13 21:02] #4570 closed

[2020-05-13 21:05] jacty commented on #4571
it doesn't make sense according to the description. It says 'If it is a string it will be
        evaluated as a JSON dictionary.' But when isinstance(value, str) is true, json.loads raise an error.

[2020-05-13 21:16] Gallaecio commented on #4571
It raises an error if the string does not contain valid JSON. If the string is `'{"a": "b"}'`, it will work.

[2020-05-13 21:21] jacty commented on #4571
uhm, I guess I see your point. But it feels slightly awkward for me here. cuz getdict('BOT_NAME') will never work, which means I shouldn't use getdict here, head for other ways to evaluate dictionary instead. Thanks.

[2020-05-13 21:27] Gallaecio commented on #4571
Exactly, if you want to read a setting as a string you need to use `get` instead.

Actually, the current text is more accurate. The setting value is evaluated as JSON if it is a string. If the string does not contain valid JSON, then that evaluation triggers an exception. But the evaluation still happens. (and even if it’s valid JSON, if it’s not a JSON object it will cause an exception after the

[2020-05-13 21:29] jacty commented on #4571
Okay, I get your point, thank you.

[2020-05-13 21:50] #4571 closed

[2020-05-14 00:21] longkyle opened #4575 "Add 'item_classes' key to FEEDS"
## Summary

Add 'item_classes' key to FEEDS that accepts a list of scrapy.Item class objects.

## Motivation

This functionality will allow us to filter different Item types to unique URIs

## Describe alternatives you've considered

Currently, there isn't any way to filter by Item type in the FEED(s) settings.

## Additional context

I've already written the patch, tests, and updated documentatio

[2020-05-14 13:34] Gallaecio opened #4577 "Deprecate w3lib objects importable from scrapy.utils.url"

[2020-05-14 13:59] divyabhushan commented on #4547
Hi @Gallaecio, Can I work on this issue, please?

[2020-05-14 16:57] alantt01 commented on #4233
Hello,
I can try to help out for the Japanese page.

[2020-05-14 19:03] noviluni commented on #4233
Hi @alantt01 !
That would be awesome! :smile:

[2020-05-14 23:43] IlnarSelimcan opened #4578 "Downloadable documentation is missing for versions 2.0 and 2.1 on readthedocs.org"
For some reason downloadable documentation on https://readthedocs.org/projects/scrapy/downloads/ is available only up to version 1.8.

That's a minor issue, but I think that I'm not the only one who prefers to read technical papers in the pdf format (to be able to take notes).

[2020-05-15 07:21] alantt01 commented on #4233
Hi @noviluni ,

Thanks for your reply. That has been done.

https://ja.wikipedia.org/wiki/Scrapy

Seems that the citation rules have been tightened up since the English version was written. If dates can be provided I can update the citation details.

[2020-05-15 09:20] Gallaecio commented on #4421
Ideas:
* `SelectorList.extract` → `SelectorList.getall`
* `SelectorList.extract_first` → `SelectorList.get`
* `Selector.extract` → `Selector.get`
* `SelectorList.getall()[0]` → `SelectorList.get()`

[2020-05-15 12:02] Gallaecio commented on #4547
All yours!

[2020-05-15 19:42] divyabhushan commented on #4547
@Gallaecio
So to get started, I could find one python code file under docs - scrapy/docs/utils/linkfix.py with python 2's unicode style.
So I would use the function to convert it to a string type which I have already tested and verified in my environment.
Is this the expected solution? Kindly verify.
Thanks.

[2020-05-15 19:58] elacuesta commented on #4547
@divyabhushan I _believe_ what @Gallaecio means is refactoring the docs themselves. For instance, take a look at the description for [`Request.body`](https://docs.scrapy.org/en/2.1/topics/request-response.html#scrapy.http.Request):

which should be something like the following, now that we only support Python 3:

[2020-05-16 05:17] Bishwas-py commented on #2881
It's super easy to solve. You can install twisted manually. Here's the solution for this: [Instant Solution for Scrapy failed building wheel for Twisted](https://blog.webmatrices.com/scrapy-failed-building-wheel-for-twisted/)

[2020-05-16 06:49] jay24rajput commented on #4577
Does this issue include only removing the following code line from [scrapy.util.url](https://github.com/scrapy/scrapy/blob/314adf6c386848f35207c734dfe84c0d9d4e9e6a/scrapy/utils/url.py#L16)?
```from w3lib.url import _safe_chars, _unquotepath```

[2020-05-16 11:10] nsirletti commented on #4578
Looks like a .readthdocs.yml config was created for 2.0.0 but we didn't specify downloadable formats as specified in [readthedocs.org's doc](https://docs.readthedocs.io/en/stable/downloadable-documentation.html).

Shall I make a PR ? If so to which branch ?

[2020-05-16 16:47] noviluni commented on #4234
After merging this: https://github.com/scrapy/scrapy/pull/4237 I think we can finally close this 😄

Thank you @elacuesta, @Gallaecio, @kmike, @wRAR and @nyov! ❤️

[2020-05-16 16:47] #4234 closed

[2020-05-17 21:02] ZER0-SAMA commented on #2881
No conda install or microsoft studio.
Follow:
1.Download Twisted : https://www.lfd.uci.edu/~gohlke/pythonlibs/#twisted
2.In CMD : cd C:\Users\USERNAME\Downloads
3.pip install Twisted-version.whl
Enjoy!

[2020-05-18 08:37] jgnan opened #4582 "Scrapy 2.1. with Openssl 18 dont support RSA-MD5 cipher website"
Dear scrapy community,

I'm new to scrapy, and trying to crawl information from this site:
https://www.365-china.cn/

I only need the index page.

As it is a stander SSL website with formal SSL cert( which is identified by the chrome browser), I find it impossible to be crawl using scrapy(also python request), but is possible to grep content from curl, comment:
curl --location --request GET 'https

[2020-05-18 08:40] jgnan commented on #4582
Also paste my settings and issue:
settings.py
`# -*- coding: utf-8 -*-

# Scrapy settings for highlight project
#
# For simplicity, this file contains only settings considered important or
# commonly used. You can find more settings consulting the documentation:
#
#     https://docs.scrapy.org/en/latest/topics/settings.html
#     https://docs.scrapy.org/en/latest/topics/downloader-middleware.html

[2020-05-18 08:49] jgnan commented on #4582
For website's SSL information:
run:
[code]
Results:
[code]

[2020-05-18 09:05] jgnan commented on #4582
I think it have something to do with this issue:
[https://github.com/scrapy/scrapy/issues/2311](url)

In which said:

And I'd tried to downgrade cryptography to version < 2 but forbidden by scrapy 2.1:
[code]

[2020-05-18 10:25] Querela opened #4583 ""Exploding" memory usage when using HTTP cache"
_NOTE: Some parts are conjectures and I would like feedback if it is really an issue or not._

### Description

When using the HTTP cache, memory usage seems to explode as compared to un-cached processing.
To me, it seems like an issue(?) which happens because for each new request a lookup for already cached requests/responses happens and if it exists, it is immediatly loaded. For un-cached reques

[2020-05-18 17:13] diegovincent commented on #892
@dannyeuu @kmike  still nothing?

If that is the case, maybe @sergipastor, @sarafg11 or @psique want to take a look at this?

[2020-05-18 17:25] kmike commented on #892
No updates @diegovincent.

[2020-05-18 17:30] #2893 closed

[2020-05-18 18:31] Gallaecio commented on #4547
`Request.body` is always `bytes`, but yes, that’s what I meant.

The changes needed on the `request-response.rst` file can be copied from [#4090](https://github.com/scrapy/scrapy/pull/4090/files#diff-37334d46f8fd4663fa288ccf25fd0e3f) (in case this pull request is merged first).

[2020-05-18 18:38] Gallaecio commented on #4577
Nope, it’s a bit more complex.

There’s a `from w3lib.url import *` import line in that file. This issue is about switching that to an explicit import, and somehow logging a deprecation warning when those objects are imported from this file (as opposed to being imported from `w3lib`) or used after importing them from this file.

For functions, it should not be hard. I think we already have a depre

[2020-05-18 18:40] Gallaecio commented on #4578
That would be great. Feel free to create it for `master`, we can later backport it.

[2020-05-18 19:08] Gallaecio commented on #4582
Try with an older version of Scrapy that does allow it.

[2020-05-18 19:15] Gallaecio commented on #4583
You don’t mention using `JOB_DIR`; check if that helps, which would mean that the memory consumption is caused by a long queue of pending requests.

See also JOB_DIR

[2020-05-18 20:54] jgnan commented on #4582
Thanks for your reply, after more studying I think this could be the only solution as it is not a problem to scrapy but to openssl.

[2020-05-18 20:54] #4582 closed

[2020-05-18 23:04] elacuesta commented on #4547
For the record, you can in fact instantiate a `Request` with a `str` body, which gets encoded:
[code]

[2020-05-19 05:02] ShimaMasaeli opened #4586 "Unable to import scrapy"
Hello everyone,
I put this question in other forums but I didn't get any answer.
I am trying to scrape a non-English website. However, I get this error inside the VS Code editor:
Unable to import 'scrapy'pylint(import-error)

These are the important parts of codes I am using, I just didn't copy all the variables I am scraping:
class xxxxxxxxSpider(scrapy.Spider):

name = 'xxxxxxx'
allowed_domains

[2020-05-19 05:52] Querela commented on #4583
Hmm, ok. I will have to try this. And no, I did not use `JOB_DIR` because I was using login & session cookies, have my script embedded in another Python script (to process the result stored in a variable using callbacks), and was not intending to pause/resume. On error, the HTTP cache was intended to reduce traffic. So, I considered it but thought it not to be related/useful. But if it stores the

[2020-05-19 06:04] wRAR commented on #4586
This is a tracker for issues with Scrapy, while you have one issue with your dev environment and one issue with your code. Please consider asking this in more suitable places like https://stackoverflow.com/

[2020-05-19 06:04] #4586 closed

[2020-05-19 14:50] Gallaecio commented on #4582
Did openssl 1.1.0 remove the support? Because I’m thinking that it may simply have removed it from the default list, and you may be able to enable it somehow. I don’t know how, though. I’ve found https://stackoverflow.com/a/60981487/939364 but it might not help.

[2020-05-19 15:45] #4578 closed

[2020-05-19 17:01] Gallaecio commented on #4578
Backported to 2.0 and 2.1.

[2020-05-19 18:03] Gallaecio commented on #4510
Looks like we just need to remove that import, it’s a leftover from https://github.com/scrapy/scrapy/pull/3960

[2020-05-19 19:15] IlnarSelimcan commented on #4578
Thanks!

[2020-05-20 10:20] chang-shuai commented on #4457
why response always None????

[2020-05-20 17:23] #4510 closed

[2020-05-21 09:47] divyabhushan commented on #4547
Thanks, @Gallaecio @elacuesta I make the necessary changes.

[2020-05-21 11:02] rdmolony opened #4589 "Scrapy shell `view` fails in Windows Subsystem for Linux 2 (WSL2)"
### Description

Scrapy shell `view` fails in Windows Subsystem for Linux 2

### Steps to Reproduce

1. Install WSL2 ...
2. Run script from [Scrapy tutorial](https://docs.scrapy.org/en/latest/intro/tutorial.html) in system shell (zsh, bash, PowerShell etc.):

[code]

3. Run following in Scrapy iPython shell:
[code]

**Expected behavior:**  Browser opens html response

**Actual behavior:**

[code]

[2020-05-21 13:06] wRAR commented on #4589
I wonder if there is something similar implemented somewhere already.

The relevant code: https://github.com/scrapy/scrapy/blob/2.1.0/scrapy/utils/response.py#L77

[2020-05-21 14:31] Zegoverno opened #4590 "FTP Request ['530 Sorry, exceeded maximum of 3 users -- try later']"
I customized the FTP handler to first grab the list of files (custom solution) and then download each file (default Scrapy method).

There is a way to do everything within the same connection? It seems I am creating a new connection in every request and exceeding the maximum users allowed...

Or any method to wait for a request to complete and close, before starting a new one?

It would be nice to

[2020-05-21 19:03] Lovepankie commented on #1557
Rename the script to something_else.py rather than calling it scrapy

[2020-05-22 06:21] gaara4896 opened #4591 "Download delay and concurrent request per IP not respected, potentially due to custom download middleware"
Hi, I have a `settings.py` as below

[code]

And below is my custom download middleware

[code]

As you can see, I has the download delay of 10 and concurrent request per ip of 1, what I would expect would be 6 request per second, but below is what I get

[code]

May I know what might be the potential cause of issue?

[2020-05-22 10:12] Gallaecio commented on #4591
Your middleware sends a request to `self.driver.current_url`, which is probably a local IP address.

[2020-05-22 10:22] gaara4896 commented on #4591
Are you talking about inside the `HtmlResponse(self.driver.current_url, ....)`? I was also suspecting might be my middleware that causing that issue, and if yes, what should I do instead?

[2020-05-22 10:36] Gallaecio commented on #4591
I think you would have to make your middleware play with `slots`. See https://stackoverflow.com/questions/55860181/how-download-slot-works-within-scrapy.

In any case, this is not a bug in Scrapy. Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-05-22 10:36] #4591 closed

[2020-05-22 10:53] smehdia commented on #2115
I had the same problem, updating pip3 solved my problem:
`sudo -H pip3 install --upgrade pip`

[2020-05-22 14:54] Gallaecio opened #4592 "Remove unneeded escape sequences from documentation API signatures"
I’ve seen a few cases in the documentation like these:

[code]

The `\` preceding the `*` does not seem necessary, and is reaching the rendered documentation.

Noticed while working on #4161.

[2020-05-22 18:12] #4514 closed

[2020-05-23 03:08] zeguangzhang opened #4594 "param 'CONCURRENT_REQUESTS ' no function when adding proxy in middlewares.py"
# Description
use middlewares for using proxy to download,   but I find it cann't  be concurrent so that make param 'CONCURRENT_REQUESTS = 8'  no function, I test speed between 'CONCURRENT_REQUESTS = 8' and
CONCURRENT_REQUESTS = 1, their speed is about equal.

### Steps to Reproduce

1. update settings.py :
CONCURRENT_REQUESTS = 16
DOWNLOADER_MIDDLEWARES = {
    'scrapy.downloadermiddleware.userag

[2020-05-23 16:16] CubeOfCheese commented on #2425
But many APIs require authentication tokens. Is there any work-around for that?

[2020-05-23 17:00] vaibhavhrt commented on #2425
@CubeOfCheese in that case they will have an API where you can send username, password and receive auth token.

[2020-05-24 03:22] incognitozen commented on #1225
Came here from this [SO](https://stackoverflow.com/questions/61929940/handling-301-302-when-start-url-has-a-redirect-in-scrapy) thread. If your start_url has a 301 redirect, it pretty much closes the spider with one URL crawl.

[2020-05-24 07:18] karsten-aichholz commented on #4592
I'd love to give this a shot. Is it still available?

[2020-05-24 14:10] rexraja opened #4595 "Installation error"
While installing scrapy in python virtual environment I am getting the below error. please help on this

Installing collected packages: pyasn1, pyasn1-modules, service-identity, twisted
    Running setup.py install for twisted ... error
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\neha\appdata\local\programs\python\python38-32\python.exe' -u -c 'import sys, setuptools

[2020-05-25 06:57] wRAR commented on #4595
As the log says, it's a problem with installing Twisted, not  Scrapy itself. Please also note that the official Scrapy docs recommend using conda instead of building everything from source, precisely because it's complicated to do the latter.

[2020-05-25 06:57] #4595 closed

[2020-05-25 06:59] wRAR commented on #4594
"Speed is about equal" doesn't mean the parameter doesn't work. Speed depends on many other things. Also, you are using `requests` which is a synchronous library, so problems with concurrency are expected.

[2020-05-25 06:59] #4594 closed

[2020-05-27 06:56] wRAR opened #4597 "KeyError in is_generator_with_return_value"
[code]

This is Scrapy 2.0.1. The problem happens only sometimes, but in different spiders in the same project.

[2020-05-27 07:25] wRAR commented on #4590
Is this about the files pipeline or about the download handler? Looks like it's unavoidable with the pipeline as it uses separate threads for each file, with separate connections. For the download handler it may be possible to implement some improvement by storing open connections (`FTPClient` objects I guess) by the host:port keys, but that adds complexity. Also, now you'll need to queue requests

[2020-05-27 12:49] Querela commented on #4583
Ok. I tried using `JOBDIR`.
- memory consumption increased again. I may have to test some other urls from the same domain, if it is consistent behavior
- another issue: it now seemed to cache my initial request to the login page, `Filtered duplicate request:` ... I will try it later without the dupe filter but this is weird and has not happened before.

So, my initial assessment is that `JOBDIR` m

[2020-05-27 14:10] Shleif91 opened #4598 "eb_kwargs for errback"
Since version 2.0 `cb_kwargs` has appeared which I use to transfer data to callback.

Now need to handle errors in errback. How to forward data there (logically there should be `eb_kwargs`, but there is none)?

[2020-05-27 14:39] elacuesta commented on #4598
The original PR (#3563) briefly mentions this. We decided there was no need, since the original request is available in the errback's failure, so the callback arguments can be accessed through `failure.request.cb_kwargs`

[2020-05-27 16:41] #3575 closed

[2020-05-27 16:42] #4597 closed

[2020-05-28 13:16] shubham-MLwiz opened #4600 ".extract() is unable to get data properly from sparse tables"
I created a manual table to reproduce the bug which I am facing
[code]

Now when I try to run the below code on the above html. This is the output I get
[code]

As you can notice, It is unable to give proper output for empty data cells. It is ignoring all empty values and that seems a bug.

[2020-05-28 16:36] crawazaky opened #4601 "Using ":" (colon) in the url raise a error"
### Description

Trying to request google.fr with a search request of this form:

https://www.google.fr/search?q=site:website+keyword

Raise a error:

`Traceback (most recent call last):
  File "/home/vagrant/.local/lib/python2.7/site-packages/twisted/internet/defer.py", line 654, in _runCallbacks
    current.result = callback(current.result, *args, **kw)
  File "/home/vagrant/scrapy/tutorial1/tut

[2020-05-28 17:41] GeorgeA92 commented on #4601
@crawazaky
On my older environment (based on python 3.x not 2.7.x). I don't have this issue:
[code]

**Versions**

Scrapy 1.8.0
lxml 4.2.5.0
libxml2 2.9.9
cssselect 1.1.0
parsel 1.5.1
w3lib 1.20.0
Twisted 19.7.0
Python 3.7.1 (default, Nov 24 2018, 22:14:32) [MSC v.1912 64 bit (AMD64)]
pyOpenSSL 19.0.0 (OpenSSL 1.1.1e  17 Mar 2020)
cryptography 2.7
Platform Windows-10-10.0.18362-SP0

[2020-05-28 18:22] crawazaky commented on #4601
@GeorgeA92 Indeed, the error is gone with python3. Thank you.

[2020-05-28 18:22] #4601 closed

[2020-05-28 21:33] yonromai opened #4602 "Performance bottleneck with mono threaded Downloader Middleware"
## Summary

There seems to be a performance bottleneck in the case where a Downloader Middleware is I/O heavy: I have a custom cache storage (very similar to `FilesystemCacheStorage`) which does some I/O. In the cases where the cache hit ratio is high, this cache becomes the overwhelming bottleneck.

## Additional context

I tried playing with both `REACTOR_THREADPOOL_MAXSIZE` and `CONCURRENT_REQU

[2020-05-29 06:46] wRAR commented on #4602
Most of the Scrapy parts, including user-provided code, is indeed run in the main thread. Assuming your I/O-bound code is synchronous and there is no way to change that, you may try [running it in a thread](https://twisted.readthedocs.io/en/latest/core/howto/threading.html#running-code-in-threads).

[2020-05-29 08:06] wRAR commented on #4509
@secsec2020 you are right, it doesn't (you can override `start_requests` to change this). Does this mean this issue isn't about a problem in Scrapy?

[2020-05-29 14:37] yonromai commented on #4602
Thanks for your help @wRAR.

It seems to me like the main way to do this is to spawn threads in the Downloader Middleware to do the I/O and return a `Request` object immediately, acting as a "polling mechanism" for the main thread.

This involves caching the results from the I/O threads, until the main thread retries come back to get them. This seems doable but a bit involved, given that the behav

[2020-05-29 14:44] yonromai commented on #4602
I just discovered that Scrapy has [experimental support for `asyncio`](https://docs.scrapy.org/en/latest/topics/coroutines.html). I guess it sounds like a much better way to go.

[2020-05-29 14:53] yonromai commented on #4602
Sure, but now I have nobs to make my processing async and not block the main thread.

Reading this [Scrapy asyncio doc](https://docs.scrapy.org/en/latest/topics/asyncio.html), it seems like my async logic will automagically be ran on Reactor threads right? So i get non blocking I/O and muti threading in the middleware for free, which is a great!

[2020-05-29 15:02] wRAR commented on #4602
You could always write async code in middlewares, using Deferreds.

There is no such thing as "reactor threads". Native Python coroutines get wrapped into Twisted Deferreds.

Not necessarily. That's why I wrote "Assuming your I/O-bound code is synchronous" and "asyncio doesn't make your code asynchronous by itself".

You already have `callInThread`/`deferToThread`.

[2020-05-29 15:03] yonromai commented on #4602
Perfect, thanks so much for your help @wRAR

[2020-05-29 16:29] tainangao commented on #2473
Then how do I use another user agent? I'm trying to scrape a real estate website where I'm just a guest.
https://www.residentialpeople.com/za/property-for-sale/cape-town/?limit=10&offset=0&latitude=-33.9248685&longitude=18.4240553&radius=53.45541417432696&_location=Cape%20Town,%20South%20Africa&_radius_expansion=0.402

[2020-05-30 14:18] gndps commented on #3793
A workaround can be to direct all the std.out to a log file using these settings:
[code]
and use `tqdm` around the loops for tracking in the terminal

[2020-05-31 20:27] michalp2213 commented on #4466
I reproduced this behavior of `protocol.transport.getPeerCertificate()` I mentioned above in a fairly short piece of code and created a [ticket](https://twistedmatrix.com/trac/ticket/9843) in twisted issue tracker.

[2020-06-01 04:57] #2444 closed

[2020-06-01 05:05] Gallaecio commented on #4592
@karsten-aichholz: Sorry, @sharmarohit beat you to it.

[2020-06-01 05:18] #4495 closed

[2020-06-01 17:23] StasDeep opened #4606 "Pass info from FEEDS to ItemExporter"
## Summary

The new FeedExporter class doesn't allow to pass custom info to ItemExporter through the `FEEDS` setting.

## Motivation

My use-case is a bit too long to describe, but it can be minimized to the following: for example, I have a custom ItemExporter which I want to have different options for different feeds. Say I want to pass custom `param` option to it.

[code]

Ideally, I would like

[2020-06-01 17:23] StasDeep commented on #4606
I will provide a PR this week.

[2020-06-01 17:44] StasDeep opened #4607 "Make FeedExporter customizable for export conditions"
## Summary

The new FeedExporter class (or rather `FEEDS` setting) doesn't allow to create custom conditions on whether to export an item or not.

## Motivation

Like in case with #4575, I need to customize the condition under which an item should/shouldn't be exported. It would be nice to be able to do it like this or something in a similar fashion:

[code]

## Describe alternatives you've consid

[2020-06-01 19:28] jacty opened #4608 "iter() a generator in start_requests"
https://github.com/scrapy/scrapy/blob/c86a1035dd9b8b10acaf8f9e8bdb1b5494a287e2/scrapy/crawler.py#L88

self.spider.start_requests() will return a generator for sure, however, I am not sure why we need to use iter() to wrap it again. Should we remove iter() in this case?

[2020-06-01 21:30] #4592 closed

[2020-06-02 07:42] wRAR commented on #4608
It won't always return a generator. You can return any iterable from it.

Not sure why is this an issue anyway, do you have any problems with this line?

[2020-06-02 07:47] jacty commented on #4608
nope. I am just trying to make it simple.  From what I understand, self.spider.start_requests() will definitely return a generator, so I was thinking make this part clear and short. Not sure if I misunderstood something or not.

[2020-06-02 08:06] jacty commented on #4608
Not an issue actually, I am trying to make code here simple and clear from kind of OCD habit. As I know, start_requests will yield a Request. If I don't make it wrong, it is the only output

[2020-06-02 08:06] #4608 closed

[2020-06-02 08:09] Gallaecio commented on #4606
I implemented this in #4512, as I needed it there.

[2020-06-02 08:19] StasDeep commented on #4606
@Gallaecio if I understand the changes correctly, it is now possible to pass it to FeedStorage. What I want, though, is passing custom args to ItemExporters.

[2020-06-02 09:21] wRAR commented on #4607
Do you mean it was possible with the old code?

[2020-06-02 09:24] StasDeep commented on #4607
@wRAR no, I did not mean that.

[2020-06-02 13:37] Zegoverno commented on #4590
@wRAR this is about the download handler. I agree with you, this is a very particular application I guess. I managed to do that by separating both phases into two separate spiders and saving the paths on the first and calling the second using CrawlerProcess and addCallback. Not optimal but it worked.

[2020-06-02 14:20] yashrajjain726 commented on #3582
If you want, I will do it.

[2020-06-03 04:13] kuaidaili-dev opened #4611 "When i use proxy,all requests using the first HTTP connect tunnel, not each request established a connect"
### Description

[Description of the issue]
I use wireshark ,this is the data package
![image](https://user-images.githubusercontent.com/32975725/83594785-b5ac5600-a592-11ea-844a-712d0baddb20.png)
I submit 10 requests but just establish one connect connection,the left requests go through the fist connect tunnel,i do not know why.

[2020-06-03 07:06] #4548 closed

[2020-06-03 07:20] wRAR commented on #4611
It's not clear from the attached screenshot what actually happens, but does this cause any problems for you?

[2020-06-03 10:16] kuaidaili-dev commented on #4611
I built a server that can receive my request and choose a proxy IP to visit, and respond to me. But the above scenario did not work. scrapy took all the request packets for the first connect connection established, so each of my requests is accessed by the same proxy IP. If scrapy is to create one for each request connect link, then there will be no such problems. My English is not good, please un

[2020-06-03 11:20] sivoham commented on #4561
Hi @metaperl @elacuesta,

I would like to understand this properly. I've tried to create a spider with the same name twice but it does not allow me to do so.

`(p3env) bash-3.2$ scrapy genspider toi 'https://timesofindia.indiatimes.com/'
Created spider 'toi' using template 'basic' in module:
  testscrapy.spiders.toi
(p3env) bash-3.2$
(p3env) bash-3.2$
(p3env) bash-3.2$ scrapy genspider toi 'https:

[2020-06-04 16:52] bergwald commented on #2309
As far as I understand, `FilesPipeline` downloads the file if one of these conditions is true:

a) It cannot access/find the file
b) It cannot get the `last_modified` attribute of the file
c) The file has expired

See the source code below:

            if not result:
                return  # returning None forces the download

            last_modified = result.get('last_modified', None)

[2020-06-05 07:17] Shleif91 commented on #4598
Thanks for the answer. Did as you showed. Perhaps you need to mention this in the documentation?

[2020-06-06 18:02] lubobill1990 commented on #4457
When I enable HTTP cache, at the first run, where there is no cache, then the response is not none, but after that, when there is cache, then response is none.

[2020-06-07 16:48] linupychiang opened #4614 "After upgrading my mac to catalina, when running my scrapy project, python quit unexpectedly, which has not happened before"
### Description
After upgrading my mac to catalina, when running my scrapy project, python quit unexpectedly, which has not happened before.
### Versions
- scrapy: 1.5.0
- os: mac os catalina 10.15.5
- python3.6.7
### Additional context
[code]

When I run the code above, python quits unexpectedly.
![image](https://user-images.githubusercontent.com/46371795/83974686-b857d400-a921-11ea-9491-b3eff719

[2020-06-08 06:32] wRAR commented on #4614
This sounds like a problem with some binary Python module. This is also definitely not a Scrapy issue.

[2020-06-08 11:08] Mystickal opened #4617 "Settings not properly configured when calling get_project_settings()"
So I'm trying to run scrapy from within the code, and when I try to run the code through pressing the run button in Visual Studio it gives me the following error:

[code]

Though if I run it through the terminal by typing python filename.py it runs perfectly. I've tried searching online but can't seem to see anyone having the same problem. I do not have django (I believe?) on my codes so no idea w

[2020-06-09 07:26] #4614 closed

[2020-06-09 07:27] wRAR commented on #4617
This is a tracker for issues in Scrapy. For issues in your code please use other platforms, such as https://stackoverflow.com/

[2020-06-09 07:27] #4617 closed

[2020-06-09 16:27] StasDeep opened #4619 "Duplicated feed logs when having multiple feeds"
### Description

When I have multiple feeds and a blocking feed storage, I get duplicated feed logs.

### Steps to Reproduce

1. Create a `test.py` file with this [spider and settings](https://gist.github.com/StasDeep/236922e448ac33b354cf5ea6612e8fde)
2. `scrapy runspider test.py -L INFO`

**Expected behavior:**

[code]

**Actual behavior:**

[code]

### Versions

[code]

### Additional context

W

[2020-06-09 16:28] StasDeep commented on #4619
I think I can create a PR fixing that.

[2020-06-10 04:18] julien-h opened #4620 "Stream response body for large files"
## Summary

Using `response.body` is inefficient when downloading large files because it loads the full body in memory. This is not feasible for large zips for instance. We need something like `requests`'s `response.raw` to be able to stream the response body to disk without using the whole RAM.

Code example to highligh the difference:

- `scrapy`
[code]

- `requests`
[code]
## Motivation

To be

[2020-06-10 07:04] wRAR commented on #4620
Related to #3880 I think.

[2020-06-10 07:57] StasDeep opened #4621 "Storage.store is called only for the first feed when empty"
### Description

When having `FEED_STORE_EMPTY=False` and multiple feeds, and the output is empty, `storage.store` is called until first empty feed slot is encountered.

### Steps to Reproduce

1. Create a `test.py` file with [this spider](https://gist.github.com/StasDeep/c7f0b775eb4897b1012f2c76ce6296f5)
2. `scrapy runspider test.py -L INFO`

**Expected behavior:**

[code]

**Actual behavior:**

[2020-06-10 07:58] StasDeep commented on #4621
Will provide a fix for this.

[2020-06-10 17:02] ejulio opened #4622 "Retry logs an error when giving up"
# Description

When retry gives up, scrapy is logging an error, which increases `log_count/ERROR` stats.
This key is the standard way to check for errors in scrapy, but a retry giving shouldn't be considered an error.

### Steps to Reproduce

Run the a spider against an invalid URL so it gives up retrying

**Expected behavior:**

As per my understanding, failing to retry a request shouldn't be con

[2020-06-11 07:08] scientes opened #4625 "request_to_dict using wrong header conversion"
### Description

Im writing my own backend for storing queue/dupefilter and such for arangodb(similar to https://github.com/filyph/scrapy-sqlite)

to store the Requests i need to convert them to json.

### Steps to Reproduce

1. encode request using request_to_dict
2. json encode this

**Expected behavior:**

A json encoded request

**Actual behavior:**

[code]

### Versions

Scrapy       : 2.1.0

[2020-06-11 08:25] faraz16iqbal commented on #4561
Is this issue still up for grabs?

[2020-06-12 19:09] Urahara opened #4627 "Enable override default type of selector to use on xpath method"
## Summary

When calls `response.xpath` scrapy automatically chooses the "best parsing rules" but looking from the code of **parsel** it always try to parse using `html` parse even with xml documents. I would like that user could pass the type on method call, like: `response.xpath("xpath", type='xml')`

## Motivation

I have a response that **Content-Type** is `application/xhtml+xml;charset=iso-88

[2020-06-13 06:41] anapaulagomes commented on #2916
I tried all the suggestions above but still didn't manage to fix this problem.
URL: https://www.diariooficial.feiradesantana.ba.gov.br/
[code]
Any words of wisdom are much appreciated. :pray:

[2020-06-13 11:26] hosunrise opened #4628 "Support choosing a file path based on item data in media pipelines"
https://github.com/scrapy/scrapy/blob/8b549392f924ddad9536e55c6120638daf688dfd/scrapy/pipelines/media.py#L77-L111

[2020-06-13 18:50] elacuesta commented on #4561
@sivoham Indeed, there is already a check in place, but what it does is try to [load a spider](https://github.com/scrapy/scrapy/blob/2.1.0/scrapy/commands/genspider.py#L69-L78) by its [`name` attribute](https://docs.scrapy.org/en/2.1/topics/spiders.html#scrapy.spiders.Spider.name). So a file can get overridden if you have a spider which name doesn't match its file name.

@faraz16iqbal I'd recommen

[2020-06-13 20:40] unk2k commented on #2916
@anapaulagomes you have to use TLSv1.0 and RC4-MD5 cihper.
The next command should work in the scraper environment
`curl -v --tlsv1.0 --ciphers RC4-MD5  https://www.diariooficial.feiradesantana.ba.gov.br/`

[2020-06-14 09:45] #3761 closed

[2020-06-14 13:26] Gallaecio commented on #2749
I believe #3881 has implemented this by supporting dataclasses and attr.s as items.

[2020-06-14 13:26] #2749 closed

[2020-06-14 13:29] Gallaecio commented on #844
Should we close this, given `@attr.s` support has been added as part of #3881?

[2020-06-14 19:37] Gallaecio commented on #4621
Great catch!

[2020-06-14 20:18] Gallaecio commented on #4611
Any chance you can share a [minimal example](https://stackoverflow.com/help/minimal-reproducible-example) to reproduce the issue? I’m specially interested in knowing how you are configuring the proxies in your project or spider.

[2020-06-14 20:36] Gallaecio commented on #4598
I guess it makes sense to be more specific about this in https://docs.scrapy.org/en/latest/topics/request-response.html#scrapy.http.Request.cb_kwargs

[2020-06-14 20:54] Gallaecio commented on #4625
`request_to_dict` does what it is supposed to do.

If you wish to convert the resulting dictionary to JSON, I think you should implement your own function to do it (probably a wrapper for `request_to_dict`).

[2020-06-14 21:03] Gallaecio commented on #4627
Related to #4240

[2020-06-14 21:07] Gallaecio commented on #4628
`_process_request` is a private method that does not use `item`, so there is no reason for it to receive it.

I imagine you have a use case where you are overriding `_process_request` and you would like to have access to `item` there. Overriding private methods is not a good practice, so instead of asking for `item` to be passed, maybe you should describe your use case, and we can try to figure ou

[2020-06-15 08:24] motogod opened #4631 "Why type pip install Scrapy will install 1.8.0 version ?"
mac: 10.15.5

I have installed scrapy 1.8.0, I want to upgrade to 2.1.0

So I type `sudo pip install --upgrade scrapy`, it is not working.

Then I try to reinstall scrapy on terminal.
Here is my step:
1. `python --version` (print Python 3.7.6)
2. `sudo pip uninstall scrapy` (uninstall successfully)
3. `sudo pip install Scrapy`
4. `Scrapy --version`

the terminal shows `Scrapy 1.8.0 - no active pro

[2020-06-15 09:03] Gallaecio commented on #4631
https://pypi.org/project/Scrapy/ shows 2.1

`which scrapy` should indicate the path of the `scrapy` executable. Maybe you are now installing Scrapy 2.1 system-wide, but you previously installed Scrapy 1.8 for your user (`pip install --user`) and that is taking precedence over the system-wide Scrapy 2.1 installation?

Otherwise, does  `sudo pip install Scrapy` show any error message? Which version

[2020-06-15 16:32] motogod commented on #4631
which scrapy will show
`/usr/local/bin/scrapy`

about `sudo pip install Scrapy`, do you mean type it again if I have installed Scrapy ?

If so the message show like this:
[code]

[2020-06-15 17:56] elacuesta commented on #4631
Seems like your system-wide `python` binary is Python 2, which is [not supported anymore since Scrapy 2.0](https://docs.scrapy.org/en/latest/news.html#scrapy-2-0-0-2020-03-03). I'd recommend you to install Scrapy using Python 3, within a [virtual environment](https://packaging.python.org/tutorials/installing-packages/#creating-virtual-environments), i.e.:
[code]

[2020-06-15 20:25] Urahara commented on #4631
@elacuesta  If your python version is < than supported, pip  will install the latest version avaliable for your python version? That's nice.

[2020-06-16 02:16] motogod commented on #4631
@elacuesta
Yes, `virtual environment` is working. Thank you very much.

[2020-06-16 02:16] #4631 closed

[2020-06-16 21:35] hosunrise commented on #4628
When I need process response in `media_downloaded` depend on `item`, the `item` pass to `_process_request`  is necessary.

e.g., generate file path by some `item`'s field.

[2020-06-17 05:49] amarynets opened #4633 "Wrong request URL in response.request object from download middleware"
### Description

I wrote my custom download middleware, which makes the request to my service(it lives on a different domain than a requested domain). After I receive a response from my service I replace URL in `response.url` and `response.request.url` to the original URL. But the issue is in `parse` function the URL in the `response.request` object is the URL from request to my service.

### Step

[2020-06-17 07:23] wRAR commented on #4633
Is `response.request` the new object or the old object?

[2020-06-17 09:57] shubham-tyagi commented on #2881
Thank you !! It was very helpful.

[2020-06-17 10:55] dsandeep0138 commented on #4598
@Gallaecio I have updated the docs. Can you please review the pull request and provide feedback? Thanks.

[2020-06-17 11:24] Chealkeo commented on #2115
thanks for your solution!

[2020-06-17 13:36] elacuesta commented on #4633
This is a duplicate of #4529

[2020-06-17 14:04] wRAR commented on #4633
Oh, it's exactly the same case.

[2020-06-17 14:04] #4633 closed

[2020-06-17 15:08] #4621 closed

[2020-06-17 15:51] Gallaecio commented on #4628
Related StackOverflow question: https://stackoverflow.com/q/62391828/939364

[2020-06-17 22:17] asifmallik commented on #4607
@StasDeep are you working on this or is this issue up for grab?

[2020-06-17 22:22] nb2838 commented on #3205
Hey, I'd like to know if I could work on this?

[2020-06-18 03:55] StasDeep commented on #4607
@asifmallik I did not start working on it yet, so feel free to take it :)

[2020-06-18 05:43] asifmallik commented on #4607
@StasDeep I will give this a try in that case :)

[2020-06-18 10:01] #4598 closed

[2020-06-18 10:09] Gallaecio commented on #3205
Feel free!

[2020-06-18 10:11] Gallaecio commented on #4607
@asifmallik I would wait for https://github.com/scrapy/scrapy/pull/4576 to be merged.

[2020-06-22 00:35] Tricoms opened #4638 "Trying to install scrapy on a pi 4. get 404 error"
pip install scrappy
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting scrappy
  Using cached https://files.pythonhosted.org/packages/b4/df/dcd763f44aea90fbd58b4e7f7c8be95ade7d130cd21251fc0d93c295b1f0/Scrappy-0.3.0.alpha.4.tar.gz
Requirement already satisfied: chardet in /usr/lib/python2.7/dist-packages (from scrappy) (3.0.4)
Collecting guessit (from scrappy)

[2020-06-22 01:18] jzwz opened #4639 "Print weird None after every successfully crawled"
### Description

[Description of the issue]

### Steps to Reproduce
**Expected behavior:** [What you expect to happen]
Why print "None" after scraped successfully? Is that normal?

**Actual behavior:** [What actually happens]
Scrapy prints "None" after scraped successfully every request.

2020-06-22 12:51:05 [scrapy.core.scraper] DEBUG: Scraped from <200 https://url/>
None

**Reproduces how often:

[2020-06-22 07:55] wRAR commented on #4638
The homepage for `Scrappy` is at https://github.com/louist87/scrappy.

[2020-06-22 07:55] #4638 closed

[2020-06-22 07:57] wRAR commented on #4639
If you think this is a bug in Scrapy, you need to provide code to reproduce it. Looks like you  produce None values from your callbacks in some way.

[2020-06-22 09:37] jzwz commented on #4639
I'm not sure this is a bug or not, but I just feel a little confused what is "None".
Would you please give me some idea?
What is the value of "output" sourcing from in not "None" case?
(logkws = self.logformatter.scraped(output, response, spider))

[2020-06-22 09:40] wRAR commented on #4639
The "Scraped from" message normally prints the item produced from a callback.

[2020-06-22 15:12] gesof opened #4641 "S3FilesStore throws TypeError: __init__() missing 1 required positional argument: 'uri'"
For some reason I keep getting annoying errors while trying to make the frontera/scrapy combination work and most of the time is due to lack of *really* working examples. Here is the last one:

settings.py
[code]

Please (2x) just be a little more elaborate in the documentation. Sample: https://docs.scrapy.org/en/latest/topics/feed-exports.html#feeds

`A dictionary in which every key is a feed URI

[2020-06-22 15:56] elacuesta commented on #4641
We strive to keep a reasonable balance between keeping the docs simple and covering every feature. Which changes would you suggest? Could you share the errors you're getting so we can see which parts of the docs could be improved?

Regarding your code: `FEED_URI` was deprecated and removed from the docs with the introduction of `FEEDS`. As the sentence you posted says, each key should be an [URI](

[2020-06-22 16:03] aerdnar opened #4643 "Allow run pyw scripts"
scrapy/commands/runspider.py check for Python script source but it fails to allow .pyw files.
Check at row 14 is:
`    if fext != '.py':`
but it should be:
`    if fext != '.py' and fext != '.pyw':`

[2020-06-22 18:03] naXa777 commented on #2115
Ubuntu 20.04 + Python3

apt can't locate `python-pip` package. otherwise, your solution works!

[2020-06-22 18:40] Gallaecio commented on #4639
@jzwz Please, provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example). For all we know, you could have `print(None)` somewhere in your code :)

[2020-06-22 18:56] Gallaecio commented on #4643
I wonder if this may be a problem as well for other parts of the code base.

[2020-06-23 10:33] #4619 closed

[2020-06-23 11:16] gesof commented on #4641
I figured it out so I used the format you suggested but the error is the same. I managed to move forward with a patch that I found online that is to use a custom pipeline based on the original class:

    # ./pipelines/FixedS3FilesStore.py

`from scrapy.pipelines.files import S3FilesStore

class FixedS3FilesStore(S3FilesStore):
    # @classmethod
    # def from_crawler(cls, settings):
    #     ur

[2020-06-23 12:42] AKSHAYSHARMAJS commented on #4643
I can work on it. Should I check whole codebase for this bug?

[2020-06-23 12:56] Lukas0907 opened #4644 "test_integration_downloader_aware_priority_queue raises exception"
### Description

The test `tests/test_scheduler.py::TestIntegrationWithDownloaderAwareInMemory::test_integration_downloader_aware_priority_queue` raises the following exception:

[code]

The exception is only logged by scrapy.core.engine and hence swallowed by py.test. I discovered it accidentally when using the `log_cli = true` pytest setting.

### Steps to Reproduce

1. Set `log_cli = true` in p

[2020-06-23 14:23] elacuesta commented on #4641
Please share the error you were getting.

[2020-06-23 15:29] gesof commented on #4641
[code]

[2020-06-23 16:08] elacuesta commented on #4641
I think the issue here is that you're mixing two features:
* [Exporting scraped items to S3](https://docs.scrapy.org/en/2.1/topics/feed-exports.html#s3) ([`FEEDS`](https://docs.scrapy.org/en/2.1/topics/feed-exports.html#std-setting-FEEDS) setting)
* [Downloading files to S3](https://docs.scrapy.org/en/2.1/topics/media-pipeline.html#amazon-s3-storage) (`FILES_STORE`, `IMAGES_STORE` settings)

Maybe

[2020-06-23 21:42] oakla commented on #4336
Hey, just a heads up that there's no warning for this on the tutorial page: https://docs.scrapy.org/en/1.1/intro/tutorial.html#extracting-data

[2020-06-23 22:56] jzwz commented on #4639
@Gallaecio I know where's wrong, I didn't "return item" in process_item method in pipelines.py, because I store data in process_item and no further process.
I put "return item" at the end of process_item method, The "Scraped from" message prints the item info normally. 😄

[2020-06-24 05:51] #4639 closed

[2020-06-24 10:36] Gallaecio commented on #4643
It would be great to have a look in other parts that handle similar scenarios, maybe just look for references to `.py` in the code. Just in case.

[2020-06-24 10:41] Gallaecio commented on #4336
@oakla Your link is for the documentation of Scrapy 1.1, not the latest Scrapy version.

[2020-06-24 11:22] AKSHAYSHARMAJS commented on #4643
Okay I 'll look for it. Thanks :)

[2020-06-24 12:47] gesof commented on #4641
You were right, there was a mix of two concepts, both being under Item Pipelines. I abandoned the export option whose error was above and used the second option

[2020-06-24 15:04] nb2838 commented on #3205
I have been looking at the issue and reading the link provided by Kmike but I am not sure where should this algorithm be implemented. Expanding a bit on that, how should the user of scrapy have access to this algorithm? Giving some pointers on that would be very useful. Thank you

[2020-06-25 02:34] ajaymittur28 commented on #4505
Noticed the pull request was closed accidentally and the branch @HausCloud was working on seems to have been deleted, Is the issue open to work on or is there someone on it already? @Gallaecio

[2020-06-25 10:24] gvonbergen commented on #863
Same issue with IPv6 addresses. Any plan to resolve this?

[2020-06-25 11:36] yilu1015 opened #4647 "Unwanted redirects"
I ask scrapy to use the 'POST' method, but it automatically redirects me to GET. This persists even when I explicitly added REDIRECTS_ENABLED = False in settings.py. Originally, I thought the `302` redirect was an anti-spider response from the server; probably my IP was blocked. But I was able to receive a `200` status code using the `requests` library on Python, all using my current IP.

Why is t

[2020-06-25 12:56] wRAR commented on #4647
You have an extra trailing slash in the URL in the Scrapy code.

[2020-06-25 12:56] #4647 closed

[2020-06-25 13:10] yilu1015 commented on #4647
Thanks for getting back to me so quickly. After removing the slash, I tested again and still can't use Scrapy's POST method correctly. Would it be possible for you to take a look at this again?

[2020-06-25 13:14] wRAR commented on #4647
It works for me as is (after setting USER_AGENT and after fixing the "Spider must return request, item, or None, got 'str'" problem).

[2020-06-25 13:15] yilu1015 commented on #4647
Mea culpa then. I shall look into this. Many thanks again.

[2020-06-25 13:36] #4644 closed

[2020-06-25 19:41] k3kc opened #4648 "Exception leak to start_requests (asyncio-startrequests-asyncgen branch)"
### Description

Despite being handled, exception is further leaked upstream to start_requests. After that some strange exception loop begins.

### Steps to Reproduce

1. in start_requests:
async for item in connect_and_read_websocket():
    ...
2. async def connect_and_read_websocket():
    while True:
        try:
            logger.info("connecting to: %s", WS_URL)
            w = await tornado

[2020-06-25 22:31] elacuesta commented on #4648
I have mixed feeling about this: on the one hand, we are very grateful for the early adoption, this will probably help us improve the feature. On the other hand, I feel like it's a little bit risky to be using code from an unmerged PR in production.
I can't say much about the underlying problem, @wRAR will know more than I do. In the meantime, I can propose a workaround: have you considered starti

[2020-06-26 08:57] wRAR commented on #4641
@gesof can you confirm this was a configuration problem and we can close this?

[2020-06-26 10:50] k3kc commented on #4648
That's ok, I understand the risks of unmerged pulls - was really keen on using it to make the logic beautiful. Thanks for your suggestion - I understand the idea of pushing everything down to parse, but it somewhat defeats the purpose of being elegant :)
Moreover, this solution is not guaranteed to work - I could not reproduce the error with simple division by zero in start_requests either, it wor

[2020-06-26 14:01] gesof commented on #4641
No, I can only confirm that in one configuration it worked. The error above refers to exporting items to S3, so there still is some issue.

[2020-06-26 14:15] wRAR commented on #4648
Does this happen every time "can't connect to websocket" error happens, or only rarely?

The traceback is interesting, as the `w = await tornado.websocket.websocket_connect` line is two frames below the `await asyncio.sleep(5)` line even though in the code they are on one level and in a different order.

[2020-06-26 14:33] elacuesta commented on #4641
This is in fact a configuration issue AFAICT. The exception can be reproduced with the following spider:

[code]

The problem is that `scrapy.pipelines.files.S3FilesStore` does not define any of the supported factory methods (`from_crawler`, `from_settings`) and is instantiated without passing any arguments, hence the "missing 1 required positional argument" message. Moreover, `S3FilesStore` is no

[2020-06-26 14:33] #4641 closed

[2020-06-26 15:18] k3kc commented on #4648
Now when you asked explicitly, I managed to reproduce it, so the answer is definitely not rarely. I just shutdown network interface, and here you are, familiar loop:
[code]

[2020-06-26 22:16] asifmallik commented on #747
@darthbeep and I would like to work on this issue

[2020-06-27 11:46] gesof commented on #4641
In order to clarify: "scrapy.pipelines.files.S3FilesStore" exsists only for being used by FilesPipeline or ImagesPipeline, like a protected class.
And  "scrapy.extensions.feedexport.S3FeedStorage" is used by the Json/CSV/XMl exporters that in turn can be used in my own ItemPipeline [according to the docs](https://docs.scrapy.org/en/2.1/topics/exporters.html?highlight=%22group%20scraped%20items%20t

[2020-06-27 14:26] HenriqueAJNB commented on #4307
I'd like to contribute with this issue. Can I work on it?

[2020-06-29 13:04] Gallaecio opened #4651 "Have tests generate a certificate on-the-fly"
Unless we want to be doing https://github.com/scrapy/scrapy/pull/4650 every year, we should look into making tests generate a fresh certificate at run time.

[2020-06-29 13:46] Gallaecio commented on #3205
I believe at the moment Scrapy takes content type into account to choose the right Response subclass to wrap the response body, and the goal would be to modify this existing code to determine the right content type based on an implementation of https://mimesniff.spec.whatwg.org/, instead of on whatever logic is currently being used.

[2020-06-29 14:04] Gallaecio commented on #747
@asifmallik No idea how @darthbeep is involved here, but feel free.

[2020-06-29 22:14] asifmallik commented on #747
@Gallaecio oh @darthbeep is a friend and we wanted to work on this together

[2020-06-30 17:14] Gallaecio commented on #747
I missed the “and” in the original message :facepalm:

So yes, feel free to give it a try :slightly_smiling_face:

[2020-06-30 19:28] Urahara commented on #4651
We could use [this](https://www.shellhacks.com/create-csr-openssl-without-prompt-non-interactive/) so we can generate without any prompt, where do you think we could put this? I would like to add this functionality.

[2020-06-30 20:00] Gallaecio commented on #4651
I wonder if we could implement it as a pytest fixture. Otherwise, having pytest create the file (overwriting) at the beginning of a test session should do the job; it may be even better, as it’s probably much simpler.

[2020-07-01 08:32] wRAR commented on #4651
I have a small concern that in some environments there will be not enough entropy for doing this quickly, but we'll need to actually check this.

[2020-07-01 11:42] Urahara commented on #4651
I think i know what you mean, doin a litle more research i found this answer: https://stackoverflow.com/a/60804101/9291099, generating programmatically is more safe than using a command :) Can you take a look @Gallaecio

[2020-07-01 14:54] Gallaecio commented on #4651
I don’t think that kind of safety matters here, given the purpose of the certificate. I wouldn’t put too much effort in creating it using a Python library if it can be done easily with a command.

Mind, however, that the command would probably have to be executed from some Python code using POpen (I would check pytest documentation for possible places where to put such a call).

[2020-07-01 22:11] victor-torres opened #4654 "Blank lines after import statements"
This issue was originated from a [discussion](https://github.com/scrapy/scrapy/pull/4434/files#r446676616) on pull request #4434.

## External resources

This is what the [Blank Lines](https://www.python.org/dev/peps/pep-0008/#blank-lines) section from the PEP 8 proposes:

In the same line as PEP 8, [Google's Python Style Guide](https://google.github.io/styleguide/pyguide.html#35-blank-lines) also

[2020-07-02 12:40] Tasaqi commented on #3560
![image](https://user-images.githubusercontent.com/38526341/86359825-f202cd00-bc8a-11ea-8541-132de97c6c12.png)

Scrapy stuck while crawling. I used multiprocessing

Here is code

![image](https://user-images.githubusercontent.com/38526341/86359972-28404c80-bc8b-11ea-9e48-394840eaf31a.png)

[2020-07-02 15:59] nb2838 opened #4655 "Documentation describing how to setup environment for scrapy contributions"
Hey! I recently started to contributing to scrapy and noticed that there isn't any documentation on how to set-up the environment to edit the code in your own machine (setting up a virtual environment, building, etc). I think this would make the process a little bit more user friendly for new contributors. I was wondering if you thought this was a good idea and perhaps I could edit the docs https:

[2020-07-02 16:05] Gallaecio commented on #4655
I think it makes sense. But I would keep the documentation changes as short as possible while being useful, and maximize references to official, external sources.

[2020-07-02 16:34] elacuesta commented on #4655
There's already #4452, is that similar to what you were thinking @nb2838?

[2020-07-02 18:05] nb2838 commented on #4655
Yes! That is actually what I had in mind. Sorry for not seeing it before.

[2020-07-02 19:09] Gallaecio commented on #4655
https://github.com/scrapy/scrapy/pull/4452 is a pull request, and it may not even be merged, so I think there is still value in having a ticket. So thanks! :slightly_smiling_face:

[2020-07-02 19:10] Gallaecio commented on #4655
Oh, there is #4451, don’t mind me :facepalm:

[2020-07-02 19:10] #4655 closed

[2020-07-03 16:05] ajaymittur28 commented on #4628
This can be achieved by overriding `media_downloaded` in the child class if I understood your issue correctly. You can use `process_item` to maybe set the item as a class attribute in the child and access it from `media_downloaded` using `self.item`.

[2020-07-05 17:39] wangjiahong666 opened #4656 "Scrapy spider works on MacOS Catalina 10.15.4(scrapy2.1.0), does NOT work on Ubuntu 19.10 (scrapy 1.7.3)"
Hello,

I have a scrapy spider which works well on MacOs Catalina 10.15.4(scrapy2.1.0), but the spider does not work on  Ubuntu 19.10 (scrapy 1.7.3). I feel it might be the version reason.

Error log:

`2020-07-05 17:30:59 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6023
2020-07-05 17:30:59 [scrapy.core.engine] ERROR: Error while obtaining start requests
Traceback (most

[2020-07-05 21:11] imsahil007 opened #4658 "Use black python formatter"
Hello Everyone! I hope you are doing okay!
I was looking at the source code and I noticed that the code indentation is poor. So, I suggest using code formatted and create tests for same. I like how "black" works. Tell me what do you think about this?
I am just a beginner to open source. Healthy criticism will be appreciated!

[2020-07-06 03:50] laggardkernel commented on #2969
@kmike When first <kbd>Ctrl-C</kbd> is triggered, does the response go through Pipeline?

[2020-07-06 09:50] Gallaecio commented on #4656
As far as I can tell from the traceback, the error is specific to your spider. Please, provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) if you believe this is an error in Scrapy.

[2020-07-06 10:01] Gallaecio commented on #4658
This is something we have discussed internally, and at the time the consensus was not to switch to Black. But we have been making style improvements to the code base for months.

Most of the code passes Flake8 checks (exceptions are configured in https://github.com/scrapy/scrapy/blob/master/pytest.ini), and we recently merged [Pylint checks](https://github.com/scrapy/scrapy/pull/3727), which we’ll

[2020-07-06 11:07] Gallaecio opened #4660 "Replace Headers.to_unicode_dict with Headers.to_str_dict"
The latter would be more consistent, now that we’ve dropped Python 2 support.

Related to #4547

[2020-07-06 11:08] #4660 closed

[2020-07-06 17:34] dhosterman opened #4662 "scrapy startproject alters executable permissions in local virtualenv"
### Description

When running `scrapy startproject` after creating a virtualenv in .venv in the project directory, the executable files have their permissions changed.

### Steps to Reproduce (using Poetry)

1. Enter new project directory
2. `poetry init -n`
3. `poetry config virtualenvs.in-project true --local`
4. `poetry add scrapy`
5. `poetry shell`
6. `scrapy startproject scraper .`
7. `scrapy

[2020-07-06 19:42] elacuesta commented on #4662
Ouch, seems like the issue appears even earlier. I think this is related to #4604.

[code]

[2020-07-06 21:16] MFax commented on #1823
Hi,

is there a way to also use these passed start_urls in the LinkExtractor? So that I can extract all the internal links from the websites I pass?

Thanks in advance

[2020-07-07 09:09] otakutyrant commented on #3331
I have encountered this issue too. My relative proxy environment variable is `no_proxy=/var/run/docker.sock`, and after unsetting this one the issue is solved. So as the poster said, looks like proxy code does not handle `no_proxy` correctly.

[2020-07-07 11:09] Gallaecio opened #4664 "Remove Command._copytree from startproject.py"
Python 3.8 introduced `dirs_exist_ok`, which makes our method unnecessary.

[2020-07-07 11:57] Gallaecio opened #4665 "startproject only allows creating the project on an existing folder if the path is specified with an invalid module name"
[code]

[2020-07-07 16:10] rajat315315 commented on #4665
On master branch, I am able to startproject on existing_folder successfully.
[code]

[2020-07-07 23:43] asifmallik commented on #747
We have been looking into the codebase and past attempts to integrate SOCKS5 proxies into Scrapy. Every solution we looked at that does not use some hacky method (for example by using delegate and privoxy) seems to use txsocksx. However, the problem with using txsocksx seems to be that it is Python 2 only. It seems that any method would require writing a new download handler. So, we thought of thr

[2020-07-08 07:13] Gallaecio commented on #3331
The code probably does not expect a file path in that variable. I guess we should silently ignore those.

[2020-07-08 07:18] Gallaecio commented on #4665
Weird. I can reproduce it with `master` as well:

[code]

[2020-07-08 07:41] Gallaecio commented on #747
3 is indeed a bad idea because of concurrency. In Scrapy, while some responses are being downloaded, your code can be handling one of the responses that has already been received. If you resolve a request synchronously, nothing else can happen from the moment the request starts to the moment the response is received in full, negating one of the main benefits of Scrapy. For a better understanding o

[2020-07-08 15:44] tadejsv opened #4667 "List of fields incorrectly accessed for dataclass items"
### Description

If I make a `dataclass` item and want to export to csv, I get this error:

[code]
The problem stems from here

https://github.com/scrapy/scrapy/blob/master/scrapy/exporters.py#L243-L253

There should be an additional if case checking if the item is of type dataclass, and then accessing the fields differently, perhaps as
[code]

[2020-07-08 16:42] elacuesta commented on #4667
Indeed, seems like we missed that one in #3881. Thanks for the report.

[2020-07-09 08:46] alex-ber opened #4670 "Documentation of FEED_URI_PARAMS is absent"
See https://docs.scrapy.org/en/latest/topics/feed-exports.html

[2020-07-09 08:50] alex-ber opened #4671 "Add docs for FEEDS.uri_params and FEED_URI_PARAMS"
In https://docs.scrapy.org/en/latest/topics/feed-exports.html#feeds

There is missing entry

`uri_params: falls back to FEED_URI_PARAMS`

Also FEED_URI_PARAMS setting description is missing (see https://github.com/scrapy/scrapy/issues/4670)

Here

    format: the serialization format to be used for the feed. See Serialization formats for possible values. Mandatory, no fallback setting

    encodin

[2020-07-09 12:19] elacuesta commented on #4671
Hi @alex-ber, thanks for the report. We were [aware of the problem](https://github.com/scrapy/scrapy/pull/3858#issuecomment-513486600) but were not actively tracking it, so thanks for opening this issue.
As I said in the linked comment, I think it might be good to revisit #3873 before tackling this, but it might not be necessary.
One thing I will do though is close #4670, we can keep track of both

[2020-07-09 12:20] elacuesta commented on #4670
Keeping track of this at #4671

[2020-07-09 12:20] #4670 closed

[2020-07-09 14:45] nb2838 commented on #3205
I have some progress with the algorithm but it seems that just implementing what is in the specification is gonna be quite long. Would it be better if I do maybe one or two PR requests when I have implemented most or all of the algorithm and integrated it with scrapy or a couple more small PR requests as I go along?

[2020-07-10 03:41] sharidas commented on #4665
Not sure if I am missing any steps ( as I am new to the project). In the master branch I did the following:
[code]
Nothing pops off my head. For a newly created directory I am able to execute the startproject with the templates. But when I switch inside the existing directory and execute the same error mentioned in the issue is shown up. Kindly help me know if this is the problem or my findings ar

[2020-07-10 22:03] wangjiahong666 commented on #4656
Hi, @Gallaecio
Thank you for your reply. You are right, the error is specific to my spider. It has been solved now.

[2020-07-10 22:03] #4656 closed

[2020-07-11 06:48] #4317 closed

[2020-07-11 19:21] SilentGene opened #4675 "lost "</link>" by XMLFeedSpider"
### Description

XMLFeedSpider is always losing `</link>` tags in `parse_node`

### Steps to Reproduce

my code:
[code]
**Expected behavior:** [What you expect to happen]
The `<link>...</link>` should be printed and extracted

**Actual behavior:** [What actually happens]
The `</link>` tags were ignored by the spider:
[code]
So the `item['link']` cannot be got:
[code]
**Reproduces how often:** [Wha

[2020-07-11 20:06] SilentGene commented on #4675
To make it simple, I also tried the following code to parse a local file:
Local file:
[code]
And my spider:
[code]
It returns:
[code]

This is quite unreasonable. As you can see, the spider ignores `</link>` but works fine with `</linkaaa>`. What is happening here?

[2020-07-12 18:19] rajabalaji-mp commented on #2808
Trying to install. Same error.

[2020-07-13 06:03] wRAR commented on #4675
The HTML `<link>` tag cannot have text, so `lxml.html.HTMLParser` removes the erroneous closing tag:

[code]

You shouldn't parse valid XML with a HTML parser, not sure why Scrapy supports that. I think we should add a warning to the docs.

[2020-07-13 10:22] Gallaecio commented on #3205
Creating a separate library that can be used in Scrapy is definitely an option, probably the best for the Python community as a whole, as there is some reusability potential.

There is https://github.com/corona10/mimesniff , although at the moment I think the implementation support may not be complete, and the API may not be Scrapy-friendly.

[2020-07-13 10:37] Gallaecio commented on #4675
It looks like Scrapy is creating an HTML selector instead of an XML one. It may be because Scrapy is failing to detect the response as XML, or that Scrapy loads all responses as HTML.

Workaround:

[code]

And use `selector` instead of `response` to extract data.

[2020-07-13 10:39] wRAR commented on #4675
It was requested by `iterator = 'html'`

[2020-07-13 10:41] Gallaecio commented on #4675
:open_mouth:

My lack of familiarity with `XMLFeedSpider` really shows :disappointed:

[2020-07-13 11:01] #4662 closed

[2020-07-13 11:01] #4664 closed

[2020-07-13 11:38] Gallaecio commented on #4551
Maybe we should write some common method for warning checking that outputs the unexpected warnings, and change tests to use them.

I also wonder if it would be OK to only check that the expected warning is there, and stop checking that nothing else is. We would avoid these random issues, but we may miss future issues about unexpected warnings being logged affecting users (not just tests).

[2020-07-13 11:55] SilentGene commented on #4675
hi @wRAR , thanks for your comment. Yeah the iterator that I choose may cause the problem, but `html` is the only iterator that I found could parse the feed.

Here is the code (using `iterator = 'xml'`):
[code]
But it showed:
[code]
Do you have any suggestions on this? Thanks in advance!

[2020-07-13 13:50] wRAR commented on #4675
It's because of namespaces, you can register a prefix for "http://purl.org/rss/1.0/" and use it in `itertag`, as documented at https://docs.scrapy.org/en/latest/topics/spiders.html#scrapy.spiders.XMLFeedSpider.namespaces

[2020-07-14 01:20] jvanz opened #4677 "Pass item in FilesPipeline method"
## Summary

One paragraph explanation of the feature.
When called the method to define the path where the file should be stored it would be nice if the method receive the item as parameter. Then the method can dynamically define where the item should be stored based on the item properties.

## Motivation

I was working in the https://github.com/okfn-brasil/diario-oficial and we would like to store

[2020-07-14 04:56] laggardkernel opened #4678 "Enable a middleware only for specific spider?"
Sorry, settings are not correct in my spider.

----

## Summary

`DOWNLOADER_MIDDLEWARES` in spider's `custom_settings` doesn't take effect. Can a middleware be enabled only for specific middleware.

## Motivation
I tried to use `scrapy-selenium` to parse webpage with dynamically loaded content. I organized my project with different spiders for different sites, and only some of the spiders need to

[2020-07-14 06:06] wRAR commented on #4678
It usually does.

If you think there is a bug in Scrapy, please describe how to reproduce it.

[2020-07-14 08:53] Gallaecio commented on #4678
If this issue only happens with the scrapy-selenium downloader middleware, consider closing this issue and instead opening an issue upstream at https://github.com/clemfromspace/scrapy-selenium

[2020-07-14 09:20] #4611 closed

[2020-07-14 09:21] #4625 closed

[2020-07-14 13:49] #4678 closed

[2020-07-15 10:02] wRAR commented on #4658
I've just run `black -S -l 119 scrapy tests` on the master and pushed the result to https://github.com/wRAR/scrapy/commit/1eadb1875a4dca6b209d9c1362407e7fe787ebe6 so anyone curious can preview the changes.

[2020-07-15 10:08] #4005 closed

[2020-07-15 11:21] Gallaecio commented on #4658
Looks like black does not undo string splits as I would expect: https://github.com/wRAR/scrapy/commit/1eadb1875a4dca6b209d9c1362407e7fe787ebe6#diff-bd207f7ef310a40189c53674dde833fdR141

[2020-07-16 11:39] svnshikhil opened #4680 "twisted.internet.error.TimeoutError causing slowness in the crawler"
We have a crawler running on our 2GB, 2 CPU ubuntu machine, for the past few months we have noticed a large number of twisted.internet.error.TimeoutError in the crawler stats, which is causing slowness in our entire crawl process. Also, we noticed that this is happening only when we crawling sites with large contents In it and crawler is using only 50% (1 core ) of the CPU in the system.

I tried

[2020-07-16 11:44] Gallaecio commented on #4680
Do the URLs that cause the timeout errors work if run separately?

[2020-07-16 12:46] noviluni opened #4684 "Should `scrapy.utils.python.WeakKeyCache` be deprecated?"
## Summary
I can't find any reference to `scrapy.utils.python.WeakKeyCache` (except in tests) and I think that it should be deprecated.

## Motivation
Keeping non-used and non-documented code makes the codebase harder to maintain.

## Describe alternatives you've considered
As it's tested we could keep it, but I don't think it's a good idea.

[2020-07-16 13:11] #685 closed

[2020-07-16 14:53] wRAR commented on #4684
Looks like its (last) usage was removed in https://github.com/scrapy/scrapy/commit/332bf3b6b7bd238df5e8be601ee0686231a6776c

[2020-07-16 18:28] fellipegpbotelho commented on #3590
Any update on this?

[2020-07-17 08:25] noviluni commented on #1448
I didn't test it properly, but I used a custom cookies middleware to handle with this scenario:

[code]

[2020-07-18 05:44] linupychiang commented on #4614
Thank you very much, I will look for other reasons.

[2020-07-20 03:12] Jgaldos commented on #3851
@Gallaecio Can I try this bug?

[2020-07-20 09:40] jgnan commented on #4582
emm, Sorry for very late response, after many times struggle I'm finally design to change another solution then using it with django + mongoid, as they have conflict with each other due to this openssl version issue.

[2020-07-20 10:17] netcaf commented on #802
Hello,

How about a hacking method through a downloader middleware?

1. Create one custom middleware
`logger = logging.getLogger(__name__)

class CustomDownloadDelayMiddleware:
    _CUSTOM_DOWNLOAD_SLOT = '__custom_download_slot_{}__'
    def __init__(self, crawler):
        self.crawler = crawler
        crawler.signals.connect(self._request_scheduled, signal=signals.request_scheduled)
        cr

[2020-07-21 23:25] Cally99 commented on #1203
@xpacket @Scattel2z did you fix this issue? I'm after encountering this bug using scrapy and scrapyd. Do you remember the fix?

[2020-07-22 13:01] Rossil2012 opened #4689 "Customized dupefilter slows down item pipeline's speed"
### Description

When using scrapy-redis or self-defined dupefilters, the speed of item pipeline will be extremely slow. It's not Redis's problem because when I move the deduplication to DownloadMiddleware (check url finger in process_request, add url finger in process_response), the speed of item pipeline returns to normal. Here are two links recording detailed information.
[https://github.com/rm

[2020-07-22 15:23] elacuesta commented on #4689
Please share a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example), it's hard to debug an issue without any code.

The following is a simple snippet that could be used as a template. It scrapes 111 items, filtering out 1957 duplicated pages. In my tests, the elapsed time goes from ~5s to ~30s if the `time.sleep` line is uncommented.

[code]

[2020-07-22 18:50] mdieske commented on #4233
Hi,
I'm looking for ways to contribute to OSS-projects. I found this issue and could help out with a translation to German as a start.

[2020-07-22 19:25] noviluni commented on #4233
Hi @mdieske ! That would be really great! 😄

[2020-07-23 00:47] Rossil2012 commented on #4689
`import hashlib
from redis import StrictRedis
from scrapy.dupefilters import RFPDupeFilter
import os
import redis
from w3lib.url import canonicalize_url
from itemadapter import ItemAdapter
import pymongo

class URLRedisFilter(RFPDupeFilter):
    def __init__(self, path=None, debug=False):
        RFPDupeFilter.__init__(self, path)
        self.dupefilter = UrlFilter()

    def request_seen(self, r

[2020-07-23 02:02] asevans48 opened #4692 "Make crawlers executable from an import in another folder or module"
## Summary

The current way of executing scrapers from another folder or module is incredibly convoluted. Packaging scrapers is not always the best route either.

For instance, I have an aggregation system running hundreds of crawlers for websites and APIs. This is a standard project running much as the ones I use to perform ETL work in production. It would be great to be able to modify the projec

[2020-07-23 09:36] wRAR commented on #4689
Slowing is expected when you use long blocking operations.

[2020-07-23 09:56] wRAR commented on #4692
Can you please provide a simplified example of code layout that you want to use but currently can't?

[2020-07-23 13:58] elacuesta commented on #4689
As @wRAR says, blocking operations such as mongo's `insert_one` are expected to slow down the process. You should consider switching to a library that supports coroutine syntax (`pymongo` does not, AFAIK) or returning a `Deferred` from the pipeline's `process_item` method.

[2020-07-23 14:41] Rossil2012 commented on #4689
Thanks for your help. But I'm still confused because when I place the check_url and add_url in the DownloadMiddleware but not the dupefilter, the operation with MongoDB is much faster.

[2020-07-23 14:43] wRAR commented on #4689
How did you measure that?

[2020-07-23 15:04] Rossil2012 commented on #4689
I count down 10 minutes for each methods, when using dupefilter only 50 items are scraped and stored in MongoDB, while using the other method there are more than 1000 items, which is almost the same as the speed when I didn't write any dupefilter or middleware. Anyway, when I press CTRL-C and see from the logger info that all the requests are finished and there are only item pipeline are excuting,

[2020-07-23 16:58] asevans48 commented on #4692
Not sure if I currently cannot. Got it to find the spider but there is still an unknown issue related to a _builtins.AssertionError_. This all just ran out of the box from the scraper directory even when combining with Selenium over a multiprocessing queue. My goal is to have 2000-3000 scrapers running, not all in Scrapy but most will be or there will be a combination of Scrapy and Selenium.

Ok.

[2020-07-23 19:11] SilentGene commented on #4675
hi @wRAR , thanks for your comment. I've already tried using `response.selector.remove_namespaces()` in the last example, but it didn't work.
Following your suggestion, I tried registering the prefix (btw how to register "http://purl.org/rss/1.0/"):
[code]
However, it reported:
[code]
What should I do next?

[2020-07-24 00:57] Rossil2012 commented on #4689
Additionally, I have tried deferToThread for process_item method in Pipeline, but it doesn't work.

[2020-07-24 12:52] wRAR commented on #4692
Can you please show the error?

[2020-07-24 19:19] mdieske commented on #4233
Hi @noviluni,

I'm done. Here is the link to the [entry in German Wikipedia](https://de.wikipedia.org/wiki/Scrapy_(Software)).

[2020-07-25 07:42] AKSHAYSHARMAJS commented on #4497
I want to work on this issue. I tried running test using tox locally on windows which doesn't show this warning but azure pipelines do capture this warning.

[2020-07-26 15:55] sqyqyq opened #4696 "<twisted.python.failure.Failure twisted.web.http._DataLoss: Chunked decoder in 'CHUNK_LENGTH' state, still expecting more data to get to 'FINISHED' state.>]"
Hi,
   I am recently using scrapy. but when i am using proxy pool with it there is this kind of error, it is not happens in every request, just sometimes.

`    <twisted.python.failure.Failure twisted.web.http._DataLoss: Chunked decoder in 'CHUNK_LENGTH' state, still expecting more data to get to 'FINISHED' state.>]`

And looks like every time it happens 1150 times in my spider, the spider stops a

[2020-07-27 04:10] mzmmoazam commented on #3077
Hi, I was working with a huge html file [Kashmirizaban.html.zip](https://github.com/scrapy/scrapy/files/4979891/Kashmirizaban.html.zip)

I was trying to extract using this selector `response.xpath('//table[@width="717"]')` but it did not fetch all the tables. I tested the xpath on chrome it gave more results than above.

I am not sure if this is due to the above bug or is there a solution for this

[2020-07-27 06:26] Gallaecio opened #4697 "Warn about br handling if brotlipy is not installed"
Currently, the HTTP compression middleware sets the `Accept-Encoding` header to `gzip,deflate` or `gzip,deflate,br` depending on whether or not [brotlipy](https://pypi.org/project/brotlipy/) is installed.

However, if the user manually sets the `Accept-Encoding` header to a value containing `br`, and does not have `brotlipy` installed, the server can send a response compressed with `br` and Scrapy

[2020-07-27 06:31] Gallaecio opened #4698 "Make brotlipy a hard Scrapy dependency"
When we added support to Scrapy (https://github.com/scrapy/scrapy/pull/2535), we did so without making [brotlipy](https://pypi.org/project/brotlipy/) a hard dependency, seemingly because there seem to be some potential for installation issues.

However, given that most web browsers support Brotli (`br`) compression out of the box, I think we should consider revisiting that. It would also slightly

[2020-07-27 07:17] noviluni commented on #4233
great! thank you @mdieske!! :100:

[2020-07-27 08:49] wRAR commented on #4689
It's unfortunately too complicated to replicate your setup and you didn't provide a minimal reproducible example so we will need to guess what happens.

Have you checked that they are stored or just that Scrapy said they were scraped?

OTOH synchronous operations don't necessarily lead to significant delays so it's plausible that the Mongo pipeline doesn't cause problems but the Redis dupefilter d

[2020-07-27 09:29] wRAR commented on #4698
Related: #4267

[2020-07-27 12:35] MartinBorcin opened #4699 "Requests timing out when setting larger number of CONCURRENT_REQUESTS"
Hello,
I wanted to build a scrapy spider for broad-crawling of the ".sk" domain, So I decided to start by downloading the front-page for every domain in a publicly available list of registered .sk domains. I set the spider up with custom_settings as recommended here (https://docs.scrapy.org/en/latest/topics/broad-crawls.html). However, whenever I increase the number of CONCURRENT_REQUESTS I start

[2020-07-28 01:40] Rossil2012 commented on #4689
Yes, I checked MongoDB directly.

I'm sorry that I can't provide you with my full codes now because it's part of my class project and my teacher asks us to keep it private until the class is over and I use a hacked version of a parsing package, it's way too much to be placed here. But the only differences between the real codes and the above one is that I'm scraping Wikipedia with its API, but not

[2020-07-28 05:04] kshitijcode commented on #4684
I can clean this up. Do I assign this to myself?

[2020-07-28 08:31] scrapenetwork opened #4700 "Scrapy does not respect error status code 407"
Scrapy does not respect handling error code 407
If retry middleware is on, it will always retry this error code.
If retry middleware is off,it will close with connection failed 407 proxy auth error.

(Ive tried with most error codes and this is the only one unable to handle)

Ive doubled checked the proxies when this occurs and proxies working fine . Do not know why scrapy at times  gives off inco

[2020-07-28 09:15] #4667 closed

[2020-07-28 10:25] wRAR commented on #4700
Sorry, what do you mean by handling?

[2020-07-28 10:49] Gallaecio commented on #802
I don’t think that per-delay-length slots solve the per-request delay issue.

[2020-07-28 11:04] Gallaecio commented on #4497
It looks related to `os` functions, which may return bytes for things like `getcwd`. But I cannot tell more without looking into the issue in detail myself. I do find strange that you do not get those warnings on Windows locally, though.

[2020-07-28 11:06] Gallaecio commented on #4696
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-07-28 11:06] #4696 closed

[2020-07-28 11:12] Gallaecio commented on #4699
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

PS: It sounds like you may be overloading the target server.

[2020-07-28 11:12] #4699 closed

[2020-07-28 11:13] #4393 closed

[2020-07-28 11:16] Gallaecio commented on #4689
Minimal reproducible example means the opposite. You provided too much code. We are asking you for a stripped down version of your code, removing anything that is not necessary to reproduce the issue.

[2020-07-28 11:17] Gallaecio commented on #4684
@kshitijcode No need to ask first, feel free to go ahead! :slightly_smiling_face:

[2020-07-29 05:01] kshitijcode commented on #4684
@Gallaecio @wRAR
I have raised the PR with the necessary changes: https://github.com/scrapy/scrapy/pull/4701
But I am not sure what is failing the tests. Tests pass successfully locally after adding
`-W ignore::pytest.PytestDeprecationWarning.` to tox.ini

[2020-07-29 10:53] wRAR opened #4702 "Tests fail because of pytest 6.0.0"
See https://travis-ci.org/github/scrapy/scrapy/builds/712802460

[code]

[2020-07-29 10:55] wRAR commented on #4702
The changelog says "Following our plan to remove deprecated features with as little disruption as possible, all warnings of type PytestDeprecationWarning now generate errors instead of warning messages."

[2020-07-29 10:57] wRAR commented on #4702
The warning is fixed in sybil 1.3.1, do we want to pin it or require pytest < 6? We already require sybil >= 1.3.0

[2020-07-29 11:00] wRAR commented on #4684
@kshitijcode the test failure is unrelated to your changes, I've created #4702 to track it

[2020-07-29 11:02] wRAR commented on #4702
OTOH I guess newer runs will just use the latest sybil.

[2020-07-29 11:35] kshitijcode commented on #4702
If it runs the latest Sybil , I guess the changes in  https://github.com/scrapy/scrapy/issues/4684 should have ideally used the latest version of Sybil ?

[2020-07-29 11:38] siva432 commented on #4307
hello , I am interested to contribute to this issue.

[2020-07-29 11:42] wRAR commented on #4702
@kshitijcode 1.3.1 was released only hours ago. I've restarted the tests for your PR, let's see what happens.

[2020-07-29 18:03] #4250 closed

[2020-07-30 06:27] wRAR commented on #4702
As it's not a problem in Scrapy I'll close this.

[2020-07-30 06:27] #4702 closed

[2020-07-30 07:00] wRAR commented on #4689
This is synchronous too.

[2020-07-30 12:47] CodeWithAwais opened #4706 "Ignoring encoding with SCRAPY"
I was scraping a Danish website that has Unicode characters. I tried with scrapy but the output is not the same as the website. It's replacing special characters with something else. I tried it with Selenium and used UTF-8 encoding and still didn't work but when I removed the UTF-8 encoding, it worked perfectly fine.

So, I would like to know that is there a way to ignore any type of encoding with

[2020-07-30 14:56] wRAR commented on #4706
You provided the code but didn't explain what problems do you have with it. It looks correct to me.

[2020-07-30 15:25] wRAR commented on #4706
You didn't explain in what sense the output is broken. The same selectors give me correctly encoded output in `scrapy shell`.

[2020-07-30 15:35] CodeWithAwais commented on #4706
@wRAR I was scraping a page in the Danish Language. I am having trouble with the output. The output contains many special characters like (Ã¥, Ã, Ã¥, Ã¦) and it's not like the one on the page. I am facing this problem when exporting the data to the CSV file.

[2020-07-30 15:37] wRAR commented on #4706
This works here fine. Please provide steps to reproduce the problem.

[2020-07-31 19:25] yezz123 opened #4709 "proxy support"
Does Scrapy work with socks4/5 proxies?

[2020-08-01 08:49] Gallaecio opened #4710 "Test the upcoming pip dependency resolver in CI"
From pypi-announce@python.org, about pip 20.2:

<https://pip.pypa.io/en/latest/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020>.

ready for everyday use*.

[2020-08-01 09:40] AKSHAYSHARMAJS commented on #4497
I also find that strange. I have shared my log file of `tox` command maybe that will help.
[output.txt](https://github.com/scrapy/scrapy/files/5010152/output.txt)

[2020-08-01 11:48] alok87 commented on #2115
For people facing similar issues in Ubuntu14.04
Locking to this version works `cryptography==2.6.1`

[2020-08-01 14:21] AKSHAYSHARMAJS commented on #4497
Please check the azure pipelines builds in #4646 don't show these warnings.

[2020-08-03 07:22] svnshikhil commented on #4680
Yes, they are not an actual timeout. I tried them separately and they are working fine

[2020-08-03 13:17] wRAR commented on #4709
No, see #747. Please also note that this is an issue tracker, not a place to ask questions. Please use community resources for that.

[2020-08-03 13:17] #4709 closed

[2020-08-03 13:26] wRAR commented on #4710
I wonder how can we pass that via pytest?

[2020-08-04 03:36] rajesh-5445 opened #4711 "Unable to invoke instance method from scrapy subclass"
I might want to call/invoke an instance method (parse_next_page) from my scrapy sub class, but it does not do so. Can you please hep me out?

Code:
import scrapy
class QuotesSpider(scrapy.Spider):
    name = 'quotes'
    start_urls = [
        'http://quotes.toscrape.com/tag/humor/',
    ]

    def parse(self, response):
        for quote in response.css('div.quote'):
            yield {

[2020-08-04 06:56] wRAR commented on #4711
You called the function successfully, you just ignored its result. You need to use `yield from` or a loop to process the results from `parse_next_page`.

[2020-08-04 06:56] #4711 closed

[2020-08-04 18:34] #4547 closed

[2020-08-05 09:52] yash-sethia commented on #4216
Is this issue still open ? If Yes, then can I would like to contribute to it. I am starting my journey as a open source contributor I hope that's fine.

[2020-08-05 10:06] akamanzi commented on #4216
@yash-sethia , i haven't looked at this issue for a while. currently busy with school dissertation. you can give it a try, i suggest looking at the recommendations @Gallaecio made in the pull request i initially created (#4257), review them and build on top of that.

[2020-08-05 12:48] #4684 closed

[2020-08-05 13:22] Gallaecio commented on #4307
@siva432 Sorry, this issue is already taken (#4307). The changes have not been merged yet simply because first we need to drop Python 3.5 support in Scrapy.

[2020-08-05 14:21] Gallaecio commented on #4497
I can see them in the logs of the [latest builds](https://scrapinghub.visualstudio.com/scrapy/_build?definitionId=1&_a=summary&repositoryFilter=1&branchFilter=7%2C7%2C7%2C7%2C7%2C7).

[2020-08-05 14:39] Gallaecio commented on #4680
Oh, I see you are using Splash. Is the issue reproducible if you do not use Splash?

If so, it’s possible that your concurrency is too high for a single Splash instance, or that you need to configure your Splash instance to support higher concurrency. In any case, the issue would not be related to Scrapy itself.

[2020-08-05 14:44] Gallaecio commented on #4710
I think we could set Tox’s `install_command` (https://tox.readthedocs.io/en/latest/config.html#conf-install_command) for jobs running the latest versions of everything. If there’s a failure, the whole job would fail. So, if it does not, we are OK.

[2020-08-05 15:10] FlorianBruniaux commented on #3321
An other fix from https://stackoverflow.com/questions/41819592/scrapy-not-scrape-page-if-subdomain-have-underscore

[code]

[2020-08-05 15:44] tellts opened #4713 "How to install with Python 3.4.3 (in Windows XP 32 bits)?"
Hello. I have problems.
`Microsoft Windows XP [Версия 5.1.2600]
(С) Корпорация Майкрософт, 1985-2001.

C:\Documents and Settings\ia>pip install scrapy==1.7.4
Collecting scrapy==1.7.4
  Downloading https://files.pythonhosted.org/packages/dd/4f/640343805541c782ee49
b14055a85da816cc118a8f48d01b56d2e5d12bf1/Scrapy-1.7.4-py2.py3-none-any.whl (234k
B)
     |████████████████████████████████| 235kB 211kB/

[2020-08-06 06:22] wRAR commented on #4713
This is an issue tracker for Scrapy and the problem you have is not related to Scrapy but to your ancient OS and/or Python.

[2020-08-06 06:22] #4713 closed

[2020-08-06 07:36] nareto commented on #2594
has any work been done on this? How am I supposed to develop a scrapy class in a notebook if for each modification I have to restart the kernel?

[2020-08-06 10:20] lonelyPoker commented on #4485
1. Command line mode
 scrapy crawl spider_name
Add the following code in settings.py
`from twisted.internet.asyncioreactor import install
install()
`

2. Executed by CrawlerProcess,Add the following code to the first line
`from twisted.internet.asyncioreactor import install
install()`

A dynamic modified reactor cannot be modified in the Scrapy framework.
@elacuesta @Carrislol

[2020-08-06 11:10] Gallaecio opened #4715 "Document Windows installation with pip"
While it’s OK to recommend Anaconda, we still should provide documentation on the `pip` installation method for people that prefer to take that route, including the installation of the required compiling tools.

[A recent Reddit entry covered the required steps](https://www.reddit.com/r/scrapy/comments/hzgtwt/how_to_install_scrapy_using_pip_for_python3_in/).

[2020-08-06 13:17] alfredsasko commented on #2007
Hi @elacuesta I tried your code using scrapy 2.3.0 and got NotImplemented error when I modified the settings using:
`TWISTED_REACTOR = "twisted.internet.asyncioreactor.AsyncioSelectorReactor"`

This is my spider:
`import logging

import websockets
from scrapy import Spider

logging.getLogger('websockets').setLevel(logging.INFO)

class CoinWebSocket(Spider):
    name = 'coin_websocket'
    start_ur

[2020-08-07 19:02] AKSHAYSHARMAJS commented on #4715
I would love to work on this issue :)

[2020-08-10 05:33] themagicalmammal commented on #2115
How to fix

Collecting pyaudio
  Using cached https://files.pythonhosted.org/packages/ab/42/b4f04721c5c5bfc196ce156b3c768998ef8c0ae3654ed29ea5020c749a6b/PyAudio-0.2.11.tar.gz
Building wheels for collected packages: pyaudio
  Running setup.py bdist_wheel for pyaudio ... error
  Complete output from command /usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-qzr8qlsr/pyaudio

[2020-08-10 11:18] #4222 closed

[2020-08-10 11:51] alfredsasko opened #4717 "Request cookies not updated with values from previous response"
### Description

[Description of the issue]

### Steps to Reproduce

1. Create 2 conda environments one scrapy160 with scrapy 1.6.0 version installed and scrapy230 with scrapy 2.3.0. version installed.
2. `conda activate scrapy160`
3. `scrapy startproject test_login`
4. `cd test_login`
5. `scrapy genspider login quotes.toscrape.com/login`
6. Adapt login.py

[code]
7. `scrapy crawl login`
8. `conda

[2020-08-10 12:07] Gallaecio commented on #2007
@alfredsasko Is this [using Python 3.8 and Windows](https://bugs.python.org/issue37373)?

[2020-08-10 12:20] Gallaecio commented on #4717
Thanks for the detailed report.

[2020-08-11 10:00] Gallaecio commented on #1866
Since we do not have to choose one or another, I wonder if we should not just close this issue, and allow contributors to introduce `boto3` as a dependency if they wish to fix issues or introduce enbhancements.

[2020-08-11 12:12] #4628 closed

[2020-08-11 12:12] #4677 closed

[2020-08-11 17:19] emadboctorx opened #4719 "Scrapy shell works with splash settings on macOS, the spider fails"
I'm trying to scrape the content from this [link][1] on my macOS, using `scrapy` with `scrapy_splash` settings and `BeautifulSoup` I followed the instructions in the [documentation][2]

* I tested every single command in scrapy shell and each works perfectly fine, tested on several pages. when I run the spider with the same commands, it fails to detect any of the items.

`settings.py`

    BOT_NAM

[2020-08-11 18:21] soid opened #4720 "Smarter generator check for combined yield/return statements: ignore nested functions"
## Summary
Currently, if spider methods are generators that yield results and contain nested function, then the following warning is issued:

[code]

The example of a simple spider that results in the warning:
[code]

I know it's a bit artificial example as the nested function can be moved, but there is nothing wrong with nested function conceptually.

## Motivation

I have a midsize spider functi

[2020-08-12 01:40] scrapenetwork commented on #4700
What i mean is , enter a working username/password proxy and input the incorrect password.

Scrapy will return error 407

In settings allows http error code 407
Spider handle error code [407]
If response.status etc etc do something

Scrapy does not respect this and will retry, close and fail with connection error 407 .

Should be able to respect the error status code the same  as say, 403

Example

[2020-08-12 03:07] kenfehling commented on #4087
I also just ran into this issue. You're right, the regular expression simply looks for the presence of the domain anywhere in the URL. I'm not sure if this was done for a specific reason? This is the code in question:
https://github.com/scrapy/scrapy/blob/master/scrapy/spidermiddlewares/offsite.py#L72

[2020-08-12 03:41] kenfehling commented on #4087
I'm pretty sure you're running into this issue: https://github.com/scrapy/scrapy/issues/15

[2020-08-12 07:04] chengyangliu47 commented on #1904
Every time someone solved my tiny bug I fell that I am understood, thank you so much!

[2020-08-12 07:47] Gallaecio commented on #4719
Closing as a duplicate of https://github.com/scrapy-plugins/scrapy-splash/issues/266. Please, do not post the same issue to 2 different projects. If you don’t know which project is at fault, first try and find out, then post to the corresponding project.

[2020-08-12 07:47] #4719 closed

[2020-08-13 07:15] Gallaecio commented on #4551
Does not seem to have happened in the `master` branch jobs so far (although those are not as frequent as PR jobs).

[2020-08-13 16:29] asevans48 commented on #4692
I got the builtins to work. Would still be nice to have this type of enhancement though.

[2020-08-13 16:33] wRAR commented on #4692
What enhancement do you mean? You said you made it work?

[2020-08-14 09:47] #4671 closed

[2020-08-14 09:57] wRAR opened #4726 "Test failures on Debian Unstable"
I ran the 2.3.0 test suite on the current Debian Unstable and got the following failures.

Two related to those CAMELLIA tests (`Https11CustomCiphers.test_download` and `WebClientCustomCiphersSSLTestCase.testPayload`):

[code]

Two related to the mitmproxy cert:

[code]

[2020-08-14 21:18] victor-torres commented on #1225
I've faced this problem today while writing a spider like this:

- spider has a list of credentials
- submit a `FormRequest` to website.com/login for each credential with `dont_filter=True`
- requests are redirected from website.com/login to website.com/profile
- only one profile is fetched because of the default dupefilter

Workaround:

Since this Spider was very simple, I've just disabled my dup

[2020-08-14 23:12] roger656 opened #4728 "how do i run it?"

[2020-08-15 15:17] vulreid opened #4729 "Multiple execution of process_spider_exception of the same spider middleware method for single exception"
### Description
Don't know if it should be considered as a bug but at least it should be the same behaviour if spider callback only raised an exception or raised an exception with yielding.

When raising an exception from spider callback with also yielding item or request if neither one middleware catch this exception by `return iterable` the sequence of process_spider_exception methods are execut

[2020-08-17 07:10] sornalingam commented on #4728
@roger656 - Can you please add more details on this issue ?

[2020-08-17 08:23] Gallaecio opened #4732 "Drop Python 3.5 in the CI configuration"

[2020-08-17 08:25] Gallaecio opened #4733 "Review references to Python 3.5 and 3.6"
Now that we are dropping Python 3.5 support, such references in the code and documentation are likely to need an update.

Make sure to also look for the `version_info` equivalents (i.e. `(3, 5)`, `(3, 6)`).

[2020-08-17 08:32] Gallaecio opened #4734 "Remove boto import conditionals from Python 2 times"

[2020-08-17 08:40] #4529 closed

[2020-08-17 08:45] #4561 closed

[2020-08-17 11:15] matanmatitya commented on #4715
Hey, is this one taken?
I would like to help out.

[2020-08-17 11:16] AKSHAYSHARMAJS commented on #4715
Yes, I m working on it.

[2020-08-17 11:20] Yogita98 commented on #4211
Is this issue up for grabs?

[2020-08-17 11:58] roger656 commented on #4728
what i mean is that i am not sure which file i should run.(this is my first time useing scrappy)

[2020-08-17 12:11] Gallaecio commented on #4728
Please, [read the documentation](https://docs.scrapy.org/en/latest/).

[2020-08-17 12:11] #4728 closed

[2020-08-17 12:12] Gallaecio commented on #4715
Sure, go ahead, no need to ask!

[2020-08-17 12:13] Gallaecio commented on #4211
There has been an attempt at it, https://github.com/scrapy/scrapy/pull/4214, but it seems stale. Feel free to give it a try, either from scratch of based on https://github.com/scrapy/scrapy/pull/4214.

[2020-08-17 13:10] #547 closed

[2020-08-17 20:43] ashellunts commented on #4356
So except `Spider.make_requests_from_url` everything else is done. For #4178 looks like it is under discussion now.
So shall we close this issue now?

[2020-08-17 20:47] ashellunts commented on #4729
Can I work on this? Is anyone else working already?

[2020-08-17 22:05] Gallaecio commented on #4356
Let’s just leave it open until we fix #4178.

[2020-08-17 22:07] Gallaecio commented on #4729
I don’t think it’s taken.

[2020-08-18 08:43] Gallaecio opened #4737 "Write a topic on tuning Scrapy performance"
Cover how to identify a bottleneck (network input/output, CPU, disk I/O, memory) and how to improve Scrapy’s performance for any given bottleneck.

Cover `PYTHONOPTIMIZE` where relevant, but:
- Explain that `PYTHONOPTIMIZE=2` (`-OO`) cannot be used with Scrapy, as scrapy indirectly depends on pycparser (scrapy → cryptography → cffi → pycparser), which does not support this optimization level (thei

[2020-08-18 20:20] jugrajsingh commented on #747
Would really appreciate this feature being added to the tool.
http proxies are usually over exhausted.

[2020-08-19 07:18] #4306 closed

[2020-08-19 08:27] svnshikhil commented on #4680
`Oh, I see you are using Splash. Is the issue reproducible if you do not use Splash?`

Yes

[2020-08-19 08:29] svnshikhil commented on #4680
I think this is not something related to splash
Because the splash is a configurable mechanism in my crawler and I tried some other sites without splash and they are also showing this error
This issue is only happening when the site contains large html

[2020-08-19 12:05] Gallaecio commented on #4680
Without a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) it will be hard to pinpoint the root cause :slightly_frowning_face:

[2020-08-19 20:20] warren-silveronyx opened #4740 "Documentation is lacking a lot of key elements"
https://docs.scrapy.org/en/latest/topics/practices.html#run-scrapy-from-a-script

Running Scrapy From a Script doesn't explain where to put the script. How to import settings or how to actually run the script. There are a lot of Stack Overflow questions about this. I think the docs could use some better examples.

[2020-08-19 20:53] elacuesta commented on #4740
Hi, thanks for the reaching out. Unfortunately, I think the suggestion is a little bit vague. Personally, I believe that running a crawler process from within a script is mostly considered to be an advanced practice, and it's out of the scope of the Scrapy docs to explain concepts such as how to [execute a Python script](https://realpython.com/run-python-scripts/) in a shell. Moreover, the docs do

[2020-08-19 21:01] warren-silveronyx commented on #4740
https://stackoverflow.com/questions/31662797/getting-scrapy-project-settings-when-script-is-outside-of-root-directory

https://stackoverflow.com/questions/45230147/reading-settings-in-spider-scrapy

https://stackoverflow.com/questions/13437402/how-to-run-scrapy-from-within-a-python-script

Here are a few examples. I agree explaining the Python import system would be redundant. And I understand you

[2020-08-20 08:44] wRAR commented on #4740
I've edited the title as this issue seems to be about just one topic and is not about "key elements".

I agree that it should be more clear about settings (and some people seem to assume settings.py will be loaded implicitly like in `scrapy crawl`) and about differences between CrawlerProcess and CrawlerRunner wrt the reactor.

[2020-08-20 13:20] Gallaecio opened #4741 "Remove appveyor.yml"
https://github.com/scrapy/scrapy/blob/master/appveyor.yml is a remnant from a past CI integration that is no longer needed.

[2020-08-20 13:22] #4720 closed

[2020-08-20 14:50] Gallaecio commented on #4732
For PyPy, I think we should support 7.2.0 as minimum version, given that’s the first version where 3.6 support went out of beta.

[2020-08-20 15:14] VishvajeetRamanuj opened #4744 "raise ValueError('Missing scheme in request url: %s' % self._url) ValueError: Missing scheme in request url: javascript:void(0);"
### Description

I describe the issue on [https://stackoverflow.com/questions/63507716/raise-valueerrormissing-scheme-in-request-url-s-self-url-valueerror-mi](stackoverflowl)

### Steps to Reproduce

1. create new project
`https://stackoverflow.com/questions/63507716/raise-valueerrormissing-scheme-in-request-url-s-self-url-valueerror-mi`
2. copy paste bellow spider code in my_spider.py
[code]
3. r

[2020-08-20 15:18] Gallaecio commented on #4744
This is not an error in Scrapy itself, but in your project.

[2020-08-20 15:18] #4744 closed

[2020-08-20 16:36] Yogendra0Sharma commented on #4741
@Gallaecio I am working on this. Please assign it to me.

[2020-08-20 18:44] asifmallik commented on #747
@kmike @elacuesta just a gentle bump for some feedback regarding my comment above 😄

[2020-08-21 04:05] VishvajeetRamanuj commented on #4744
Yup. Got it. Sorry to bother.

[2020-08-21 07:36] #4741 closed

[2020-08-21 16:51] caffeinatedMike opened #4748 "Extend Jobs Functionality to allow for printf-style path configuration like Feed URIs"
## Summary

With the `JOBDIR` setting the documentation states each spider should utilize its own directory, while there is nothing currently in place to automatically handle this as there is for the Feed URIs (through the use of printf-style path strings).

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?
It was suggested by Scrapy's maintainer o

[2020-08-21 19:09] kmike opened #4749 "Allow to stop Crawler non-gracefully, without completing all requests in the Downloader"
By default, Scrapy waits until Downloader queue is empty when doing a graceful shutdown. This behavior ensures that if request is out of Scheduler (e.g. loaded from a disk queue), it is processed; doing otherwise would make shutdown not so graceful - some requests can be lost. A downside is that the shutdown could take a significant amount of time - e.g. with the default CONCURRENT_REQUESTS=16, 3

[2020-08-23 17:17] elacuesta commented on #1772
Hey @kmike. Interesting, I wasn't aware of this thread, thanks for pointing this out. #4205 adds a way to stop downloads, but this issue still seems valid to me because [headers are not sent as arguments in the signal](https://github.com/scrapy/scrapy/blob/2.3.0/scrapy/core/downloader/handlers/http11.py#L513-L515). They are available though, it would be a matter of doing something like:
[code]
Or

[2020-08-23 17:20] elacuesta commented on #3055
@drs-11 By all means, be our guest. The scenario is covered in our [contributing guidelines](https://docs.scrapy.org/en/latest/contributing.html#submitting-patches):

[2020-08-24 14:30] Gallaecio opened #4751 "Document link extractor usage outside CrawlSpider rules"
https://docs.scrapy.org/en/latest/topics/link-extractors.html mentions that link extractors may be used outside `CrawlSpider`, but it does not go into detail on how to do that.

Also, there are broken references to `scrapy.link.Link`, we should provide reference documentation for that class.

[2020-08-24 14:39] wRAR commented on #4717
I ran similar code with `COOKIES_DEBUG=True`, looks like the cookie in `Set-Cookie` sent by the 302 response is ignored since Scrapy 2.2 (so probably #2400 is the cause? cc: @elacuesta )

[2020-08-24 22:31] caffeinatedMike commented on #802
Also bumping this because it would be an incredible feature for broad crawls where there are certain domains you know get overloaded more easily than others.

[2020-08-24 23:36] elacuesta commented on #4717
Indeed, that seems to be the cause of the issue. This particular page always returns a "session" cookie (even for the initial `GET /` request), which gets stored in the jar and added to the headers for subsequent requests. When the 302 response returns a new cookie, it's stored in the jar correctly, but it gets overwritten in [these lines](https://github.com/scrapy/scrapy/blob/2.3.0/scrapy/downloa

[2020-08-25 06:48] #4726 closed

[2020-08-25 08:32] maranqz opened #4754 "Set exporter parameters by FEED"
## Summary

Adding possibility set parameters by FEEDS variable.
[code]

## Motivation

For changing options of ExporterItem, programmer should create new class. It can be simplified if there will be possibility set parameters by FEEDS variable in direct.

## Additional context

In first I want to add possibility setting of "errors" in CsvItemExporter because sometimes I have to exporting in cyril

[2020-08-25 08:37] maranqz commented on #4754
Copy https://github.com/scrapy/scrapy/issues/4606

[2020-08-25 08:37] #4754 closed

[2020-08-25 13:35] #3874 closed

[2020-08-25 13:46] Gallaecio commented on #3331
Probably no, indeed.

[2020-08-25 14:09] janwendt commented on #2820
If someone runs into the same problem who needs Splash in a CrawlSpider (with Rule and LinkExtractor) both on parse_item and initial start_requests that is the solution:
[code]

[2020-08-25 14:10] Gallaecio commented on #802
@caffeinatedMike For that per-slot delays, and not per-request delays, would be what you want, I believe. That is relatively easy to implement with a custom Scrapy extension.

For example:

[code]

[2020-08-25 17:13] caffeinatedMike commented on #802
@Gallaecio Thanks so much for this! But, I actually want to be able to control the throttling per-request (once the site starts throwing 502s), ideally by setting a meta value. Up to that point I don't want it throttled.

[2020-08-25 21:41] slurmpit commented on #2392
Hi, just faced with same problem.

**My scenario is:**
  I run spiders from a script with the
[code]
where `set_settings()` changes project settings depending on passed `config`. This works fine, until I have no spider where I need to define `custom_settings` and append setting defined in `set_settings()` (`DOWNLOADER_MIDDLEWARES` for example).

   The `get_project_settings()` in/before spider `__

[2020-08-25 22:48] caffeinatedMike commented on #802
@Gallaecio I tried implementing this as a hold-over until I find some sort of per-request solution, but it doesn't seem to be doing anything. Any ideas?

The only addition I made to your code was a single line for logging to see if it was actually working
[code]

I've added the extension to my `extensions.py` file in my project and have the below settings on my spider
[code]

[2020-08-26 06:36] Gallaecio opened #4757 "Add a job for Python 3.9 to .travis.yml"
It looks like Travis support specifying such a Python version as `3.9-dev`.

While I’m not sure we should officially support Python 3.9 it until its release, running tests on it will allow us to catch any issue early.

[2020-08-26 07:20] Gallaecio commented on #802
I think we should not debug that extension in comments here, as the code is not directly related to the original issue.

If the extension does not work for you, please debug it yourself, and raise in StackOverflow with a minimum, reproducible example any problem that you do not understand.

If you find a bug in the extension, and you are willing to share a fix, fell free to share the updated exten

[2020-08-26 08:13] alikamal-jaffri opened #4758 "Not getting new ip from api url after 8 to 9 request"
I am using
`request.meta['proxy']="my api key"`
to get ips from my luminati id and after 8 ip's different scrapy start repeating the same ip which is the last ip address however if I use the same ip in '.py' file my api key is working fine it assign me new ip there after 10 searches from the same ip while using urllib in python
![image](https://user-images.githubusercontent.com/67379912/91278616-e

[2020-08-26 08:19] itsvinayak commented on #4757
#4759 @Gallaecio, please review and some testcases are failing, can you please help

[2020-08-26 11:09] Gallaecio commented on #3870
Done in #3873

[2020-08-26 11:09] #3870 closed

[2020-08-26 11:29] Gallaecio commented on #4758
This does not sound like a bug in Scrapy, but something specific to your project. Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions.

[2020-08-26 11:29] #4758 closed

[2020-08-26 12:59] quochungbn opened #4760 "Error when use scrapy in cmd"
### Description

I have some error when trying to install scrapy

### Steps to Reproduce

1. Installed Anaconda + OpenSSL
2. Use conda install -c conda-forge scrapy
3. Get error when type scrapy on cmd

**Expected behavior:** Command scrapy should work

**Actual behavior:**  Error log:

https://pastebin.com/CqNmRYJT

**Reproduces how often:** It happen for me on first install

### Versions

I can'

[2020-08-26 15:31] MahmoudBustami commented on #2484
I have the same error but I fixed it
the only solution that I made is :
go to settings.py file and you will see the old name for your project, so you should convert it to the new one
and you will many names of classes " have the old name of your project" you will find the classes in pipelines.py , middleweres.py open them and change the names.
finally open scrapy.cfg and change the old name to the

[2020-08-26 20:15] ankostis commented on #4196
The above informative answer should make it into the docs, to augment the [telnet console example](https://docs.scrapy.org/en/latest/topics/telnetconsole.html#telnet-console-usage-examples).

[2020-08-27 07:40] Gallaecio commented on #4454
https://github.com/scrapy/scrapy/pull/4725#discussion_r477513542

[2020-08-27 07:40] #4454 closed

[2020-08-27 08:02] Gallaecio commented on #4760
Looks like an issue with the lxml package of Anaconda or Conda Forge, rather than an issue in Scrapy itself.

Is this a fresh Anaconda environment or an old one? See https://github.com/ContinuumIO/anaconda-issues/issues/8006

[2020-08-27 10:43] #4733 closed

[2020-08-27 18:56] #3971 closed

[2020-08-27 19:07] imsahil007 commented on #4760
This is an issue with 32bit lxml.
Try install 64 bit module. Maybe you are just using a 32 bit anaconda instead of 64 bit.
You can also try installing another version:
https://stackoverflow.com/a/41289490
[code]

[2020-08-27 19:27] kmike opened #4762 "request fingerprint should separate different sections when building a hash"
It looks like body & headers & values are not separated where fp is being built in request_fingerprint function.

So e.g. a request with header with "foo" and "bar" values would get the same fingerprint as a request with "fo" and "obar" values. The same applies for body, etc. URL is joined with the body, for example, so a POST request to http://example.com/foo with empty body gets the same fingerp

[2020-08-28 08:08] Gallaecio commented on #4762
Related to #900 (mentioned by you in https://github.com/scrapy/scrapy/issues/900#issuecomment-64933901)

[2020-08-28 09:24] #4706 closed

[2020-08-28 09:25] #4700 closed

[2020-08-28 09:33] quochungbn commented on #4760
Install older version work for me! Thank you!

[2020-08-28 09:33] #4760 closed

[2020-08-28 11:32] mauritsderuiter95 opened #4763 "Scrapy parses commented out <base> element"
### Description

I'm building a scraper that follows some urls with a pattern with the response.follow function. I'm currently stuck on a webpage which has the <base> element in the header commented out. The href in the <base> element is invalid. When I try to follow a relative url on the webpage it incorrectly tries to send me to the invalid url. It ignores the fact that it actually is a comment.

[2020-08-28 12:33] Gallaecio commented on #4763
Upstream issue: https://github.com/scrapy/w3lib/issues/70

[2020-08-28 12:51] mauritsderuiter95 commented on #4763
Thank you.

I worked around the issue by removing one-line comments with a regex and creating a new HtmlResponse with that content. A little more lines of code, but it works.

[2020-08-28 15:23] Jgaldos commented on #1192
Hi everyone, the page http://medicatriz.com.br/manual-tecnico-profissional-medicatriz/ is no longer available so I created a `html` file to recreate the bug, like
[code]
and run `scrapy shell ./test.html`  to try to get the error, but I got
[code]
You can see that I don't get any link using `(allow_domains=(b'medicatriz.com.br',)` like @redapple [comment](https://github.com/scrapy/scrapy/issues/11

[2020-08-29 08:28] #4307 closed

[2020-08-29 16:41] L3NNYY opened #4766 "Invalid cookies ('value' missing) - Added in 2.3.0 - scrapy/downloadermiddlewares/cookies.py"
### Description

When scraping certain sites and passing cookies to scrapy, I've had an issue pop up where the page wasn't able to scrape due to an error message `"Invalid cookie found in request {}: {} ('{}' is missing)"`. This is because some websites and pages form cookies with an empty value instead of not including the key altogether (hacky fix on their side), causing the newly added check in

[2020-08-29 20:43] yeus opened #4767 "installing scrapy=2.3.0 using poetry fails with [RecursionError]"
### Description

When trying to install scrapy 2.3.0. using poetry , poetry fails with a [RecursionError].

- This might be due to dependency cycles in the scrapy package.

### Steps to Reproduce

[code]
fails with:

[code]

**Expected behavior:** [What you expect to happen]

Should install normally, (just like scrapy 2.2.0 works...)

**Actual behavior:** [What actually happens]

see above

**Repr

[2020-08-29 20:55] yeus commented on #4767
a few more debuggig using:

`poetry add scrapy=2.3.0 -vvv`

returns:

[code]

I suspect it might be due to this section here:

https://github.com/scrapy/scrapy/blob/be655b855da3f5643b004e9f2d5b9161266c17f4/setup.py#L40

Also opening a bug-report in poetry itself now as I think it might parse the dependencies here in a funy way.

[2020-08-29 21:02] yeus commented on #4767
here is the relevant poetry issue, that I also opened:  https://github.com/python-poetry/poetry/issues/2866

[2020-08-30 21:28] yeus commented on #4767
works with the newest pre-release of poetry:   1.1.0b2

[2020-08-30 21:28] #4767 closed

[2020-08-31 13:08] caffeinatedMike commented on #4748
Any idea how much effort it will take to correctly implement this? My current attempt (shared within the original request) does not function properly as I seem to be missing a core aspect somewhere. For some reason the `requests.queue` folder and `requests.seen` file still end up being created within the base `JOBDIR`. So, I currently do not have a way to keep track of multiple spiders at one time

[2020-08-31 20:48] tadej-redstone opened #4771 "Calling get_output_value causes loader to assign an "empty" value to field"
# Description

If a field in an ItemLoader has not been set, calling `get_output_value` mistakenly assigns an empty object to that item. See the example bellow.

### Steps to Reproduce

[code]

Then, simply loading the item correctly produces an empty dict
[code]

But calling `get_output_value` before that instantiates the field:
[code]

[2020-08-31 21:22] elacuesta commented on #4766
As mentioned in one of the answers from the linked SO question, checking for `is not None` would probably be better than the current check. However, that shouldn't stop the request from being processed. See the following `scrapy shell` session, for instance:

[code]

Are you observing a different behavior? Could you post some minimal code along with logs from an execution?

[2020-09-01 02:18] huangxinping commented on #3004
OMG!

@tuedang @mmx64bits, Do you the solution for this yet?

[2020-09-01 08:47] suliuzh opened #4773 "should robotexclusionrulesparser be listed in setup.py?"
## Summary

robotexclusionrulesparser should be listed in setup.py .

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

## Describe alternatives you've considered

Hi
**robotexclusionrulesparser** is now listed in _tox.ini_ as optional dependency. But it is used in class _RerpRobotParser like this in the following screenshot.  So  If it is a must,

[2020-09-01 09:07] mmx64bits commented on #3004
hi,
I ended up having a few dockers running a python scrapy script behind
polipo proxy and running a headless driver using selenium

That should grab you about 32 000 000 ads from Lamudi.mx for example

each script should be parametrized to scrap ads with distinct filters

By the way i quit that job but it worked.

Good luck.

On Tue, 1 Sep 2020, 03:19 huangxinping, <notifications@github.com> wrot

[2020-09-01 09:31] #1192 closed

[2020-09-01 09:45] Gallaecio commented on #4773
It is not listed on purpose. That class is not used by Scrapy unless you explicitly configure Scrapy to use it, and only when you do that you need to install that dependency.

[2020-09-01 09:45] #4773 closed

[2020-09-01 10:27] #4689 closed

[2020-09-01 17:54] marcofaga opened #4774 "Too many Content-Length headers; response is invalid"
Hi all.

I'm trying to scrap a website using scrapy shell

`scrapy shell 'https://www.portal.ap.gov.br/noticias' `

and it gives me the following error:

`twisted.web._newclient.ResponseFailed: [<twisted.python.failure.Failure builtins.ValueError: Too many Content-Length headers; response is invalid>]`

Any idea of whats going on?

[2020-09-01 19:19] wRAR commented on #4774
From a curl session:

[code]

So a buggy server.

[2020-09-01 19:21] wRAR commented on #4774
(the check is at https://github.com/twisted/twisted/blob/trunk/src/twisted/web/_newclient.py#L519 )

[2020-09-02 00:18] HAKSOAT commented on #4751
I'll like to work on this

[2020-09-02 01:20] HAKSOAT commented on #4751
#4775

[2020-09-02 01:46] marcofaga commented on #4774
Humm... any idea how to handle with it?

[2020-09-02 06:08] wRAR commented on #4774
As the check happens deep in the Twisted HTTP stack I don't think anything can be done but I may be wrong.

[2020-09-02 08:37] #4651 closed

[2020-09-03 10:06] maranqz opened #4777 "Dynamic headers and inlining nested fields for CsvItemExporter"
## Summary

1. Add dynamic headers for CsvItemExporter.

    Sometimes there are fields which can or can not be got in time scraping.
    Unfortunately, scrapy.exporters.CsvItemExporter generate headers by first item.

    My suggest is save all field names which were got from item. Then regenerate csv file with full header.

1. In addition, I think add possibility inlining nested fields values by

[2020-09-03 11:07] wRAR commented on #4777
Item exporters work incrementally so this won't be possible.

You can set the list of fields to export explicitly in the `FEEDS` setting.

Having nested fields containing just a dict is a bad design I think (just inline them in the item itself), and inlining anything other than dict will probably require complicated settings or making assumptions. Even inlining a dict as you proposed will require

[2020-09-03 11:18] maranqz commented on #4777
@wRAR
1. Item exporters work incrementally so this won't be possible.
    You are right but I can just rewrite file line by line.
    Right now, I do it.
1. Some sites contain specifications of product and products can contain many dynamic parameters.
    I think it is more usefull if that specifications will be added automatically without writting code.

[2020-09-03 20:57] kmike commented on #4777
I think inlining is a valid and important use case. There are projects like https://github.com/scrapinghub/flatson which are built for that - maybe creating a Scrapy plugin which allows to do that may work? I'm open for having such feature in Scrapy, but I'm not sure the community settled on a best approach for that yet. +0.5 to add it to Scrapy eventually, or at least discuss the options.

Dynami

[2020-09-04 06:46] wRAR commented on #4777
What would it do?

[2020-09-04 10:43] maranqz commented on #4777
I think it is less. In scrapping time, dict with headers is created. On each item headers dict updating by adding new headers with cost about O(count of headers keys) for intersection headers keys with item keys.

After that, reading small part of the file without headers. Then writing dynamic headers, reading new small part, then writing  "previous" small part. And doing again.

I think  a comple

[2020-09-04 12:00] kmike commented on #4777
@maranqz hm, don't you need to update data as well, when headers change?
Potentially every new item adds a new header column, and you need to update all rows to apply this, which gives us O(N^2).

[2020-09-04 13:46] maranqz commented on #4777
@kmike I think update file only after finishing scapping.
[code]

[2020-09-04 18:24] drs-11 commented on #3331
I'm not sure what could be a solution to this issue.
`/var/run/docker.sock` seems the only exception for having a socket file in a `no_proxy` env variable. So either the socket file be ignored and not added to the list of proxies or maybe add it without passing the socket file path to `_get_proxy` method which is causing the error?

But the second option will cause further errors when the proxy is

[2020-09-04 18:54] a-palchikov commented on #3331
I guess NO_PROXY handling is very open to specific interpretations and is not standardized. Docker client describes the uses of NO_PROXY for its purposes [here](https://github.com/moby/moby/pull/10192/files?short_path=c13a5c5#diff-c13a5c583fae16a859a034cdd06c7c58) while scrapy can just ignore the proxy that the `urllib2.parse_proxy` fails to parse.

[2020-09-06 19:03] aliamiri1380 commented on #2808
also, you should make sure that you have installed Xcode (since Apple removes it after installing a new OS update)
` xcode-select --install`
and then install above python libs (incremental -> scrapy)

[2020-09-07 02:09] jezifm opened #4779 "KeyError in self.inprogress.remove(request)"
Hi,

Anyone know how can I catch/handle this kind of errors? I'm not really sure why is this showing

[code]

[2020-09-07 06:39] wRAR commented on #4779
This is most likely caused by problems in your code. If you think it's really a bug in Scrapy please provide a minimal reproducible example for it.

[2020-09-07 15:55] alexsok-bit opened #4780 "scrapy don't load settings from env because sys.path havn't location to project"
### Description

After installation scrapy from PyPi and setup new project, if I set `SCRAPY_SETTINGS_MODULE` then scrapy have an error `ModuleNotFoundError`. This behaviour because  an executable `scrapy` file from a python bin directory haven't a current directory in a `sys.path`. Need added a current directory into a `sys.path` for fix set of locations for module imports.

for example I change

[2020-09-07 22:53] Gallaecio commented on #4777
If it’s OK for the file to be an invalid CSV file until the end of the craw, I think it may not be that hard to implement setting the header line only at the end. You would need just to keep track of the fields written so far and their order.

I would suggest splitting this Scrapy issue in two separate Scrapy issues, though. Even if slightly related, it is very lightly that these features, if impl

[2020-09-07 23:01] Gallaecio commented on #4780
Doesn’t it work if you remove `export SCRAPY_SETTINGS_MODULE=tutorial.settings` from your steps to reproduce? From https://stackoverflow.com/a/48796305/939364 I gather that using `SCRAPY_SETTINGS_MODULE` prevents Scrapy from touching the Python path, which may be on purpose.

[2020-09-07 23:13] alexsok-bit commented on #4780
if, when using scrapie, I must comply with the preconditions, then indicate these conditions in the documentation. I need this variable. I have 200 spiders and even more different kinds of config files.

if this issue is known, it is worth adding it to the documentation. Or just fix.

[2020-09-08 07:16] psychonaute opened #4781 "My parser randomly receives response for domain's root"
Every once in a while (every 100-150 requests) a request produce response about the domain's root URL

### Steps to Reproduce

[code]

[code]

**Produce**

start_requests() logger says
`INFO: yielding url 528/1353: https://www.mydomain.com/path/to/mypage?cid=9598492`

parse() logger says:
`INFO: parsing 528/1353 : https://www.mydomain.com/`

**Reproduces how often:** [What percentage of the time d

[2020-09-08 14:31] elacuesta commented on #4717
I think this is what's happening, please take a look @Gallaecio @kmike @wRAR

![Cookies issue](https://user-images.githubusercontent.com/1731933/92487759-123b9480-f1c4-11ea-9a12-8c845cdfec62.png)
1. GET request to "/login" is processed normally, no cookies are added to the request
2. 200 response is processed by the cookies middleware, a first session cookie ("cookie A") is stored in the cookiejar

[2020-09-08 15:45] wRAR commented on #4781
This is an issue tracker for Scrapy itself. Please use other communities such as https://stackoverflow.com/ for user questions.

[2020-09-08 15:45] #4781 closed

[2020-09-09 17:20] flimao opened #4784 "Scrapy doesn't properly export to CSV/XML when run through PyCharm's Python Console"
### Description

I'm running a Scrapy crawler from PyCharm's Python Console:

![image](https://user-images.githubusercontent.com/5827775/91909783-378c4800-ec84-11ea-83fc-849e6acb383b.png)

![image](https://user-images.githubusercontent.com/5827775/91909802-43780a00-ec84-11ea-9155-cc636e1180e6.png)

In my code (below), I export the scraped content to CSV files through `CsvItemExporter`. When run fr

[2020-09-09 18:52] elacuesta commented on #4784
Have you tried with a more recent Scrapy version? Since `scrapy crawl` works, I feel tempted to label this as a PyCharm issue. Let's try to solve it, though.
I'm neither a PyCharm nor a Windows user myself, so I can't think of any obvious problems. Could you share some logs? Also, just like in StackOverflow, it's best if you provide a [Minimal, Reproducible Example](https://stackoverflow.com/help/

[2020-09-10 05:47] jezifm commented on #4779
adding `request = request.copy()` before retrying solved my issue. thank you

[2020-09-10 05:47] #4779 closed

[2020-09-10 08:26] wRAR commented on #4784
Try running `scrapy crawl` in both cases or `python3 -m scrapy.cmdline` in both cases.

[2020-09-10 11:38] flimao commented on #4784
@elacuesta unfortunately, updating Scrapy to a more recent version isn't working.

Most recent version in Anacoda:

[code]

I'll try to redirect the logs to a text file and share it here in a moment.

As for the MRE, I'll try to cut the irrelevant bits out, but since I'm not sure what's causing the problem, it might take a while.

[2020-09-10 11:40] flimao commented on #4784
@wRAR in both cases the logs say the items are scraped correctly (that is, a dictionary with the correct fields and their contents is show in the logs). It just isn't written to disk when run in PyCharm.

[2020-09-10 14:46] flimao commented on #4784
@elacuesta when I manage to cut out information that is not relevant to the problem at hand from the code, should I post it here as a comment, or create a new bug report?

[2020-09-10 15:12] elacuesta commented on #4784
Please comment here, no need to open a new issue.

[2020-09-14 07:15] psychonaute opened #4786 "ItemPipeline with multiple JsonLinesItemExporter instances, file's BufferedWriter don't get flush"
I wanted to have each Item type to be exported into separates .jsonl

For this I adapted the **PerYearXmlExportPipeline** example given in the [Item Exporter](https://docs.scrapy.org/en/latest/topics/exporters.html#using-item-exporters) Section of the doc.

The issue I was hitting was that the 'BufferedWriter' of my second exporter instance wasn't getting flush before crawl terminates.

**My ItemP

[2020-09-14 11:43] VinuAbraham opened #4787 "Image read issue.."
I am using image pipeline to download some images from a sit. I think the image is getting downloaded. Some error is happening when pillow is trying to read the downloaded image..

[code]
spider.py
[code]

middlewares.py

[code]
settings.py

[code]

items.py

[code]

[2020-09-14 13:12] caffeinatedMike commented on #4106
This is plaguing me big time lately with large-scale site crawls that typically take 2+ weeks. I thought that having JOBDIR enabled would help alleviate loss of progress when the ill-configured windows server (of which i have no control over) forces a system reboot when updating. Unfortunately, I've run into the same situation @shubidubapp has described; leading to me having to restart the entire

[2020-09-14 13:43] faizeansari commented on #4233
I would like to translate in Urdu,
as in Pakistan a lot of people is trying to use Scrapy but their medium is Urdu and most of them are not good in English.
So, if it's goOd then allow me to translate the Wiki for Scrapy in English

[2020-09-14 21:18] noviluni commented on #4233
Hi @faizeansari! It would be amazing if you can fo it! :smile:

You can find in this comment a video showing how to do it: https://github.com/scrapy/scrapy/issues/4233#issuecomment-566922895

Thank you for helping to ease it for people knowing Urdu! :muscle:

[2020-09-15 18:07] elacuesta commented on #4787
Please, follow [the guidelines](https://docs.scrapy.org/en/latest/contributing.html#reporting-bugs) when opening an issue. Specifically, include a [Minimal and Reproducible Example](https://stackoverflow.com/help/mcve) to allow us to reproduce it.

[2020-09-16 08:57] Gallaecio commented on #4786
Related to https://github.com/scrapy/scrapy/pull/4576

[2020-09-16 09:03] Gallaecio commented on #4233
@faizan2700 Mind that we are talking about the Wikipedia article here, not about the Scrapy documentation. The latter is not internationalized (i.e. translatable) yet, see https://github.com/scrapy/scrapy/pull/4399

[2020-09-16 10:16] Gallaecio opened #4788 "Document how to use custom Amazon S3 headers in FileStorage"
If the process I described in https://stackoverflow.com/a/63917828/939364 works, we should probably cover it in the documentation.

[2020-09-16 10:27] Gallaecio opened #4789 "Warn about enabling keep_fragments for request fingerprinting"
Once https://github.com/scrapy/scrapy/pull/4524 is merged, we should consider editing the documentation introduced to include a warning about enabling `keep_fragments`, as I fear inexperienced users may try to use that when faced with a website that loads content dynamically based on the fragment. For example:  https://stackoverflow.com/q/63802200/939364

I think a warning that points to https://d

[2020-09-16 16:59] claude-eric-steiner opened #4790 "Yield not working in additional parse Method"
### Description
I use start_requests to dynamically create the URL for the spider (from a DB source, the code below doesn't reflect this, but shows "www.google.com" as target). This works all fine.

To keep my code good structured, I do the following:
I'm using the meta argument to hand over a type parameter (as I'm spidering three different types of pages with different content in the same spider

[2020-09-16 17:32] Gallaecio commented on #4790
The issue is not in Scrapy, but in your code. Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-09-16 17:32] #4790 closed

[2020-09-16 17:46] #4692 closed

[2020-09-16 19:50] raghulkrishna opened #4791 "How to setup http proxy fro https urls scrapy need help setting up?"
import base64
class ProxyMiddleware(object):
    # overwrite process request
    def process_request(self, request, spider):
        # Set the location of the proxy
        request.meta['proxy'] = "us.proxymesh.com:31280"
        # Use the following lines if your proxy requires authentication
        # setup basic authentication for the proxy
        from basicauth import encode
        encoded_st

[2020-09-16 19:52] Gallaecio commented on #4791
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-09-16 19:52] #4791 closed

[2020-09-16 20:04] raghulkrishna opened #4792 "How to setup proxymesh for https urls scrapy ?"
class ProxyMiddleware(object):
    # overwrite process request
    def process_request(self, request, spider):
        # Set the location of the proxy
        request.meta['proxy'] = "http://nl.proxymesh.com:31280"
        # Use the following lines if your proxy requires authentication
        # setup basic authentication for the proxy
        from basicauth import encode
        encoded_str = enc

[2020-09-16 22:33] elacuesta commented on #4792
The GitHub issue tracker is used for bug reports and/or feature requests for Scrapy itself. Please use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this kind of support questions. See also [Getting help](https://docs.scrapy.org/en/latest/#getting-help).

[2020-09-16 22:33] #4792 closed

[2020-09-17 10:51] casertap opened #4793 "Scrapy crawl command does not allow you to pass install_root_handler=False"
## Summary

I find it difficult to manage loggers with scrapy. I am trying to disable it but I noticed that you can not pass the install_root_handler=False option to the CrawlerProcess

The command line code here only passes settings:
https://github.com/scrapy/scrapy/blob/85e13aff74856f7240605ba756b395adbbe84d2b/scrapy/cmdline.py#L144

while CrawlerProcess could also receive `install_root_handler`

[2020-09-17 12:20] Gallaecio commented on #4793
Could you elaborate on the actual use case? If you want to disable log messages from the command line, the `-L` option should do the trick.

[2020-09-17 19:07] joeharrison714 opened #4794 "FEED_STORE_EMPTY does not appear to work"
### Description

I am attempting to export all fields from an item even if they are not populated. I have set FEED_STORE_EMPTY to True which according to the documentation should do this. However I still do not have the unpopulated fields in the output file.

I have created an item as follows:
[code]

I then populate the item:
[code]

In my settings.py, I have `FEED_STORE_EMPTY = True`

I would ex

[2020-09-17 23:39] casertap commented on #4793
As you can see on the code I shared, no matter the command you are running, because only `settings` is passed to `CrawlerProcess` , `install_root_handler` will always be `True`.

[2020-09-18 12:28] Gallaecio commented on #4794
I don’t see anything in the [documentation of FEED_STORE_EMPTY](https://docs.scrapy.org/en/latest/topics/feed-exports.html#std-setting-FEED_STORE_EMPTY) that would suggest that to me:

See [FEED_EXPORT_FIELDS](https://docs.scrapy.org/en/latest/topics/feed-exports.html#feed-export-fields).

[2020-09-18 12:31] #4794 closed

[2020-09-18 15:55] weiss-d commented on #3064
I have the same issue with `ptpython`.

[2020-09-19 08:30] iamumairayub opened #4795 "Scrapy cookies not working when sending Proxy-Authorization header"
Title explains enough to explain what issue I am facing, so here is code that works find

[code]
 When the browser is opened, I can see that location is set perfectly on top-left of the page

The problem arises when I enable a proxy middleware whose `process_request` method looks like this

[code]

The location does not get set, the `changeLocation` show valid response that location is set, but on

[2020-09-19 20:14] MagedSaeed opened #4796 "`response.follow_all()` problem with `cb_kwargs` getting shared by all selector objects."
### Description

[Description of the issue]

I have a weird issue. I am scraping the following Arabic poetry website: https://diwany.org/. I scraped meters 'called bahr in Arabic poetry' from their links at the bottom of the main website page. The `xpath` of these links is provided in the spider code snippet below.

I used `follow_all()` method with a poems list in `cb_kwargs` dictionary to collec

[2020-09-19 23:39] GeorgeA92 opened #4797 "Usage of HttpCompressionMiddleware needs to be reflected in Scrapy stats"
## Summary
Usage of `HttpCompressionMiddleware` needs to be relfected in Scrapy stats.
## Motivation
In order to estimate scrapy memory usage efficiency and prevent.. memory leaks like [this](https://stackoverflow.com/q/63936759/10884791).
I will need to know:
1. number of request/response objects that can be active (can be achieved by using [`trackref`](https://docs.scrapy.org/en/latest/topics/le

[2020-09-20 11:59] Gallaecio commented on #4795
Could this be related to https://github.com/scrapy/scrapy/issues/4717?

[2020-09-20 12:10] Gallaecio commented on #4796
This is not really a bug, it is a expected behavior, given lists are mutable objects in Python. And the behavior you are complaining about may actually be desired in some scenarios, so I see no way to just “fix” it.

You could open a feature request to address this, but I believe that any work on the Scrapy side to allow this use case (e.g. a `cb_kwargs_builder` parameter that accepts a callable t

[2020-09-20 13:06] #4734 closed

[2020-09-20 13:07] Gallaecio opened #4798 "Have tests also run without botocore"
See https://github.com/scrapy/scrapy/pull/4776

[2020-09-20 14:01] MagedSaeed commented on #4796
Thansk @Gallaecio for your response. I understand, from the documentation, that `follow_all()` is a shortcut to `follow()` with a `for` loop. The difference in behavior between the two is what makes me think of it as a bug. If this is intended by design to share `cb_kwargs` between all requests in `follow_all()`, the documentation should state it clearly, then, should not it?

[2020-09-21 04:11] michael-lazar opened #4802 "CachingHostnameResolver does not work with reactor.resolve()"
### Description

Hi. Thank you for maintaining this awesome software :)

I am working on a project using scrapy that implements a custom downloader class ([link](https://github.com/michael-lazar/mozz-archiver/blob/master/mozz_archiver/downloaders.py)).

I want to resolve IPv6 addresses, and I found the section in the documentation about the ``DNS_RESOLVER`` setting that was added in #4227. I tried

[2020-09-21 13:02] Gallaecio commented on #4796
I believe the behavior is to be expected with anyone familiar with https://docs.python-guide.org/writing/gotchas/#mutable-default-arguments

That said, I don’t see an issue with warning about this in the function description.

[2020-09-21 13:08] Gallaecio commented on #4802
Thanks for the detailed report!

[2020-09-21 14:11] elacuesta commented on #4802
Nice find! At the moment I'm not finding the place from where I took that inheritance pattern used in #4227. This is indeed weird, but I'm going to take the liberty of removing the "bug" label and adding "upstream bug" instead, because we are in fact receiving a class instead of an instance from Twisted (this might grant an issue in the Twisted tracker).
More extensive testing is probably required

[2020-09-21 14:59] Gallaecio commented on #4749
I’ve been doing some manual testing, and from what I can tell, retries and redirects do now happen during the graceful shutdown.

[2020-09-21 18:12] Gallaecio commented on #356
I’m personally not convinced by any of the solutions so far :slightly_frowning_face:

I don’t like specifying the type as part of the arguments (`--set-json`, `--arg-json`). I feel like this responsibility should be on the reading code instead. Even if it’s just a matter of how often it will need to be typed: usually the reading code is written once, while the calling code is written multiple time

[2020-09-21 19:17] kmike commented on #4749
Do you mean a single Ctrl-C or double Ctrl-C?

As @vshlapakov found, my understanding of reactor.stop behavior was incorect; it seems to still finish all the pending reactor calls. So double Ctrl-C provides a bit more protection than I was thinking when writing the issue description.

[2020-09-22 03:17] michael-lazar commented on #4802
@elacuesta Thanks for the quick response! I was able to test our your branch and it did fix the original exception for me. I like your general approach and it was better than what I could come up with late last night 😄

However, the next thing I ran into is that the cache doesn't exactly work in its current implementation. The first DNS request from my scraper resolves fine, but the second request

[2020-09-22 10:33] Gallaecio commented on #4749
Single.

[2020-09-23 15:38] osjerick opened #4805 "Wrong annotations in scrapy.crawler.CrawlProcess.crawl docstrings"
### Description
Some [IDEs recognize type annotations](https://www.jetbrains.com/help/pycharm/using-docstrings-to-specify-types.html) within docstring to make suggestions or raise warnings related to your code. In the Scrapy source, there are some annotations in the docstring that are wrong.

[Description of the issue]
This is a minor issue. The `scrapy.crawler.CrawlerProcess.crawl` method expects

[2020-09-23 16:41] elacuesta commented on #4805
Makes sense. For the record, we recently added a typing check in the CI process, so annotating the actual function definition is a possibility. Feel free to open a PR if you'd like.

[2020-09-24 06:24] VinuAbraham commented on #4787
@elacuesta Hope this is all the code needed for reproduce the issue

[2020-09-24 10:10] MarcSteven commented on #3765
@Gallaecio  So do U have a plan to make it happen?

[2020-09-24 13:20] elacuesta commented on #4787
The updated code is far from _minimal_, and I see no mention of the [images pipeline](https://docs.scrapy.org/en/latest/topics/media-pipeline.html#scrapy.pipelines.images.ImagesPipeline). Furthermore, you seem to be using Selenium, which may affect the results and it's out of the scope of this issue tracker. At it currently stands, this is a support question, not a bug report for Scrapy itself, so

[2020-09-24 13:20] #4787 closed

[2020-09-24 13:25] Gallaecio commented on #3765
I must say this tickets is not among my current priorities, sorry.

[2020-09-24 21:36] MarcSteven commented on #3765
Okay

[2020-09-27 19:02] DamBarreto commented on #4774
@marcofaga had you get the solution? I'm trying to access the same url. TY

[2020-09-27 19:28] wRAR commented on #4774
You can probably monkey-patch `HTTPClientParser.allHeadersReceived`, I don't see any cleaner options,

[2020-09-27 20:14] DamBarreto commented on #4774
TY @wRAR. I'll get a look

[2020-09-28 01:17] joaquingx commented on #4421
Hey :smile:, I think it would be a valuable addition to scrapy but would be necessary to improve visibility/usage of [flake8-scrapy](https://github.com/stummjr/flake8-scrapy) right?, after apply some of these recommendations it would be added to [requirements](https://github.com/scrapy/scrapy/blob/195f738bbaa7c090df795161390056c3c6c7f1f7/setup.py#L21)?

[2020-09-28 01:28] eLRuLL commented on #4421
@joaquingx I don't think this should be added as a scrapy requirement, as "linting" is not really something necessary for scrapy to work correctly.

Now, talking about giving visibility of the project, maybe we could find a way to include this in the documentation, as a recommendation for developers

[2020-09-28 04:40] joaquingx commented on #4302
Hey :smile:, ideas for this one, don't know if are out of scope:
* Add a suggestion for the mistyped var, updated code from @GeorgeA92 would be:
[code]
prints:
[code]
* If a [setting variable will be overridden by another](https://github.com/scrapy/scrapy/blob/master/scrapy/settings/__init__.py#L48) and the overriden one have not `default` priority, warn the user.

There are the enough agreement t

[2020-09-28 22:19] FVolral commented on #3552
New to scrapy, I'm still getting that error with Scrapy 2.3.0:

[code]

Should I see it as a simple warning?

`scrapy fetch --pdb 'https://docs.python.org'` Leads to pdb with that OpenSSL `Unexpected EOF` error.
` scrapy fetch --pdb 'https://www.google.com'` seems to works fine.

[2020-09-30 01:27] sashreek1 commented on #4805
I would like to take this issue up !
It also seems like a good first task, for me to try contributing to scapy

[2020-09-30 01:49] sashreek1 commented on #4805
As far as I am aware, I don't think we need to specify the data types for *args or **kwargs. So, would a fix that completely eliminates the specification of the data types (list and dict) be fine ?

[2020-09-30 03:35] nitangle commented on #4356
Hi has the pr been reviewed? I was looking to contribute to this project but I have seen most issues already have an attached pr. Can you guys update the status of pr so as to avoid confusion?

[2020-09-30 19:22] dswij commented on #4710
Hi there, first time contributor for scrapy :) (Also, first time handling tox)

 I have set install_command on PR as suggested above. Seems like Azure Pipelines fails on py36. Logs shows that it failed on installing conflicting dependencies, and I'm not sure how to approach this one.

Travis seems to use older version of pip (<20.2) .  Would having travis use newer version of pip problematic?

[2020-09-30 19:47] Gallaecio commented on #4710
I think the way to go is to upgrade the version of `cryptography` we use in test jobs with pinned versions to 2.1.4. See the `[pinned]` section of `tox.ini`. I would also include a comment indicating why we are upgrading (required by mitmproxy, which is a test dependency), because all other pinned versions there come from `setup.py`).

I think that should be fine, and it [seems doable](https://git

[2020-09-30 19:51] Gallaecio commented on #4710
By the way, my original idea was to have a single job use this, but seeing how by enabling this in all jobs you found an issue in a job that might have gone undetected otherwise, I think it makes sense to use this feature in all jobs.

[2020-09-30 20:23] Gallaecio commented on #4302
A new extension sounds good to me.

[2020-09-30 20:31] Gallaecio commented on #4805
I think so.

[2020-09-30 20:58] Gallaecio commented on #4749
@kmike suggested me to try something: 100 concurrent requests but only 1 per domain, and targeting a single domain. Indeed all 100 requests seem to be processed after Ctrl+C, before the spider stops.

[2020-10-01 01:27] sashreek1 commented on #4805
I have opened a pull request (#4816 ) do check it out and let me know if its fine

[2020-10-01 02:45] bikash1317 commented on #4216
Is This still open, Can I take this up .

[2020-10-01 09:05] wRAR opened #4821 "DOWNLOADER_CLIENT_TLS_METHOD only supports TLS 1.2 and lower"
`DOWNLOADER_CLIENT_TLS_METHOD` only supports values defined in [`scrapy.core.downloader.tls.openssl_methods`](https://github.com/scrapy/scrapy/blob/5a386393595ae6505840f00d6ea4a51beda31e19/scrapy/core/downloader/tls.py#L22) and they don't include TLS 1.3. I've found that there is no similar `TLSv1_3_METHOD` in pyOpenSSL, then I've found https://stackoverflow.com/questions/62243123/python-pyopenssl

[2020-10-01 09:15] wRAR commented on #4821
Also, Twisted already produces a warning about this setting ("Passing method to twisted.internet.ssl.CertificateOptions was deprecated in Twisted 17.1.0. Please use a combination of insecurelyLowerMinimumTo, raiseMinimumTo, and lowerMaximumSecurityTo instead, as Twisted will correctly configure the method.") and we probably need to redesign the related Scrapy settings to fix that.

I'm not 100% su

[2020-10-01 09:26] dswij commented on #4710
You're right, clumsy me!

Travis seems to be a pain for upgrading pip. The one posted in the link does not work and putting it in _before_install_ does not seem to change much. Not sure about this, but probably it's because of pip on travis cache?

Also, on py36, the dependencies keep conflicting. I was wondering if loosening the range of dep versions for test job would be wise?

[2020-10-01 09:35] wRAR commented on #4710
I've forgot again how do we use the pinned env :) As the proposed change modifies the versions there.

[2020-10-01 09:42] dswij commented on #4710
I genuinely forgot the env was supposed to be pinned due to the whole travis thing. Thanks for pointing that out.

[2020-10-01 17:55] Gallaecio commented on #4710
Let’s continue the conversation on the PR, it should make it easier to give feedback specific to it.

[2020-10-01 18:15] Gallaecio commented on #4216
@akamanzi started at https://github.com/scrapy/scrapy/pull/4257, but may be too busy to continue at the moment. Maybe you can resume that work?

[2020-10-01 18:46] #4805 closed

[2020-10-01 18:50] #4751 closed

[2020-10-01 18:53] #4643 closed

[2020-10-01 18:57] #3331 closed

[2020-10-01 19:10] #4606 closed

[2020-10-01 21:36] #3065 closed

[2020-10-01 22:44] Chitresh13 commented on #4797
I want to work on this issue but don't know much about it.

[2020-10-02 11:51] mikeysan commented on #4356
@nitangle I was hoping to contribute too. However, if you follow the conversation/comments, you'll notice why this issue is still open.

[2020-10-02 13:15] elacuesta commented on #4356
Hello @nitangle, @mikeysan. The only pending deprecation in this issue is `Spider.make_requests_from_url`, which is removed in #4178, but it's not going to be merged yet because of our deprecation policy (see https://github.com/scrapy/scrapy/pull/4178#issuecomment-701658893)

[2020-10-02 18:38] Gallaecio commented on #4766
Closing due to a lack of feedback.

[2020-10-02 18:38] #4766 closed

[2020-10-02 18:38] Gallaecio commented on #4680
Closing due to a lack of feedback.

[2020-10-02 18:38] #4680 closed

[2020-10-03 03:56] DarkTrick opened #4826 "Improve Testability of Scrapy ( ReactorNotRestartable )"
## Current Situation

Using scrapy as described in the tutorials ( [this (intro/tutorial.html)](https://docs.scrapy.org/en/latest/intro/tutorial.html) and [this (topics/practices.html)](https://docs.scrapy.org/en/latest/topics/practices.html) ) might/will throw an
`twisted.internet.error.ReactorNotRestartable` error if run with `unittest`.

Both, using `CrawlerProcess` or `CrawlerRunner` will rais

[2020-10-03 07:55] wRAR commented on #4826
Which is how exactly? `CrawlerRunner`, for example, doesn't manage the reactor and shouldn't have this problem.

Can you provide more info about this use case?

[2020-10-03 09:36] DarkTrick commented on #4826
Temporary info: **I will put a small example script together, and add it here soon.**

Apologies for the lack of information. I was expecting, that it's a more known problem, that scrapy would not perform well in unittests.

This is the tutorial I was talking about: https://docs.scrapy.org/en/latest/topics/practices.html

I tried `CrawlerProcess` and `CrawlerRunner`. Both brought up the error.

Th

[2020-10-03 09:47] DarkTrick commented on #4826
@wRAR I added example code in the first post. I hope that clears things up.

[2020-10-03 13:46] wRAR commented on #4826
I still don't know what do you mean by that and you didn't provide any unittest-related code. Note that Scrapy itself has an extensive test suite which uses it in a variety of modes.

And this code works as expected. On the other hand, the code you added to the first post is incorrect and goes against the Scrapy documentation: you have effectively reimplemented `CrawlerProcess` as your `run_spider

[2020-10-04 05:39] DarkTrick commented on #4826
### Summary of this post
I think it's not clear (from the docs) how the test code below should be rewritten to execute properly within the a suite.

### Actual post

Maybe the documentation is a little confusing(?). (This)[https://docs.scrapy.org/en/latest/topics/practices.html] states:

With an emphasis on `won’t start or interfere with existing reactors in any way`

It goes on with

Followed by

[2020-10-04 08:42] alhirzel opened #4827 "Allow usage of file descriptors or stdin with runspider"
https://github.com/scrapy/scrapy/blob/004b40a7193a7c0c5138abe764cad6d1d9a4fc57/scrapy/commands/runspider.py#L14

If this check could be improved, more creative uses of `runspider` would be admitted. For example, using a file descriptor avoids creating a temporary file (following example taken from the home page):

[code]

Currently, this raises an error because the filename ends up being something

[2020-10-04 08:48] alhirzel commented on #4827
https://github.com/scrapy/scrapy/blob/004b40a7193a7c0c5138abe764cad6d1d9a4fc57/scrapy/commands/runspider.py#L19

Upon further investigation, I now see the obvious problem that `import_module` fails because of the resulting filename. Perhaps this idea is a dead-end? If so, I can close this issue.

[2020-10-04 10:01] AkshatGadhwal commented on #4788
hey, can i work on this??

[2020-10-04 11:11] OfirD1 commented on #2759
I think it's worth adding the same documentation for `CLOSESPIDER_PAGECOUNT` and `CLOSESPIDER_ERRORCOUNT`. If it were there, I wouldn't have to test it myself to verify :)

[2020-10-04 15:24] wRAR commented on #4826
This is specifically about `CrawlerRunner` itself, not about the snippet that includes reactor management code and shows that you need to manage the reactor yourself, unlike when you use `CrawlerProcess`. The doc also describes that you have to start and stop the reactor yourself.

Code that explicitly calls `reactor.run()` and `reactor.stop()` cannot be considered not interfering with the reactor

[2020-10-04 15:27] wRAR commented on #4827
`runspider` indeed needs to import the spider module. If you want this feature you can try providing a patch for it if you have an idea how to implement it.

[2020-10-04 16:55] alhirzel commented on #4827
One idea that comes to mind is having ‘runspider’ take a ‘-m’ option to specify the module or file name. I need to investigate a little more what the relationship between filenames and modules is. At the outset do you feel this would be a reasonable approach? Maybe a temporary file gets created with the right name by ‘runspider’ and that’s the end of the magic?

[2020-10-04 17:27] eLRuLL commented on #2759
@OfirD1 yeah I think we should put this part:

in a more generic part, as all closing behaviors still continue processing pending requests.

[2020-10-04 22:11] luckyguy73 commented on #4797
fyi the issue #4797 description has a typo "relfected in Scrapy stats" -> "reflected in Scrapy stats"

[2020-10-05 11:33] wRAR commented on #4827
What do you mean? If you want to pass the spider as a fd, what "module or file name" are you going to pass and how would it be used?

If you mean implementing this in runspider then it's certainly easier to implement it in the script that calls runspider instead.

[2020-10-05 13:10] ashish-hacker commented on #4763
Is this issue still open?

[2020-10-05 17:56] Gallaecio commented on #4788
@AkshatGadhwal @soumallyadev07 is currently being worked on it: https://github.com/scrapy/scrapy/pull/4813

[2020-10-05 18:00] Gallaecio commented on #2759
@OfirD1 Could you please open a new ticket about it?

[2020-10-05 18:03] Gallaecio commented on #4827
I don’t see much value in reading the spider code from the standard input, but it should be possible to import the file as a module somehow, even if the current code _as is_ does not support that.

[2020-10-05 18:19] scientes opened #4829 "CSV item exporter does not flush on close"
### Description
The csv item exporter does not flush on close.

### Steps to Reproduce

1. Create pipeline with an CSV item exporter
2. only export few items (one or two)
3. Let spider close/finish

**Expected behavior:** All exported items are in the CSV Files

**Actual behavior:** Files with few items are empty (not even a header)

**Reproduces how often:** 100%

### Versions

Scrapy       : 2.3

[2020-10-05 19:24] Gallaecio commented on #4829
They get an open file. I think it makes sense for the caller to be responsible of closing the file (just as it opened it), and not the item exporter.

[2020-10-05 19:38] scientes commented on #4829
To be totally honest i didn't think about closing the file, that works as well. But for all other people who might also forget it, calling a flush on closing the CSVexporter doesn't hurt in my opinion. It just makes sure that all items are written to disc on closing the Exporter and the file-pointer is still usable after that so it shouldn't break anything.

[2020-10-05 19:54] Gallaecio commented on #4829
Closing flushes, so proper calling code would not really benefit from this change. However, it is technically possible (though very rare, probably) for the calling code to use the same file object with multiple item exporters, in which case flushing _could_ negatively impact performance.

I don’t expect great penalties from such a change. But I see no real benefit either. I’m -0.5 on adding flushi

[2020-10-05 20:01] scientes commented on #4829
Well i'm more or less neutral on adding it, knowing that it could have a negative impact. Close the issue if you want to.

[2020-10-06 09:19] OfirD1 commented on #2759
@Gallaecio, you mean open a new issue? or just edit it [here](https://github.com/scrapy/scrapy/edit/2.3/docs/topics/extensions.rst) and hit "propose changes"? I'm not sure what "open a new ticket" is, but I want to learn!

[2020-10-06 09:22] wRAR commented on #4829
-0.5 from me too, for the same reasons

[2020-10-06 13:23] #1790 closed

[2020-10-06 13:23] wRAR commented on #1866
I think it's time to close this.

[2020-10-06 13:23] #1866 closed

[2020-10-06 15:32] elacuesta commented on #4802
Re-tagging as "bug" because of the hanging issue mentioned above.

[2020-10-06 16:47] Gallaecio commented on #2842
It needs to be confirmed, but https://github.com/scrapy/scrapy/pull/4746 might have fixed this.

[2020-10-06 16:50] Gallaecio opened #4833 "xmliter_lxml cannot find namespaced node names"
In short: make the `LxmlXmliterTestCase.test_xmliter_namespaced_nodename` test (introduced in #4746) pass.

For background, see https://github.com/scrapy/scrapy/pull/861

[2020-10-06 16:51] Gallaecio opened #4834 "Switch xmliter to iterparse"
See https://github.com/scrapy/scrapy/pull/861

[2020-10-06 17:55] Gallaecio commented on #2759
Sorry, I meant a new issue.

[2020-10-06 18:07] Gallaecio commented on #2842
Yeap, this should be fixed now, `itertag='prefix:loc'` should work.

[2020-10-06 18:07] #2842 closed

[2020-10-06 18:58] OfirD1 commented on #2759
Done.

#4836

[2020-10-06 19:07] codevbus commented on #4797
I'd like to take this.

[2020-10-06 20:53] gbonesso commented on #2916
I'm having the same problem in the url
`https://fnet.bmfbovespa.com.br/fnet/publico/exibirDocumento?id=88001`
In my case I just remove the "s" as a workaround and I'm able to scrape the site without using SSL. Still trying the suggestions above to support SSL...
`http://fnet.bmfbovespa.com.br/fnet/publico/exibirDocumento?id=88001`
@anapaulagomes, maybe this work for Feira de Santana site...
`http:

[2020-10-06 21:25] Gallaecio commented on #4797
@codevbus https://github.com/scrapy/scrapy/pull/4799 is quite close to completion already.

[2020-10-06 21:27] codevbus commented on #4797
Ok no problem, I'll look for another that hasn't been grabbed yet.

Mike Vanbuskirkmike@mikevanbuskirk.io

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, October 6, 2020 5:25 PM, Adrián Chaves <notifications@github.com> wrote:

[2020-10-07 06:05] linehammer commented on #3980
Most of the time these are dependency-issues. When encountering this error please note before the error it may say you are missing a package or header file — you should find those and install them and verify if it works

For Python 2.x use:

`$ sudo apt-get install python-dev`

If you using python3, try to replace python-dev with python3-dev

For a specific version of [Python](http://net-informati

[2020-10-07 07:55] anapaulagomes commented on #2916
In my case, the website had changed their protocol but after talking to them (meaning: complaining in public) they changed it again. Thanks, @gbonesso.
Also, before their latest change, we managed to run a [Docker image](https://github.com/Laerte/diario-oficial-bad-ssl/blob/master/Dockerfile) thanks to @laerte using @unk2k tips. Sharing in case someone is trapped in a problem like this. 👍🏽

[2020-10-07 08:04] unk2k commented on #2916
This issue was about TLS problems. Your problem was about post-TLS connection issue.

[2020-10-07 08:08] unk2k commented on #2916
Scrapy is very sensitive to OpenSSL version. You also should keep in mind, that python, pyopenssl, cryptography should be compiled with your custom OpenSSL version, even it's not system based version of course.

[2020-10-07 08:13] unk2k commented on #2916
You may use my Dockerfile to avoid problems regarding broken TLS connection.

`FROM debian:stretch-slim

MAINTAINER c.slednev@gmail.com

ENV PATH /usr/local/bin:$PATH
ENV LANG C.UTF-8
ENV DISPLAY :1001
ENV USER /root
ENV OPENSSL_VERSION 1.1.1c
ENV PYTHON_VERSION 3.6.9

ENV BUILD_DEPS autoconf file gcc git libc-dev make pkg-config zlib1g-dev \
               bsdmainutils ldnsutils curl libbz2-dev l

[2020-10-07 13:53] noviluni commented on #4356
I removed the "good first issue" label to avoid similar future questions.

[2020-10-08 15:20] #4717 closed

[2020-10-08 19:29] nandilagos commented on #4774
Any notice of this issue? im getting the same error

[2020-10-08 19:38] wRAR commented on #4774
@nandilagos please read the previous comments.

[2020-10-08 21:38] Gallaecio commented on #1992
Reopening as per https://github.com/scrapy/scrapy/pull/4823

[2020-10-10 02:17] DarkTrick commented on #4826
Well, I guess this bug is about API/architecture perception and language perception. So probably a very subjective topic (that we have different opinions about).

I'll sum up my points and close the bug. I guess everything else just spins around:

- I would say the docs do not describe what you are describing here.

- I would say the "assumes basic knowlege of the Twisted reactor" argument is ques

[2020-10-10 02:17] #4826 closed

[2020-10-10 18:54] wRAR opened #4841 "tests/test_downloadermiddleware.py bug with Twisted 17.9.0"
As found in #4814 if you manage to install Twisted 17.9.0 (which our tests currently don't), the `tests/test_downloadermiddleware.py::MiddlewareUsingCoro::test_asyncdef` test hangs, probably because of http://twistedmatrix.com/trac/ticket/9390

[2020-10-11 04:23] vengadam2001 commented on #1463
even I too face the same error but if i add other data(texts) to the pipeline then i am getting this error .

[2020-10-11 19:56] Gallaecio commented on #4841
Unless we can come up with a workaround that gets our tests to work with the minimum supported version of Twisted, what should we do? Should we document the minimum version of Twisted used by asyncio tests as a requirement for asyncio support, or don’t mention it in the documentatio?

[2020-10-11 20:10] keremgocen commented on #2919
anyone working on this?

[2020-10-11 20:20] Gallaecio commented on #2919
I’m not sure this should be considered a bug. Specially after giving some though to https://github.com/scrapy/scrapy/pull/4730.

[2020-10-11 21:30] wRAR commented on #4841
First I need to make sure the problem is only in the tests.

[2020-10-12 10:01] FrancescaFre opened #4842 "[Documentation add] how files works?"
I need to understand how files works during the crawling and how they are used in the crawler. Like "requests.seen", or "queue dir" or "activity.json" and so on. I had some problem with the crawler and i would try to understand how this files works.

Should be useful to know the interaction between this kind of files with the crawler, maybe in the documentation.

[2020-10-13 05:41] kajoomba99 commented on #4654
Hello, I would like to solve this one

[2020-10-13 05:43] VIDMORE commented on #3690
Hello, is this Issue still open?

[2020-10-13 06:49] dswij commented on #4798
To clarify, do we need all the current jobs without `botocore`, or only some necessary jobs?

[2020-10-13 07:42] dswij commented on #4798
To clarify, does this means that the test jobs should be run twice, with `botocore` and no `botocore`? I am not sure since I think this will heavily impact travis test time.

[2020-10-13 10:02] arturfcesped commented on #1855
Same problem, also found the solution thanks to user cesped

[2020-10-13 15:30] wRAR commented on #4841
So, the Twisted change makes the reactor use `get_event_loop()` instead of `new_event_loop()` if the loop is not passed explicitly. pytest-twisted doesn't pass it explicitly so the change affects our tests. But Scrapy now (since #4414) uses `new_event_loop()` explicitly, so I don't understand why non-test Scrapy usage is still fine with old Twisted.

[2020-10-13 21:51] mrcartoonster opened #4843 "Add a Social Preview Image"
## Summary

I see that Scrapy's on Hactoberfest. I found it on GitHub's topics and I noticed it doesn't have a social preview.

## Motivation

Looking through the repos that have Social previews and those that don't. The ones that do have one look professional and stand out more. Scrapy already has image of a scraper that will look amazing as a social preview and help it stand out.

## Describe al

[2020-10-15 09:12] vimagick opened #4845 "`feed_options` is not passed to build_storage()"
https://github.com/scrapy/scrapy/blob/c340e72988fc6ec615b7b9851c3d28c16c26a839/scrapy/extensions/feedexport.py#L454-L455

I'm not sure.
Maybe we need to pass `feed_options` parameter to build_storage().

[2020-10-15 09:53] sl-alexandreaudibert commented on #2115
To me, i needed this : sudo apt install unixodbc-dev

[2020-10-15 12:31] elacuesta commented on #4845
Could you please elaborate?

[2020-10-15 13:30] mcsmith3 opened #4847 "Issue installing Scrapy due to Protego"
![image](https://user-images.githubusercontent.com/45048825/96132825-c23da500-0ec8-11eb-9ad6-e45d6b7aba57.png)
I can't seem to install Scrapy due to an issue with collecting Protego. May not be an issue with Scrapy or Protego itself, but I have tried several times.

[2020-10-16 08:11] wRAR commented on #4847
It's clearly an issue either with your network or with pythonhosted.org.

[2020-10-16 08:11] #4847 closed

[2020-10-16 11:26] GeorgeA92 commented on #4829
In general case (with `FEEDS` setting or with `-o` scrapy command line tool parameter) scrapy use[ `FileFeedStorage`](https://github.com/scrapy/scrapy/blob/2.3.0/scrapy/extensions/feedexport.py#L80-L92) objects for maintaining (open/close) files for item exporters and it's controlled by `FeedExporter` extension.

[ItemExporter code sample from scrapy docs](https://docs.scrapy.org/en/2.4/topics/exp

[2020-10-16 11:38] wRAR commented on #4829
That `PerYearXmlExportPipeline` is indeed problematic.

[2020-10-16 11:39] scientes commented on #4829
Yes i've used the docs as basis. Maybe we should Update the documentation to close the files.

[2020-10-16 15:32] elacuesta commented on #4843
Added, thanks for bringing this into our attention :smile:

[2020-10-16 15:32] #4843 closed

[2020-10-17 12:24] btapash commented on #4233
Hey! I want to translate it into my native language Bengali. Can I proceed with it?

[2020-10-17 12:30] noviluni commented on #4233
@btapash yes please! Go ahead! 😃

[2020-10-19 02:22] Apuyuseng opened #4851 "ftplib.error_perm: 550"
<details>
  <summary>Traceback!</summary>

[code]
</details>

**evade way:**
scrapy/utils/ftp.py line 7 revise `ftp_makedirs_cwd` function
[code]

**reason:**

`ftp.cwd` is ftp current path start

**yes or no only my have this problem?**

[2020-10-19 07:25] wRAR commented on #4851
This doesn't look like a Scrapy problem.

[2020-10-19 07:25] #4851 closed

[2020-10-19 09:56] kmike opened #4852 "Document async def interfaces for signals"
It'd be nice to mention `async def` approach in https://docs.scrapy.org/en/latest/topics/signals.html#deferred-signal-handlers, and maybe even rewrite the example to it.

[2020-10-20 08:55] #4802 closed

[2020-10-21 02:04] sgalich commented on #4485
And what should I do if I need to run my spider via scrapyd with a command like this:
`curl http://123.45.67.890:6800/schedule.json -d project=myparsers -d spider=myspider`

I've got an error `twisted.internet.error.ReactorAlreadyInstalledError: reactor already installed`.

More detailed:

Does this happen bc of this - https://github.com/scrapy/scrapyd/issues/377 ? Or maybe I have some chance to f

[2020-10-22 13:08] EelcoA opened #4854 "Upgrade scrapy 2.2. to 2.3 breaks my code, parse() not called any more"
### Description

My python code fires a spider and after that the output is processed further (sorting, enhancing etc). After an update to scrapy 2.3 the parse() function isn't called any more. It works in 2.1 and 2.2, but fails in 2.3, 2.4.

### Steps to Reproduce

My calling program:

[code]
My spider:

[code]

The 'print' in parse() doesn't fire in scrapy 2.3, 2.4 etc. Luckily we can install ol

[2020-10-22 14:33] Pechi77 commented on #1138
I get `TypeError: __init__() got an unexpected keyword argument 'kwargs'`

which version of scrapy supports kwargs

[2020-10-22 14:47] MiroMz commented on #4796
Dear Maged Saeed,

I want to draw your attention that your attempt to download parts of our website is violating our terms of use which can be unlawful and punishable.

[ from our term of use agreement:
](https://diwany.org/terms-of-use/)
"**(d) except as expressly stated herein, no part of the Site may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted i

[2020-10-22 17:29] MaxValue commented on #1138
1. I guess you are trying to pass arguments to the spider via the command line. The correct mechanism would be [spider arguments](https://docs.scrapy.org/en/latest/intro/tutorial.html#using-spider-arguments).
2. [**cb_kwargs** was introduced in 1.7](https://docs.scrapy.org/en/latest/topics/request-response.html?highlight=cb_kwargs#passing-additional-data-to-callback-functions)

Maybe you should re

[2020-10-23 03:32] peonone commented on #2481
Seems this can be closed by https://github.com/scrapy/parsel/pull/124

[2020-10-23 10:13] #2481 closed

[2020-10-23 10:13] kmike commented on #2481
Good catch, thanks @peonone!

[2020-10-23 16:16] wRAR commented on #4854
`CrawlSpider` should not override `parse`, the documentation for 2.2 already said "When writing crawl spider rules, avoid using parse as callback, since the CrawlSpider uses the parse method itself to implement its logic. So if you override the parse method, the crawl spider will no longer work.".

[2020-10-23 16:16] #4854 closed

[2020-10-23 16:17] wRAR commented on #4854
OTOH you don't seem to use any CrawlSpider features so you shouldn't inherit from it.

[2020-10-23 18:55] DamBarreto commented on #4774
I don't know why, but I've change the command to run the spider to "scrapy runspider 'spider-name'" and get successful to reach and get the page.
Before I'm used "scrapy crawl 'spider-name'".

[2020-10-26 05:27] MagedSaeed commented on #4796
@MiroMz

Thanks for notifying me with the website terms of use. It seems that this page [terms of usage] is recently added. I want to let you know that we are not scraping the website to reproduce it. We tried to do so for academic research purposes.

I do not think this is the best place to discuss this stuff. Could you please drop your or the team email so that I can contact you?

[2020-10-26 10:03] EelcoA commented on #4854
Ah, thanks. That's where I went wrong, somewhere along the line I started to extend CrawlSpider, but didn't use its features. Extending Spider fixed the issue.

[2020-10-26 10:40] synodriver opened #4855 "Return Deferred object from open_spider in pipeline blocks spider"
### Description
"open_spider" method in pipeline can't return Deferred object in scrapy 2.4, otherwise it would block spider. However, in earlier versions(2.3), this do work.

### Steps to Reproduce
1.config in settings.py

asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
TWISTED_REACTOR = 'twisted.internet.asyncioreactor.AsyncioSelectorReactor'

2.use the following code

[c

[2020-10-26 13:45] Lightningbolt200 commented on #4233
I would like to translate in Tamil?

[2020-10-26 15:58] wRAR commented on #4855
May be related to the `new_event_loop`/`get_event_loop` changes from https://github.com/scrapy/scrapy/pull/4414

Note that you can use `scrapy.utils.defer.deferred_from_coro` instead of doing wrapping manually (but it looks like `asyncio.ensure_future` is mostly the same as `asyncio.get_event_loop().create_task()`).

[2020-10-27 04:43] CostaMiguel opened #4856 "frozen screen on xiaomi phones"
the cellphone screen shows up
but i cant control it with my keyboard or mice on the computer.

Xiaomi Mi8 Lite
scrcpy v1.16

[2020-10-27 05:56] michael-lazar commented on #4842
Hi!

I'm still learning about scrapy and here are my personal notes for the JOBDIR. Please don't assume any of this is correct 😄

## Crawl Directory

(using the DownloaderAwarePriorityQueue)

- {crawlname}
  - requests.queue
    - active.json
    - {hostname}-{hash}
      - {priority}
        - info.json
        - q{00000}
  - requests.seen
  - spider.state

### requests.queue

This directory cont

[2020-10-27 07:11] GeorgeA92 commented on #4856
Did You mean [scrcpy](https://github.com/Genymobile/scrcpy) android application?

[2020-10-27 07:55] #4856 closed

[2020-10-27 10:20] synodriver commented on #4855
Thx.

Although none of them works,I come up with an idea to deal with it,
My code just like the following
[code]
It works just like before.~~At least I didn't see anythong wrong.~~
Since [the only method which can be defined with `async def`](https://docs.scrapy.org/en/master/topics/coroutines.html) in pipeline is `process_item`,
just init the database connection in this method would be ok.
Hope t

[2020-10-27 17:43] wRAR opened #4857 "Cannot overwrite an output file with -O"
Initially found at https://www.reddit.com/r/scrapy/comments/jhpc2f/o_doesnt_overwrite_on_wsl/

Looks like `_get_storage()` doesn't pass `feed_options` anywhere?

https://github.com/scrapy/scrapy/blob/75f35f558f5a9e0851c05dda85763b679d713ac1/scrapy/extensions/feedexport.py#L445

[2020-10-28 03:32] trentbuck opened #4858 "structured logging to systemd journal"
Currently scrapy supports logging to stdout or to a file.
Please support logging to the systemd journal.
For rationale see attached patch.

I monkey-patched support in my settings.py (patch attached); this is working.
If you can migrate that into scrapy.utils.log, that'd be great.

[2020-10-28 03:35] trentbuck commented on #4858
[scrapy-journald-hack.patch.gz](https://github.com/scrapy/scrapy/files/5449364/scrapy-journald-hack.patch.gz)

(Oops, apparently github won't let me attach a .patch, only a .patch.gz, and it won't show an error to that effect unless I enable arbitrary code execution (javascript).)

[2020-10-29 01:19] esingtse commented on #2653
Did Scrapy 2.4 solve the problem?

I find my server has more than 80000+ socket  connection in `/proc/2666/fd`, most results show a socket connection 3 days or even a week ago.Isn't the connection that TCP establishes will released after the TLS?

[2020-10-29 01:22] esingtse commented on #2653
btw, my scrapy version is 2.3, python3.8

I use custom proxy middleware:
[code]

[2020-10-29 05:41] trentbuck commented on #4424
Hi, I want scrapy to automatically tune itself based on "please slow down" messages from the server.
I think this ticket is what I want.  It has been idle for some months.
I'm too dumb to understand vortexkd's branch, so I implemented "bare minimum" functionality:

	class TooManyRequestsPleaseSlowDownMiddleware:
	    """Work around https://github.com/scrapy/scrapy/issues/4424 (no 429 Please Slow D

[2020-10-29 06:45] GeorgeA92 commented on #4845
@elacuesta
Without `feed_options` parameter inside `build_storage` call - Storage objects like `FileFeedStorage` ignore  overwrite `-O` option mentioned in [Scrapy 2.4 relase notes](https://docs.scrapy.org/en/latest/news.html#scrapy-2-4-0-2020-10-11) #4857

[2020-10-29 11:11] meetyogi98 opened #4860 "Unable to scrape though getting 200 response code"
### Description

I'm trying to scrape tatacliq.com. But unable to do so though getting 200 response code.

I'm using this url https://www.tatacliq.com/footwear-men-casual/c msh1311113?&icid2=regu:nav:main:mnav:m1311113:mulb:best:02:R1

When I pass this url in fetch() command of scrapy in shell it gives http status code 200. But when try to view response using view(response), it gives me page showi

[2020-10-29 12:58] wRAR commented on #4860
Can you please provide a correct URL?

[2020-10-29 13:32] hakanutku commented on #4855
I'm not really sure if it's a better way to deal with it but you can subscribe to `spider_opened` and `spider_closed` signals and return a deferred there. Scrapy will wait for some signal handlers (`spider_opened` and `spider_closed` are both supports returning deferred from handlers) according to the documentation:

https://docs.scrapy.org/en/latest/topics/signals.html#spider-opened

[2020-10-29 15:26] synodriver commented on #4855
It doesn't works either.The signal handler which return Dederred also blocks spider.The most troublesome is that no exception is raised,making it difficult to debug.

[2020-10-30 04:00] meetyogi98 commented on #4860
URL==
https://www.tatacliq.com/footwear-men-casual/c-msh1311113?&icid2=regu:nav:main:mnav:m1311113:mulb:best:02:R1

[2020-10-30 06:16] #4845 closed

[2020-10-30 07:22] wRAR commented on #4860
As far as I can see, that message is added by JS. Scrapy cannot tell the browser to not execute JS when loading the response file so such things can happen.
Closing as this is not an issue.

[2020-10-30 07:22] #4860 closed

[2020-10-30 07:24] wRAR commented on #4829
Another consideration, the file-like object that is passed to the exporter doesn't necessarily support the flush method.

[2020-10-30 08:25] tofarias commented on #3272
Thanks @dashw00d and @NadirRisc, perfect solutions!!!!

[2020-10-30 13:59] darrenkearney commented on #4589
Hi folks. I've been looking at this because I think it would be handy little feature - I love using WSL whenever I'm using Windows.

I like the idea of calling the scrapy commands from within WSL and scrapy being smart enough to open up my default browser in Windows with the correct file path.

The webbrowser module is running from within the context of WSL may be having some trouble with the inte

[2020-10-30 14:18] wRAR commented on #4589
As explained in the initial comment, the only problem here is the path mismatch between Scrapy inside WSL and the browser outside it (it also mentions how to convert between them).

[2020-10-30 18:49] Gallaecio commented on #578
I’m unsure whether this makes more sense in Scrapy or in https://github.com/scrapy/itemloaders now. If anyone has a better grasp and you think it makes sense to move the issue to https://github.com/scrapy/itemloaders, let me know.

[2020-10-30 18:53] Gallaecio commented on #3888
A proper solution may require changes in https://github.com/scrapy/itemadapter

[2020-10-30 21:02] Gallaecio commented on #4798
To avoid adding more jobs, what we could do is remove the dependency from `[testenv]` but add it to `[testenv:extra-deps]`, so that it is only installed in pinned and extra-deps jobs.

[2020-10-30 21:11] Gallaecio commented on #1855
You can alternatively use [w3lib.http.basic_auth_header](https://w3lib.readthedocs.io/en/latest/w3lib.html#w3lib.http.basic_auth_header)

[2020-10-30 21:47] Gallaecio commented on #4858
Creating a PR is usually preferred to attaching a patch.

[2020-10-30 21:49] keremgocen commented on #2733
I'd like to grab this if that's ok

[2020-10-30 21:51] Gallaecio commented on #4864
Could you provide a [minimal, complete example](https://stackoverflow.com/help/minimal-reproducible-example) to reproduce the issue?

[2020-10-30 21:54] Lucioric2000 commented on #4864
Let me trh. It was 2 years ago when I raised this issue, and the project thay I was with failed.

Enviado desde mi Samsung Mobile de Telcel
Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Adrián Chaves <notifications@github.com>
Sent: Friday, October 30, 2020 3:51:55 PM
To: scrapy/scrapy <scrapy@noreply.github.com>
Cc: lucioric <lucioric2000@hotmail.com>

[2020-10-31 09:19] wRAR commented on #4864
Looks like this is just about mentioning in the docs that you may want to pass the settings explicitly as they are not loaded implicitly.

[2020-10-31 09:45] Lucioric2000 commented on #4864
It should be that the issue.
Thanks.

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Andrey Rahmatullin<mailto:notifications@github.com>
Enviado: sábado, 31 de octubre de 2020 03:19 a. m.
Para: scrapy/scrapy<mailto:scrapy@noreply.github.com>
CC: lucioric<mailto:lucioric2000@hotmail.com>; Author<mailto:author@noreply.github.com>
Asunto: Re: [scrapy/scrapy]

[2020-10-31 15:07] scratchmex opened #4865 "multiple dependencies missing"
## Summary

The documentation says it requires `w3lib` but that package is not listed on the requirements, i.e., when you install the package it doesn't install it.

## Motivation

To facilitate the installation. The installation should be all in one and not require to install every dependency it requires.
New users could feel overwhelmed.

[2020-10-31 15:12] scratchmex commented on #4865
`sybil` is not listed aswell.

[2020-10-31 15:46] scratchmex commented on #4865
`testfixtures` and `PIL` is also missing.

[2020-11-01 15:37] wRAR commented on #4865
This isn't true, all Scrapy requirements are listed properly. This includes w3lib, but doesn't include e.g. sybil. If you have any problems installing or running Scrapy, please use suitable resources e.g. Stack Overflow. If you think there is a problem with Scrapy itself you need to explain what is the problem and how to reproduce it.

[2020-11-01 15:37] #4865 closed

[2020-11-01 19:08] scratchmex commented on #4865
Use `pipenv install scrapy` and try to run the tests. As I said, they are listed but not included in the requirements in the setup.py file

[2020-11-01 19:18] wRAR commented on #4865
Tests indeed require additional deps which are not installed because they are not needed to run Scrapy. This is not an issue.

[2020-11-02 04:27] quang-nguyen-enveda commented on #4857
I'll take it to fix

[2020-11-02 04:27] quang-sudo commented on #4857
I'll take it to fix

[2020-11-02 15:15] internalG opened #4867 "MAIL_PASS security?"
I have enabled the StatsMailer and works well. But I have the MAIL_PASS in settings.py and stored in git. What's the best practice to handle that? Thanks.

[2020-11-02 16:13] wRAR commented on #4867
This is an issue tracker, not a place for asking usage questions. Please use resources such as Stack Overflow for that.

[2020-11-02 16:13] #4867 closed

[2020-11-02 22:15] Caffe1neAdd1ct commented on #3463
Any progress on the related pull request?

I'm trying to detect the reason on spider closed signal listener and getting "finished" no mater how the close is called:

[code]

Hoping this would be fixed with #4058

[2020-11-03 10:39] gv-collibris opened #4868 "Cannot use the logger due to issue with the name"
### Description

1. I cannot use the built-in logger of a `Spider`, due to 2.
2. I cannot use the name of a `Spider`

### Steps to Reproduce

1. Create a project and a test `Spider`:
[code]
This spider does absolutely nothing, as we do not need it to do anything.
2. Run the `TestSpider`: `scrapy crawl Test`
3. Watch it fail

**Expected behavior:** Ability to use the logger: we see the message `[Te

[2020-11-03 12:09] #4868 closed

[2020-11-03 16:07] themagicalmammal commented on #2115
I had to use the .whl file.

[2020-11-03 22:12] jornfranke opened #4870 "S3 Storage Backend: Adding aws_key and aws_secret to URI does not work"
### Description

According to the documentation (https://docs.scrapy.org/en/latest/topics/feed-exports.html#s3), I can add the aws_key and the aws_secret as part of the URI in settings.py:
[code]
However, it seems Scrapy does not pick those up. Only if AWS_SECRET_KEY_ID and AWS_SECRET_ACCESS_KEY are set in settings.py it works. I also do not find evidence in the source code that this could work ot

[2020-11-04 11:58] sriganesh040194 opened #4871 "S3 FeedStorage does not support custom S3 like storages"
### Description
Storage options for S3 feed storage is not exporting to custom S3 like storage as supported by image pipeline. The endpoint `botocore` trying to hit is AWS's servers and it is not respecting the endpoint set using `AWS_ENDPOINT_URL` and `AWS_REGION_NAME`

### Steps to Reproduce

1. set all the necessary parameters in `settings.py` file such as  `AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_

[2020-11-04 14:36] elacuesta commented on #4855
As @wRAR points out, the problem seems to be related to the handling of the `asyncio` event loop.

Consider the following snippet:
[code]
Executed on top of the current `master` branch (a5872a0fad090c3d3f91f6e03a772265aa50f901) with
[code]

This hangs, however it does work with the following change:
[code]

I'm not entirely sure about the full implications of this change, we probably need to do a

[2020-11-04 20:42] elacuesta commented on #4855
The [Twisted asyncio reactor uses `get_event_loop`](https://github.com/twisted/twisted/blob/twisted-20.3.0/src/twisted/internet/asyncioreactor.py#L61-L62) when it's installed. This means that if the user code does not specify a custom loop (via the `ASYNCIO_EVENT_LOOP` setting) `get_event_loop` calling `set_event_loop` happens anyway, and not within the Scrapy realm.

I think it should be safe for

[2020-11-04 21:29] #4857 closed

[2020-11-06 12:30] Gallaecio commented on #4870
You were looking at the wrong code, this is where that feature is implemented: https://github.com/scrapy/scrapy/blob/master/scrapy/extensions/feedexport.py#L127

So, in theory it should work. Any chance you can debug that part of the Scrapy code yourself, see what’s happening at that point? Is it possible that this is a encoding issue when setting the password in the URL?