[2021-04-21 14:42] Gallaecio commented on #5111
I guess we need to look into this, and either change the documentation or change how `startproject` works.

[2021-04-21 21:01] dchaplinsky commented on #5105
Hello! Thanks for the prompt reply.

Here is the code of the spider/item I'm using. This one is extracted from the real project of mine and tested on vanilla installation of Scrapy/default settings:

[code]

will post test results shortly

[2021-04-21 21:10] dchaplinsky commented on #5105
Here goes stats output on an empty cache and shitty wifi connection (24 items per second):
[code]

and here is the stats output on fully cached version of the same website (39 items per second):
[code]

You can try it yourself (you might want to plug in the full sitemap `https://www.pravda.com.ua/sitemap/sitemap-archive.xml`, not just 3 months that I did).

Once again, test with empty cache was ma

[2021-04-21 21:21] dchaplinsky commented on #5105
Just for the sake of clean experiment I ran it on server too:
No cache: 45 items per second
Fully cached: 81 items per second

[2021-04-22 02:55] nowari commented on #5111
Thanks a lot, I will continue to pay attention to it.

[2021-04-23 01:10] luisotaviocap98 commented on #5109
All right. Thank you for your attention, @Gallaecio . I'm going to take a look at this part of the documentation and testing. As I use Scrapy, I will see if there are any bugs to report or any ideas for new features. If you need help with ideas for new contributors you can call me.

[2021-04-23 02:29] wananzuiqingfeng opened #5114 "The del operation is not executed when the response object is returned in the Scrapy download middleware"
I am writing a download middleware that connects Scrapy to Selenium:
[code]
When I tested the program, I found that when the response object was returned, the program did not perform the del operation, which caused the opened browser to fail to close as expected.

Output result:
[code]

It can be seen that no exception was triggered when the program was running, but the program did not use del to

[2021-04-23 04:57] Gallaecio commented on #5114
Use the `spider_closed` signal is probably the right place to do this.

In any case, please use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2021-04-23 04:57] #5114 closed

[2021-04-23 21:39] dchaplinsky commented on #5105
That's 2017 MBP 15" with 1TB PCIe-based onboard SSD

I'll run tests with different cache storages tomorrow

On Sat, Apr 24, 2021 at 12:36 AM Georgiy Zatserklianyi <
***@***.***> wrote:

[2021-04-23 22:24] dchaplinsky commented on #5105
`'item_scraped_count': 5645`

FilesystemCacheStorage, empty cache:
` 'elapsed_time_seconds': 220.263199,`

FilesystemCacheStorage, full cache:
` 'elapsed_time_seconds': 155.649056,`

DbmCacheStorage, empty cache:
` 'elapsed_time_seconds': 286.342644,`

DbmCacheStorage, full cache:
` 'elapsed_time_seconds': 141.466789,`

FilesPipeline is not used in this test, it was the part of my bigger project.

[2021-04-24 06:56] spittieUM commented on #5079
Hello,

I know this issue looks to be resolved, but I worked on the bug as well.
Will link a pull request that fixes the error and adds a test.

Thanks.

[2021-04-24 11:13] GeorgeA92 commented on #5105
<details>
  <summary>Test script (should be equal to script above in terms of this topic) </summary>

[code]

</details>

My configuration:
[code]
Internet connection: wired 20Mbits/s ADSL,
Storage: 1TB HDD(2016) WDC WD10JPVX-22JC3T0

Result stats data:
<details> <summary>Default settings (Without cache), 286 seconds </summary>

[code]
</details>
<details><summary>FileSystemCache - 1st run (create

[2021-04-24 20:21] felixonmars opened #5116 "Test failure in 2.5.0 release"
### Description

There is one test failure in latest 2.5.0 release. It was not present in older versions, though.

[code]

### Versions

[code]

[2021-04-25 08:17] dchaplinsky commented on #5105
@GeorgeA92 so effectively, that's an expected behavior? In my case the gain from working solely from cache is less that 2x (which makes me really sad). Is there an option to optimize/utilize more CPU (cpu cores)? Or because of reactor, this is the maximum, that reactor might provide?

[2021-04-25 11:29] GeorgeA92 commented on #5105
@dchaplinsky

It is not expected that website allows to continiously send ~1500+ requests per minute from single IP without IP bans or other anti-bot restrictions from server side.  (this is very unique case)
Usually it is not.. polite to send that amount of requests with that rate.
From my point of view ~1500+ requests per minute sending rate from single IP - is not slow, it is already too much.

[2021-04-25 11:48] wRAR commented on #5116
How can we reproduce this?

[2021-04-25 14:27] felixonmars commented on #5116
It seems only present when running the test suite with pytest-runner (`python setup.py pytest`). Sorry for the trouble :(

[2021-04-25 14:39] mmitropoulou commented on #5096
Hello, I have made a small change and now when you send an email with utf-8 encoding the body of the email looks fine and does not have a base64 encoding. Do you want me to do a pull request or maybe a draft pull request to see what I have done and give me feedback?

[2021-04-25 15:50] FilipePintoReis commented on #5051
@Gallaecio I have two questions about this:

**1. This one is pretty straight forward.**
Is there any way you can clarify what you mean by "protocol string"?

**2. Forgive me if this one is too big.**
From what I've read thus far, UTF-8 encodes strings in 8 bits and ASCII encodes them in 7. That said, UTF-8 has retro compatibility with ASCII.
I've looked into [the PR you mention](https://github.co

[2021-04-25 20:12] dchaplinsky commented on #5105
Erm, so it's not cache, that looks too slow to me, but my data source, which is way too fast? :)

Anyway, any clues, where I should look/profile for a better performance when working from cache only? 2000 items per minute doesn't sound like a massive number to me (and my io metrics also looks reasonably low).

For example, I currently have fully cached version of a website that has 790k of pages (

[2021-04-25 20:50] omab commented on #5105
@dchaplinsky, sorry, but I can't help with any guidance here, I've been disconnected from Scrapy for a very long time now. Good luck!

[2021-04-25 22:44] GeorgeA92 commented on #5105
@dchaplinsky

For Your case reading all data directly from cache storage sequentially (ignoring requests order from spider) as proposed here  https://github.com/scrapy/scrapy/issues/2365 (but not implemented) can be more I/O efficient and faster (theoretically).
Both `FilesystemCacheStorage` and `DbmCacheStorage` implemented as key/value storages (SHA1 hash from request content used as key).

[2021-04-25 23:16] dchaplinsky commented on #5105
Thanks.

Maybe I'll try some 3'rd party caching backends for in-memory key-value
storages just to eliminate the disk i/o noise and see if that helps.

On Mon, Apr 26, 2021 at 1:44 AM Georgiy Zatserklianyi <
***@***.***> wrote:

[2021-04-26 07:56] wRAR commented on #5116
`python3 setup.py pytest --addopts="tests/test_utils_conf.py"` doesn't fail for me either.

[2021-04-26 12:55] Gallaecio commented on #2016
I’m not sure we need this feature. It seems like in most cases the code can be in the spider itself, and when that’s not desired (i.e. for code reuse) a spider middleware should do the job.

[2021-04-26 12:58] Gallaecio commented on #3001
The approach in https://github.com/scrapy/scrapy/issues/3001#issuecomment-344226446 looks clean enough to me, I’m not sure this is worth any change.

[2021-04-26 14:12] Gallaecio commented on #5096
That would be great! Feel free to make it a regular pull request if it’s ready for review and discussion.

[2021-04-26 14:47] Gallaecio commented on #5051
I was looking at the code of https://github.com/scrapy/scrapy/pull/4769 to find the line where I saw us decoding the protocol byte array trusting it to be UTF-8, to answer your questions, but it turns out @elacuesta [already fixed that](https://github.com/scrapy/scrapy/pull/4769/commits/6326178bc5824e8c08d84b6543de6977a16fb8d2) before we merged the code.

[2021-04-26 14:47] #5051 closed

[2021-04-26 18:09] Gallaecio commented on #5105
Thank you for your detailed analysis, @GeorgeA92, and thank you as well @dchaplinsky for your detailed report and following up. Given your findings, and that we already have https://github.com/scrapy/scrapy/issues/2365 for a potential performance improvement of such scenarios, I think we can close this.

[2021-04-26 18:09] #5105 closed

[2021-04-26 19:16] #3537 closed

[2021-04-26 19:33] SabbirAhmedAdor629 commented on #5079
Hi, I want to work on this is it still available?

[2021-04-27 06:26] Gallaecio commented on #5079
There’s 2 on-going pull requests already to fix it. Unless you want to review and provide feedback to those pull requests, it might be best to work on something else.

[2021-04-27 13:46] dchaplinsky commented on #5105
@Gallaecio, don't want to reopen this issue, but I made few more tests using standard caching backends on a ram disk (mac os x).

This is how I created it:
`diskutil erasevolume HFS+ 'My Disk' `hdiutil attach -nomount ram://8388608`

First run (cache empty,  `DbmCacheStorage`, LTE mobile internet)
elapsed_time_seconds: seconds 243.758387

Second run (full cache)
elapsed_time_seconds: 138.585838

T

[2021-04-27 14:05] dchaplinsky commented on #5105
Lowering CONCURRENT_ITEMS down to 1 gives a 10% speedup, changing numbers of concurrent request has no impact, changing reactor to asyncio has no impact.

[2021-04-27 16:17] Gallaecio commented on #5079
@apalala @marlenachatzigrigoriou @spittieUM Looking deeper into the code to provide better feedback for your solutions, it started to seem to me that this issue should not be happening at all, because exceptions from the `get_images` method should not block the download of other images.

To be sure, I went ahead and tested the issue myself, creating the following file and running it with `scrapy r

[2021-04-27 16:26] Gallaecio commented on #5105
Regardless of your test results, I believe that https://github.com/scrapy/scrapy/issues/5105#issuecomment-826308535 remains true, and that the goal to improve performance of cache reads in Scrapy is tracked by https://github.com/scrapy/scrapy/issues/2365.

[2021-04-27 16:27] wRAR commented on #1144
As we are almost ready to merge the feature that allows `await` in callbacks (#4978), I've decided to check what can now be done to implement things discussed here.

So far the idea is to schedule the request via some API available in the callback and receive either a response or an exception (raised or returned) right there, pausing the callback but not the spider until it's available. As we supp

[2021-04-27 16:40] wRAR commented on #1144
While we didn't discuss the current implementation ideas much, we already found multiple questions:

* Should an exception be raised or returned in some form? Looks like raising is better for the API user.
* How should an awaited request be serialized, put into a disk queue, saved with the spider state to resume the spider from it, etc.? Unlike a normal detached request that only needs to know wha

[2021-04-27 17:01] wRAR commented on #1144
It also may be useful to consider if we need anything else in addition to a linear `await Request()`. In my experience, inline-requests is mostly used in the following scenarios:

1. There is too much state to pass around in `meta` cleanly, so a request, or several sequential ones, are made in the same callback. This is straightforward.
2. A bunch of subpages contain data that needs to be gathered

[2021-04-27 19:05] felinto-dev opened #5120 "[Question] What method does Scrapy use to expire files in FilePipeline?"
What method does Scrapy use to expire files in FilePipeline?

https://docs.scrapy.org/en/latest/topics/media-pipeline.html#file-expiration

I looked at the documentation on this, but not much is informed about which algorithm is used to define whether a file needs to be downloaded again or not.

[2021-04-27 19:43] kmike commented on #1144
Nice summary, thanks @wRAR!

[2021-04-27 20:07] kmike commented on #1144
Some thoughts on the questions:

+1 to raise an exception.

It doesn't seem to be possible to serialize and deserialize these requests like other requests. To restore spider state from the disk queue you'd need all the local variables in the callback, generator state if a callback is a generator, etc., which looks impossible, or very brittle and hacky if an implementation is possible.

My vote is

[2021-04-27 20:32] marlenachatzigrigoriou commented on #5079
@Gallaecio I agree. From the first time, without changing the code, the spider was downloading the valid images and not the invalid ones. In my case, the raised OSError exception was visible in the command line but wasn't affecting the download. In this way, I thought that the issue was to face the OSError so it won't be raised anymore.

[2021-04-28 01:22] anandmg101 opened #5121 "Second and subsequent spider runs throws up "builtins.KeyError: ""
Hi, based on the suggestions in this SO post [https://stackoverflow.com/questions/22116493/run-a-scrapy-spider-in-a-celery-task](url) I have developed my spiders. The first time I run in a new python kernel, it works well. Next time I run it, it seems it is running twice with the following error. 3rd time it is running 3 times, so on. I have tough time figuring out what exactly is happening.

Duri

[2021-04-28 07:15] Gallaecio commented on #1144
At the moment I feel more inclined to having these requests also go through the scheduler, but do not allow to serialize them. I would rather not skip the scheduler for any request, at least not by default. Memory buildup should not be a concern, as [the default scheduler prioritizes unserializable requests](https://github.com/scrapy/scrapy/blob/ddea6b7bfa38bf5402d78350ab61e2c827ca49b5/scrapy/core

[2021-04-28 07:25] Gallaecio commented on #5121
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2021-04-28 07:25] #5121 closed

[2021-04-28 09:06] wRAR commented on #5120
The pipeline just looks at the file modified time as far as I can see.

[2021-04-28 21:35] kmike commented on #1144
A good point about prioritizing in-memory request @Gallaecio, I think you're right. I don't see other caveats here. Maybe we'd need to make sure that such requests are not seen as an errors from the logging/stats point of view (scrapy non-serializable requests), but that's minor.

[2021-04-28 22:23] kmike commented on #1144
One more thing: it would be cool to have await-based shortcuts for headers_received and bytes_received signals. Use cases: a different way to cancel a request; streaming of the responses.

[2021-04-29 12:46] andereb081 commented on #2115
**Thanks for this:**

For python3.8 I had to change the above to:
sudo apt-get install python3.8 python-dev **python3.8-dev** \
        build-essential libssl-dev libffi-dev \
        libxml2-dev libxslt1-dev zlib1g-dev \
        python-pip
Then the build command worked

[2021-04-30 07:39] ThomasAitken commented on #3258
Thoughts:
https://github.com/ThomasAitken/scrapy-sessions
?

[2021-04-30 08:56] qiankunxienb opened #5125 "DNS Resolver should have an expire time for cache."
## Summary

DNS Cache should have expire time.

## Motivation

I am using K8S to deploy scrapy to post some data to a API concurrently. However, when I update the api, the pod may change to another host machine, therefore, the ip address behind the API's Domain is changed. But now Scrapy's resolver only uses OrderedDict to store the DNS cache with a size but without expire time. So after I update

[2021-04-30 14:10] agolebiowska opened #5126 "AttributeError: 'int' object has no attribute 'decode'"
### Description

[Description of the issue]

Hi, I updated python to 3.9 and for one of my projects when running `scrapy crawl` I get this error. I am not sure if this is my fault or it's a bug.

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]
No error should appear.

**Actual behavior:** [What actually happens]
[code]

[2021-04-30 14:12] wRAR commented on #5126
This looks like a problem with your code that sets cookies but if you think it's a problem in Scrapy you need to provide a minimal reproducible example of it.

[2021-04-30 14:57] agolebiowska commented on #5126
Sorry for this vague question, it is my first contact with scrapy, and thank you because I think your response actually helped... I just changed this `scrapy.Request(response.url, cookies={ 'allowallcookies': 1}, callback=self.parse_forum)` to `scrapy.Request(response.url, cookies={ 'allowallcookies': '1'}, callback=self.parse_forum)`

[2021-04-30 15:04] wRAR commented on #5126
That's what I've meant, yes.

[2021-04-30 15:04] #5126 closed

[2021-04-30 18:30] diimourao commented on #5125
i'm working on this issue!

[2021-05-01 00:23] GeorgeA92 commented on #3258
@ThomasAitken
From https://github.com/ThomasAitken/scrapy-sessions readme:

It is not true. Basically [CookiesMiddleware](https://github.com/scrapy/scrapy/blob/2.5.0/scrapy/downloadermiddlewares/cookies.py) is a wrapper around dictionary with CookieJar objects from python builtin [`http`](https://docs.python.org/3/library/http.cookiejar.html#module-http.cookiejar) module.

It is possible to reach

[2021-05-01 02:06] FilipePintoReis commented on #5125
Me and @diimourao had a look at this together.

[2021-05-01 03:19] abhinavkulkarni opened #5128 "Scrapy with non-blocking RabbitMQ Twisted protocol"
Hi,

I am trying to get around Scrapy's requirement of feeding the spider with URLs from `start_urls` array or `start_requests` generator. Instead, I would like to kick the downloader (and subsequent downloader middlewarew) from a callback that is triggered by RabbigMQ's Twisted protocol whenever it receives a message on a particular exchange.

Following, I have a simple example of a consumer and

[2021-05-01 04:17] ThomasAitken commented on #3258
@GeorgeA92 Yes, I understand that the Scrapy Cookiejar is a wrapper around the http Cookiejar, and yes you are right that you can use that trick to access the cookie middleware. But my API offers much nicer syntax, convenient methods for inspecting the specific cookies and functionality to 'refresh' sessions.

As for the 'profiles' aspect, yes you are right that you can bind proxy addresses to a c

[2021-05-01 06:34] Gallaecio commented on #5128
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

The cleanest way to implement this will probably be once https://github.com/scrapy/scrapy/pull/4978 is merged, though.

[2021-05-01 06:34] #5128 closed

[2021-05-03 03:31] rox117 commented on #4852
is this issue still up for grabs?

[2021-05-03 03:56] rox117 commented on #4864
I would like to work on this if that is ok

[2021-05-03 05:31] Lucioric2000 commented on #4864
Great!

[2021-05-03 06:17] Gallaecio commented on #4852
@rox117 I think so.

[2021-05-03 09:20] marlenachatzigrigoriou commented on #5043
Hello! @mmitropoulou and I would like to contribute to this issue.

[2021-05-03 15:59] GlenDC opened #5129 "support for custom key used for the HTTP11 Connetion Pool"
## Summary

Make it possible to use a custom key for each connection made within the http11 code,
or at least allow part of it to be configurable, currently these keys are non-configurable.

## Motivation

Relevant parts of code:

- https://github.com/scrapy/scrapy/blob/e27eff47ac9ae9a9b9c43426ebddd424615df50a/scrapy/core/downloader/handlers/http11.py#L217
- https://github.com/scrapy/scrapy/blob/e

[2021-05-03 19:10] wRAR commented on #5129
Do you want the persistent connection to improve download speed, or?

[2021-05-03 19:24] GlenDC commented on #5129
No, I want it in order to be able to use the same connection with my internal proxy service as to be able to maintain my entire session, just as a regular browser would be able to maintain that same connection for all its requests for that one user session.

[2021-05-04 14:45] larue-jordan commented on #4962
Is this issue still available?

[2021-05-04 15:02] Gallaecio commented on #4962
Not really, there is already a pull request, https://github.com/scrapy/scrapy/pull/4966, which only needs 1 more maintainer review before being merged.

[2021-05-04 15:05] larue-jordan commented on #4962
Ok.  Do you know if there is currently an issue that is available that I might be able to contribute to as a first time open source developer?

[2021-05-04 15:21] Gallaecio commented on #4962
We run out of good first issues quite quickly, and I’m not sure we have anything like that open at the moment :expressionless:

[2021-05-04 15:22] larue-jordan commented on #4962
Ok. Thank you

[2021-05-04 23:21] GlenDC commented on #5129
Found a way to do it by MonkeyPatching it, but it seems a bit ugly if you ask me:

[code]

[2021-05-05 06:52] gikpro opened #5132 "Scrapy don't return items scraped when i use a container (dict, list, tuple) with more one URL"
I need help to resolve this problem with scrapy.

I try to get items from a website with scrapy. The website has many categories with each a URL. I have created a tuple with a part of each URL of these categories. I use start_requests to yield Request to these URLs. Each page of each category has ten resume articles with a link for read the complete article, and has a pagination. My problem, i can

[2021-05-05 06:59] wRAR commented on #5132
This is a tracker for issues in Scrapy itself. Please use suitable places, like https://stackoverflow.com/ , to ask about issues in your code.

[2021-05-05 06:59] #5132 closed

[2021-05-05 07:36] gikpro opened #5133 "How to use ItemLoader to get items from selector instead of response and pass instance of ItemLoader in other methods to continue to add items from other page ?"
I try to get items from selector, method xpath consider my xpath as a string. I have seen in a book that if i want to iterate over my selector instead of the all page i should use a dot before my xpath, but it seems that doesn't work.  This cause i can't get the URL of the article to continue to add items in the items loader from the method parse_article_text. In parse_article_text, i think i don'

[2021-05-05 08:12] Gallaecio commented on #5129
If you want a cleaner approach until this is implemented in Scrapy itself, you could subclass the default download handler class for HTTP, and set it in [DOWNLOAD_HANDLERS](https://docs.scrapy.org/en/latest/topics/settings.html#download-handlers) to use it. You can then subclass `ScrapyProxyAgent` with your custom `request` method, and have your custom download handler class use your `ScrapyProxyA

[2021-05-05 08:17] Gallaecio commented on #5133
It should work, so the problem is probably in your code.

If you think there’s a bug in item loaders, please report it at https://github.com/scrapy/itemloaders providing a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), unless it’s only reproducible with Scrapy, but I think that’s unlikely.

However, chances are you cannot provide a minimal, reproducib

[2021-05-05 08:17] #5133 closed

[2021-05-05 09:03] GlenDC commented on #5129
Thank you @Gallaecio for your input. I agree that your suggested approach is cleaner. Going to give it a try somewhere this week and I'll come back to you!

[2021-05-05 11:45] keremgocen commented on #2733
Hey @marlenachatzigrigoriou, sorry I had to drop this. Feel free to drop a comment here if there are any blockers I'm sure someone will help.

[2021-05-06 06:25] Rashid1152 commented on #3140
@tianhuil how we can use it with redis_scrapy?

[2021-05-06 14:03] rennerocha opened #5135 "Remove UrlLengthMiddleware from default enabled middlewares"
According [RFC2396](http://www.faqs.org/rfcs/rfc2396.html), section 3.2.1:
[code]

We have enabled by default `scrapy.spidermiddlewares.urllength.UrlLengthMiddleware` that has a default limit defined by `URLLENGTH_LIMIT` setting (that can be modified by in project settings) set to `2083`. As [mentioned here](https://github.com/scrapy/scrapy/pull/5134), the reason for this number is related to limi

[2021-05-06 14:29] Gallaecio commented on #5135
I would go for `URLLENGTH_LIMIT = -1` and making that the default value, unless we decide to remove the middleware altogether.

And I think we should at least consider removing the middleware altogether unless we can come up with scenarios where this middleware can be useful, and if we do we should mention those in the documentation of the `URLLENGTH_LIMIT` setting.

[2021-05-06 21:02] lamaqdahodwala opened #5136 "Running spiders from inside code?"
## Summary

I want to make a UI to go along with Scrapy. However, this is not possible because the only way to scrape pages (at least as far as I know) is to use the command line tool. Could you guys add a way to execute spiders from code, or show me an already existing way?

## Motivation

This supports many use cases, ranging from simple discord bots to entire websites based on web scraping.

##

[2021-05-07 06:51] wRAR commented on #5136
You seem to have missed https://docs.scrapy.org/en/latest/topics/practices.html#run-scrapy-from-a-script

[2021-05-07 06:51] #5136 closed

[2021-05-07 12:22] lamaqdahodwala commented on #5136
Thanks a bunch dude!

[2021-05-07 23:08] apalala commented on #5079
@Gallaecio, it may be that the only issue is that having an `OSError` stack trace escape to the logs is unexpected.

[2021-05-08 03:31] kalpeshtawde commented on #3103
Same problem, no luck yet.

[2021-05-08 07:13] mxdev88 commented on #4180
FTP is still useful.  Could it considered adding an option to secure the connection with [FTPS](https://docs.python.org/3.6/library/ftplib.html?highlight=ftp#ftplib.FTP_TLS) instead of removing?

[2021-05-09 15:15] FilipePintoReis opened #5138 "Development Dockerfile and Setup Documentation"
## Summary

As a contributor to Scrapy, I'd like to have a dockerized environment to make changes to Scrapy without needing to set up what I need locally. Besides that, I'd also like to have detailed information on how to install all dependencies that Scrapy requires, in case I want to develop locally.

## Motivation

I started trying to contribute to Scrapy, but I didn't find any tutorial or expl

[2021-05-09 15:17] FilipePintoReis commented on #5138
Coincidentally, I started working on this.

[2021-05-09 16:12] wRAR commented on #5138
Assuming you've read https://docs.scrapy.org/en/latest/contributing.html , what do you think it's missing from it?

[2021-05-09 16:53] FilipePintoReis commented on #5138
I argue a docker file is useful if you don't want to install Anaconda locally for whatever reason.
What I believe to be missing there is:
a) List of dependencies + installation commands.
b) An explanation of how to use a Scrapy version you cloned e.g., create your project in the same level of the internal scrapy folder and use the scrapy.cmdline.execute command to make the command line calls you'd

[2021-05-09 17:04] wRAR commented on #5138
Ah OK, so that's Windows-specific.

You don't need this to run tests (just `tox`) and when using a local clone `pip install <path>` should install the deps I think.

`pip install` it into your project's env.

[2021-05-09 18:10] FilipePintoReis commented on #5138
I meant to be able to use scrapy as if you were a final user, not to run the tests.
My docker file contains the dependencies that I found missing while running the command "scrapy crawl {spider-name}", but today I looked into the repository's Insights > Dependency Graph and I realized that I'm still missing some dependencies.

I was installing them one by one, as you can see in this snippet;
![ima

[2021-05-09 18:54] kmike commented on #5135
MSIE is not the only main reason for having url length limit. Sometimes, when you're doing broad crawls, you can have a website returning links of ever-increasing length, which usually indicates a loop (and sometimes - incorrect link extraction code); url length limit acts as a stopping condition in this case. It also puts some limits on the request size. I'm not sure, maybe that was also useful f

[2021-05-09 19:32] wRAR commented on #5138
As I said, `pip install <path to scrapy>`.

[2021-05-09 21:43] GeorgeA92 commented on #5105
@dchaplinsky

I see 2 other directions (is not related to I/O efficiency of working with cache):
1.Get failed urls with error from [logs](https://docs.scrapy.org/en/2.5/topics/logging.html#logging-settings) (assuming that error urls mentioned in log entries) Reconfigure spider to parse only previously failed urls.
-> parse only failed urls - not all 790k pages.

2.Or/And "divide" webpages into sev

[2021-05-10 02:35] luisotaviocap98 opened #5140 "testing implementation"
Hello everybody. In a previous issue #5109, @Gallaecio reported that, as a contribution option for a beginner, it would be to make test codes. However, to do tests you need to have knowledge about the structure / architecture of the software. I currently participate in an academic project at the university, where one of my goals is to make a contribution to a free software project. So, I would lik

[2021-05-10 07:28] Gallaecio commented on #5079
@apalala Shall we close this issue then, or would you want to hide that error or remove the traceback?

[2021-05-10 07:38] Gallaecio commented on #5135
Doesn’t that happen through redirects? (i.e. handled by `REDIRECT_MAX_TIMES`) Or are we talking about a website containing ever-increasing links in the HTML of their responses?

[2021-05-10 07:45] Gallaecio commented on #5138
As for Anaconda, we recently included installation instructions for Windows without Anaconda: https://docs.scrapy.org/en/latest/intro/install.html#windows

[2021-05-10 07:57] Gallaecio commented on #5140
https://docs.scrapy.org/en/latest/contributing.html#tests covers how to run tests. Feel free to suggest improvements.

You can browse test coverage by file at https://codecov.io/gh/scrapy/scrapy/tree/master/scrapy. But I’m not sure what would be the easiest. You could start with components (spider middlewares, downloader middlewares, and item pipelines) that already have tests but not full coverag

[2021-05-10 09:57] kmike commented on #5135
Yeah, it is about ever-increasing links in HTML responses, or links which could be incorectly built by the client code.

[2021-05-10 10:24] Gallaecio commented on #5135
That could probably be handled by `DEPTH_LIMIT`, but since it is disabled by default, I guess it makes sense to keep `URLLENGTH_LIMIT` set by default.

Shall we simply allow to set `URLLENGTH_LIMIT` to a value that effectively disables the middleware? Any preference? (`-1`, `0`, `None`).

[2021-05-10 11:02] minhhuu291 commented on #4951
You could try set USER_AGENT = 'Mozilla/5.0' in settings.py. I tested with your link and it worked.

[2021-05-10 13:07] kmike commented on #5135
Yeah, why not? I think we're using 0 for other settings as such value.

[2021-05-10 22:18] burakcank commented on #4852
Can I take this issue please ? I have been working on this one for almost a day now, trying to learn my way around coroutines and deferred objects.

[2021-05-10 23:04] rox117 commented on #4852
about to submit a pull request

[2021-05-11 02:22] luisotaviocap98 commented on #5140
OK thanks @Gallaecio. Is there any documentation or tutorial on creating test codes? I couldn't understand them, for me, they are not as intuitive as the tests in javascript

[2021-05-11 07:10] Gallaecio commented on #4864
This was already resolved by #5070, sorry for missing that.

[2021-05-11 07:10] #4864 closed

[2021-05-11 07:29] Gallaecio commented on #5140
We use mostly standard Python for tests, so the main documentation would be https://docs.python.org/3/library/unittest.html

Beyond that, we do use Twisted’s `unittests` for some tests that need it, but the API should be mostly that of https://docs.python.org/3/library/unittest.html. And we do use https://pytest.org/ features in some cases, but only those compatible with https://docs.python.org/3/

[2021-05-11 12:49] GowthamParamasivam opened #5144 "Language translation using Google Translation API"
I faced a situation where I need to convert the language of the item fields from one language to another, I think it will be good like how we currently have middleware to download the images and upload them to the S3 bucket.

[2021-05-11 20:23] #4881 closed

[2021-05-11 23:54] luisotaviocap98 commented on #5140
I am not familiar with python testing. I never got to do tests in javascript, nor in python, but when comparing examples in javascript and the tests created for Scrapy, considering those of javascript more readable.
For example, on the website [codecov](https://codecov.io/gh/scrapy/scrapy/src/master/scrapy/commands/check.py) it says that line 23 is covered, but line 25 is not. I wanted to understa

[2021-05-12 06:55] wRAR commented on #5140
Tests execute code, they don't test specific lines directly, and most functions aren't tested directly either. In examples like yours the  condition is never successful during tests, because the situation when it is successful never happens, so improving coverage here would require writing a test that reproduces such situation (if it's possible to reproduce it). The same or similar can be said abo

[2021-05-12 06:55] Gallaecio opened #5145 "ItemLoader: support non-TextResponse"
At the moment, `ItemLoader(response=response)` fails if `response` is not a `TextResponse` instance.

Passing a binary response can still be useful, though. For example, to allow processors to access the response from their loader context, and hence be able to report the source URL (`response.url`) when reporting input issues.

[2021-05-13 07:06] marlenachatzigrigoriou commented on #5043
Hello!
I have reproduced the issue and what Scrapy exports, is not the last chunk, but all the elements, that should be exported (in multiple files), in one .csv file. And no exceptions at all.

Versions
[code]
Is it a problem that I am working on Windows?

[2021-05-13 12:29] nickhuangxinyu opened #5147 "Can Scrapy get all article under a url?"
i read some demo, it can get what i want if i fill with a detailed url.

but, is it possible to get all articles from a news website using a url?

[2021-05-13 12:44] wRAR commented on #5147
Please don't use the issue tracker for questions. You can use e.g. http://stackoverflow.com/ but you will need more details to get an answer there.

[2021-05-13 12:44] #5147 closed

[2021-05-13 16:08] mmaybeno commented on #5043
Interesting. I wonder if something in the csv reader/writer made changes in python 3.9 which fixed the issue.

[2021-05-13 16:26] marlenachatzigrigoriou commented on #5043
Well, the export is still implemented wrong. Should I continue looking for the reason only one file is exported, instead of multiple?

[2021-05-14 15:18] burakcank commented on #5125
Can I suggest using [cachetools](https://github.com/tkem/cachetools) for this issue or instead do we prefer our own implementation ?

Looking at it, `cachetools.TTLCache` seems fitting to this purpose.

[2021-05-15 09:30] markhv-code commented on #5145
@Gallaecio is this a good issue for my first time?

[2021-05-15 12:05] chronicom opened #5149 "Scrapy with proxy not working."
### Description

Scrapy request with proxy not working while Requests from standard python works.

### Steps to Reproduce
Settings.py
DOWNLOADER_MIDDLEWARES = {
   'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware': 750,
   'test.middlewares.TestDownloaderMiddlewareProxy': 720,
}

middlewares.py
TestDownloaderMiddlewareProxy class

def process_request(self, request, spider):
      reques

[2021-05-15 16:11] wRAR commented on #5149
Set the USER_AGENT to some browser UA value.

Please also use https://stackoverflow.com/ for questions about your code next time.

[2021-05-15 16:11] #5149 closed

[2021-05-15 18:54] chronicom commented on #5149
I did set the UA to my browser UA value. I dont think it is problem with my code.

[2021-05-15 19:43] wRAR commented on #5149
Ignoring the fact that you are comparing different things (as your requests code doesn't actually use the proxy), your Scrapy code works for me after the change I mentioned and it works for simpler websites even without that change. So no, it's not a Scrapy problem.

[2021-05-15 22:33] chronicom commented on #5149
If I issue a request to whatismyipaddress.com with code below
[code]
I get
[code]
Meaning that Requests indeed used the proxy.

With scrapy I get
[code]

[2021-05-15 22:37] chronicom commented on #5149
Reason that the proxy has been changed is that I am using a rotating proxy API to fetch proxies. And these proxies normally last only a couple of hours.

[2021-05-16 05:03] wRAR commented on #5149
That first response is most likely a 403 as well. So the behavior, again, matches.

Please direct your further comments to https://stackoverflow.com/ or similar.

[2021-05-17 09:46] AndreuJove opened #5151 "[COOKIES SESSION]"
Dear Scrapy,

There is no way you can use the same cookies for every start_url and its children. Or somehow parse the webs one by one. Using CONCURRENT_REQUESTS = 1 it's not enough. Is there any feature for this?

Thanks a lot,

Andreu

[2021-05-17 10:47] wRAR commented on #5151
This is the Scrapy issue tracker. Please direct your questions to https://stackoverflow.com/ or similar resources.

[2021-05-17 10:47] #5151 closed

[2021-05-18 03:30] nowari commented on #5111
I changed the `run()` in `scrapy.commands.startproject.Command` to this:
[code]

In this way, I can use `startproject` to create a project without `scrapy.cfg`. Just as in the an existing root project `plugins/`

[code]

did `scrapy startproject scrapyproject2 .`, it worked and created the `scrapyproject2/` under `plugins/`

[code]

But this way does not change the `scrapy.cfg` automatically, so I

[2021-05-18 04:38] drs-11 commented on #4963
@Gallaecio hello mentor! :)

[2021-05-18 15:39] evgu commented on #3385
@Gallaecio we are experiencing same issue. are there any plans to resolve?

[2021-05-18 17:23] apalala commented on #5079
I'd say to move to close if the `OSError` does not scape to the logs.

[2021-05-18 18:36] marlenachatzigrigoriou commented on #5043
Hello again @mmaybeno!
If you use `FEED_EXPORT_BATCH_ITEM_COUNT `instead of `batch_item_count`, it works the way it should.

**settings.py :**
[code]
I still can't find why the `batch_item_count` does not work.

[2021-05-19 12:57] elacuesta commented on #4007
No specific reason that I can see, the previous code was using `utcnow` already and it just didn't occur to me to change it. In any case, I don't think it changes things, AFAICT all datetimes handled by Scrapy are in UTC and there are no timezone conversions.
That said, I'm happy to be proven wrong. If you think there is something to be improved, please do suggest it or open a PR.

[2021-05-19 21:52] rec opened #5153 "Restarting a crawl using with JOBDIR overwrites feed files that use batch_id"
### Description

A crawl with a feed file format `'feed-%(batch_id)s.jl'` will writes feed files `feed-1.jl`, `feed-2.jl`, but will overwrite those same files when restarting using the JOBDIR parameter.

### Steps to Reproduce

1. Run your job with `scrapy crawl spider -o 'feed-%(batch_id)s.jl' -s JOBDIR=jobdir`
2. Allow a few feed files to be written - feed-1.jl and feed-2.jl
3. Shut the spider d

[2021-05-20 03:12] brickyang commented on #3478
Same issue here. @iveney 's solution works.

[2021-05-20 23:51] luisotaviocap98 opened #5154 "Problem when running tests"
I had a problem trying to run the tests using the `tox` command. I forked the current version (on 5/20/2021), but when executing the `tox` command the execution stops in step: ``` flake8 installdeps: -rtests / requirements-py3.txt, mitmproxy> = 4.0.4; python_version> = '3.7' and python_version <'3.9' and implementation_name! = 'Pypy', mitmproxy> = 4.0.4, <5; python_version> = '3.6' and python_vers

[2021-05-23 06:14] codingpy opened #5156 "DFO works incorrectly"
### Description

According to [FAQ](https://docs.scrapy.org/en/latest/faq.html#does-scrapy-crawl-in-breadth-first-or-depth-first-order), `scrapy` should crawl in DFO order especially when lowering the `CONCURRENT_REQUESTS` to 1. But in fact, it doesn't.

### Steps to Reproduce

There pastes a snippet:

[code]

**Expected behavior:**

It should crawl in the following DFO order:

[code]

**Actual be

[2021-05-23 13:23] risicle opened #5157 "FileFeedStoragePreFeedOptionsTest fails if /tmp/foobar already exists with different ownership"
Quick one - if, for instance, you're running the the scrapy test suite in some sort of CI setup where builds get performed by random different dedicated "build users", you'll end up in a situation where `/tmp/foobar` already exists, owned by a different user. At which point `FileFeedStoragePreFeedOptionsTest` will fail:

[code]

Fairly trivial to fix - you could put a random suffix on the filename

[2021-05-24 13:30] YASH01009 opened #5159 "items-are-not-passing-through-the-pipeline-in-recursive-callbacks-scrapy"
### Description

The item is not passed through the pipeline for the following code, can someone tell me why?? This is the main crawler file:
[code]
Pipeline:
[code]
The prompt is not printed. **I have enabled the pipeline in settings.py**

### Steps to Reproduce

**Expected behavior:** The prompt 'Hello!!' should be printed.

**Actual behavior:** The prompt is not printed which means the item is

[2021-05-24 14:06] bhandaridarshan commented on #4233
I would love to contribute to the Hindi language since I'm a beginner I've no idea of where to start from @noviluni

[2021-05-24 15:02] wRAR commented on #5154
Can you please provide the actual error?

[2021-05-24 15:03] wRAR commented on #5159
Please use https://stackoverflow.com/ or similar resources to ask questions and seek help for problems with your code.

[2021-05-24 15:03] #5159 closed

[2021-05-24 17:05] richard-duong commented on #4589
Hi, I found a fix for this issue (for myself) and [made a post on reddit here](https://www.reddit.com/r/scrapy/comments/njual0/wsl_support_for_scrapy_view_patch_proposal/). The issue seems to stem from the [open_in_browser module from scrapy/utils/response.py](https://github.com/scrapy/scrapy/blob/master/scrapy/utils/response.py) having a hardcoded file location for the downloaded html file. We ca

[2021-05-24 22:25] luisotaviocap98 commented on #5154
I can't run the tests. The tox command freezes. [Here](https://imgur.com/utuoNoS) is a screenshot of the problem.

[2021-05-25 06:26] wRAR commented on #5154
That's probably #5160

[2021-05-25 06:54] #5116 closed

[2021-05-25 12:25] YASH01009 commented on #5159
@wRAR It's a bug, pls read that once.

[2021-05-25 12:37] wRAR commented on #5159
If you think you've found a bug in Scrapy please provide a minimal reproducible example of the bug.

[2021-05-25 14:55] elacuesta commented on #5159
@YASH01009 It's not a bug, this happens because the default [dupefilter](https://docs.scrapy.org/en/latest/topics/settings.html#dupefilter-class) drops requests to duplicated URLs, and so the callback that finally produces the item (`returnObj`) is never reached.
You can set `LOG_LEVEL="DEBUG"` (optionally, also `DUPEFILTER_DEBUG=True`) to see this happening in the crawl logs.

[2021-05-25 15:18] drs-11 opened #5161 "Feeds Enhancement: Item Filters"
## Summary

Currently there are no convenient ways to filter items before they can be exported. An ```ItemChecker``` class can be used to filter items while also providing flexibility to the user.

## Motivation/Proposal

Scrapy currently doesn't have any convenient APIs to customize conditions for item exports. An ```ItemChecker``` class can be used by the user to define constraints for acceptabl

[2021-05-25 16:34] YASH01009 commented on #5159
@elacuesta Got it, many thanks!!

[2021-05-26 01:26] adataman commented on #2476
I also have  this problem

[2021-05-26 06:01] Gallaecio commented on #5161
Note that, the way you describe it here, this is already possible using [item pipelines](https://docs.scrapy.org/en/latest/topics/item-pipeline.html). The point of item filtering in feed exports is to be able to send different items to different output files.

As long as we are discussing the API, and not the specific implementation of the default item-filtering class, and following the [KISS prin

[2021-05-26 14:39] drs-11 commented on #5161
Ok yeah that's a little misleading. I'll correct it.

I thought making the user override ```accept_items``` and ```accepts_fields``` methods instead of touching ```accepts``` method may make it easier for them to debug and test. But yeah having just the ```accepts``` method would be more simple.

I’ve just though that getting the feed path, i.e. the key of the FEEDS dictionary, may be useful as we

[2021-05-26 15:05] Gallaecio commented on #5161
It can be. So it probably makes sense to have those methods in the default class. That way, if they decide to subclass it and use their subclass for filtering, they can do as you say.

However, for the API that is expected of the class, we should keep things simple.

When I say API, I mean the methods that Scrapy will call on the component. And if I understand your proposal correctly, your plan is

[2021-05-26 15:52] drs-11 commented on #5161
I think there's some misunderstanding on how ```ItemChecker``` will filter item for a particular feed because I only included the APIs in the issue. I intend the feed slot to have the ```ItemChecker``` as an attribute so it can check if an item is acceptable with a call ```slot.item_checker.accepts(item)``` in ```item_scraped``` method of ```FeedExporter```. But yeah I agree for the ```ItemChecker

[2021-05-27 06:07] Gallaecio commented on #5161
OK, so you are saying that there is going to be 1 instance of the indicated item-filtering class per feed. Makes sense. I also see you have updated the API to expect `feed_options` in `__init__` accordingly.

My only remaining feedback is that `accepts_item` sounds a bit ambiguous: I would expect `ItemChecker.accepts` and `ItemChecker.accepts_item`, both of which get an item as parameter, to do th

[2021-05-27 06:19] drs-11 commented on #5161
I think ```accepts_class``` will do it. I'll update accordingly.

[2021-05-27 07:48] GeorgeA92 commented on #5156
@codingpy
Your case is.. nearly identical to this [stackoverflow question](https://stackoverflow.com/questions/59443851/scrapy-does-not-execute-requests-in-order-of-priority-values/59445452#59445452)

When scrapy received response -> it schedules next request for execution (before `request.callback` of that request executed)
Your application scheduled request `A3` after `A4` because at that moment

[2021-05-27 11:41] codingpy commented on #5156
Yes, you are right! I know this schedule procedure after viewing the source code of `scrapy` and performing some experiments.

But what confused me is that: if there is a way to crawl the `B` before scheduling the next `A`?

Because I think it is also important to crawl a page inside a entry page like mankind, before crawling the next entry page.

[2021-05-27 12:22] LaxmanMaharjan opened #5163 "Trying to download files without starting scrapy project but from .py file. This error comes??Please Help??"
import scrapy
from scrapy.crawler import CrawlerProcess
from scrapy.pipelines.files import FilesPipeline
from urllib.parse import urlparse
import os

class DatasetItem(scrapy.Item):
    file_urls = scrapy.Field()
    files = scrapy.Field()

class MyFilesPipeline(FilesPipeline):
    pass

class DatasetSpider(scrapy.Spider):
    name = 'Dataset_Scraper'
    url = 'https://kern.humdrum.org/cgi-bin/br

[2021-05-27 13:53] wRAR commented on #5163
This is a tracker for issues of Scrapy itself. Please direct questions about problems with your code to https://stackoverflow.com/ or similar resources.

[2021-05-27 13:57] wRAR commented on #5156
The normal way to enforce this is to schedule "next A" in the callback of "B". Playing with scheduler and downloader settings is not necessarily helpful as they are not designed to enforce such things, only to tune them.

[2021-05-27 14:03] codingpy commented on #5156
Thank you for your fast reply @wRAR ! Did you mean that we should manually schedule the request `B` through the `scheduler` in the `parseB` method?

If so, could I ask how?

[2021-05-27 14:04] wRAR commented on #5156
Just yield it from the callback.

[2021-05-27 14:11] codingpy commented on #5156
Actually, I do yield a request from `parseB` callback, but the `scrapy` always crawl a new request yield from `parseA` before crawling the request that just yield from `parseB`. However, I think it should first crawl the request yield from `parseB`, and then crawl a new request yield from `parseA`.

[2021-05-27 14:42] codingpy commented on #5156
Brilliant idea! That means I should persist a record in the `cb_kwargs`, which tell the spider where the crawl has been. So, I should rewrite the above code snippet into:

[code]

It seems troublesome, because I have to write some redundant code, but not to keep the orginal code via some configuration or what. However, it solves my problem.

Many thanks to you, hope `scrapy` be better! @GeorgeA92

[2021-05-27 14:43] iamumairayub opened #5165 "Why response of scrapy.Request() is different from requests.get()?"
I have spent several hours but could not not figure out

I am scraping a website using a proxy, that started showing captcha, I then scraped same website using requests.get() and that show just fine, whereas, at same time, I scrape with scrapy.Request(), it shows captcha

Scrapy==2.5.0
requests==2.25.1

[code]

and here is Python Scrapy code

[code]

I have tried Scrapy code without the overridden

[2021-05-27 15:29] wRAR commented on #5165
This is a tracker for issues of Scrapy. Please direct questions to https://stackoverflow.com/ or similar resources.

[2021-05-27 15:29] #5165 closed

[2021-05-27 18:21] mmaybeno commented on #5043
Nice work @marlenachatzigrigoriou. Looks like you ruled out some of the possible options and confirmed it's probably either the `CsvItemExporter` or `botocore`. Hopefully it's not `botocore` since that codebase maybe be harder to fix.

[2021-05-28 09:25] internalG opened #5166 "HTTP cache should be for project but spider"
After setting HTTPCACHE_ENABLED = True I find that the file storage is separated by spider name. So the web page is still reCrawled in another spider. That makes this feature a dup of duplicate url filter. I think the cache should be valid for all spiders in project.

[2021-05-28 18:19] gurmitteotia opened #5167 "Scrapy stops abruptly while starting up"
### Description
I'm encountering the issue where scrapy is abruptly terminating while starting up to crawl a url. I don't get any exception or error message and finding it hard to figure out the reason. This issue is reproduced randomly (1 out of 20 times). Here is how the scrapy log looks like in failure case:

[code]

For a success case scrapy output looks like below:

[code]

I'm using followin

[2021-05-29 14:32] drs-11 opened #5168 "Feeds Enhancement: Post-Processing"
## Summary

A Feed post-processing enhancement will enable plugins such as compression, minifying, beautifier, etc. which can then be added to the Feed exporting workflow.

## Motivation/Proposal

A post-processing feature can help add more extensions dedicated to before-export-processing to scrapy. To help achieve extensibility, a ```PostProcessingManager``` can be used which will use "plugin" li

[2021-05-29 15:54] drs-11 opened #5169 "Feeds Enhancement: Batch Delivery Triggers"
## Summary

Batch creation was a recently introduced feature but was limited to only item count constraints. Batch Deliver triggers will be able to make the constraints flexible and give more control to user to create batches.

## Motivation/Proposal

Batch delivery can be simplified and made extensible by creating a class ```Batch```. It will contain information about current batch so it can be u

[2021-05-30 18:20] drs-11 commented on #5168
As ```PostProcessingManager``` will be the wrapper around the feed's storage, I think ```write``` and ```close``` won't be needed in ```PostProcessorPlugin``` interface.

[2021-05-30 19:40] marlenachatzigrigoriou commented on #5043
Thank you @mmaybeno.
Unfortunately, I think it is neither a `CsvItemExporter` problem, as it exports correctly locally.
I posted a question in botocore's Gitter asking if this issue could be a botocore one, but I got no reply. In addition, I thought about making an issue in botocore's repository to ask about the issue.

Considering I am new at Scrapy, these are only my assumptions. I am interested

[2021-05-31 07:22] Gallaecio commented on #5168
This comment is exclusively about the plugin interface, which I think is the most important one (the manager will be an internal component, but users will write their own plugins).

I don’t think the processing method should be static. Plugins should be Scrapy components (i.e. it should be possible to add a `from_crawler` method to them to initialize them with access to settings), and hence they c

[2021-05-31 07:51] Gallaecio commented on #5169
At the moment, we have the following API:

[code]

And there’s also the `FEED_EXPORTS_BATCH_ITEM_COUNT` setting.

I mention these 2 things just to emphasize that, even if we go for a different API now, we need to keep these in mind because we must continue to support them for backward compatibility. In order to do that, the API of batch classes will need access to feed options and settings.

Now,

[2021-06-01 17:46] drs-11 commented on #5168
I think chained ```write``` and ```close``` methods looks simplest to me right now.
So something like:
[code]
So a single write call processes the data through all the plugin and finally writes to the target storage.

This is a valid method as well to achieve the pipeline. Should we keep both methods of pipelining and give user the option to choose one?

[2021-06-02 08:21] drs-11 commented on #5168
I mean the way pipelining flow will work. 1) write data into next plugin whenever ```write``` method is called or 2) writes all at once into next plugin when ```close``` method is called as you have said.

[2021-06-03 09:50] Gallaecio commented on #5168
I am thinking that we want to allow and encourage 1.

But an API designed for 1 still allows for a plugin to use 2 if needed. Scrapy could write multiple times into plugin1, but instead of calling write on plugin2 each time, plugin1 could store the input data into a temporary file, and once its close method is called, from that method it could perform a single plugin2.write() call followed by plug

[2021-06-03 13:39] drs-11 commented on #5168
Ok yeah the implementation of plugins will depend ultimately on the user(obviously :sweat_smile:).

[2021-06-04 09:40] chrisjdixon opened #5172 "Place for beginners to ask dumb questions?"
I'm having a hard time figuring a few things out as I'm not the world's best programmer. I often don't know if I've done something wrong in Python or something specific to Scrapy, and there aren't a great deal of beginner level examples out there.

I'm looking for somewhere I could ask a few dumb questions, and I expect that Github isn't the best place. Ideally I'm looking for some kind of chat ro

[2021-06-04 12:38] Gallaecio commented on #5172
IRC is still used, there is simply not always people around with time, the knowledge and the wish to answer.

As [documented](https://docs.scrapy.org/en/latest/), however, the best place to ask question is StackOverflow. Preparing a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) to include in your question can lead you to find the root issue on your ow

[2021-06-04 12:41] Gallaecio commented on #5172
As for creating a new place where the Scrapy community can meet, I have nothing against it, but I’m not sure how much it would change things. It could be argued that a nicer platform than IRC may attract more people, but I’m not sure to what extent.

[2021-06-04 13:36] chrisjdixon commented on #5172
Yeah, I could try Stackoverflow, but my problem is often that I often don't know if the problem is caused by some framework (Scrapy), Python, or something else. To say the least I haven't found Stackoverflow to be friendly to beginners who try hard to write good questions to their best understanding. And I often only need a hint or two while learning something.

Maybe Scrapy could create a [Discor

[2021-06-04 17:42] noviluni commented on #4233
Hi @bhandaridarshan, sorry I didn't answer before. I think the Hindi article [already exists](https://hi.wikipedia.org/wiki/%E0%A4%B8%E0%A5%8D%E0%A4%95%E0%A5%8D%E0%A4%B0%E0%A5%87%E0%A4%AA%E0%A5%80), but you can try to improve it by adding more information. :slightly_smiling_face:

[2021-06-05 15:01] drs-11 commented on #5169
But for other builtin things like feed storage there have been aliases defined for them. I thought I should follow similar pattern here.

[2021-06-05 19:41] kmike commented on #5153
A good catch. I think this is important to fix somehow, as it leads to data loss.

I haven't looked in details, but it seems it'd make sense to store batch_id in spider state, so that after spider is resumeed, last batch_id is restored. If that's problematic for some reason, we should at least add a note to the docs with this caveat, probablly with a suggestion to rely more on timestamps, not on b

[2021-06-05 19:42] kmike commented on #5144
+1 to @Gallaecio's suggestion.

[2021-06-05 19:42] #5144 closed

[2021-06-06 16:53] tonycoldashian commented on #5079
Hey!
 It's my first time working with Open Source and I'm interested in this and would like to help.

[2021-06-07 07:54] Gallaecio commented on #5172
Let’s see what happens: https://discord.gg/fbCHpAm6KM

[2021-06-07 08:15] Gallaecio commented on #5169
`FEED_STORAGES` is not for aliasing, is for mapping URL schemes to classes. Same as `DOWNLOAD_HANDLERS`. In these cases, there’s already a separate, input value (the feed URI) from which the feed storage to use can be inferred, and this mapping indicates which storage to use depending on the URI scheme.

In your case, there’s no existing, separate input value. I think it’s different enough. I thin

[2021-06-07 10:33] rec commented on #5153
I had similar thoughts on how to fix it, but couldn't see a way to achieve it by means of an extension in my own code.

So I derived from `FeedExporter` and then got an optional `initial_batch_id` field from the spider, and I set that `initial_batch_id` variable from the outside in the runner we have for our spiders.

Has some elements of hack but seems reliable and wasn't much code.

[2021-06-07 11:45] kmike opened #5173 "JOBDIR option is not documented"
On https://docs.scrapy.org/en/latest/topics/jobs.html it is explained how to use the JOBDIR setting, but the setting itself is not present on https://docs.scrapy.org/en/latest/topics/settings.html page. We should add it there.

[2021-06-07 11:47] kmike opened #5174 "spider.state attribute is not documented"
spider.state is not mentioned on https://docs.scrapy.org/en/latest/topics/spiders.html; it is only mentioned here: https://docs.scrapy.org/en/latest/topics/jobs.html#keeping-persistent-state-between-batches. It'd be nice to document this attribute.

[2021-06-07 11:50] kmike commented on #5153
The extension could store last batch id in crawler.spider.state; to access crawler it can override from_crawler method. See https://docs.scrapy.org/en/latest/topics/jobs.html#keeping-persistent-state-between-batches. This is poorly documented (and I don't even sure that the existing docs are 100% correct), opened https://github.com/scrapy/scrapy/issues/5174 for this.

[2021-06-07 15:13] drs-11 commented on #5169
Oh ok I get it now.

[2021-06-08 10:18] pawelmhm commented on #5166
Good catch. Indeed looking here: https://github.com/scrapy/scrapy/blob/master/scrapy/extensions/httpcache.py#L308 we use spider name in cache path in both DBM cache and FileSystemCache. Seems like it is like this from the beginning, when cache was added 10 years ago it was per spider. https://github.com/scrapy/scrapy/commit/3954e600ca39fd8b02e881758b1bbc0029279d1e

I wonder what is the rationale f

[2021-06-08 10:33] pawelmhm commented on #5166
The only potential problem I see is that in large project using DBM storage will get one large file instead of several smaller files, but that should not cause significant issues. And potentially it could slow down things for people who switch from older Scrapy versions. When running with cache after this change their client won't find the old path, and it will have to redownload all things to new

[2021-06-09 04:50] internalG commented on #5166
I had reused FilesystemCacheStorage code to create my global file cache. Just return globalcache instead of spider.name for the folder name. It works well. So if we need the compatibility for older version we can add a new option like HTTPCACHE_GLOBAL_STORAGE = True for the new behavior and keep default to False.

The cache is very useful but underrated in scrapy and documentation.

[2021-06-09 08:24] rec commented on #5153
That's definitely a better solution, and if I didn't have a workaround already, I'd be using that!

I'll follow this issue closely - if you need a thorough review of a change, or even some coding once I get past my deadlines, hit me up.

[2021-06-11 12:43] wRAR commented on #5156
If I understand correctly, it was decided that this is not a bug but an implementation detail, but please reopen if I'm wrong.

[2021-06-11 12:43] #5156 closed

[2021-06-13 04:10] Xackurai opened #5179 "got an unexpected keyword argument 'settings'"
### Description
Hi,
When i run the code, get a error:
[code]
'settings' is only used in ```scrapy.cfg```. I don't know where the problem is.
Here is scrapy.cfg.
[code]
And here is my file structure .
└── my project
       └── scrapy_name
           ├── data
           ├── spider
            |   ├── \__init\__.py
            |   └── my_spider.py
           ├── \__init\__.py
           ├── items.py

[2021-06-13 16:19] wRAR commented on #5179
This is a tracker for issues with Scrapy, while this looks like an issue with your custom pipeline. Please use https://stackoverflow.com/ or similar resources to seek help with your code.

[2021-06-13 16:19] #5179 closed

[2021-06-14 02:44] Xackurai commented on #5179
OK, thanks for your reminder

[2021-06-15 08:36] #4505 closed

[2021-06-15 08:58] wRAR opened #5180 "versionadded inside a warning in CrawlSpider docs"
https://docs.scrapy.org/en/latest/topics/spiders.html#crawlspider has a warning block that includes the "New in version" line.

Both indenting the warning block (not sure what's the best practice for the indentation here; also, XMLFeedSpider below has the same block which should have the same indentation I think) and moving `versionadded` before it (I think I don't like it) will work but I don't k

[2021-06-15 11:02] rudanov commented on #5180
Hey! I am new here and I would like to take care of this issue.
I think the most correct way to do "New in version" block is how it's done here: https://docs.scrapy.org/en/latest/topics/request-response.html#scrapy.http.Response

A block in the beginning of the class description and additional block in the description of the attribute.
I also suggest changing marking of the attributes in CrawlingR

[2021-06-15 12:34] wRAR commented on #5167
This looks very weird, does the log always end between the extensions and the middlewares? Also, how are you saving the log?

[2021-06-15 19:08] marlenachatzigrigoriou commented on #4999
Hello! @mmitropoulou and I are willing to contribute to this issue. We are involved in Scrapy for a couple of months, so we need your guidance. Steps to reproduce the issue would be very useful.

[2021-06-15 19:11] mmitropoulou commented on #4919
Hello @wRAR! @marlenachatzigrigoriou and I would like to contribute to this issue. We are new to scrapy so we would like to have your guidance. Thank you!

[2021-06-17 03:13] MagicalBomb opened #5182 "Extreme performance of the waste when CONCURRENT_ITEMS is large"
### Description

There is  Extreme performance of the waste When CONCURRENT_ITEMS set to a ge large number, such as 9999.

Some days ago, I wrote a spider with CONCURRENT_ITEMS=9999, and run it. I found my spider use 100% cpu and crawl speed is very very slow （40 pages/mins）, normally it would be 400+pages/min.

### Steps to Reproduce

Here is code , you can run directly. I would see cpu up to 100

[2021-06-17 15:16] gCass opened #5183 "Handle form when input field doesn't have name attribute"
Actually I'm trying to scrape this page logging into it: https://login.liv-ex.com/login.
I've seen the usage of the **scrapy.FormRequest.from_response** to fill a form, but as a matter of fact the input fields don't have a name attribute, therefore is not possible to specify the formdata parameter of the object.

This is how the input fields looklike.
` <input class="input" id="email" type="email"

[2021-06-17 15:42] joeharrison714 commented on #1877
I'd like to try to implement this, does anyone have any newer thoughts about it that could lead me in the right direction?

[2021-06-17 18:30] gurmitteotia commented on #5167
Thank your for your response.

Yes.

I'm using "awslogs" driver in docker to store the logs in Cloudwatch.

Other info:
 "crawl" method in my code (posted above) is called as below:
1.  Receive a message from Rabbitmq
1.  call the crawl method in separate process using "multiprocessing" module.
1.  Publish the message to Rabbitmq
1.  Repeat the step 1

I believe in my approach reactor is started a

[2021-06-19 23:25] ChristianTheConsultant opened #5184 "Scrapy fails with `ImportError: cannot import name suppress`"
### Description

Scrapy fails with `ImportError: cannot import name suppress`

### Steps to Reproduce

1. Create a python virtualenvironment which uses Python 2.7.5
2. pip install readability-lxml scrapy
3. scrapy runspider scrapy_test.py (code is included at the bottom)

**Expected behavior:**

The script should be run successfully.

**Actual behavior:**

[code]

**How to fix the issue:**

`pip i

[2021-06-20 10:23] mmitropoulou opened #5185 "Difficulty in resolving merge conflicts due to .rst symbolism"
### Description

Hello, I noticed that in some files (eg spiders.rst in docs/topics) there are lines that contain ======= (7 “=” in a row). This is the same symbol (=======) git uses when there is a merge conflict to divide the two different changes/outcomes. Because of that, when I had a merge conflict in spiders.rst, it was really difficult to resolve. Is there a specific reason why the lines co

[2021-06-20 16:30] bennlab opened #5186 "Scrapy Shell has an Emacs extension that autocompletes commands in commandline"
+

### Description

After loading my scrapy shell it loads an extension [ [F4] Emacs 1/1 [F3] History [F6] Paste mode [F2] Menu - CPython 3.9.4]] that I suspect is the cause of the auto-executions in my commandline

### Steps to Reproduce

1. [Scrapy shell]
2. [fetch"..."]

**Expected behavior:** [I should be able to fetch a link that I want to scrape]

**Actual behavior:** [the moment I start typ

[2021-06-20 22:53] Caffe1neAdd1ct opened #5187 "CSVFeedSpider - Multiple threads / processing"
## Summary

Would it be possible to process csv/xml files using the scrapy CSV/XML FeedSpider classes with multiprocessing to speed up ingestion of data?

I've had a quick go at this by overriding the parse_rows / parse_row implementation but couldn't see a way to implement multiprocessing as hit pickle / framework errors.

Would be great to be able to re-use the idea from normal spiders "CONCURRE

[2021-06-21 05:04] wRAR commented on #5187
Which parts of the workflow do you propose to hand over to multiprocessing and what should that improve?

`CONCURRENT_REQUESTS` is not related to threads/processes.

[2021-06-21 05:35] wRAR commented on #5186
I don't think there is any Emacs support in Scrapy so can you please explain why do you think it's a Scrapy problem? It's not clear from the report what environment is this, as this is definitely not just a directly run `scrapy shell` in an empty project.

[2021-06-21 05:44] bennlab commented on #5186
It activates the Emacs extension the moment I decide to use Scrapy shell, otherwise the rest of the commands on command line are okay. Running scrapy alone functions okay but the problem comes in if I switch to scrapy shell.

Is it okay if I attach a screenshot?

[2021-06-21 05:46] wRAR commented on #5185
Sure, that's reStructuredText header formatting, and the length of the lines matches the length of the header itself (even though there is no requirement for a strict match, it's always matched to look consistent) . Not sure what's the best way to solve this problem, assuming there is indeed a problem with some git tools (I've never encountered that myself).

See also https://stackoverflow.com/que

[2021-06-21 05:55] wRAR commented on #5183
Note that the website doesn't work for me.

Not sure what does this mean. It shouldn't stop you from passing the formdata dict directly.

If they don't have data, `from_response` won't do anything useful for them anyway. If they do, it may be easier just to retrieve them manually.

In any case, this doesn't look a Scrapy bug and I don't see what can be improved in Scrapy regarding this. Please dir

[2021-06-21 05:55] #5183 closed

[2021-06-21 05:59] wRAR commented on #5186
Scrapy doesn't activate anything, it just runs a Python shell from a [predefined shell list](https://github.com/scrapy/scrapy/blob/016c7e92d1d2893e7a8ce61c7f2e76818e71d019/scrapy/utils/console.py#L66). You need to configure your shell, not Scrapy, unless you think this is really a Scrapy problem.

[2021-06-21 05:59] #5186 closed

[2021-06-22 09:36] evgu commented on #3385
Apparently, there is an environment variable to determine that Scrapy is running in test mode:
https://docs.scrapy.org/en/latest/topics/contracts.html?highlight=contracts#detecting-check-runs - e.g.

[code]

Perhaps this enhancement is not needed afterall and can be closed?

[2021-06-22 13:33] EuropeanHighYieldOnline commented on #3755
Hi - I am having a similar issue. I want to use link extractors to create a next page rule. The ext page link is stored as a partial link.  I have tried to use the "process_value" argument to  create the full link that can be followed. I am using scrapy with Splash so I do not know whether this is also an issue. I have used scrapy shell with the page I am testing via splash and can locate the next

[2021-06-22 22:17] vimalva777 opened #5188 "while using scrapy shell keep showing SyntaxError: invalid syntax"
import scrapy
scrapy shell 'http://scrapy.org' --nolog

this is the code i  tried

[2021-06-23 06:50] ned9 commented on #5067
I just spent 45 minutes tracking down a super simple `KeyError` bug in my custom `file_path` method in a class that's sub-classing `FilesPipeline`. So can confirm this, and would be great to get a fix in!

Oh nice I see there's a PR that's been approved in #5068. @Gallaecio, is there anything blocking merging in?

[2021-06-23 07:04] wRAR commented on #5188
`scrapy shell` is a command, not a Python statement.

[2021-06-23 07:04] #5188 closed

[2021-06-23 15:14] effluviens opened #5189 "FAILED INSTALLATION OF SCRAPY ON UBUNTU 18.04, PIP 21.1.2"
### Description

When trying to install on a python scrapy with **pip install scrapy** command the installation halts after 2 warnings coming from Cryptography package located in their dhcrypto.py (line 15) and util.py(line 19) saying **int_from_bytes is deprecated, use int.from_bytes instead**
Remark was added as : **Defaulting to user installation because normal site-packages is not writeable**

[2021-06-23 16:05] wRAR commented on #5189
You already have it installed.

[2021-06-23 16:05] #5189 closed

[2021-06-23 16:22] marlenachatzigrigoriou commented on #5043
Hello again!
Taking into consideration botocore's team answer, I focused my effort on lines 74, 75 of [feedexport.py](https://github.com/scrapy/scrapy/blob/master/scrapy/extensions/feedexport.py).
Looking at the different implementations of the `store(self, file)` method in this file, studying the threads in Twisted, and trying many differentials, I tried the following:
[code]
which had as an **ou

[2021-06-23 17:03] mmaybeno commented on #5043
Looks like great exploration into the internals. The comments from the boto team are helpful. Seeing that the `S3FeedStorage` method inherits from `BlockingFeedStorage`, you can see the method that does the writing: https://github.com/scrapy/scrapy/blob/016c7e92d1d2893e7a8ce61c7f2e76818e71d019/scrapy/extensions/feedexport.py#L152-L158. I wonder if scrapy is creating a temp file that is too generic

[2021-06-23 17:39] mmitropoulou commented on #5185
Oh, I understand! The problem that I faced, was that the two potential changes weren’t easily distinguished, which made the resolving process difficult . I did not face the stackoverflow problem which is liked above but generally using a git marker in .rst files may cause some issues.

I would propose maybe keep the formatting (number of “=” equals the number of header characters) but make an exce

[2021-06-23 18:12] marlenachatzigrigoriou commented on #5043
Adding `return NamedTemporaryFile(prefix='feed-', dir=path, delete=False)` does not change the export.
But, influenced by your comments, I run the spider and "cut" the running after some seconds, without allowing the spider to end the whole execution, and the second chunk was exported in my s3. So, I guess that somewhere overwriting does happen.

[2021-06-23 19:41] vimalva777 commented on #5188
Thanks man

[2021-06-23 20:03] vimalva777 opened #5192 "pycharm terminal window unable to pick scrapy"
Hi ,new to scrapy and python

![Untitled](https://user-images.githubusercontent.com/85609270/123160597-06d40400-d48c-11eb-8ba4-e925ff88d8df.png)

while giving input in command prompt >>>(venv) F:\python study\pythonscrapy>scrapy startprojecct quatetutorial

erorr is showing:   'scrapy' is not recognized as an internal or external command,
                               operable program or batch fi

[2021-06-23 22:17] vimalva777 commented on #5192
scrapy is installed

[2021-06-24 05:01] wRAR commented on #5192
This is a problem with your PATH configuration, not with Scrapy.

[2021-06-24 05:01] #5192 closed

[2021-06-24 05:03] mmaybeno commented on #5043
Maybe add a random string that you add to the `prefix`, basically something that will ensure the temporary file is unique.

`NamedTemporaryFile(prefix=f'feed-{random_bits_here}-', dir=path, delete=False)`

[2021-06-24 08:26] marlenachatzigrigoriou commented on #5043
Yes, that works.
I changed the line into: `return NamedTemporaryFile(prefix=f'feed-{random.getrandbits(10)}-', dir=path, delete=False)`. It had as a result 5 different files with names similar to: "feed-124-x63cvlhk".
But, what I introduced with the random bits (e.g. 124) does not change the export, as there were already unique names due to the sequence of "x63cvlhk".
So, I guess that is not a pro

[2021-06-24 13:18] vimalva777 commented on #5192
Thanks

[2021-06-24 15:59] mmaybeno commented on #5043
Well I guess that is ruled out then :). Are you familiar with the debugger at all? Curious if you can drop in some breakpoints around those code blocks and step through the execution.

[2021-06-24 16:23] drs-11 commented on #5168
@Gallaecio, you mentioned to make the compression plugins  flexible by letting them have different parameter values available to them. I'm thinking of letting users pass those parameters through a dict in `FEEDS` settings, where key will be the plugin declared and value will be another dict for parameters as kwargs.

For eg:
[code]

So parameters are passed only to those plugins which are declared

[2021-06-24 17:11] Gallaecio commented on #5168
While namespacing plugin settings into a dictionary sounds reasonable, in either of the approaches you suggest, I think the simplest approach, and the one most in line with existing code, is to let plugin-specific options be defined directly among `feed_options`, with the namespace built into each setting name. For example:

[code]

This goes in line with the approach of Scrapy settings, where nam

[2021-06-24 17:18] Gallaecio commented on #2919
Fixed by #3579

[2021-06-24 17:18] #2919 closed

[2021-06-25 16:55] mmitropoulou commented on #4919
Hello, I have tried to recreate this issue. I have tried in my version of scrapy (2.5.0) and in the proposed here (2.4.1), but the result is fine and no problem occures .Can you please help me understand if im doing something wrong? This is the spider that I run:
def start_requests(self):
     yield scrapy.Request('https://webhook.site/thecode’ method='POST', headers={'content-length': '0'})

[2021-06-25 17:09] wRAR commented on #4919
I've actually just got a 400 response with this spider.

[2021-06-25 17:15] mmitropoulou commented on #4919
Me too. In order to solve this i added in my code the following line:
handle_httpstatus_list = [400]
but still no problem like the one described above.

[2021-06-25 17:33] wRAR commented on #4919
The problem is receiving the 400 response.

[2021-06-25 21:18] elacuesta commented on #5185
I think I understand the situation, but I still cannot see exactly how this creates a problem. I did some quick experiments merging branches but I couldn't reproduce. Could you share some steps to reproduce, or the affected part as text or in a screenshot?

[2021-06-26 09:29] marlenachatzigrigoriou commented on #5043
Kinda. I am trying to debug the related lines, but I think that already the changes of the majority of variables appear in the crawl output.

[2021-06-26 11:59] wRAR commented on #5167
Yes, but you said it's in a separate process each time? Though I have no idea how does it work with multiprocessing process pools. Actually, I have no idea if Twisted even works with multiprocessing correctly (Google suggests it may cause some problems). OTOH there are recipes to use Scrapy with celery tasks that run with multiprocessing so this should work at least in some form.

The only problem

[2021-06-27 21:06] ahgraber opened #5195 "Cannot install with conda on python 3.9.5"
I have a conda environment with python 3.9.* (I have tried with 3.9.2-5 specifically) and I get the following error when I try to install scrapy with `conda` or `mamba`:

[code]

I have tried:
`mamba install conda-forge::scrapy`, which tries to install scrapy 1.8.0
`mamba install conda-forge::scrapy=2.5`
`mamba install scrapy=2.5`

all generate the same error message.

It does not appear to be an

[2021-06-27 21:10] ahgraber commented on #5195
Further, none of the [files on the conda repo](https://anaconda.org/conda-forge/scrapy/files?page=1) appear to be labelled for python 3.9.

Could you release a version for python 3.9?

[2021-06-28 05:12] jmat94 commented on #5079
Hi! I am new to Open Source and I would like to contribute by coming up with a solution to this issue.

[2021-06-28 05:13] wRAR commented on #5195
Related:
https://github.com/conda-forge/scrapy-feedstock/pull/56
https://github.com/scrapy/scrapy/pull/5113

[2021-06-28 14:00] mmitropoulou commented on #5185
Hello again! So I tried to reproduce the issue by creating a merge conflict in the spiders.rst file.
Steps (I am not sure this is the best way to create a merge conflict but worked):
* Make a change A
* Make a change B
* Revert change A

These are the two possible outcomes :

Current change                                            |  Incoming change
:---------------------------------------------

[2021-06-29 12:54] #5180 closed

[2021-06-30 06:22] mmaybeno commented on #5043
Let me see if I can get it to work on my end. I'll take a look tomorrow or the next.

[2021-06-30 14:25] agnauck opened #5196 "LinkExtractor background url in css content"
I am working on a spider and need to download also images which are assigned in css classes.
Can someone point to an example of give me some hints how to achieve this with the LinkExtractor?

I would like my spider to follow the urls in the css files similar like it does in html files:

[code]

Thanks

[2021-06-30 18:12] wRAR commented on #5196
This is the issue tracker for Scrapy. Please direct your questions to https://stackoverflow.com/ or similar platforms.

[2021-06-30 18:12] #5196 closed

[2021-07-01 22:27] imadmoussa1 commented on #4951
I have the same problem, while using scrapy the response status returned is 403. I developed a python script using requests with headers I got a response status 200.
I tried to add headers using user_agent and client TLS method, but still returning 403
[code]

[2021-07-02 05:39] wRAR commented on #4951
Then that's a different problem and it's impossible to guess what happened with the info you provided.

[2021-07-02 06:56] imadmoussa1 commented on #4951
I can send you all the info you, can you tell me what details will help to detect the problem ?

[2021-07-02 07:01] wRAR commented on #4951
The URL is probably enough.

[2021-07-02 07:06] imadmoussa1 commented on #4951
this the URL I am trying to crawl `https://www.lbcgroup.tv/news/category/1/%D8%A3%D8%AE%D8%A8%D8%A7%D8%B1-%D9%84%D8%A8%D9%86%D8%A7%D9%86`

[2021-07-02 14:20] wRAR commented on #4951
That website is protected by the Cloudflare antibot tool so it's technically not a Scrapy problem that it's being detected. As plain `requests` works you can try comparing the exact requests and try reproducing them with Scrapy.

[2021-07-04 09:33] AvachaBay opened #5199 "Docs: unobvious StatsMailer extension description"
### Description
Hello!

Please put reference to [MailSender](https://docs.scrapy.org/en/latest/topics/email.html#mailsender-class-reference) in [StatsMailer extension](https://docs.scrapy.org/en/latest/topics/extensions.html#module-scrapy.extensions.statsmailer)
because it is not obvious that the extension needs any configuration

[2021-07-05 13:05] ejulio commented on #5169
My two cents here:

1. The `signal` idea is fine, though I think it can be quite hard to track

2. We could have an accessible instance of `FeedExporter` in the `spider` and then call `close_batch`, in the spider: `self.feed_exporter.close_batch()` note that this would trigger the closing process once the next item was scraped as closing a batch might require storing a file n the background and we

[2021-07-06 07:13] drs-11 commented on #5169
Thanks for the inputs @ejulio!

[2021-07-06 07:49] njmhnb commented on #3837
Hi @lx1054331851
Do you find your problem response?
I have the same problem when I upgrade scrapy from 1.5.2 to 2.0.5

[2021-07-06 16:08] Gallaecio commented on #3837
That module was deprecated already in 1.5.2, and was removed in 1.6: https://docs.scrapy.org/en/1.6/news.html#deprecation-removals

You should figure out where in your code it is being used, and stop using it.

[2021-07-13 11:09] git-pawan-tripathi opened #5201 "unable to fetch whole content of page"
### Description

scrapy doesn't fetch full page souce  from this url https://www.amazon.com/422GW-Cam-Bluetooth-Emergency-Rear/dp/B07ZJL4MTD/?th=1 .
 like i want to get all li but it's doesn't get it if i print whole page souce in a file.

[2021-07-13 13:06] Gallaecio commented on #5182
I suspect that might be to be expected.

I believe the root code for this is https://github.com/scrapy/scrapy/blob/7e23677b52b659b11471a63f3be9905a0bbaf995/scrapy/utils/defer.py#L72 (`count` comes from `CONCURRENT_ITEMS`). Quoting the first paragraph of the blog post linked from there as the source of this implementation:

So maybe the best way forward here is to treat this as a documentation issu

[2021-07-13 13:29] Querela opened #5202 "Error while trying to fetch url - DEFAULT_REQUEST_HEADERS not used in interactive shell?"
### Description

I tried to build a small scraper for https://www.novelupdates.com/groupslist/.
Testing it with the interactive shell I always get a 403 response. Using the `requests` library it surprisingly works which means there is some difference in the request/response handling.

### Steps to Reproduce

Code for **`requests`**:
[code]

Code for **`scrapy`**:
[code]

Then run:
`scrapy shell ht

[2021-07-13 13:51] Gallaecio commented on #3385
The issue is about preventing the creation of an output file, which may still make sense to do without requiring users to rely on `os.environ.get('SCRAPY_CHECK')` for conditional yield of items from spiders.

[2021-07-13 14:05] Gallaecio commented on #5067
@ned9 I need to provide a test for the issue being fixed before we merge that.

[2021-07-13 15:12] wRAR commented on #5202
It's protected by Cloudflare so it's expected that not every automated crawler gets a success and header values are not the only things that are checked by them.

As you can easily check with e.g. https://httpbin.org/headers , it *used* them.

"Overridden settings" explicitly skips dicts.

As this is not a Scrapy issue I'm closing this.

[2021-07-13 15:12] #5202 closed

[2021-07-13 15:15] wRAR commented on #5201
It's not clear what is your actual problem from the description you provided but in any case it's not a Scrapy issue. Please use resources such as https://stackoverflow.com/ to get help with your code.

[2021-07-13 15:15] #5201 closed

[2021-07-13 15:22] #5161 closed

[2021-07-13 16:08] Querela commented on #5202
Ok. Thank you.
I tried it on another computer and there it seems Cloudflare also blocks `requests`. I'm still not sure why it didn't block it on my first computer but as you said, it might be other things besides the headers that were checked.

[2021-07-13 16:27] Gallaecio commented on #5079
Closing, then.

@marlenachatzigrigoriou I’m really sorry for wasting your time, I should have tested this myself before opening the issue report.

[2021-07-13 16:27] #5079 closed

[2021-07-13 16:39] Gallaecio commented on #5185
While I understand that this issue is uncomfortable, I prefer to have to handle differences manually in these scenarios to the suggested alternative of requiring a number of equal signs not matching the header length for 7-letter headers.

We could stop using `=` altogether in headers, since it’s not a requirement. But I’m not sure this IDE quirk warrants doing that.

[2021-07-13 16:44] Gallaecio commented on #5185
You could also change your Git configuration to make the conflict marker longer than any documentation header: https://stackoverflow.com/a/11394584/939364

[2021-07-13 16:57] marlenachatzigrigoriou commented on #5079
That's fine @Gallaecio. Thank you for the help in my first effort to contribute, no matter the ending of this issue!

[2021-07-13 20:08] drs-11 commented on #5169
Modified the API a little and added a new method `get_batch_state`. This could be helpful in designing the signal trigger as well as internally in Feed Exporter.

One more addition I'd like to add is having a human readable units batch constraints.
So for example:
[code]
Nothing major, thought this could make using those classes easier a little.

[2021-07-14 08:00] #4871 closed

[2021-07-14 08:00] #4997 closed

[2021-07-14 08:34] #2733 closed

[2021-07-14 10:27] Gallaecio commented on #5140
Closing since there is no specific issue to be addressed here.

[2021-07-14 10:27] #5140 closed

[2021-07-14 10:32] Gallaecio commented on #5145
@markhv-code Possibly, yes.

[2021-07-14 14:57] Gallaecio commented on #1042
Quick-and-dirty downloader middleware to work around this, for easy copy-pasting:

[code]

[2021-07-15 14:52] wRAR commented on #4125
The methods are now in `scrapy/http/request/__init__.py`

[2021-07-15 20:05] ejulio opened #5206 "Better API to manage pipelines/middlewares priority"
## Summary

It's quite common to update pipelines/middlewares and, usually, we want them to be in a position related to some other already registered pipeline. In this case, we need to use some fixed value after finding the original one or do some computations to get the desired value.
We should have a better API for this in scrapy that would allow "context" based pipeline/middleware registration

[2021-07-15 21:53] Gallaecio commented on #5206
Some ideas:

[code]

I imagine some of these ideas would require the underlying implementation to be rather complex, but hopefully it is doable and in a backward-compatible way.

[2021-07-16 06:35] markhv-code commented on #5145
@Gallaecio  I would like to take this issue please!

[2021-07-16 06:38] Gallaecio commented on #5145
Thar’s great! No need to ask for permission :slightly_smiling_face:

[2021-07-16 06:41] markhv-code commented on #5145
@Gallaecio could I be assigned this issue?

[2021-07-16 06:56] Gallaecio commented on #5145
We only assign issues very rarely. In general we are not against multiple people working on the same issue, as long as they are aware that there’s someone else working on it, and your comments here should be enough for people to figure that out.

[2021-07-18 04:45] aaron-tan commented on #5199
Hi, I'm new to contributing to open source projects and this seems like something I could start out with. Could I work on this?

[2021-07-18 12:11] wRAR commented on #5199
@aaron-tan sure, you don't need a permission for this.

[2021-07-20 07:44] wRAR opened #5212 "Test failures on 3.10"
I ran the test suite on 3.10b4, we have three test failures. One is easily fixed by replacing `collections` with `collections.abc` in `scrapy/utils/signal.py` (`collections.Sequence` no longer exists in 3.10 and is apparently deprecated before that), other two are less trivial: https://github.com/wRAR/scrapy/runs/3111526014?check_suite_focus=true

[2021-07-20 12:22] wvengen opened #5213 "HTTP/2: full proxy support"
## Summary

After the great work of a first HTTP/2 implementation, one of the missing features is full proxy support. Especially with TLS (which the current implementation currently targets, I don't think h2c is supported yet), one needs `CONNECT` with proxying, which is currently not supported.

## Describe alternatives you've considered

Since the HTTP/1 implementation has full proxy support, it

[2021-07-20 12:23] wvengen commented on #5213
I'm currently using [this gist](https://gist.github.com/wvengen/84af3ab0da2ec5134407a71a094c8ad1) for HTTP/2 over an HTTP/1 proxy (TLS only), but it's probably not very future-proof.

[2021-07-20 20:25] toqp opened #5214 "Add support for YAML export format"

[2021-07-21 07:24] wRAR commented on #5214
Sorry?

[2021-07-21 08:18] laggardkernel commented on #5154
Update: Succeeded running `tox -e py`. But still no luck with `tox -e flake8` (tested on macOS and Linux). Tried to install the requirements required by `testenv:flake8` and run `py.test --flake8 docs scrapy tests` manually.

---

Running `tox` stuck and the calling never ends.  By checking `.tox/flake8/log/flake8-1.log`,
it failed to create virtualenv for tox `testenv:flake8`. The dependency reso

[2021-07-22 05:55] wRAR commented on #5214
@toqp can you please elaborate what were you trying to say here?

[2021-07-23 10:55] #5187 closed

[2021-07-24 15:27] GeorgeA92 commented on #5206
@ejulio
This part of scrapy (sorting middlewares order by priority) implemented in `_get_mwlist_from_settings` method of `SpiderMiddlewareManager`, `ItemPipelineManager` and `DownloaderMiddlewareManager`:

https://github.com/scrapy/scrapy/blob/ff272d633237bc873dc956cd8e25117e8777c88d/scrapy/core/spidermw.py#L32-L34
https://github.com/scrapy/scrapy/blob/ff272d633237bc873dc956cd8e25117e8777c88d/scra

[2021-07-24 15:50] toqp commented on #5214
I noticed that the result of parsing can not be displayed in yml, I wanted to open it myself
Pull requests, but no time for that. I ask you to add functionality as an output of the parsing result to the yml file.

[2021-07-24 17:01] storymode7 commented on #5093
Thank you for your time everyone.

[2021-07-24 17:01] #5093 closed

[2021-07-25 01:51] elacuesta commented on #5214
Given that there is no stdlib support for YAML and that a functional (although admittedly limited) YAML item exporter is [relatively easy to implement](https://github.com/elacuesta/scrapy-yaml-item-exporter/blob/master/scrapy_yaml_item_exporter/scrapy_yaml_item_exporter.py), I must say I'm -1 on adding support.

[2021-07-26 12:06] Gallaecio commented on #5154
Please, test again with the latest commit. https://github.com/scrapy/scrapy/pull/5207 probably fixed this.

[2021-07-26 13:11] wRAR commented on #4658
Compare: https://github.com/scrapy/cssselect/pull/122 has 4 times fewer changes, though most of that is in three very big files, it would be even easier to review if the changes were split between more files. So it should be possible to reformat the Scrapy repo in several batches if we decide to do that.

[2021-07-26 13:17] wRAR commented on #4658
OTOH 70% of that is, curiously, in the tests.

[2021-07-26 13:37] Gallaecio commented on #5206
While allowing to customize those classes would be a nice feature in itself, I was wondering if it was possible to modify the `_get_mwlist_from_settings` methods of the existing, built-in classes so that they support alternative these alternative ways of defining these settings.

In fact, I was thinking that this kind of change could (must?) be done at the `Settings` level. I think at least some o

[2021-07-26 14:33] Gallaecio commented on #4658
A progressive approach works for me, just so that I don’t fall asleep during review. Shall we start with adding black but allow-listing all existing files?

[2021-07-26 14:34] wRAR commented on #4658
Yeah.

[2021-07-26 18:51] #5069 closed

[2021-07-28 16:41] GeorgeA92 commented on #5206
@Gallaecio

**monkepatch** `_get_mwlist_from_settings` classmethod in script:
<details><summary>example code sample (for testing purposes - updated method return middlewares.. in reversed order)</summary>

[code]
</details>

**crawler object**
middlewaremanager objects accessible from crawler object in spider methods. It allow user to make any manipulations with this objects during runtime.
`self.

[2021-07-29 02:52] Gallaecio commented on #3900
https://docs.scrapy.org/en/latest/topics/feed-exports.html#storage-uri-parameters

[2021-07-29 07:50] holymonson commented on #5195
@Gallaecio Hi, I'm not sure whether 2.6 milestone is close, is it possible to release 2.5.1 for this issue?

[2021-07-29 10:25] #4484 closed

[2021-07-29 11:20] Gallaecio commented on #5195
We are not currently considering a release of 2.5.1 for this issue. As for 2.6.0, at the moment releasing in august seems likely, but it is not set in stone.

[2021-07-29 20:12] #1877 closed

[2021-08-01 08:48] Marghis opened #5220 "XPath tutorial xpathdemo live widget does not display Result"
Scrapy XPath tutorial (https://docs.scrapy.org/en/xpath-tutorial/topics/xpath-tutorial.html) uses live in-browser widget "xpathdemo" to show result of XPath query. Currently no result is shown in any of xpathdemo widgets on the page.
Div for result does not contain any text (`<div id="html_output-140187481870608" class="html_output"></div>`)
Changing value in the input field XPath Expression and p

[2021-08-04 02:55] tonal commented on #5017
https://github.com/twisted/twisted/releases/tag/twisted-21.7.0:

[2021-08-04 17:40] sidharthkumar2019 commented on #5135
Is this issue resolved?

[2021-08-05 03:15] rpocase opened #5222 "Support for HEADERS_DEBUG"
## Summary

I would like to see a support for a settings option `HEADERS_DEBUG` that functions similarly to [COOKIES_DEBUG](https://docs.scrapy.org/en/latest/topics/downloader-middleware.html?highlight=COOKIES_DEBUG#cookies-debug). I.e., all requests sent and responses received would log their headers automatically.

## Motivation

I scrape a large number of domains that do not necessarily follow

[2021-08-05 06:03] anjia0532 commented on #3981
my blog to fix this https://anjia0532.github.io/2021/08/05/scrapy-capitalizes-request-headers/

[2021-08-05 09:15] Gallaecio commented on #5017
Thanks! I’ve verified that https://github.com/scrapy/scrapy/issues/5017#issuecomment-787935098 works with the latest version of both Scrapy and Twisted.

[2021-08-05 09:15] #5017 closed

[2021-08-05 10:05] Gallaecio commented on #5135
@sidharthkumar2019 It hasn’t been resolved, it’s up for the taken.

The goal here is to update the documentation of the `URLLENGTH_LIMIT` setting to indicate how it can be disabled and to mention scenarios where it can be useful (to justify it being enabled by default).

[2021-08-05 11:05] Gallaecio commented on #5222
I’m not sure if it’s “common enough” to warrant a built-in component, but it definitely sounds simple enough that it should not significantly increase the code base complexity.

[2021-08-05 12:29] wRAR commented on #5222
(disclaimer: there may be existing issues about this)

Please note that logging headers in a middleware is not always enough, as sometimes you need to know what exactly will be sent and only Twisted (and maybe some Scrapy core components) knows the final request contents. But I always forget the available ways to see what has Twisted sent on the wire.

[2021-08-05 19:23] #5157 closed

[2021-08-06 08:07] wRAR commented on #5154
Unfortunately we only fixed the CI, affected users need to export the same var manually when running tox.

[2021-08-10 19:42] dainztexas commented on #5220
@Marghis I would like to work on this issue,  but I am not sure if this a good first time issue.  I spent some time on this and I guess the issue could be related to the function `evalXPathUpdateResult` defined in `xpathdemo.js`  not being called correctly on "keyup" event ?
I will check if this is indeed the issue, but meanwhile if anyone can give any pointers that would be very helpful.

[2021-08-11 05:28] dainztexas commented on #5220
@Marghis - Your observation is correct , if we comment below javascript part then in-browser widget is working fine (populating results for xpath expressions)

`  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
`

 I don't have a good javascript experience but my assumption is that since we are loading the javascript com

[2021-08-11 08:59] Gallaecio commented on #5220
I think this may be https://github.com/readthedocs/readthedocs.org/issues/8323

[2021-08-11 09:09] Gallaecio opened #5226 "Document Reppy Python version support"
The optional dependency on reppy for one of the built-in robots.txt parsers is [preventing us from running the extra-dependencies CI job with Python 3.9+](https://github.com/seomoz/reppy/issues/122). https://github.com/seomoz/reppy has not have a commit for ~1.5 years.

So I think we should deprecate the component.

If we don’t, we should document this limitation, and schedule a deprecation for 1

[2021-08-11 09:19] #5212 closed

[2021-08-11 14:19] alikazemkhanloo opened #5227 "set Pipeline on Items"
## Summary

On each `scrapy.Item`, there would be a meta value to determine which pipeline will be used for this particular Item.

## Motivation

I wanted to crawl two different websites. they share the same data but are differently structured. I wanted to create multiple spiders in one project, and `yield` different `Item`s.

But each `Item` will be passed to all pipelines. as a workaround I crea

[2021-08-11 15:01] wRAR commented on #5227
I don't think it's "the best pythonic way". Also having one and only one pipeline for each item type is a narrow case: Scrapy supports multiple pipelines called in a specified order, and it also supports many different kinds of objects as items, not all of which can contain additional metadata. Dispatching by checking the item type or name/other attributes of the spider is currently the best pract

[2021-08-11 15:14] wRAR commented on #5226
I would be fine with not running tests for it and documenting that it's "not really supported" but I don't think we do this? Otherwise I'm fine with deprecating and then removing it.

For the context, it was first released in 1.8, together with all other "new" robots.txt parsers as a GSoC 2019 contribution, and while it was requested in the initial GSoC issue #3656, it was attempted much earlier:

[2021-08-11 15:23] Gallaecio commented on #5227
The approach suggested by @wRAR should work well for you, and is not that far off from what you are suggesting.

Note that you can also set per-spider item pipelines through `Spider.custom_settings`.

[2021-08-11 16:29] alikazemkhanloo commented on #5227
To rule out "one and only one pipeline for item type", we can check if the `pipeline/pipelines` exists on `Meta` class of the item, if it does not exist, it gets passed to all pipelines. Other types of objects not having a meta can be processed in all pipelines normally.

I didn't know about `Spider.custom_settings`. This actually solves my problem in which each spider needs its own pipeline.

The

[2021-08-11 16:44] wRAR commented on #5227
This is still suitable only for some cases, as some pipelines should process all items even when others are specific to one type.

So this feature is not suitable for all item kinds, even though it is equally useful to all of them.

TBH it's not controversial for me: the case is indeed rare, and a complete implementation of the feature you described is too complicated for reasons I stated and for

[2021-08-12 12:50] wRAR commented on #5226
The parser comparison in our docs: https://docs.scrapy.org/en/latest/topics/downloader-middleware.html#module-scrapy.downloadermiddlewares.robotstxt

The performance comparison (linked from where): https://anubhavp28.github.io/gsoc-weekly-checkin-12/

So the main feature of Reppy is being much faster (which isn't really important for spiders that scrape 0 or 1 robots.txt file per run but may be im

[2021-08-14 06:15] calicomills commented on #5145
@Gallaecio I was just checking this, I didn't properly understand the "binary response part"...But to handle the support issue
maybe we can make this change,
def __init__(self, item=None, selector=None, response=None, parent=None, **context):
        if not isinstance(response,TextResponse):  #My change
            response = None
        if selector is None and response is not None:
            s

[2021-08-15 12:16] Cyb-Umair commented on #5172
Getting started with contributions to Scrapy?

I have seen that there are several GoodFirstIssue tags in the issues. How do I proceed to pick them up?

[2021-08-15 12:32] Cyb-Umair commented on #5226
Can I work on this issue @Gallaecio ?

[2021-08-15 12:33] umairnsr87 commented on #5226
Can I work on this issue @Gallaecio ?

[2021-08-15 12:37] umairnsr87 commented on #5172
Getting started with contributions to Scrapy?

I have seen that there are several GoodFirstIssue tags in the issues. How do I proceed to pick them up?

[2021-08-15 19:38] GeorgeA92 commented on #5145
@Gallaecio I am not able to reproduce the issue.
Usage of `ItemLoader(response=response)` on following spider code (`itemloaders v.1.0.3`) works without errors for both `Response`(binary), `TextResponse` and `HtmlResponse` classes

<details>
<summary>Spider code</summary>

[code]
</details>
<details><summary>Log output</summary>

[code]
</details>

[2021-08-16 07:52] #5173 closed

[2021-08-16 10:11] Gallaecio commented on #5226
@umairnsr87 Yes, please! We need to update the documentation about Reppy, to clearly indicate that it only work with Python 3.8 and earlier.

[2021-08-16 10:14] Gallaecio opened #5230 "Deprecate Reppy support"
https://github.com/scrapy/scrapy/issues/5226#issuecomment-897621867

[2021-08-16 10:19] Gallaecio commented on #5172
No need to ask for permission, you can create a pull request to solve any issue and [mark it as resolving that issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword).

If you worry about duplicating code, please check the issue thread for references to active work on the issue.

[2021-08-16 10:20] Gallaecio commented on #5172
Well, it seems like Discord has really taken off, so I’m happily closing this.

[2021-08-16 10:20] #5172 closed

[2021-08-16 10:38] Gallaecio commented on #5145
@GeorgeA92 You are testing the upstream `ItemLoader`, Scrapy subclasses it to make some Scrapy-specific adjustments:

[code]

@calicomills That avoids the exception, but prevents the `response` from being available from a loader context, so it does not really solve the root issue.

[2021-08-16 11:18] umairnsr87 commented on #5230
https://docs.scrapy.org/en/latest/topics/downloader-middleware.html#built-in-downloader-middleware-reference @Gallaecio  I am seeing that **Reappy Parser** Do I just need to mention there that "only work with Python 3.8 and earlier" or do I need to make some other changes. Thanks

[2021-08-16 11:24] Gallaecio commented on #5230
That’s it.

Please, do it as part of https://github.com/scrapy/scrapy/issues/5226, this ticket is for potential future work removing deprecating support for Reppy.

[2021-08-16 17:24] GeorgeA92 commented on #5145
@Gallaecio I reproduced the issue.
On my previous code sample `from itemloaders import ItemLoader` replaced by `from scrapy.loader import ItemLoader`

On `scrapy.http.response.TextResponse` - `selector` implemented as `@property`
https://github.com/scrapy/scrapy/blob/e63188cbf753d560e43d8489c821bd6eb9fe54e9/scrapy/http/response/text.py#L131-L136
It means that instantiation of `response.selector` o

[2021-08-16 17:38] calicomills commented on #5145
_``text`` is a unicode string or utf-8 encoded text for cases when a
    ``response`` isn't available. Using ``text`` and ``response`` together is
    undefined behavior (scrapy/selector/unified.py_)

scrapy/scrapy/http/response/__init__.py
[code]
The error is caused when we try to access `response.text`, which has no implementation in `class Response`(__init__.py)
Can we return a default utf-8 st

[2021-08-16 22:14] orzel commented on #4951
I have a similar problem on lot of different sites. All are protected by cloudflare. In all cases, requests.get() just works, and scrapy fails with 403. It works with chrome/firefox as well, not even a captcha or anything "visibly" related to cloudflare. It fails with curl (command line, not the php stuff).

I tried all of this together:
* using exactly the same user agent
* using exactly the same

[2021-08-17 07:18] imadmoussa1 commented on #4951
I tried to replace requests.get() in scrappy on a different level, but I wasn't able to override the default fucntion.
Hope Scrapy team have a solution?, it seems a Cloudflare update was able to block the scrapy request, all the website having this Cloudflare version are block the scrappy request. my scrapy engine now is useless.  80% of website trying to scrap was able to block the request.

[2021-08-17 14:42] #2680 closed

[2021-08-17 15:29] wRAR commented on #2473
I wonder if it's still needed with modern Scrapy?

[2021-08-18 09:00] Gallaecio commented on #5145
Just from looking at the traceback, my first approach would be to see if it makes sense to catch `AttributeError` from `scrapy/loader/__init__.py` and handle it somehow (`selector = None`?).

[2021-08-18 09:05] Gallaecio commented on #4951
Sounds interesting as a proof of concept. Since `requests` seems to be thread-safe, using `deferToThread` to make `requests` calls may be feasible.

That said, ideally we should figure out what the key difference is, and provide a way to reproduce `requests` requests with Scrapy.

[2021-08-18 09:59] Gallaecio commented on #2473
We actually covered this in the documentation as part of https://github.com/scrapy/scrapy/pull/3517

But now I wonder if we should remove that from the documentation now, if this were not needed nowadays.

[2021-08-18 09:59] #2473 closed

[2021-08-18 10:51] Gallaecio opened #5232 "Mention DOWNLOADER_CLIENT_TLS_METHOD tweaking to avoid some bans"
Changing the value of that setting [has been seen to work around some bans](https://github.com/scrapy/scrapy/issues/4951#issuecomment-758185916), so it may be worth mentioning in https://docs.scrapy.org/en/master/topics/avoiding-bans.html#bypassing-web-browser-filters

[2021-08-18 12:59] umairnsr87 commented on #5232
Should I update it @Gallaecio ?

[2021-08-18 16:10] wRAR commented on #844
I think this is fixed by adding several validating classes to python-itemadapter.

[2021-08-18 16:10] #844 closed

[2021-08-19 04:22] Sukriti-sood opened #5233 "Issue forms for the Issue Templates."
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

Anyone from scrapy, if you think it's a valid issue Please assign it to me.

[2021-08-19 10:00] wRAR commented on #5233
Can you please explain what do you mean?

[2021-08-19 10:46] Sukriti-sood commented on #5233
@wRAR  Github has introduced issue forms to replace issue Template, so I want to replace Issue Templates with Issue forms

[2021-08-19 20:17] orzel commented on #4951
I agree 100%. Is there a place where we could talk more 'instantaneously' ? irc or similar ? As said, I'm pretty sure the difference is in order and/or case of headers. But i'm not familiar enough with scrapy code to be able to go further.

[2021-08-20 06:24] wRAR commented on #4951
@orzel we have IRC (#scrapy at Libera.Chat) and [Discord](https://discord.gg/mv3yErfpvq).

[2021-08-22 11:29] #5226 closed

[2021-08-23 12:37] avishmehta68710 commented on #4658
Can i work on this issue

[2021-08-24 05:56] Gallaecio commented on #5232
Thanks, but we reverted the creation of that page of the documentation for now, so this needs to wait a bit.

[2021-08-24 06:48] Gallaecio commented on #4951
For those we have https://github.com/scrapy/scrapy/issues/2711 and https://github.com/scrapy/scrapy/issues/2803, so if that’s the case we could probably close this issue in favor of those.

[2021-08-24 07:18] #4665 closed

[2021-08-24 09:07] Gallaecio commented on #4658
Actually, we had some further internal discussions. It may be best if we handle this internally, to minimize back-and-forth during code review.

[2021-08-24 09:48] #5168 closed

[2021-08-24 09:48] #2174 closed

[2021-08-24 09:54] Gallaecio commented on #5060
Now URLs are supported as input: https://github.com/scrapy/scrapy/pull/4439

However, we still simply extract the domain from them. Which means that the input protocol is not respected. Maybe we can keep this open to change that?

[2021-08-24 09:56] Gallaecio commented on #5060
Actually, https://github.com/scrapy/scrapy/issues/3553 probably makes more sense to track that remaining work, since the oritional issue description targets specifically passing an HTTPS URL.

[2021-08-24 09:56] #5060 closed

[2021-08-24 09:58] Gallaecio commented on #3553
Now URLs are supported as input: https://github.com/scrapy/scrapy/pull/4439

However, we still simply extract the domain from them. Which means that the input protocol is not respected for `start_urls`, and instead it is always forced to be HTTP (as opposed to, for example, HTTPS).

[2021-08-24 10:01] Gallaecio commented on #3553
https://github.com/scrapy/scrapy/pull/3558 seems to aim to address the `start_urls` issue. The pull request needs some work, but if not resumed, maybe it can be taken as inspiration for alternative implementations.

[2021-08-24 14:23] rpocase commented on #3663
A possible workaround for this use case, depending on your run model, is to override settings using `Crawler`. In my case, I'm executing via a scripted workflow and may need to override settings at run time. Since `CrawlerProcess.crawl` can take a `Crawler` object, it is pretty seamless to absorb the crawler settings and override the settings I care about.

[code]

[2021-08-25 19:35] RandomRedBeard opened #5236 "PyPi Incorrect version"
### Description

When looking for AWS_SESSION_TOKEN feature in scrapy.pipelines.files.S3FilesStore
I was not able to find that feature even though I see it in the repository here.
This was tried with both 'conda install scrapy' and 'pip install scrapy'

### Steps to Reproduce

1. pip install scrapy
2. check scrapy.pipelines.files.S3FilesStorefor AWS_SESSION_TOKEN logic

**Expected behavior:**
AWS_

[2021-08-26 07:28] #5236 closed, assigned to nobody

[2021-08-31 09:42] CaptainArnav commented on #5174
@kmike is this a good issue for my first time contributing to scrapy?

[2021-08-31 09:50] wRAR commented on #4951
@hyyc554 that's what the previous messages here say, yeah.

[2021-08-31 14:26] jpmckinney opened #5237 "Scrapy > 2.3 prevents passing callback in cb_kwargs"
To reproduce:

[code]

In example.py

[code]

This works in Scrapy 2.3. In Scrapy > 2.3, it errors:

[code]

I don't know if this scrapy commit is relevant to the change in behavior: https://github.com/scrapy/scrapy/commit/2aa4f3cbf96ad55aa4a1fa064758338daf16b110

This is a minimal example. Of course, in my application, I'm jumping through these hoops (controlling the callback of a subsequent requ

[2021-09-02 15:39] joshrg10 commented on #2802
@Gallaecio There has been no activity here for some time. Is this one that can be closed down for now?

[2021-09-02 16:43] GeorgeA92 commented on #5237
I've reproduced this issue
It happened because this:
https://github.com/scrapy/scrapy/blob/1278e76d9093b1c5c9ec810768d1066772a8a134/scrapy/core/scraper.py#L154-L156
replaced by:
https://github.com/scrapy/scrapy/blob/e63188cbf753d560e43d8489c821bd6eb9fe54e9/scrapy/core/scraper.py#L151
as result of mentioned commit https://github.com/scrapy/scrapy/commit/2aa4f3cbf96ad55aa4a1fa064758338daf16b110

Thi

[2021-09-03 11:42] isakhagg commented on #5145
Hi, I'm a master's student in computer sience and engineering at Linköping University. Currently I'm looking into getting started with open source development. Is Scrapy a good first project to start in? I have knowledge Python.

[2021-09-03 21:20] jpmckinney commented on #5237
There are other ways to pass the callback (e.g. via request meta), so this doesn't necessarily need to be fixed. However, it might be worth mentioning that a `'callback'` key in `cb_kwargs` is disallowed.

[2021-09-05 09:02] MoTechStore commented on #2115
This works for me too

[2021-09-09 08:25] selfcontrol7 commented on #3936
Hello @tonylin75,
Three years later and I am also facing the same issue with my crawling code running for 7 hours minimum.
And that the end because the device does not have enough memory, the crawled data are partially saved in the CSV file.

I will really appreciate it if you could share how you solved the issue.

Thank you.

[2021-09-14 14:20] jpmckinney opened #5240 "Is scrapyd-client accepting new maintainers?"
*Original: https://github.com/scrapy/scrapyd-client/issues/81*

The PRs are fairly simple and repetitive, and the issues are a mix of support requests (no bug/feature to add) or small changes.

We ([Open Contracting Partnership](https://www.open-contracting.org)) use scrapyd-client daily to deploy new spiders to a scrapyd instance ([our Scrapy project](https://github.com/open-contracting/kingfishe

[2021-09-15 11:14] iPatavatsizz opened #5241 "Bypassing Captcha"
## Summary

I think Scrapy can bypass captcha security.

Briefly, I cannot use Scrapy for 3 days since I installed to parse the xml data of the site of I want because of I realized that Scrapy is stuck on redirecting process with captcha. Neither shell or spider/view works.

`2021-09-15 13:53:23 [scrapy.downloadermiddlewares.redirect] DEBUG: Redirecting (301) to <GET https://www.hepsiburada.com/ro

[2021-09-16 06:14] wRAR commented on #5241
This doesn't look like a Scrapy issue. Please use platforms like https://stackoverflow.com/ to ask questions about your code.

[2021-09-16 06:14] #5241 closed

[2021-09-17 09:35] wRAR commented on #5240
Thank you for making this more visible to us, we are currently discussing this internally.

[2021-09-20 13:06] Gallaecio commented on #5174
This would may be a good first issue, yes, given https://docs.scrapy.org/en/latest/topics/jobs.html#keeping-persistent-state-between-batches

[2021-09-20 13:33] Gallaecio commented on #2802
We don’t close issues until we either address them or decide not to address them. I don’t think this one should be closed at the moment.

[2021-09-20 13:39] Gallaecio commented on #5145
Scrapy is an active project, and if you start a pull request to make a change we _will_ provide you feedback.

But the number of “good first issues” in Scrapy that are free for the taking is close to 0, and Scrapy is a complex Python project, which heavily relies on [Twisted](https://twistedmatrix.com/trac/).

So getting started may not be trivial, depending on which issue you want to address. But

[2021-09-20 13:42] Gallaecio commented on #5237
If it’s trivial to allow a `callback` parameter, it may be best to do that. Otherwise, we should raise an error that is more helpful, in addition to mention it in the documentation.

[2021-09-21 13:46] boulderob opened #5242 "Processing Complex Nested Items"
I've spent a week exploring the scrapy documentation and issues as well as exploring google and more specifically stack as suggested in many issues here.  I'm resorting here for some guidance because I'm not finding any answers.

In bs4, the callbacks are what i would call "synchronously chained", so that the parsing tied to a series of related requests can all "bubble" up successive returns dicts

[2021-09-22 07:00] wRAR commented on #5242
As callbacks are asynchronous you indeed cannot bubble data up to the earlier ones (they are already finished at this point). Currently the usual ways to combine data from multiple requests are either writing a single big callback with https://github.com/rmax/scrapy-inline-requests (there is some work in progress to replace it with native ways to do the same) or collecting the data in a raw form a

[2021-09-22 07:00] #5242 closed

[2021-09-23 06:57] wRAR opened #5245 "Complete conversion to f-strings"
Recent pylint started detecting potential f-string usages, I think it's fine to keep this error and just convert the remaining usages. pylint output can be seen at https://github.com/scrapy/scrapy/pull/5244/checks?check_run_id=3671950402

[2021-09-23 08:10] GeorgeA92 commented on #5245
I received the same log entries from `pylint` after recent update of my PR 4792 https://github.com/scrapy/scrapy/pull/4972/checks?check_run_id=3633586376.
I can take it.

[2021-09-23 13:55] #5240 closed

[2021-09-24 07:49] iPatavatsizz commented on #5241
Scrapy can't pass captcha because of it's not good enough to pass because of lack headers it sends. I copied the headers of I sent to site on Chrome and used them on both requests and aiohttp libraries to bypass and I succeed. So, I think it is Scrapy related. And solution was already found, thanks.

[2021-09-25 09:46] Gallaecio commented on #3936
Unless you can identify which part of Scrapy is taking the memory, or provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), there’s not much we can do.

[2021-09-28 14:20] VannotAlexi0x73 opened #5248 "Increase items count"
Hello everybody,

I am a beginner with this framework and I have 2 questions/problems:

1. I made a "scrapy.Spider" for a website, but it stops after 960 elements retrieved, how can I increase this value, I need to retrieve about 4000 elements .... :/
2. Is it possible to launch scrapy infinitely by adding a waiting time for each "scrapy.Spider"?

Thanking you in advance !

<img width="981" alt="c

[2021-09-28 18:25] Gallaecio commented on #5248
This issue tracker is meant for bugs and feature requests, not for user support. Please, see https://scrapy.org/community/ for the right places to get support.

[2021-09-28 18:25] #5248 closed

[2021-09-28 23:08] VannotAlexi0x73 commented on #5248
https://stackoverflow.com/questions/69368537/increase-items-count-web-scrapping

[2021-09-29 16:00] TuoBaed opened #5249 "Lose some data items when the number of Requests in start_requests is bigger than CONCURRENT_REQUESTS in settings"
## Lose some data items when the number of Requests in start_requests is bigger than CONCURRENT_REQUESTS in settings

### Description

Lose some data items when the number of Requests in start_requests(self) method is bigger than CONCURRENT_REQUESTS in settings. The more Requests I make the more data I lose.

### Steps to Reproduce

1. Here is my spider:

2. Here is my code in items.py

3. Here is

[2021-09-29 16:11] Gallaecio commented on #5249
Please, edit your issue description to replace your code with a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) (i.e. remove any lines of code that do not contribute to readability or reproducing the issue).

[2021-09-30 00:33] TuoBaed commented on #5249
I can't create another example to show these problems presently.

[2021-09-30 02:08] TuoBaed commented on #5249
Maybe my mistake or the website's error yesterday. Everything is ok now. However, I still don't know why.

[2021-09-30 02:08] #5249 closed

[2021-09-30 08:05] iDeepverma commented on #5135
I suppose this is still open, if so I will like to add to the docs

[2021-09-30 09:50] Gallaecio commented on #5135
@iDeepverma Feel free! Let us know if you have any question.

[2021-09-30 14:51] iDeepverma commented on #5135
Should I Add using ``DEPTH_LIMIT`` to some appropriate value as the recommended way of using it while disabling the ``URLLENGTH_LIMIT`` to avoid loops (which can cause URLs of increasing lengths) as discussed in the above comments

[2021-10-01 07:23] doctorrmcb opened #5252 "ints in Cookies are not getting parsed correctly"
### Description

Using an int in a cookie causes the spider to not work. Replacing the int with a str fixes the problem.

### Steps to Reproduce

Failing Code Example:
[code]

Successful Code Example:
[code]

**Expected behavior:** I expect that an int should be parsed to a str without me needing to do it myself.

**Actual behavior:** Get following error:

[code]

**Reproduces how often:** [What p

[2021-10-01 07:50] #5237 closed

[2021-10-01 13:49] tpush commented on #5245
I can fix this, can have it assigned.

[2021-10-01 13:54] wRAR commented on #5245
@tpush as you can see above there is already an open PR for this.

[2021-10-02 20:25] ahudspeth199 commented on #5174
Can I still get involved with this? I am new to python coding not sure where to start?

[2021-10-02 21:02] wRAR commented on #5174
Closed by #5244.

[2021-10-02 21:02] #5174 closed

[2021-10-04 07:30] Gallaecio commented on #4627
The issue reported here is getting an `HtmlResponse` class because the headers say XHTML even though the actual content is pure XML.

I don’t think it makes sense to allow passing a different selector type in calls to `response.xpath` and similar.

I think we should wait for https://github.com/scrapy/scrapy/pull/5257 to be merged, and then see if the problem persists. If it does, we can probably m

[2021-10-04 12:12] atreyasha opened #5259 "[Documentation] Suggest increasing `ulimit -S -n` for broad crawls"
## Summary

I am running a broad crawl using `scrapy` and I adapted a significant part of my implementation from this [page](https://docs.scrapy.org/en/latest/topics/broad-crawls.html). I think the suggestions there are great and I would like to request additional documentation under the [`Increase concurrency`](https://docs.scrapy.org/en/latest/topics/broad-crawls.html#increase-concurrency) secti

[2021-10-04 14:51] Gallaecio commented on #5259
I guess it would make sense to mention that in the documentation of the `CONCURRENT_REQUESTS` setting.

[2021-10-05 06:49] abc516 commented on #4654
Hi @Gallaecio @victor-torres is this issue still open / ready for work?

[2021-10-06 00:17] devster31 opened #5261 "Possible issue with uri_params"
### Description
I tried following the docs here https://docs.scrapy.org/en/latest/topics/feed-exports.html#scrapy.extensions.feedexport.uri_params to have a dynamic Feed name.
Here is the relevant code:

`uri_params` function:
[code]
Spider
[code]
### Steps to Reproduce
During debugging and breaking at this line https://github.com/scrapy/scrapy/blob/cbf934955223c29f0632fbba94d9586849a3b744/scrapy/

[2021-10-06 08:05] Gallaecio commented on #4654
This is likely going to be addressed by https://github.com/scrapy/scrapy/issues/4658, which will be handled by core developers.

[2021-10-06 08:32] Gallaecio commented on #5261
Duplicate of #4962

[2021-10-06 08:32] #5261 closed

[2021-10-06 15:32] #5252 closed

[2021-10-06 23:36] epicfaace opened #5267 "Support h2>=4.0"
I'm no longer able to use the latest version of scrapy (2.5.1) with mitmproxy 7.0.3 because scrapy pins h2 support to 3.x.

[code]

(from https://github.com/cisagov/crossfeed/pull/1231/checks?check_run_id=3821313582)

[2021-10-07 06:14] #5267 closed, assigned to nobody

[2021-10-12 11:41] #5120 closed

[2021-10-12 12:53] wRAR opened #5273 "Doctest failure"
Merging #5256 introduced a doctest failure in `docs/intro/tutorial.rst`:

[code]

[2021-10-12 13:42] Gallaecio commented on #5273
I think we just need to remove the `File "<console>", line 1, in <module>` line from the documentation, as it does not (cannot) match the actual output.

[2021-10-12 17:20] #5273 closed, assigned to nobody

[2021-10-12 18:13] atreyasha opened #5275 "[Question] Large number of sub-directories in `requests.queue`"
## Motivation

I am currently running a broad crawl on ~3 Million starting URLs using the suggested settings from this [page](https://docs.scrapy.org/en/latest/topics/broad-crawls.html). Since pause and resume features are necessary for my crawl, I used the `JOBDIR` project setting. This has been working great so far.

Recently I observed that the directory count of the `requests.queue` directory

[2021-10-13 05:35] Gallaecio commented on #5275
I did not look into it too closely, I simply confirmed that [disk-based queuelib _should_ be removing files once empty](https://github.com/scrapy/queuelib/blob/c135eda9a1837f17e0826f5edee6e6bd8c6469e6/queuelib/queue.py#L138).

It would probably be helpful if you could provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

I could _not_ reproduce th

[2021-10-15 02:26] FreaxW opened #5278 "Add @dataclass support for scrapy.Item"
[code]
![image](https://user-images.githubusercontent.com/46556817/137422476-04a42ce2-e4fe-4ca6-a88d-783635a75915.png)

but
[code]
![image](https://user-images.githubusercontent.com/46556817/137422593-6768c98c-fa3c-4eef-93b5-243ba3330c23.png)

[2021-10-15 07:55] #5278 closed

[2021-10-15 08:18] FreaxW commented on #5278
There is a compatibility problem with previous projects when I use a dataclass item as  Scrapy item. for example, it cannot assign values through a dictionary such as `item["id"] = '0001'`. Is there a better solution?

[2021-10-15 21:31] S4NT14G0 opened #5280 "Scrapy pronunciation"
My co-worker has been making everyone laugh in our daily standups while saying the word scrapy.  This sparked a debate of how to pronounce this library name..  Please advise.

[2021-10-15 21:36] #5280 closed

[2021-10-16 01:18] azzamsa commented on #4658
I am very keen to see the project formatted with black. We can have very consistent styling by enforcing it through the CI.

[2021-10-16 19:28] Gallaecio commented on #5182
Sounds interesting. I would not mind allowing a special value for the `CONCURRENT_ITEMS` option, e.g. `auto`, that applies this logic. If it works well, and it sounds like it should, we might want to consider making it the default value at some point. It could also long the final value chosen, so that if the ramp-up time is a problem, users can replace `auto` with an actual value based on the logg

[2021-10-16 19:37] edorado93 commented on #5182
Yep, that sounds good to me. An `auto` configuration would be cool to have (and as default in the future!). And yeah, logging also is a great idea to avoid the same computations by scrappy and so that users can provide the optimal value themselves.

I'd love to work on this :) Is it ok if I assign this to myself?

[2021-10-16 19:46] Gallaecio commented on #5182
We don’t tend to assign issues except for core maintainers, and even then rarely. Your comment above should be enough to let people know someone is working on this, though.

I’m really looking forward to the results. I’m also hoping we can do some benchmarks once implemented, to see after how many items it becomes worth it to use `auto` vs the current default value.

[2021-10-18 10:48] Gallaecio opened #5282 "Implement a decorator to feed start requests into the scheduler"
@kmike described the issue best at https://github.com/scrapy/scrapy/issues/456#issuecomment-247622571:

I think we could address this by providing a documentation topic about start requests, the scheduler, and other aspects related to request consumption order.

The documentation should describe how to achieve alternatives ways of request consumption, so along with the new documentation topic I wo

[2021-10-18 13:25] kmike commented on #5282
Another idea which we had is to change the behavior for `async def start_requests`. The current behavior almost looks like a bug.

[2021-10-18 18:46] itsAftabAlam opened #5283 "fix README.rst, hyperlink to banner missing"
assigned to myself

[2021-10-20 18:52] Gallaecio commented on #1988
There is already https://github.com/scrapy/scrapy/pull/4025

[2021-10-20 19:11] bezkos opened #5286 "HTTPS TorGuard proxies time out"
I used auth HTTP proxies with scrapy just fine.
Recently my provider went from HTTP to SSL Proxies and scrapy stop to download through them.
I dont know if its a bug report or new feature but can scrapy use SSL Proxies?

[2021-10-20 19:57] bezkos commented on #5286
Yes i updated it from old URL
http://user:pass@uk.torguard.com:6060
to
https://user:pass@uk.secureconnect.me:7070

I tried several new ports like they mention in their site.
Scrapy stoped to connect to their new type proxy.
Maybe SSL proxy has change auth verification too?
I use scrapy_proxies for auth, rotating etc....

[2021-10-21 00:11] devster31 opened #5287 "TypeError: not all arguments converted during string formatting"
### Description
I'm encountering a very strange issue which I don't understand.
There has been no change in the code and I only updated to 2.5.1 but after reverting the error presents itself anyway.
I'm stumbled on how to proceed as well.

### Steps to Reproduce

1. Run the script for my two crawlers:
[code]

2. Spider is as follows:
[code]

**Expected behavior:**
Normal running of the script.

**

[2021-10-22 13:51] Gallaecio opened #5289 "Better error (or support?) when yielding items from start requests"
We have seen more than once users trying to yield items from the `start_requests` method.

We should consider providing a better error message in this scenario, the current one is not very helpful.

We could also consider supporting this use case instead.

[2021-10-23 00:06] devster31 commented on #5287
Running the following command:
[code]
with the following spider:
[code]
results in the same error as before:
[code]

[2021-10-23 17:31] Gallaecio opened #5291 "Schedule a CI job to test unreleased dependencies"
Currently, the way we find out if a newer version of a direct dependency breaks our tests is once that dependency version is released in the Python Package Index, and only once changes in a pull request trigger a GitHub Actions job that installs such dependency version.

This is too late and confusing:

- By the time we catch the issue, the issue already exists out there, and it could affect users

[2021-10-23 17:37] #5287 closed, assigned to nobody

[2021-10-24 06:56] azzamsa opened #5293 "Enforce consistent usage of string formatting style"
Since we have a [pretty huge effort](https://github.com/scrapy/scrapy/pull/4324) in migrating to f-string. What if we make the usage of string consistent by enforcing it as a rule in contribution process.

I have tried to use [peterjc/flake8-sfs](https://github.com/peterjc/flake8-sfs) and it works well.

The configuration:

[code]

I tried to change one of them to `.format`, to expect an error.

[

[2021-10-24 07:19] azzamsa opened #5294 "Enforcing commit message format"
Hi.

Should we enforce the commit message format? Using such [ Angular convention](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-commit-message-format) or [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0-beta.4/).

It helps:
- newcomers to write their commit message.
- easy to parse for generating a changelog
- consistency
- and [more](https://www.conventional

[2021-10-25 12:08] #5293 closed, assigned to nobody

[2021-10-26 13:43] Gallaecio opened #5297 "get_retry_request: allow changing the log level of the gave up message"
When retry requests are exceeded, get_retry_request logs an error message. I would like to be able to change the log level of that message, specifically into a warning.

[2021-10-27 14:35] wRAR opened #5298 "Tests failing with new Sybil"
Sybil 3.0.0 was just released, and at least the following change breaks our tests: `CodeBlockParser has been renamed to PythonCodeBlockParser`

[code]

[2021-10-28 03:30] crrongyan opened #5301 "process_response() in DownloaderMiddleware return Request Object invalid，No effect"
settings.py:

`
BOT_NAME = 'scrapyProject'

SPIDER_MODULES = ['scrapyProject.spiders']
NEWSPIDER_MODULE = 'scrapyProject.spiders'

ROBOTSTXT_OBEY = False

CONCURRENT_REQUESTS = 32

DEFAULT_REQUEST_HEADERS = {
  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
  'Accept-Language': 'en',
  'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,

[2021-10-28 05:32] #5301 closed, assigned to nobody

[2021-10-28 07:50] wRAR opened #5302 "Improve diagnostics when stuck because of SCRAPER_SLOT_MAX_ACTIVE_SIZE"
In #3551 a way to tune the maximum size of responses being processed was added but the user experience is bad in the use cases that caused creation of that issue and PR (the ones described as lockups). I've seen the following use case:

[code]

As far as I can see, if the input file is larger than the default 5Mb this will not download any actual pages until the file finishes processing. Unfortuna

[2021-10-29 22:23] orzel commented on #3589
Is that workaround still needed with scrapy 2.5.1 ? I keep on getting this kind of errors, whatever i set for DOWNLOADER_CLIENT_TLS_METHOD.

[2021-10-31 05:57] Gallaecio commented on #3589
It’s not really a Scrapy issue, so much as a limitation of your target website. So yes, you may still need a workaround like https://github.com/scrapy/scrapy/issues/3589#issuecomment-456713305, maybe slightly different.

[2021-10-31 10:25] azzamsa opened #5306 "macOS Python 3.10 tests always fail"
I got some errors in both Ubuntu in the macOS test in my fork. Some of them are transient. They disappear after I re-run the test.

However, there is an error that persists in macOS Python 3.10. I tried to open a new PR #5305 to see if this would happen here too. Unfortunately, I don't see any macOS tests being run, even the config [still there](https://github.com/scrapy/scrapy/blob/3225de725720bb

[2021-10-31 12:25] azzamsa commented on #5306
I will disable the macOS test in my end too. So that it doesn't block my contributions.

[2021-11-02 07:59] LeMoussel commented on #4976
Couldn't resolve with the fix @ivanprado mentioned.

[2021-11-02 08:09] wRAR commented on #4976
@LeMoussel please provide a minimal reproducible example of this.

[2021-11-02 13:02] LeMoussel commented on #4976
[code]
**Execution:** `scrapy runspider minimalspider.py`

**Got Exception:** `The installed reactor (twisted.internet.selectreactor.SelectReactor) does not match the requested one (twisted.internet.asyncioreactor.AsyncioSelectorReactor)`

**Scrapy Log:** [scrapy_error.log](https://github.com/scrapy/scrapy/files/7460823/scrapy_error.log)

[2021-11-02 13:05] wRAR commented on #4976
You cannot put `TWISTED_REACTOR` in the spider custom settings, as the reactor is initialized early.

[2021-11-02 13:20] wRAR commented on #4976
Depends on how you run your spider. It's possible that there is no good solution for `runspider` but I haven't thought about this, and for other ways just use the normal ways of configuring global settings.

[2021-11-02 13:43] LeMoussel commented on #4976
I make  [Scrapy minimal project](https://github.com/scrapy/scrapy/files/7461087/scrapy.zip) with the file structure, similar to this:
[code]
I have no more errors but unfortunately no results. It seems to loop with `IocpProactor` ....
[code]

[2021-11-02 15:02] wRAR commented on #4976
Ah, I see.
Without calling `set_event_loop_policy` I get `TypeError: ProactorEventLoop is not supported, got: <ProactorEventLoop running=False closed=False debug=False>` (which is the "fix" mentioned in the initial comment and included in a Twisted release since then). With calling it I get
[code]

This a different problem. This actually means the workaround discussed here was applied successfully

[2021-11-03 13:06] atreyasha opened #5307 "Duplicates filtering and RAM usage"
## Summary

I am running a broad crawl with an input of ~4 million starting URLs. I followed the suggestions for broad crawls from [here](https://docs.scrapy.org/en/latest/topics/broad-crawls.html) and am using the `JOBDIR` option to persist request queues to disk. I have been running this crawl for ~1.5 months. With time, I have observed the RAM usage of the crawler increase from ~2 GB (1.5 month

[2021-11-03 13:14] Gallaecio commented on #5307
Which does not mean that there is not.

In any case, I think it makes sense to provide an alternative, built-in class that allows saving memory at the cost of disk and, hence, speed.

I must also say, however, that writing a custom duplicate filter that uses a shorter hash could be a better choice in scenarios where memory is an issue but speed is also a concern.

Also, related issue: https://gith

[2021-11-03 20:35] wRAR commented on #5307
Is sqlite even the best choice for an on-disk hash table?

[2021-11-04 03:18] melemo2 commented on #5302
I think it can be solved by just adding a response buffer
Of course, the split size must be smaller than MAX_SIZE

what do you think?

[2021-11-04 06:48] wRAR commented on #5302
Can you describe what do you mean by that?

[2021-11-04 07:19] melemo2 commented on #5302
If you set the memory limit to 5mb, the response must also be less than 5mb.
So one of the solutions is that save the response to a file in units of 5mb and send the response back to the memory.
like a buffer

[2021-11-04 07:29] wRAR commented on #5302
This is not what this setting is about.

[2021-11-04 07:46] melemo2 commented on #5302
ok, thanks for your time

[2021-11-04 08:35] LeMoussel commented on #5307
Perhaps [SSDB](https://ssdb.io/ ) is more appropriate?

[2021-11-04 08:38] wRAR commented on #5307
That seems to be client-server? sqlite is at least in-process.

Though it's always good to provide possibilities to write alternative implementations.

[2021-11-04 09:47] atreyasha commented on #5307
Another possibility is to use a key-value database, with the key being the
fingerprint and the value some metadata such as time of request being
enqueued.

`scrapy-delta` uses this approach with the native `dbm` python library,
which reduces the need for external dependencies:

https://github.com/scrapy-plugins/scrapy-deltafetch/blob/master/scrapy_deltafetch/middleware.py

[2021-11-04 09:50] atreyasha commented on #5307
Another possibility is to use a key-value database, with the key being the fingerprint and the value some metadata such as time of request being enqueued.

`scrapy-deltafetch` uses this approach with the native `dbm` python library, which reduces the need for external dependencies:

https://github.com/scrapy-plugins/scrapy-deltafetch/blob/master/scrapy_deltafetch/middleware.py

[2021-11-04 11:49] LeMoussel commented on #5307
Great idea. In Python 3.x, dbm is a package in the standard library but there is some limitations:

- gdbm and ndbm are not supported on windows.
- A dbm database can only store strings, both as keys and values.

To store arbitrary (pickleable) Python object as value, but can live with strings for keys, see the [shelve ](https://docs.python.org/3.9/library/shelve.html)module.

[2021-11-04 12:25] Gallaecio commented on #5307
We are talking about request fingerprints here, which are are currently strings, and eventually bytes. So anything supporting `bytes` or `str` should work.

[2021-11-04 14:00] #5298 closed, assigned to nobody

[2021-11-04 14:29] wRAR opened #5308 "Improving Windows installation docs"
We currently have [two docs about installing Scrapy on Windows](https://docs.scrapy.org/en/latest/intro/install.html#windows): one recommending conda and also a doc how to install the MSVC compiler if you want to use pip. These seem to be incomplete for several reasons.

1. You may successfully install Scrapy with pip without compiling any modules, thanks to binary builds available on PyPI. But th

[2021-11-04 18:08] atreyasha commented on #5307
Below is a possible implementation using the `dbm` module:

[code]

[2021-11-04 23:26] maxwill-max opened #5309 "timeout is bugged"
timeout is not working properly

[code]
![Capture](https://user-images.githubusercontent.com/74330269/140433761-12a0835f-5be2-4102-a9a9-1565c3571423.PNG)

download timeout is 15 but scrapy successfully scraped responses even with 27 seconds delay. DOWNLOAD_TIMEOUT in settings is to set to 15 too

[2021-11-05 06:03] wRAR commented on #5309
"/delay/{delay} Returns a delayed response (max of 10 seconds)."

You could also check the log timestamps to confirm this.

[2021-11-05 06:03] #5309 closed

[2021-11-05 10:13] wilkice opened #5311 "Error when start Scrapy, but gone later"
### Description

When start crawl by using `Scrapy crawl <spider name>`, some error happens but later it never shows again. From the error message, it seems that `request` object is not exists, so `request.dont_filter` and `request.meta` fails. But the error doesn't appear later.

[code]
### Steps to Reproduce

1. `scrapy crawl <spider name>`

**Expected behavior:**
No errors

**Actual behavior:**

[2021-11-05 10:20] Gallaecio commented on #5311
https://stackoverflow.com/help/minimal-reproducible-example

[2021-11-05 10:21] wilkice commented on #5311
Just now, I find this two line appears  in log after 28 min of start

[code]
Log
[code]

[2021-11-05 11:18] atreyasha commented on #5307
Also, I wanted to benchmark `sqlite` vs. `dbm` for read/write speeds and final database sizes given this task of duplicate filtering. I used this script:

[code]

And indeed, the timings suggest the `dbm` database is significantly faster with similar database size compared to `sqlite`:

[code]

[2021-11-05 11:49] wRAR commented on #5311
That suggests a problem with your code.

[2021-11-05 12:38] elacuesta commented on #5311
Please include code to reproduce the issue, as Adrián [already requested](https://github.com/scrapy/scrapy/issues/5311#issuecomment-961777280).
From a quick look, I believe this looks similar to #5289, i.e. objects not being the expected type (the `AttributeError` message is not exactly the same, though).

[2021-11-05 16:06] wilkice commented on #5311
Thank you for your reply. I checked my code, it was caused by wrongly used `yield` in `start_requests` method. Exactly as #5289. After removed `yield`, it works.

[2021-11-05 16:06] #5311 closed

[2021-11-06 06:50] LeMoussel commented on #5307
For better Sqlite performance, you can set

- `isolation_level = None` as per the [docs](https://docs.python.org/2/library/sqlite3.html#sqlite3-controlling-transactions), this means autocommit mode. `sqlite3.connect(sqlite_path, isolation_level=None)`
- `journal_mode = OFF` The [OFF journaling](https://www.sqlite.org/pragma.html#pragma_journal_mode) mode disables the rollback journal completely.
-

[2021-11-08 16:02] GeorgeA92 commented on #5307
@atreyasha

Based on my debugging, I found the main cause of this increased RAM usage to be the **set of request fingerprints** that are stored in memory and queried during duplicates filtering as per here.

From my point of view core root cause of this issue - dupefilter`s set variable contain fingerprints for **ALL** requests including fingerprints for already finished websites.
For broad crawl

[2021-11-08 20:57] saavedra29 opened #5312 "[persistence problem] When resuming spider only one (the last scheduled) request happens and then exits."
### Description
I have this simple spider
[code]
with these settings
[code]
When i run the spider with the scrapy "crawl" subcommand and then stop it with Ctrl+c and it stops i.e. at "http://httpbin.org/get?arg=14" then when i rerun the spider it does only one (the next) scheduled request and exits. If i run a third time it requests nothing.
### Steps to Reproduce

1. Run `scrapy crawl <spider_nam

[2021-11-08 21:53] epicfaace commented on #5267
Hi @Gallaecio , do you have an expected timeline for when you'll release scrapy 2.6.0? No rush, but it would help us plan. Thanks

[2021-11-09 07:24] wRAR commented on #5312
https://docs.scrapy.org/en/latest/topics/jobs.html#keeping-persistent-state-between-batches

[2021-11-09 07:24] #5312 closed

[2021-11-09 10:09] prateekg opened #5313 "While downloading a file using authenticated middleware, files downloaded across all format seems corrupted."
While downloading the file using an HTTP authenticated custom middleware, I'm able to download the files with proper size but when I try to open the file, windows return "Can't open the file" across all the formats.

Is there any other authentication required while trying to download files from secure websites?

[2021-11-09 10:11] wRAR commented on #5313
This is a Scrapy issue tracker, please check https://scrapy.org/community/ for ways to seek support for your code.

If you think this is actually a bug in Scrapy please prepare https://stackoverflow.com/help/minimal-reproducible-example for it.

[2021-11-09 10:11] #5313 closed, assigned to nobody

[2021-11-10 03:38] msenior85 commented on #3553
Hi @Gallaecio, can I be assigned to work on this issue?

[2021-11-10 11:02] felipe-costa-compado commented on #3587
@nicopsz How are you running scrapy in aws lambda?

[2021-11-11 16:23] elfring opened #5314 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-12 06:20] wRAR commented on #5314
Can you please make a pull request with the changes you propose?

[2021-11-12 09:35] further-reading commented on #4180
Would adding a sftp download handler too be within scope for this issue? We currently support downloads from ftp uris but not sftp. I've had to make a hacky custom handler for it and I'd be happy to improve it and fold it into scrapy core if this seems like a valuable feature.

[2021-11-14 11:27] topguns837 commented on #4991
Thanks for the clarification !

[2021-11-14 22:43] mnannan opened #5317 "Files expiration does not work well for Google Cloud Storage (GCS)"
### Description

File expiration as described [here](https://docs.scrapy.org/en/latest/topics/media-pipeline.html#file-expiration) does not work properly with Google Cloud Storage.
It is supposed to trigger the downloading of files only if they have expired based on `FILES_EXPIRES` but in practice it downloads all the files again and again. Actually it only works if you write at the root of your b

[2021-11-14 23:27] mnannan commented on #5317
Pull request can be found there https://github.com/scrapy/scrapy/pull/5318

[2021-11-15 06:46] Gallaecio commented on #5307
I don’t think doing this is feasible, in account of redirects.

[2021-11-15 06:49] Gallaecio commented on #5267
We don’t have a date, even a date range, but it should be shortly after we merge https://github.com/scrapy/scrapy/pull/4978, so you might want to keep an eye on it.

[2021-11-15 07:01] Gallaecio commented on #3553
@msenior85 No need. Feel free to open a pull request and include `Fixes #3553` in its description so that it shows up in this thread.

[2021-11-15 07:12] Gallaecio commented on #4180
If the concern is paramiko specifically, we could handle this like we do with Amazon Web Services S3 support, making the dependency optional, only needed when wishing to use this feature.

[2021-11-15 08:51] atreyasha commented on #5307
@LeMoussel thanks for the input, I looked further into available options:

##  SQLite

Indeed this is possible and these options are also explored in [`sqlitedict`](https://github.com/RaRe-Technologies/sqlitedict). However, these options could lead to crash-consistency errors and/or data corruption (as per [here](https://www.sqlite.org/pragma.html#pragma_journal_mode)). We would have to calculate

[2021-11-15 09:52] LeMoussel commented on #5307
There are also Python wrappers to [LMDB](https://lmdb.readthedocs.io/en/release/) & [LSM-DB](https://lsm-db.readthedocs.io/en/latest/), which support Windows, though the SQLite4 bindings.
I have not tested it.

[2021-11-15 10:09] zessx opened #5319 "Open in Browser `<base>` replacement will fail if `<head>` has attributes"
### Description

When using `open_in_browser()` feature, Scrapy will try to add a `<base>` tag to ensure remote resources are loaded, and to make external links to work in our local browser. This feature rely on the following code:

https://github.com/scrapy/scrapy/blob/06f3d12c1208c380f9f1a16cb36ba2dfa3c244c5/scrapy/utils/response.py#L81-L84

Some website are using attributes on the `<head>` tag,

[2021-11-15 10:20] Gallaecio commented on #5307
[It also seems dead](https://github.com/jamesls/semidbm/commits/master).

[Seems alive and well](https://github.com/jnwatson/py-lmdb/commits/master).

[2021-11-15 10:24] zessx commented on #5319
Related PR : #5320

[2021-11-15 11:37] LeMoussel commented on #5307
OK. It would then be interesting to benchmark, like [Benchmarking Semidbm](https://semidbm.readthedocs.io/en/latest/benchmarks.html#benchmarking-semidbm), with LMDB.

[2021-11-16 09:20] #5314 closed

[2021-11-17 04:06] jefflester opened #5323 "Warning: Unable to determine whether or not callable is a generator with a return value [unable to parse decorated class methods]"
### Description

If you have a decorated spider method, `scrapy.utils.misc` [throws a warning](https://github.com/scrapy/scrapy/blob/master/scrapy/utils/misc.py#L240-L264) saying that it cannot determine if the callable is a generator with a return value.

`ast.parse()` fails [here](https://github.com/scrapy/scrapy/blob/master/scrapy/utils/misc.py#L228-L230) when called with a decorated method.

#

[2021-11-18 01:09] banagale opened #5324 "Documentation updates in most recent release missing from latest published docs"
### Description

`scrapy/docs/topics/media-pipeline.rst` appears to have changes that are not in the latest release.

It appears that changes going back to 2.4 are not found in the published docs online.

I focused on `media-pipeline.rst`, as I was tracking down some docs I contributed this past summer. But there may be other examples.

### Steps to Reproduce

1. See [this merged change](https://g

[2021-11-18 01:19] osjerick commented on #4117
I was experiencing this issue when I installed `Scrapy` in a `conda` environment. I installed `conda` through [`miniforge`](https://github.com/conda-forge/miniforge), which has experimental support for arm64. However, Scrapy is not available in the main channel provided by the `conda` installation, so I installed it through `pip`. After several tries, I ended using a docker image, which worked (`p

[2021-11-18 08:18] wRAR commented on #5324
2.5.0 was released in April.

[2021-11-18 08:18] #5324 closed

[2021-11-18 15:06] theol-git commented on #747
Hello everyone, after looking into how to implement this into my project, I found a temporary solution.
While it is not perfect, it does get the job done.
I connected to a SOCKS5 proxy using [this library](https://pypi.org/project/PySocks/), and monkey patching the socket library in my run file ( this will make twisted use your custom socket, that will connect to the proxy).

Sadly I dont think it

[2021-11-18 19:28] banagale commented on #5324
@wRAR I see.  2.5.1 is listed as the most recent on the releases page. So point releases not include docs regen?

[2021-11-18 19:42] wRAR commented on #5324
2.5.1 doesn't include that change as you can see in its release notes (or on the commit page).

[2021-11-18 21:06] banagale commented on #5324
I see. I had incorrectly presumed that point releases brought along what was in master up until the release. Thanks for the feedback.

[2021-11-18 21:13] wRAR commented on #5324
(that would defeat the purpose of point releases)

[2021-11-18 23:35] banagale commented on #5324
I suppose that depends on the project, though I definitely get that with scrapy this is not the case.

One thing that might have thrown me is that the docs say in the footer, "Last updated on Oct 06, 2021" even though the update from 2.5.1 has no docs changes.

I realize this is technically correct, since the version number got bumped, but I would normally presume this meant some kind of content c

[2021-11-19 07:03] wRAR commented on #5324
Normal releases bring along what was in master up until the release. Point releases don't.

[2021-11-20 12:10] wRAR commented on #4914
The places where get_testenv() is used:

1. tests/mockserver.py - this is the main use, it's used to run `python3 -m tests.mockserver` via Popen so that the interpreter finds the module.
2. tests/test_crawler.py - used to run scripts from tests/Crawler* via Popen. Not actually needed as far as I can see, except for tests/CrawlerRunner/ip_address.py which imports `tests.mockserver`.
3. tests/test_c

[2021-11-22 13:51] wRAR opened #5327 "Add a CI run on WSL"
If we are going to recommend WSL (and I think we should) it should be useful to run CI tests on it, even though it's almost a normal Ubuntu. There is https://github.com/marketplace/actions/setup-wsl but I couldn't find how to install Python there, as I think the default `setup-python` action will only install a Windows interpreter into the host system and I would like to not install the intepreter

[2021-11-24 02:03] HaujetZhao opened #5330 "CSVFeedSpider has a huge memory usage when dealing with a csv file contains huge amount of urls"
### Description

CSVFeedSpider has a huge memory usage when dealing with a csv file contains huge amount of urls

### Steps to Reproduce

1. Prepare a csv file contains 1000 urls, each row contains one url
2. Use CSVFeedSpider to follow each url in `parse_row`
3. Watch the memory usage, it's normal. Nothing too strange
4. Prepare a csv file contains 200000 urls, each row contains one url
5. Use CS

[2021-11-24 08:45] wRAR commented on #5330
`CSVFeedSpider.parse_rows` is just a callback and there is currently no way to pause request creation from a callback, even more so pause until the queue is empty/not full. When you emit 200000 requests from a callback they are always created immediately, this is not specific to `CSVFeedSpider`.

OTOH requests emitted from `start_requests` (note that you don't need `CSVFeedSpider` when the file is

[2021-11-24 11:17] HaujetZhao commented on #5330
I rewrote it with `Threading.Thread` which can observe the queue and enqueue in a controlled pace.

In the documentation, there is few words about accessing the queue from a Spider or Middleware. I think this can be improved.

[2021-11-24 11:24] wRAR commented on #5330
Indeed, I don't think it was ever recommended to access the queues directly.

[2021-11-25 19:38] jpmckinney commented on #5323
When this features was introduced in #3869, it used `dedent`, which would have avoided this issue. In #4935, this was changed to a simple regex, because apparently some people write code like:

[code]

Anyway, to support both decorators and non-indented heredocs, then the regex needs to be made smarter.

[2021-11-26 02:26] wza123 opened #5331 "BugReport(About robot.txt)"
### Description

The spider will reduse error when you crawl a website without robot.txt but set ROBOTSTXT_OBEY=True

### Steps to Reproduce

1.make a simple spider
2.don't change ROBOTSTXT_OBEY
3.try to crawl a website like konachan.net

**Expected behavior:** returns normal

**Actual behavior:** twisted.web._newclient.ResponseNeverReceived: [<twisted.python.failure.Failure twisted.internet.error

[2021-11-26 06:54] wRAR commented on #5331
https://konachan.net/robots.txt exists. But even for a website without robots.txt you'll just get a 404 line in the logs. Looks like you are IP-banned.

[2021-11-26 06:54] #5331 closed

[2021-11-26 11:29] HaujetZhao commented on #5330
Then I think Scrapy should natively provide a way to controll the speed of generating Requests.So this should be a Feature Request.

In this case, one csv Response returned 200000 urls, when the Requests in the queue are used, it's been a long time, the cookie or headers or proxy may be ununsable.

My suggesting is: when the Spider follow a link:

[code]
do not generate Requests and inqueue at onc

[2021-11-26 11:38] wRAR commented on #5330
This is definitely not something we want to implement, especially by default. It may be possible to make something fitting the Scrapy architecture that addresses your requirements, though I don't see how without spending some time thinking about it.

We had an idea about providing some object that you can await on in your callback or `start_requests` method to know when the queue becomes empty or

[2021-11-26 22:48] alexandresgf opened #5337 "Is it possible to update a dependency?"
## Summary

There is no feature I'm just asking for an dependency update and I wasn't able to find the right template to ask it, so I choose this one. Please, if there is another way to ask just let me know before close this issue. So, I'm trying to use Selenium-Wire with Scrapy inside a Middleware to render JavaScript pages and use proxy in the headless browser. The Selenium-Wire lib makes it eas

[2021-11-26 22:53] #5337 closed

[2021-11-28 16:01] bezkos opened #5338 "Request/Response size per Request/URL"
I know scrapy has total size stats for respones/requests size when a spider finish.
But is it possible to have these stats during execution of a spider per request/url?

[2021-11-29 08:40] wRAR commented on #5338
This is the issue tracker for Scrapy. Please direct your usage questions to e.g. one of the platforms listed at https://scrapy.org/community/

[2021-11-29 08:40] #5338 closed

[2021-11-29 09:32] Assistest opened #5339 "Pictures downloaded through the pipeline will be compressed. Why"
**When I download a picture through the picture pipeline, the picture will be compressed
I checked the document and there seems to be no solution
I can only use other pipes**

[2021-11-29 11:14] bezkos commented on #5338
@wRAR this isn't usage question but a feature addition.
Scrappy DownloaderStats calculate this (reqlen, reslen) but dont add them to stats dict.
To add this feature i subclass DownloaderStats and override process_request and process_response with the addition
self.stats.set_value('downloader/cur_request_bytes', reqlen, spider=spider)
self.stats.set_value('downloader/cur_response_bytes', reslen, sp

[2021-11-29 11:27] wRAR commented on #5338
A stat about a "current" request or a response makes no sense.

[2021-11-29 11:28] wRAR commented on #5339
Compressed in what sense?

[2021-11-29 15:34] wRAR commented on #4485
The scrapy script, for any command including crawl and runspider, and before executing the command, creates a `CrawlerProcess` object. It loads settings from things like the project settings and the command line, but it doesn't load the spider custom_settings as it doesn't even look for the spider at this point. `scrapy crawl` calls `CrawlerProcess.crawl` with a spider name  passed to the command

[2021-11-29 15:41] wRAR commented on #4485
`CrawlerProcess.__init__()` calls `scrapy.utils.ossignal.install_shutdown_handlers()` which calls `reactor._handleSignals()` and so needs an installed reactor at this point. That method is, by the way, not just private but also not documented in the current docs version.

[2021-11-29 20:40] GeorgeA92 commented on #5339
@wRAR , @Assistest. I suppose it's related to https://github.com/scrapy/scrapy/issues/3055

[2021-11-30 00:45] Assistest commented on #5339
@wRAR @GeorgeA92 thank you very much. It seems that someone has asked this question. Now you can close it L

[2021-11-30 06:35] #5339 closed

[2021-11-30 11:00] wRAR commented on #4485
If `install_shutdown_handlers()` is changed so that the reactor is accessed only if it's installed (that will also require other changes to reinstall handlers after Twisted installs them), and move reactor configuration logging from `log_scrapy_info()` to a separate function that is called after the reactor is installed, the next problem is the telnet extension importing `twisted.internet.reactor`

[2021-11-30 12:11] wRAR commented on #4485
Actually, initialization of the telnet extension is late enough and should work fine.

[2021-12-02 13:45] wRAR commented on #4485
Regarding installing signal handlers I've run into an interesting use case: `scrapy shell` creates a `CrawlerProcess` object, runs some of its initialization code and then runs its start() method in a separate thread. Currently this means the signal handlers are installed in the main thread too, and the first thought is that we would want to keep that. But I don't think these handlers actually wor

[2021-12-02 14:32] wRAR commented on #4485
Actually SIGINT is intentionally blocked in scrapy/shell.py :) "disable accidental Ctrl-C key press from shutting down the engine"

Looks like there can be some improvements here.

[2021-12-04 13:32] GeorgeA92 commented on #4485
[Running multiple spiders in the same process](https://docs.scrapy.org/en/2.5/topics/practices.html#running-multiple-spiders-in-the-same-process)

[code]

As far as I know:
Running multiple spiders in the same process also means that multiple spiders will use single instantse of `reactor`(1 reactor - per process).

As result: In case if `CrawlerProcess` will have spiders with different reactor set

[2021-12-04 14:53] wRAR commented on #4485
This a really good point. I don't know.

[2021-12-05 03:56] zb14 opened #5342 "upload scraped files to aws s3 does not work for me"
According to documents

`AWS_ACCESS_KEY_ID='***'
AWS_SECRET_ACCESS_KEY ='**'
AWS_REGION_NAME='ap-northeast-2'
AWS_BUCKET_NAME='testbucket'
FILES_STORE='s3://testbucket/'

ITEM_PIPELINES = {
   'scrapy.pipelines.files.FilesPipeline':1
}
`

items.py
`class AwsS3Item(scrapy.Item):
    file_name=scrapy.Field()
    file_urls=scrapy.Field()
    files=scrapy.Field()`

and it will occur error,when the scr

[2021-12-05 12:24] msenior85 commented on #4951
I had the same problem and i created a custom download middleware as below that deletes the `Accept-Language` header value and the request was successful. I think this header might be causing the issue.

`class CustomDownloadMiddleware(object):
    def process_request(self, request, spider):
        del request.headers['Accept-Language']`

[2021-12-06 05:31] #5342 closed

[2021-12-06 06:51] njmhnb commented on #3121
I have this problem too, when running DockerFile whithout Env SCRAPY_SETTINGS_MODULE project.settings, everything is ok but when adding this line I get ModuleNotFoundError: No module named 'project'.

[2021-12-06 06:55] njmhnb opened #5343 "ModuleNotFoundError: No module named 'project' when setting Env in DockerFile"
Hi everyone
I have a dockerized scrapy project
without using ENV SCRAPY_SETTINGS_MODULE project.settings in DockerFile everything is ok, and project can find default project settings correctly, but when using ENV SCRAPY_SETTINGS_MODULE project.settings I get ModuleNotFoundError: No module named 'project'

[2021-12-06 07:02] njmhnb commented on #5343
without using ENV SCRAPY_SETTINGS_MODULE project.settings in DockerFile everything is ok, and project can find default project settings correctly, but when using ENV SCRAPY_SETTINGS_MODULE project.settings I get ModuleNotFoundError: No module named 'project'

[2021-12-06 08:35] wRAR commented on #5343
This is an issue tracker for Scrapy. To get help with your code please use e.g. resources listed at https://scrapy.org/community/

If you think this is a bug in Scrapy itself please provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2021-12-06 08:35] #5343 closed

[2021-12-07 02:07] hktalent opened #5346 "how to Re-parse all scrapy response.body from local(.scrapy/*/**) cache file"
how to Re-parse all scrapy response.body from cache file

thanks

[2021-12-07 02:11] hktalent commented on #5346
if 'cached' in response.flags:
   do something...

[2021-12-07 03:33] Shuaiwei-dash commented on #3103
you can try to not add `headers` in `yield scrapy.Request()`  params.

[2021-12-07 16:55] AmineAgrane opened #5348 "The method `get` of the SelectorList object returns a string of html content instead of a selector"
### Description

Scrapy version : 2.5.1
Python version : 3.9

Using the get method on a SelectorList does not return the first selector of the list, instead it give a string (html content) that represent the aggregation of all the selector inside the list.

### Steps to Reproduce

[code]
I get the following output :
[code]

### Versions
I tried multiple version of scrapy library (2.4.1 ; 2.5.0; 2.

[2021-12-07 17:13] #5348 closed

[2021-12-07 17:16] AmineAgrane commented on #5348
Changing Python version to 3.8 with scrapy version 2.5.1 solved the problem

[2021-12-08 13:34] wRAR commented on #4485
I think we should only support matching settings and take custom_settings from the first spider, while showing an error if the following spiders have different custom_settings.

[2021-12-09 17:14] milahu commented on #747
where? i always get dns leaks (DNS lookup failed)

[2021-12-10 07:40] yangkaipeng commented on #2513
Modified the code according to your suggestion, but it seems to have no effect

[2021-12-13 09:24] angelbi commented on #3103
solution:
meta = {'proxy': 'http://127.0.0.1:1080'}
yield scrapy.Request(url=urls[0], callback=self.parse, meta=meta)

[2021-12-14 14:16] itzikorfa opened #5350 "ReactorNotRestartable error raised when running scrapy from flask"
Hi,
I tried to use scrapy from a flask project.
when I run the code from the terminal it runs perfectly,
but from the flask, the second request raises ReactorNotRestartable exception.

I use the CrawlerProcess to run start the class.

does anyone stumble upon this issue?

[2021-12-14 17:49] wRAR commented on #5348
This is a libxml2/lxml incompatiblity, see https://github.com/scrapy/parsel/issues/228

[2021-12-14 17:49] wRAR commented on #5350
This is an issue tracker for Scrapy. To get help with your code please use e.g. resources listed at https://scrapy.org/community/

[2021-12-14 17:49] #5350 closed

[2021-12-17 19:57] HansPinckaers commented on #4117
Thanks for the comment @osjerick, that helped me a lot. By the way, you can also use Rosetta 2 using Miniforge, you don't need to install miniconda, see: https://github.com/conda-forge/miniforge/issues/165#issuecomment-860233092 I think that is a bit cleaner.

[2021-12-20 03:24] ngodinhnhien commented on #3852
Is there any update for this?

[2021-12-20 11:25] das-rob3rt commented on #3852
Hmmm, no

[2021-12-21 12:49] #5319 closed

[2021-12-22 20:51] Gallaecio commented on #5330
If the issue is high memory usage when the scheduler has a lot of requests, [`JOBDIR`](https://docs.scrapy.org/en/latest/topics/jobs.html) may be the way to go with the current implementation.

[2021-12-22 22:43] Gallaecio commented on #2513
https://github.com/scrapy/scrapy/issues/2513#issuecomment-279021300

[2021-12-23 04:23] beatslikeahelix commented on #5195
Any updates on this issue? Can we indeed expect 2.6.0 to have a Python 3.9 compatible version?

[2021-12-23 09:19] Gallaecio commented on #5195
Indeed, https://github.com/scrapy/scrapy/pull/5113 has been merged. Closing this now to avoid confusion about that.

[2021-12-23 09:19] #5195 closed

[2021-12-23 21:01] danger89 opened #5353 "Deprecation warning: file_path(self, request, response=None, info=None) is deprecated"
I installed scrapy via pip, but I get a Deprecation warning within your own source-code.

[code]

Consider fixing your code base: https://github.com/scrapy/scrapy/blob/master/scrapy/pipelines/media.py

Regards,
Melroy van den Berg

[2021-12-24 08:06] wRAR commented on #5353
Looks like stacklevel in _check_signature is wrong.

As for the warning itself, all `file_path` signatures are correct in 2.5 and master. If you think this is a problem in Scrapy itself please provide [a minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2021-12-24 18:06] danger89 commented on #5353
I'm just using the built-in Files Download pipeline, that depends on the Media pipeline. Which give this WARNING to the console.

[2021-12-26 19:11] kumaxim commented on #4281
I catch the same issue recently in my fresh Vagrant enviroment.

I have Ubuntu 20.04.3 LTS on host and the same OS in guest. Here is very basic Vagrantfile that allow to reproduce the error:
[code]

As @elacuesta supposed this is Vagrant-specific issue. He was not far from the truth. The problem is the filesystem that Vagrant use for VirtualBox machines by default. This is `vboxsf` and it's very s

[2021-12-27 07:15] wRAR commented on #5353
That's not a minimal reproducible example. You are supposed to provide actual code, not instructions how to create it.

[2021-12-27 14:59] danger89 commented on #5353
No it's not, but I don't have much time to create that. I'm also working on other open-source projects. Since this is "just" a deprecation warning, I just deal with it.

If you want to solve this, you can easily create an empty scrapy just use the built-in `scrapy.pipelines.files` pipeline, to have a reproducible result.

[2021-12-27 15:21] wRAR commented on #5353
I tried this and couldn't reproduce this. This is the reason we ask for reproducible examples.

[2021-12-27 15:21] #5353 closed

[2021-12-29 02:17] JasonnLim commented on #3755
Hi @EuropeanHighYieldOnline did you end up fixing this problem? I am currently facing the same problem as you

[2021-12-31 12:16] Gallaecio commented on #3585
It looks like @asimhashmi may not have the time to continue work on #4363 . Maybe someone else can continue his work?

[2021-12-31 15:06] wRAR opened #5360 "Use coverage data from Windows runs in addition to Ubuntu ones"
We have Windows-specific code and tests for it but we don't use coverage data from them so that code is reported as not covered. It would be good to fix this if possible. See e.g. https://github.com/scrapy/scrapy/pull/5315/files

[2021-12-31 16:20] Gallaecio commented on #4842
I think this request is too broad. How much detail do you want? What for?

I am worried that if we document this in as much detail as https://github.com/scrapy/scrapy/issues/4842#issuecomment-717002848, we are tying ourselves to a specification, which could complicate making changes to this file structure in the future. Documenting the file structure means to me making it part of the API, so any c

[2021-12-31 19:38] #4976 closed

[2022-01-01 18:15] EuropeanHighYieldOnline commented on #3755
Hi - No - unfortunately I did not get it to work. Instead I used the XHR network tab and identified the API calls that were being made and iterated those rather than using link extractors - hope that helps

[2022-01-02 02:50] JasonnLim commented on #3755
Yeap! I also used the same method and it worked

On Sun, 2 Jan 2022, 2:15 am EuropeanHighYieldOnline, <
***@***.***> wrote:

[2022-01-03 09:05] Assistest opened #5361 "Ja3 algorithm"
+ When I visited a website, it recognized me as a crawler
+ It is based on the ja3 algorithm. [ja3](https://ja3er.com/json)
+ Because scrapy has a fixed hash value every time it visits
+ Is there a way to modify ssl like requests?
---
+ Like this

[code]

[2022-01-04 01:28] Assistest commented on #5361
抱歉，我想[这个](https://docs.scrapy.org/en/latest/topics/settings.html#downloader-client-tls-method)可以解决我的问题

[2022-01-04 01:28] Assistest commented on #5361
抱歉，我想[这个](https://docs.scrapy.org/en/latest/topics/settings.html#downloader-client-tls-method)可以解决我的问题

[2022-01-04 01:28] #5361 closed

[2022-01-04 07:57] opqpop opened #5362 "CrawlerProcess constructor gives SIGSEGV (Address boundary error)"
### Description

This used to work, I don't think I've made any major changes that started causing this new error.

Repro:

[code]

Running the constructor process = CrawlerProcess(proj_settings) gives me

`'python3 $argv' terminated by signal SIGSEGV (Address boundary error)`

I'm on mac mini with M1 chip, and it used to work fine on this machine like 1 month ago.

Details:
- Python crash log wit

[2022-01-04 15:12] wRAR commented on #5362
Scrapy is a pure-Python module and it doesn't even use ctypes/ffi, so this crash is because of code in a different module. Looks like you'll need to minimize your reproduction scenario and find the real reason.

[2022-01-04 15:12] #5362 closed

[2022-01-04 19:20] LuckyPigeon commented on #1139
@momosc
我有使用 scrapy_redis，但我可以進 scrapy shell，想知道如何重現這個錯誤，也許我能改進。

[2022-01-05 19:13] lime-n opened #5363 "Why do I have to use Cookies in Request?"
I had a problem earlier when trying to scrape a site. I thought there was an issue with requests elsewhere but It turned out that I had to include the cookies from the headers as an argument in `scrapy.FormRequest()`. What is the reasoning behind this? Because, when using `request.post()` I can get a response 200 by just using the payload and headers. Why does scrapy differ to this for this situat

[2022-01-06 06:31] #4485 closed

[2022-01-06 07:28] SiddharthaAnand commented on #5363
Websites are designed to be user-friendly and not crawler-friendly. There can be a whole new lecture on why cookies are required but in short:
All of the internet works on something called HTTP Protocol. This protocol is designed to be stateless which means the server will treat every incoming request as a new request. By design, it does not remember who you are. In order to make complex applicati

[2022-01-06 08:16] Gallaecio commented on #5363
This sounds like something to look at, but you would have to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), written both with Scrapy and requests (but the same example in terms of input and expected output) to allow us to have a proper look.

However, mind that I find it hard to believe Scrapy is at fault here. While working on providing thos

[2022-01-06 09:58] lime-n commented on #5363
I hope the first script I provided proves as 'minimal response', the bulk of the code is really just the headers and payload. Besides that, the rest is simple as I'm only sending a request and checking if I get a response. It should work as is - the issue I get is a response 400 which I wouldn't be able to figure out. Though it looks like a scrapy issue - can you check?

[2022-01-06 10:02] Gallaecio commented on #5363
Your example cannot count as minimal. For one, it uses Splash.

Please, provide an example with only the minimum code needed to reproduce the issue. For the sake of the project, it is better for reporters to spend time on that, so that maintainers can focus their time on solving issues, not on trying to reproduce them.

[2022-01-06 10:36] lime-n commented on #5363
Here's the bare minimum:

[code]

Output:

Here's the cookies to check that it works after:
[code]

The first script is pretty much the same as the `requests` so this should work as 'bare-minimum', as it's only the import of scrapy, the headers, payload and `start_requests`. I hope this serves you well!

[2022-01-06 10:41] Gallaecio commented on #5363
I have just realized that you are sending the cookies in the headers in requests.

So the problem is that in Scrapy the cookies do not work if you set them through the headers parameter, but do work if set through the cookies parameter?

[2022-01-06 10:44] lime-n commented on #5363
Yes, that's the issue I was facing. I couldn't understand why requests accepts the cookies in the headers but scrapy does not.

[2022-01-06 10:47] JamieSlome opened #5364 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@ranjit-git) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pract

[2022-01-06 14:02] elacuesta commented on #5364
Thanks for the suggestion, we'll discuss it and get back to you.
For the time being, it might be a little bit hidden but we have [this section in the docs](https://docs.scrapy.org/en/latest/contributing.html#reporting-bugs). In short, you can send a message to scrapy-security@googlegroups.com. Thanks!

[2022-01-07 04:45] slix commented on #4041
I ran MonkeyType through the unit tests across the scrapy codebase and saved the changes of all `.py` files.

https://github.com/slix/scrapy/commit/2f22b841f874e948fa80c3dd81166eb0f5f74485 <--

The result is a decent starting point for typing Scrapy. Contributors wouldn't have to run monkeytype and collect types from unit tests themselves.

MonkeyType's output is too messy to commit directly. So e

[2022-01-07 11:14] Gallaecio commented on #4041
Yes.

No, but they are indeed on the low end of type-hinting priorities.

[2022-01-07 14:14] JamieSlome commented on #5364
Just in the meantime, you can view the report directly here:

https://huntr.dev/bounties/3da527b1-2348-4f69-9e88-2e11a96ac585/

It is private and only accessible to maintainers with repository write access.

[2022-01-08 23:06] FinnWoelm commented on #3412
If anyone else stumbles upon this issue, here is a simple solution for allowing root domain only:

[code]

and in your Scrapy `settings.py`:

[code]

If you want  the middleware to allow root domain and www subdomain only (as I needed), then you can use this line in your middleware instead:

[code]

[2022-01-09 18:08] SashiDareddy commented on #5168
@Gallaecio I noticed that #5168 has been merged into master - but I was wondering when this feature will be available in the Scrapy Python package (I'm using the latest version 2.5.1)

[2022-01-14 08:03] BurnzZ opened #5366 "Move from optparse to argparse"
The [optparse](https://docs.python.org/3/library/optparse.html) module has been deprecated since `3.2` in lieu of [argparse](https://docs.python.org/3/library/argparse.html).

At the time of this writing, we only have 3 modules that use it directly:

- https://github.com/scrapy/scrapy/blob/master/scrapy/cmdline.py
- https://github.com/scrapy/scrapy/blob/master/scrapy/commands/__init__.py
- https:/

[2022-01-14 17:21] Gallaecio commented on #5168
We are aiming to merge https://github.com/scrapy/scrapy/pull/4978 before we release 2.6.

[2022-01-14 19:02] kawishqayyum commented on #5366
Can I work on this, please?

[2022-01-14 19:37] elacuesta commented on #5363
Closing as duplicate of #1992. Long story short, we fixed it on #2400 but that introduced another bug (#4717), so we reverted it. And by "we" I mean myself, I'm the one to blame :sweat_smile:
We do mention it in the docs, though:
![Screenshot at 2022-01-14 16-35-33](https://user-images.githubusercontent.com/1731933/149574895-9c52e68f-0d64-4aa3-a1d8-800b852f19a8.png)

[2022-01-14 19:37] #5363 closed

[2022-01-15 08:02] LusiferAjay commented on #5366
Hi @Gallaecio I am new in the open source world
can I work on this? if this is not available let me know if anything else is there from which I can start my Journey

[2022-01-15 11:40] wRAR commented on #5366
@kawishqayyum @LusiferAjay you don't need a permission to work on any issue

[2022-01-20 21:20] TZubiri opened #5367 "Can't download most URLs, including google.com"
### Description
Example code from tutorial (https://docs.scrapy.org/en/latest/intro/overview.html) can't download non-example URLS.

One example of a URL it fails to download is https://google.com

### Steps to Reproduce

1. Download example code from tutorial.
2. Remove the parse function.
3. Run and verify that the page was downloaded correctly.
4. Change the url to another server like google.
5

[2022-01-21 05:54] Jerry-Mah commented on #5366
Hello, I would like to work on this issue. How should I go about solving this issue?

[2022-01-21 07:08] wRAR commented on #5367
I can't reproduce this, of course.

[2022-01-21 08:16] wRAR opened #5368 "Deprecate scrapy.pipelines.images.NoimagesDrop"
As noticed in #4910, `scrapy.pipelines.images.NoimagesDrop` is not used in the Scrapy code so we should deprecate (and later remove) it.

[2022-01-21 08:21] wRAR opened #5369 "Remove the pywin32 docs section"
As noticed in #4492, the FAq question at https://docs.scrapy.org/en/latest/faq.html#scrapy-crashes-with-importerror-no-module-named-win32api is no longer useful as the Twisted bug was fixed long time ago. We should remove this question.

[2022-01-21 08:26] NaincyKumariKnoldus commented on #5369
Hey @wRAR Can I do this please?

[2022-01-21 08:34] wRAR commented on #5369
@NaincyKumariKnoldus you don't need a permission to work on issues.

[2022-01-21 08:37] NaincyKumariKnoldus commented on #5369
ok @wRAR Today I will do this! Thanks

[2022-01-21 08:45] wRAR commented on #3264
The original PR, #3265, looks correct to me, someone just needs to create a new one, import the commit from that one and publish it.

[2022-01-21 10:42] wRAR commented on #2083
boto2 code was removed in #4776.

[2022-01-21 10:42] #2083 closed

[2022-01-21 14:45] NaincyKumariKnoldus commented on #5369
Hey @wRAR I have raised my PR. Please Review my PR!
Thanks!

[2022-01-21 17:12] TZubiri commented on #5367
Probably a pyOpenSSL error, as it was shared by 'requests'. Fixed by switching to a 3.6 installation.

[2022-01-21 17:12] #5367 closed

[2022-01-21 20:26] GhostViz commented on #5369
Resolved by #5370

[2022-01-21 23:29] opqpop commented on #5362
I found the reason

it happens if you do this in your spider

[code]

[2022-01-24 18:16] lime-n opened #5377 "How to nest loaders"
How do I nest loaders into each parse function so that it returns everything from each method in a unique format? When I try to run the following, I get consistent duplicates. I thought the loader would retain the values from the xpath until the next parse method, and then return everything into the output processor but it seems to only grab the first item and create duplicates for the rest.

Here

[2022-01-24 22:06] alexandresgf opened #5378 "Parse methods are not beign triggered"
### Description

The parse or any other method that is used to parse the HTML step-by-step are not beign triggered after the Request and there is no error in the logs.

### Steps to Reproduce

1. Assign the list of URLs to the `start_urls` class attribute
2. Schedule the spider in Scrapyd
3. The spider finishes before trigger the `parse` method

**Expected behavior:** Expect that all chainned pars

[2022-01-24 23:39] alexpdev commented on #5366
I submitted #5374 which addresses this Issue.

[2022-01-25 06:13] wRAR commented on #5377
This is the Scrapy issue tracker, to get help with your code use e.g. one of the platforms listed at https://scrapy.org/community/

[2022-01-25 06:13] #5377 closed

[2022-01-25 06:14] wRAR commented on #5378
This is the Scrapy issue tracker, to get help with your code use e.g. one of the platforms listed at https://scrapy.org/community/

[2022-01-25 06:14] #5378 closed

[2022-01-25 16:28] megalancast commented on #4951
I am experiencing the same issue and I think this has something to do with TLS fingerprint detection... https://pixeljets.com/blog/scrape-ninja-bypassing-cloudflare-403-code-1020-errors/ passing reqs through this solution helped me for some websites (not fixing the issue for all of them though)

[2022-01-26 02:47] bryangators commented on #5366
Hello, I plan to work on this issue. I see a pr is pending but I would like to take a shot at it as well. I am participating in this for a course. Thanks.

[2022-01-26 07:06] vryazanov opened #5379 "Proxy + invalid domain makes Downloader stuck"
### Description

Downloader gets stuck when trying to download a url having not valid domain. It works good, but without proxy.

### Steps to Reproduce

1. Set proxy
2. Try to crawl any invalid domain, for example https://text_example.scrapy.com

**Expected behavior:** a request leaves downloader
**Actual behavior:** a request do not leave download and it gets stuck
**Reproduces how often:** 100%

[2022-01-28 07:15] b5y opened #5380 "botocore version in the documentation is wrong"
## Summary

Please fix this documentation with [wrong botocore](https://docs.scrapy.org/en/latest/topics/feed-exports.html#topics-feed-storage-s3) version. The latest version of botocore is [1.23.45](https://github.com/boto/botocore/tags).

## Motivation

In order to follow tutorials properly.

## Describe alternatives you've considered

Version 1.23.45 should be put to the documentation.

## Addi

[2022-01-28 07:20] wRAR commented on #5380
Can you please explain which statement in the linked doc is wrong?

Is this related or a separate problem

[2022-01-28 07:31] b5y commented on #5380
This part: `Required external libraries: botocore >= 1.4.87`.

I will open bug report soon related to this problem, but I suppose it's somehow related to this report.

[2022-01-28 07:35] wRAR commented on #5380
How is it wrong?

[2022-01-28 08:41] b5y commented on #5380
Okay, now I got it, You just put higher value to avoid frequent changes in the documentation.

[2022-01-28 08:41] #5380 closed

[2022-01-28 08:50] wRAR commented on #5380
It's not about "frequent changes in the documentation", but whatever.

[2022-01-28 12:18] Gallaecio commented on #2448
https://github.com/scrapy/scrapy/pull/2841#issuecomment-1024160940

[2022-01-28 12:18] #2448 closed

[2022-01-28 13:39] #4964 closed

[2022-01-28 14:10] woho opened #5381 "Possible import name clash between project directory and installed *.py executables"
Python's import system has one weird aspect that make it vulnerable to import name clashes between modules in the working directory and in the directory of the main entry point. This affects Scrapy's import mechanism.

Minimal example:
[code]
... fails with: `ModuleNotFoundError: No module named 'myproject.settings'; 'myproject' is not a package`

## Possible solution

Just remove the problematic

[2022-01-28 17:30] #4962 closed

[2022-01-28 17:42] wRAR commented on #5381
Are you proposing some changes to Scrapy?

[2022-01-28 17:49] bryangators commented on #5366
How do I build the scrapy repo locally with the source code. I tried installing locally with 'pip install -e scrapy/' but it does not run. I am able to get it to run when downloading from pip. I guess my question is how do I get a local build where I can modify and view changes from my local repo?

[2022-01-28 17:53] wRAR commented on #5366
`pip install -e scrapy` in a venv should work.

[2022-01-28 17:58] bryangators commented on #5366
I must of had a bad setup in virtualenv. I switched to conda and it works now. Thanks!

[2022-01-28 19:22] woho commented on #5381
Yes, my suggestion is to modify `sys.path` in the Scrapy executable as described above. At least this is the simplest solution that comes to my mind. I suggest the removal of the problematic path since I don't think it is needed, but an alternative option would be to move it from the beginning to the end of the `sys.path` list to change the priority of lookup.

I think that such unexpected interfe

[2022-01-28 19:56] wRAR commented on #5381
Sorry, do you see some Scrapy-specific problem here as opposed to a general Python problem?

[2022-01-28 21:38] Gallaecio commented on #5381
@woho While I get your point, I don’t think having Scrapy alter sys.path is the way forward. I don’t really see a way forward. We could have the scrapy subcommands that generate files warn in case of conflicts, but I am not sure how helpful that would really be, and it definitely does not account for files created manually.

[2022-01-28 23:18] bryangators commented on #5366
I created a pull request [#5382](https://github.com/scrapy/scrapy/pull/5382) to solve this. It is very similar to [#5374](https://github.com/scrapy/scrapy/pull/5374) above but this commit solves the issue in scrapy/commands/view.py where "--header" option is to be removed. Still need an admin to approve workflows for codecov to run coverage tests. This is my first commit to open source and look fo

[2022-01-29 23:46] ryanshrott commented on #4951
@msenior85 @megalancast  I'm still getting the issue. Any long term solutions?

[2022-01-30 00:19] ryanshrott commented on #4951
@Gallaecio I have an example of the issue here:
https://github.com/ryanshrott/scraping/tree/master/demo_airbnb

This works perfect:
https://github.com/ryanshrott/scraping/blob/master/demo_airbnb/realtorapi.py

But this throws a 403. My goal is to replicate the above in scrapy.
https://github.com/ryanshrott/scraping/blob/master/demo_airbnb/demo_airbnb/spiders/realtor.py

[2022-01-30 11:41] waveFrontSet opened #5383 "Type error when we try to retrieve the `FEEDS` setting via CLI and it has a `Path` objects as a key"
### Description

When a `Path` object is used as a key in the `FEEDS` dictionary and we try to obtain the `FEEDS` setting via CLI `scrapy settings --get FEEDS`, a type error is raised:

[code]

A complete stack trace is attached below under "Actual behavior".

`Path` objects as keys are allowed as documented in [the FEEDS section of the Feed exports chapter](https://docs.scrapy.org/en/master/topic

[2022-01-30 13:26] wRAR commented on #5383
(I didn't even know we have a `settings` command)

[2022-01-31 09:21] wRAR commented on #5383
So it simply takes all settings and if a setting value is a dict serializes it into JSON, which can't always work as not all Python dicts are JSON-serializable (not only because of the key type reqs). As the command just prints the values it should be fine if the representation is not 100% true, but I'm not sure how to handle serialization problems without explicit handling of special cases, maybe

[2022-02-01 10:50] woho commented on #5381
I definitively see it as a bug in Scrapy when a specific name of the project folder can result in a crash. This is currently blocking us from updating packages in our large project. And I don't see an argument against modifying `sys.path` in general ­- it is the common method to adjust imports paths.

[2022-02-01 10:54] wRAR commented on #5381
Can you please explain how is it a bug in Scrapy specifically and not just a common Python problem with having modules with the same name in different sys.path components?

Sure, it's a common part of solutions to path-specific problems, but there is no single thing you can or should do to prevent conflicts. What you are proposing can only solve some specific problems you have and not the general

[2022-02-01 12:56] lime-n opened #5385 "Can parse json with bs4 on requests but not with scrapy"
I'm trying to parse some json data scraped from a website with beautifulsoup however, I wish to do this with scrapy. The problem is that It seems to work effectively when parsing the json with beautifulsoup from `requests` response as opposed to a `scrapy` response.

For example, with requests I would do this:
[code]
which would print out results:
[code]
However when I run this by on scrapy, It wo

[2022-02-01 13:13] wRAR commented on #5385
This is a problem with your code, not with Scrapy.

[2022-02-01 13:13] #5385 closed

[2022-02-01 13:20] lime-n commented on #5385
That is what I thought at first but I also used `response.text` from scrapy and followed the same procedure as that on `requests`. For some reason scrapy won't read the data as bs4 - when I try this method I find that in the output part of the data is read by `bs4` and then it stops and creates an error. Might be worth looking into.

[2022-02-01 13:27] lime-n commented on #5385
For example:
[code]
I get the same error as above. This is exactly the same as the `requests` code. So its obviously on `scrapy's` side that it cannot handle the same method as `requests`.

[2022-02-01 13:28] wRAR commented on #5385
The error you shown is very clear and is not Scrapy-related but is caused by an error in your code. If, on the other hand, you have a report about some problem in Scrapy itself you need to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2022-02-01 13:29] wRAR commented on #5385
No, it's not "exactly the same as the requests code" and is not "obviously on scrapy's side". You are trying to put a `BeautifulSoup` object into your JSON output file.

[2022-02-01 13:33] lime-n commented on #5385
So then why can `requests` handle the same logic? It creates a `POST` request as I do with `scrapy`, and I use `json.loads(response.text)``` to get the json data. I have checked with requests and the output matches the same. The only difference is that `BeautifulSoup` won't read the `json` given by `crapy` but will for `requests`. Mind you, all it does with requests is just convert the entire thin

[2022-02-01 13:37] wRAR commented on #5385
Please use https://stackoverflow.com/ or similar to get help with problems in your code.

[2022-02-01 16:09] TobiMayr opened #5386 "Support TLS1.2 for SMPT Auth"
## Summary

The [Mail settings](https://docs.scrapy.org/en/latest/topics/email.html#topics-email-settings) don't have an option to choose a TLS version. Only to enforce upgrading connections to use SSL/TLS.
Mail servers like smtp.office365.com dropped support for TLS1.0 and TLS1.1 and now require TLS1.2: https://techcommunity.microsoft.com/t5/exchange-team-blog/new-opt-in-endpoint-available-for-sm

[2022-02-01 17:34] elacuesta commented on #5385
The title is not representative of the issue. You are indeed parsing the JSON response in the Scrapy snippets, either with `container = json.loads(response.text)` or with `container = response.json()`.

The problem comes when you try to serialize the scraped item into JSON(lines). For this, Scrapy uses [`scrapy.exporters.JsonLinesItemExporter`](https://github.com/scrapy/scrapy/blob/2.5.1/scrapy/ex

[2022-02-01 18:48] TobiMayr commented on #5386
It depends on the version of scrapy and which library version it uses for OpenSSL?
I use scrapy 2.0.1.
Scrapy prints the following when starting a job:
`[scrapy.utils.log] Versions: lxml 4.5.0.0, libxml2 2.9.10, cssselect 1.1.0, parsel 1.5.2, w3lib 1.21.0, Twisted 19.10.0, Python 3.8.2 (default, Feb 26 2020, 15:09:34) - [GCC 8.3.0], pyOpenSSL 19.1.0 (OpenSSL 1.1.1d 10 Sep 2019), cryptography 2.8,

[2022-02-01 19:20] wRAR commented on #5386
I suggest trying newer pyOpenSSL/cryptography/Twisted versions first.

[2022-02-02 16:18] honzajavorek opened #5387 "Support date in feeds storage uri params"
## Summary

I'd like to store feeds per day. There's only `time`, but that's not suitable for my use case. If the storage URI parameters supported formatting by `.format()`, perhaps I could use something along the lines of `{time!%Y}`, but that's not supported either. The only way to put day into the URI seems to be to hardcode it like this:

[code]

## Motivation

I run scrapers once per day and

[2022-02-02 16:20] honzajavorek commented on #5387
I just realized I could have a spider base class with a parameter `today`, which would be populated in something like `from_crawler()`, but that seems to be very convoluted.

[2022-02-02 16:37] elacuesta commented on #5387
Please see [`FEED_URI_PARAMS`](https://docs.scrapy.org/en/2.5/topics/feed-exports.html#feed-uri-params). Be advised of #4962, which was fixed by #4966 but not yet released.

[2022-02-02 16:37] #5387 closed

[2022-02-03 07:44] #4509 closed

[2022-02-03 09:32] honzajavorek commented on #5387
Oh I missed that one. Thank you! ❤️

[2022-02-03 12:57] ilias-ant commented on #3306
hello @Gallaecio!

Based on a production usage of the `checksum` field (as calculated in `ImagesPipeline`), i have also experienced the need of a configurable checksum algorithm.

I am interested to work on this issue if said feature is aligned with your roadmap. Do you have in mind a high-level specification or design comment on this?

[2022-02-03 19:22] TobiMayr commented on #5386
I upgraded the versions to the newest:
`cryptography==36.0.1
pyOpenSSL==22.0.0
twisted==21.7.0`

Now I get a new error:
`502 Server does not support secure communication via TLS / SSL`

So it definitely looks like the issue is my mail server now. I will close this feature request.
Thank you for your quick help

[2022-02-04 08:57] #5383 closed

[2022-02-04 09:03] Gallaecio commented on #3306
I have not looked into it in detail. I would think a new setting to choose the algorithm, either as a string (so that it can be set even from the command-line) or as a function (so it can be any arbitrary checksum code), would be optimal. But if you have anything better in mind, feel free to propose it.

[2022-02-04 10:25] Gallaecio opened #5388 "CI fails on Python 3.8 during dependency installation"
@elacuesta [has already looked into it in some detail](https://github.com/scrapy/scrapy/pull/5374#issuecomment-1028123418).

The issue is now happening in the main branch, after merging some new changes.

[2022-02-04 11:27] #5388 closed

[2022-02-04 11:47] woho opened #5390 "-a settings can crash Scrapy"
### Problem

The Scrapy command-line tool lets you directly modify internal variables using the `-a` arguments, without validation or parsing steps. Invalid user input can crash the program:

`scrapy crawl <spider> -a start_requests=bla`

I have to say it explicitly that it is bad design when invalid user input crashes a program. Also the way the `-a` option are implemented contradicts the recomme

[2022-02-04 12:05] wRAR commented on #5390
I'm afraid this is an overreaction, envvars or no. If you want to prevent users of your spider from overwriting spider attributes, override `__init__` and don't call `self.__dict__.update(kwargs)`.

Sounds like your problem is caused by separating the spider developer and the spider user. There are many ways to break the spider, e.g. by providing bad setting values. If you indeed have a valid use

[2022-02-04 12:05] #5390 closed

[2022-02-04 19:08] TobiMayr commented on #5386
Hi @wRAR I might still need your help.

The smtp server supports TLS1.2. I also tested this by creating a script with `smtplib`.
This script successfully sends my email using TLS1.2:

[code]

I can't seem to get it to work with `scrapy`. I created a new scrapy project with a newer version(`2.5.1`) as well.
These are all my versions:
`[scrapy.utils.log] INFO: Versions: lxml 4.7.1.0, libxml2 2.9.12,