[2019-03-06 08:21] Gallaecio commented on #3657
Please, ask your question [through StackOverflow](https://stackoverflow.com/questions/tagged/scrapy).

[2019-03-06 08:21] Gallaecio commented on #3659
Please, ask your question [through StackOverflow](https://stackoverflow.com/questions/tagged/scrapy).

[2019-03-06 08:58] anubhavp28 opened #3661 "Docs contains a link to a non-existent page."
https://docs.scrapy.org/en/latest/topics/architecture.html has a link to blog post "Twisted - hello, asynchronous programming" ( http://jessenoller.com/2009/02/11/twisted-hello-asynchronous-programming/ ) which has been moved or taken offline by the author.

[2019-03-06 09:01] anubhavp28 commented on #3661
Hey @Gallaecio, I found the page preserved at Internet Archieve ( https://web.archive.org/web/20180818150733/http://jessenoller.com/2009/02/11/twisted-hello-asynchronous-programming/ ). I am wondering, whether to remove the link or link it to this archived copy?

[2019-03-06 17:25] arvand commented on #3443
Hi, I really love this project. I have worked with Selenium for multiple projects and have some ideas for improvement. Where should I start to get familiarized with the project? Is there any issue/documentation I can start working on?

[2019-03-06 17:27] arvand commented on #3656
Is there a channel so we can talk about the issues and ideas or should we just comment here?

[2019-03-06 18:18] Gallaecio commented on #3661
The new URL should be http://jessenoller.com/blog/2009/02/11/twisted-hello-asynchronous-programming

[2019-03-07 08:31] whalebot-helmsman commented on #3656
I think it is great, because everyone can participate and didn't ask same questions twice.

[2019-03-07 15:07] ejulio opened #3663 "Make it possible to update settings in `__init__` or `from_crawler`"
This issue might be related to https://github.com/scrapy/scrapy/issues/1305

I noticed that `settings` are frozen in https://github.com/scrapy/scrapy/blob/master/scrapy/crawler.py#L57
However, in a given project I had a requirement to change some settings based on some spider arguments. An alternative would be to write this spider as a base class and extend it from specific spiders setting the pro

[2019-03-08 07:58] anubhavp28 opened #3664 "Move API docs to source code"
I have noticed that few classes ( such as `Spider` class in https://github.com/scrapy/scrapy/blob/master/scrapy/spiders/__init__.py ) lacks docstring inside the source code. Instead, the documentation is provided in the project documentation files. If the developers and maintainers permit, I would like to work on moving the api docs to the source code. I will use `autodoc` to link it inside the pr

[2019-03-08 08:58] Gallaecio commented on #3664
Thanks. However, it has been already reported (#713) and there is already a pull request in that direction (#3612).

[2019-03-08 09:15] anubhavp28 commented on #3656
Hi @whalebot-helmsman, I would love to work on Scrapy under GSoC this year. I have made a couple of pull requests. I am looking to contribute more to Scrapy before I start working on a proposal. Can you suggest me some issues or enhancements that you would like to see getting fixed/implemented?

Also, can you suggest me few fully compliant robots.txt parsers to look at.

[2019-03-08 11:11] Gallaecio commented on #1347
@SiddharthaAnand Have you changed your might?

[2019-03-08 11:17] tyerq opened #3665 "Allow specifying CrawlerProcess class for custom ScrapyCommands"
Currently there is no proper way of defining the `ScrapyCommand`'s `crawler_process` attribute as a custom subclass of CrawlerProcess, since it's hardcoded in `scrapy.cmdline:execute`

I need to add custom deferreds during start and stop of the crawler process, that need to be waited for before start of any crawler and stop of the process.
Using reactor system event triggers isn't an option becaus

[2019-03-08 12:18] starrify opened #3666 "Request priority not guaranteed with the default scheduler configurations due to different queues (memory/disk) used."
**Description**

Request priority not guaranteed with the default scheduler configurations due to different queues (memory/disk) used.

**Reproduction of the issue**

[code]

Scrapy version involved: c72ab1d (the current HEAD).

**Expected behavior**

The request with higher priority shall have come out first.

**Cause of the issue**

The scheduler maintains two queues (memory / disk) and the memo

[2019-03-08 12:59] Gallaecio commented on #1024
@hitalex Have you checked if the stats collector at `crawler.stats` is an instance of your class. Because, if so, a lack of documentation of ExtensionManager is not the issue here.

[2019-03-08 13:12] Gallaecio commented on #3055
I believe the documentation is OK.

It says `JPEG/RGB`. The `RGB` part must be the culprit of the quality change @NewUserHa is experiencing.

I’ve checked the code and `JPEG/RGB` images are not converted.

@NewUserHa If you believe they are, please share an example image that gets converted and should not. Otherwise, I believe we should close this issue.

[2019-03-08 14:17] Gallaecio commented on #2727
Can we close this issue in favor of #713?

[2019-03-08 15:09] Gallaecio commented on #666
@cathalgarvey A year has passed. Time to close?

[2019-03-08 16:57] vondersam opened #3674 "Closing quote missing in example in Using your browser’s Developer Tools for scraping"
The last spider on this page is missing a closing quote in the following line:
`start_urls = ['http://quotes.toscrape.com/api/quotes?page=1]`
https://docs.scrapy.org/en/latest/topics/developer-tools.html#topics-developer-tools

[2019-03-08 18:35] whalebot-helmsman commented on #3656
@anubhavp28 current redirect middleware https://github.com/scrapy/scrapy/blob/master/scrapy/downloadermiddlewares/redirect.py does not preserve redirect path. Sometimes there are several redirects for a single source URL. It will be great to preserve redirect history somewhere in `meta` of request.
The most compliant robots.txt parser, known for me, is https://github.com/seomoz/reppy .

[2019-03-08 19:21] anubhavp28 commented on #3656
@whalebot-helmsman I guess, it has already been implemented.
https://github.com/scrapy/scrapy/blob/c72ab1d4ba5dad3c68b12c473fa55b7f1f144834/scrapy/downloadermiddlewares/redirect.py#L35

[2019-03-08 19:38] arvand commented on #3656
@whalebot-helmsman I wanted to work on an issue from next week too. Can I suggest any bug/feature so I can begin working on? Tnx

[2019-03-08 22:44] f0t0n commented on #3665
As to me, the `execute()` function is just a helper function that does some useful work for you and crawler process constructor really doesn't need a key "CRAWLER_PROCESS_CLASS" in the settings it consumes. But the `execute()` function does.

[2019-03-08 23:20] silviaclaire commented on #3069
Pull request #3668 needs to be merged. Docstrings still talks about the unexisting signal.

[2019-03-09 09:10] Gallaecio commented on #2808
This is a Twisted issue: https://twistedmatrix.com/trac/ticket/9457#9457

More background in https://twistedmatrix.com/trac/ticket/9457

I wonder whether we should wait for Twisted to solve the issue, add a workaround on our end (#3677) or document the issue on the installation instructions.

[2019-03-09 12:26] silviaclaire commented on #2808
@Gallaecio reminds me that it should be Twisted who is responsible to fix this since it is kind of stupid to track a dependence's dependence here.

But there has been no fix from Twisted for 10 months - and from the ticket they seems prefer user using pip 10.0+ (No instructions found from their documents however)

So I think the problem is which one to be added to Scrapy’s installation instruction

[2019-03-10 10:43] GeorgeA92 commented on #3663
usage of `-s` argument with list based `FEED_EXPORT_FIELDS` setting:
`scrapy crawl quotes -s FEED_EXPORT_FIELDS=author,quote -o data_without_tags.csv`

Option is to set list setting like `FEED_EXPORT_FIELDS `inside command is actual for all settings where BaseSettings.getlist method is used to read settings.: https://github.com/scrapy/scrapy/blob/b8594353d03be5574f51766c35566b713584302b/scrapy/set

[2019-03-10 20:52] GeorgeA92 commented on #3613
In order to set priority in CrawlSpider you need to make following:

1. Add request_priority to `Rule `class.
2. Override [`CrawlSpider._build_request`](https://github.com/scrapy/scrapy/blob/master/scrapy/spiders/crawl.py#L51-L54) method in order to process request priority data from our new `PriorityRule`.
[code]

[2019-03-11 12:24] whalebot-helmsman commented on #3656
https://github.com/scrapy/scrapy/labels/help%20wanted and https://github.com/scrapy/scrapy/labels/good%20first%20issue are good tags to find first project to work on

[2019-03-11 14:26] ejulio commented on #3663
@GeorgeA92 , thanks for your reply.
I agree that it is possible to use `-s`, but my main concern is that I'm writing a configuration of the fields _outside the spider_. By writing this setting in the code, it is side-by-side with my items, so less prone to errors. Also, when use `-s`, every time I start a job, I need to write the fields, so it could cause errors just because of writing the wrong f

[2019-03-11 15:48] NewUserHa commented on #3055
Did you try yourself?
`Image.open('a.jpg').save('b.jpg', 'JPEG')`
I just pick a jpg randomly and run it with the above code, and it was re-encoded just like my last try.

DID you really double check it ?
picture info:
[code]

[2019-03-11 18:30] joaquingx commented on #3581
I'll work on this

[2019-03-11 18:48] Gallaecio commented on #3055
It converts images that are JPEG *but not RGB*.

[2019-03-11 18:51] Gallaecio commented on #3055
If that is so, please provide the smallest image possible that allows to reproduce the issue. It can be used to test a fix.

[2019-03-12 01:30] NewUserHa commented on #3055
![Q20161115204613](https://user-images.githubusercontent.com/32261870/54168432-6bc8e300-44a9-11e9-92d6-222201c18165.jpg)

[2019-03-12 07:20] Gallaecio commented on #3055
Although I could not visually appreciate any difference, `Image.open('original.jpg').save('modified.jpg', 'JPEG')` does indeed slightly reduce the image size. `Image.open('original.jpg').save('modified.jpg', 'JPEG', quality='keep')` does not maintain the size, it increases it instead.

I think we could consider modifying `convert_image` to accept `BytesIO(response.body)` as a second parameter, and

[2019-03-12 07:48] whalebot-helmsman commented on #3656
Sorry @anubhavp28, for unknown reason I decided this feature is not implemented. I will be more  mindful next time.

[2019-03-12 14:21] ttilberg opened #3680 "Feature Request: Improve template lookup for genspider"
I've found the process of specifying custom templates to be challenging for the following two reasons:

- I added a custom templates folder to an existing project, but in doing so, I lose access to the included default Scrapy templates, since Scrapy will only search the defined directory.
- When specifying the template file to use, `.tmpl` is appended to the string regardless of what you pass in.

[2019-03-14 08:51] ranoloel commented on #2115
Hello, I have also a problem in installing pylibmc in python3.4. Had the same problem problem output.

[2019-03-14 13:59] VMRuiz commented on #3652
Is it possible that `pyinstaller` is not aware of your python local packages?
It seems like an error is caused by either missing packages or the python shell not been able to find them.

[2019-03-14 14:08] VMRuiz commented on #3628
Also, you could use an external unix tool to directly rotate the logs files without having to make changes on how Scrapy works with logs: https://www.tutorialspoint.com/unix_commands/logrotate.htm

[2019-03-14 14:15] VMRuiz commented on #3613
Hello @GeorgeA92 , this could be a nice addition and it seems like you already have the code. Why don't you submit the PR? :)

[2019-03-14 16:52] #3674 closed

[2019-03-14 17:10] #2289 closed

[2019-03-14 17:16] #3069 closed

[2019-03-14 17:18] #3661 closed

[2019-03-14 18:53] anubhavp28 opened #3683 "Document how to implement custom HTTP cache storage backed & cache policy."
https://docs.scrapy.org/en/latest/topics/downloader-middleware.html#module-scrapy.downloadermiddlewares.httpcache does let readers know they could implement custom HTTP cache storage backend and cache policy, but provides no information about the API.  I would like to work on documenting it. Should I go ahead?

[2019-03-15 00:03] lenzai commented on #900
How about using rewrite rules ?
Rewriting urls to a canonical version and storing fingerprints only for
these ones.

On Wed, Mar 6, 2019 at 4:26 AM Christopher He <notifications@github.com>
wrote:

[2019-03-15 06:59] Gallaecio commented on #3622
Closed by #3635.

[2019-03-15 06:59] #3622 closed

[2019-03-15 07:21] kasun commented on #3590
After going through the different ideas, I opted for Response.retry_request() over raising a RetryException() to indicate a retry.

This new method will just return a request that is marked as to be retried and actual modification needed to retry the request is been handled in a new spidermiddleware. The reason is you need access to spider settings to determine whether the request has reached the

[2019-03-15 07:25] #2283 closed

[2019-03-15 07:34] #3664 closed

[2019-03-15 07:54] Gallaecio commented on #3652
There are [a few related StackOverflow questions](https://stackoverflow.com/search?q=%5Bscrapy%5D+%22_sqlite3%22).

[2019-03-15 07:58] #1789 closed

[2019-03-15 08:10] Gallaecio opened #3686 "Cannot skip retries for status codes from handle_httpstatus_list on specific requests if they are in RETRY_HTTP_CODES"
Given a request with `'handle_httpstatus_list': [404]` in a project with `RETRY_HTTP_CODES = […, 404, …]`, there is currently no way to prevent retries of that specific request only for 404 responses.

#3675 shows a potential fix, but I think alternative approaches should be discussed.

[2019-03-15 12:46] kasun opened #3690 "Separate Attribute to allow offsite requests"
Right now Request.dont_filter attribute is used for two intentions. To allow duplicated requests and to allow offsite requests. This behavior is not desirable since, you could want to allow a duplicate request but still want to filter out offsite requests and vice versa.

[2019-03-15 14:21] singhalhimanshu commented on #2424
**Getting the same error:**
**Website need to crawl:** ["https://www.labor.ny.gov/"]
**Installed scrapy details**
Scrapy       : 1.6.0
lxml         : 4.2.5.0
libxml2      : 2.9.8
cssselect    : 1.0.3
parsel       : 1.5.1
w3lib        : 1.20.0
Twisted      : 18.7.0
Python       : 3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]
pyOpenSSL    : 19.0.0 (Op

[2019-03-15 21:14] elacuesta commented on #3613
I think this could be solved with the provided API, by specifying the `process_request` argument in the `Rule` constructor. Full example below.

[code]

The logs look something like:

[code]

[2019-03-15 21:46] elacuesta commented on #3355
Could it be that this issue is actually about accessing the original `Response`, not `Request`, from which links are extracted? If that's the case, I believe #3682 would solve it.

[2019-03-17 17:21] mohmad-null opened #3693 "CONCURRENT_REQUESTS not being honoured"
I'm seeing far too many connections being created for my spider.
I am only using ONE single crawler process.

These are the settings in the spider when it starts.

[code]

I then feed in a list of about 100,000 urls which are split between about 4000 different domains (probably as many IP addresses too) and inserted in a `random()` order.

What I'm seeing in Process Explorer (A Windows application

[2019-03-17 18:58] mohmad-null commented on #3693
Upgraded from Scrapy 1.5.0 (Twisted 17.9.0) to Scrapy 1.6.0 (Twisted 18.9.0). No change.

I've also tried lowering the numbers, but it has made no difference at all.
New lowered numbers (everything else as above)
[code]

[2019-03-18 01:38] joseph-matthew commented on #3693
Now I havent tested this, or used scrapy even, I was just browsing looking for something to do and noticed this.

with that said, arent you supposed to use either or, AUTO_THROTTLE_WHATEVER or set hard limits with CONCURRENT_REQUESTS

https://docs.scrapy.org/en/latest/topics/autothrottle.html#how-it-works

if im wrong, just disregard

[2019-03-18 01:42] joseph-matthew commented on #3693
From that I get that youre doing both. So you should either set delays, or use CONCURRENT_REQUESTS_*

[2019-03-18 08:19] maramsumanth commented on #3656
@whalebot-helmsman  According to ideas page ```An interface for robots.txt parsers that abstracts the existing parser, and permits a user to substitute a different parser```.
So we need to code many implementations (i.e parsers) of scrapy, so that user can substitute according to his need? Do we need many robotstxtmiddlewares to go with the parsers?

[2019-03-18 10:44] mohmad-null commented on #3693
@joseph-matthew - Thanks for the reply. Sorry, I don't think I really understand your point.

There's a blue box on that page which says:
[code]

So there should still not be more than 2-5 Requests per IP address, yet I'm seeing 15-70. That's the crux of this report.

[2019-03-18 10:52] mohmad-null commented on #3693
@joseph-matthew - now that I read that entire section of the docs again, I'm even more confused. Pertinent section:

The pertinent line is the last one: **AutoThrottle doesn’t have these issues.** - so wait, is the above saying that you SHOULD do that or should NOT do that? If Autothrottle solves these problems then why they listed in such a way as to suggest they are created by using the autothro

[2019-03-18 10:52] whalebot-helmsman commented on #3656
I was thinking about provide common interface and implementations for 2 existing parsers:

- we currently use [stdlib python parser](https://docs.python.org/3/library/urllib.robotparser.html#module-urllib.robotparser). It has a problem with wild cards.
- [reppy parser](https://github.com/seomoz/reppy) has no problems with wild cards. It requires cython and c++-compiler for installation. This preve

[2019-03-18 10:55] mohmad-null commented on #3693
@joseph-matthew - For the sake of testing I changed my settings to do as that comment suggests:
[code]
No difference. I'm still seeing about 180 connections, with up to 10 or so to the same site.

[2019-03-18 11:06] mohmad-null commented on #3618
While these responses do work, they seem... wrong. I basically have to lie to my IDE (and my future self!) and insert several lines worth of otherwise needless code. There's a high "code smell" to it.

Is it not possible to simply set a `selector` attribute for a regular Response type? Maybe just with a value of "None"?

[2019-03-18 11:11] kmike commented on #3618
This is not lying to IDE / mypy, it is stating assumptions, and failing earlier if response is not what you expect:

[code]

Though I agree that it looks like too much boilerplate. I wonder if a solution is to allow to specify `parse` methods somehow which only accept TextResponse, i.e. where unexpected binary responses are filtered out earlier.

[2019-03-18 11:31] mohmad-null commented on #3693
Oddly, today despite which of the above set of settings I use, I'm seeing something like 500 (five hundred) connections!!!!

[2019-03-19 01:31] Danceiny commented on #1448
+1

[2019-03-19 03:14] grammy-jiang commented on #1448
Maybe my little project would be helpful:

https://github.com/grammy-jiang/scrapy-cookies

When I get some free time, I will create a pull request for my little project to merge it back to Scrapy.

[2019-03-19 19:04] kmike commented on #3693
Do you by chance use file uploads or other similar features?

[2019-03-21 19:03] maramsumanth commented on #3637
Hey @malberts , in your first comment,
apart from this:-
[code]
Does the following can also allow access ?
[code]

[2019-03-21 19:22] maramsumanth commented on #3656
I have gone through seomoz/reppy and realised that it is better to write our own custom parser instead of depending on reppy, also ```urllib.robotparser``` has some issues.

In this context:-

@whalebot-helmsman As you were saying about providing implementations for 2 existing parsers, are these 2 parsers:-
    1) ```stdlib python parser``` and ```reppy parser```
                           (or)

[2019-03-22 05:47] malberts commented on #3637
@maramsumanth Yes, they are practically the same. In Scrapy it will never match the rule with `$` anyway. In a smarter parser it also doesn't make a difference, because both rules are there.

[2019-03-22 09:21] whalebot-helmsman commented on #3656
What problem do you find with reppy parser?

[2019-03-22 11:28] Gallaecio commented on #900
@lenzai Fingerprints go beyond URLs.

[2019-03-22 11:37] Gallaecio commented on #3613
This might be worth covering somewhere in the documentation.

[2019-03-22 11:39] Gallaecio commented on #3355
Actually, given `Response.request`, I would say #3682 solves this issue either way.

[2019-03-22 12:19] maramsumanth commented on #3656
The only problem I found with reppy was with its cpython dependency, rest things like wildcards is handled well in reppy.

[2019-03-22 12:33] Gallaecio opened #3695 "When opening a documentation page, focus its table of contents on the side bar"
When you open the Item Exporters page, the sidebar does not show its table of contents, and you need to scroll down the sidebar to see it.

I think our documentation should behave like the [Godot documentation](https://docs.godotengine.org/) does in the same scenario.

[2019-03-22 14:11] Gallaecio commented on #3576
I am having a hard time trying to picture what you want done, even after reading the documentation from your pull request.

Could you provide some sample code that shows the (convoluted) way to achieve your goal before your changes, and the (simpler) way to do the same after your suggested changes?

[2019-03-22 17:56] #1493 closed

[2019-03-22 17:59] Iliyass opened #3699 "Scrapy returns wrong datetime"
Hello guys,

as the title says, scrapy returns wrong datetime, I have run `scrapy shell` into my project and checked datetime there.
[code]
and when I check the machine time, it returns the correct time
[code]
and when I check python shell
[code]

as you can see the Scrapy datetime returns -1h

My Environment:
[code]

[2019-03-22 18:58] Gallaecio commented on #3699
Scrapy returns the value in UTC. If you use `datetime.utcnow()` instead, you will get the same date as Scrapy.

This is because Scrapy assumes that the server and the people reviewing the logs are not necessarily on the same timezone, hence UTC serves as a *lingua franca* of timezones.

[2019-03-24 13:11] maramsumanth commented on #3656
@whalebot-helmsman , Suppose we have the following directives for ```https://example.com/robots.txt```
[code]
Will ```https://example.com/page.html``` be crawled?
What is the order of precedence for rules with wildcards?

[2019-03-24 15:09] stever123 opened #3700 "why is process_request called twice?"
I have a downloader middleware that will do some stuff when its `process_request` is called. The problem is, for all my middlewares and some signals, that they are called twice. So for the exact same request (I even gave them a unique ID to be sure), `process_request` is called twice - why? The reason why I do not some code as an example is that it happens in all my projects, so I think it is more

[2019-03-24 20:18] #3700 closed

[2019-03-24 23:31] anuja-kelkar commented on #1347
@kmike Can I work on this?

[2019-03-25 02:06] ArunAug commented on #3652
Since I am not using sqlit3 in my project, by commenting on the imports related to sqlit3 in my site-packages(sqlite3/init.py) resolves the issue for me.

[2019-03-25 07:36] ArunAug commented on #1589
I have faced the same issue, adding that scrapy package in to the disc folder solves the issue for me.
but while creating single executable using --onefile it still shows
 "ImportError: No module named spiderloader" error ?

Can anyone has any update on this ? thanks

[2019-03-25 08:12] Gallaecio commented on #1347
@anuja-kelkar Please, go ahead.

[2019-03-25 14:03] whalebot-helmsman commented on #3656
There isn't enough time in GSoC project to write full robots.txt parser, I think. Interface and implementations for existent parsers are safer bet.

[2019-03-25 14:09] maramsumanth commented on #3656
So, improving robotparser is OK? Because I am finding many bugs with the current parser. I want to modify it.

[2019-03-25 16:48] Gallaecio commented on #3699
@Iliyass Could you please confirm that the received date is the right UTC date, and close this issue if so?

[2019-03-25 18:00] Iliyass commented on #3699
@Gallaecio sorry for the delay, yes, I confirm, the date I get in Scrapy is in UTC.

Thanks.

[2019-03-25 18:00] #3699 closed

[2019-03-25 21:52] sebascreen opened #3702 "After scrapy crawl command sometimes scrapy hanging up/waiting"
After command scrapy crawl job_name scrapy stack and nothing happend for ~1minute or more, after this time scrapy run spider job and everything is finished successfully. Issue appears after update scrapy to 1.6 version in 1.5.1 issue does't exists. Is anybody who observed similar issue?

[2019-03-25 22:21] Gallaecio commented on #3702
How many times have you tried? Does it happen every time? Could you share the logs?

[2019-03-25 22:28] sebascreen commented on #3702
Right now after long investigating I think that problem is caused by pip, I will update pip to latest version and let you know if it solve the issue or not

[2019-03-25 22:35] sebascreen commented on #3702
OK problem is solved after update pip to version 19.0.3. Right now everything seems to be working fine, issue closed. Thank you.

[2019-03-25 22:35] #3702 closed

[2019-03-26 11:23] Matthijsy commented on #3576
We have a custom itemloader which specifies some default input processors. Some fields needs an additional input processor which is specific for this field. Now we need to copy the default input processor and add the new one. We we want to add a new default input processor in the future we have to do this at all those fields again. I would like to be able to keep the default input processor and on

[2019-03-26 12:40] Gallaecio commented on #3576
So, if I got it right, you are saying that you have:

    class MyItemLoader(ItemLoader):
        default_input_processor = some_input_processor
        some_field_in = MapCompose(some_input_processor, another_input_processor)

How would you like that to look like instead?

[2019-03-26 14:44] Matthijsy commented on #3576
No we don't use the `some_field_in` method, we use it like this (current style)
[code]

But I would like to do it in this style

[code]

This way I don't have to duplicate the `some_input_processor`

[2019-03-26 15:16] whalebot-helmsman commented on #3656
It is additional goal, not first one. We can improve robotparser after we finish interface part, if there will be time.

[2019-03-26 20:15] maramsumanth commented on #3656
@whalebot-helmsman , what does exactly interface do here, and what are the methods that needs to be implemented in the Interface class. And what are the inputs and outputs to this interface class?
Thanks :)

[2019-03-27 06:17] Gallaecio commented on #3656
By ‘interface part’ I believe @whalebot-helmsman means ‘adding robotparser support to Scrapy’ in general, I don’t think he is speaking about a specific interface class.

[2019-03-27 08:48] whalebot-helmsman commented on #3656
We use `robotparser` https://github.com/scrapy/scrapy/blob/820adb69c0b5ff0080826a9c7af1151973307b45/scrapy/downloadermiddlewares/robotstxt.py#L92 methods directly. It will be great to add abstract interface here, provide interface implementations for existent parsers, use more conformant parser from list of supported parsers at runtime.

[2019-03-27 09:38] maramsumanth commented on #3656
@whalebot-helmsman So during runtime should the user be prompted with a choice in command line, so that the user can select from the list of parsers?
(or) I have another idea
We can add ```ROBOTSTXT_PARSER1_OBEY``` and ```ROBOTSTXT_PARSER2_OBEY``` variables in settings (default to False), which the user can switch according to his need?

Since the most conformant parser which I know till now is re

[2019-03-27 10:15] Gallaecio commented on #3656
Wouldn’t a `ROBOTSTXT_PARSER` setting suffice? One that lets you choose which parser to use, which uses the current parser by default.

[2019-03-27 12:21] Jesse-Bakker opened #3704 "Set environment variable when running scrapy check"
Sometimes it is nice to be able to enable/disable functionality, e.g. calculating things in settings.py when just checking spider contracts instead of running a crawl. I therefor propose setting an environment variable like `SCRAPY_CHECK` when using the check command.

[2019-03-27 12:30] anubhavp28 commented on #3656
Hey @whalebot-helmsman @Gallaecio, I have done some work on the interface part of my GSoC proposal (https://docs.google.com/document/d/1l740K3MXcJ7SJN2oN0MNitM_Udzz42_8uHLAgWbhXsg/edit?usp=sharing ). I am looking for feedback on the approach I have used for creating the interface. I am also facing a couple of problems, I have listed them below :

1. I am facing difficulties in finding another popu

[2019-03-27 13:49] Gallaecio commented on #3656
1. I’ve only found http://nikitathespider.com/python/rerp/

[2019-03-27 14:03] anubhavp28 commented on #3656
Quoting its documentation

I have already looked into it. I thought since I am already implementing the interface on top of Python's inbuilt `robotparser.RobotFileParser` (which Scrapy uses currently), implementing the interface on top of `rerp` requires little effort (as both have almost the same API) and can be done by the user. Instead, shouldn't we focus on providing support for parsers with d

[2019-03-27 14:14] maramsumanth commented on #3656
https://drive.google.com/open?id=1Dd1wyhzwtWWQGahsgqOYB1x6WpvFj1-E

This is my final proposal to this project. If there are any modifications, please do let me know @whalebot-helmsman @Gallaecio :) :+1:

[2019-03-27 14:42] Gallaecio commented on #3695
I’ve just noticed that the master documentation behaves as expected, while the latest does not. I wonder if this is just something Read The Docs added that we will get upon rebuilding the documentation.

[2019-03-27 14:50] anubhavp28 commented on #3695
@Gallaecio I have build the documentation locally, it works perfectly just like the Godot documentation.

[2019-03-27 17:00] maramsumanth commented on #3656
https://drive.google.com/open?id=17TnAWPcde6bD7YvAG_KnwuhVEo8WOAmi

This is my final draft proposal to this project. Please review it and If there are any suggestions/modifications, please do let me know @whalebot-helmsman @Gallaecio :) :+1:
Thanks :)

[2019-03-28 08:32] maramsumanth commented on #3656
I have seen that both ```rerp``` and ```stdlib parser``` have problems with wildcards. We should find a pure python parser, which should have different API than the current ```urllib.robotparser```

[2019-03-28 08:59] mmqcode commented on #2468
我也遇到了，真是郁闷。

[2019-03-28 15:09] whalebot-helmsman commented on #3656
Thanks @maramsumanth,  I read your drafts quickly, no show-stoppers at first sight. Let me take time and on

[2019-03-28 15:15] whalebot-helmsman commented on #3656
Thanks @maramsumanth, I read your draft quickly. There is no show-stoppers.
@anubhavp28, I want to remind you about [formal part](https://github.com/python-gsoc/python-gsoc.github.io/blob/master/application2019.md) of proposal. Except this, there is no problems.
Let me take more time and think about your drafts more concisely, I will communicate final feedback on Monday.

[2019-03-28 19:02] maramsumanth commented on #3656
Thanks @whalebot-helmsman :) :+1:

[2019-03-29 03:17] #3652 closed

[2019-03-29 03:40] maramsumanth commented on #3656
@whalebot-helmsman can I share my draft proposal with PSF in the GSoC website now ?
Thanks :)

[2019-03-29 11:59] Firststep2014 opened #3705 "I install scrapy in my home directory"
Hello, I have install scrapy in /home/u25654/scrapy
And also I have add path ,since I will get
`/glob/intel-python/python3/bin/:/glob/development-tools/versions/intel-parallel-studio/compilers_and_libraries_2019.3.199/linux/bin/intel64:/glob/development-tools/versions/intel-parallel-studio/compilers_and_libraries_2019.3.199/linux/mpi/intel64/libfabric/bin:/glob/development-tools/versions/intel-par

[2019-03-29 12:31] Gallaecio commented on #3705
Have you followed the [installation guide](https://doc.scrapy.org/en/latest/intro/install.html)?

[2019-03-29 13:58] killdary commented on #3656
Hi @whalebot-helmsman, @lopuhin and @Gallaecio , I followed the scrapy's work for some time, and finally opened an opportunity to contribute to the project at GSoC this year. Could you forward me some improvement or bug that I would like to implement?
If there were also some examples of compatible robots.txt would help a lot.

[2019-03-29 14:14] Gallaecio commented on #3656
@killdary Reading this thread, including the issue links on the description, should give you a good starting point.

[2019-03-30 08:52] Firststep2014 commented on #3705
@Gallaecio Solved, I was using Intel AI Cloud,while I do not have permission to install it in /usr/local/. finally, I used pip install --user scrapy and it worked according to user guide.

[2019-03-30 08:52] #3705 closed

[2019-03-30 08:53] Firststep2014 commented on #3705
This may be something wrong with the environment, however ,not sure

[2019-03-31 04:37] runbing commented on #3478
I had this problem too. It seems to be a problem with TLS, but removing MAIL_TLS and MAIL_SSL or setting them to False will not solve the problem.

[code]

[2019-03-31 07:39] sathve commented on #1506
https://github.com/scrapy/scrapy/pull/3709

[2019-03-31 10:17] Gallaecio commented on #1506
@jschilling1  Is #3709 what you had in mind when you opened this issue?

To me it looks a bit out of the scope of Scrapy.

[2019-03-31 14:19] runbing opened #3710 "Got "UnicodeEncodeError: 'ascii' codec can't encode characters ..." using MailSender"
I want to send a message with MailSender when the spider closed. Here is the code snip:

[code]

but if the parameter **body**  is non-ascii string, I will get a error like blow.

[code]

I spend all my day to solve this problem, but get no luck, I just find a way like below to hack the problem, but I know this is not recommended.

[code]
Is there any help for this problem?

[2019-03-31 14:42] Gallaecio commented on #3710
Have you tried using `body.encode('utf8')` in your `mailer.send` call?

[2019-03-31 18:37] maramsumanth commented on #3581
I think it is safe to close this issue, solved in https://github.com/scrapy/scrapy/pull/3687

[2019-03-31 18:49] #3581 closed

[2019-04-01 02:33] runbing commented on #3710
Yes, I have tried it. But I got same error with changed error message when I use ```body.encode('utf8')``` in ```mailer.send```.

[code]

[2019-04-01 07:43] #220 closed

[2019-04-01 07:50] suraj-deshmukh opened #3711 "way to get text inside anchor tag in Crawlspider"
I have a crawlspider which crawls given site upto certain dept and download the pdfs on that site. Everything works fine but along with link of pdf, i also need text inside anchor tag.

for eg:

    <a href='../some/pdf/url/pdfname.pdf'>Project Report</a>

consider this anchor tag, in callback i get response object and along with this object i need text inside that tag for eg 'Project Report'.
Is

[2019-04-01 15:18] elacuesta commented on #3711
I believe this is the same question as https://stackoverflow.com/q/55450472/6946615. I just answered there, and given that it's technically possible to get the link text, I think this particular issue should be treated as a request for documentation.

[2019-04-01 16:24] Gallaecio commented on #3710
That traceback says `body=body, mimetype="text/html")`.

I was expecting to see `body=body.encode('utf8'), mimetype="text/html")` instead. Are you sure that traceback includes the encoding of the body?

[2019-04-02 02:41] Gravellent commented on #3710
I tested the code myself using gmail client and it works.

[2019-04-02 03:19] maramsumanth commented on #3656
@whalebot-helmsman , is my proposal sufficient or should I make any changes. Waiting for your feedback
Thanks for reviewing :) :+1:

[2019-04-02 06:15] runbing commented on #3710
Sorry I didn't make it clear. I did add `encode('utf-8')` to body parameter but `mailer.send` call. If I add `encode('utf-8')` in `mailer.send` call, I got the same error.

[code]

---

I spent a day try to figure out this problem, And I found this problem related to the python version.

If I use python 3.6.6, just add `encode('utf-8')` to body parameter, everything is good. But If I  do same thin

[2019-04-02 06:17] runbing commented on #3710
Which python version are you using?

[2019-04-02 06:24] GaryLea opened #3713 "How do I dynamically generate items"
I found a solution to this idea in the official document:

[code]

but i don't know how to use them

[2019-04-02 08:00] Gravellent opened #3715 "start_request yield Request faster than other"
I'm using a proxy vendor to crawl a website. The proxy vendor limits the number of requests you can send to the proxy servers per second (say 2 requests per second). In order the fulfill this requirement, I set a DOWNLOAD_DELAY to 0.5 in settings.py. However, in start_requests, if I use a list, the proxy server will return an error for sending too many requests, but after that, the other Requests

[2019-04-02 08:42] Gravellent opened #3716 "Return more detailed error message in scrapy check"
When I run `scrapy check myspider`, it returns an error message of
[code]

However, if I run `scrapy crawl myspider`, it returns an error message of
[code]

In the end, it was the database connection that is causing the issue, but in `scrapy check` it doesn't return anything useful for me to debug. I think we should have more details in the error message.

If you guys think this is a good improvem

[2019-04-02 11:36] uyplayer opened #3717 "ERROR: Error downloading"
[scrapy.core.scraper] ERROR: Error downloading

[2019-04-02 11:48] uyplayer commented on #3431
i have the same problom ;how can i solve this problom ?

[2019-04-02 15:28] Gallaecio commented on #3713
Could you provide the URL where you found this documentation?

[2019-04-02 15:30] Gallaecio commented on #3715
Have you also limited concurrency to 1? See `CONCURRENT_*` [settings](https://docs.scrapy.org/en/latest/topics/settings.html).

[2019-04-02 15:31] Gallaecio commented on #3717
Please, see [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-04-02 15:32] #3717 closed

[2019-04-02 18:37] Gallaecio commented on #3431
@uyplayer  There’s not much you can do. To follow progress on fixing this issue, follow the open item #3321.

[2019-04-02 20:13] GeorgeA92 commented on #1589
According to recent stackoverflow question [How to create a single executable file in windows 10 with scrapy and pyinstaller?](https://stackoverflow.com/questions/55331478/how-to-create-a-single-executable-file-in-windows-10-with-scrapy-and-pyinstaller/)
The `ImportError: No module named spiderloader` error can be solved by adding 40+ hidden imports of scrapy submodules.

[2019-04-02 21:50] meteFANS commented on #3710
3.7-------- 原始邮件 --------主题：Re: [scrapy/scrapy] Got "UnicodeEncodeError: 'ascii' codec can't encode characters ..." using MailSender (#3710)发件人：Runbing 收件人：scrapy/scrapy 抄送：Subscribed
I tested the code myself using gmail client and it works.

Which python version are you using?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mu

[2019-04-03 00:32] GaryLea commented on #3713
https://scrapy-chs.readthedocs.io/zh_CN/0.24/topics/practices.html

I found it in Common Practices

[2019-04-03 02:33] uyplayer opened #3719 "Why is the last two lines of code not executing output?"

[2019-04-03 03:41] misssprite commented on #802
Any progress on this issue?
I came across similar problems with instable server. It'll be great to have a configurable delay for a request before scheduled next time.

[2019-04-03 05:05] #3719 closed

[2019-04-03 07:29] uyplayer opened #3720 "raise error.ReactorNotRestartable() ? why　this error ? but : using : scrapy crawl finance is normal running"
# 在脚本运行
print("在脚本运行")
process = CrawlerProcess(get_project_settings())
process.crawl(FinanceSpider)
process.start()

[2019-04-03 07:49] uyplayer commented on #3720
this code : print("在脚本运行")    why output 2 times ?

[2019-04-03 08:01] uyplayer commented on #3720
# 在脚本运行
process = CrawlerProcess(get_project_settings())
process.crawl(FinanceSpider)
print("开始运行")
process.start()
===================================
print("开始运行") outputs 2 times ;

[2019-04-03 08:05] Gallaecio commented on #3713
The section was removed from the documentation of recent versions of Scrapy. It might have been because it is no longer possible or recommended, or because it moved somewhere else. I’ll have a look.

[2019-04-03 08:14] uyplayer commented on #3720
when add: get_project_settings() for CrawlerProcess     outputs errro raise error.ReactorNotRestartable()

[2019-04-03 09:43] Gallaecio commented on #3720
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions.

[2019-04-03 15:41] maramsumanth commented on #3656
@whalebot-helmsman, I think there are hardly 6 days left for the deadline of proposal submission. Can you please look into it and give feedback, so that I will be able to improve it based on your suggestions.
Thanks :)

[2019-04-04 04:29] float13 opened #3721 ""Edit on Github" link gives 404 error from docs.scrapy.org documentation pages"
For example, from this doc page: https://docs.scrapy.org/en/latest/topics/exporters.html

clicking the "Edit on Github" link in the upper-right corner leads to a 404 error page (tested in Firefox and Safari):
https://github.com/scrapy/scrapy/blob/origin/1.6/docs/topics/exporters.rst

This has happened on every doc page I tried the link from.

I would like to help with some small grammatical edits

[2019-04-04 06:00] Gallaecio commented on #3721
Yes.

[2019-04-04 09:15] GaryLea commented on #3713
Thank you very much

[2019-04-04 09:28] Gallaecio commented on #3713
@GaryLea It was removed on purpose, because [since Scrapy 1.0 you can yield regular Python dictionaries](http://doc.scrapy.org/en/latest/news.html#support-for-returning-dictionaries-in-spiders).

[2019-04-04 09:57] docker77 commented on #3064
Still have this issue with iptyhon 7.4.0 and scrapy shell
[code]

works, but i cant make it work during starting of the shell. Looks like scapy don't loads default_profile
Any workarounds?

[2019-04-04 11:38] khawajaosama commented on #1922
Thanks <3

[2019-04-04 15:22] whalebot-helmsman commented on #3656
@maramsumanth As I stated earlier, your proposal is great. I reread it and didn't find any new problems. Relax and wait for accepted proposal announcement.

[2019-04-04 15:26] MikeoPerfect opened #3723 "Decouple queues from schedulers"
I'm a student from china, recently I want to use scrapy to support my data project, the project need fast and efficient work to crawl data, however when I use scrapy to run my code, find it's not work efficiently, so I just find the code from scrapy-master [https://github.com/scrapy/queuelib/tree/master/queuelib]( https://github.com/scrapy/queuelib/tree/master/queuelib )
 by using  python's own co

[2019-04-04 15:52] maramsumanth commented on #3656
Thank you @whalebot-helmsman! :) :+1:

[2019-04-04 16:15] ejulio commented on #3723
Hi @MikeoPerfect, thanks for your interest in scrapy for GSoC 2019.
I don't know if including this queue in scrapy is in the project roadmap. @dangra and @kmike are better people to answer it.

About the Redis support, maybe what you're looking for is already built here https://github.com/rmax/scrapy-redis. Though it seems to be a bit outdated.

[2019-04-05 04:47] ArunAug commented on #1589
Fixed.
https://stackoverflow.com/questions/55331478/how-to-create-a-single-executable-file-in-windows-10-with-scrapy-and-pyinstaller/55410079#55410079

[2019-04-05 09:07] runbing commented on #3710
These days I tried to fix the problem I encountered by modifying the source code, but the changed code behaved differently in different Python versions. I think the current code has compatibility issues, but I still not able to solve this problem. I am looking forward that someone can solve these problems:

1. Got UnicodeEncodeError when the parameter body is non-ascii string in python 2.7.X.
2. D

[2019-04-05 09:09] #3711 closed

[2019-04-05 12:11] MikeoPerfect commented on #3723
Thanks for your comments @ejulio, the [https://github.com/rmax/scrapy-redis](https://github.com/rmax/scrapy-redis) looks good,  though a bit outdated,  maybe I can get inspiration from it. Oh, actually the **Support for Different robots.txt Parsers** sounds great,   so how do I work to add the new tests for it,  sincere expectation! @Nikita @Konstantin

[2019-04-06 17:00] floggle commented on #3248
@ajpen  - Thanks, I know this and my web-browser has JS off by default (because security!). The issue is the way Scrapy handles bad HTML.

[2019-04-07 08:37] ydanilin commented on #3413
Make sure you have also deleted the file scrapy.state in your jobdir to get him work again.

[2019-04-07 08:51] anubhavp28 commented on #3656
Hey @whalebot-helmsman @Gallaecio, can you review my proposal again?
@whalebot-helmsman I have modified my proposal to follow the template. Do you have preference between improving CPython robotparser and writing our own parser?

Proposal : https://docs.google.com/document/d/1jAOwcyFHJL-I--0RQ6JMuRgfTYBIz5QyAP2oBVdz3eg/edit?usp=sharing

[2019-04-07 20:34] Gallaecio opened #3731 "Support pathlib.Path in FEED_URI"
Make things work the same when the value assigned to the `FEED_URI` setting is a string containing a path or an instance of `pathlib.Path`.

[2019-04-08 06:20] jackwener opened #3732 "Install scrapy error"
environment: debian 8
virtualenv python3.7
error info:
[code]

i am sure that the steps of installation are as described in the documentation （it's seem that there is enough steps about installationin in virtualenv in the doc)

[2019-04-08 06:38] kevenli commented on #3732
This caused by twisted installation which need python dev tools to compile.

https://stackoverflow.com/questions/21530577/fatal-error-python-h-no-such-file-or-directory

Try this on debian:

    sudo apt-get install python-dev   # for python2.x installs
    sudo apt-get install python3-dev  # for python3.x installs

[2019-04-08 06:40] jackwener commented on #3732
it isn't used , I have tried this solution.

[2019-04-08 07:19] jackwener commented on #3732
This problem wasted me 2 hours to solve, but no results, I reloaded the python version, using conda and then the installation was successful, this is so disgusting

[2019-04-08 08:54] whalebot-helmsman commented on #3656
@anubhavp28 I checked your proposal and suggested some grammatical edits. In general it looks good for me.

If you want to contribute your improvements to upstream CPython, it is better to improve robotparser. Beside that, there is no advantages. Contributing to upstream is a time-consuming task in itself. I don't have any preferences here.

[2019-04-08 09:05] maramsumanth commented on #3656
@whalebot-helmsman , I have a doubt regarding order of Allow/Disallow directives (with wildcards) under a particular user-agent. What is the order of precedence for rules with wildcards? Google's Implementation says it is undefined. I want to add this improvement during project in cpython's robotparser, what should we consider? Is there any standard rule for rules with wildcards?

Thanks :)

[2019-04-08 09:07] maramsumanth commented on #3656
Allow: /page
Disallow: /*.htm

https://example.com/page.htm is allowed?

[2019-04-08 14:49] anubhavp28 commented on #3656
Thanks for reviewing my proposal @whalebot-helmsman :)

[2019-04-09 09:14] Huzhonglan opened #3733 "[twisted] CRITICAL: Unhandled Error"
2019-04-09 09:02:21 [twisted] CRITICAL: Unhandled Error
Traceback (most recent call last):
  File "/home/admin/.virtualenvs/yellowpage/lib/python3.4/site-packages/scrapy/commands/crawl.py", line 58, in run
    self.crawler_process.start()
  File "/home/admin/.virtualenvs/yellowpage/lib/python3.4/site-packages/scrapy/crawler.py", line 293, in start
    reactor.run(installSignalHandlers=False)  # bl

[2019-04-09 10:01] diegovincent commented on #3663
I am in a similar issue. I have to change the settings of a specific spider based on information read in a JSON file that is used as a configuration file for the Spider behaviour. Problem is, I have to change the setting according to the argument of the spider as well. Is there a better way to address this problem? I do not want to create a single spider for this case, more code to maintain = more

[2019-04-09 12:01] anubhavp28 opened #3734 "Name parameters uniformly (Cache Policy API)"
https://github.com/scrapy/scrapy/blob/92801850546121f2faf95fd21c923904fde35c28/scrapy/extensions/httpcache.py#L34

It will look better if we name the second parameter as `cachedresponse` (in place of just `response`).

In fact, implementation of policy for RFC2616 compliant HTTP cache names it correctly.
https://github.com/scrapy/scrapy/blob/92801850546121f2faf95fd21c923904fde35c28/scrapy/extensio

[2019-04-09 12:18] anubhavp28 opened #3736 "Incorrect link mentioned in comments (scrapy.extensions.httpcache)"
https://github.com/scrapy/scrapy/blob/92801850546121f2faf95fd21c923904fde35c28/scrapy/extensions/httpcache.py#L73

Link mentioned : https://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html#sec14.9.1
It should have been https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9.1

I am sending a pull request for the same.

[2019-04-09 13:05] whalebot-helmsman commented on #3656
Robots.txt protocol was created as a contract between crawlers and site owners. Obeying robots.txt scrapy declares itself as a polite crawler. To be polite in all respects in a a case of confusion URLs should be disallowed.

[2019-04-09 17:53] maramsumanth commented on #3656
Thanks @whalebot-helmsman , I will include it in my proposal :)

[2019-04-10 04:01] Kenith commented on #2951
same issue here

[2019-04-10 05:03] #3732 closed

[2019-04-10 11:11] Matthijsy commented on #3352
There are enough alternatives that can be used for proxy usage which have this feature, and since there is not a lot of activity here I will close my issue.

[2019-04-10 11:11] #3352 closed

[2019-04-10 15:42] archegyral opened #3740 "cd \"

[2019-04-11 09:05] GaryLea commented on #3713
@Gallaecio Thank you very much. I passed in item successfully, but I can't use itemloader anymore

[2019-04-11 09:15] GaryLea opened #3742 "CrawlSpider use UrlJoin failed"
when I use crawlspider, I find a question.
This is detail_url:  ./201904/t20190409_468256.html
This is base_url: http://www.xxx.xxx.cn/xwzx/dzyw/

This is success url : http://www.xxx.xxx.cn/xwzx/dzyw/201904/t20190409_468256.html
This is crawlspider send url: http://www.xxx.xxx.cn/201904/t20190409_468256.html

I found url join in HtmlParserLinkExtractor._extract_links
But I can't overwrite _extrac

[2019-04-11 09:16] Gallaecio commented on #3713
What’s you use case? Why do you use both dynamic items and an item loader?

[2019-04-11 10:42] Adhders opened #3743 "AttributeError: 'TelnetConsole' object has no attribute 'port'"
system w10 ,scrapy 1.6.0

my scrapy can run nomally long before, but raise AttributeError  recently , I have reinstall the Scrapy ,It's  not help.

[2019-04-11 11:20] Gallaecio commented on #3723
@MikeoPerfect The deadline to submit proposals has finished. Did you manage to submit your proposal?

[2019-04-11 11:25] Gallaecio commented on #3248
Not adding a `tbody` element automatically is not bad HTML parsing. What the web browser inspector shows is not HTML, it’s the DOM, [as documented](https://docs.scrapy.org/en/latest/topics/developer-tools.html#caveats-with-inspecting-the-live-browser-dom).

That said, feel free to submit a feature request to parsel, the library that Scrapy uses to transverse HTML documents, for a DOM-based parser,

[2019-04-11 11:29] Gallaecio commented on #3733
@Huzhonglan Can you reproduce this issue reliably, or does it happen randomly? What steps are you following to reproduce this issue?

[2019-04-11 11:31] Gallaecio commented on #3734
@anubhavp28 I don’t think it is necessary for you to open an issue for something when you plan to send a pull request right away. Feel free to open your pull requests directly without opening an issue first :)

[2019-04-11 11:34] Gallaecio commented on #3740
@archegyral Could you improve the description and the title of this issue? If you opened it accidentally, please feel free to close this issue yourself.

[2019-04-11 11:38] Gallaecio commented on #3742
Are you sure there is a dot (.) at the beginning of the URL?

Scrapy uses [urllib.parse.urljoin](https://docs.python.org/3/library/urllib.parse.html#urllib.parse.urljoin) underneath, which seems to handle this correctly:

[code]

Could you share the actual URL with the issue? Or maybe some other way to reproduce the issue?

[2019-04-11 11:40] Gallaecio commented on #3743
This sounds like a duplicate of #2702. @Adhders Could you confirm?

[2019-04-11 12:36] MikeoPerfect commented on #3723
That sounds terrible, I think I have missed it, but that doesn't prevent me from continuing to contribute to scrapy. scrapy is excellent, it has always been like this

[2019-04-12 01:11] GaryLea commented on #3742
My detail page link is indeed: ./201903/t20190329_467865.html
I try with ipython, It's same for you result.but when i run crawlspider, it's error :
[code]

I don't know why is this result, I try DEBUG _extract_links function, but scrapy didn't send print message

[code]

[code]

[2019-04-12 01:59] Huzhonglan commented on #3733
Thank you, I have found the problem. Because of the state file.

[2019-04-12 01:59] #3733 closed

[2019-04-12 16:22] dmugtasimov opened #3744 "Configure LOG_LEVEL on `scrapy` logger, not on handler"
People may use scrapy with Django and have other handlers that have DEBUG level to log from other loggers. When you hardcode `DEBUG` level on `scrapy` logger it is not possible to reduce `scrapy` verbosity. The only workaround is to run `django.setup()` after `scrapy` has configured its logging.

[2019-04-12 20:50] #3736 closed

[2019-04-12 20:52] #3734 closed

[2019-04-12 22:11] dmugtasimov commented on #3744
I have to use this as workaround:
[code]

[2019-04-13 11:08] dmugtasimov commented on #3744
Does not work if you need models earlier (on some module imports). Therefore I put `django.setup()` into `settings.py` and changed to this:

[code]

[2019-04-13 20:12] dmugtasimov opened #3745 "Do not name spider's logger after spider name. Respect loggers tree instead."

[2019-04-13 21:29] dmugtasimov commented on #3744
Finally I ended up with
[code]

[2019-04-13 23:07] RomaSafin commented on #2808
In my case (Mac OS X 10.14.4, python 2.7.10), problem with twister
had error
`    unable to execute '/usr/bin/gcc-4.0': No such file or directory
    error: command '/usr/bin/gcc-4.0' failed with exit status 1
`
 and fixed in a way:
`CC="$(type -p clang)"
Then:
` pip install twisted --user`
Last one was:
`pip3 install Scrapy --user` or `sudo pip3 install Scrapy`
After, checked with `which scrapy`

[2019-04-14 15:59] Firststep2014 opened #3746 "Scrapy killed for some unkonwn reasons"
Hello,I've got stuck in dealling with the issue that scrapy killed sometime ,and I've used such codes so as to track any contional result,however it seems all right .
`        pid = os.getpid()
        p = psutil.Process(pid)
        print('Process name : ', p.name())
        print('cpu_times : ' , p.cpu_times())
        print('Memory usage : ', p.memory_percent())
        print('Process number of

[2019-04-14 16:01] Firststep2014 commented on #3746
besides,i've set maximum concurrent requests to be, it did not work either
CONCURRENT_REQUESTS = 4

[2019-04-16 15:11] Gravellent commented on #3710
Yeah I think my Python version is 3.6, let me check with Python 2.7 on this.

[2019-04-16 18:10] heylouiz commented on #3744
Hi @dmugtasimov, I am not sure if I understood your problem.

Did you try to configure Scrapy's log level in `settings.py`?

See:
https://docs.scrapy.org/en/latest/topics/settings.html#log-level

[2019-04-17 01:57] Gravellent commented on #3716
I was trying to improve the error message but found out that if I use a virutualenv, the eoror message is shown fine.
[code]

But I use the global scrapy package, the error message disappear
[code]

Both are running exactly the same version of scrapy 1.6.0 installed with pip. I'm not sure what the issue here is, maybe it's something about my global packages? Any thoughts would be appreciated.

[2019-04-17 03:03] qq703048949 opened #3747 "invalid hostname"
when I request http://tjw_161130192022480.company.qihuiwang.com/
return  this:    invalid hostname: tjw_161130192022480.company.qihuiwang.com,
I don't know how to solve this question !
hlep me !

[2019-04-17 04:02] #3740 closed

[2019-04-17 04:04] Gallaecio commented on #3723
@MikeoPerfect I’m sorry you missed it, and I’m really glad you decided to contribute anyway.

Do you think we can close this issue?

[2019-04-17 04:06] Gallaecio commented on #3742
For debugging [use logging](https://docs.scrapy.org/en/latest/topics/debug.html#logging) instead of printing to the standard output directly.

[2019-04-17 04:08] Gallaecio commented on #3745
While I’ve also desired this many times, I must say I see a valid use case for the current implementation: when two or more spiders are defined on the same file.

Maybe the spider class import path should be used? (so, import path + spider class name)

[2019-04-17 04:17] Gallaecio commented on #3746
Have you tried monitoring the process from some system tool? It is technically possible for a memory issue to happen after your last print statement. See also https://docs.scrapy.org/en/latest/topics/leaks.html

Also, what kind of system are you using? How much free memory does it have?

[2019-04-17 04:21] Gallaecio commented on #3744
http://doc.scrapy.org/en/latest/topics/logging.html#module-scrapy.utils.log describes how to prevent Scrapy from installing a root logger.

@dmugtasimov Does that cover your use case?

[2019-04-17 04:27] Gallaecio commented on #3747
I can reproduce this issue as well.

[2019-04-17 04:28] Gallaecio commented on #3747
This is a duplicate of #3321.

[2019-04-17 04:28] #3747 closed

[2019-04-17 05:02] Gallaecio commented on #3171
@BurnzZ I think the desired approach is to switch the gave-up message (only that message) from debug to error.

@kmike I don’t see how people could restore the previous behavior easily without us introducing a setting to choose the log level of this specific message, which seems overkill to me.

Maybe we could extend `scrapy.logformatter.LogFormatter` to support this type of message. However, I am

[2019-04-17 12:23] MikeoPerfect commented on #3723
@Gallaecio  Sure, that's not a bad thing.

[2019-04-17 14:59] abhinavsagar opened #3749 "Add a new issue and pr template"
Currently the project is not having an issue and pull request template.
Adding one helps in having standardized information when submitting a pr or an issue.

[2019-04-18 10:51] starrify opened #3751 "On distributing some blocking tasks to threads"
By default, Scrapy launches much of its tasks in the reactor thread ("main thread"). In some cases such operations may become the bottleneck due to blocking operations (usually CPU or I/O bounded. A few examples (as of v1.6.0):
- In [`scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware._decode`](https://github.com/scrapy/scrapy/blob/1.6.0/scrapy/downloadermiddlewares/httpcompres

[2019-04-18 11:35] lopuhin commented on #3751
+1 to do CPU-intensive operations that are internal to scrapy (not running user code) and currently block the loop in threads by default

[2019-04-18 12:31] starrify commented on #3751
Things may be easier if the target operations are already allowed return a `Deferred` (e.g. in a downloader middleware's `process_response` method).

Otherwise (e.g. the selector example shown earlier) it may be a little bit harder.

I was earlier using something like this :point_down: in one project for selectors. Such workaround may not look ideal to be Scrapy's default behavior, though. :sweat_

[2019-04-18 15:49] imsardine commented on #3259
According to [kingname's feedback](#issuecomment-389141381), if Scrapy asks the generator (`starts_request()`) for more request objects and  `read_a_list_wanna_crawl()` returns nothing, the control flow won't be yield to Scrapy.

One way to work around this is yielding a DUMMY request object (and sleep for a while) if there is nothing to crawl temporarily. For example:

    import time

    def st

[2019-04-19 09:24] whalebot-helmsman commented on #3723
@MikeoPerfect After working on https://github.com/scrapy/scrapy/pull/3520 I have an opinion. Absence of queue for one or another type of storage is not a big problem for scrapy. Much bigger problem is too tight interaction between scheduler and downstream queue. E.g. implementation of redis-based queue requires implementation of another scheduler. Improved priority handling done in mentioned PR ca

[2019-04-19 10:52] melwell89 commented on #3731
Hi @Gallaecio, I'm interested in picking this one up. Do you have a bit more of a description of what is required?

[2019-04-19 11:15] adsbhatial commented on #3731
You want to use pathlib.Path instead of os.path thus replacing
if path and not os.path.isdir(path):
to
if path and not pathlib.Path.is_dir(path)
and places like these. These changes will mostly be in feedexport.py .
You mean to replace os.path with pathlib.Paths.
Is my understanding of the issue correct?

[2019-04-19 12:51] Gallaecio commented on #3731
I’ve updated the description. It may be as simple as type-casting the setting to a string before using it internally.

[2019-04-19 14:54] adsbhatial commented on #3731
Ok. I understand now.

@Gallaecio. Is it Ok for me to work on this?

[2019-04-19 15:23] Gallaecio commented on #3731
Yes :)

You don’t have to ask for permission, just open a pull request and mention this issue on it.

[2019-04-19 18:08] apalala commented on #3731
Please take a look at the [PathLike](https://docs.python.org/3/library/os.html#os.PathLike) interface, which was added in 3.6 to deal with precisely these issues.

[2019-04-20 17:21] apalala commented on #3259
A good asynchronous solution is to use the `spider_idle` signal to schedule in batches:

[code]

[2019-04-20 22:25] gbell27 opened #3752 "pip install scrapy"
You need first "pip install incremental" due to a misspelling in the lines for the installation of dependencies.

[2019-04-23 21:30] zach-watrhub opened #3755 "LinkExtractor does not extract relative links"
Is this the intended behaviour of `LinkExtractor`? I seem to not be able to extract relative URLs when using it. Alternatively, if I use a selector for `a` elements, I can capture everything.

For reproduction:

[code]

[code]

[2019-04-23 21:50] rodrigogonegit opened #3756 "What is the correct way to stop or hang the crawler?"
Hey, I'm wondering what would be the correct way of suspending the crawler in a scenario like this:

- Crawl a table page per page
- Stop once an item on the page has already been processed

Let's say I have 5 pages defined in the start_urls, these pages urls look something like:
- target.com/list-0
- target.com/list-50
- target.com/list-100
- target.com/list-150
- target.com/list-200

The items o

[2019-04-23 22:19] noahshpak commented on #3752
I don't have this problem in python3.6

[2019-04-24 00:06] gbell27 commented on #3752
I first tried on 2.7 but went the same on 3.6 using the cached version of the package which wasn’t correctly installed. I saw that it was a common error but I solved it differently from the solutions written by someone else on stackoverflow and others. The error was python setup.py egg_info failed with error 1 described in github.com/palantir/python-language-server/issues/370

[2019-04-24 07:11] NewUserHa commented on #3259
actually, the scrapy can pause while in `start_requests`, but can't in parsers

[2019-04-25 09:56] MarcSteven opened #3757 "Cannot find the spider"
I used the framework to do something ,but when I executed the code ,it tell me the error:Cannot find the spider,I use venv
The error as the link [cannot find the spider](https://stackoverflow.com/questions/18152473/scrapy-python-cannot-find-the-spiderl)
Hope can find a complete solution

[2019-04-25 13:02] Tanya312 opened #3758 "Email throwing issue"
Was trying to send email through scrapy.
Settings I used are:-
#settings for mail
MAIL_FROM = '...@gmail.com'
MAIL_HOST = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USER = '...@gmail.com'
MAIL_PASS = 'xxxxxxx'
MAIL_TLS = True
MAIL_SSL = False

Email was sent successfully. But the following exception is thrown;
2019-04-25 18:10:15 [twisted] CRITICAL: Unhandled Error
Traceback (most recent call last):

[2019-04-25 15:39] heylouiz commented on #3757
Did you read [Steven's answer](https://stackoverflow.com/a/18174198/10683132)?

To run the spider with `scrapy crawl spider-name` you need to be inside the [scrapy project ](https://docs.scrapy.org/en/latest/intro/tutorial.html#creating-a-project) directory.

You can also run a single spider file using `scrapy runspider spiderfile.py`

[2019-04-25 15:45] heylouiz commented on #3758
Duplicate of #3478

[2019-04-26 03:15] MarcSteven commented on #3757
Yeah I had confirmed as you said, but it cannot run well ,so I don't know how to do

[2019-04-26 09:46] Gallaecio commented on #3716
Can you provide some minimal code to reproduce the issue?

[2019-04-26 09:52] Gallaecio commented on #3749
Thanks!

For future reference, you don’t need to open an issue if you plan to work on it yourself short after. You can open a pull request directly :)

[2019-04-26 09:57] Gallaecio commented on #3756
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-04-26 09:59] Gallaecio commented on #3752
@gbell27 May this be a duplicate of #2808?

[2019-04-26 10:02] Gallaecio commented on #3758
@Tanya312 Please, close this issue or let us know how it differs from #3478.

[2019-04-26 10:03] Gallaecio commented on #3757
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-04-26 10:21] MarcSteven commented on #3757
I asked

[2019-04-26 10:56] Gallaecio commented on #3757
Then, please vote up and follow that Stackoverflow question, or write a new question if that question does not cover your specific issue.

[2019-04-26 10:56] #3757 closed

[2019-04-26 11:26] perfect-network opened #3759 "I hope the project support a function"
Like this:
[code]

I hope it can be supported ...thanks you read

[2019-04-26 11:32] perfect-network commented on #3759
i'm sorry ,i found the item support this function,hahahahahaha

[2019-04-26 11:59] abhinavsagar commented on #3749
Got it, Thanks.

[2019-04-26 13:05] Gallaecio commented on #1322
I think the new behavior may be the right one.

You can obtain the unescaped fragment as follows:

[code]

@lhuaizhong Should we close this bug?

[2019-04-26 13:54] Gallaecio commented on #1368
@ritesh-gopal, @perfect1 Do you still suffer these issues using the latest Scrapy version?

[2019-04-26 13:59] Gallaecio commented on #1355
Well, if instead of a URL we accept an iterator of Request objects (à la `start_requests`), maybe it makes a bit of sense.

On the other hand, the code above is not much different with a Spider class, so I don’t see much benefit overall :thinking:

[2019-04-26 14:01] Gallaecio commented on #1387
@rverbitsky Do you remember if using `GET` from the start solved your issue?

[2019-04-26 14:46] Gallaecio commented on #1410
@vincentlaucy Did changing this value fixed your deadlock? Do you remember whether it really a deadlock or just a severe slow down?

[2019-04-27 01:22] lhuaizhong commented on #1322
The site has been updated, I'm not sure how it goes.
Fine to close it.
Thanks your help.

[2019-04-27 01:22] #1322 closed

[2019-04-27 03:46] Gravellent commented on #3716
The issue I encountered was when I try to connect to database using an existing crawler, but let me check if I reproduce this issue today in some minimal way

[2019-04-27 09:03] BurnzZ commented on #3759
Glad to hear @perfect-network! Kindly post your solution for posterity and close this issue :)

[2019-04-27 09:34] BurnzZ commented on #3171
Hi @Gallaecio, ooh yep my bad. I was trying to fit my project's approach when I was writing this PR. I've updated the PR for this.

Before updating it further, what might be the best and easiest way to bring the old behavior back as per:

[2019-04-29 08:51] Gravellent commented on #3716
I was able to reproduce the error by putting an error in pipelines.py.

[code]
Make a very simple spider, make sure no syntax errors
[code]

Writes a pipeline, put an error in there (import an non-existing package in this case)
[code]

Enable the pipeline
[code]

If run `scrapy check example`, then it would return
[code]

Not sure if I can reproduce in a simpler way, but this seems to be a good ex

[2019-04-30 08:08] #3758 closed

[2019-05-02 08:39] mredaelli opened #3761 "Items as Dataclasses"
Is there any plan to support dataclasses as `yield`-able results from crawlers (and possibly `meta` in `Request`/`Result`)?

It would be a very welcome addition for us, mostly for typing reasons, IDE completion, additional logic.
And it should also be simple to implement (just call `dataclasses.asdict()`)?

[2019-05-02 13:22] Vandenn commented on #1347
Logging is currently behaving as expected when `LOG_ENABLED` is set to `False` using the following script in a Python 3.6 environment. Should this issue be closed? Kindly correct me if I'm making a wrong assumption about this.
[code]

[2019-05-02 15:17] #3756 closed

[2019-05-02 15:21] Gallaecio commented on #3759
@perfect-network is probably using [item loaders](https://doc.scrapy.org/en/latest/topics/loaders.html) now.

[2019-05-02 15:21] #3759 closed

[2019-05-02 15:30] Gallaecio commented on #1347
@Vandenn You are right, that’s why @kmike said it’s a documentation problem. The original poster, @ileodo, is calling `configure_logging()`, which the current documentation suggest, but that should not be used with `CrawlerProcess`, only with `CrawlerRunner`.

[2019-05-02 15:48] Vandenn commented on #1347
@Gallaecio Thanks for the clarification. I'll open a PR soon that updates the documentation of `scrapy.utils.log.configure_logging` to specify that the function should only be used with `CrawlerRunner`.

[2019-05-03 17:45] ejulio commented on #3272
I think we can work something here.
Mostly because of the API.
When I call `loader.load_item()` I'd expect all the fields I defined to be there, even if I set them as `None`.

Maybe we can create some kind of setting in the `ItemLoader` or even a new `ItemLoader` that uses this behavior and the user can chose from them.

[2019-05-03 22:10] ejulio commented on #3663
Hey, I was looking to work on this issue, but I got in a kind of deadlock :stuck_out_tongue:
Looking for ideas:

The spider is instantiated here https://github.com/scrapy/scrapy/blob/master/scrapy/crawler.py#L84
However, I cannot freeze the settings only at this point because all other components were already instantiated.
So, that could cause some misunderstanding by updating a setting that is us

[2019-05-04 08:33] easeflyer commented on #3478
i have the same issue when i use Scrapy send emaill , the email has been sent successfully.

[2019-05-05 04:00] MarcSteven opened #3765 "Do you think about supporting Scrapy cheatsheet"
I think if you can support cheatsheet on Dash ,that's cool ,so do you plan to support it

[2019-05-05 10:03] 13240137000 commented on #3478
same problem here. when i try to send email via email module got same error, i used python 3.6.2 and scrapy 1.6.0

[2019-05-06 10:27] Gallaecio commented on #3765
Could you elaborate a bit?

[2019-05-06 10:31] MarcSteven commented on #3765
@Gallaecio  If I have a bit time ,I will do it and then I will let more developers use it well .

[2019-05-06 10:38] Gallaecio commented on #3765
I mean that I am not sure what you are suggesting here. Specifically, I have no idea what ‘cheatsheet on Dash’ means or how it relates to Scrapy.

[2019-05-06 10:57] MarcSteven commented on #3765
I mean if you have cheapest ,I can use the dash to review the doc here ,so that's why I opened this issue !

[2019-05-06 11:00] MarcSteven commented on #3765
I will open it and then do it better !I tried my best to accomplish the documentation

[2019-05-06 11:05] Gallaecio commented on #3765
Oh, you are talking about https://kapeli.com/dash

[2019-05-07 00:47] MarcSteven commented on #3765
Yeah  @Gallaecio I mean it ,but in the doc you must write some feature for instance advanced usage.I know you are right.Hope it can extend its feature .

[2019-05-07 01:55] MarcSteven commented on #3765
Yeah  @Gallaecio I mean it ,but in the doc you must write some feature for instance advanced usage.I know you are right.Hope it can extend its feature .

[2019-05-07 05:25] anubhavp28 commented on #3656
Hey @whalebot-helmsman @Gallaecio, I'm super excited to work on Scrapy this summer . What should we use for communication now? Should we use a separate issue or email?

[2019-05-07 12:44] Gallaecio commented on #3663
I’m quite unsure on how to best address this. Maybe we could allow defining a new class method on spiders that has access to both spider arguments and settings?

[2019-05-07 14:01] whalebot-helmsman commented on #3656
Congratulations @anubhavp28. I am on vacation now. Can we get back to this question next Tuesday or Wednesday?

[2019-05-07 17:42] anubhavp28 commented on #3656
Sure :)

[2019-05-07 20:20] ejulio commented on #3663
@Gallaecio, probably this is the best way to go.
Add `cli_args` to `__init__` and use them in `update_settings`.
Just need to make sure it won't break backwards compatibility

[2019-05-07 21:24] Gallaecio commented on #3656
@anubhavp28 In the meantime, though, feel free to contact us by email or through the #scrapy channel in IRC. And enjoy the community bonding period!

[2019-05-08 09:56] Gallaecio commented on #1422
@AlanChien @kmike https://github.com/scrapy/w3lib/pull/38 fixed this issue, right?

[2019-05-09 15:59] #1347 closed

[2019-05-10 02:42] HPudge commented on #3103
I add the UA in my setting,but it can't work yet. Then i use random UA but it dosen't work too. So sad

[2019-05-10 13:25] tomstelk opened #3769 "CookiesMiddleware distinguish between response and request merge cookies"
dont_merge_cookies setting applies to merging both previous request's cookies and the response's Set-Cookie.

Would be useful to have a separate setting so that you can persist the previous request's Cookies, but ignore the response's Set-Cookies.

Something like:
dont_merge_request_cookies
dont_merge_response_cookies

[2019-05-10 16:46] ejulio opened #3771 "Add fallback selectors to ItemLoader"
In some cases it is common to have fallback selectors for certain fields.
This way, we end up writing a piece of code like
[code]

However, a, maybe, better way would be
[code]

The API above would be the equivalent of the first example.
However, @cathalgarvey also shared a nice idea to stop in the first matching selector.
[code]
Then, if `selector1` yields a result, the other ones are attempted,

[2019-05-11 04:32] #2806 closed

[2019-05-11 10:03] ddofborg opened #3773 "CONCURRENT_REQUESTS_PER_* per XXX (multiple queues)"
The `CONCURRENT_REQUESTS_PER_IP` or `CONCURRENT_REQUESTS_PER_DOMAIN` options are not always useful. For example when you use 10 proxy servers, you would want to set this up per proxy.

I would suggest adding `CONCURRENT_REQUESTS_PER_QUEUE_NAME`. For each request you should be able to set a `queue` name, basically it's a hashable type in which each request can be put. This way you could manually gr

[2019-05-12 19:46] GeorgeA92 commented on #3663
As we can see in [crawler.py](https://github.com/scrapy/scrapy/blob/1.6.0/scrapy/crawler.py) after [`self.spidercls.update_settings(self.settings)`](https://github.com/scrapy/scrapy/blob/1.6.0/scrapy/crawler.py#L35) (method which reads [`custom_settings`](https://docs.scrapy.org/en/latest/topics/spiders.html#scrapy.spiders.Spider.custom_settings)spider class attribute) and before [spider instantia

[2019-05-13 03:26] gsb-eng commented on #3761
@Gallaecio I would like to implement this, any discussion required before proceeding further?

[2019-05-13 05:34] zhengzhen0512 commented on #3103
Me too,Have you solved it now?

[2019-05-13 07:04] Gallaecio commented on #3761
@gsb-eng I think you can go ahead.

[2019-05-14 06:02] intotecho opened #3775 "Small improvement to the docs for setting ITEM_PIPELINES"
In the docs

https://github.com/scrapy/scrapy/blob/65d631329a1434ec013f24341e4b8520241aec70/scrapy/templates/project/module/pipelines.py.tmpl

It says,

Please change the instruction to
# Don't forget to add your pipeline to the ITEM_PIPELINES setting **in settings.py**

I added the setting to my spider's init, and it was hard to find out what was going wrong.
Mentioning settings.py would help oth

[2019-05-14 06:37] Gallaecio commented on #3773
I think this only makes sense for proxy rotation, and proxy rotation Scrapy extensions like https://github.com/TeamHG-Memex/scrapy-rotating-proxies should already handle this on their own, and they can do it with the current Scrapy API, they do not need the suggested feature to make it possible.

[2019-05-14 06:51] ddofborg commented on #3773
Does this work in combination with Splash too?some how that didn’t work for
me and I ended up setting procies via Splash.

On Tue, 14 May 2019 at 08:38, Adrián Chaves <notifications@github.com>
wrote:

[2019-05-14 07:02] Gallaecio commented on #3773
Well, if it does not, maybe that is a feature request worth adding to https://github.com/TeamHG-Memex/scrapy-rotating-proxies

[2019-05-14 07:09] Gallaecio commented on #3775
The thing is, ``settings.py`` is just one of the places where it can be defined, and I think mentioning all places where you can define settings everywhere we mention a setting in the documentation would make things too verbose.

I understand your frustration, but I’m not sure how we can improve things. Users are expected to have read https://docs.scrapy.org/en/latest/topics/settings.html?highligh

[2019-05-14 07:23] littleningmeng opened #3776 "twisted.internet.error.DNSLookupError: DNS lookup failed: no results for hostname lookup:"
Refer to the tile.
Why this error occured ? It's ok on my windows 10 with the same code, but on Linux, this error occured!

[2019-05-14 08:28] csalazar opened #3777 "Whitelist form methods in FormRequest.from_response"
Hi team, according to this [article](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-method), there are 3 methods that are accepted in form's `method` attribute. I can't remember about other methods, but I'd agree to consider the rest of [REST verbs](https://restfulapi.net/http-methods/) if that's common. Anyway, I think it should be a good idea to whitelist the accepted method

[2019-05-14 15:53] Avinash-B commented on #3755
If no one is working on this, I would like to work on this. @Gallaecio

[2019-05-14 20:30] Gallaecio commented on #3755
No need to ask for permission, go ahead :)

[2019-05-14 20:38] GeorgeA92 commented on #3755
@zach-watrhub what scrapy version do you use?

I noticed that linkextractors works differently for urls with and without defined url scheme:
[code]

Current version of scrapy [raises](https://github.com/scrapy/scrapy/blob/1.6/scrapy/http/request/__init__.py#L54-L62) `ValueError` if request url doesn't have scheme definition.
`ValueError: Missing scheme in request url: zip.com `
And it successfully

[2019-05-15 02:19] jameysharp opened #3778 "RFC2616 cache policy checks max-age against wrong date after revalidation"
# Expected behavior

A `Cache-Control: max-age=60` request header should prevent requests to the same URL from being sent more frequently than once per minute. If spiders generate requests for that URL more often, then they should be satisfied from the cache without contacting the origin server.

(For simplicity, I'm assuming that either the origin server hasn't set a shorter `max-age` and hasn't

[2019-05-15 06:29] Avinash-B commented on #3755
2 2
[Link(url='file:///zap.html', text='', fragment='', nofollow=False), Link(url='http://zip.com/zop.html', text='', fragment='', nofollow=False)]

I am able to get two links while running it on my PC. I don't think there is a problem with this.

[2019-05-15 07:23] Gallaecio commented on #3755
@Avinash-B While it is possible that there is no error here, I haven’t tested this myself, the protocolo of “file:///zap.html” does not seem right assuming the domain is `zip.com`. But maybe that’s simply because of the way you tried to reproduce the issue.

[2019-05-15 07:57] qingmei-migu opened #3779 "multithread-scrapy error: one thread error, but the other threads cannot stop?"
![1ad4989524d9149fcd8e7aa493e9e0b](https://user-images.githubusercontent.com/49146214/57758208-bf65e000-7729-11e9-8332-1e7067eb6db6.png)

before 12:54:43, one thread meets an exception, and the others threads run as usual, this is ok.
But the errors after 12:57:28 is due to the scrapy still running, and canot create a new instance.
I wait for one day, and the scrapy just don't stop. There must hav

[2019-05-15 08:43] grammy-jiang commented on #3779
Hi, @qingmei-migu

I didn't get your point. The error message you gave looks like **Requests** is used instead of **Scrapy**.

If you are using **Requests** and you want to insist to use it, your problem should put into [the issues of **Requests**](https://github.com/kennethreitz/requests/issues).

Otherwise, for Scrapy please refer to [Common Practices — Scrapy 1.6.0 documentation](https://docs.s

[2019-05-15 09:02] w1101662433 opened #3780 "How can i change proxy every 3 seconds"
Im dizzy,  How can i change proxy every 3 seconds

[2019-05-15 09:34] Gallaecio commented on #3776
What’s the URL?

[2019-05-15 09:50] Gallaecio commented on #3780
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-05-15 09:51] #3780 closed

[2019-05-15 14:52] assignment6 commented on #3721
Apologies for newbie question.
The 404 error seems to appear only when the url points to https://docs.scrapy.org/en/**latest**/topics/exporters.html.  If I change it to https://docs.scrapy.org/en/1.6/topics/exporters.html, I am taken to the github site with no problem.

My question:  Is this a problem with the "Read The Docs" versioning issue?  How would one go about fixing this?  Thanks

[2019-05-15 15:00] jameysharp commented on #3778
It occurs to me that the test conditions can be made a little more general. A request header of `Cache-Control: max-age=0, max-stale=60` should keep repeated requests from being validated for 60 seconds regardless of what `max-age` or `Expires` the original response had. (But other response directives could still force re-sending the request unless they're filtered with `HTTPCACHE_IGNORE_RESPONSE_

[2019-05-16 02:56] zhangwbgogogo commented on #3606
@nicoparsa Does your Scrapy work?

I use this code to get a timeout error...

[2019-05-16 06:52] anubhavp28 opened #3781 "Use PEP8"
Scrapy docs recommends using PEP8 coding convention when writing code for inclusion in Scrapy, with the exception of 79 character line length rule . A quick run of `pep8` utility shows me that there are several occurrence of PEP8 violation in the master branch. If given the nod from the maintainers, I would like to work on resolving this.

[2019-05-16 08:27] Gallaecio commented on #3781
I think this is a duplicate of #2144.

[2019-05-16 12:31] mossplix commented on #3778
@Gallaecio  Should I go ahead and work on this or are there any more pending discussions?

[2019-05-16 13:07] Gallaecio commented on #3778
I think all the points @jameysharp raises make sense, so I think this is worth presenting a pull request. Even if a discussion were needed, a pull request can only enrich a discussion.

[2019-05-16 13:53] Gallaecio commented on #3721
I think this might require editing settings on Read the Docs, in which case only some core developers will be able to look at it.

[2019-05-16 14:24] dangra commented on #3777
Hi @csalazar, well done on the telnet security issue article you published, I loved the attack vector explanation.

You demonstrated clearly how Form's method can be exploited on code injection, so no doubts we would like to restrict the set of valid methods. My suggestion would be to mimic what major browsers are accepting.

[2019-05-16 20:02] jameysharp commented on #3778
Thanks for looking into this, both of you!

The issue I'd thought would be hardest to tackle was handling the `Age` header correctly, because I thought the cache storage API would need to change.

But I want to propose a simpler fix than my first thought. How about just deleting the code which looks at the `Age` header? I'd be interested to hear if anyone has reasons why this header is important,

[2019-05-17 12:37] #3781 closed

[2019-05-17 14:29] ronek22 opened #3782 "scrapy.Item hashes equality"
Hi,
I want to use scrapy.Items in my scraper, but I ran into some trouble.
I created two items with the same data inside each of them.
Is it possible to override `__hash__` and `__eq__` method for Link class below?

Code for reproduce issue:
[code]

[2019-05-18 04:11] AchiraFernando commented on #3338
hi wRAR.
Where did you specify the FEED_URI ?
** I want to hard code the URI in the scrapper without feeding it through the running script.
Can I know how did you add the FEED_URI ?

[2019-05-18 05:18] wRAR commented on #3338
@AchiraFernando this is a wrong place for such questions. Please read [the documentation on Scrapy settings](https://docs.scrapy.org/en/latest/topics/settings.html).

[2019-05-18 11:56] WaferJay commented on #3338
Hi, @AchiraFernando. You can specify the FEED_URI in <project>/settings.py. Hope this helps.

[2019-05-18 11:58] #3338 closed

[2019-05-18 13:35] grammy-jiang commented on #3782
Hi, @ronek22

Yes, you can overwrite both methods in your class:

[code]

When you try to compare object in Python, please read the manual carefully:
[3. Data model — Python 3.7.3 documentation](https://docs.python.org/3/reference/datamodel.html#object.__hash__)

[2019-05-19 00:28] aaditkamat commented on #2727
Hi guys, I would like to know what's the status of this issue?

[2019-05-20 02:43] kjxy opened #3783 "When running scrapy crawl xxxspider, it is ABCspider."
When running scrapy crawl xxxspider, it starts ABCspider and throws an exception. I fixed the exception (caused by fake_useragent, it will be fine after uninstalling it)

Now there is a new "error". When running xxx spider, the printout is the custom_settings information of ABC spider.

![image](https://user-images.githubusercontent.com/35479340/57993518-e33f7200-7aeb-11e9-9840-987155ec13d6.png)

[2019-05-20 05:23] xuleijian opened #3784 "scrapy didn't work on aws lambda"
I use thest codes below. But it didn't work with no error.

def lambda_handler(event, context):
    configure_logging({'LOG_FORMAT': '%(levelname)s: %(message)s'})
    runner = CrawlerRunner()

    d = runner.crawl(LoginSpider)
    d.addBoth(lambda _: reactor.stop())
    reactor.run()
-----------------------------------------------------------------
lambda log:
02:55:25 2019-05-20 02:55:25 [scrapy

[2019-05-20 06:05] venkateshpitta commented on #2124
Hi
Is this issue still open?  What can I do to start working on it?

[2019-05-20 08:19] grammy-jiang commented on #3783
Hi, @kjxy

I can't help you with your very limited information.

When you run `scrapy crawl <spider name>`, scrapy will try to find the spider from `scrapy.cfg` to `settings.py`, please make sure your settings and spiders are clearly defined in these configuration files.

And there are also other ways to run your spiders, please refer to [Common Practices — Scrapy 1.6.0 documentation](https://docs

[2019-05-20 09:34] grammy-jiang commented on #3784
Hi, @xuleijian

Interesting question! After I google your question, I find there is some findings:

https://stackoverflow.com/questions/28514086/issue-on-running-twisted-on-aws

Hope this helps.

[2019-05-20 12:28] xuleijian commented on #3784
@grammy-jiang
Thank you for your reply.But I can import the module successful.
The url doesn't help me.

[2019-05-20 19:46] Gallaecio commented on #2727
I am currently working on bringing all API documentation to the source code, which includes this ticket.

Because it’s a lot, and all changes need to be reviewed by two people from the core team, I’m taking it step by step. Right now, I am waiting for https://github.com/scrapy/scrapy/pull/3706 to be reviewed and merged before I prepare a new request covering additional parts of the API.

[2019-05-21 15:13] Gallaecio commented on #2124
It is still open. However, if you are not sure where to start, you might be better off working on a different issue.

[2019-05-21 15:14] Gallaecio commented on #3783
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-05-21 15:15] Gallaecio commented on #3784
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-05-21 17:01] vRivier opened #3785 "Visual C++ Build Tool needed"
Got this error while pip installing scrapy on windows:
error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

I had to install the software and then it worked. The installation took about 20min so I would recommand to try another way.

[2019-05-22 08:43] Gallaecio commented on #3785
Please, follow the instructions on the [installation guide](https://doc.scrapy.org/en/latest/intro/install.html).

[2019-05-22 14:55] insspb opened #3787 "Issues need opened cleen up"
I just wanted to check what issues and their direction are really actual now, but I found tons of issues not closed.

They are already answered with "Please, ask your question through StackOverflow." from @Gallaecio or other contributors, but still not closed. This is a real-time loss if somebody just browsing to search interesting topic for self-checking/debugging/fixing. Maybe such persons just

[2019-05-22 18:53] anibal-aguila opened #3788 "How to download files (pdf) from a server what listen only PHP request?"
Hi everyone! I'm new here and want to know if scrapy can get multiples PDF from a site what resolve every request with PHP, the URL where I can get each file is:

`http://extranet.domain.com/?p=downloads&did=1`

The files are referenced whit numbers, in this case, the URL get the file with the id 1, I have 3800 files for downloads...
Hope someone knows how to solve my issue, thanks in advance.

An

[2019-05-23 10:03] Gallaecio commented on #3788
Closing in favor of the [corresponding StackOverflow question](https://stackoverflow.com/questions/56263584/how-to-download-files-pdf-from-a-server-what-listen-only-php-request).

[2019-05-23 10:03] #3788 closed

[2019-05-23 10:36] Gallaecio commented on #1157
If and when this is done, please take into account that Spidermon currently uses spider names, for example to generate unique, spider-specific filenames for storing data in disk. You can search for `spider.name` there to find some of those usages.

Any change in this direction in Scrapy should probably be accompanied by the corresponding change in Spidermon.

[2019-05-23 12:12] okomarov commented on #3743
I have this issue and don't understand why the PR #2892 suggested in #2702 hasn't been merged.
The workaround is to set `TELNETCONSOLE_PORT = None` in `settings.py` so that `self.port = listen_tcp(self.portrange, self.host, self)` creates an empty port?

I reckon the suggested PR was much cleaner, just initialize the port to None and do not pollute settings.py with unused settings.

[2019-05-23 14:05] noviluni commented on #3787
Agree with that. Too much issues to know what can be addressed

[2019-05-24 21:37] nemec opened #3793 "Progress bar for large downloads"
What are your thoughts on adding a progress bar to the scrapy HTTP handler? I recently wrote a crawler that would scrape a site and throw any files into a `FilesPipeline` for download. Some of these files were 100+ MB in size which made the terminal seem to "freeze" while they downloaded in the background. I know scrapy isn't really designed to be an efficient file downloader like `aria2` or `jdow

[2019-05-26 06:06] BurnzZ opened #3795 "Fallback parser rules in ItemLoader - discussion for spider maintenance"
Related to issue #3771

----

I'm stoked with the idea of having the `ItemLoader` support fallback parsers in any API possible as Scrapy needs to provide convenient ways for developers to keep up with the site changes. However, some sites perform layout changes more often than others, and some of the fallback parser rules gets obsolete real fast, posing a problem in the spiders' long term maintena

[2019-05-26 06:08] BurnzZ commented on #3771
Hi @ejulio @Gallaecio! I'd like to know your thoughts on #3795 for discussion as it's closely related to this. :)

[2019-05-26 13:02] stav commented on #3771
Then, if selector1 yields a result, the other ones are NOT attempted,...

[2019-05-26 13:05] stav commented on #3795
I like this idea. It seems perhaps `itemLoader.load_item()` should write to stats.

[2019-05-27 00:41] jameysharp commented on #3778
I think now I have a pretty good idea what patches I would write to fix these issues. @mossplix, have you made any progress tackling this? I'd be delighted to answer questions or otherwise help.

[2019-05-27 02:35] peonone commented on #3795
Cool idea, it will be helpful to simplify the case a few expressions are needed, and also detecting the outdated expression.
I prefer to have it as a Scrapy Plugin, and use stats rather than logs for the hit count.

[2019-05-27 06:05] akshayphilar commented on #3795
Agree with @peonone. This is a potential Scrapy plugin and while the **stats** seem like the logical place for the selector distribution to appear, there is a good enough reason to also log this information, as doing so will not entail too much effort.

[2019-05-27 06:36] kasun commented on #3795
Definitely useful feature though I'm not sure whether this is directly related to #3771
I think it should go to stats, and prefer if this is builtin to scrapy itself.

[2019-05-27 08:38] Gallaecio commented on #3793
Maybe this could be refactored as an optional extension (disabled by default) which allows some customization through variables (e.g. the 5MB threshold).

[2019-05-27 12:28] ejulio commented on #3795
I think this is a good idea, specially by stats increment.
I'd prefer it as a new library/plugin that would require only one line change.
[code]
to
[code]

This would make it easier to enable the loader wherever we want without too many code changes.

Also, I think we'd need so sort of label for selectors, otherwise we'd end up with stats like `scrapy_plugin/not_match/#id .class::text` or `scrapy_

[2019-05-27 15:31] mossplix commented on #3778
Hi @jameysharp I was waiting to see how the discussion pans out. Let me jump on it. I will def shoot you question

[2019-05-27 17:20] mossplix commented on #3778
From section 13.2.3 of RFC2616, they actually specify the age calculation. Maybe we need to stick to the spec?

[2019-05-27 18:21] Ksianka opened #3798 "LinkExtractor with Unique = False doesn't extract fully identical Links"
Case:
unexpected behavior identified for LinkExctractor with Unique = False if the page contains fully identical links (the same URL and text).
The current result returns one unique link instead of two or more identical ones.
For example:

1) Local http file

[code]

[2019-05-27 18:24] Ksianka commented on #3798
Pre-solution:
the issue is driven by the public method exctract_link of LxmlLinkExtractor(the same as LinkExctractor) which returns unique_list(all_links), see line 130 in module lxmlhtml.py, instead of all_links (similar to solution in sgml.py).

However, here we get another issue:
It looks like the original idea of this unique_list(all_links) was to avoid duplication of links if there is a repet

[2019-05-27 21:17] nemec commented on #3793
That makes a lot of sense. I'll take a closer look at the Extensions API.

From a quick scan, it seems I might be able to listen for the `response_received` signal to read the `Content-Length` header, but it doesn't look like there is a hook to monitor `_bytes_received`.

[2019-05-28 01:48] pc2000sg opened #3800 "Scrapy response returns repeated items despite change in page settings at the URL link after the spider runs a while"
Trying to scrape data from 'https://redmart.lazada.sg/meat-and-seafood/?m=redmart&page=102&spm=a2o42.redmart_channel.nav_category_tree.30.2e5d48a6aXcB49', 'https://redmart.lazada.sg/shop-Groceries-DairyChilled/?. After a few pages items received back start repeating. Looks like there are some protection from the web to stop people gettings all items data. Tried the followings but it only help to g

[2019-05-28 01:54] jameysharp commented on #3778
@mossplix I'm going to assume that's substantially the same as [RFC7234 section 4.2.3](https://tools.ietf.org/html/rfc7234#section-4.2.3), which updated the caching parts of RFC2616.

In my third comment (https://github.com/scrapy/scrapy/issues/3778#issuecomment-493211897) I explained why I don't think it's worth-while to implement the full age calculation. I suspect (but have not proven) that the

[2019-05-28 08:28] Gallaecio commented on #3793
If there’s none, it may be time to add it :)

[2019-05-28 08:30] Gallaecio commented on #3800
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-05-28 14:33] luoqishuai opened #3801 "I want to run multiple spiders in multiple threads, and spiders have two different parameters, 'LOG_FILE' and one that I set myself"
I used to have a spider, but the key parameters in setting are different. At that time, I copied and pasted 30 copies one by one, and then used docker to start the crawl one by one.
Now I want to use a python program to run 30 spiders in a row, using 30 threads, each spider with a different Settings, and everything else is the same.
At first, I tried to build a thread pool, but python told me buil

[2019-05-29 01:07] luoqishuai commented on #3801
I used to use 'nohup python3 main.py &
nohup python3 main.py &
nohup python3 main.py &
......'
Now I how to use python code to finish it .

[2019-05-29 01:52] luoqishuai commented on #3801
IF i change settings.py to make them same.Then i can use CrawlerRunner to run scrapy? But log  must different.

[2019-05-29 02:17] grammy-jiang commented on #3801
Hi, @luoqishuai

Keep following [this suggestion](https://docs.scrapy.org/en/latest/topics/practices.html#running-multiple-spiders-in-the-same-process), and read ["custom_settings"](https://docs.scrapy.org/en/latest/topics/spiders.html#scrapy.spiders.Spider.custom_settings) property in Spider to specify each spider's settings.

Btw, if the logs are so important to you, Sentry is a good choice and

[2019-05-29 11:47] rameshrpi opened #3802 "Scrapy Proxy Issue"
I have installed scrapy1.6 with python2.7 and I have created the sample spider from scrapy documentation.
when I run the spider from pycharm  I am getting the below error.
2019-05-29 17:02:10 [scrapy.core.engine] INFO: Spider opened
2019-05-29 17:02:10 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2019-05-29 17:02:10 [scrapy.extensions.telnet

[2019-05-29 14:07] luoqishuai commented on #3801
@grammy-jiang
I try to user custom_setting to change log_file.
I use this code to run scrapy :
    runner = CrawlerRunner()
    for i in range(10):
        runner.crawl(SpiderSpider,mod=i)
    d = runner.join()
    d.addBoth(lambda _: reactor.stop())
    reactor.run()
my scrapy code:
     def __init__(self,mod):
        self.mod =mod
    custom_settings = {'LOG_FILE': '"scrapy_spider_{}.log"'.form

[2019-05-29 14:28] luoqishuai commented on #3801
额,我真的是快要疯了.....不知道为什么使用CrawlerRunner 无法成功,我真是太笨了

[2019-05-31 01:44] pc2000sg commented on #3800
Hi Gallaecio,

I have posted my question on  StackOverflow too but so far there is no reply there. Is there anyway for me to ask the same question in Github so that more people can see the issue and give potential advice or solution? Thanks.

Regards,
Patrick

[2019-05-31 05:55] Gallaecio commented on #3802
Please, close this issue and only handle this from your [StackOverlow question](https://stackoverflow.com/questions/56380020/how-to-fix-scrapy-proxy-issue).

[2019-05-31 05:56] Gallaecio commented on #3801
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-05-31 06:01] Gallaecio commented on #3800
No, GitHub is not the right place to ask for help with your specific issues.

One thing you can do is improve your [StackOverflow question](https://stackoverflow.com/q/56314151/939364). See https://stackoverflow.com/help/how-to-ask and https://stackoverflow.com/help/mcve.

Alternatively, you can try and get someone to help you on the IRC chat.

[2019-05-31 06:09] luoqishuai commented on #3801
@Gallaecio  What if the scrpay.request has a parameter of -6146417663 as opposed to -6146417701? Who gets popped first

[2019-05-31 06:31] luoqishuai commented on #3801
I found your code. pqueue will pop min(-priority ) .It means -6146417663 will pop first.
But in my log. It is not.

[2019-05-31 07:19] pc2000sg commented on #3800
Hi Gallaecio,

Ok got it. Thanks.

Regards,
Patrick

[2019-06-01 19:14] merrisco opened #3803 "ImportError: No module named _util"
Following the tutorial, I found an error when I run the command: scrapy crawl spider
and get the error message:
                    pyOpenSSLlib ImportError: No module named _util

It seems to me that the pyOpenSSL was not updated. I have looked around and found some others who have had a similar problem: https://stackoverflow.com/questions/50324329/running-scrapy-but-it-error-no-module-named-util

[2019-06-02 02:01] azharf opened #3804 "Items missing"
Hi,
 when working with the itemLoader()  to populate items from a created list in python.  Here I have attached a working of the suspected bug.

This appears to be present when the loader.get_output_value method has been executed. Once that executes then, the populated list initially created would have one of the items missing. This appears to be a malfunction bug within the software presented.  I

[2019-06-02 19:25] Ksianka commented on #3478
test_spider.py
`class QuotesSpider(scrapy.Spider):
    name = "quotes"
    start_urls = [
        'http://quotes.toscrape.com/page/1/',
    ]
    mails = []

    def __init__(self, *args, **kwargs):
        super(QuotesSpider, self).__init__(*args, **kwargs)

    def parse(self, response):
        pass

    @classmethod
    def from_crawler(cls, crawler, *args, **kwargs):
        spider = super(Qu

[2019-06-03 21:28] kiwisquash opened #3807 "Tutorial: scrapy shell example should say "text" not "title""
The text currently says:

The`title` should be changed to `text`. In fact, if you scroll down slightly down in the for-loop, `text` is used instead of `title`.

https://docs.scrapy.org/en/1.6/intro/tutorial.html#extracting-quotes-and-authors

[2019-06-04 10:06] #3801 closed

[2019-06-04 12:40] Gallaecio opened #3809 "Fix test_command_parse.py on Windows"
All the tests from that test file are failing on the Windows CI platform.

We need to look into it, and fix the underlying issue or have those tests skipped on Windows if they are not meant to work on that platform.

[2019-06-04 13:04] grammy-jiang commented on #3801
Hi, @luoqishuai

Sorry, Scrapy initializes logger in **Singleton Pattern** mode, which means one logger for Scrapy globally.

So I suggest you use Sentry with meta data.

[2019-06-04 13:59] BurnzZ commented on #3804
Confirmed this bug, but only when `ItemLoader` is being instantiated with an `item`. Here's an example:

[code]

[2019-06-04 14:23] Matthijsy commented on #3576
@Gallaecio Do you understand the problem now? Or do I need to explain more?

[2019-06-04 14:43] Gallaecio commented on #3576
I think I understanding, although I personally don’t like coupling Item’s Field class and the ItemLoader class that way.

[2019-06-04 15:24] tombka opened #3811 "CrawlerProcess.crawl doesn't add my spider"
Hello everybody,

I have a problem with running my spider through a worker who is listening for new job(RQ) :
[code]
While i run my spider with python3 crawl_site.py everything seems to be ok as you can see above.
BUT, when i try to perform a crawl through my worker my `self.process.crawlers` remains the same : an empty set()
It doesn't make any sense for me...
Feel free to ask for more informatio

[2019-06-04 16:39] apalala commented on #802
@starrify helped design this, which solved the case of polling computed solutions from some services:

[code]

[2019-06-04 16:48] kmike commented on #802
@apalala thanks for pasting an example! This is an implementation "without scheduler support" we were talking about; there are some downsides (https://github.com/scrapy/scrapy/issues/802#issuecomment-140446223)

[2019-06-05 08:01] Gallaecio commented on #3811
Please, use [only StackOverflow](https://stackoverflow.com/questions/56456142/crawlerprocess-crawl-doesnt-add-my-spider) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-05 20:49] cs464osu commented on #3807
Should this issue be closed now?

[2019-06-05 20:54] kiwisquash commented on #3807
Yes, this can be closed.

[2019-06-05 20:54] #3807 closed

[2019-06-06 07:41] qbolgi opened #3814 "Scraping images from urls in a nested item"
Hi,
I havea Scrapy Spider set up. I have urls that I scrape and then I store multiple results by url. I have nested arrays in each item.
I'd like to use images urls contained in these items to download images but I can't do that.

`def __init__(self, *args, **kwargs):
        data_file = pkgutil.get_data(
            "auctions_results", "json/input/demo_db_urls_glenmarch.json")
        self.data =

[2019-06-06 15:15] RyQcan opened #3815 "dont_merge_cookies or dont_send_cookies?"
dont_merge_cookies has some bugs: they say that

But this flag not only prevents merging of cookies, but also prevents sending of them:

`scrapy/scrapy/downloadermiddlewares/cookies.py`
why? it may be a bug,I just want to do not merge cookies,but not to do not send cookies

[2019-06-06 21:46] sortafreel commented on #3804
Working on a pull request to fix it :)

[2019-06-07 01:55] RyQcan commented on #2124
@kmike fix this bug,plz

[2019-06-07 01:57] RyQcan commented on #2124
what can i do now?why don't you fix this bug

[2019-06-07 10:54] Gallaecio commented on #3814
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-07 10:55] Gallaecio commented on #3815
See #2998.

[2019-06-07 13:51] RyQcan commented on #3815
i mean that if i set `dont_merge_cookies=true`, scrapy will dont send any cookie to server.
but i just want to scrapy don't merge my cookies with the response's cookies, and continue to send my cookies to server.
in `scrapy/downloadermiddlewares/cookies.py`

[code]
if set `dont_merge_cookies=true`,scrapy will do nothing

in [issue2124](https://github.com/scrapy/scrapy/issues/2124)
@Ferrer-Jeremy t

[2019-06-07 13:51] YanzheL commented on #2124
The solution provided by @Ferrer-Jeremy seems to work well, but I doubt that cookies passed via constructor parameter `Request(cookies={'currency': 'USD', 'country': 'UY'})` may be overridden by cookie merging when `dont_merge_cookies = False`

It is expected that the cookies passed directly have higher priority than those cookies to be merged.

Does it actually work this way?

[2019-06-07 13:57] #3815 closed

[2019-06-07 13:57] RyQcan commented on #2998
I mean that if i set `dont_merge_cookies=true`, scrapy will dont send any cookie to server.
But i just want that scrapy don't merge my cookies with the response's cookies, and continue to send my cookies to server.
In `scrapy/downloadermiddlewares/cookies.py`

[code]
if I set `dont_merge_cookies=true`,scrapy will do nothing.

in [issue2124](https://github.com/scrapy/scrapy/issues/2124)
@Ferrer-Jer

[2019-06-07 14:09] YanzheL commented on #2124
I don't understand why you say "be better off working on a different issue".

Does it mean that you are going to ignore this bug?

[2019-06-07 14:29] Gallaecio commented on #2124
I meant that, if @venkateshpitta is looking for Scrapy issues to work on but is not yet familiar with the code base, there might be better issues to start with. At the top of the Issues tab there are links to tags assigned to good first issues.

[2019-06-07 21:47] #3572 closed

[2019-06-09 05:12] somaran opened #3821 "Issue with Twisted and Python 3.4"
Twisted had a patch 3 days ago and it's causing test suite to fail for py34 environment.
Twisted , according to their Readme, support Python 3.5+. This needs to be fixed if the builds need to pass

[2019-06-09 21:07] GeorgeA92 commented on #802
I have some thoughts related to this issue.

In general case download slot delay based on `DOWNLOAD_DELAY `and `RANDOMIZE_DOWNLOAD_DELAY `settings values:

https://github.com/scrapy/scrapy/blob/b8594353d03be5574f51766c35566b713584302b/scrapy/core/downloader/__init__.py#L36-L39
In my implementation of per request delays I propose to get delay params from `per_request_delay` meta key from the first

[2019-06-10 14:59] subhamkrai commented on #3777
Hi I would like to work on this issue. I am newbie please describe me.

[2019-06-11 07:49] beausoft commented on #3478
i have the same issue when i use Scrapy send emaill , the email has been sent successfully.

[2019-06-11 13:21] ludongfang opened #3826 "Request url missed tail from #"
I have url like this "https://www.domin.com/productlist#?pl&t=1", when I send the request, "#?pl&t=1" missed. How should I add some settings to ignore the url checking or how should I send the exactly url with "https://www.domin.com/productlist#?pl&t=1".

[2019-06-12 01:53] ludongfang commented on #3826
Oh, shit. This site is a JS rendered page. Using scrapy-splash, resolved it.

[2019-06-12 01:53] #3826 closed

[2019-06-12 10:12] doprdele commented on #2803
Any news on this or workaround?

[2019-06-12 18:39] osjerick commented on #3064
This issue turns the IPython autocompletion an annoying feature. Hope this gets fixed soon.

[2019-06-12 20:40] #3809 closed

[2019-06-12 20:40] #3821 closed

[2019-06-13 15:51] guillaumedsde commented on #781
is this a planned feature?

[2019-06-13 22:43] #3704 closed

[2019-06-14 14:59] Gallaecio commented on #3777
@subhamkrai Thank you very much, however there is already a solution being worked at #3794

[2019-06-14 18:51] heylouiz opened #3828 "Scrapy does not allow using active mode in FTPFeedStorage"
It is not possible to export feeds to a FTP server configured in active mode with FTPFeedStorage.
Scrapy use ftplib and it [uses passive mode by default](https://docs.python.org/3/library/ftplib.html#ftplib.FTP.set_pasv), there is no way to configure this in Scrapy, there is a [setting](https://docs.scrapy.org/en/latest/topics/settings.html#ftp-passive-mode) to enable active mode (or disable passi

[2019-06-14 19:02] heylouiz commented on #3828
I opened a PR to fix this: #3829

[2019-06-15 11:49] ROBERT-MCDOWELL opened #3830 "Scrapy with peer 2 peer search engine"
Does Scrapy data can be used with a p2p search engine? if yes any good open source p2p search engine? thanks

[2019-06-16 05:43] grammy-jiang commented on #3830
Hi, @ROBERT-MCDOWELL

Interesting question, but I don't get your point. Would you please make it more specific?

[2019-06-16 10:47] ROBERT-MCDOWELL commented on #3830
I would like to use a web crawler like Scrapy to get the websites keywords and so on with a search engine,
and use it with a full mesh p2p search engine that will allow each user to connect to a ring and get this data locally and share it itself as a node. but for now I didn't find any web based search engine p2p project, I mean a serverless web application doing that.

[2019-06-16 12:38] hadesfv opened #3831 "how to pass scraped value to pipiline init"
pipepine.py code
[code]

	def close_spider(self, spider):
		self.infile.close()`

How can I pass file_name from the parse to the init of the pipeline, Here is the spider code

[code]

[2019-06-16 13:49] floggle opened #3832 "remove_namespaces method is very slow"
The `remove_namespaces` method of the response selector is really *really* slow.
I'd suggest this should either be documented or optimised.

Examples:
* I was post-processing a bunch of XML files - using this function they took about 2-3 days. Without this function they took less than 20 minutes!

* One of the files I was processing turned out to be a 2.7million line XML file(!). This was running

[2019-06-16 14:03] 0x01h commented on #3486
**scraper/exporters.py**
[code]

**scraper/settings.py**
[code]

This solution worked for me.

[2019-06-17 02:09] WuGUOJ commented on #734
But, I use loader_context , ItemLoader doesn't pass the loader context to input processors.
spiders.py:
`    def parse(self, response):
        list_objs = response.css("div.dy-list>div")

        for li in list_objs:
            i = AutopjtItemLoader(item=AutopjtItem(), selector=li, context="my context")

            print(i.context.items())   #print-1

            i.nested_css("h2>a").add_css("t

[2019-06-17 19:10] chaplin89 opened #3834 "Provide a way to pass meta information to an Item"
Hi,
I'm trying to use the `ImagesPipeline` but I'm not happy with its naming convention.
I've extended `ImagesPipeline `in order to provide an alternate `file_path` method, but now I'm stucked.

The request originate from an `Item` object and I want to save images using a meta-information that is available in the method that build this `Item`.
I was not able to find a way to propagate this informa

[2019-06-17 20:16] chaplin89 commented on #3834
Update:
I've found a way to embed some meta-info inside the item and propagate them to `file_path `redefining `get_media_requests`:
[code]

I'm still wondering if exist a better way.

[2019-06-18 11:26] Gallaecio commented on #3830
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-18 11:28] Gallaecio commented on #3831
Please, use [StackOverflow](https://stackoverflow.com/search?q=%5Bscrapy%5D+pipeline+init) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-18 11:32] Gallaecio commented on #3834
I think your way is OK. In any case, please use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-18 11:51] #3830 closed

[2019-06-19 13:28] BurnzZ commented on #3795
Hi everyone! As discussed, we'll start this one out as a separate Scrapy plugin. I've begun the development in https://github.com/BurnzZ/scrapy-loader-upkeep with the bare minimum working components for the Stats API. Cheers!

[2019-06-20 11:01] mabelvj opened #3836 "Increase verbosity for ItemLoader, Compose and MapCompose errors"
ItemLoader already provides error raising for the case of the output processor:

[code]

It could be helpful to extend this behaviour could to other ItemLoader methods:

- `_process_input_value` for input processors

[code]
- `get_value` for processors that are passed as an argument to `add_css`, `add_xpath` or `add_value`
[code]
Also, `Compose` and `MapCompose` could raise errors occurring while

[2019-06-22 15:41] lx1054331851 opened #3837 "python 3.7.3 ModuleNotFoundError: No module named 'scrapy.dupefilter'"
Under python 3.7.3 run scrapy, error occurred as below:
[code]

[2019-06-22 16:26] #3837 closed

[2019-06-23 17:37] ManarArabi commented on #3033
What did you do

[2019-06-23 19:03] StasDeep opened #3838 "DeprecationWarning in tests"
I'm using `unittest` to create tests for my spiders. Internally, I use `CrawlerRunner` to invoke callbacks.

But every time I launch tests, I get several deprecation warnings.

[code]

[code]

[code]

However, I don't see any of these warning when using any of the `scrapy` commands.

[2019-06-24 15:26] amirduran opened #3839 "Understanding scrapy engine"
This is question to understand deeper scrapy engine. On my server I can run multiple scrapy processes in parallel (we can start it by using scrapy API or just starting two scrapy instances in command line). That sounds good, but let's refer to the following scrapy architecture photo:

![Scrappy arhcitecture](https://docs.scrapy.org/en/latest/_images/scrapy_architecture_02.png)

As far as I can und

[2019-06-24 20:55] GeorgeA92 commented on #3839
According to [scrapy docs (Broad Crawls section) ](https://docs.scrapy.org/en/latest/topics/broad-crawls.html#increase-concurrency):

**X different domains:**

Yes. It is possible with `CONCURRENT_REQUESTS` and `CONCURRENT_REQUESTS_PER_DOMAIN` settings.

    import scrapy

    X = 10
    class SomeSpider(scrapy.Spider):
        CUSTOM_SETTINGS = {
        "CONCURRENT_REQUESTS_PER_DOMAIN":10, #The

[2019-06-25 02:41] zhangshouye0505 commented on #3103
yes, I also have the same problem

[2019-06-25 08:17] amirduran commented on #3839
@GeorgeA92 thank you for answering some questions.
Is there a bit more documentation about scheduler. I'm a bit more interested how exactly scheduler works and how the crawls are parallelised? Where URLs have to be defined so that scrapy will perform parallel requests?

[2019-06-25 11:37] mabelvj commented on #3836
Added error messages to ItemLoader (for input processor, and processor as argument) and also for MapCompose and Compose.

For MapCompose and Compose, I'm not sure though if the format is correct, since these errors will be displayed when processing the input/out processors and they will be nested to these ones, example:
[code]

I would appreciate some suggestions here.

[2019-06-25 14:50] Gallaecio commented on #3839
[StackOverflow](https://stackoverflow.com/tags/scrapy) may be a better place to ask this type of questions.

[2019-06-25 15:19] gingerbeardman opened #3841 "Only first part of paragraph being returned, up until child tag is encountered?"
I am encountering the following type of markup:
[code]

Test page:
https://html.com/tags/sup/

Test query:
[code]

Test results:

Test expected:

Question:

How can I get the full text of the paragraph, ignoring the child tag?

[2019-06-25 19:31] kmike commented on #1878
https://github.com/scrapy/scrapy/pull/3563#issuecomment-505105007 has yet another syntax proposal (haven't thought about it in depth though).

[2019-06-25 19:33] kmike commented on #3258
https://github.com/scrapy/scrapy/pull/3563#issuecomment-505105007 is an idea in a similar direction.

[2019-06-25 20:25] #1422 closed

[2019-06-25 20:42] #3834 closed

[2019-06-25 20:42] #3811 closed

[2019-06-25 20:43] #3800 closed

[2019-06-25 20:44] #3784 closed

[2019-06-25 20:45] #3779 closed

[2019-06-25 20:45] #3831 closed

[2019-06-25 20:46] #3802 closed

[2019-06-25 20:50] kmike commented on #3761
+1 to add dataclasses and attrs support (in separate pull requests), I think it'd be awesome to have support for them.

[2019-06-25 20:55] kmike commented on #3761
https://github.com/scrapy/scrapy/pull/2807 is related, though not the same.

[2019-06-26 01:14] jsvachon2 opened #3843 "Unable to fetch information on Urls that reached the max retries"
I'm getting a lot of 503 from a site I am scrapping with Scrapy and I can't get it to record a list of all the failures. I can always parse the logs at the very end but I'd like to simply requeue the failed URL when needed.

I've enabled the Retry module using RETRY_ENABLED = True and set RETRY_TIMES = 2 for testing purposes.

I've added the from_crawler class method and registered three callbacks

[2019-06-26 04:16] ccc-larc commented on #1015
@elacuesta It can be reproduced by adding some `yield` in `parse()`.

[code]

Output:

[code]

[2019-06-26 09:41] amirduran commented on #3839
Ok, I will ask there.

[2019-06-26 09:41] #3839 closed

[2019-06-26 11:45] mabelvj commented on #3836
I added some tests in `test_loaders.py` for this new functionality.

####  Changes made to previous tests:

Line 485, in `ProcessorsTest.test_compose`

[code]

would raise:

```TypeError: descriptor 'upper' requires a 'str' object but received a 'NoneType'```

Now it raises:

[code]

So I added checking for `ValueError` instead, changing `self.assertRaises(TypeError, proc, None)` for `self.assertR

[2019-06-26 12:16] Gallaecio commented on #3841
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-26 12:16] #3841 closed

[2019-06-26 12:25] Gallaecio commented on #3843
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-06-26 12:25] #3843 closed

[2019-06-26 12:53] Gallaecio opened #3844 "Consider making METAREFRESH_IGNORE_TAGS an empty list by default"
As a way to allow users to fix #1422, #3768 introduced the `METAREFRESH_IGNORE_TAGS` setting.

To keep backward compatibility, the setting was introduced with `['script', 'noscript']` as default value. However, to reproduce the behavior of web browsers, it seems the right value would be `[]`.

Should we switch the default value of the `METAREFRESH_IGNORE_TAGS` setting to `[]`, even though the chan

[2019-06-26 13:59] kmike commented on #3795
FTR, we wanted to move ItemLoaders in a separate repo in past, and even created it: https://github.com/scrapy/scrapy-itemloader. There are two reasons: first is that it is not essential to core scrapy, and second - separate package would allow a separate release cycle, separate list of maintainers, etc. We haven't moved it back then, because ItemLoader requires Scrapy, and Scrapy requires ItemLoad

[2019-06-26 14:01] elacuesta commented on #1015
Hello @ccc-larc, by adding those `yield` statements you are turning the parsing method into a generator, which makes the spider fall under the scope of #220. A fix was merged (#2061) but not yet released, it will be included in the next version.
This is the output I get when running your code with the current `master` branch (c81d120b). Note that the item that was produced before the exception is

[2019-06-26 15:05] kmike commented on #3618
One way to address this problem is similar to https://github.com/scrapy/scrapy/pull/3563#issuecomment-505105007:

[code]

[2019-06-26 17:01] #1138 closed

[2019-06-27 11:13] diemacht opened #3845 "S3FeedStorage should use async IO (like txaws)"
Currently, S3FeedStorage uses io blocking boto library through deferToThread that converts it to deferred.
However, this is not a real non-blocking execution, as the blocking code runs in a separate python thread. Overhead of thread is still significant. Taking into consideration there might be much more than 1 such thread. More about disadvantages of python threads: http://alexeyvishnevsky.com/20

[2019-06-28 06:55] kmike commented on #3504
Fixed by #3505 .

[2019-06-28 06:55] #3504 closed

[2019-06-28 18:41] anthonysanchezmk opened #3847 "can't get sites html"
When I check the response.body from certain sites, like https://spong.com/games-db/browse I only get byte data, as well as the response.text. I've tried response.body.decode('utf-8') and gave me the error  'utf-8' codec can't decode byte 0xe4 in position 4: invalid continuation byte.

[2019-06-28 18:52] dangra commented on #3847
Please, refer to https://scrapy.org/community/ for support queries. thanks

[2019-06-28 18:52] #3847 closed

[2019-06-30 12:18] deanmcginndm commented on #2115
I love you very much because you gave a great answer!!!!

[2019-07-01 00:59] Rama-Alwattar opened #3848 "python kivy apk crashes on start due to arabic-reshaper import error"
I am trying to make an android apk using python3,kivy and buildozer on ubuntu-18.04 LTS to turn on python to an android apk The apk work perfectly on my phone when i don't import arabic_reshaper module

my python code:

[code]
buildozer.spec:

[code]

Does anyone knows a way to make my python application works on android? The apk must contain Arabic.

[2019-07-01 19:41] aerilxx commented on #3103
I cannot even open the site in scrapy shell, i have changed user-agent but still no luck, tried to ues the a virtualenv with 'cryptography<2' (suggesting here https://github.com/scrapy/scrapy/issues/2311#issuecomment-325804964) no luck either. anybody fix this problem yet?

[2019-07-02 12:04] OmarFarrag commented on #3832
Since its implementation is within parsel, this means it can't be optimized, unless it is overrided, and a new implementation is provided, right?

[2019-07-02 12:06] ddebernardy opened #3849 "Scrapy not honoring the Retry-After header when given a 429"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After

To reproduce:

```$ curl -L -I http://reddit.com```

It should yield a 429 at some point, when trying to hit `https://www.reddit.com/`:

[code]

While looking at the [Retry middleware](https://github.com/scrapy/scrapy/blob/master/scrapy/downloadermiddlewares/retry.py) it doesn't seem to even try to honor the retry-after header

[2019-07-02 12:09] ddebernardy commented on #3849
Oh, and, for the note, to overcome the issue with this specific domain, changing the user-agent works, but this leads to 400 headers on other sites.

[2019-07-02 15:08] #3777 closed

[2019-07-02 15:18] #3683 closed

[2019-07-02 17:20] starrify opened #3850 "[DOC] Making it a documented ("officially supported") feature to return deferred from request callbacks."
**1.**
It's been a long time since Scrapy could properly handle request callbacks that return a `Deferred` (e.g. in [version 1.0.0](https://github.com/scrapy/scrapy/releases/tag/1.0.0)).
Such feature is believed to be much helpful in specific use cases, e.g. when the task is CPU-intensive due to massive `lxml` queries performed within a request callback and a developer wants to spread the workload

[2019-07-02 18:26] elacuesta commented on #3832
I'm not familiar enough with this part of the code to suggest performance insights, but for the record, there are sections about this in both [Parsel](https://parsel.readthedocs.io/en/stable/usage.html#removing-namespaces) and [Scrapy](https://docs.scrapy.org/en/1.6/topics/selectors.html#removing-namespaces) docs:

I believe the fact that those sections are also linked from the docs for the `Selec

[2019-07-02 18:27] gingerbeardman commented on #3841
BTW StackOverflow did not yield a solution

[2019-07-03 00:12] GeorgeA92 commented on #3849
@ddebernardy
I think this thing can be implemented after Per request delay implementaion ( https://github.com/scrapy/scrapy/issues/802). Currenly download delay is constant (or randomized (from 0.5x to 1.5x of predefined number)) as single value per DownloadSlot. And at the moment Scrapy doesn't provide any other options to make extra request specific delay than  using `DOWNLOAD_DELAY`setting.

Ac

[2019-07-03 15:48] kmike commented on #3850
As far as I recall, not all request callbacks can return Deferreds, there are some weird rules for this. But I may be wrong :)

[2019-07-03 15:49] kmike commented on #3850
We're going to add official async def support, which would require ensuring that all request callbacks can return Deferreds.

[2019-07-03 16:23] #3783 closed

[2019-07-03 16:23] #3782 closed

[2019-07-03 18:58] ddebernardy opened #3851 "HttpErrorMiddleware not honoring handle_httpstatus_all meta as documented"
[code]

Shouldn't that be more like:

[code]

As I read the code, setting meta['handle_httpstatus_all'] = False would likely be treated as if it was set to `True`.

[2019-07-04 04:27] rowheel opened #3852 "Got no cookie support when using builtin FilesPipeline"
This makes things complicated when the target site requires cookie to download files and I have to implement a parser for this.

[2019-07-04 08:03] kmike commented on #3851
+1 to fix it, though I think current [docs](https://docs.scrapy.org/en/latest/topics/spider-middleware.html#std:reqmeta-handle_httpstatus_all) are technically correct, and match the current behavior:

[2019-07-04 08:04] #3814 closed

[2019-07-04 08:05] kmike commented on #3804
Fixed by #3819.

[2019-07-04 08:05] #3804 closed

[2019-07-04 09:59] ddebernardy opened #3853 "Improve exception logging while using telnet"
I had two scary looking `Unhandled Error` messages in my logs (see below), which after investigation seem to be related to stuff I did while using telnet to check on my crawler.

The first stack trace is likely due to a failed login attempt. The second is likely due to me logging out of telnet (I can't remember if I used `exit()` or `^C` or something else).

I'll know to simply ignore this unhandl

[2019-07-04 10:06] ddebernardy opened #3854 "strip trailing backslashes from domain when redirecting to avoid invalid domains"
To reproduce:
[code]

I presume I can fix it in a downloader middleware, but it should probably get handled by Scrapy.

[2019-07-04 11:26] Gallaecio commented on #3853
@ddebernardy Do you think you could share a simple set of steps to reproduce the issue?

[2019-07-04 11:29] Gallaecio commented on #3854
We should probably try to imitate web browsers here.

[2019-07-04 13:08] ddebernardy commented on #3853
@Gallaecio I'm not 100% sure but I suspect the original post has the relevant details. While a lengthy crawl is ongoing, use telnet, fail to login (likely the first error), and then either trigger a syntax error (possibly the first error if it wasn't login-related), and exit (try with exit(), Ctrl+C, Ctrl+D).

[2019-07-04 17:05] #2253 closed

[2019-07-04 17:07] kmike commented on #3848
Sorry, this issue doesn't seem to be related to Scrapy.

[2019-07-04 17:07] #3848 closed

[2019-07-04 17:18] kmike commented on #3266
https://github.com/scrapy/scrapy/pull/3696 also should solve this, though in a slightly different way.

[2019-07-04 17:19] kmike commented on #1015
Closing it as fixed by https://github.com/scrapy/scrapy/pull/2061.

[2019-07-04 17:19] #1015 closed

[2019-07-05 10:24] oprypin commented on #3217
I think this problem usually happens due to `RedirectMiddleware`.

Full repro:

[code]

Actual:
[code]

Expected:
[code]

I thought, like in the first post, that it's due to

(because that also happens to be true in my case) but it's just a coincidence. I'm quite sure that the logic is sound:

https://github.com/scrapy/scrapy/blob/0007cd032dd74ad1c4cffc7f9a1781609786e547/scrapy/spidermiddlewares/o

[2019-07-05 11:55] #3836 closed

[2019-07-05 12:56] #3746 closed

[2019-07-05 15:46] ddebernardy opened #3855 "Scrapy finding lots of invalid links - could we have functionality to filter them out?"
Using this selector:

[code]

I picked up a lot of spaces, as well as random schemes like `mailto:`, `tel:`, and `javascript:`, which makes me presume there might be a better function. If Link extractors merely are wrappers around the above though, it might be worth adding some kind of option to sanitize link urls. (Perhaps that functionality is buried somewhere in the source code or in a section

[2019-07-05 20:19] GeorgeA92 commented on #1226
Probably the easiest way to implement similar functionality is to merge logic from different Spiders into single Spider class as it mentioned in https://github.com/scrapy/scrapy/issues/2945#issuecomment-332511321

If each of original spiders scrape different domains -> scrapy will create download slot for each domain by default.(or we can manually assign requests to download slots with `download_s

[2019-07-05 20:38] OmarFarrag commented on #3854
@Gallaecio @ddebernardy I can work on this, would check `redirected_url` in `process_response()` in `RedirectMiddleware` class.. If you suggest imitating the web browsers no problem working on that but would need to design an approach and confirm it with you first.

[2019-07-05 21:21] Goldrush12 opened #3856 "Running Scrapy Spider from Script, Using Output in Script Issue"
I want to run multiple spiders from a script and retrieve the output of the spiders to process it inside the script. To accomplish this, I wrote the following code based on a [Stackoverflow thread](https://stackoverflow.com/questions/40237952/get-scrapy-crawler-output-results-in-script-file-function).

The issue I'm facing is that the function spider_results() only returns a list of the last item

[2019-07-07 04:10] elacuesta commented on #3856
That is expected, the return value of the `spider_controller` function is indeed a `Deferred` object. You could write an additional callback that handles the extracted items and add it to the callback chain.
Personally, I think overriding the `CrawlerRunner.crawl` method is not the best approach here, its implementation could change in future releases and you're not calling the parent's implementa

[2019-07-07 16:49] ddebernardy commented on #3854
@OmarFarrag I honestly have no personal say on how it should or whether it even should get fixed, but FWIW on my end I'm going to basically strip the backslash in a middleware so if it gets fixed in Scrapy itself what you suggest sounds right.

Also, fun factoid: Chrome fixes the link, but Safari doesn't.

[2019-07-07 17:38] OmarFarrag commented on #3854
Another thing is that it looks like twisted doesn't allow urls with backslashes :
[code]

So it's not only with redirections, and if this is to be handled, for example convert backslashes to forwardslashes like some browsers, it has to be handled for every request somewhere in the middlewares

[2019-07-08 12:35] lycanthropes commented on #3258
How about the progress now ? I also meet the session problem.

[2019-07-08 13:06] Gallaecio commented on #1404
I’ve just tried to reproduce the issue with both URLs using the following spider:

[code]

I could not reproduce the issue. Whether that’s because of upstream changes in the URLs, because the issue has been fixed already, or both, I don’t know. But we need new steps to reproduce this issue.

[2019-07-08 13:11] Gallaecio commented on #1489
Fixed by #2956

[2019-07-08 13:11] #1489 closed

[2019-07-08 13:22] Gallaecio commented on #1452
Closing because the issue was simply that an old version of a dependency was installed, there’s nothing to change on Scrapy’s side.

Anyone affected in the future should be able to find this issue or https://stackoverflow.com/a/32584004/939364 and learn what the issue is about and how to fix it.

[2019-07-08 13:22] #1452 closed

[2019-07-08 13:38] Gallaecio commented on #1402
Currently such links are ignored:

from scrapy.http.response.html import HtmlResponse
from scrapy.linkextractors import LinkExtractor

[code]

[2019-07-08 13:38] #1402 closed

[2019-07-08 13:47] Gallaecio commented on #1685
@jschilling1 Did this ever got fixed?

[2019-07-08 13:52] Gallaecio commented on #1946
Following the current installation steps from the documentation should work for any Linux distribution, and for both Python 2 and Python 3.

[2019-07-08 13:52] #1946 closed

[2019-07-08 13:53] Gallaecio commented on #1894
Closing due to a lack of feedback.

[2019-07-08 13:54] #2028 closed

[2019-07-08 13:56] Gallaecio commented on #2018
Closing as per https://github.com/scrapy/scrapy/issues/2018#issuecomment-228464421

[2019-07-08 13:56] #2018 closed

[2019-07-08 13:57] Gallaecio commented on #1955
Closing due to a lack of feedback.

[2019-07-08 13:57] #1955 closed

[2019-07-08 14:13] Gallaecio commented on #2104
I cannot reproduce the issue with Scrapy 1.6.

I used the following code:

[code]

Result:

[code]

[2019-07-08 14:13] #2104 closed

[2019-07-08 14:17] Gallaecio commented on #2110
According to the logs of the StackOverflow question, the issue was indeed a timeout exceeding the 1800 timeout set by you.

[2019-07-08 14:17] #2110 closed

[2019-07-08 14:21] Gallaecio commented on #2147
Closing due to a lack of feedback.

[2019-07-08 14:21] #2147 closed

[2019-07-08 14:55] Gallaecio commented on #2435
See #3520.

[2019-07-08 15:00] Gallaecio commented on #2443
I don’t think the `robots.txt` request errback should be handled by the user, I think the middleware should handle it transparently as it currently does.

[2019-07-08 15:09] Gallaecio commented on #2472
Should we close this?

[2019-07-08 15:15] #2240 closed

[2019-07-08 15:18] Gallaecio commented on #2594
Maybe we should write a documentation page on how to use Scrapy with Jupyter Notebook for now.

[2019-07-08 15:21] Gallaecio commented on #2504
Lets get this somewhere in the documentation.

[2019-07-08 16:26] #1739 closed

[2019-07-09 09:27] Gallaecio commented on #3258
@lycanthropes There is currently no one working on this feature.

[2019-07-09 09:27] #1894 closed

[2019-07-09 10:57] Gallaecio commented on #2452
Fixed by #2675

[2019-07-09 10:57] #2452 closed

[2019-07-09 11:02] Gallaecio commented on #2719
Closing since 1 is not a Scrapy issue, 2 is handled in #1343 and 3 seems solved.

[2019-07-09 11:02] #2719 closed

[2019-07-09 11:39] Gallaecio commented on #2824
Fixed by #3284

[2019-07-09 11:39] #2824 closed

[2019-07-09 11:41] Gallaecio commented on #2833
@wangtua1 Can you still reproduce this issue?

[2019-07-09 11:46] Gallaecio commented on #3743
Closing as a duplicate of #2702, lets keep the conversation there. Thanks!

[2019-07-09 11:46] #3743 closed

[2019-07-09 11:49] Gallaecio commented on #2821
Closing due to a lack of feedback.

[2019-07-09 11:49] #2821 closed

[2019-07-09 11:50] Gallaecio commented on #2944
This may be worth adding to the FAQ.

[2019-07-09 11:57] Gallaecio commented on #2855
Closing due to a lack of feedback.

[2019-07-09 11:57] #2855 closed

[2019-07-09 12:50] Gallaecio commented on #3022
You said this is reproducible even with Crawlera. Could you share a code snippet to reproduce this issue, including the target URL that causes the issue, and just leaving out your Crawlera key?

[2019-07-09 13:03] Gallaecio commented on #1802
Closing a per https://github.com/scrapy/scrapy/issues/1802#issuecomment-368413067

[2019-07-09 13:03] #1802 closed

[2019-07-09 13:08] Gallaecio commented on #3169
@hsumerf Shall we close this issue?

[2019-07-09 13:09] Gallaecio commented on #3168
@newthis Did you manage to solve your issue?

[2019-07-09 13:16] Gallaecio commented on #2912
What @kmike describes is the expected behavior, and the actual behavior as far as I can tell. I guess we’ll have to take a close look, maybe even add a test for it.

[2019-07-09 13:26] Gallaecio commented on #3200
@NewUserHa Does https://github.com/rmax/scrapy-inline-requests work for your use case?

[2019-07-09 13:39] Gallaecio commented on #3223
Closing due to a lack of feedback.

[2019-07-09 13:39] #3223 closed

[2019-07-09 13:40] Gallaecio commented on #3192
Closing due to a lack of feedback.

[2019-07-09 13:40] #3192 closed

[2019-07-09 13:44] Gallaecio commented on #3218
Closing due to a lack of feedback.

[2019-07-09 13:44] #3218 closed

[2019-07-09 13:48] Gallaecio commented on #3216
Closing this stale question.

[2019-07-09 13:48] #3216 closed

[2019-07-09 13:52] #3243 closed

[2019-07-09 13:53] #3229 closed

[2019-07-09 13:54] Gallaecio commented on #3225
@xzycn Shall we close this issue then'

[2019-07-09 13:58] Gallaecio commented on #3239
Closing due to a lack of feedback.

[2019-07-09 13:58] #3239 closed

[2019-07-09 14:30] NewUserHa commented on #3200
I had read that project's code. no. it needs a whole right style parse method and is still adding callback on the right place before giving scrapy.

actually, scrapy in the 'google summer cample' is the right way but it seems no one is working on that.

otherwise, it needs more codes and complexity in scrapy, or need to find another framework to use.

thanks for reply.

[2019-07-09 15:11] Gallaecio commented on #3200
Could you provide some pseudo-code of how you would like the API to look like for you?

[2019-07-09 15:22] Gallaecio commented on #3274
I’m closing this issue now.

@dailenspencer If you are still stuck on this, please use [StackOverflow](https://stackoverflow.com/tags/scrapy).

[2019-07-09 15:22] #3274 closed

[2019-07-09 15:22] NewUserHa commented on #3200
I think it's out of scrapy. because it will make it special and might get refused. because scrapy is based on twisted and is all about callback chains.

https://github.com/scrapy/scrapy/issues/3148 the `await/async support` will/should work and slove this problem as well.

[2019-07-09 15:25] Gallaecio commented on #3289
This seems fixed.

[2019-07-09 15:25] #3289 closed

[2019-07-09 15:29] Gallaecio commented on #3200
Are you OK with closing this issue in favor of #3148?

[2019-07-09 15:32] Gallaecio commented on #3301
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-07-09 15:32] #3301 closed

[2019-07-09 15:33] NewUserHa commented on #3200
yes, of course

[2019-07-09 15:33] #3200 closed

[2019-07-09 19:17] elacuesta commented on #3855
Hi @ddebernardy,

Regarding your first example, I'm not sure there's much we can do about it. In the example you're just selecting tags that contain an `href` attribute, regardless of its value. If the source had a `<a href="foo">bar</a>` tag, it would be valid. Note that the [`LinkExtractor`](https://doc.scrapy.org/en/latest/topics/link-extractors.html#module-scrapy.linkextractors.lxmlhtml) class

[2019-07-10 02:32] xzycn commented on #3225
@Gallaecio Sorry for forgetting that,I will close it right now.

[2019-07-10 02:32] #3225 closed

[2019-07-10 06:36] reinoldus opened #3863 "ImagePipeline ignoring alternative S3 urls"
In the FilesPipline the following AWS settings are pulled:

    @classmethod
    def from_settings(cls, settings):
        s3store = cls.STORE_SCHEMES['s3']
        s3store.AWS_ACCESS_KEY_ID = settings['AWS_ACCESS_KEY_ID']
        s3store.AWS_SECRET_ACCESS_KEY = settings['AWS_SECRET_ACCESS_KEY']
        s3store.AWS_ENDPOINT_URL = settings['AWS_ENDPOINT_URL']
        s3store.AWS_REGION_NAME = setti

[2019-07-10 09:42] #3856 closed

[2019-07-10 11:53] Gallaecio commented on #3863
Fixed by #3625 (unreleased)

[2019-07-10 11:53] #3863 closed

[2019-07-10 12:49] lycanthropes commented on #3258
There is just a official solution to this , I found the solution yesterday.

[2019-07-10 12:53] Gallaecio commented on #3258
@lycanthropes Which solution?

[2019-07-10 13:06] lycanthropes opened #3864 "scrapy could not download pdf files completely."
I want to download pdf files from the pdf web links crawled by scrapy spiders, but when I use scrapy.Request (pdf_url) in filespipeline to crawl the pdf web, eventually it downloaded incomplete pdf files. all the pdf files was 1 KB Other than the first few files( which are complete). I had  to use requests.get(pdf_url, stream=True) to download all the pdf files completely, but it is too slow. I wa

[2019-07-10 13:10] lycanthropes commented on #3258
http://doc.scrapy.org/en/latest/topics/downloader-middleware.html#multiple-cookie-sessions-per-spider

[2019-07-10 14:23] Meta-Cortex opened #3865 "Installation errors, pip, python 3.7.4 x64"
I have no idea what is going on. I had no problem with python 3.7.3 32 bits version.
[code]

[2019-07-10 17:45] kmike commented on #3828
Fixed by https://github.com/scrapy/scrapy/pull/3829

[2019-07-10 17:45] #3828 closed

[2019-07-10 17:47] kmike commented on #3140
Even though RoundRobin is not implemented (it turns out to be unnecessary), the issue should be solved by #3520.

[2019-07-10 17:47] #3140 closed

[2019-07-10 17:52] kmike commented on #2474
This is fixed in general by #3520.

[2019-07-10 17:52] #2474 closed

[2019-07-10 18:04] kmike commented on #666
I think the issue was valid - and it can be closed now, as `cb_kwargs` support for Request is implemented (https://github.com/scrapy/scrapy/pull/3563).

[2019-07-10 18:04] #666 closed

[2019-07-10 18:08] kmike commented on #3787
Thanks @insspb! As a part of a cleanup, I'm closing this one :trollface:

[2019-07-10 18:08] #3787 closed

[2019-07-10 18:11] #3720 closed

[2019-07-10 18:12] kmike commented on #3751
I think this one will be rather easy to solve once we have asyncio integration (/cc @wRAR)

[2019-07-10 18:16] #3715 closed

[2019-07-10 18:18] kmike commented on #3713
hey! in modern Scrapy versions you can also just yield dicts, no need to generate items dynamically.  Also, StackOverflow.com is a better place for such questions (use tag "scrapy").

[2019-07-10 18:18] #3713 closed

[2019-07-10 18:18] #3659 closed

[2019-07-10 18:18] #3657 closed

[2019-07-10 18:19] #3651 closed

[2019-07-10 18:19] #3650 closed

[2019-07-10 18:20] kmike commented on #3628
If that's possible to do using stdlib logging module, it would be nice to document how. Pull requests are welcome!

[2019-07-10 18:23] kmike commented on #3593
I think that's a valid concern - set_crawler is deprecated and unused, but Scrapy is not checking it, and not calling it, so user never sees a deprecation warning.

[2019-07-10 18:23] #3584 closed

[2019-07-10 18:26] kmike commented on #3580
@mohmad-null are you sure you're using downloader middleware, not spider middleware (a link to priorities is to spider middleware priorities)?

[2019-07-10 18:28] #3571 closed

[2019-07-10 18:28] #3546 closed

[2019-07-10 18:29] kmike commented on #3546
I'm closing it because the issue lacks details. Feel free to reopen if you think there is a Scrapy bug.

[2019-07-10 18:30] #3483 closed

[2019-07-10 18:33] Gallaecio commented on #3258
That is not exactly what the original suggestion is about. If you read the original suggestion above carefully, you’ll see it mentions that solution already (“Instead of passing a cookie jar ID”).

[2019-07-10 18:43] Gallaecio commented on #3593
As @VMRuiz said, the code should be issuing a warning in Scrapy 1.6. We are actually removing this code in 1.7, and its removal will be covered in the release notes: https://github.com/scrapy/scrapy/pull/3846/files#diff-598c16c78e0faacf69ff9ecf4ab00aa9R253

[2019-07-10 22:54] lycanthropes commented on #3258
Do you mean the classification of @lucywang000 ?

[2019-07-11 04:15] Gallaecio commented on #3258
I mean the [issue description](https://github.com/scrapy/scrapy/issues/3258#issue-322333697).

[2019-07-11 05:31] Gallaecio commented on #3864
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-07-11 05:31] #3864 closed

[2019-07-11 05:33] Gallaecio commented on #3865
Are you following the [recommended installation method for Windows](https://docs.scrapy.org/en/latest/intro/install.html#windows)?

[2019-07-11 07:33] kmike opened #3867 "CONCURRENT_REQUESTS_PER_IP doesn't work properly"
CONCURRENT_REQUESTS_PER_IP doesn't work properly:

* The first seen IP for a domain is remembered forever. It means that by using CONCURRENT_REQUESTS_PER_IP Scrapy can handle virtual hosts properly (many websites on a single ip), but not DNS load balancing (a single website uses several IP addresses).
* It doesn't work properly for first few requests - while IP is not resolved, requests use domain

[2019-07-11 10:30] ddebernardy commented on #3855
Oh, no worries. I was just raising it in a ticket in case anyone thought that some kinds of built-in filters would be welcome to process the most common issues.

In case it helps anyone else, the basic filters I ended up using are:

[code]

I'm less sure about how valid my carriage return and line feed processing is, but here it is as well:

[code]

(In the case of the last two, Safari actually se

[2019-07-11 12:58] kmike commented on #3855
I think for carriage returns one should use [w3lib.html.strip_html5_whitespace](https://github.com/scrapy/w3lib/blob/43fa1cbfde049a77e574c9c4a859af9553046512/w3lib/html.py#L325), or use response.follow instead of using href values directly with scrapy.Request.

[2019-07-11 14:56] mohmad-null commented on #3693
@kmike - Nope, no file uploading. All requests are GET requests.

[2019-07-11 14:58] ddebernardy commented on #3855
@kmike strip_html5_whitespace is not quite enough though:

[code]

[2019-07-11 14:58] mohmad-null commented on #3867
May be an explanation for: https://github.com/scrapy/scrapy/issues/3693

[2019-07-11 15:15] kmike commented on #3855
@ddebernardy hm, I think you're right. When opening in a browser, the newline inside a link is not escaped, but removed:

[code]

and this behavior is actually defined in https://url.spec.whatwg.org/#url-parsing

I think we should modify somee function in w3lib to do the same.

[2019-07-11 15:17] kmike commented on #3867
@mohmad-null for #3693 can you try using CONCURRENT_REQUESTS_PER_DOMAIN instead of CONCURRENT_REQUESTS_PER_IP and check if behavior becomes more reasonable or not?

[2019-07-11 15:23] mohmad-null commented on #3580
@kmike - I'm setting my middleware priorities using the `DOWNLOADER_MIDDLEWARES` scrapy setting.

I've never touched the `SPIDER_MIDDLEWARES_BASE`, and wasn't aware of the difference until your post made me look into it.

[2019-07-11 16:24] elacuesta commented on #3855
@kmike Should that removal be done in `canonicalize_url`? `strip_html5_whitespace` is under the `html` module and this seems more like an URL issue. Also, while strictly speaking `strip` can be interpreted as "remove", usually in the Python context it means taking stuff from the beginning or end; in this case those chars should be removed from the whole thing.

[2019-07-11 16:27] kmike commented on #3855
I'm not sure where it should be done, maybe in safe_url_string. Definitely not in strip_html5_whitespace (because of the reasons you've said), and not in canonicalize_url (this one should be used for url deduplication, urls which pass through canonicalize_url shouldn't be downloaded).

[2019-07-11 16:30] kmike commented on #3855
It's a pity stdlib urllib.parse doesn't support https://url.spec.whatwg.org. I wonder if there is a Python package which supports it properly (maybe https://github.com/scrapy/scurl?). All these fixes in w3lib are hacks and workarounds to a lack of a proper browser-like URL parser.

[2019-07-11 16:38] elacuesta commented on #3855
`scurl` is not (yet?) in use within Scrapy, right? I can draft a PR for `safe_url_string`.

[2019-07-11 17:00] kmike commented on #3855
@elacuesta right! Also, it'd be good to check carefully if safe_url_string is indeed the best place for a fix, e.g. that these newlines are not escaped in some place before even getting to safe_url_string.

[2019-07-11 17:08] kmike commented on #3593
The code never issues a warning, because it is not an user who should call `set_crawler` - Scrapy used to call it. Now Scrapy uses `from_crawler` method instead of `set_crawler`. If user defined `set_crawler` method in a Spider subclass, this method just stopped working as a mean to do some work on spider init, without any deprecation warnings - warning is only displayed when a method is called, b

[2019-07-11 17:43] elacuesta commented on #3855
@kmike please take a look at the above PR.
It seems to me like `safe_url_string` is indeed the place to handle this, since it's the first operation applied to the URL in the `Request` constructor (https://github.com/scrapy/scrapy/blob/1.6/scrapy/http/request/__init__.py#L54-L58)

[2019-07-11 19:15] Gallaecio commented on #3593
It seems it hasn’t been working since [`from_crawler` was introduced in Scrapy 1.0](https://github.com/scrapy/scrapy/commit/84fa004793cb1be07c7a3d0ac6fd80a83b4e8487).

I’ve just added comments to the two only StackOverflow responses to questions tagged with `scrapy` that suggest using `set_crawler`[¹](https://stackoverflow.com/questions/21785352/scrapy-cant-write-to-log-in-spiders-init-method/2179

[2019-07-11 19:21] mntolia opened #3868 "Returned Dictionary From Parse Function Not Getting Stored in the Output"
In my Scrapy spider class, I have several functions to parse different types of URLs. It comes to a point where if a regex search is not found it will call the parse_product() function directly with the current response as a parameter and return the data from that function else it must send a form request with the parse_product() as the callback.

The issue is that the data is not coming in the ou

[2019-07-11 20:16] anubhavp28 commented on #3868
`parse_variation` is a generator function. Inside a generator function, `yield` is used to return values while `return` just causes the generation to stop (function to end). You might get the right result if you change `return data` to `yield data`. I think [Stack Overflow](https://stackoverflow.com/) is a better place for these type of questions than GitHub.

[2019-07-11 20:49] elacuesta commented on #3868
@anubhavp28 is correct. See also
https://github.com/scrapy/scrapy/issues/3484.
@fmntolia if you don't mind, please consider closing this issue, the Github's issue tracker primary goal is to handle bug reports and feature requests. Thanks for your understanding.

[2019-07-11 20:51] #3868 closed

[2019-07-12 02:14] NewUserHa commented on #3593
don't remember, maybe from scrapy's source code or other's comments.
I might open this issue to say `there's old code need to remove`. but it's not in the master branch now.

maybe mistake and this issue can be closed.
thanks.

[2019-07-12 02:14] #3593 closed

[2019-07-12 04:25] H-Hooshmand commented on #2881
@Chloe-Y
Tnx very much. It was very helpful.

[2019-07-12 10:59] nyov opened #3870 "Allow to pass objects in Settings?"
See code example; why can I not reference plain objects into `Settings()`, but need to let Scrapy handle the import magic?
Would it make sense to have this? it seems "unclean" to do this in the usual `settings.py` environment, but in a single-script setup it looks less convoluted than to refer scrapy to import from current module?

[code]

[2019-07-12 11:56] Gallaecio opened #3871 "Deprecate hacky code from get_project_settings()"
[Reported](https://github.com/scrapy/scrapy/pull/3859#issuecomment-510838622) by @nyov:

[2019-07-12 12:03] #1438 closed

[2019-07-12 12:04] kmike commented on #3870
Thanks for bringing it up, I don't think we have a dedicated ticket for this. +1 to add this feature.

It has been discussed in https://github.com/scrapy/scrapy/pull/1215, https://github.com/scrapy/scrapy/pull/1032; I recall https://github.com/scrapy/scrapy/pull/1272/files also has an implementation for this.

[2019-07-12 14:14] nyov opened #3872 "Document changed CrawlerProcess.crawl(spider) functionality in Release notes"
Possible Regression. See explanation beneath spider.

MWE Testcode:

[code]

I just tried this functional (with Scrapy 1.5.1) example script on current master codebase and I got this error:
[code]

Looking at the codebase, blame blames this change: https://github.com/scrapy/scrapy/pull/3610

But that procedure (passing a spider instance as `process.crawl(spider)`) is taken pretty much verbatim fro

[2019-07-12 14:20] nyov commented on #3872
Actually the docs _don't_ pass an object. Huh, strange. I distinctly remember the following to be acceptable. In fact it worked. Is this deprecated style?

[code]

[2019-07-12 15:24] nyov commented on #3870
Oh, now that you bring those links, I faintly remember...
In fact I have been using the same or similar code as in #1032 myself, to work around this issue back in Scrapy 0.24 already. haha:
[code]

@kmike, I see there were some reservations about this in #1215. Would you say they continue to apply?
Or was that only against the use of instantiated objects, not classes per-se?

[2019-07-12 15:29] kmike commented on #3870
It was years ago, but as I recall I had reservations against instantiated objects (they look tricky because they often need to be tied to Crawler, or be created with `from_crawler` method); classes are fine.

[2019-07-12 15:56] nyov commented on #3870
Okay in that case, have fun reviewing once more, in #3873 :)

That one doesn't load instanced objects, if I tried, I'd get
`TypeError: 'LogPipeline' object is not callable`

[2019-07-12 16:14] kmike commented on #3872
It was working only by accident previously: Crawler was not using spider instance you've passed, but instead it was calling spider.from_crawler to create a new instance. It means that if there are e.g. some `__init__` arguments in a spider, they were not preserved. But that's a surprise for me that it worked in simple cases before, I was thinking it is only about providing a slightly nicer error m

[2019-07-13 08:44] mohmad-null opened #3874 "DOWNLOAD_MAXSIZE logger level shouldn't be Error"
When triggered, the `DOWNLOAD_MAXSIZE` setting raises an ERROR level logging event. I don't think it should be at this level. Error is "something went wrong"; I've explicitly told Scrapy I don't want files of this size, so it's not an error to not download them. WARN or even just INFO makes more sense.

I'm logging Error levels and above to stderr so I can keep track of them easily and it's being

[2019-07-13 16:54] Nizarazo opened #3875 "Problem using proxy with scrapy"
Hi

I am having problem using proxy with Scrapy, I have private proxy with HTTPS supported.

I tried with simplest spider without proxy with the following extensions:
EXTENSIONS = {
    'scrapy.extensions.telnet.TelnetConsole': None,
}
SPIDER_MIDDLEWARES = {
    'scrapy_splash.SplashDeduplicateArgsMiddleware': 100,
}
DOWNLOADER_MIDDLEWARES = {
    'scrapy_splash.SplashCookiesMiddleware': 723,

[2019-07-14 08:44] lycanthropes opened #3880 "Does scrapy.Requests has streaming method?"
I want download many PDF files, and I want to use scrapy to complete this task. But I find scrapy couldn't download them completely, there are always 1KB files in the result. So I think it is necessary to use a method such as requests.streaming in requests module.

[2019-07-15 13:00] Gallaecio commented on #3875
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-07-15 13:07] Nizarazo commented on #3875
Hi Gallaecio

I couldn't find an answer to my question even I searched for a solution over google widely.
Can you help me out?

[2019-07-16 17:01] kmike commented on #3838
Some of these warnings should be fixed in #3877.

[2019-07-16 17:02] kmike commented on #3880
Yes, that'd be a great feature to add.

[2019-07-16 17:03] kmike commented on #3874
Sounds good; pull requests are welcome.

[2019-07-16 17:12] andrewbaxter commented on #3258
Hey, I'd like to add some notes from internal discussion with @raphapassini about sessions here too:

- Need to make some "session setup" requests when the cookie jar is empty or a new ip is used to set up a session, get some standard cookies, etc

- Requests might need to be sent 1. in the current session (if cookies are needed for the request to pass or the request is dependent on some other pri

[2019-07-17 00:05] elacuesta commented on #3838
I think this is a duplicate of #3288

[2019-07-17 00:22] elacuesta commented on #3288
I find this somewhat frustrating. I could not find any release notes for v16.7.0 talking about this deprecation, in fact there is no mention of "16.7.0" in https://github.com/twisted/twisted/blob/trunk/NEWS.rst and https://twistedmatrix.com/documents/current/api/twisted.web.client.HTTPClientFactory.html says nothing about it being deprecated.
And the warning just says "X was deprecated: please use

[2019-07-17 05:43] Gallaecio commented on #3288
I believe this is the point before the last of the [deprecation list of Twisted Code 17.1.0](https://github.com/twisted/twisted/blob/trunk/NEWS.rst#deprecations-and-removals-11). It’s easy to miss because it does not mention the factory at all.

You can see the [8960](https://twistedmatrix.com/trac/ticket/8960) ticket in their issue tracking system for additional information, although the actual p

[2019-07-17 05:49] Gallaecio commented on #3838
Let’s close this since #3877 fixes the first warning and #3288 covers the other two already.

[2019-07-17 05:49] #3838 closed

[2019-07-17 07:26] vionemc commented on #3065
Is it possible to just create a setting to turn off security on some? Sometimes we are scraping sites that are our partner and of course we trust each other. There is no need for security.

[2019-07-17 08:38] Gallaecio commented on #2717
Closing since this [has been fixed in Twisted 18.4.0](https://twistedmatrix.com/trac/ticket/9210).

[2019-07-17 08:38] #2717 closed

[2019-07-17 12:00] JayDi85 commented on #3865
Howto fix:
* Download "Build Tools for Visual Studio 2019" (you can [find it here](https://visualstudio.microsoft.com/downloads/) under Tools for Visual Studion 2019);
* Install components:
  * SDK for Windows 10 (select latest version);
  * CPP compiler 142 (do not install version 140/14.0 -- it's not supported by Twisted despite logs suggestion);
* Run `pip install scrapy`;

[2019-07-18 01:26] lycanthropes commented on #3880
That is good. Thank you for listening to my advice ,and I am looking forward to it.

[2019-07-18 07:13] 991rajat commented on #3874
Is this Open?

[2019-07-18 10:13] serhii73 commented on #3865
@Meta-Cortex
1. Install anaconda - https://docs.anaconda.com/anaconda/install/windows/
2. `conda install -c conda-forge scrapy`

[2019-07-18 10:29] phoenikx commented on #3628
I am working on this, will raise a pull request

[2019-07-18 13:37] #3872 closed

[2019-07-18 17:06] vg2768 commented on #3865
C:\WINDOWS\system32>pip install Scrapy
Collecting Scrapy
  Using cached https://files.pythonhosted.org/packages/41/c4/8d0e28a7c5e9ed97523b809e29ca7c2824894553f1ba2c811b3e920c92fe/Scrapy-1.7.1-py2.py3-none-any.whl
Collecting Twisted>=13.1.0; python_version != "3.4" (from Scrapy)
  Using cached https://files.pythonhosted.org/packages/79/59/035de19362320e632301ed7bbde23e4c8cd6fc5e2f1cf8d354cdba857854

[2019-07-18 19:48] WinterComes commented on #3874
Could you take a look at my last PR please, I hope I get it right.
Sorry for a little mix-up with yesterday PRs. I was scared of a failed tests, haha

[2019-07-19 05:34] rachelroll commented on #942
@kmike Hi, I just installed the latest version of scrapy, but there is not log.py in  "/usr/local/lib/python3.7/site-packages/scrapy". So I still got the error: ImportError: cannot import name 'log' from 'scrapy' (/usr/local/lib/python3.7/site-packages/scrapy/__init__.py). Could you pls help with it.
I appreciate that very much.

[2019-07-19 11:19] kmike commented on #942
@rachelroll scrapy.log module has been removed in 1.7 version, after a long deprecation period. Please switch to stdlib logging.

[2019-07-19 12:52] mjpieters opened #3888 "Exporters should support nested scrapy.Item objects"
If you were to build a nested `scrapy.Item` structure, such as:

[code]

one might expect the field configuration for `Bar` to be honoured when exporting. Unfortunately, that's not the case:

[code]

produces

[code]

I worked around this [for this Stack Overflow question](https://stackoverflow.com/q/57110413/100297) by subclassing the exporter and passing along enough information to the serialize

[2019-07-19 15:31] kmike commented on #3888
Makes sense :+1:

[2019-07-19 18:52] Hiroki111 opened #3889 "Installing on CentOS7 (Python 2.7.5)"
I've run `pip install scrapy`, but it doesn't seem that this has been installed properly.

Now when I ran `scrapy` on CLI, it ends up in the following message.

[code]

I googled `configparser`, and apparently this used to be called `ConfigParser`.

Has anyone seen this issue?
Any advice will be appreciated.

[2019-07-20 02:09] marsam commented on #3889
addressed by https://github.com/scrapy/scrapy/pull/3887

[2019-07-20 12:43] rvxy commented on #3865
Installing SDK for Windows 10 and C++ build tools fixed this for me.

[2019-07-20 17:34] elacuesta commented on #3889
Hello @Hiroki111, please see my explanation at https://github.com/scrapy/scrapy/pull/3887#issuecomment-513484840.
As a temporary workaround, I believe you should be able to make it work by installing the `configparser` backport (https://pypi.org/project/configparser/)

[2019-07-22 03:48] Kenith opened #3893 "[Bug] 1.7.1 not support 1.6.0 script"
Hello All,

My spider is created by scrapy 1.6.0.
These days, the scrapy updated to 1.7.1, and we found that it cannot support the code build by 1.6.0.

Here is the error:
[code]

Would you please take time to check the issue?

Appreciate for your help in advance.

Thank you.

[2019-07-22 15:41] elacuesta commented on #3893
Hello @Kenith, this has been reported already at #3889
As I commented there, if you can install additional dependencies you can work around the issue by installing the backported version (https://pypi.org/project/configparser/).
If you don't mind, please consider closing this issue as it is a a duplicate of #3889. Thanks!

[2019-07-22 16:24] MercurialMind commented on #3888
This is helpful thanks!

[2019-07-22 16:51] rorat23 opened #3895 "ImportError"
!scrapy startproject stack
whenever i run this code in jupyter i get the error:

Traceback (most recent call last):
  File "C:\Users\Rohan\Anaconda3\Scripts\scrapy-script.py", line 10, in <module>
    sys.exit(execute())
  File "C:\Users\Rohan\Anaconda3\lib\site-packages\scrapy\cmdline.py", line 149, in execute
    cmd.crawler_process = CrawlerProcess(settings)
  File "C:\Users\Rohan\Anaconda3\lib

[2019-07-22 18:16] elacuesta commented on #3895
Hello! Please check the Windows-specific notes at https://doc.scrapy.org/en/latest/intro/install.html#windows

It seems to me like the problem is that some system libraries (DLL files) used by the `OpenSSL` bindings are missing in the system. You might want to take a look at https://wiki.openssl.org/index.php/Binaries.

Are you able to run `scrapy version --verbose`?

Disclaimer: I don't have any

[2019-07-22 20:15] vaibhavhrt commented on #2425
SPA React/Angular apps will use API, you just need to figure the API endpoints and data they return (use network tab of your browser's devtools), then you can just hit those endpoints(even without scrapy) and have json data.

[2019-07-22 21:47] elacuesta opened #3897 "ItemLoaders can break if instantiated with pre-populated items"
Before I start, I know item loaders have been a big source of discussion for a long time; I'm only opening this issue because the latest release breaks some of our spiders.

In one of our projects, our [Autounit](https://github.com/scrapinghub/scrapy-autounit) tests fail under 1.7.1 due to some item loaders which are created from partially populated items. I suspect the relevant change is #3819 (w

[2019-07-23 00:52] sortafreel commented on #3897
Looks like a fine idea. Some tests needed to be sure.

[2019-07-23 05:45] Kenith commented on #3893
Hello @elacuesta , really appreciate for your time and effort.
I closed the issue. Thank you.

[2019-07-23 05:45] #3893 closed

[2019-07-23 09:59] #3889 closed

[2019-07-23 10:04] rorat23 commented on #3895
No I am not able to run scrapy version --verbose I am getting the same error as mentioned above. Please help me I need it

[2019-07-23 12:57] vipulgupta2048 commented on #2881
For Ubuntu folks, trying to follow how-to fix this --> [Check this]( https://mixstersite.wordpress.com/2019/07/23/errorbuilding-wheel-twisted-install-scrapy-ubuntu-18-04/)

[2019-07-23 19:11] andrewbaxter commented on #3897
So to summarize my understanding:

- Before, the base item's fields were ignored and when doing `load_item` they'd be replaced wholesale
- With the new change, the item's fields are also `add`ed to the item, where they pass the input + output processors and will also naturally be combined with other added values before replacing the original value in `load_item`
- With the suggested change in this

[2019-07-23 20:40] #3616 closed

[2019-07-23 20:45] #2111 closed

[2019-07-24 06:38] andrewbaxter commented on #3897
What about leaving the old behavior for `item=` and make a new parameter called `seed=` or `initial=` or something which does the `_add_value` thing?

[2019-07-24 08:47] EverydayLearning commented on #3478
self._send_mail(body,subject).addCallback(lambda x: x)

[2019-07-24 09:04] serhii73 opened #3900 "Change `FEED_URI` in spider to a value that depends on the argument passed"
Hello everyone.
I have a question.
I have a simple scrapy project.
I run my project like:
[code]
In
[code]
I get argument value like:
[code]
In `seetings.py` I can add a line like:
[code]
And information about need city will be saved in `output/some_city.csv` file.
##### Problem
But if I will be pass different cities like arguments to my spider, like:
[code]
then
[code]
then
[code]
etc
All informa

[2019-07-24 10:30] joyang1 opened #3901 "I do't known how to continue?"
[code]

When my project is running, there is no problem at first. After the scrapy prints the log above all the time, I don't know what happened inside. What should I do?

[2019-07-24 23:48] lycanthropes commented on #345
Hi, everyone, now I also met this problem.  My goal is to download pdf files from websites ( such as "http://114.251.10.201/pdf/month?reportId=462837&isPublic=true") ,but I can not download these pdf files completely with scrapy downloadmiddleware  ( using this method, I found the size of many pdf files downloaded is 1KB ), so I turned to stream method in requests.get function [[https://github.com

[2019-07-25 00:59] OmarFarrag opened #3902 "Can't view pdf response in browser"
**To reproduce:**
[code]

**The result:**
[code]

******************************************************************************************************
This issue can be fixed in `open_in_browser` in `scrapy\utils\response` by either:

1. checking the content type in the headers to be `application/pdf`, if so then the extension is `.pdf` and the process continues
2. Creating a pdf response class

[2019-07-25 06:14] imfht commented on #3901
Possibly, scrapy is fall in `download -> waiting response(MAX_WAIT_TIME eg:60s) -> timeou -> retry`.
Try increase download timeout and disable retry.
Hope it helps ;-D

[2019-07-25 06:18] imfht opened #3903 "Can I get remote server's ip address via response?"
Can I get remote server's ip address via response?
For some reason. I'll need get remote site's ip address when parsing response. I looked the document but found nothing.
Any one know that?
Thanks!

[2019-07-25 06:25] joyang1 commented on #3901
but I set RETRY_TIMES=0.

[2019-07-25 06:28] imfht commented on #3901
Try decrease timeout and have a try.
I think it cause because network problem.

[2019-07-25 21:20] davkuyek opened #3904 "S3FilesStore has incomplete header to botocore mapping"
If botocore is installed, Scrapy's [S3FilesStore](https://github.com/scrapy/scrapy/blob/9c514b976ffdf069b81c4b7728a7e8e531710680/scrapy/pipelines/files.py#L80) allows a limited number of headers to be applied when persisting files to S3. The headers are [converted](https://github.com/scrapy/scrapy/blob/9c514b976ffdf069b81c4b7728a7e8e531710680/scrapy/pipelines/files.py#L175) to their botocore s3 pu

[2019-07-26 01:32] lucywang000 commented on #3904
I just submitted a fix in https://github.com/scrapy/scrapy/pull/3905

[2019-07-27 06:28] sbs2001 opened #3906 "_monkeypatches.py has some code that can be deleted"
I  may be wrong but,let me explain:
In our __init__.py code we are terminating the program if the Python version is less than 2.7
After that we are applying monkeypatches, which  again checks for Python version(if it is Python 2.x it applies some tweaks to fix some bugs).

What's the point of checking of  the python version again  in monkeypatches if we already know it is greater than 2.7?

[2019-07-28 12:28] #3906 closed

[2019-07-28 14:36] hindkhayati commented on #3322
Python 3 is not supported on Windows. This is because Scrapy core requirement Twisted does not support Python 3 on Windows.

[2019-07-29 06:33] sbs2001 commented on #3902
Just added a PR to fix this  for awhile.PDF,MP3 etc can be viewed in browser but I don't think we can 'scrap' a pdf therefore the devs might have ignored these.Anyway looking forward to feedback.

[2019-07-29 07:46] viridityzhu commented on #2578
I am here with the same problem. Maybe here is an example of raising CloseSpider in MW: I write an MW to get a proxy IP from the database, however, when the database remains no proxy IP, I want the spider to close immediately.

Is this feature implemented? How can I handle this?

[2019-07-29 08:27] OmarFarrag commented on #3902
@sbs2001 Thank you for your effort and considering this issue. But, I think checking for specific types is better than blindly setting the extension from the url, for example checking if the `Content-type` header, and setting the supported extensions accordingly. Anyway, I was working on Refactoring this function in PR[#3909](https://github.com/scrapy/scrapy/pull/3909) where migrated extension rev

[2019-07-29 10:12] mredaelli commented on #2077
Thanks to @rampage644 I found out that my spider started going OOM because of a sudden increase in logging.

I am a bit surprised, though: what is the behaviour of logging in scrapinghub? Is the output stored in RAM? If so, why?

[2019-07-29 13:03] sbs2001 commented on #3902
You are correct my approach is likely prone to many bugs I am not aware of.  Anyways I was trying to understand your first  suggested approach. You have mentioned  the 'content-type'  which I assume to be the one  present in  HTTP response header. Is my assumption correct?

[code]
So basically we will check the 'content-type' from  the response header and then set the extensions accordingly. Am I

[2019-07-29 13:08] sbs2001 commented on #3902
Also if it helps, I found on internet that every PDF begins with '%PDF'.I confirmed that on a hex editor.

[2019-07-29 17:02] #3904 closed

[2019-07-29 21:04] OmarFarrag commented on #3902
@sbs2001 Yes, the 'content-type' header was what I meant

[2019-07-29 21:49] rennerocha opened #3912 "Install on Python 3.4 is failing"
[lxml 4.4.0](https://pypi.org/project/lxml/4.4.0/) dropped support for Python 3.4 so installing Scrapy using `pip install Scrapy` is failing.

[code]
Using [lxml 4.3.5](https://pypi.org/project/lxml/4.3.5/) works fine.

[2019-07-30 09:33] serhii73 opened #3914 "block comment should start with '# '"
`scrapy startproject` creating a scrapy project with settings.py. In this file broken pep8 rule.
[code]

https://www.python.org/dev/peps/pep-0008/#block-comments

Inline comments should be separated by at least two spaces from the statement

[2019-07-30 09:39] MikhailKavaliou opened #3916 "Parsing the robots.txt in RobotsTxtMiddleware should skip the asterisk symbol at the end."
The RobotsTxtMiddleware is enabled with the ROBOTSTXT_OBEY=True.
Nonetheless, the built-in filter in the middleware passes URLs, that are basically disallowed.

For example there is the robots.txt rules like the following:
[code]

In this case, all /beta/ links will be ignored as expected, but the 2 next rules do not filter correct URLs, because the asterisk at the end is interpreted as a symbol t

[2019-07-30 10:15] Gallaecio opened #3917 "Work around tox #1369"
The Jessie build is affected by https://github.com/tox-dev/tox/issues/1369, which may be hiding a different issue.

[2019-07-30 10:16] Gallaecio commented on #3917
This seems to be the only remaining persistent CI issue at the moment after #3913 is merged.

[2019-07-30 13:47] wRAR commented on #3917
The Jessie build started failing after the base image switched to xenial, as can be seen in travis job logs. A manual run shows that cryptography 0.6.1 can't be built with xenial's OpenSSL.

[2019-07-30 17:45] yfgu opened #3921 "How to provide data to other appⅠication"
After saving data into db，how does scrapy provide data to  other appⅠication.Do l need to write another web appⅠication to provide open api？

[2019-07-30 19:14] anubhavp28 commented on #3916
Scrapy uses Python's inbuilt robots.txt parser - [RobotFileParser](https://docs.python.org/3/library/urllib.robotparser.html). It does not support wildcards such as `*` and `$`. Hence the problem you experienced. An interface for robots.txt parser which would allow substituting a more compliant parser is WIP (https://github.com/scrapy/scrapy/pull/3796).

[2019-07-30 19:57] anubhavp28 commented on #3903
You could use the `url` property of the [Response](https://docs.scrapy.org/en/latest/topics/request-response.html#response-objects) object, pass it to [urllib.parse.urlparse](https://docs.python.org/3/library/urllib.parse.html#urllib.parse.urlparse) fuction to obtain the domain name. Then you can pass the domain to [socket.gethostbyname](https://docs.python.org/3/library/socket.html#socket.gethost

[2019-07-30 20:21] kmike commented on #3917
I think we may pin tox version in the meantime.

[2019-07-30 20:26] anubhavp28 commented on #3921
Yes, you would need to create a web server to serve you data over the internet. Scrapy is a web crawling and scraping framework. It can't help you with that.

[2019-07-30 20:44] sortafreel commented on #3897
Sorry for not answering, was quite ill (dentist), will look through it carefully next 3-5 days. Thank @andrewbaxter for the detailed vision :)

[2019-07-31 01:47] dangra commented on #3917
Not sure if it is clear what version of tox broke the build, it looks like the tox bug has been there for a long time and Travis-ci switch to Xenial just uncovered it.

My understanding after reading @wRAR's comment and travis-ci blog is that distribution should be pinned to `trusty` in `.travis.yml` for 1.7 branch.

For 1.8+, minimum version will be upgraded to Xenial (by dropping Jessie and simi

[2019-07-31 04:51] dangra commented on #3917
Fix proposed at https://github.com/scrapy/scrapy/pull/3923

[2019-07-31 05:09] MikhailKavaliou commented on #3916
@anubhavp28 Thanks for letting me know.
So far I use a workaround parsing the robots.txt rules manually and skipping disallowed URLs in a custom middleware.

[2019-07-31 05:45] My-captain opened #3924 "command: scrapy crawl XXX, has started wrong spider"
I have 2 spiders in my scrapy project, one is 'metalnews', the other is 'metalnewshistory'.
However, when I run the command: scrapy crawl metalnewshistory, It's run the 'metalnews' spider.
How can I solve the situation?
MetalnewsHistory.py
![image](https://user-images.githubusercontent.com/18298526/62186584-61947c00-b399-11e9-86d7-bd095d026493.png)
MetalnewsSpider.py
![image](https://user-images.g

[2019-07-31 12:49] anubhavp28 commented on #3916
@MikhailKavaliou if you don't mind, please consider closing this issue.

[2019-07-31 13:12] #3916 closed

[2019-07-31 15:04] Urahara opened #3926 "Enable override signal handlers"
I read the docs and i see the only method that exists is "spider_closed" but this is executed after the termination , i want to ignore signal and keep my spider running?

Output when i run  ```kill -TERM {spider_pid}``` command:

Diging a lit bit i found out that crawler.py file its where the signals are handled.

https://github.com/scrapy/scrapy/blob/0d51f9cc276fc6acaa815ee6d8af4e770a3ef9cf/scrap

[2019-07-31 15:07] #3917 closed

[2019-07-31 17:54] elacuesta commented on #3914
This is known, please see #3697

[2019-07-31 17:59] elacuesta commented on #3924
Have you renamed the files recently? I wouldn't bet on it, but this _could_ be the result of residual `pyc` files in the project. Besides that, could you provide some output from the command? Please post as text, not screenshot.

[2019-07-31 19:04] serhii73 commented on #3914
Thank you very much @elacuesta !

[2019-07-31 19:04] #3914 closed

[2019-07-31 20:06] #3926 closed

[2019-08-01 09:07] Gallaecio commented on #3875
@Nizarazo May this be a duplicate of #1855?

[2019-08-01 09:09] Gallaecio commented on #3895
@rorat23 Did you install as described in https://doc.scrapy.org/en/latest/intro/install.html#windows?

[2019-08-01 09:13] Gallaecio commented on #3900
Duplicate of #2392

[2019-08-01 09:13] #3900 closed

[2019-08-01 09:14] Gallaecio commented on #3865
What error do you get when installing with anaconda?

[2019-08-01 09:15] Gallaecio commented on #3901
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-01 09:15] #3901 closed

[2019-08-01 09:20] Gallaecio commented on #3912
Fixed in https://github.com/scrapy/scrapy/pull/3918

[2019-08-01 09:20] #3912 closed

[2019-08-01 09:32] Gallaecio commented on #3903
I don’t think this is possible at the moment, but it sounds like a valid feature request.

[2019-08-01 09:34] #3921 closed

[2019-08-01 09:41] Gallaecio commented on #3046
Fixed by #3819, as @elacuesta mentions in #3897.

[2019-08-01 09:41] #3046 closed

[2019-08-01 09:42] #3924 closed

[2019-08-01 14:10] alexmoreno548 commented on #2563
this command solved my problem @duzhor

[2019-08-02 15:52] bezkos opened #3928 "Save images on remote server"
I want to save images on a remote server via (FTP?). Is this possible with scrapy?
(I know about S3 or Google but i mean in a custom FTP server).

[2019-08-02 17:13] noviluni opened #3929 "JSONRequest naming issue"
A few months ago `JSONRequest` was added to Scrapy (https://github.com/scrapy/scrapy/pull/3505) and released with the new Scrapy version 1.7.

However, I realized that the name is not in accordance with the rest of the classes: `HtmlResponse`, `XmlResponse`, `XmlRpcRequest`.

It should be named:
`JsonRequest`.

I know it isn't backward-compatible, but as it's a really recent addition and Scrapy 2.

[2019-08-02 20:10] anubhavp28 opened #3931 "Using separate user agent for robots.txt"
The current implementation of `RobotsTxtMiddleware` ([link](https://github.com/scrapy/scrapy/blob/master/scrapy/downloadermiddlewares/robotstxt.py)) uses `USER_AGENT` setting and `User-Agent` header of the request to determine the user agent to use for matching in `robots.txt`. There is no easy way for a user to send one user-agent header value but have a different user agent string evaluated to d

[2019-08-03 22:01] Nizarazo commented on #3875
Hi

I tried the to solution described in #1855 it didn't solve the problem plus I tried the following solution described here:
https://support.scrapinghub.com/support/solutions/articles/22000219743-using-a-custom-proxy-in-a-scrapy-spider

I get the same error with wrong version number

I tried to use curl with the proxy I get the following:
curl -x https://username:password@proxyip:proxyport -L ht

[2019-08-04 09:45] RaoTauqeerSajid commented on #2431
I have this same issue with
scrapy version: 1.7.2
python version: 3.7.4
platform: Windows 10 pro 1809

The HTML text in the response from scrapy is different from the one obtained with requests.Session.get

[2019-08-04 23:27] tonylin75 opened #3936 "Why is Scrapy constantly increasing memory usage?"
I have a scraping project used scrapy and it will continuously run, meaning when it's finished, I have a script to make it run again.
It takes about 10 hours to finish a round and the memory increases by 100mb and not released after it.
I used `JOBDIR` it helps with the speed but no luck for solving the memory issue.
Here's what I have got for the spider:

[code]

I couldn't see I got anything lea

[2019-08-04 23:28] Colafroth commented on #3936
TBH I don't think it's issue for the code I put here. I have tried every possible way and it still exists. I seen some other people suffer from same issue and they didn't find the solution. At least, is there a way that once the scraping completes, it (scrapy or reactor) can release the memory and then I can start again?

[2019-08-05 04:21] tuanthank commented on #2881
ERROR: Twisted-19.2.1-cp37-cp37m-win_amd64.whl is not a supported wheel on this platform.

[2019-08-05 06:18] samhaldia commented on #2881
@tuanthank
You need to download Your Python version and Platform specific Twisted-19.2.1-cp37-cp37m-win_amd64.whl.whl file, for ex. cp37 here is for Python 3.7 and win_amd64 is for 64 bit OS. Use the Twisted whl file accordingly

[2019-08-05 06:23] tuanthank commented on #2881
Thanks @samhaldia
I have installed scrapy 1.7.3 but can not startproject.
The error message is "'scrapy' is not recognized as an internal or external command,
operable program or batch file"

[2019-08-05 06:33] imfht commented on #3903
Thanks @anubhavp28 .
I don't think it is the right way to get remote ip in scrapy
get_host_by_name cause another new dns resolve. Actually we've got remote ip in scrapy.
class `CrawlerProcess` has an [built-in dnscache](https://github.com/scrapy/scrapy/blob/8e813953bd4b25b60d30981a948e48fee43f8dad/scrapy/resolver.py#L10) object but we can not get it in pipeline.

[2019-08-05 06:39] Gallaecio commented on #3929
_Maybe_ we should consider renaming the other 3 instead to [comply with PEP8](https://stackoverflow.com/a/2853609).

[2019-08-05 08:49] FredRF commented on #2881
Hi @tuanthank

Provided that you followed @samhaldia instructions, if you still get the error you mention above, you may need to [add "scrapy" to your environement variables](https://www.architectryan.com/2018/03/17/add-to-the-path-on-windows-10/). After doing that, re-open your command line for the changes to make effect.

[2019-08-05 10:51] elacuesta commented on #3936
Hello there, have you tried http://doc.scrapy.org/en/latest/topics/leaks.html? I'm not saying it's not a problem within Scrapy, but it might be better to check the spider code first.
Also, is the indentation correct in the code you posted? Nested functions are a somewhat common thing in Python, but the fact that three callbacks are intertwined with a `for` loop, and that all of that is within a `w

[2019-08-05 11:13] Gallaecio commented on #3928
https://docs.scrapy.org/en/latest/search.html?q=ftp&check_keywords=yes&area=default

[2019-08-05 11:17] Gallaecio commented on #3931
I think `ROBOTSTXT_USER_AGENT` makes sense, falling back to the current behavior when undefined.

As for the meta key, although I proposed it, I’m not sure it’s worth it.

[2019-08-05 11:26] bezkos commented on #3928
I dont think scrapy support saving files, images to FTP servers except S3 or Google.
To achieve that, i patched files.py, images.py and pipelines.py and created a new class FTPStore.

[2019-08-05 11:35] Gallaecio commented on #3928
Sorry, I missed the ‘images’ bit :man_facepalming:

[2019-08-05 13:44] hermit-crab opened #3938 "Incorrect deprecation warning on S3FeedStorage"
Good day. Recently upon switching from 1.5 to 1.6 I started getting this warning:
[code]
https://github.com/scrapy/scrapy/blob/master/scrapy/extensions/feedexport.py#L106
Project does have AWS credentials properly set in settings. This warning happens due to S3FeedStorage being initialized twice:
1) https://github.com/scrapy/scrapy/blob/master/scrapy/extensions/feedexport.py#L209 this check initia

[2019-08-05 14:31] sbs2001 commented on #3853
@Gallaecio  failing to login has nothing to do with the error. exit() is generating the error @ddebernardy  has mentioned about. Also Ctrl+Z is generating an error which is different than the one mentioned by @ddebernardy .

The errors:
[code]

Ctrl+Z

[code]
To reproduce:
Create any basic spider. Login from the telnet , enter exit() to get the first error. CTRL+Z to get the latter.
Here's my spid

[2019-08-06 01:22] actonsys commented on #3938
Same issue to me.

[2019-08-06 12:22] webtekindo commented on #3928
Hi @bezkos, We are also looking for the same kind of solution, do you mind sharing your class FTPStore ? That will be very helpfull :-)

[2019-08-06 15:40] amarynets commented on #3148
Are any updates/progress here?

[2019-08-06 15:41] kmike commented on #3148
@amarynets: @wRAR is working on it.

[2019-08-06 15:41] starrify opened #3942 "Drop support of Python 3.4?"
Python 3.4 has now [reached its end-of-life](https://www.python.org/downloads/release/python-3410/).

Also Twisted has dropped support of Python 3.4 [since version 19.7.0](https://github.com/twisted/twisted/blob/trunk/NEWS.rst#deprecations-and-removals)

This is also believed to be the cause of recent CI build failures ([one example](https://travis-ci.org/scrapy/scrapy/builds/568395165?utm_source=

[2019-08-06 15:45] rennerocha commented on #3942
It will be dropped in the next release:
https://github.com/scrapy/scrapy/pull/3892

[2019-08-06 15:48] starrify commented on #3942
Thanks @rennerocha ! I searched for "3.4" but not "py34" before creating this issue. :sweat_smile:

[2019-08-06 15:48] #3942 closed

[2019-08-06 20:11] stygmate commented on #2905
@elacuesta seems to work.

[2019-08-07 10:07] noviluni opened #3944 "Addressing PEP8 by including pytest-flake8"
As mentioned in the Scrapy **Coding Style** section in the docs (https://docs.scrapy.org/en/master/contributing.html#coding-style) :

However, it’s known that the current codebase has a lot of parts that don’t respect PEP8 guidelines (https://github.com/scrapy/scrapy/issues/2144).

I know that it’s difficult to address that, as it involves a lot of code to be reviewed but, however, the more time w

[2019-08-07 10:14] noviluni commented on #3944
What do you think?? I’ve been evaluating other possible solutions and I’ve seen that `scikit-learn` uses a pipeline to check flake8 against the new/diff lines with a bash script https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/circle/flake8_diff.sh but it seems really hard to mantain.

[2019-08-07 10:19] noviluni commented on #3929
@Gallaecio Totally agree with you. We should decide what to do:
* to change it or not

If we decide to change it:
* to follow PEP8 or not

I have just opened an issue regarding PEP8: https://github.com/scrapy/scrapy/issues/3944. Maybe it should be addressed before deciding the second question.

[2019-08-07 18:54] HassanQamar07 opened #3947 "set/inc stat values when exporter extension exports the data successfully"
There are no stat values set when a file is uploaded to FEED_STORAGE or not. If there are some stats values set then it would be helpful to implement https://github.com/scrapinghub/spidermon/issues/196

[2019-08-07 19:48] natescrape opened #3948 "Counting links with scrapy"
I am trying to work out how to count the number of times a word occurs on a site. I have got to the following code, which prints true or false when the word is found, but how can i count these and return in a singe cell in csv?

import scrapy
from scrapy.spiders import CrawlSpider, Rule
from scrapy.linkextractors import LinkExtractor

class ExampleSpider(CrawlSpider):
    name = 'example'
    allo

[2019-08-08 08:05] Gallaecio commented on #3875
Does your HTTPS proxy require CONNECT headers? (see #3329)

[2019-08-08 08:10] Gallaecio commented on #2905
Let’s cover this in the FAQ or somewhere.

[2019-08-08 08:13] Gallaecio commented on #3944
Maybe we could have a separate tox environment for these analysis? (#3727 could also be run there)

[2019-08-08 08:15] Gallaecio commented on #3948
Please, use [StackOverflow](https://stackoverflow.com/tags/scrapy) to ask this type of questions. See [Getting Help](https://docs.scrapy.org/en/latest/#getting-help).

[2019-08-08 08:15] #3948 closed

[2019-08-08 10:35] elacuesta commented on #2905
Sounds good, I can draft a PR later today if you're not already on it @Gallaecio

[2019-08-08 10:49] Gallaecio commented on #2905
I’m not :slightly_smiling_face:

[2019-08-08 11:14] Gallaecio commented on #3094
Closing due to a lack of feedback from the author.

[2019-08-08 11:14] #3094 closed

[2019-08-08 11:17] Gallaecio commented on #3060
Closing due to a lack of feedback from the author.

[2019-08-08 11:17] #3060 closed

[2019-08-08 11:21] Gallaecio commented on #3331
Closing due to lack of feedback from the author.

[2019-08-08 11:23] Gallaecio commented on #1372
If we wish to use open source software for communications, we could consider Matrix, possibly with a bridge to the current IRC channel.

[2019-08-08 11:28] Gallaecio commented on #3297
I’m not sure if we should close this due to not having any means to reproduce the issue. The alternative seems to be to blindly ‘fix’ the `KeyError` without really understanding the underlying issue, which is probably not a good idea.

[2019-08-08 11:30] Gallaecio commented on #3285
Related to #891

[2019-08-08 11:32] #3353 closed

[2019-08-08 11:32] #3356 closed

[2019-08-08 11:33] Gallaecio commented on #3384
Closing due to a lack of feedback from the author.

[2019-08-08 11:33] #3384 closed

[2019-08-08 11:33] #3397 closed

[2019-08-08 11:40] Gallaecio commented on #3276
Should we close this, or discuss a behavior change for Scrapy 2.0?

[2019-08-08 11:44] Gallaecio commented on #3398
This is at least a documentation bug.

[2019-08-08 11:45] #3333 closed

[2019-08-08 11:47] #3419 closed

[2019-08-08 11:48] #3344 closed

[2019-08-08 13:08] kmike commented on #3276
I think that's a good candidate for Scrapy 2.0.

[2019-08-08 13:29] kmike commented on #3947
Makes sense; pull requests are welcome!

[2019-08-08 14:03] Gallaecio commented on #3929
@kmike at https://github.com/scrapy/scrapy/pull/3930#issuecomment-519518983

[2019-08-08 14:55] kennethkalmer commented on #3333
We're busy testing this hotfix to help us recover from hard server crashes (ie unclean shutdowns), and our initial tests are looking very positive.

We keep seeing the "FIX size from 0 to _n_" messages now, where before we simply lost our queue

[2019-08-08 15:26] noviluni commented on #3944
Hi @Gallaecio . Sounds good, I will try to update my PR when I have time.

[2019-08-08 16:02] noviluni commented on #3929
Looking over I have seen that this issue affects at least the following classes:

[code]

[2019-08-08 16:03] kmike commented on #3929
👍 Thanks for checking it @noviluni! I was thinking it is less things to fix..

[2019-08-08 16:06] kmike commented on #3929
Tbh, I'd leave everything as-is, probably including JSONRequest; it is not super consistent, but my feeling is that changing it doesn't worth the development efforts required to upgrade (change in settings, imports, etc.)

[2019-08-08 16:11] noviluni commented on #3929
I'm agree with you, there are too much classes to deprecate... If you other are agree feel free to close this issue,

[2019-08-08 16:24] kmike commented on #3929
We may still change JSONRequest though, to at least match other Request classes - that's what you propsed in #3930 .

[2019-08-09 01:46] financialfly opened #3949 "optimize the TextResponse's selector code"
I have noticed the TextResponse's selector code at scrapy/http/response/text.py:
[code]
why don't change to:
[code]
This can avoids import the Selector object multiple times

[2019-08-09 08:43] kmike commented on #3949
We can change it, but imports are more readable if they are the first, and performance overhead of such import is super-low, a few dictionary lookups (on repeated imports there is no need  to access disk, etc.). So I'd prefer to leave it as-is.

[2019-08-09 08:47] kmike commented on #3936
There is some inherent state in Scrapy, e.g. dupefilters. 100MB after 10hrs can be explained by this, if a crawl is large enough. It is  not a leak in  a sense that this  data is useful - Scrapy keeps track of seen URLs to avoid duplicates. Once crawl completes, it should release dupefilter memory.

[2019-08-09 08:48] kmike commented on #3936
You  can disable dupefilter using https://docs.scrapy.org/en/latest/topics/settings.html#dupefilter-class

[2019-08-09 08:56] nedark opened #3951 "Scrapy disable retry middleware"
I commented the line in settings.py but it continues being enabled.

[code]
At the start of the program it loads a lot of middlewares I didn't enable

[code]
Am I missing something? Is there a way to disable it?

[2019-08-09 12:05] anubhavp28 commented on #3951
`RetryMiddleware` is a built-in middleware. To disable a built-in middleware, you must define it in your project’s `DOWNLOADER_MIDDLEWARES` setting and assign None as its value. For example, if you want to disable the user-agent middleware:
[code]

[2019-08-09 12:26] Colafroth commented on #3936
@kmike  thank you , I definitely gonna try it out. But IDK if this is because of this: http://doc.scrapy.org/en/latest/topics/leaks.html#leaks-without-leaks. It bothers me because I also use some other python library like Celery for running tasks. It seems suffer same issue in long run...

[2019-08-09 15:49] elacuesta commented on #3832
@floggle `Parsel 1.5.2` was just released, could you update and see if it helps in your case?

[2019-08-09 18:42] noviluni commented on #3944
Hi @Gallaecio I've updated the PR (https://github.com/scrapy/scrapy/pull/3945) with a new tox environment and a its travis pipeline and seems that worked. Feel free to review it and give your feedback :)

[2019-08-09 18:54] noviluni commented on #3929
As all the classes in Scrapy starting with "JSON" (`JsonLinesItemExporter`, `JsonItemExporter` and `JsonWriterPipeline`) use that format, it could be a good idea.

If you all want to proceed I can re-open the original PR and adding the code to deprecate that class.

[2019-08-09 22:53] yadalik commented on #2518
I've seen this error when I had FEED_URI's CSV file already opened in another program (Excel).

[2019-08-10 04:23] #3949 closed

[2019-08-10 16:12] HassanQamar07 commented on #3947
working on it.

[2019-08-11 16:39] anubhavp28 commented on #3951
@nedark please consider closing this issue.

[2019-08-12 08:52] Gallaecio commented on #3508
Closing due to a lack of feedback from the author.

[2019-08-12 08:52] #3508 closed

[2019-08-12 08:55] Gallaecio commented on #754
Fixed by #3796. It is now possible to select a different robots.txt parser that does support wildcards in disallow rules, or even write your own parser or your own adapter for an existing parser.

[2019-08-12 08:55] #754 closed

[2019-08-12 09:03] Gallaecio commented on #3637
#3796 makes it possible to select a different robots.txt parser. Please, check if any of the parsers with built-in support (Reppy, Robotexclusionrulesparser) work for this use case. Otherwise, #3935 may do the trick.